/* stylelint-disable selector-id-pattern,selector-class-pattern -- because we have to target elements with FormAssembly defined selectors  */

.petition__form-wrapper {
  $black: map.get($mofo-colors, black);
  $white: map.get($mofo-colors, white);

  @mixin shared-style {
    border: 1px solid $black;
    background: $white;
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem;

    &::placeholder {
      color: $black;
      opacity: 1;
    }
  }

  // FormAssembly elements
  .wFormContainer {
    input[type="text"] {
      all: unset;
      box-sizing: border-box;
      @include shared-style;
    }

    select {
      @include shared-style;
      @include custom-select-dropdown;
    }

    label[for="tfa_28"],  // label for first name field
    label[for="tfa_28"] + br,
    label[for="tfa_30"],  // label for last name field
    label[for="tfa_30"] + br,
    label[for="tfa_31"],  // label for email field
    label[for="tfa_31"] + br,
    label[for="tfa_254"], // label for country field
    label[for="tfa_254"] + br,
    label[for="tfa_496"], // label for postal code field
    label[for="tfa_496"] + br,
    label#tfa_494-L, // label for email subscription checkbox field
    label#tfa_494-L + br {
      display: none;
    }

    label#tfa_495-L, // label for email subscription checkbox field
    #tfa_502 {
      // for privacy notice text
      @include mofo-text-style($body-text-styles, "small");
    }

    #tfa_494-D {
      // email subscription checkbox field container
      @include mofo-text-style($body-text-styles, "xsmall");

      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;

      .inputWrapper .oneChoice {
        display: flex;
        align-items: center;
        gap: rem-calc(9);
      }
    }

    input#tfa_495 {
      // email subscription checkbox field
      appearance: none;
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      position: relative;
      background-color: $white;
      border: 1px solid color(neutral, "600");
      cursor: pointer;

      &:checked {
        background-image: url("/static/foundation_cms/_images/icons/checkbox-stripe-black.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem-calc(12) auto;
      }
    }
  }
}
