.step-indicator {
  $black: map.get($mofo-colors, black);
  $white: map.get($mofo-colors, white);
  $blue: color(blue, "200");
  $stroke-size: 1px;
  $item-height: 2rem;
  $item-width: $item-height;
  $gap: 0.5rem;
  $petition-box-bg: $white;
  $default-step-bg: $petition-box-bg;
  $completed-step-bg: $blue;
  $current-step-bg: $blue;

  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 2rem;
  list-style: none;

  margin-top: 0;
  margin-bottom: rem-calc(24);

  @include breakpoint(large up) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: $item-height / 2;
    left: $item-width + $gap;
    right: $item-width + $gap;
    height: $stroke-size;
    background: $black;
  }

  &__label {
    width: $item-width;
    height: $item-height;
    border-radius: 50%;
    border: $stroke-size solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checked {
    display: none;
  }

  &__item {
    z-index: 1;
    background: $default-step-bg;

    &:not(:first-child) {
      padding-left: $gap;
    }

    &:not(:last-child) {
      padding-right: $gap;
    }

    &--completed {
      .step-indicator__label {
        background: $completed-step-bg;
        border-color: $current-step-bg;
      }

      .step-indicator__number {
        display: none;
      }

      .step-indicator__checked {
        display: inline-block;
      }
    }

    &--current {
      .step-indicator__label {
        background: $current-step-bg;
        border-color: $current-step-bg;
      }
    }
  }
}
