#audio-player {
  position: relative;
  width: 100%;
  background: $white;
  border: 2px solid $black;
  border-radius: 2em;
  justify-content: center;
  display: flex;
}

.audio-player-controls {
  width: 100%;
  .tw-btn.btn-audio-control {
    $icon-size: 30px;
    border: none;
    height: $icon-size;
    background: center left/$icon-size $icon-size no-repeat transparent;
    transition: none;

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    &.btn-pause {
      background-image: url("../_images/audio_pause_button.svg");
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    &.btn-play {
      background-image: url("../_images/audio_play_button.svg");
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .time-info-container {
    text-align: center;
    white-space: nowrap;
    .time {
      vertical-align: middle;
      font-size: 12px;
    }
  }

  .seek-slider-container {
    width: 100%;

    #seek-slider {
      -webkit-appearance: none;
      width: 100%;
      position: relative;
      vertical-align: middle;

      // Vendor Prefixes for uniform appearance across browsers.

      // Webkit (Chrome/Safari/Edge)
      &::before {
        position: absolute;
        content: "";
        left: 0;
        width: var(--seek-before-width);
        height: 3px;
        background-color: $black;
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: $gray-20;
      }

      &::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin: -7px 0 0 0;
        opacity: 0;
      }

      // FireFox
      &::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: $gray-20;
      }

      &::-moz-range-progress {
        background-color: $black;
      }

      &::-moz-range-thumb {
        position: relative;
        -moz-appearance: none;
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin: -7px 0 0 0;
        opacity: 0;
      }
    }
  }
}
