#view-about .main-content .h3-heading {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

#view-about .main-content h2.normal {
  margin-bottom: 0;
  font-weight: bold;
}

#view-about {
  .multipage-link.active.about-link {
    color: $black;
    border-bottom: 3px solid $black;
  }

  .multipage-link.active:hover {
    color: $black;
    border-bottom: 3px solid $black;
  }

  .short-content {
    min-height: 50vh;
  }

  .vertical-nav .multipage-link-wrapper {
    margin-bottom: 24px;
  }
}

.how-to-use,
.why-we-made,
.minimum-security-standards,
.about-minimum-security,
.about-privacy,
.about-permissions,
.worst-case-scenario {
  section {
    p:first-child {
      margin-bottom: 0;
    }
  }
}

.about-press-list {
  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}

/*
  This is a temporary "heading" style, allowing the about page to use
  proper heading markup while preserving the old <p><b>...</b></p> styling.

  A design issue is currently open for determining how best to change the
  current markup and style rules to reflect the styleguide.

  See https://github.com/MozillaFoundation/Design/issues/585
*/
.p-heading {
  @include heading("Nunito Sans", 700, 0, inherit, inherit);
  @include set-text-size(18px, 18px);
}
