#view-about .main-content .h3-heading {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

#view-about .main-content h2.normal {
  margin-bottom: 0;
  font-weight: bold;
}

#view-about {
  .short-content {
    min-height: 50vh;
  }
}

.how-to-use,
.why-we-made,
.minimum-security-standards,
.about-methodology,
.about-minimum-security,
.about-privacy,
.about-permissions,
.worst-case-scenario {
  section {
    p:first-child {
      margin-bottom: 0;
    }
  }
}

.about-press-list {
  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
