body.catalog {
  $hero-breakpoint: $bp-lg;
  $breakpoint: $bp-md;

  --sticky-height: 125px;
  --icon-size: 1.2em;

  .page-header {
    background: url(../_images/buyers-guide/evergreen-header-light.jpg) center
      center / cover no-repeat;

    .intro-text {
      padding-top: 12px;
      padding-bottom: 28px;

      @media (min-width: $hero-breakpoint) {
        padding-top: 90px;
        padding-bottom: 90px;
      }
    }

    .badge-container {
      margin-top: 12px;

      @media (min-width: $hero-breakpoint) {
        margin-top: 32px;
      }
    }

    .webby-award-badge {
      width: 76px;
      height: auto;

      @media (min-width: $hero-breakpoint) {
        width: 125px;
      }
    }
  }

  #product-filter-search {
    --search-icon-width: 1.5em;
    --initial-width: calc(100% - var(--search-icon-width) - 1px);
    --expanded-width: var(--initial-width);

    position: relative;
    display: block;
    padding: 1em;
    margin-top: 5px;
    border: 1px solid $black;
    transition: border-color 0.2s;

    &::placeholder {
      color: $gray-05
    }

    @media (min-width: $bp-sm) {
      --initial-width: 0em;
      --expanded-width: 700px;

      position: absolute;
      left: 0;
      border: 1px solid transparent;
      padding: 0.5em;

      &::placeholder {
        color: transparent;
      }
    }


    &:focus-within,
    &.has-content {
      border-color: $black;
    }

    .search-icon {
      display: inline-block;
      height: var(--icon-size);
      width: var(--icon-size);
      background: url(../_images/buyers-guide/search.svg);
      background-size: 100% 100%;
      vertical-align: middle;
      cursor: pointer;
    }

    input {
      border: none;
      width: var(--initial-width);
      transition: width 0.2s;
      outline: 0;

      &:valid,
      &:focus {
        width: var(--expanded-width);
      }

      & + .clear-icon {
        display: none;
        cursor: pointer;
        outline: 0;
        margin-top: 0.2em;
        height: 0.8em;
        width: 0.8em;
        background: url(../_images/buyers-guide/dismiss.svg);
        background-size: 100% 100%;
        vertical-align: middle;
      }

      &:valid + .clear-icon {
        display: inline-block;
      }
    }
  }

  #product-filter-pni {
    position: absolute;
    left: 0;
    padding: 0.5em;

    @media (min-width: $bp-sm) {
      left: unset;
      top: calc(var(--sticky-height) / 2 - 0.5em);
      right: 0;
      padding: 0;
    }

    input[type=checkbox] {
      display: inline-block;
      width: var(--icon-size);
      height: var(--icon-size);
      vertical-align: middle;
    }

    .pni-icon {
      display: inline-block;
      height: var(--icon-size);
      width: var(--icon-size);
      background: url(../_images/buyers-guide/icon-privacy-ding-mini.svg);
      background-size: 100% 100%;
      vertical-align: middle;
    }

    label {
      vertical-align: sub;
      cursor: pointer;
    }
  }

  .product-box-list-wrapper {
    @mixin product-box-size($box-margin: 1px, $items-per-row: 2) {
      $num-of-gutter: $items-per-row;
      $gutter-width: $box-margin * 2;
      $row-total-gutter-width: $gutter-width * $num-of-gutter;

      .product-box-list {
        margin-right: -$box-margin;
        margin-left: -$box-margin;
      }

      figure.product-box {
        $padding-x: 12px;
        $padding-y: 12px;
        $seal-of-approval-width: 30px;
        $seal-of-approval-height: 25px;
        $recommendation-width: 17px;
        $recommendation-height: 15.8px;

        display: inline-block;
        position: relative;
        margin-left: $box-margin;
        margin-right: $box-margin;
        margin-bottom: $box-margin * 2;
        padding: $padding-y $padding-x;
        width: calc((100% - #{$row-total-gutter-width}) / #{$items-per-row});
        background: $pni-product-list-background;

        &.d-flex.d-none {
          /* Bootstrap's .d-none's rule alone doesn't work when .d-flex is present on the same element */
          display: none !important;
        }

        .seal-of-approval {
          @include seal-of-approval(
            $padding-y,
            $padding-x,
            $seal-of-approval-width,
            $seal-of-approval-height
          );

          position: static;
        }

        .adult-content-badge {
          @include adult-content-badge($padding-y, $padding-x, 41px, 35px);
        }

        .top-left-badge-container {
          $badge-spacing: 0.5rem;

          position: absolute;
          top: $padding-y;
          left: $padding-x;
          width: calc(
            #{$seal-of-approval-width} + #{$recommendation-width} + #{$badge-spacing}
          );
          height: $seal-of-approval-height;
          display: flex;
          justify-content: space-between;
        }

        .recommendation {
          width: $recommendation-width;
          height: $recommendation-height;

          &.positive {
            background-image: url(../_images/buyers-guide/icon-thumb-up.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

          &.negative {
            background-image: url(../_images/buyers-guide/icon-thumb-down.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }

        .product-image {
          img {
            margin: 0 auto;

            @media (min-width: $breakpoint) {
              max-width: 78%;
            }
          }
        }

        .product-links {
          @include hover-focus-active {
            text-decoration: none;
          }

          @media screen and (max-width: $breakpoint) {
            .product-company {
              color: $gray-80;
              @include set-text-size(9px, 14px);
            }

            .product-name {
              color: $black;
              @include set-text-size(11px, 14px);
            }
          }
        }

        figcaption {
          color: $gray-40;
          position: relative;
          bottom: -($padding-y/2); // to offset the extra bottom spacing from line-height

          .body {
            font-weight: initial;
          }
        }
      }
    }

    overflow-x: hidden;

    @include product-box-size(1px, 2);

    @media (min-width: $bp-md) {
      @include product-box-size(1px, 3);
    }

    @media (min-width: $bp-lg) {
      @include product-box-size(1px, 4);
    }
  }

  .project-list-section {
    @media (min-width: $bp-xl) {
      // on extra large screen we want project-list-section's width to match
      // Bootstrap's .container's width
      width: calc(
        #{map-get($container-max-widths, xl)} - #{$grid-gutter-width}
      );
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .creepiness-slider {
    z-index: 3;
    position: sticky;
    position: -webkit-sticky;
    top: 16px;
    padding-top: 40px;
    padding-bottom: 9px;
    height: var(--sticky-height);

    @media (min-width: $breakpoint) {
      top: 20px;
    }

    .current-creepiness {
      $face-dimension-mobile: 46px;
      $face-dimension: 70px;
      $scale-down-ratio: $face-dimension-mobile/$face-dimension;

      display: inline-block;
      width: $face-dimension;
      height: $face-dimension;
      background-image: url(../_images/buyers-guide/faces/sprite-resized-64-colors.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      transform: scale($scale-down-ratio);

      @media (min-width: $breakpoint) {
        transform: scale(1);
      }

      .speech-bubble {
        display: inline-block;
        height: 2em;
        position: absolute;
        top: 1em;
        right: 110%;
        white-space: nowrap;

        $sb-height: 2.5em;

        .text {
          display: inline-block;
          height: $sb-height;
          background: $gray-05;
          border-radius: 1em 0 0 1em;
          line-height: 2em;
          padding: 0.25em 0 0.25em 1em;
          color: $gray-80;
        }

        .hook {
          display: inline-block;
          width: 2em;
          height: $sb-height;
          background-image: url(../_images/buyers-guide/icon-bubble.svg);
          background-size: auto $sb-height;
          background-position: -100px 0;
          background-repeat: no-repeat;
          vertical-align: top;
          margin-left: -5px;
        }
      }
    }
  }

  /*
    this is a special universal show/hide toggle for products without
    the privacy ding when "show pni only" is on:
  */
  &.show-ding-only figure.product-box:not(.privacy-ding) {
    display: none !important;
  }
}
