body {
  $hero-breakpoint: $bp-lg;
  $breakpoint: $bp-md;

  --sticky-height: 73px;
  --creep-o-height: 10px;
  --expanded-sticky-height: calc(11em + var(--creep-o-height));
  --small-sticky-height: calc(var(--expanded-sticky-height) - 6em);

  /* the minimal value for this buffer is 2em */
  --mobile-creep-buffer: 0em;
  --mobile-creep-offset: calc(var(--mobile-creep-buffer) - 2em);

  --search-icon-size-desktop: 24px;
  --search-icon-size-mobile: 22px;
  --search-box-height: 50px;
  --clear-icon-size: 14px;

  --search-element-buffer: 10%;

  --pni-checkbox-container-width: 17em;
  --pni-checkbox-size: 22px;
  --pni-icon-size: 1.2em;

  #product-filter-search,
  #pni-mobile-container {
    & .clear-icon {
      flex: 0 0 auto;
      display: none;
      cursor: pointer;
      outline: 0;
      padding: 0;
      margin: 0;
      margin-right: 4px;
      height: var(--clear-icon-size);
      width: var(--clear-icon-size);
      background: url(../_images/buyers-guide/filter/clear-icon-blue.svg);
      background-size: 100% 100%;
    }

    &.has-content .clear-icon {
      display: inline-block;
    }
  }

  #product-filter-pni {
    user-select: none;
    margin-left: 0.5rem;

    @media (min-width: $bp-md) {
      margin-left: auto;
      font-size: 100%;
    }

    input[type="checkbox"] {
      position: relative;
      display: none;

      & + .pni-checkbox-facade {
        display: inline-block;
        vertical-align: calc(0.4em - var(--pni-checkbox-size));
        width: var(--pni-checkbox-size);
        height: var(--pni-checkbox-size);
        margin-right: 0.5em;
        cursor: pointer;
        background: url(../_images/buyers-guide/filter/checkbox.svg);

        @media (min-width: $bp-sm) {
          vertical-align: calc(-5px - var(--pni-checkbox-size) / 2);
        }
      }

      &:checked + .pni-checkbox-facade {
        background: url(../_images/buyers-guide/filter/checkbox-selected.svg);
      }
    }

    .pni-icon {
      display: inline-block;
      height: var(--pni-icon-size);
      width: var(--pni-icon-size);
      background: url(../_images/buyers-guide/icon-privacy-ding-mini.svg);
      background-size: 100% 100%;
      vertical-align: middle;
    }

    label {
      vertical-align: sub;
      cursor: pointer;
    }
  }

  .product-box-list-wrapper {
    // Mixin for setting product box styling in product box list
    @mixin product-box-size($box-margin: 1px, $items-per-row: 2) {
      $num-of-gutter: $items-per-row;
      $gutter-width: $box-margin * 2;
      $row-total-gutter-width: $gutter-width * $num-of-gutter;

      .product-box-list {
        margin-right: -$box-margin;
        margin-left: -$box-margin;
      }

      figure.product-box {
        $padding-x: 12px;
        $padding-y: 12px;
        $privacy-ding-width: 30px;
        $privacy-ding-height: 25px;
        $recommendation-width: 17px;
        $recommendation-height: 15.8px;

        // Needed for animation state while JS loads
        opacity: 0;

        display: inline-block;
        position: relative;
        margin-left: $box-margin;
        margin-right: $box-margin;
        margin-bottom: $box-margin * 2;
        padding: $padding-y $padding-x;
        width: calc((100% - #{$row-total-gutter-width}) / #{$items-per-row});
        background: $pni-product-list-background;

        .privacy-ding {
          @include privacy-ding(
            $padding-y,
            $padding-x,
            $privacy-ding-width,
            $privacy-ding-height
          );

          position: static;
        }

        .adult-content-badge {
          @include adult-content-badge($padding-y, $padding-x, 41px, 35px);
        }

        .top-left-badge-container {
          $badge-spacing: 0.5rem;

          position: absolute;
          top: $padding-y;
          left: $padding-x;
          width: calc(
            #{$privacy-ding-width} + #{$recommendation-width} + #{$badge-spacing}
          );
          height: $privacy-ding-height;
          display: flex;
          justify-content: space-between;
        }

        .product-image {
          img {
            margin: 0 auto;

            @media (min-width: $breakpoint) {
              max-width: 78%;
            }
          }
        }

        .product-links {
          @include hover-focus-active {
            text-decoration: none;
          }

          @media screen and (max-width: $breakpoint) {
            .product-company {
              color: $gray-80;
              font-size: 12px;
              line-height: calc(16 / 12);
            }

            .product-name {
              color: $black;
              font-size: 12px;
              line-height: calc(16 / 12);
            }
          }
        }

        figcaption {
          color: $gray-40;
          position: relative;
          bottom: -($padding-y/2); // to offset the extra bottom spacing from line-height

          .tw-body {
            font-weight: initial;
          }
        }
      }
    }

    overflow-x: hidden;

    @include product-box-size(1px, 2);

    @media (min-width: $bp-md) {
      @include product-box-size(1px, 3);
    }

    @media (min-width: $bp-lg) {
      @include product-box-size(1px, 4);
    }
  }

  .project-list-section {
    @media (min-width: $bp-xl) {
      // on extra large screen we want project-list-section's width to match
      // Bootstrap's .container's width
      width: calc(
        #{map-get($container-max-widths, xl)} - #{$grid-gutter-width}
      );
      max-width: 100%;
      margin: 0 auto;
    }
  }

  #sticky-bar.creepiness-slider {
    z-index: 3;
    position: relative;
    top: 42px;
    margin: 2rem 0 1rem;
    top: initial;
    z-index: 10;

    height: calc(
      var(--sticky-height) + var(--creep-o-height) + var(--mobile-creep-buffer)
    );

    &.creep-o-meter-moved {
      height: 80px;
      margin-bottom: 0;
      margin-top: 1rem;

      @media (max-width: $bp-md) {
        height: 16px;
        padding-bottom: 0;
        #product-filter-pni {
          top: calc(var(--mobile-creep-offset));
        }
      }
    }

    @media (min-width: $breakpoint) {
      display: flex;
      height: var(--sticky-height);
      align-items: center;

      &.creep-o-meter-moved {
        height: var(--sticky-height);
      }
    }

    .creep-o-meter-information {
      position: absolute;
      white-space: nowrap;
      right: 0;
      opacity: 1;
      transition: opacity 0.2s ease;
      top: unset;
      right: calc(50% - 36px);
      left: unset;

      &.fade-out {
        opacity: 0;
      }

      @media (max-width: $bp-sm) {
        right: calc(50% - 144px);
      }
    }

    .speech-bubble-container {
      display: inline-block;
      margin: 0;
      margin-right: 16px;
      vertical-align: middle;
      white-space: nowrap;

      .speech-bubble {
        position: relative;
        display: inline-block;
        background: $pni-lilac;
        border-radius: 1em;
        padding: 0.5em 1em;
        color: $gray-80;

        .hook {
          position: absolute;
          right: -13px;
          top: 20%;
          width: 14px;
          height: 60%;
        }

        .text {
          display: inline-block;
          position: relative;
          font-size: 16px;
        }
      }
    }

    .current-creepiness {
      $face-dimension-mobile: 46px;
      $face-dimension: 70px;
      $scale-down-ratio: $face-dimension-mobile/$face-dimension;

      display: inline-block;
      width: $face-dimension;
      height: $face-dimension;

      @media (min-width: $bp-sm) {
        width: $face-dimension;
        height: $face-dimension;
      }

      background-image: url(../_images/buyers-guide/faces/sprite-resized-64-colors.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      vertical-align: middle;

      @media (min-width: $breakpoint) {
        top: unset;
      }
    }

    &.creep-o-meter-moved,
    &.search-active {
      .creep-o-meter-information {
        position: fixed;
        top: initial;
        left: initial;
        right: 2em;
        bottom: 2em;
      }
    }
  }

  @media (min-width: $bp-md) {
    #sticky-bar.creepiness-slider {
      position: sticky;
      position: -webkit-sticky;
      margin-bottom: 0em;
      transition: margin-bottom 0.2s;
    }
  }

  /*
    this is a special universal show/hide toggle for products without
    the privacy ding when "show pni only" is on:
  */
  &.show-ding-only figure.product-box:not(.privacy-ding) {
    // we have to use !important here because .product-box uses Bootstrap's .d-flex
    // and we need to override .d-flex's CSS rule "display: flex !important;"
    display: none !important;
  }

  /*
    Buyersguide "Oh-no" face when nothing was found in the search results
  */
  .oh-no-face {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  @media (min-width: $breakpoint) {
    .oh-no-face {
      width: 70px;
      height: 70px;
    }
  }
}
