.category-listing {
  background: #fff;
  padding-top: 2em;
  width: 100%;
  margin: 0 auto;
  max-width: 545px;

  @media screen and (min-width: $bp-md) {
    max-width: 800px;
  }

  .categories-container {
    display: flex;
    flex-wrap: wrap;

    .category-item-container {
      $padding-x: 12px;
      $padding-y: 12px;

      position: relative;
      width: 50%;
      text-align: left;

      &:nth-child(even) {
        padding-left: 3%;
      }

      &:nth-child(odd) {
        padding-right: 3%;
      }

      .seal-of-approval {
        @include seal-of-approval($padding-y, $padding-x, 25px, 21px, 40px, 33px);
      }

      .adult-content-badge {
        @include adult-content-badge($padding-y, $padding-x, 33px, 28px, 55px, 46px);
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .category-image-container {
        position: relative;
        overflow: hidden;
        background: #f4f4f4;
        margin-bottom: 12px;
        padding: $padding-x $padding-y;

        @media (min-width: $bp-xl) {
          padding: 20px;
        }
      }

      img.product-thumbnail {
        @media (min-width: $bp-md) {
          transform: scale(0.9);
        }
      }
    }
  }
}
