.category-listing {
  background: #fff;
  padding-top: 2em;

  .category-item-container {
    $padding-x: 24px;
    $padding-y: 12px;

    .seal-of-approval {
      @include seal-of-approval($padding-y, $padding-x, 25px, 21px, 40px, 33px);
    }

    .adult-content-badge {
      @include adult-content-badge($padding-y, $padding-x, 33px, 28px, 55px, 46px);
    }

    .category-image-container {
      background: #f4f4f4;
      margin-bottom: 12px;
      padding: 12px;

      @media (min-width: $bp-xl) {
        padding: 20px;
      }
    }

    img.product-thumbnail {
      @media (min-width: $bp-md) {
        transform: scale(0.9);
      }
    }
  }
}
