#pni-home {
  .page-header {
    @media (max-width: $bp-md) {
      height: 200px;
    }

    height: 304px;
    background-image: url(/_images/buyers-guide/home-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .product-listing {
    margin-top: -88px;

    .user-rated {
      font-family: "Zilla Slab";
      font-size: 18px;
      color: #9b9b9b;
      font-style: italic;

      @media screen and (min-width: 750px) {
        font-size: 20px;
      }

      .creep-face-emoji {
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 0.25em;
        margin: 0 0.2em;
        font-variant: normal;
        color: transparent;
        background-image: url(/_images/buyers-guide/faces/most-emoji.png);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  .product-box-list-wrapper {
    @mixin product-box-size($box-margin: 1px, $items-per-row: 2) {
      $num-of-gutter: $items-per-row;
      $gutter-width: $box-margin * 2;
      $row-total-gutter-width: $gutter-width * $num-of-gutter;

      .product-box-list {
        margin-right: -$box-margin;
        margin-left: -$box-margin;
      }

      figure.product-box {
        $padding-x: 12px;
        $padding-y: 12px;

        display: inline-block;
        position: relative;
        margin-left: $box-margin;
        margin-right: $box-margin;
        margin-bottom: $box-margin * 2;
        padding: $padding-y $padding-x;
        width: calc((100% - #{$row-total-gutter-width}) / #{$items-per-row});

        &.d-flex.d-none {
          /* Bootstrap's .d-none's rule alone doesn't work when .d-flex is present on the same element */
          display: none !important;
        }

        .seal-of-approval {
          position: absolute;
          top: $padding-y;
          left: $padding-x;
          width: 30px;
          height: auto;
        }

        .recommendation {
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;

          &.positive {
            background-image: url(/_images/buyers-guide/icon-thumb-up.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

          &.negative {
            background-image: url(/_images/buyers-guide/icon-thumb-down.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }

        .product-image {
          @include hover-focus-active {
            text-decoration: none;
          }

          img {
            margin: 0 auto;

            @media (min-width: $bp-md) {
              max-width: 78%;
            }
          }
        }

        figcaption {
          color: #909090;
          position: relative;
          bottom: -($padding-y/2); // to offset the extra bottom spacing from line-height

          .body {
            font-weight: initial;
          }
        }
      }
    }

    overflow-x: hidden;

    @include product-box-size(1px, 2);

    @media (min-width: $bp-md) {
      @include product-box-size(1px, 3);
    }

    @media (min-width: $bp-lg) {
      @include product-box-size(1px, 4);
    }
  }

  .project-list-section {
    @media (min-width: $bp-xl) {
      // on extra large screen we want project-list-section's width to match
      // Bootstrap's .container's width
      width: calc(#{map-get($container-max-widths, xl)} - #{map-get($grid-gutter-widths, xl)});
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .creepiness-slider {
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 16px;
    padding-top: 40px;
    padding-bottom: 9px;

    @media (min-width: $bp-md) {
      top: 20px;
    }

    .current-creepiness {
      $face-dimension-mobile: 46px;
      $face-dimension: 70px;
      $scale-down-ratio: $face-dimension-mobile/$face-dimension;

      display: inline-block;
      width: $face-dimension;
      height: $face-dimension;
      background-image: url(/_images/buyers-guide/faces/sprite-resized-64-colors.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      transform: scale($scale-down-ratio);

      @media (min-width: $bp-md) {
        transform: scale(1);
      }

      .speech-bubble {
        display: inline-block;
        height: 2em;
        position: absolute;
        top: 1em;
        right: 110%;
        white-space: nowrap;

        $sb-height: 2.5em;

        .text {
          display: inline-block;
          height: $sb-height;
          background: #f4f4f4;
          border-radius: 1em 0 0 1em;
          line-height: 2em;
          padding: 0.25em 0 0.25em 1em;
          color: #777;
        }

        .hook {
          display: inline-block;
          width: 2em;
          height: $sb-height;
          background-image: url(/_images/buyers-guide/icon-bubble.svg);
          background-size: auto $sb-height;
          background-position: -100px 0;
          background-repeat: no-repeat;
          vertical-align: top;
          margin-left: -5px;
        }
      }
    }
  }
}
