#pni-home {
  .page-header {
    @media (max-width: $bp-md) {
      height: 200px;
    }

    height: 304px;
    background-image: url(/_images/buyers-guide/home-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .product-listing {
    margin-top: -88px;
    padding-bottom: 88px;

    .user-rated {
      font-family: "Zilla Slab";
      font-size: 18px;
      color: #9b9b9b;
      font-style: italic;

      @media screen and (min-width: 750px) {
        font-size: 20px;
      }

      .creep-face-emoji {
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 0.25em;
        margin: 0 0.2em;
        font-variant: normal;
        color: transparent;
        background-image: url(/_images/buyers-guide/faces/most-emoji.png);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  .product-box {
    width: calc(50% - 2px);
    margin: 1px;
    overflow: hidden;

    @media screen and (min-width: 750px) {
      width: calc(33% - 2px);
    }
  }

  .creepiness-slider {
    z-index: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    padding-top: 40px;
    padding-bottom: 9px;

    .current-creepiness {
      display: inline-block;
      width: 70px;
      height: 70px;
      background-image: url(/_images/buyers-guide/faces/sprite-resized-64-colors.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;

      .speech-bubble {
        display: inline-block;
        height: 2em;
        position: absolute;
        top: 1em;
        right: 120%;
        white-space: nowrap;

        $sb-height: 2.5em;

        .text {
          display: inline-block;
          height: $sb-height;
          background: #f4f4f4;
          border-radius: 1em 0 0 1em;
          line-height: 2em;
          padding: 0.25em 0 0.25em 1em;
          color: #777;
        }

        .hook {
          display: inline-block;
          width: 2em;
          height: $sb-height;
          background-image: url(/_images/buyers-guide/icon-bubble.svg);
          background-size: auto $sb-height;
          background-position: -100px 0;
          background-repeat: no-repeat;
          vertical-align: top;
          margin-left: -5px;
        }
      }
    }
  }

  .recommendation {
    float: right;
    width: 1em;
    height: 1em;

    &.positive {
      background-image: url(/_images/buyers-guide/icon-thumb-up.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &.negative {
      background-image: url(/_images/buyers-guide/icon-thumb-down.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
