#pni-home {
  .page-header {
    @media (max-width: $bp-md) {
      height: 200px;
    }

    height: 304px;
    background-image: url(/_images/buyers-guide/home-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .product-listing {
    margin-top: -88px;
    padding-bottom: 88px;

    .user-rated {
      font-family: "Zilla Slab";
      font-size: 18px;
      color: #9b9b9b;
      font-style: italic;

      @media screen and (min-width: 750px) {
        font-size: 24px;
      }
    }
  }

  .product-box {
    width: calc(50% - 2px);
    margin: 1px;
    overflow: hidden;

    @media screen and (min-width: 750px) {
      width: calc(33% - 2px);
    }
  }

  .creepiness-slider {
    z-index: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    padding-top: 20px;

    .current-creepiness {
      display: inline-block;
      width: 70px;
      height: 70px;
      background-image: url(/_images/buyers-guide/faces/sprite-resized-64-colors.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .recommendation {
    float: right;
    width: 1em;
    height: 1em;

    &.go-for-it {
      background-image: url(/_images/buyers-guide/icon-thumb-up.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &.stay-away {
      background-image: url(/_images/buyers-guide/icon-thumb-down.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
