.fellowships-directory-filter {
  background: $gray-05;

  .filter-option {
    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: "|";
        display: inline-block;
        color: $gray-60;
      }
    }

    button {
      background: inherit;
      border: none;
      font-family: inherit;
      padding: 0.5rem;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}
