.fellowships-directory-filter {
  background: $gray-05;

  .filter-option {
    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: "|";
        display: inline-block;
        color: $gray-light;
      }
    }

    /* New page rules */
    button {
      background: inherit;
      border: none;
      cursor: pointer;
      font-family: inherit;
      padding: 0.5rem;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
      }
    }

    /* Old page rules */
    input[type="radio"] {
      display: none;

      &:checked {
        + label {
          font-weight: 700;
        }
      }

      + label {
        cursor: pointer;
        padding: 0.5rem;
        margin: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
