body.nothing-personal.nothing-personal-article-page .article-header {
  $header-highlight-background-color: color(yellow, "100");
  $header-highlight-gap: rem-calc(8);

  &__meta {
    z-index: 1;
    position: relative;
    margin-left: rem-calc(-6);
    margin-bottom: rem-calc(-54);
    height: fit-content;

    @include breakpoint(large up) {
      margin-bottom: -100%;
      margin-top: rem-calc(60);
    }
  }

  &__title {
    @include np-highlighted-title();
  }

  &__author-wrapper {
    display: block;
    margin-top: 0.25rem;
  }

  &__author {
    @include np-highlighted-author();
  }

  &__hero {
    margin-bottom: rem-calc(25);

    @include breakpoint(medium up) {
      margin-bottom: rem-calc(46);
    }

    @include breakpoint(large up) {
      margin-bottom: rem-calc(88);
    }
  }

  &__hero-figure {
    width: 100%;
    margin: 0;
    aspect-ratio: math.div(16, 9);
    overflow: hidden;
  }

  &__picture {
    display: contents;
  }

  &__hero-content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
