{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <a href="{{ prev_page.url }}" class="col-md-6 article-link article-link-left">
      <div class="article-link-container-left">
        <div class="text-right body-small mb-2">{% trans "Previous" %}</div>
        <div class="body-large text-right">{{ prev_page.title }}</div>
      </div>
    </a>
    <a href="{{ next_page.url }}" class="col-md-6 article-link article-link-right">
      <div class="article-link-container-right">
        <div class="text-left body-small mb-2">{% trans "Next" %}</div>
        <div class="body-large">{{ next_page.title }}</div>
      </div>
    </a>
  </div>
</div>
