{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <a href="{{ page.prev_page.url }}" class="col-md-6 article-link article-link-left">
      <div class="article-link-container-left">
        <div class="text-right tw-body-small mb-2">{% trans "Previous" %}</div>
        <div class="body-large text-right">{{ page.prev_page.title }}</div>
      </div>
    </a>
    <a href="{{ page.next_page.url }}" class="col-md-6 article-link article-link-right">
      <div class="article-link-container-right">
        <div class="text-left tw-body-small mb-2">{% trans "Next" %}</div>
        <div class="body-large">{{ page.next_page.title }}</div>
      </div>
    </a>
  </div>
</div>
