
<div id="breadcrumb-container tw-pr-8">
    <div class="tw-flex">
        {% for breadcrumb in breadcrumb_list %}
            {% with breadcrumb_classes="tw-h4-heading tw-px-2 tw-mb-0 tw-text-lg tw-overflow-hidden tw-whitespace-nowrap tw-text-ellipsis" %}
                <h4 class="{{ breadcrumb_classes }}"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></h4>
                <span class="{{ breadcrumb_classes }}"> / </span>
            {% endwith %}
        {% endfor %}
    </div>
</div>
