{% load i18n wagtailcore_tags %}

<div class="container mt-5 py-4">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <hr>
    </div>
    <div class="col-sm-8 offset-sm-2 mt-5">
      <h3 class="footnotes-title">{% trans 'Footnotes' %}</h3>
      {% for footnote in page.footnotes_list %}
        <div class="footnote-row d-flex" id="footnote-{{ forloop.counter }}">
          <a href="#footnote-source-{{ forloop.counter }}" class="footnote-number mr-3" aria-label="Back to content">
            [{{ forloop.counter }}]
          </a>
          <a href="#footnote-source-{{ forloop.counter }}" class="footnote-text" aria-label="Back to content">
            {{ footnote.text|richtext }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
