{% load i18n wagtailimages_tags homepage_tags%}

{% get_page_authors page as authors %}

<div
  class="publication-hero-container tw-relative tw-bg-gradient-to-b tw-from-gray-60 tw-to-gray-80 {% if size == "small" %} small tw-pt-[7rem] tw-pb-[9rem] {% else %} tw-pt-[9rem] tw-pb-[12rem] {% endif %}"
  >
  {% if page.hero_image %}
    <div class="tw-absolute tw-inset-0">
      <picture
        >
        {% comment %}
          small: "576px",
          medium: "768px",
          large: "992px",
          xlarge: "1200px",
          "2xl": "1400px",
        {% endcomment %}
        {% image page.hero_image width-576 as bg_img_576 %}
        {% image page.hero_image width-1152 as bg_img_576_2x %}
        {% image page.hero_image width-768 as bg_img_768 %}
        {% image page.hero_image width-1536 as bg_img_768_2x %}
        {% image page.hero_image width-992 as bg_img_992 %}
        {% image page.hero_image width-1984 as bg_img_992_2x %}
        {% image page.hero_image width-1200 as bg_img_1200 %}
        {% image page.hero_image width-2400 as bg_img_1200_2x %}
        {% image page.hero_image width-1400 as bg_img_1400 %}
        {% image page.hero_image width-2800 as bg_img_1400_2x %}
        {% image page.hero_image original as bg_img_original %}
        <source
          media="(max-width: 576px)"
          srcset="{{ bg_img_576.url }}, {{ bg_img_576_2x.url }} 2x">
        <source
          media="(max-width: 768px)"
          srcset="{{ bg_img_768.url }}, {{ bg_img_768_2x.url }} 2x">
          <source
            media="(max-width: 992px)"
            srcset="{{ bg_img_992.url }}, {{ bg_img_992_2x.url }} 2x">
          <source
            media="(max-width: 1200px)"
            srcset="{{ bg_img_1200.url }}, {{ bg_img_1200_2x.url }} 2x">
          <source
            media="(max-width: 1400px)"
            srcset="{{ bg_img_1400.url }}, {{ bg_img_1400_2x.url }} 2x">
          <source
            media="(min-width: 1401px)"
            srcset="{{ bg_img_original.url }}">
        <img
          class="tw-h-full tw-w-full tw-object-cover"
          src="{{ bg_img_1200.url }}"
          alt=""
          >
      </picture>
      <div class="tw-absolute tw-inset-0 tw-bg-black tw-opacity-[0.6]" aria-hidden="true"></div>
    </div>
  {% endif %}
  <div class="tw-relative container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 tw-dark">
        {% if is_publication_article or is_publication_page %}
          <div class="mb-2 tw-body-small publication-breadcrumb">
            {% for entry in self.breadcrumb_list %}
              {% with parent_page=entry.localized %}
                <a href="{{ parent_page.url }}" class="tw-body-small">{{ parent_page.title }}</a>
                <span class='tw-body-small'> › </span>
              {% endwith %}
            {% endfor %}
          </div>
        {% endif %}
        <h1 class="publication-hero-title">
          {{ page.title }}
        </h1>
        {% if page.subtitle %}
          <h2 class="mt-4 tw-body-large">
            {{ page.subtitle }}
          </h2>
        {% endif %}
        {% if page.secondary_subtitle or page.publication_date %}
          <div class="mt-2 mb-4 tw-body-small publication-secondary-subtitle">
            {% if page.secondary_subtitle %}
              {{ page.secondary_subtitle }}
            {% endif %}
            {% if page.secondary_subtitle and page.publication_date %}
              &mdash;
            {% endif %}
            {% if page.publication_date %}
              {{ page.publication_date }}
            {% endif %}
          </div>
        {% endif %}
        <div class="blog-authors d-flex flex-wrap align-items-center">
          {% include "fragments/profile_images_stack.html" with profiles=authors %}
        </div>
        {% if page.authors.count %}
          <div class="mt-2 tw-dark">
            <p>
              {% trans "Written by" %}
              {% with authors_length=page.authors.count %}
                {% for orderable in page.authors.all %}
                  <span>
                    {% if authors_length > 1 and forloop.last %}
                      {% trans "and" %}
                    {% endif %}
                    {{ orderable.author.name }}{% if not forloop.last and forloop.counter != authors_length|add:-1%},{% endif %}
                  </span>
                {% endfor %}
                {% if page.additional_author_copy %}
                  {{ page.additional_author_copy }}
                {% endif %}
              {% endwith %}
            </p>
          </div>
        {% endif %}
        {% if download_file %}
          <a class="mt-3 tw-btn-primary download-button" href="{{ download_file.url }}" download>
            {% trans "Download PDF" %}
          </a>
          {% if download_file.file_size %}
            <span class="d-inline-block ml-4 publication-hero-file-size position-relative">
              {{ download_file.file_size|filesizeformat }}
            </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
