{% extends "pages/libraries/detail_page.html" %}
{% load i18n breadcrumbs %}

{% block breadcrumbs %}
    {% rcc_breadcrumbs %}
{% endblock breadcrumbs %}

{% block detail_page_metadata %}
    {% if page.original_publication_date %}
        <div class="tw-px-2 first:tw-pl-0 tw-whitespace-nowrap ">{{ page.original_publication_date|date:"DATE_FORMAT" }}</div>
    {% endif %}
    {% if page.related_content_types_names %}
        <div class="tw-px-2 first:tw-pl-0 tw-truncate ">{{ page.related_content_types_names|join:" / " }}</div>
    {% endif %}
{% endblock detail_page_metadata %}

{% block collaborators_label %}
    {% trans "Contributors" %}
{% endblock collaborators_label %}
