.full-width {
  .annotated-image {
    img {
      position: static;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center center;
      max-height: 730px;
    }
  }

  // Padding for full-width-image's captions
  figcaption {
    @extend .pl-3;
  }
}
