.swiper-button-next,
.swiper-button-prev {
  border: 2px solid $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s;

  &.swiper-button-disabled {
    border-color: $gray-20;
  }

  &:after {
    content: "";
  }

  &:hover {
    opacity: 0.75;
  }

  &__icon {
    color: $blue;
    width: 20px;
    height: 20px;

    .swiper-button-disabled & {
      color: $gray-20;
    }
  }
}

.swiper-button-prev {
  margin-right: 20px;
}
