.swiper-button-next,
.swiper-button-prev {
  border: 2px solid $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s;

  &.swiper-button-disabled {
    border-color: $gray-20;
  }

  &:after {
    content: "";
  }

  &:hover {
    opacity: 0.75;
  }

  &__icon {
    color: $blue;
    width: 20px;
    height: 20px;

    .swiper-button-disabled & {
      color: $gray-20;
    }
  }
}

.swiper-button-prev {
  margin-right: 20px;
}


@keyframes slide-progress {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

#view-mozfest-home {
  .swiper-hero-pagination {
    .swiper-pagination-bullet {
      @apply tw-block tw-w-full tw-rounded-full tw-overflow-hidden tw-relative tw-bg-white;
      height: 4px;

      &::before {
        background: rgba(255, 255, 255, 1);
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .swiper-pagination-bullet-active {
      background: rgba(255, 255, 255, 0.2);

      &::before {
        animation: slide-progress 10s ease-in-out forwards;
      }
    }
  }

  .swiper-mobile-progress-bar {
    @apply tw-rounded-full tw-relative tw-overflow-hidden tw-w-full;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);

    &::before {
      background: rgba(255, 255, 255, 1);
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .swiper-slide-active {
    .swiper-mobile-progress-bar {
      &::before {
        animation: slide-progress 10s ease-in-out forwards;
      }
    }
  }
}

