.cms {
  .person-card .meta-block-location {
    &::before {
      width: 12px;
      height: 12px;
      display: block;
      content: "";
      margin-right: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../_images/glyphs/map-marker-icon.svg");
    }
  }
}
