#people {
  .headshot {
    width: 100%;
  }

  .person-card {
    border-top: 0.25rem solid black;
  }

  .person-card-featured {
    .more-details {
      background-color: $mobile-blue;
      color: white;
      font-size: 12px;

      &:hover {
        background-color: #0081ad;
      }
    }
  }

  .person-issues {
    line-height: 1;
  }

  .person-role-location {
    font-weight: 600;
    color: black;
  }

  .issue-link {
    font-style: italic;
  }

  .issue-link:not(:last-child)::after {
    content: ', ';
  }

  .flippable-card {
    transition: transform 1s ease, height 1s ease;
    transform-style: preserve-3d;
    position: relative;

    .bio-content {
      transform: rotateY(0deg);
    }

    .quote-content {
      transform: rotateY(180deg);
    }

    .bio-content,
    .quote-content {
      backface-visibility: hidden;
      width: 100%;
      position: absolute;
    }
  }

  .flip-true {
    transform: rotateY(180deg);
  }

  .flip-false {
    transform: rotateY(0deg);
  }

  .person-quote {
    &::before {
      content: '\201C';
      font-size: 15em;
      color: $off-white;
      z-index: -1;
      position: absolute;
      font-weight: bold;
      font-style: initial;
      top: -0.3em;
    }
  }

  .person-bio {
    margin-top: 1em;

    ul {
      list-style-type: disc;
      list-style-position: outside;
      padding: 0 30px;
    }
  }

  .partnership_logo {
    max-width: 8rem;
    max-height: 3rem;
    filter: grayscale(100%) opacity(50%);
  }
}
