$category-nav-border-bottom-thickness: 4px;

.category-nav {
  background: $white;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid $gray-20;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;

  a {
    display: inline-block;
    height: 42px;
    font-size: 15px;
    color: $gray-60;
    font-weight: 700;
    margin-right: 20px;
    padding: 10px 0 6px;
    text-decoration: none;
    border-bottom: $category-nav-border-bottom-thickness solid $white;

    &:hover {
      color: $black;
    }

    &.active {
      border-color: $black;
    }

    &.featured[data-name="Valentine's Day"] {
      @include category-nav-link-with-icon(
        "../_images/buyers-guide/icon-heart.svg"
      );
    }

    &.featured[data-name="Video Call Apps"] {
      @include category-nav-link-with-icon(
        "../_images/buyers-guide/icon-video-app.svg"
      );
    }
  }
}
