$category-nav-border-bottom-thickness: 4px;

@mixin set-category-border-bottom-style() {
  border-bottom: 1px solid $gray-20;
}

.pni-category-nav,
#multipage-nav-mobile {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: calc(#{$zindex-sticky} - 1);
}

.pni-category-nav {
  background: $white;
  overflow-x: auto;
  white-space: nowrap;

  @include set-category-border-bottom-style();

  a {
    display: inline-block;
    height: 42px;
    font-size: 15px;
    color: $gray-60;
    font-weight: 700;
    margin-right: 20px;
    padding: 10px 0 6px;
    text-decoration: none;
    border-bottom: $category-nav-border-bottom-thickness solid $white;

    &:hover,
    &.active {
      color: $black;
    }

    &.active {
      border-color: $black;
    }

    &.featured[data-name="Valentine's Day"] {
      @include category-nav-link-with-icon(
        "../_images/buyers-guide/icon-heart.svg"
      );
    }

    &.featured[data-name="Video Call Apps"] {
      @include category-nav-link-with-icon(
        "../_images/buyers-guide/icon-video-app.svg"
      );
    }
  }
}

#multipage-nav-mobile {
  @include set-category-border-bottom-style();

  background: $white;

  .col-12 {
    border: none;
  }
}
