.moz-logo {
  background-image: url("../_images/mozilla-m.svg");
  flex-shrink: 0;
  width: 28px;
  height: 28px;

  @include media-breakpoint-up(md) {
    width: 97px;
    background-image: url("../_images/mozilla-on-black.svg");
  }
}

.sticky-nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

.category-nav {
  overflow-x: auto;
  white-space: nowrap;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  a {
    display: inline-block;
    font-family: "Nunito Sans";
    font-size: 15px;
    color: #909090;
    font-weight: 700;
    margin-right: 20px;
    padding: 10px 0 6px;
    text-decoration: none;
    border-bottom: 4px solid white;

    &:hover {
      color: $black;
    }

    &.active {
      border-color: black;
    }
  }
}

#pni-home .nav-home,
#pni-about .nav-about {
  border-bottom: 4px solid $black;
  color: $black;
}

.social-button {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-fb {
  background-image: url("/_images/glyphs/fb.svg");
}

.social-button-twitter {
  background-image: url("/_images/glyphs/twitter.svg");
}

.social-button-email {
  background-image: url("/_images/glyphs/email.svg");
}

.social-button-link {
  background-image: url("/_images/glyphs/link.svg");
}

.btn-donate {
  background: #ff4f5e;
  border-radius: 14px;
  color: white;
  padding: 4px 12px;
  font-size: 14px;

  @include hover-focus-active {
    background: #f00;
    color: white;
  }
}
