**/*.db.archive

/docker-compose*.yml
Dockerfile
.dockerignore

.git
.gitignore
**/*.md
docs/
**/__pycache__
*.pyc
.DS_Store
*.swp
/venv/
/tmp/
/npm-debug.log
foundation_cms/static/compiled
foundation_cms/legacy_apps/static/compiled
/media/
/staticfiles/
**/node_modules/
**/dist
.coverage
.coverage.*
.cache
tasks.py

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
