language: python
services:
- postgresql: 9.6
python:
- '3.6'
before_install:
- nvm install 6.11.2
- nvm use 6.11.2
install:
- pip install -r requirements.txt
- npm install
- python network-api/manage.py collectstatic --no-input
before_script:
- psql -c 'create database network;' -U postgres
script:
- npm test
- flake8 network-api/
- coverage run --source './network-api/networkapi' network-api/manage.py test networkapi
after_success:
- coveralls
env:
  global:
  - DEBUG=True
  - DJANGO_SECRET_KEY=secret
  - DATABASE_URL=postgres://postgres@localhost:5432/network
  - USE_S3=False
  - CORS_WHITELIST="*"
  - XSS_PROTECTION=True
  - CONTENT_TYPE_NO_SNIFF=True
  - SET_HSTS=False
  - SSL_REDIRECT=False
  - X_FRAME_OPTIONS=DENY
  - ALLOWED_HOSTS=localhost
  - PULSE_API_DOMAIN=network-pulse-api-production.herokuapp.com
  - PULSE_DOMAIN=www.mozillapulse.org
  - NETWORK_SITE_URL=https://foundation.mozilla.org
  - TARGET_DOMAIN=foundation.mozilla.org
  - SHOW_TAKEOVER=false
  - FELLOWSHIPS_PROGRAM_INFO_TYPES=science,open web,tech policy,media
  - FELLOWSHIPS_DIRECTORY_TYPES=science,open web,tech policy,media,in residence
