version: '3'

services:

  watch-static-files:
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.node
    env_file:
      - .env
    environment:
      # Need to specify the SHELL env var for chokidar
      - SHELL=/bin/sh
      # Force polling because inotify doesn't work on Docker Windows
      - CHOKIDAR_USEPOLLING=1
    command: npm run watch
    volumes:
      - .:/app:delegated

  postgres:
    image: postgres:10.12
    ports:
      - "5678:5432"
    environment:
      - POSTGRES_DB=wagtail
      - POSTGRES_USER=foundation
      - POSTGRES_PASSWORD=mozilla
    volumes:
      - postgres_data:/var/lib/postgresql/data/:delegated

  backend:
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.python
    env_file:
      - ".env"
    command: dockerpythonvenv/bin/python network-api/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app:delegated
    depends_on:
      - postgres
      - watch-static-files

volumes:
  postgres_data:
