[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
Django = "==1.11.14"
dj-database-url = "*"
djangorestframework = "*"
django-admin-sortable = "*"
django-cors-headers = "*"
django_csp = "*"
django-environ = "*"
django-filter = "*"
django-storages = "*"
factory_boy = "*"
Faker = "*"
future = "*"
gunicorn = "*"
Pillow = "*"
"psycopg2" = "==2.7.3.2"
python-slugify = "*"
social-auth-app-django = "*"
wagtail = "*"
wagtail-factories = {ref = "1ead51cadaad3b4530ba2197ccf45d2dca87dbdf", git = "https://github.com/mvantellingen/wagtail-factories"}
wagtail-inventory = "*"
wagtail-metadata = "*"
whitenoise = "==4.0b4"

[dev-packages]
django-debug-toolbar = "*"
"flake8" = "*"
python-coveralls = "*"

[requires]
python_version = "3.6"
