[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
Django = "==1.11.16"
dj-database-url = "*"
djangorestframework = "*"
django-admin-sortable = "*"
django-cors-headers = "*"
django_csp = "*"
django-environ = "*"
django-filter = "*"
django-redis = "*"
django-storages = "*"
factory_boy = "*"
Faker = "*"
filebrowser-safe = "*"
future = "*"
gunicorn = "*"
Pillow = "*"
python-slugify = "*"
requests = "*"
social-auth-app-django = "*"
wagtail = "==2.1.3"
wagtail-factories = {ref = "1ead51cadaad3b4530ba2197ccf45d2dca87dbdf", git = "https://github.com/mvantellingen/wagtail-factories"}
wagtail-inventory = "*"
wagtail-metadata = "*"
whitenoise = "*"
wagtail-modeltranslation = "*"
"psycopg2-binary" = "*"
cloudinary = "*"

[dev-packages]
"flake8" = "*"
python-coveralls = "*"

[requires]
python_version = "3.6"
