basket-client
beautifulsoup4
boto3
cached_property==1.5.2
Django==3.2.12
dj-database-url
djangorestframework
django-admin-sortable==2.2.3
django-cors-headers
django_csp
django-environ
django-filter
django-redis
django-storages
factory_boy
Faker
filebrowser-safe
future
gunicorn
heroku3
pygit2==1.7.1
python-slugify
requests
social-auth-app-django
wagtail-airtable
wagtail==2.16.1
wagtail-factories
wagtail-localize==1.1rc1
wagtail-localize-git==0.12.0
wagtail-inventory
wagtailmedia
wagtail-metadata
whitenoise
psycopg2-binary
cloudinary
sentry-sdk
git+https://github.com/MozillaFoundation/wagtail-footnotes.git@localized-footnotes
scout-apm
