basket-client
beautifulsoup4
boto3
cached_property==2.0.1
Django==5.2.13
dj-database-url
djangorestframework
django-cors-headers
django-countries
django_csp
django-environ
django-filter
django-htmx
django-pattern-library
django-redis
django-storages
django-querystring-tag
python-jose>=3.3.0
factory_boy
Faker
future
gunicorn
heroku3
pygit2==1.14.0
python-slugify
requests
social-auth-app-django
wagtail==7.2.3
wagtail-ab-testing
wagtail-color-panel
wagtail-factories
wagtail-footnotes
wagtail-localize==1.13
wagtail-localize-git @ git+https://github.com/robdivincenzo/wagtail-localize-git.git@d524cdc2e9501696e70cd5a089026bdbfc8e731c
wagtail-inventory
wagtailmedia
wagtail-metadata
Wand
whitenoise
psycopg2-binary
sentry-sdk
scout-apm
