.social-buttons {
  .social-link {
    border: 1px solid black;
    border-bottom-width: $btn-shadow-width;
    color: black;
    text-transform: initial;
    transition: all 0.1s linear;
    border-radius: 2em;
    white-space: nowrap;
    padding: 0.5em 1em;
    width: 9em;

    @include hover-focus-active {
      text-decoration: none;
    }

    @media screen and (max-width: $bp-lg) {
      width: 8em;
    }

    @media screen and (max-width: $bp-md) {
      width: 45%;
      margin: 3% 0;
    }

    @media screen and (max-width: $bp-xs) {
      width: 8em;
    }

    span.social-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      top: 4px;
    }
  }
}
