.pni-share-buttons {
  max-width: 568px;
  margin: 0 auto;

  .pni-s-link {
    $margin-x: 0.5rem;

    border: 1px solid black;
    border-bottom-width: $btn-shadow-width;
    color: black;
    transition: all 0.1s linear;
    border-radius: 2em;
    white-space: nowrap;
    margin-bottom: 1rem;
    padding: 0.5em 0;
    font-weight: 600;

    @media screen and (max-width: $bp-md) {
      flex-wrap: wrap;
      width: calc(50% - #{$margin-x});

      &:nth-child(2n+1) {
        margin-right: $margin-x * 2;
      }
    }

    @media screen and (min-width: $bp-md) {
      margin-right: $margin-x * 2;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }
    }

    @include hover-focus-active {
      text-decoration: none;
    }

    span.social-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      top: 4px;
    }
  }
}
