{% load wagtailcore_tags wagtailimages_tags %}

{% image card.image fill-720x405 as img %}
<div class="tw-m-0 tw-p-0">
    <div class="tw-flex tw-flex-col tw-gap-6 tw-w-full">
        {% if card.link_page or card.link_url %}
            <a href="{% if card.link_page %}{% pageurl card.link_page %}{% elif card.link_url %}{{ card.link_url }}{% endif %}" aria-label="{{ card.title }}">
        {% endif %}
            <img width="720" height="405" src="{{ img.url }}" alt="{{ card.alt_text }}"/>
        {% if card.link_page or card.link_url %}
            </a>
        {% endif %}

        {% if card.highlighted_metadata or card.metadata %}
            <div class="tw-flex tw-flex-wrap">
                {% if card.highlighted_metadata %}
                    <span class="tw-h6-heading tw-text-blue-80 tw-mr-4 tw-py-2 tw-mb-0">{{ card.highlighted_metadata }}</span>
                {% endif %}

                {% if card.metadata %}
                    <span class="tw-h6-heading tw-text-gray-40 tw-py-2 tw-mb-0">{{ card.metadata }}</span>
                {% endif %}
            </div>
        {% endif %}

        {% if card.link_page or card.link_url %}
            <a href="{% if card.link_page %}{% pageurl card.link_page %}{% elif card.link_url %}{{ card.link_url }}{% endif %}" aria-label="{{ card.title }}" class="tw-group tw-block hover:tw-no-underline">
        {% endif %}

        <p class="tw-h4-heading d-inline-block mt-1 mb-2 group-hover:tw-underline">{{ card.title }}</p>

        {% if card.body %}
            <div class="tw-body tw-line-clamp-3">{{ card.body }}</div>
        {% endif %}

        {% if card.link_page or card.link_url %}
            </a>
        {% endif %}
    </div>
</div>
