{% load static %}
<a class="tw-block tw-group tw-no-underline tw-p-5 tw-border tw-border-gray-60/20 tw-text-[22px]"
   href="{{ url }}">

  <div class="h3-heading tw-inline-block tw-text-black tw-mb-4 group-hover:tw-underline tw-font-zilla tw-transition">{{ title }}</div>

  {#  {% image image fill-290x125 as img %}#}
  <div class="tw-grid tw-grid-cols-1 medium:tw-grid-cols-3 tw-gap-4">
    <div class="medium:tw-order-2 tw-flex-shrink-0">
      <div class="tw-relative w-full medium:w-[250px] tw-h-[140px]">
        <svg class="tw-absolute tw-top-1/2 tw--translate-y-1/2 tw-left-1/2 tw--translate-x-1/2 tw-transform tw-w-5 tw-h-5 tw-z-10 group-hover:tw-opacity-0 tw-transition tw-duration-500 tw-ease-in-out tw-delay-100" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.27002 3.10679c0-1.52361 1.63558-2.487689 2.96859-1.74981L16.5033 8.14602c1.3752.76123 1.3752 2.73838 0 3.49958L4.23861 18.4347c-1.33301.7378-2.96859-.2262-2.96859-1.7498V3.10679Z"
                fill="#9F9F9F" stroke="#fff" stroke-width="2"/>
        </svg>
        {# Animated video thumbnail #}
{#        {% if animated_thumbnail %}#}
          {# TODO: Put animated_thumbnail src here #}
          <img class="tw-w-full tw-object-cover tw-absolute tw-left-1/2 tw-top-1/2 tw-h-full tw--translate-y-1/2 tw--translate-x-1/2" src="{% static "_images/moving-thumbnail.webp" %}" alt="">
{#        {% endif %}#}
        {# Video Thumbnail #}
        <img class="tw-w-full t tw-object-cover tw-absolute tw-left-1/2 tw-top-1/2 tw-h-full tw--translate-y-1/2 tw--translate-x-1/2 group-hover:tw-opacity-0 tw-transition tw-duration-500 tw-ease-in-out tw-delay-100" src="{% static "_images/thumbnail.webp" %}" alt="">
      </div>
    </div>
    <p class="medium:tw-col-span-2 tw-text-lg">{{ text }}</p>
  </div>

</a>

