{% load static wagtailcore_tags %}
<a class="tw-block tw-group tw-no-underline tw-p-6 tw-border tw-border-gray-60/20 tw-text-[22px] tw-h-full" href="{{ url }}">
    <div class="tw-relative w-full medium:w-[250px] tw-h-[290px] tw-overflow-hidden tw-mb-8">
        {% if animated_thumbnail %}
            <img class="tw-absolute tw-top-1/2 tw--translate-y-1/2 tw-left-1/2 tw--translate-x-1/2 tw-transform tw-w-12 tw-h-12 tw-z-10 group-hover:tw-opacity-0 tw-transition tw-duration-500 tw-ease-in-out tw-delay-100"
                    src="{% static '_images/mozfest/play-triangle.svg' %}" alt="">
            <video class="tw-absolute tw-object-cover tw-left-1/2 tw-top-1/2 tw-h-full tw--translate-y-1/2 tw--translate-x-1/2" src="{{ animated_thumbnail }}" autoplay loop muted width="500" height="200"></video>
        {% endif %}
        <img class="tw-w-full tw-object-cover tw-absolute tw-left-1/2 tw-top-1/2 tw-h-full tw--translate-y-1/2 tw--translate-x-1/2 {% if animated_thumbnail %}group-hover:tw-opacity-0 {% endif %} tw-transition tw-duration-500 tw-ease-in-out tw-delay-100"
                src="{{ image }}" alt="">
    </div>
    <div class=" tw-text-black">
        <div class="tw-h3-heading tw-inline-block group-hover:tw-underline tw-font-zilla tw-transition tw-mb-6">{{ title }}</div>
        {% if author_subheading %}
            <div class="tw-body-small tw-mb-4">{{ author_subheading }}</div>
        {% endif %}
    </div>
    <div class="tw-text-lg tw-line-clamp-3 [&_p]:tw-text-base">
        {{ text|richtext }}
    </div>
</a>
