{% extends "./bg_base.html" %}

{% block body-id %}about{% endblock %}

{% block guts %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 mt-5">

      <h1 class="h3-heading">
        Why We Made This Guide
      </h1>

    <h2 class="h4-heading">
      Privacy. Security. Safety.
    </h2>
    <p>
      When we started tackling these issues earlier this year, the realization hit: we’re fighting for better online privacy and security all wrong. We’ve been spending our time telling people to install VPNs and use TOR and be worried about the future of IoT. Then we did a survey and found most people don’t know what these things are.
    </p>
    <h2 class="h4-heading">
      Step back. Try again.
    </h2>
    <p class="normal">
      New hypothesis: A better way to help people be safe online is for us all to demand the makers of our connected products build security, privacy, and safety up front. Consider car safety: cars didn’t become safer because drivers were expected to install their own seat belts. Cars became safer because manufacturers installed seat belts and policies required passengers wear them.
    </p>
    <p>
      Which brings us to why we made this buyer’s guide for connected products. People will be buying the latest connected toys and devices this year. What better time to ask them to stop and consider some of the pros and cons of these devices?
    </p>

    <p>You’ll see in our product reviews we asked the questions:
    <ul class="list-unstyled">
    <li>
      Can it spy on me?
    </li>

    <li>
      What does it know about me?
    </li>

    <li>
      What could happen if something goes wrong?
    </li>
    </ul>
    </p>

    <p>
      We worked with Janice Y. Tsai, a privacy researcher here at Mozilla to answer those questions for each product. She’s a skilled scientific researcher, trained in privacy research. Basically, she’s one of the few people on the planet who can read a product’s privacy policy and actually understand what it means.
    </p>
    <p>
      There was another question we wanted to ask, “Can I control it?” We looked into this question and discovered these were things we, for the most part, couldn’t answer unless we purchased the product. And even then, finding the answers to some of those questions would involve some pretty high-level technical skills (think sniffing data on a network, not something the average user can do).
    </p>

    <p>
      Stop and think about that. To understand if a connected device you purchase is safe — can it spy on you, what does it know about you, can you control it — requires top privacy research skills as well as some high-level technical skills.
    </p>

    <h2 class="h4-heading">As the saying goes, that ain’t right.</h2>

    <p>
      It’s a big task, helping consumers understand the risks of what they buy because of the growing dangers of online privacy and security. Much bigger than Mozilla alone can tackle. While we have technical skills and expertise around privacy here at Mozilla, there are other areas we don’t have expertise. Which is why we reached out to work closely with some trusted partners.
    </p>

    <p>
      Consumer Reports sets the standard for trusted consumer review and protection. We worked with them to use their open-source Digital Standard to help guide us on our product reviews.
    </p>
    <p>
      Univision and Gizmodo are media outlets with trusted journalists who know how to dig deep into a story and have the ability to ask tough questions. We joined with them in a paid partnership to help their expert journalists tell stories to consumers about these issues.
    </p>
    <p>
      And we reached out to influencers, people with a reach to the people who are interested in connected devices, like parents who might have questions about how safe connected toys are for their kids. We worked with these influencers through a paid partnership to help reach this audience and raise awareness.
    </p>
    <p>
      Because right now, raising awareness is important. Soon, demanding change will be even more important. Stay tuned for that.
    </p>
    <p>
    Thank you,<br/>
    The Team at Mozilla
    </p>


    <p>PS. We live in a world troubled by fake news and misinformation. A note that while Mozilla helped define general areas for these journalists and influencers to dig into, we were careful not to exert any editorial control over their work. The opinions they express and positions they take are wholly their own — and that’s how we want it.
    </p>
    </div>
  </div>
</div>

{% endblock %}
