{% extends "pages/base.html" %}

{% load bg_nav_tags localization i18n static %}

{% get_current_language as lang_code %}

{% block page_title %}{% if pageTitle %}{{ pageTitle }}{% else %}Mozilla - {% blocktrans context "This can be localized. This is a reference to the “*batteries not included” mention on toys." %}*privacy not included{% endblocktrans %}{% endif %}{% endblock %}


{# TODO: consider using a different ga_identifier? #}


{% block social_metadata %}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="{{ lang_code|to_opengraph_locale }}">
  <meta property="og:title" content="{% trans "*Privacy Not Included: A Buyer’s Guide for Connected Products" context "*Privacy Not Included can be localized. This is a reference to the “*batteries not included” mention on toys." %}">
  <meta property="wagtail:language" content="{{ lang_code }}">
{% endblock %}


{% block wagtail_metadata %}
  <meta property="og:description" content="{% trans "Smart home gadgets, fitness trackers, toys and more, rated for their privacy & security" %}">
  <meta property="og:image" content="{% static "_images/buyers-guide/evergreen-social.jpg" %}">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.path}}">
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="{% static "_css/buyers-guide.compiled.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,300,700,300i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700,300i">
{% endblock %}


{% block icons %}
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static "_images/favicons/apple-touch-icon-180x180@2x.png" %}">
  <link rel="icon" type="image/png" sizes="196x196" href="{% static "_images/favicons/favicon-196x196@2x.png" %}">
  <link rel="shortcut icon" href="{% static "_images/favicons/favicon.ico" %}">
{% endblock %}


{% block additional_head_elements %}
  <meta name="monetization" content="$pay.stronghold.co/1a1938a9a3ec0ea4c539d779be2b7e1c9ee">
  <!-- TODO: determine if we still need this -->
  <script>
    var modernBrowser = (
      'fetch' in window &&
      'assign' in Object
    );

    if ( !modernBrowser ) {
      var scriptElement = document.createElement('script');
      scriptElement.async = false;
      scriptElement.src = '{% static "_js/polyfills.compiled.js" %}';
      document.head.appendChild(scriptElement);
    }
  </script>
{% endblock %}


{% block bodyclass %}pni{% endblock %}


{% block script_bundle %}
  <script src="{% static "_js/bg-main.compiled.js" %}" async defer></script>
{% endblock %}


{% block body_wrapped %}

  {% include "./primary_nav.html" %}

  <div class="underneath-screen-overlay">
    <div class="category-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            {% url 'buyersguide-home' as home_url %}
            <a class="{% bg_active_nav request.get_full_path home_url %}" href="{{ home_url }}">{% trans "Home" %}</a>
            {% category_nav request.get_full_path category categories %}
            {% url 'why-view' as why_url %}
            <a class="{% bg_active_nav request.get_full_path why_url %}" href="{{ why_url }}">{% trans "About the Guide" %}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content {% block main_content_class %}pb-5{% endblock %}">
      {% block guts %}{% endblock %}
    </div>

    {% include "partials/footer.html" %}
  </div>

  {% block extra_scripts %}{% endblock %}
{% endblock %}
