{% extends "pages/base.html" %}

{% load bg_nav_tags %}


{% block page_title %}{% if pageTitle %}{{ pageTitle }}{% else %}Mozilla - *privacy not included{% endif %}{% endblock %}


{# TODO: consider using a different ga_identifier? #}


{% block social_metadata %}
  <meta property='og:type' content='website'>
  <meta property='og:locale' content='en-US'>
  <meta property="og:title" content="*Privacy Not Included: A Buyer’s Guide for Connected Products">
{% endblock %}


{% block wagtail_metadata %}
  <meta property="og:description" content="Smart home gadgets, fitness trackers, toys and more, rated for their privacy & security">
  <meta property="og:image" content="{{request.scheme}}://{{request.get_host}}/_images/buyers-guide/pni-2019-social-share.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.path}}">
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="/_css/buyers-guide.compiled.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,300,700,300i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700,300i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
{% endblock %}


{% block icons %}
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/_images/favicons/apple-touch-icon-180x180@2x.png">
  <link rel="icon" type="image/png" sizes="196x196" href="/_images/favicons/favicon-196x196@2x.png">
  <link rel="shortcut icon" href="/_images/favicons/favicon.ico">
{% endblock %}


{% block additional_head_elements %}
  <!-- TODO: determine if we still need this -->
  <script>
    var modernBrowser = (
      'fetch' in window &&
      'assign' in Object
    );

    if ( !modernBrowser ) {
      var scriptElement = document.createElement('script');
      scriptElement.async = false;
      scriptElement.src = '/_js/polyfills.compiled.js';
      document.head.appendChild(scriptElement);
    }
  </script>
{% endblock %}


{% block bodyclass %}pni{% endblock %}


{% block script_bundle %}
  <script src="/_js/bg-main.compiled.js" async defer></script>
{% endblock %}


{% block body_wrapped %}

  {% include "./primary_nav.html" %}

  <div class="underneath-screen-overlay">
    <div class="category-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            {% url 'buyersguide-home' as home_url %}
            <a class="{% bg_active_nav request.get_full_path home_url %}" href="{{ home_url }}">Home</a>
            {% category_nav request.get_full_path category categories %}
            {% url 'how-to-use-view' as how_to_use_url %}
            <a class="{% bg_active_nav request.get_full_path how_to_use_url %}" href="{{ how_to_use_url }}">About the Guide</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content {% block main_content_class %}pb-5{% endblock %}">
      {% block guts %}{% endblock %}
    </div>

    {% include "partials/footer.html" with exclude_language_switcher=True %}
  </div>

  {% block extra_scripts %}{% endblock %}
{% endblock %}
