<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website" />
    {% block og-title %}
      <meta property="og:title" content="*Privacy Not Included: A Buyer’s Guide for Connected Products" />
    {% endblock %}
    <meta property="og:description" content="70 connected products rated on their safety and security" />
    <meta property="og:image" content="{{request.scheme}}://{{request.get_host}}/_images/buyers-guide/share.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.path}}" />
    <link rel="stylesheet" href="/_css/buyers-guide.compiled.css">
    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito+Sans:400,300,700,300i">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700,300i">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/_images/favicons/apple-touch-icon-180x180@2x.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/_images/favicons/favicon-196x196@2x.png">
    <link rel="shortcut icon" href="/_images/favicons/favicon.ico">
    <title>Mozilla - *privacy not included</title>
    <script>
      var modernBrowser = (
        'fetch' in window &&
        'assign' in Object
      );

      if ( !modernBrowser ) {
        var scriptElement = document.createElement('script');

        scriptElement.async = false;
        scriptElement.src = '/_js/polyfills.compiled.js';
        document.head.appendChild(scriptElement);
      }
    </script>
  </head>
  <body class="pni" id="pni-{% block body-id %}{% endblock %}">
    <script src="/_js/bg-main.compiled.js" async defer></script>

    <!-- these will be populated by bg-main.js if needed -->
    <div class="donate-modal-wrapper"></div>

    {% include "./primary_nav.html" %}
    <div class="underneath-screen-overlay">
      <div class="category-nav">
        <div class="container">
          <div class="row">
            <div class="col">
              <a class="nav-home" href="/en/privacynotincluded">Home</a>
              {% for current in categories %}
              <a class="nav{% if category %}
                {% if category.name == current.name %}
                  active
                {% endif %}
              {% endif %}" href="/en/privacynotincluded/categories/{{ current.name }}">{{ current.name }}</a>
              {% endfor %}
              <a class="nav-about" href="/en/privacynotincluded/about">About the Guide</a>
            </div>
          </div>
        </div>
      </div>

      <div class="main-content {% block main-content-class %}pb-5{% endblock %}">{% block guts %}{% endblock %}</div>

      <footer class="mofo-footer">
        <div class="container">
          <ul class="list-unstyled footer-links row justify-content-center">
            <li class="col-auto"><a class="footer-link-email" href="mailto:network@mozillafoundation.org">Email</a></li>
            <li class="col-auto"><a class="footer-link-twitter" href="https://twitter.com/mozilla">Twitter</a></li>
            <li class="col-auto"><a class="footer-link-github" href="https://www.github.com/mozilla/foundation.mozilla.org/">Github</a></li>
            <li class="col-auto"><a class="footer-link-participation-guidelines" href="https://www.mozilla.org/about/governance/policies/participation/">Participation Guidelines</a></li>
            <li class="col-auto"><a class="footer-link-cc-license" href="https://creativecommons.org/licenses/by/4.0">License</a></li>
            <li class="col-auto"><a class="footer-link-legal" href="https://mozilla.org/en-US/about/legal/">Legal</a></li>
            <li class="col-auto"><a class="footer-link-privacy" href="https://mozilla.org/en-US/privacy/websites/">Privacy</a></li>
            <li class="col-auto"><a class="footer-link-donate" id="donate-button-footer" href="https://donate.mozilla.org?utm_source=foundation.mozilla.org&amp;utm_medium=referral&amp;utm_content=footer" target="_blank" rel="noopener noreferrer">Donate</a></li>
          </ul>
          <div class="org-info mozilla">
            <div class="logo-container"><a class="logo" href="https://mozilla.org"></a></div>
            <p>Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at <a href="https://mozilla.org">mozilla.org</a>.</p>
          </div>
        </div>
      </footer>
    </div>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
