{% extends "./bg_base.html" %}

{% load env cloudinary %}

{% block body_id %}home{% endblock %}

{% block main_content_class %}{% endblock %}

{% block guts %}
<div class="container-fluid text-center page-header bg-gray">
  <!-- home banner as css background -->
</div>

<div class="container">
    <div class="row mx-xl-0">
      <div class="product-listing bg-white col-12 col-md-10 offset-md-1 col-xl-12 offset-xl-0">
        <h1 class="h1-heading text-center mt-4">Be Smart. Shop Safe.</h1>

        <div class="row justify-content-center">
          <p class="col col-lg-9 col-xl-10 body-large text-center">
            How creepy is that smart speaker, that fitness tracker, those wireless headphones? We created this guide to help you shop for safe, secure connected products.
          </p>
        </div>

        <div class="row justify-content-center">
          <p class="col col-lg-9 col-xl-10 text-center user-rated">
            The <span class="creep-face-emoji">😮</span> below shows how creepy users find these products.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="project-list-section">
  <div class="creepiness-slider bg-white text-center">
    <span class="current-creepiness">
      <span class="speech-bubble d-none">
        <span class="text"></span>
        <span class="hook"></span>
      </span>
    </span>
    <div id="product-filter" class="noselect">
      <!-- instantiated to a real filter by bg-main.js -->
    </div>
  </div>

  <div class="product-box-list-wrapper">
    <div class="product-box-list d-flex justify-content-center align-items-stretch flex-wrap">

      {% for product in products %}
        {% if product.is_current %}
        
        <figure class="product-box d-flex flex-column justify-content-between{% if product.draft %} draft-product{% endif %}{% if product.adult_content %} adult-content{% endif %}" data-creepiness="{{ product.votes.creepiness.average }}">
        <div class="top-left-badge-container">
            {% include "fragments/seal_of_approval.html" with product=product %}
            {% if product.votes.confidence %}
                {% if product.votes.confidence.1 > product.votes.confidence.0 %}
                    <div class="d-none recommendation positive"></div>
                {% else %}
                    <div class="d-none recommendation negative"></div>
                {% endif %}
            {% endif %}
        </div>
    
        {% include "fragments/adult_content_badge.html" with product=product %}
    
        <a class="product-image text-center mt-4 h-100 d-flex flex-column justify-content-between" href="{% url 'product-view' product.slug %}">
            {% if USE_CLOUDINARY %}
            <img
            class="product-thumbnail"
            src="{% cloudinary_url product.cloudinary_image quality=50 fetch_format="auto" crop="fit" width=600 %}"
            alt="link to {{product.name}}"
            >
            {% else %}
            <img class="product-thumbnail" src="{{mediaUrl}}{{"AWS_LOCATION"|env}}/{{product.image }}" alt="link to {{product.name}}">
            {% endif %}
            <figcaption class="hidden-sm-down mt-md-2 text-left">
            <div class="body-small">{{product.company}}</div>
            <div class="body">{{product.name}}</div>
            </figcaption>
        </a>
        </figure>
        {% endif %}
      {% endfor %}  

      <div class="no-matching-products-note bg-gray w-100 pt-5 d-none">
        <div class="d-flex flex-column align-items-center">
          <div>No results.</div>
          <button class="btn btn-link p-0" id="clear-filters-btn">Clear filters and try again.</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
