{% extends "./catalog.html" %}
{% load static i18n env %}

{% block body_id %}{{ category.slug }}{% endblock %}


{% block og_image %}
  <meta property="og:image" content="{% if category.og_image %}{{mediaUrl}}{{category.og_image}}{% else %}{% static "_images/buyers-guide/evergreen-social.png" %}{% endif %}">
{% endblock %}


{% block no_products_found %}
  {% include "fragments/no_search_results.html" %}
{% endblock %}

{% block hero %}
<h1>{{mediaUrl}}{{category.og_image}}</h1>
<br>
>>>{{"MEDIA_URL"|env}}<<<
  <br>
>>>{{"AWS_LOCATION"|env}}<<<
<img src="{{mediaUrl}}{{category.og_image}}">
{% endblock %}
