{% extends "./bg_base.html" %}

{% load env cloudinary i18n %}

{% block body_id %}{{ category.slug }}{% endblock %}

{% block guts %}
  <div class="category-listing container mt-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="mb-5">
          <h1 class="h2-heading">{{ category.name }}</h1>
          {% if category.description != None %}
          <p class="body-large mt-4">{{ category.description }}</p>
          {% endif %}
        </div>

        <div class="row">
          {% for product in products %}
            {% if product.is_current %}
              <div class="category-item-container col-6 {% if product.draft %} draft-product{% endif %}{% if product.adult_content %} adult-content{% endif %}">
                <a href="{% url 'product-view' product.slug %}">
                  <div class="category-image-container">
                    {% include "fragments/seal_of_approval.html" with product=product %}
                    {% include "fragments/adult_content_badge.html" with product=product %}

                    {% if USE_CLOUDINARY %}
                    <img
                      class="product-thumbnail thumb-border"
                      width="300"
                      src="{% cloudinary_url product.cloudinary_image quality=50 fetch_format="auto" crop="fit" width=600 %}"
                      alt="{{ product.name }}"
                    >
                    {% else %}
                    <img
                      class="product-thumbnail"
                      src="{{ mediaUrl }}{{ "AWS_LOCATION" | env }}/{{ product.image }}"
                      alt="{{ product.name }}"
                    >
                    {% endif %}
                  </div>
                  <h3 class="mb-1 body-small">{{ product.company }}</h3>
                  <h3 class="mb-5 h5-heading">{{ product.name }}</h3>
                </a>
              </div>
            {% endif %}
          {% endfor %}

          <p><em>{% trans "The information provided here is pulled directly from the product website." %}</em></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
