{% extends "partials/primary_nav.html" %}

{% load i18n %}

{% block narrow_screen_menu %}
  <div class="narrow-screen-menu-background">
    <div class="narrow-screen-menu-container d-md-none">

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="nav-links">
              <h3 class="h2-heading">{% trans "Help us keep the Internet healthy" %}</h3>
              <p>{% trans "Mozilla is a nonprofit organization fighting for a healthy internet." %}</p>
              <a class="btn btn-donate m-0 w-100" id="donate-button" href="https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=buyersguide&utm_campaign=buyersguide2019&utm_content=headerbutton">{% trans "Donate" %}</a>
              <button class="btn btn-secondary btn-newsletter">{% trans "Newsletter" %}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block burger_and_logo %}
  {# we do not want the burger and logo from the original nav here #}
{% endblock %}

{% block wide_screen_menu %}
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center py-0 py-md-3 logo-section">
      <a href="/" class="moz-logo mb-0 mr-3"><span class="sr-only">Mozilla</span></a>
      <p class="mb-0 h3-heading flex-wrap">
        <a class="link-back" href="{% url 'buyersguide-home' %}">{% trans "*privacy not included" context 'Buyer’s guide name. This can be localized. This is a reference to the “*batteries not included” mention on toys.' %}</a>
      </p>
    </div>
  </div>
{% endblock %}
