{% if mobile %}
  <div class="social d-flex flex-column">
    <a class="social-button social-button-fb body-large" href="">Facebook</a>
    <a class="social-button social-button-twitter body-large sp_191726" href="">Twitter</a>
    <a class="social-button social-button-email body-large sp_191727" href="">Email</a>
    <a class="social-button social-button-link body-large" href="">Copy link</a>
  </div>
{% else %}
<div class="social d-flex align-items-center">
  <a class="social-button social-button-fb hidden-sm-down" href=""><span class="sr-only">Facebook</span></a>
  <a class="social-button social-button-twitter hidden-sm-down sp_191726" href=""><span class="sr-only">Twitter</span></a>
  <a class="social-button social-button-email hidden-sm-down sp_191727" href=""><span class="sr-only">Email</span></a>
  <a class="social-button social-button-link hidden-sm-down" href=""><span class="sr-only">Copy link</span></a>
  <a class="d-none d-sm-block btn btn-donate ml-3 mr-0 hidden-sm-down" href="https://donate.mozilla.org">Donate</a>
  <button class="burger btn btn-link p-0 ml-4 hidden-md-up">
    <span class="sr-only">Share</span>
  </button>
</div>
{% endif %}
