#multipage-nav-mobile {
  background: $off-white;

  .multipage-nav {
    div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .expander {
      background: none;
      text-align: left;
      width: 100%;
      border: 0;
      outline: 0;
      padding: 0;

      .control {
        display: inline-block;
        background: url('../_images/chevron.svg') no-repeat;
        background-size: contain;
        background-position: center right;
        width: 15px;
        height: 10px;
        transform: rotate(180deg);
        transition: transform 100ms linear;
      }
    }

    div:not(:first-child) {
      display: none;
    }

    &.multipage-nav-open {
      .expander {
        .active-link-label {
          visibility: hidden;
        }

        .control {
          transform: rotate(0);
        }
      }

      div:not(:first-child) {
        display: block;
      }
    }
  }
}

.multipage-nav {
  > div {
    margin: 24px 0;
  }
}

#multipage-nav.flex-row > div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  @media screen and (min-width: $bp-md) {
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
