// Privacy Not Included (PNI) Palatte

$pni-blue: #1808f2;
$pni-blue-purple: #4a17d4;
$pni-purple: #7f28b7;
$pni-purple-pink: #b0379b;
$pni-pink: #e4487d;
$pni-gradient: linear-gradient(to right, $pni-blue 0%, $pni-pink 100%);
$pni-warning-yellow: #fbd545;

$pni-product-list-background: #f5f5f5; /* keep this #f5f5f5 as this is the background colour product images on Homepage have */
$pni-product-image-background: #f4f4f4; /* keep this #f4f4f4 as this is the background colour product images on Product Page have */
