// PNI Palatte

$pni-blue: #1808f2;
$pni-blue-purple: #4a17d4;
$pni-purple: #7f28b7;
$pni-purple-pink: #b0379b;
$pni-pink: #e4487d;

$pni-gradient: linear-gradient(to right, #0000ff 0%, #ff506f 100%);

$emoji-yellow: #f2b946;
$emoji-pink: #e59c9c;
$light-red: #ffe6e8;
