// Bootstrap

@import '../../../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap';
@import '../../../node_modules/mofo-bootstrap/src/scss/custom/_colors';
@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/mixins';

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 576px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 576px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

//Site-wide

@import '../colors';
@import '../mixins';

// React Components

@import '../../js/buyers-guide/components/creepometer/creepometer';

// Non-React Components

@import './components/future-non-react-component';

.btn-blue {
  color: $white;
  background: #3302ff;

  &:hover {
    color: $white;
    background: #4a90e2;
  }
}

// Misc

@import '../resets';
@import '../type';
@import '../buttons';
@import '../global';
@import '../utilities';

// Header

@import './components/header.scss';

// Utilities

.bg-gray {
  background: #f4f4f4;
}

.bg-white {
  background: $white;
}

// Type specific to PNI

.links-btn {
  font-family: "Nunito Sans";
  font-size: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 20px;
}

// View specific

@import './views/product';
