// Disallow any horizontal scrollbar at the document level.
html {
  overflow-x: hidden;
}

// mofo-bootstrap
@import "../mofo-bootstrap/mofo-bootstrap";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom variables
@import "../variables"; // Foundation site shared variables
@import "./variables"; // Buyer's Guide specific variables

// Site-wide

@import "../resets";
@import "../mixins";
@import "./mixins"; // Buyer's Guide specific mixins

// PNI specific

@import "./colors.scss";
@import "./type.scss";

// includes
@import "./includes/draft-product";

// React Components

@import "../../js/buyers-guide/components/creepometer/creepometer";
@import "../../js/buyers-guide/components/creep-vote/creep-vote";
@import "../../js/components/multipage-nav-mobile/multipage-nav-mobile";

// Primary navigation extends from the base nav, but with tweaks
@import "../components/primary-nav";
@import "../../js/buyers-guide/components/primary-nav/primary-nav";

@import "../../js/buyers-guide/components/creepiness-chart/creepiness-chart";
@import "../../js/components/join/join";

// Non-React Components

@import "../components/nav";
@import "../components/multipage-nav";
@import "../components/select-dropdown";
@import "../components/share-button-group";

// Wagtail Stream Blocks

@import "../wagtail/blocks/feature-quote";

// Misc

@import "../global";
// Header

@import "./components/header.scss";

// Utilities

.bg-product-image {
  background: $pni-product-image-background;
}

.bg-call-to-action-content,
.bg-call-to-action-content > .rich-text > p {
  // Overriding the default styling for a paragraph.
  @apply tw-text-base tw-leading-6;
}

img.thumb-border {
  background: $pni-product-image-background;
  border: 16px solid $pni-product-image-background;
}

.adult-content {
  // products which contain adult content
  img.product-thumbnail {
    filter: blur(15px);

    @at-root .related-product #{&} {
      filter: blur(5px);
    }
  }
}

footer hr {
  border-color: $gray-20;
}

// View specific
@import "./views/catalog";
@import "./views/product";
@import "./views/about";
@import "./views/contest";
@import "./views/article";
