// Bootstrap

@import '../../../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap';
@import '../../../node_modules/mofo-bootstrap/src/scss/custom/_colors';
@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/mixins';

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 576px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 576px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

//Site-wide

@import '../colors';
@import '../mixins';

// React Components

@import '../../js/buyers-guide/components/creepometer/creepometer';

// Non-React Components

@import './components/future-non-react-component';

.btn-blue {
  color: $white;
  background: #3302ff;

  &:hover {
    color: $white;
    background: #4a90e2;
  }
}

// Misc

@import '../resets';
@import '../type';
@import '../buttons';
@import '../global';
@import '../utilities';

// Header

.moz-logo {
  background-image: url("../_images/mozilla-m.svg");
  flex-shrink: 0;
  width: 28px;
  height: 28px;

  @include media-breakpoint-up(md) {
    width: 97px;
    background-image: url("../_images/mozilla-on-black.svg");
  }
}

.primary-nav {
  overflow-x: scroll;
  white-space: nowrap;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  a {
    display: inline-block;
    font-family: "Nunito Sans";
    font-size: 17px;
    color: #909090;
    font-weight: 900;
    margin-right: 20px;
    padding: 10px 0 6px;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

#pni-home .nav-home {
  border-bottom: 4px solid $black;
  color: $black;
}

.social-button {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-fb {
  background-image: url("/_images/glyphs/fb.svg");
}

.social-button-twitter {
  background-image: url("/_images/glyphs/twitter.svg");
}

.social-button-email {
  background-image: url("/_images/glyphs/email.svg");
}

// View specific
