// Disallow any horizontal scrollbar at the document level.
html {
  overflow-x: hidden;
}

// mofo-bootstrap

@import "../mofo-bootstrap/mofo-bootstrap";

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 576px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 576px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

//Site-wide

@import "../glyphs";
@import "../mixins";
@import "./mixins"; // Buyer's Guide specific mixins

// includes
@import "./includes/draft-product";

// React Components

@import "../../js/buyers-guide/components/creepometer/creepometer";
@import "../../js/buyers-guide/components/creep-vote/creep-vote";

// Primary navigation extends from the base nav, but with tweaks
@import "../components/primary-nav";
@import "../../js/buyers-guide/components/primary-nav/primary-nav";

@import "../../js/buyers-guide/components/creepiness-chart/creepiness-chart";
@import "../../js/buyers-guide/components/likelyhood-chart/likelyhood-chart";
@import "../../js/components/share-button-group/share-button-group";
@import "../../js/components/join/join";

// Non-React Components

@import "./components/future-non-react-component";
@import "../components/nav";
@import "../components/multipage-nav";
@import "../components/select-dropdown";

// Misc

@import "../resets";
@import "../type";
@import "../buttons";
@import "../global";
@import "../utilities";

// Header

@import "./components/header.scss";

// Utilities

.bg-gray {
  background: $gray-05;
}

.bg-product-image {
  background: $pni-product-image-background;
}

.bg-white {
  background: $white;
}

img.thumb-border {
  background: $pni-product-image-background;
  border: 16px solid $pni-product-image-background;
}

.adult-content {
  // products which contain adult content
  img.product-thumbnail {
    filter: blur(15px);

    @at-root .related-product #{&} {
      filter: blur(5px);
    }
  }
}

footer hr {
  border-color: $gray-20;
}

// used by various pages
@import "./creep-face-emoji";

// View specific
@import "./views/homepage";
@import "./views/product";
@import "./views/about";
@import "./views/category";
