.creep-face-emoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.25em;
  margin: 0 0.2em;
  font-variant: normal;
  color: transparent;
  background-image: url(/_images/buyers-guide/faces/most-emoji.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
