@mixin seal-of-approval(
  $offset-top,
  $offset-left,
  $width,
  $height,
  $width-desktop: null,
  $height-desktop: null
) {
  position: absolute;
  top: $offset-top;
  left: $offset-left;
  width: $width;
  height: $height;
  z-index: 2;

  @if ($width-desktop and $height-desktop) {
    @media (min-width: $bp-md) {
      width: $width-desktop;
      height: $height-desktop;
    }
  }
}

@mixin adult-content-badge(
  $offset-top,
  $offset-right,
  $width,
  $height,
  $width-desktop: null,
  $height-desktop: null
) {
  position: absolute;
  top: $offset-top;
  right: $offset-right;
  width: $width;
  height: $height;
  z-index: 2;

  @if ($width-desktop and $height-desktop) {
    @media (min-width: $bp-md) {
      width: $width-desktop;
      height: $height-desktop;
    }
  }
}

@mixin category-nav-link-with-icon($background-image-url) {
  @if $background-image-url != false and $background-image-url != "" {
    $icon-width: 18px;

    position: relative;
    padding-left: calc(#{$icon-width} + 5px);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: url($background-image-url)
        no-repeat
        center
        calc(50% + 2px) /
        contain;
      width: $icon-width;
      height: 100%;
    }
  }
}

@mixin reset-active-nav-style() {
  .multipage-link.active {
    color: $gray-60;
    border-bottom: none;

    // Additional overwriting class for the /privacynotincluded/about/* pages
    &.about-link {
      color: $black;
      border-bottom: 3px solid $black;
    }

    &:hover {
      color: $black;
      border-bottom: 3px solid $black;
    }
  }
}
