#wagtail .wrapper input[type=checkbox] {
  --admin-interface-fg-green: #007d7e;
  --admin-interface-bg-grey: #fafafa
}

#wagtail .wrapper input[type=checkbox] {
    vertical-align: middle;
    background: unset;
}

#wagtail .wrapper input[type=checkbox]:before {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    background: var(--admin-interface-bg-grey);
    color: var(--admin-interface-bg-grey);
}

#wagtail .wrapper input[type=checkbox]:checked:before {
    color: var(--admin-interface-fg-green);
}


#wagtail .wrapper li.focused input[type=checkbox]:before {
    background: unset;
}

#wagtail .wrapper li.focused input[type=checkbox]:not(:checked):before {
    color: transparent;
}

