{% load wagtailroutablepage_tags wagtailimages_tags %}
<a
    href="{% routablepageurl page=authors_index.localized profile_id=author_profile.id profile_slug=author_profile.name|slugify url_name="wagtailpages:research-author-detail" %}"
    class="tw-flex {% if not tight %} tw-gap-8 medium:tw-gap-12 large:tw-gap-16 {% else %} tw-gap-6 {% endif %} tw-group tw-items-center hover:tw-no-underline"
>
    <div class="tw-shrink-0 tw-w-32 {% if not tight %} medium:tw-w-40 large:tw-w-48 {% endif %}">
        {% if author_profile.image %}
            {% image author_profile.image fill-182x182 as profile_img %}
            <img src="{{ profile_img.url }}" alt="{{ author_profile.name }}" class="tw-w-full tw-h-auto tw-rounded-full">
        {% endif %}
    </div>
    <div>
        <div class="tw-h5-heading tw-mb-2 tw-text-blue-80 tw-hyphens-auto group-hover:tw-underline ">
            {{ author_profile.name }}
        </div>
        <div class="tw-text-xs medium:tw-text-sm large:tw-text-base tw-text-gray-60">
            {{ author_profile.tagline }}
        </div>
    </div>
</a>
