{% extends "partials/footer.html" %}

{% load static i18n %}

{% block footer_inner_container_class %}{% endblock %}

{% block footer_donate %}{% endblock %}

{% block left_footer_column %}
    <div class="medium:tw-w-6/12 tw-px-8 tw-flex tw-flex-col tw-justify-between">
        <a class="logo tw-block tw-mb-10 meidum:tw-my-24 medium:tw-my-0"
           href="https://foundation.mozilla.org">
            <img src="{% static "_images/mozilla-block-white.svg" %}" width="96" height="27" alt="{% trans "Mozilla Foundation" %}">
        </a>
    </div>
{% endblock %}

{% block right_footer_column %}
    <div class="medium:tw-w-6/12 tw-px-8 tw-flex tw-flex-col">
        <div class="tw-row">
            <div class="tw-w-full tw-px-8">
                <p class="tw-text-xs tw-my-0">
                    {% blocktrans with foundation_website_url='https://foundation.mozilla.org' foundation_website='foundation.mozilla.org' cc_website_url='https://foundation.mozilla.org/about/website-licensing/' trimmed %}
                        Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at <a class="link" href="{{ foundation_website_url }}">{{ foundation_website }}</a>. Most content available under a <a class="link" href="{{ cc_website_url }}">Creative Commons license</a>.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
