{% load i18n primary_active_nav %}

{% trans "Home" as translated_root_name %}
{% with root_name=translated_root_name %}
    <div class="primary-nav-container">
        <div class="wrapper-burger tw-bg-white tw-border-b-gray-20 tw-border-b-[1px]">
            <div class="menu-container">
                <nav class="tw-container">
                    <div class="tw-row">
                        <div class="tw-w-full tw-px-8 tw-grow tw-basis-0">
                            <div class="tw-flex tw-flex-row tw-justify-between tw-items-center">
                                <div id="primary-nav-links">
                                    <div class="tw-flex tw-items-center tw-flex-wrap">
                                        <a class="logo text-hide tw-text-transparent tw-leading-[0]" href="{{ menu_root.url }}">{{ root_name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endwith %}
