{% load i18n primary_active_nav %}

{% trans "Home" as translated_root_name %}
{% with root_name=translated_root_name %}
    <div class=" tw-bg-white tw-border-b-gray-20 tw-border-b-[1px]">
        <nav class="tw-container medium:tw-py-8">
            <div class="tw-row">
                <div class="tw-w-full tw-px-8 tw-flex tw-flex-row tw-justify-between tw-items-center">
                    <div class="tw-py-9 small:tw-py-[22px] medium:tw-py-[9px]">
                        <div class="tw-flex tw-items-center tw-flex-wrap">
                            <a href="{{ menu_root.url }}"
                               class="logo tw-text-hide tw-leading-[0] tw-bg-no-repeat tw-bg-contain tw-w-14 tw-h-14 tw-bg-[url('../_images/mozilla-m.svg')] small:tw-w-[97px] small:tw-bg-[url('../_images/mozilla-on-black.svg')] ">
                                {{ root_name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endwith %}
