{% load static i18n %}
<div id="yt-regrets-accordion" class="yt-regrets-accordion">

  {# Section 1 #}
  <div class="yt-regrets-accordion__item" data-accordion-item>
    <div class="yt-regrets-accordion__mask" data-expand-mask>
      <div id="yt-accordion-content-01" class="yt-regrets-accordion__content" data-accordion-content>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-12 offset-md-2">
              <div class="row">
                <div class="yt-regrets-accordion__number col-md-1">01</div>
                <div class="col-12 col-md-10">
                  <h2 class="heading-1">{% trans "Most videos people regret watching come from recommendations." %}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-1">
                  {# Section 1 content #}
                  {% include "./fragments/accordion_section_1.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "./fragments/accordion_heading_button.html" with number="01" heading_text="Most videos people regret watching come from recommendations." %}
      {% include "./fragments/accordion_close_button.html" %}
    </div>
  </div>

  {# Section 2 #}
  <div class="yt-regrets-accordion__item" data-accordion-item>
    <div class="yt-regrets-accordion__mask" data-expand-mask>
      <div id="yt-accordion-content-02" class="yt-regrets-accordion__content" data-accordion-content>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-12 offset-md-2">
              <div class="row">
                <div class="yt-regrets-accordion__number col-md-1">02</div>
                <div class="col-12 col-md-10">
                  <h2 class="heading-1">{% trans "YouTube recommends videos that violate their own policies." %}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-1">
                  {% include "./fragments/accordion_section_2.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "./fragments/accordion_heading_button.html" with number="02" heading_text="YouTube recommends videos that violate their own policies." %}
      {% include "./fragments/accordion_close_button.html" %}
    </div>
  </div>

  {# Section 3 #}
  <div class="yt-regrets-accordion__item" data-accordion-item>
    <div class="yt-regrets-accordion__mask" data-expand-mask>
      <div id="yt-accordion-content-03" class="yt-regrets-accordion__content" data-accordion-content>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-12 offset-md-2">
              <div class="row">
                <div class="yt-regrets-accordion__number col-md-1">03</div>
                <div class="col-12 col-md-10">
                  <h2 class="heading-1">{% trans "The non-English speaking world is hit the hardest." %}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-1">
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "./fragments/accordion_heading_button.html" with number="03" heading_text="The non-English speaking world is hit the hardest." %}
      {% include "./fragments/accordion_close_button.html" %}
    </div>
  </div>

  {# Section 4 #}
  <div class="yt-regrets-accordion__item" data-accordion-item>
    <div class="yt-regrets-accordion__mask" data-expand-mask>
      <div id="yt-accordion-content-04" class="yt-regrets-accordion__content" data-accordion-content>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-12 offset-md-2">
              <div class="row">
                <div class="yt-regrets-accordion__number col-md-1">04</div>
                <div class="col-12 col-md-10">
                  <h2 class="heading-1">{% trans "YouTube Regrets can alter people’s lives forever." %}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-1">
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                  <p>YouTube Regrets are primarily a result of the recommendation algorithm, meaning videos that YouTube chooses to amplify, rather than videos that people sought out.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "./fragments/accordion_heading_button.html" with number="04" heading_text="YouTube Regrets can alter people’s lives forever." %}
      {% include "./fragments/accordion_close_button.html" %}
    </div>
  </div>
</div>
