{% extends "pages/base.html" %}
{% load wagtailcore_tags %}

{% block body_id %}youtube-regrets-2021{% endblock %}
{% block bodyclass %}youtube-regrets-2021{% endblock %}

{% block extended_head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@600;700&display=swap" rel="stylesheet">
  <!-- load the client-side visualization libraries from CDN, rather than bundling them in -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.css" integrity="sha512-QVtxgaHBBkLhZUCbW87PairvKm3vCeV1URNOIsMmQimJobi1+D8azJi7ATrsw9zk2yQq2bzMv0kVK0PPggf3tA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.js" integrity="sha512-jm5exnXjOC6mBpqBG81xU+GK4ybKq28mLihDCNj2E3RkzrfW/tSGt7Uy7wRSkedl95C4cH9+9lectBCGwEcD0g==" crossorigin="anonymous" referrerpolicy="no-referrer" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollToPlugin.min.js" integrity="sha512-1OG9UO4krPizjtz/c9iDbjCqtXznBYdJeD4ccPaYfJHzC6F1qoQ3P1bgQ3J8lgCoK5qGVCqsY4+/RKjLDzITVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.8/countUp.umd.min.js" integrity="sha512-lzjQcIQ379q5jbmiNdLkxBtvTzbVI5xFXoOeI8YU9dFaJdegF/dHPrYdS6S3L+R0AFwCceLvmuWepeurKGl2bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{# Empty header; Do not add <header role="banner"> to the page #}
{% block header_wrapped %}{% endblock %}


{% block content_wrapped %}
  <main role="main">
    {% block main %}
      <div class="transition-bg">
        {# Hero #}
        {% include "./fragments/hero.html" %}

        {# Intro #}
        {% include "./fragments/intro.html" %}

        {# What is #}
        {% include "./fragments/what-is.html" %}

        {# Sometimes YouTube regrets are #}
        {% include "./fragments/hero_carousel.html" %}

        {# Quote #}
        {% include "./fragments/quote.html" %}

        {# Categories #}
        {% include "./fragments/categories.html" %}
      </div>

      {# Our research #}
      {% include "./fragments/our-research.html" %}

      {# Accordion #}
      {% include 'wagtailpages/pages/youtube-regrets-2021/youtube_regrets_accordion.html' %}

      {# Recommendations section #}
      {% include './fragments/recommendations.html' %}

      {# Download pdf #}
      {% include './fragments/downloads.html' %}
    {% endblock %}
  </main>
{% endblock %}


{% block footer_block %}
  {% include "partials/footer.html" %}
{% endblock %}
