// Mixin for setting base colors for button
@mixin button-base-colors($styles) {
  color: map-get($styles, "color");
  background-color: map-get($styles, "background-color");
  border-color: map-get($styles, "border-color");
}

// Mixin for setting colors for various button states
@mixin button-colors-by-mode($mode-colors) {
  $default-colors: map-get($mode-colors, "default");
  $hover-colors: map-get($mode-colors, "hover-focus");
  $active-colors: map-get($mode-colors, "active");

  @include button-base-colors($default-colors);

  @include hover-focus {
    @include button-base-colors($hover-colors);
  }

  @include active {
    @include button-base-colors($active-colors);
  }

  @include disabled {
    @include button-base-colors($default-colors);
  }

  &:not(:disabled):not(.disabled) {
    @include active {
      @include button-base-colors($active-colors);
    }
  }
}

// Mixin for setting button style
@mixin button-basic-style($regular-mode, $dark-mode) {
  @include disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
  }
  @include button-colors-by-mode($regular-mode);

  @at-root .tw-dark & {
    @include button-colors-by-mode($dark-mode);
    @include disabled {
      opacity: 0.5;
    }
  }
}

// Mixin for setting .btn-secondary style
@mixin btn-secondary-style() {
  border-width: 2px;
  border-style: solid;

  $regular-mode: (
    "default": (
      "color": $black,
      "background-color": transparent,
      "border-color": $black,
    ),
    "hover-focus": (
      "color": $white,
      "background-color": $black,
      "border-color": transparent,
    ),
    "active": (
      "color": $white,
      "background-color": $blue,
      "border-color": transparent,
    ),
  );

  $dark-mode: (
    "default": (
      "color": $white,
      "background-color": transparent,
      "border-color": $white,
    ),
    "hover-focus": (
      "color": $black,
      "background-color": $white,
      "border-color": transparent,
    ),
    "active": (
      "color": $black,
      "background-color": $blue,
      "border-color": transparent,
    ),
  );

  @include button-basic-style($regular-mode, $dark-mode);
}
