// Mixin for setting heading style
@mixin heading(
  $font-family,
  $font-weight,
  $letter-spacing,
  $color,
  $dark-theme-color
) {
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  color: $color;
  margin-bottom: 1rem;

  @at-root .tw-dark & {
    color: $dark-theme-color;

    a {
      @include dark-theme-inline-anchor();
    }
  }

  a {
    color: inherit;
    font-weight: inherit;

    @include hover-focus-active {
      color: inherit;
      text-decoration: underline;
    }
  }
}

// Mixin for setting base style for text
@mixin text-base-style($font-family, $font-weight, $color, $dark-theme-color) {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;

  @at-root .tw-dark & {
    color: $dark-theme-color;

    a {
      @include dark-theme-inline-anchor($light-blue);
    }
  }
}

// Mixin for setting body style text
@mixin body-text-style() {
  @include text-base-style($font-family-sans-serif, 400, $black, $white);
  font-size: 18px;
  line-height: calc(27 / 18);
}

// Mixin for setting style for dark theme inline anchors
@mixin dark-theme-inline-anchor($color: inherit) {
  color: $color;
  font-weight: inherit;

  @include hover-focus-active {
    color: $light-blue;
    text-decoration: underline;
  }
}
