// Mixin for setting active state style
@mixin active() {
  &:active,
  &.active {
    @content;
  }
}

// Mixin for setting disabled state style
@mixin disabled() {
  &.disabled,
  &:disabled,
  &[disabled] {
    @content;
  }
}

// Mixin for breaking the constraints of parent container(s) to span the entire viewport width
@mixin full-bleed {
  $offset: $grid-gutter-width / 2;
  width: calc(100% + #{2 * $offset});
  max-width: calc(100% + #{2 * $offset});
  position: relative;
  margin-left: -#{$offset};
}

// Mixin for creating ".full-bleed-breakpoint" utility classes
@mixin full-bleed-bp($breakpoint) {
  @include media-breakpoint-only($breakpoint) {
    .full-bleed-#{$breakpoint} {
      @include full-bleed;
    }
  }
}

// Mixin for setting vertical margin for mobile and tablet+
@mixin vertical-spacing($adjust-spacing-for-md: null) {
  margin-top: 24px;
  margin-bottom: 24px;

  @if ($adjust-spacing-for-md) {
    @media (min-width: $bp-md) {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
}

// Mixin for setting #cta-anchor position
@mixin cta-anchor-position($extra-vertical-spacing: 0px) {
  $offset: 80px;

  margin-top: -$offset;
  padding-top: calc(#{$offset} + #{$extra-vertical-spacing});
}

// Mixin for setting special one-off share button style
@mixin style-colored-share-buttons(
  $color,
  $facebook-icon,
  $twitter-icon,
  $email-icon,
  $link-icon,
  $link-copied-icon
) {
  .tw-btn.btn-share {
    border-color: $color;

    @include hover-focus-active {
      background-color: $color;

      &::before {
        filter: brightness(0) invert(100%);
      }
    }

    &::before {
      filter: brightness(1);
    }

    &:after {
      content: none;
    }

    &.facebook-share {
      &::before {
        background-image: url($facebook-icon);
      }
    }

    &.twitter-share {
      &::before {
        background-image: url($twitter-icon);
      }
    }

    &.email-share {
      &::before {
        background-image: url($email-icon);
      }
    }

    &.link-share {
      &::before {
        background-image: url($link-icon);
      }

      &.copied {
        &::before {
          background-image: url($link-copied-icon);
        }
      }
    }
  }
}
