#member-notice {
  background: rgba(255, 255, 224, 1);

  & > div {
    padding: 0.75em 1.5rem;
    line-height: 1.2;
  }

  .pane {
    opacity: 1;
    transition: opacity 800ms ease-in-out;

    &.pane-hidden {
      opacity: 0;
      position: absolute;
      z-index: -999999;
      border: 1px solid red;
    }
  }

  .btn {
    background: none;
    font-size: 35px;
    font-weight: 900;
    color: #999;
    padding: 0;
    line-height: 1;

    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: #000;
    }

    &.btn-expanded {
      transform: rotate(45deg);
    }
  }
}
