{% extends "pages/base.html" %}
{% load wagtailcore_tags i18n static %}

{% block body_id %}dear-internet{% endblock %}

{% block extended_head %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{% with main_content_col="col-12 col-md-8" %}

<div class="clouds-wrapper full-size-absolute-wrapper">
  {% include "../fragments/dear_internet_cloud.html" with class="white" %}
  {% include "../fragments/dear_internet_cloud.html" with class="light-blue" %}
  {% include "../fragments/dear_internet_cloud.html" with class="light-blue" %}
  {% include "../fragments/dear_internet_cloud.html" with class="white" %}
  {% include "../fragments/dear_internet_cloud.html" with class="light-blue" %}
  {% include "../fragments/dear_internet_cloud.html" with class="white" %}
  {% include "../fragments/dear_internet_cloud.html" with class="light-red" %}
  {% include "../fragments/dear_internet_cloud.html" with class="white" %}
</div>

<div class="pre-cta-content position-relative">
  <div id="plane-pathway-wrapper" class="full-size-absolute-wrapper text-center invisible">
    {% include "../fragments/dear_internet_plane_path.html" %}
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="{{main_content_col}}">
        <div class="love-letter-stamp d-flex align-items-center justify-content-center">
          <img src="{% static "_images/dear-internet/Stamp-Wave-Left.svg" %}" alt="">
          <img src="{% static "_images/dear-internet/Stamp-Love-Letters.svg" %}" alt="{% trans "love letters to the internet" %}" class="stamp">
          <img src="{% static "_images/dear-internet/Stamp-Wave-Right.svg" %}" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 class="d-inline-block px-3 px-lg-5 py-2 mb-3 mb-md-5">{{page.title}}</h1>
      </div>
      <div class="{{main_content_col}} text-center">
        {% for block in page.intro_texts %}
          <div class="intro-text">
            {% include_block block %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="letters">
    <div class="container">
      <div class="row justify-content-center">
        <div class="{{main_content_col}} text-center letters-section-heading">
          <h2 class="mb-0">{{page.letters_section_heading}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-1 text-center d-print-none">
          <div class="sticky-side d-none d-md-flex justify-content-lg-end">
            {% include "../fragments/share-buttons.html" with version="mini" layout="stacked" share_text=page.title|add:' by @mozilla' %}
          </div>
        </div>
        <div class="{{main_content_col}}">
          {% for block in page.letters %}
          {% include_block block with index=forloop.counter %}
          {% endfor %}
        </div>
        <div class="{{main_content_col}} d-block d-md-none d-print-none text-center">
          {% include "../fragments/share-buttons.html" with version="mini" share_text=page.title|add:' by @mozilla' %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="{{main_content_col}}">
        {% if page.cta %}
        <p>{{page.cta}}</p>
        {% endif %}
        {% if page.cta_button_text and page.cta_button_link %}
        <a class="btn btn-secondary heart-glyph my-3" href="{{page.cta_button_link}}" target="_blank">{{page.cta_button_text}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="globe-wrapper">
  <img src="{% static "_images/dear-internet/Internet-Sphere.svg" %}" alt="">
  <img src="{% static "_images/dear-internet/Globe-Sphere.svg" %}" alt="">
</div>

{% endwith %}
{% endblock %}

{% block footer_block %}
{% include "partials/footer.html" %}
{% endblock %}
