{% load i18n %}

<div class="text-center mb-5 d-none">
  <button id="load-more-regrets" class="btn btn-secondary">{% trans "Load more stories" %}</button>
</div>

<script defer>
  /**
   * This is an inline script for toggling dynamically generated batch classes.
   * This is done in a closure to make sure we don't pollute global.
   */
  (function () {
    "use strict";

    const stories = document.querySelector(`.regret-stories`);
    const regrets = stories.querySelectorAll(`.youtube-regret`);
    const btn = document.getElementById(`load-more-regrets`);
    const batchSize = {% if page.specific.batch_size %}{{ page.specific.batch_size }}{% else %}10{% endif %};
    const maxBatch = {% if page.specific.max_batch_size %}{{ page.specific.max_batch_size }}{% else %}3{% endif %};

    const style = document.createElement(`style`);
    for (let i=1; i<=maxBatch; i++) {
      style.textContent += `.regret-stories.show-${i} .youtube-regret:nth-of-type(n+${1 + i * batchSize}) { display: none; }\n`;
    }
    document.querySelector('head').appendChild(style);

    const reveal = (evt) => {
      stories.classList.remove(`show-${batch++}`);
      if (batch >= maxBatch || batch * batchSize >= regrets.length) {
        btn.removeEventListener(`click`, reveal);
        btn.parentNode.removeChild(btn);
      } else {
        stories.classList.add(`show-${batch}`);
      }
    };

    let batch = 1;
    stories.classList.add(`show-${batch}`);
    btn.addEventListener(`click`, reveal);
    btn.parentNode.classList.remove(`d-none`);
  })();
</script>
