{% extends "pages/base.html" %}

{% load i18n %}

{% block body_id %}youtube-regrets-reporter-extension{% endblock %}

{% block content_wrapped %}
  <div class="tw-container tw-my-5 tw-px-4">
    <div class="tw-grid tw-grid-cols-1 small:tw-grid-cols-2 xlarge:tw-grid-cols-3 tw-gap-x-6">
      <div class="tw-my-5">
        <h3 class="h3-heading tw-mb-4">
          {% trans "Control your recommendations." %}
        </h3>
        <p class='body tw-mb-0'>
          {% blocktrans trimmed %}
          Mozilla’s updated RegretsReporter browser extension helps you eliminate harmful YouTube recommendations — the clickbait,
          the outrage, and all the other content you wish you never saw. By simply clicking an icon on any video on YouTube,
          RegretsReporter sends a signal to YouTube asking it to stop surfacing content you find objectionable.
          {% endblocktrans %}
        </p>
      </div>
      <div class="tw-my-5">
        <h3 class="h3-heading tw-mb-4">
          {% trans "Avoid harmful content." %}
        </h3>
        <p class='body tw-mb-0'>
          {% blocktrans with url="/campaigns/regrets-reporter/findings" trimmed %}
          Sometimes YouTube recommendations can be spot on. But sometimes, they’re outright harmful. <a href="{{url}}" target="_blank">Research powered by Mozilla’s
          RegretsReporter has revealed</a> that YouTube’s algorithm violates the platform’s very own policies, recommending
          misinformation, violent content, hate speech, and scams.
          {% endblocktrans %}
        </p>
      </div>
      <div class="tw-my-5">
        <h3 class="h3-heading tw-mb-4">
          {% trans "Help solve the problem." %}
        </h3>
        <p class='body tw-mb-0'>
          {% blocktrans with url="/blog/mozilla-crowdsourcing-research-youtube-recommendations" trimmed %}
          RegretsReporter isn’t just a product — it’s also part of Mozilla’s ongoing research and advocacy into harmful
          recommendation algorithms. You can choose to participate in Mozilla’s research, which provides vital insight into
          whether YouTube recommendations can actually be tamed. (Mozilla initially launched RegretsReporter <a href="{{url}}" target="_blank">in September 2020</a>,
          granting users the ability to flag harmful recommendations. That functionality still remains in this updated version of
          the extension.)
          {% endblocktrans %}
        </p>
      </div>
    </div>  
  </div>
{% endblock %}
