{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags card_tags wagtailmetadata_tags multi_image_tags %}

{% block body_id %}youtube-regrets{% endblock %}
{% block extended_head %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Changa" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="intro-viewport">
  <div class="scene-container">
    <div class="scene">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
    </div>
    <div class="scene">
      {% for image in page.intro_images %}
      <div class="block">
        {% image image.value.image width-500 class="mb-3" alt=image.value.altText %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="intro-text-container">
    <div class="intro-text">
      {% for text in page.intro_text %}
      <p>{{text}}</p>
      {% endfor %}
    </div>
  </div>

</div>

<main class="container">
  <div class="row hidden-md-up my-3">
    <div class="col-12">
      <div class="share-button-group-wrapper" data-version="mini" data-share-text="{{page.title}} by @mozilla" data-link="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"></div>
    </div>
  </div>

  {% if page.faq != None %}
  <div class="row my-3 my-md-5">
    <div class="offset-md-2 col-md-8">
      {{ page.faq }}
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="offset-md-1 col-md-1 text-center pb-md-5 hidden-sm-down">
      <div class="sticky-side">
        <div class="share-button-group-wrapper" data-version="mini" data-layout="stacked" data-share-text="{{page.title}} by @mozilla" data-link="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"></div>
      </div>
    </div>
    <div class="col-md-8">
      {% for block in page.regret_stories %}
      {% include_block block with index=forloop.counter %}
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}

{% block footer_block %}
{% include "partials/footer.html" with skip_donate=True %}
{% endblock %}
