{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags card_tags wagtailmetadata_tags multi_image_tags i18n static %}

{% block body_id %}youtube-regrets-reporter{% endblock %}

{% block extended_head %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">
{% endblock %}

{% block content %}
{% with firefox_download_link="https://sites.google.com/mozillafoundation.org/regrets-reporter-staff-test/" chrome_download_link="https://sites.google.com/mozillafoundation.org/regrets-reporter-staff-test/" %}
<div class="youtube-regrets-intro-viewport">
  <div class="scene-container">
    <div class="scene">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
    </div>
    <div class="scene">
      {% for image in page.intro_images %}
      <div class="block">
        {% image image.value.image width-500 class="mb-3" alt=image.value.altText %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="intro-text-container">
    <div class="intro-text">
      {% for text in page.intro_text %}
      <p>{{text}}</p>
      {% endfor %}
    </div>
    <div class="intro-stationary-wrapper dark-theme">
      <p class="body-large">Download RegretsReporter today.</p>
      <div>
        <a class="btn btn-primary btn-download btn-firefox-download mr-md-3" href="{{firefox_download_link}}" target="_blank">Add to Firefox</a>
        <a class="btn btn-primary btn-download btn-chrome-download mt-2 mt-md-0" href="{{chrome_download_link}}" target="_blank">Add to Chrome</a>
      </div>
    </div>
  </div>

  <figure class="scroll-hint text-center d-none">
    <img src="{% static "_images/youtube-regrets/scroll.svg" %}" width="28" height="85" />
    <figcaption>{% trans "Scroll" %}</figcaption>
  </figure>
</div>

<main>
  <div class="container">
    <div class="row section-how-it-works py-5">
      <div class="offset-md-2 col-md-8 dark-theme text-center">
        <h2 class="font-changa">{% trans "How it Works" %}</h2>
        <p>{% trans "When you send a YouTube regret, the video and recommendations that led you to it are submitted anonymously to Mozilla researchers." %}</p>
      </div>
      <div class="col-12">
        <div class="row steps">
          <div class="col-md-4">
            <img src="{% static "_images/youtube-regrets/regrets-reporter/how-it-works-step1.png" %}" />
            <p class="d-flex flex-column align-items-center">
              <span class="step-number my-4">1</span>
              Click the frowning extension icon in the browser bar
            </p>
          </div>
          <div class="col-md-4">
            <img src="{% static "_images/youtube-regrets/regrets-reporter/how-it-works-step2.png" %}" />
            <p class="d-flex flex-column align-items-center">
              <span class="step-number my-4">2</span>
              Report the video and recommendations that led you to it
            </p>
          </div>
          <div class="col-md-4">
            <img src="{% static "_images/youtube-regrets/regrets-reporter/how-it-works-step3.png" %}" />
            <p class="d-flex flex-column align-items-center">
              <span class="step-number my-4">3</span>
              Send any extra details you would like Mozilla to know
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-5 section-with-regrets-reporter">
      <div class="offset-md-2 col-md-8 offset-xl-2 col-xl-8">
        <p class="h2-heading">With the RegretsReporter extension, you can immediately take action to report recommended videos that you regret watching—like pseudoscience or anti-LGBTQ+ content.</p>
        <p>
          The report form will ask you to tell us more about your YouTube Regret and collect information about the recommendations that led you to the video. By sharing your experiences, you can help us answer questions like: what kinds of recommended videos do users regret watching? Are there usage patterns that lead to more regrettable content being recommended? What does a YouTube rabbit hole look like, and at what point does it become something you wish you never clicked on?
        </p>
      </div>
    </div>

    <div class="row py-5 section-newsletter">
      <hr class="offset-md-2 col-md-8">
      <div class="col-12">
        <div
          class="join-us py-5"
          data-form-position="youtube-regrets-reporter"
          data-button-position="side"
          data-layout="2-column"
          data-cta-header="To stay updated on this campaign and our other work, sign up for Mozilla’s newsletter."
          data-cta-description=""
        >
        </div>
      </div>
      <hr class="offset-md-2 col-md-8">
    </div>

    <div class="row py-5 text-center">
      <div class="offset-md-1 col-md-10">
        <p class="h1-heading font-changa">Let's work together to make recommendation engines on the internet more trustworthy.</p>
      </div>
    </div>

    <div class="row py-5 text-center section-articles">
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <p class="h6-heading mb-1">Mozilla</p>
        <a class="d-block" href="" target="_blank">28 Reasons Why YouTube Must Change</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <p class="h6-heading mb-1">The New York Times</p>
        <a class="d-block" href="" target="_blank">Can YouTube Quiet Its Conspiracy Theorists?</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <p class="h6-heading mb-1">MIT Tech Review</p>
        <a class="d-block" href="" target="_blank">YouTube’s algorithm seems to be funneling people to alt-right videos</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <p class="h6-heading mb-1">Bloomberg</p>
        <a class="d-block" href="" target="_blank">YouTube Executives Ignored Warnings, Letting Toxic Videos Run Rampant</a>
      </div>
    </div>

    <div class="row py-5 section-for-years">
      <div class="col-12 col-md-5">
        <p class="body-large font-changa">For years, journalists, researchers, and even former YouTube employees have been telling YouTube that they need to stop their recommendation engine from sending users down racist, conspiratorial, and other regrettable rabbit holes.</p>
      </div>
      <div class="col-12 col-md-7">
        <p>YouTube <a href="">(NEED LINK)claims</a> to be fixing this problem, but it’s all happening behind closed doors, without any way for the public to tell if it’s actually working. Last year, Mozilla told YouTube three simple ways to address this problem in a more open and transparent way. So far, YouTube has not answered that call.</p>
        <p><strong>That’s where you come in. Mozilla’s RegretsReporter browser extension transforms everyday YouTube users into YouTube watchdogs.</strong> We can use our own data to answer questions about regrettable recommendations that can go a long way towards helping journalists who investigate these problems, other groups like Mozilla who push for more accountability, and engineers and designers who build this technology. </p>
      </div>
      <div class="col-12 py-5 text-center">
        <a class="btn btn-primary btn-download btn-firefox-download mr-md-3" href="{{firefox_download_link}}" target="_blank">Add to Firefox</a>
        <a class="btn btn-primary btn-download btn-chrome-download mt-2 mt-md-0" href="{{chrome_download_link}}" target="_blank">Add to Chrome</a>
      </div>
    </div>
  </div>

  <div class="section-timeline dark-theme py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="offset-xl-2 col-xl-8">
          <h2 class="font-changa">{% trans "About Mozilla" %}</h2>
          <p>{% trans "Mozilla is fueling the movement for a healthy internet and trustworthy AI. We do that through projects like this, which hold companies accountable when their AI harms people. We’ve been pushing YouTube to address its recommendation problem for almost a year. Below, find a timeline of Mozilla’s work on this issue." %}</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="h2-heading text-center">{% trans "A timeline of Mozilla’s work on this issue" %}</h3>
        </div>
      </div>
    </div>
    <div class="timeline-wrapper">
      <ol class="timeline">
        <li class="segment">
          <h4>{% trans "July 2019" %}</h4>
          <p>Mozilla awards Guillaume Chaslot, a former YouTube engineer, a fellowship to support his work investigating AI systems, including the impacts of YouTube’s recommendation engine.</p>
        </li>
        <li class="segment">
          <h4>{% trans "August 7, 2019" %}</h4>
          <p>Mozilla <a href="https://foundation.mozilla.org/en/blog/youtubes-recommendations/" target="_blank">announced</a> our intentions to investigate YouTube’s harmful recommendations, and to begin a dialogue with the company about making improvements.
          </p>
        </li>
        <li class="segment">
          <h4>{% trans "August 14, 2019" %}</h4>
          <p>Mozilla <a href="https://foundation.mozilla.org/en/blog/what-can-you-trust-internet/" target="_blank">published</a> a reading list for our community detailing the ways recommendation AI — including YouTube’s — can manipulate consumers.
          </p>
        </li>
        <li class="segment">
          <h4>September 3, 2019</h4>
          <p>Mozilla <a href="https://foundation.mozilla.org/en/blog/answers-your-questions-about-dark-side-internet/" target="_blank">hosted</a> a Q&A with a teenager who was radicalized online, partially due to YouTube’s recommendation AI.</p>
        </li>
        <li class="segment">
          <h4>{% trans "September 10, 2019" %}</h4>
          <p>Mozilla <a href="https://foundation.mozilla.org/en/blog/youtube-regrets/" target="_blank">launched</a> its #YouTubeRegrets campaign, urging users to share stories about harmful recommendations they encounter.</p>
        </li>
        <li class="segment">
          <h4>{% trans "October 14, 2019" %}</h4>
          <p>After meeting with YouTube staff, Mozilla <a href="https://foundation.mozilla.org/en/blog/our-recommendation-youtube/" target="_blank">published</a> three concrete actions the platform could take to help address its recommendation problem. These changes entail making YouTube’s recommendation data more transparent.</p>
        </li>
        <li class="segment">
          <h4>{% trans "October 15, 2019" %}</h4>
          <p>Mozilla <a href="https://foundation.mozilla.org/en/blog/28-reasons-why-youtube-must-change/" target="_blank">published</a> findings from our #YouTubeRegrets research, highlighting how users are recommended anti-science content, anti-LGBT content, and other harmful videos.</p>
        </li>
        <li class="segment">
          <h4>{% trans "October 26, 2019" %}</h4>
          <p>At MozFest 2020, Mozilla <a href="https://www.mozillafestival.org/en/speakers/2019/algorithmic-gaze/" target="_blank">hosted</a> “The Algorithmic Gaze,” a panel exploring the dangers of untrustworthy AI like YouTube’s recommendation engine.</p>
        </li>
        <li class="segment">
          <h4>{% trans "December 25, 2019" %}</h4>
          <p>Mozilla <a href="https://foundation.mozilla.org/en/blog/congratulations-youtube-now-show-your-work/" target="_blank">published</a> a running list of YouTube’s deflections, denials, and misdirections related to its recommendation problem.</p>
        </li>
        <li class="segment">
          <h4>{% trans "September 2020" %}</h4>
          <p>Mozilla launches the RegretsReporter browser extension to more deeply interrogate YouTube’s recommendation problem.</p>
        </li>
      </ol>
      <div class="control-next">
        <button class="btn btn-timeline-next"><span class="sr-only">next</span></button>
      </div>
    </div>
  </div>
</main>
{% endwith %}
{% endblock %}

{% block footer_block %}
{% include "partials/footer.html" %}
{% endblock %}
