{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags wagtailmetadata_tags custom_image_tags i18n static %}

{% block body_id %}youtube-regrets-reporter{% endblock %}
{% block bodyclass %}has-regrets-intro{% endblock %}

{% block extended_head %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa&Zilla+Slab" rel="stylesheet">
{% endblock %}

{# Empty header; Do not add <header role="banner"> to the page #}
{% block header_wrapped %}{% endblock %}

{% block content_wrapped %}
<div class="youtube-regrets-intro-viewport">
  <div class="scene-container">
    <div class="scene">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
    </div>
    <div class="scene">
      {% for image in page.intro_images %}
      <div class="block">
        {% image image.value.image width-500 class="mb-3" alt=image.value.altText %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="intro-text-container">
    <div class="intro-text">
      {% for text in page.intro_text %}
      <p>{{text}}</p>
      {% endfor %}
    </div>
    <div class="intro-stationary-wrapper">
      {% block intro_stationary_wrapper %}
      {% endblock %}
    </div>
  </div>

  <figure class="scroll-hint text-center d-none">
    <svg height="85" width="28" xmlns="http://www.w3.org/2000/svg"><path d="m13.638 41.052c-6.704 0-12.138-5.435-12.138-12.139v-15.275c0-6.704 5.434-12.138 12.14-12.138 6.703 0 12.138 5.434 12.138 12.138v15.275c0 6.704-5.435 12.14-12.139 12.14zm0-32.752v7.09m0 36.167v27.5m7.198-3.599-7.197 7.197-7.198-7.197" fill="none" stroke="#ea0b12" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg>
    <figcaption>{% trans "Scroll" %}</figcaption>
  </figure>
</div>

<main role="main">
  {% block main %}
  {% endblock %}
</main>
{% endblock %}


{% block footer_block %}
{% include "partials/footer.html" %}
{% endblock %}
