//-
  This template is used to generate a base template for usage with Django templates
  `npm build` will compile this to `/network-api/networkapi/templates/pages/base-compiled.html`

extends ../templates/master.pug

block masterParams
  - let isMezzanine = true
  - let pageTitle = `{{ page.meta_title }}`;

block socialMetadata
  | {% block socialMetadata %}{% endblock %}

block memberNotice
  //- Show warning if pages are a Mezzanine draft.
  | {% if page.status == 1 %}<div><strong>Draft preview.</strong> You must save as Published to make it public.</div>{% endif %}

block heroGuts
  | {% block heroGuts %}{% endblock %}

block content
  | {% block content %}{% endblock %}
