@import "donation-modal.scss";

.form-label-group {
  position: relative;
  cursor: text;

  input,
  label {
    font-size: 1.25rem;
    padding: 1rem 0.75rem;
    margin: 0;
  }

  .form-control {
    color: $black;
    height: auto;
  }

  input ~ label {
    display: none;
  }

  textarea ~ label {
    display: none;
  }

  input:placeholder-shown ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:placeholder-shown ~ label,
  textarea:not(:placeholder-shown) ~ label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    opacity: 0.43;
    font-weight: 300;
    pointer-events: none;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
  }

  input:placeholder-shown,
  input:not(:placeholder-shown),
  textarea:placeholder-shown,
  textarea:not(:placeholder-shown) {
    &::placeholder {
      opacity: 0;
    }
  }

  input:not(:placeholder-shown),
  textarea:not(:placeholder-shown) {
    padding-bottom: 0.4rem;
    padding-top: 1.6rem;
  }

  input:not(:placeholder-shown) ~ label,
  textarea:not(:placeholder-shown) ~ label {
    font-size: 0.75rem;
    padding-top: 0.5rem;
    font-weight: 400;
  }

  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 26px);
    font-size: 1.25rem;
    padding: 1rem 0.75rem;
    margin: 0;

    & option {
      font-size: 1.25rem;
      padding: 1rem 0.75rem;
      margin: 0;
    }
  }
}

.petition-form {
  .form-check {
    .form-control-feedback {
      margin-left: -$form-check-input-gutter;
    }
  }

  .has-danger {
    .form-control-feedback {
      color: $danger;

      @at-root .dark-theme & {
        color: $dark-theme-danger;
      }
    }

    .form-control {
      border: 1px solid $danger;

      @at-root .dark-theme & {
        border-color: $dark-theme-danger;
      }
    }
  }
}
