@import 'donation-modal.scss';

#cta-anchor {
  margin-top: -80px;
  padding-top: 80px;
}

.cta {
  .sticky-cta {
    position: sticky;
    top: 5rem;
    z-index: 1029; /* we need a z-index due to the header also being sticky, our header is 1030 (bootstrap) */
    overflow: hidden;
  }

  .narrow-sticky-button-container {
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    border-top: 1px solid #ccc;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: margin-bottom 0.3s ease-in-out;

    &.hidden {
      margin-bottom: -308px;
      visibility: hidden;
      pointer-events: auto;
      transition: margin-bottom 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;
    }

    @media (min-width: $bp-lg) {
      display: none;
    }

    .narrow-sticky-button {
      width: 100%;
      background: #ffed00;
      color: #000;

      &:hover {
        background: #e7c121;
      }
    }
  }
}

.form-label-group {
  position: relative;
  cursor: text;

  input,
  label {
    font-size: 1.25rem;
    padding: 1rem 0.75rem;
    margin: 0;
  }

  .form-control {
    color: #000;
  }

  input ~ label {
    display: none;
  }

  textarea ~ label {
    display: none;
  }

  input:placeholder-shown ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:placeholder-shown ~ label,
  textarea:not(:placeholder-shown) ~ label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    opacity: 0.43;
    font-weight: 300;
    pointer-events: none;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
  }

  input:placeholder-shown,
  input:not(:placeholder-shown),
  textarea:placeholder-shown,
  textarea:not(:placeholder-shown) {
    &::placeholder {
      color: transparent;
    }
  }

  input:not(:placeholder-shown),
  textarea:not(:placeholder-shown) {
    padding-bottom: 0.4rem;
    padding-top: 1.6rem;
  }

  input:not(:placeholder-shown) ~ label,
  textarea:not(:placeholder-shown) ~ label {
    font-size: 0.75rem;
    padding-top: 0.5rem;
    font-weight: 400;
  }

  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 26px);
    font-size: 1.25rem;
    padding: 1rem 0.75rem;
    margin: 0;

    & option {
      font-size: 1.25rem;
      padding: 1rem 0.75rem;
      margin: 0;
    }
  }
}
