.moz-logo {
  background-image: url("../_images/mozilla-m.svg");
  flex-shrink: 0;
  width: 28px;
  height: 28px;

  @media (min-width: $nav-full-logo-breakpoint) {
    width: 97px;
    background-image: url("../_images/mozilla-on-black.svg");
  }
}

.primary-nav-container {
  .menu-container {
    position: relative;
    z-index: $pni-primary-nav-container-z-index;
  }
}

#nav-newsletter-form-wrapper {
  &.faded-in {
    position: relative;
    z-index: $pni-primary-nav-container-z-index;
  }
}

.logo-section {
  .tw-h3-heading {
    font-size: 13px;
    font-weight: 600;
    max-width: 85px;

    @media (min-width: $pni-primary-nav-breakpoint) {
      font-size: 22px;
      max-width: none;
    }
  }

  a.link-back {
    color: inherit;
    text-decoration: none;
  }
}

#nav-newsletter-form-wrapper.expanded {
  z-index: 11; /* this element needs to overlay header.scss's ".category-nav", which has z-index: 10 */
}
