.moz-logo {
  background-image: url("../_images/mozilla-on-black.svg");
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 40px;
  height: 12px;

  @media (min-width: $bp-lg) {
    width: 62px;
    height: 18px;
  }
}

.primary-nav-container {
  .menu-container {
    position: relative;
    z-index: $pni-primary-nav-container-z-index;
  }
}

#nav-newsletter-form-wrapper {
  &.faded-in {
    position: relative;
    z-index: $pni-primary-nav-container-z-index;
  }
}

.logo-section {
  a.link-back {
    color: inherit;
    text-decoration: none;
  }
}

#nav-newsletter-form-wrapper.expanded {
  z-index: 11; /* this element needs to overlay header.scss's ".category-nav", which has z-index: 10 */
}
