$radio-button-radius: 50px;
$btn-shadow-width: 3px;

#creep-vote-btn {
  &:hover {
    @media (hover: none) {
      &:hover {
        background: initial;
        color: initial;
        cursor: initial;
        text-decoration: initial;
      }
    }
  }
}

// #creep-vote targets the <form>
#creep-vote {
  &:invalid {
    button[type="submit"] {
      @extend .btn.disabled; // we want it to have Bootstrap's .btn.disabled stylings

      color: $gray-20;

      &.btn-secondary:hover {
        cursor: auto;
        color: inherit;
        background: inherit;
      }
    }
  }

  input[name="wouldbuy"] {
    transition: all 0.1s ease-in-out;

    &:checked + span {
      background: $black;
      color: $white;
    }
  }
}

.creep-vote {
  .btn.btn-close-sign-up {
    color: inherit;
    text-transform: none;
    font-weight: 700;
    font-size: 12px;
    border: none;
    padding: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: center right/10px 10px url(../_images/buyers-guide/icon-x.svg)
      no-repeat transparent;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;

    label {
      flex: 1;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .likely-glyph {
      border-right-width: 0;
    }

    input {
      display: none;
    }

    img {
      height: 1em;
    }
  }

  .help-text {
    font-style: italic;
  }

  .form-control {
    color: $black;
    border-color: $black;
  }

  .btn-dismiss {
    @include hover-focus-active {
      background-color: $gray-60;
    }

    background-color: $gray-40;
  }
}
