#creep-vote-btn {
  &:hover {
    @media (hover: none) {
      &:hover {
        background: initial;
        color: initial;
        cursor: initial;
        text-decoration: initial;
      }
    }
  }
  &:disabled {
    box-shadow: none !important;
    transition: 1s;
  }
}

.creep-vote {
  .btn.btn-close-sign-up {
    color: inherit;
    text-transform: none;
    font-weight: 700;
    font-size: 12px;
    border: none;
    padding: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: center right/10px 10px url(../_images/buyers-guide/icon-x.svg)
      no-repeat transparent;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .help-text {
    font-style: italic;
  }

  .form-control {
    color: $black;
    border-color: $black;
    background-color: transparent;
  }

  .btn-dismiss {
    @include hover-focus-active {
      background-color: $gray-60;
    }

    background-color: $gray-40;
  }
}
