$radio-button-radius: 50px;
$btn-shadow-width: 3px;

#creep-vote-btn {
  &:hover {
    @media (hover: none) {
      &:hover {
        background: initial;
        color: initial;
        cursor: initial;
        text-decoration: initial;
      }
    }
  }
}

#creep-vote {
  &:invalid {
    button[type="submit"] {
      color: #bbb;

      &.btn-ghost:hover {
        cursor: auto;
        color: inherit;
        background: inherit;
      }
    }

    &.submit-attempted {
      input[name="wouldbuy"]:invalid {
        + span {
          animation: wiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  input[name="wouldbuy"] {
    transition: all 0.1s ease-in-out;

    &:hover + span,
    &:checked + span {
      background: $blue;
    }
  }

  @keyframes wiggle {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

.creep-vote {
  .btn-group {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;

    label {
      flex: 1;
    }

    .btn {
      border: 1px solid black;
      border-bottom-width: $btn-shadow-width;
      color: black;
      text-transform: initial;
      transition: all 0.1s linear;
      width: 100%;
    }

    input { display: none; }

    label:first-of-type span {
      border-radius: $radio-button-radius 0 0 $radio-button-radius;
    }

    label:last-of-type span {
      border-radius: 0 $radio-button-radius $radio-button-radius 0;
    }

    img {
      height: 1em;
    }
  }

  .help-text {
    font-style: italic;
  }

  a.share-results {
    text-decoration: underline;
    color: black;

    &:hover {
      color: $dark-blue;
      font-weight: bold;
    }
  }
}
