.social-login {
	font-size: 1rem;
	text-align: center;
}
.social-login p {
	margin: 1em;
}

.social-login  p + p {
	margin-top: 2em;
}

.login #content-main {
	margin-top: 0;
}

.google-login-button,
.google-login-button:active,
.google-login-button:visited {
    width: 17em;
    background: #a2d4e3;
    margin: auto;
    font-size: 1.5em;
    line-height: 1;
    padding: 0.3em;
    color: #555;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 1em;
}

.admin-login-blue {
    color: #0095d1;
    cursor: pointer;
}
button.admin-login-blue {
	color: #0095d1;
	cursor: pointer;
    border: none;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
    font-variant: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    display: inline;
}
button.admin-login-blue:active,
button.admin-login-blue:hover {
    color: #0095d1;
    background: inherit;
}

.admin-access h2 {
  	text-align: center;
  	margin-bottom: 2em;
}

.admin-access .submit-row input {
	width: 100%;
}

.login-addenda {
    text-align: center
}

.return-to-google {
    margin-top: 2em;
}