{% extends "pages/base.html" %}
{% load wagtailcore_tags %}

{% block body_id %}youtube-regrets-2022{% endblock %}
{% block bodyclass %}youtube-regrets-2022 youtube-regrets-shared{% endblock %}

{% block extended_head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@600;700&display=swap" rel="stylesheet">
{% endblock %}

{# Empty header; Do not add <header role="banner"> to the page #}
{% block header_wrapped %}{% endblock %}

{% block content_wrapped %}
  <main role="main">
    {% block main %}
      <div class="transition-bg">
        {% include './fragments/hero.html' %}

        {% include './fragments/intro.html' %}

        {% include './fragments/stats.html' %}

        {% include './fragments/we_found_section.html' %}

        {% include './fragments/trial_and_error.html' %}
      </div>
    {% endblock %}
  </main>
{% endblock %}


{% block footer_block %}
  {% include "partials/footer.html" %}
{% endblock %}
