{% load i18n %}

<div>
    <!-- ShareProgress button embedding doc:
        https://shareprogress-kb-05152019.groovehq.com/help/how-can-i-embed-my-share-buttons-in-my-template
    -->

	{% if cta.share_twitter %}
	<div id="share-progress-tw" class='{{cta.share_twitter}} sp_tw_small d-none'></div>
	{% endif %}

	{% if cta.share_facebook %}
	<div id="share-progress-fb" class='{{cta.share_facebook}} sp_fb_small d-none'></div>
	{% endif %}

	{% if cta.share_email %}
	<div id="share-progress-em" class='{{cta.share_email}} sp_em_small tw-hidden'></div>
	{% endif %}

	<div
		class="sign-petition tw-w-full tw-mb-12"
        data-petition-id="{{ cta.id }}"
        data-cta-slug="{{ page.slug }}"
        data-cta-name="{{ cta.name }}"
        data-cta-header="{{ cta.header | escape }}"
        data-cta-description="{{ cta.description | escape }}"
        data-requires-country-code="{{ cta.requires_country_code }}"
        data-requires-postal-code="{{ cta.requires_postal_code }}"
        data-comment-requirements="{{ cta.comment_requirements }}"
        data-newsletter="{{ cta.newsletter }}"
        data-checkbox1="{{ cta.checkbox_1 | escape }}"
        data-checkbox2="{{ cta.checkbox_2 | escape }}"
        data-share-link="{{ cta.share_link }}"
        data-share-text="{{ cta.share_link_text }}"
        data-thank-you="{{ cta.thank_you }}"
        data-modals="{{ modals_json }}"
	>{% trans "Loading form…" %}</div>

    <script src="https://c.shpg.org/352/sp.js"></script>
</div>
