{% load i18n l10n wagtailcore_tags static %}

{% get_current_language as LANGUAGE_CODE %}
<div>
    <!-- ShareProgress button embedding doc:
        https://shareprogress-kb-05152019.groovehq.com/help/how-can-i-embed-my-share-buttons-in-my-template
-->
    {% if cta.share_twitter %}
        <div id="share-progress-tw"
             class='{{ cta.share_twitter }} sp_tw_small d-none'></div>
    {% endif %}
    {% if cta.share_facebook %}
        <div id="share-progress-fb"
             class='{{ cta.share_facebook }} sp_fb_small d-none'></div>
    {% endif %}
    {% if cta.share_email %}
        <div id="share-progress-em"
             class='{{ cta.share_email }} sp_em_small tw-hidden'></div>
    {% endif %}
    {% if not show_formassembly_thank_you %}
        <h5 class="tw-h5-heading">{{ cta.header | escape }}</h5>
        {{ cta.description | richtext }}
        <p class="label tw-body-small tw-italic tw-my-4">
            {% blocktrans %} * indicates a required field {% endblocktrans %}
        </p>
        {% comment %}
            tfa_* refers to the name of the FormAssembly field.
            We are inncluding tfa_* in the variable name to make it clear where the value should be plugged in.
            For field name reference, see https://mozillafoundation.tfaforms.net/forms/definition/9
        {% endcomment %}

        {% include "../../fragments/formassembly_body.html" with csp_nonce=csp_nonce show_country_field=cta.show_country_field show_postal_code_field=cta.show_postal_code_field show_comment_field=cta.show_comment_field campaign_id_tfa_1=cta.campaign_id source_url_tfa_498=source_url lang_tfa_499=LANGUAGE_CODE thank_you_url_tfa_500=thank_you_url %}

        <link rel="stylesheet" href="{% static "_css/formassembly-override.compiled.css" %}">
    {% else %}
        <div class="formassembly-petition-thank-you"
             data-cta-slug="{{ page.slug }}"
             data-campaign-id="{{ cta.campaign_id }}"
             data-sp-twitter="{{ cta.share_twitter }}"
             data-sp-facebook="{{ cta.share_facebook }}"
             data-sp-email="{{ cta.share_email }}"
             data-share-link="{{ cta.share_link }}"
             data-share-text="{{ cta.share_link_text }}"
             data-thank-you="{{ cta.thank_you }}"
             data-modals="{{ modals_json }}"></div>
    {% endif %}
    <script src="https://c.shpg.org/352/sp.js"></script>
</div>
