{% extends "pages/buyersguide/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block category_nav %}{% endblock category_nav %}

{% block hero %}
  {% if page.hero_image %}
    {% image page.hero_image max-200x200 %}
  {% endif %}
{% endblock hero %}

{% block guts %}
  <h1>{{ page.title }}</h1>
  <ul>
    {% for author in page.authors.all %}
      <li>{{ author.author.name }}</li>
    {% endfor %}
  </ul>
  <div>
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
  </div>
{% endblock guts %}
