{% extends "pages/buyersguide/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block category_nav %}{% endblock category_nav %}

{% block hero %}
  {% if page.hero_image %}
    {% image page.hero_image max-200x200 %}
  {% endif %}
{% endblock hero %}

{% block guts %}
  <ul>
    {% for content_category_relation in page.content_category_relations.all %}
      <li>{{ content_category_relation.content_category.title|title }}</li>
    {% endfor %}
  </ul>
  <h1>{{ page.title }}</h1>
  <ul>
    {% for author_profile_relation in page.author_profile_relations.all %}
      <li>{{ author_profile_relation.author_profile.name }}</li>
    {% endfor %}
  </ul>
  <div>
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
  </div>
{% endblock guts %}
