{% extends "pages/base.html" %}

{% load bg_nav_tags localization i18n static wagtailroutablepage_tags wagtailmetadata_tags debug_tags mofo_common %}

{% get_current_language as lang_code %}

{% block page_title %}
    {% environment_prefix %}
    {# if routable page #}
    {% if pageTitle %}
        {{ pageTitle }}
    {# if custom seo_title for a wagtail page #}
    {% elif page.seo_title %}
        {{ page.seo_title }}
    {# default to page.title #}
    {% else %}
        {% trans "*Privacy Not Included" context "*Privacy Not Included can be localized. This is a reference to the “*batteries not included” mention on toys." %} | {{ page.title }} | {% trans "Mozilla Foundation" %}
    {% endif %}
{% endblock %}

{# TODO: consider using a different ga_identifier? #}


{% block social_metadata %}
    <meta property="og:type" content="website">
    <meta property="og:locale" content="{{ lang_code|to_opengraph_locale }}">
    <meta property="og:title" content="{% trans "*Privacy Not Included: A Buyer’s Guide for Connected Products" context "*Privacy Not Included can be localized. This is a reference to the “*batteries not included” mention on toys." %}">
    <meta property="wagtail:language" content="{{ lang_code }}">
{% endblock %}


{% block wagtail_metadata %}
    {% meta_tags %}
    <meta name="pni-home-title" content="{% blocktrans context "“*Privacy Not Included” can be localized. This is a reference to the “*batteries not included” mention on toys." %}*Privacy Not Included | Shop smart and safe | Mozilla Foundation{% endblocktrans %}">
    <meta name="pni-category-title" content="{% trans "Privacy & Security Guide | Mozilla Foundation" %}">
{% endblock %}


{% block stylesheets %}
    {% if debug %}<link rel="stylesheet" href="{% static "_css/tailwind.compiled.css" %}">{% endif %}
    <link rel="stylesheet" href="{% static "_css/buyers-guide.compiled.css" %}">
    <link rel="stylesheet" href="{% static "_css/fonts.compiled.css" %}">
{% endblock %}

{% block extended_head %}{% endblock %}

{% block icons %}
    {% include "fragments/favicons.html" %}
{% endblock %}


{% block additional_head_elements %}
    {% if web_monetization_pointer %}
        <meta name="monetization" content="{{ web_monetization_pointer }}">
    {% endif %}
    <!-- TODO: determine if we still need this -->
    <script nonce="{{ request.csp_nonce }}">
        var modernBrowser = (
            'fetch' in window &&
            'assign' in Object
        );

        if ( !modernBrowser ) {
            var scriptElement = document.createElement('script');
            scriptElement.async = false;
            scriptElement.src = '{% static "_js/polyfills.compiled.js" %}';
            document.head.appendChild(scriptElement);
        }
    </script>
{% endblock %}


{% block bodyclass %}pni{% endblock %}


{% block script_bundle %}
    <script src="{% url "javascript-catalog" %}"></script>
    <script src="{% static "_js/bg-main.compiled.js" %}" async defer></script>
{% endblock %}

{% block donate_banner %}{% endblock %}

{% block body_wrapped %}

    {% get_bg_home_page as home_page %}

    {% bg_categories_in_subnav as categories %}

    <div class="primary-nav-container-wrapper">
        {% include "fragments/buyersguide/primary_nav.html" %}
    </div>

    {% block nav_search_wrapper %}
        <div id="pni-mobile-nav-search-wrapper" class="tw-border-b tw-border-blue-10 medium:tw-border-b-0">
            {% include "fragments/buyersguide/pni_mobile_nav.html" with pagetype=pagetype categories=categories current_category=current_category %}
            {% include 'fragments/buyersguide/pni_mobile_search.html' %}
        </div>
    {% endblock %}

    {% block category_nav %}
        {% include "fragments/buyersguide/pni_category_nav.html" with show_all_reviews_as_active_category=False current_category=current_category %}
    {% endblock %}

    <!-- Need to position relatives to deal with potential CSS transformations that change some stacking context of elements -->
    <div class="tw-relative">
        <div class="tw-relative tw-z-10">
            {% block hero %}{% endblock %}

            {% block category_header %}{% endblock %}

            <main class="main-content {% block main_content_class %}pb-5{% endblock %}">
                {% block guts %}{% endblock %}
            </main>
        </div>

        {% block background_parallax %}
        {% endblock %}
        <div class="tw-relative tw-z-10">
            {% include "fragments/buyersguide/footer.html" %}
        </div>
    </div>


{% endblock %}
