{% extends "pages/buyersguide/catalog.html" %}
{% load static i18n wagtailcore_tags %}

{% block body_id %}{{ category.slug }}{% endblock %}

{% block guts %}
  {{ block.super }}

  {% for category in categories  %}
    {% with related_articles=category.related_article_relations.related_items  %}
      {% if related_articles %}
        <div
          class="
            {% if category != current_category %}
              d-none
            {% endif %}
            tw-pl-5
          "
        >
          <h2>({{ category.name }})</h2>

          <div class="tw-m-4">
            {% include "fragments/buyersguide/related_reading.html" with articles=category.get_primary_related_articles all_articles="True" %}
          </div>

          <p class="tw-mt-5"> Secondary articles (Last 3 of list of 6)</p>
          <h3> What to read next: </h3>
          <ul>
            {% for article in category.get_secondary_related_articles %}
              <li><a href="{% pageurl article %}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endblock guts %}
