{% extends "pages/buyersguide/base.html" %}
{% load i18n localization static wagtailcore_tags wagtailimages_tags %}

{% block category_nav %}{% endblock category_nav %}

{% block guts %}
  <div class="tw-container tw-my-6">
    <h1>{{ page.title }}</h1>

    {# Content wrapper #}
    <div class="tw-grid tw-grid-cols-12 large:tw-gap-x-4">

      {# Index wrapper #}
      <div class="tw-col-span-12 large:tw-col-span-8">
        {% if items %}
          <ul id="items-list" class="tw-flex tw-flex-col tw-list-none tw-p-0 tw-divide-y tw-divide-gray-20">
            {% include "fragments/buyersguide/editorial_content_index_items.html" with index_page=page items=items %}
          </ul>
        {% endif %}

        {% include "fragments/buyersguide/pni_newsletter_box.html" %}
      </div>

      {# Aside #}
      <aside class="tw-col-span-12 large:tw-col-span-4">
        {% with related_articles=page.get_related_articles  %}
          {% if related_articles %}
            <div class="tw-m-4">
              {% include "fragments/buyersguide/related_reading.html" with articles=related_articles %}
            </div>
          {% endif %}
        {% endwith %}

        {% with cta=featured_cta %}
          {% if cta %}
            {% include "fragments/buyersguide/call_to_action_box.html" with icon=cta.sticker_image heading=cta.title body=cta.content link_text=cta.link_label link_href=cta.get_target_url %}
          {% endif %}
        {% endwith %}
      </aside>
    </div>
  </div>
{% endblock guts %}

{% block extra_scripts %}
  {{ block.super }}
  <script src="{% static "_js/bg-editorial-content-index.compiled.js" %}" async defer></script>
{% endblock extra_scripts %}
