{% extends "pages/buyersguide/catalog.html" %}
{% load wagtailcore_tags %}

{% block body_id %}home{% endblock %}

{% block hero %}
  {{ block.super }}

  {% with hero_featured_article=page.hero_featured_article %}
    {% if hero_featured_article %}
      <div>
        <h2 class="tw-h1-heading">
          <a href=" {% pageurl hero_featured_article %}">{{ hero_featured_article.title }}</a>
        </h2>

        <div>
          By
          {% with author_profiles=hero_featured_article.author_profile_relations.related_items  %}
            {% if author_profiles %}
              <ul>
                {% for author_profile in author_profiles %}
                  <li>{{ author_profile.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% with hero_supporting_articles=page.hero_supporting_article_relations.related_items %}
    {% if hero_supporting_articles %}
      <div>
        <h2>{{ page.hero_supporting_articles_heading }}</h2>

        <ul>
          {% for article in hero_supporting_articles  %}
            <li><a href="{% pageurl article %}">{{ article.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <div class="tw-container tw-my-6">
      <div class="tw-row">
        {% with popular_articles=page.featured_article_relations.related_items  %}
          {% if popular_articles %}
            <div class="tw-px-4 tw-w-full large:tw-w-1/3">
              {% include "fragments/buyersguide/popular_articles.html" %}
            </div>
          {% endif %}
        {% endwith %}

        {% with product_updates=page.featured_update_relations.related_items  %}
          {% if product_updates %}
            <div class="tw-px-4 tw-w-full large:tw-w-1/3">
              <h2>In the press</h2>

              <ul>
                {% for update in product_updates %}
                  <li>
                    <div>
                      <strong>{{ update.title }}</strong>
                    </div>
                    <div>
                      <a href="{{ update.source }}">{{ update.author }}</a>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}

      </div>
  </div>

  {% endblock hero %}
