{% load adminsortable_tags admin_urls staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/adminsortable_objects_custom.css" %}">
{% endblock %}

<form>
    <input name="pk" type="hidden" value="{{ object.pk }}" />
    <div id="sortable-object">
        <a href="{% url opts|admin_urlname:'do_sorting' object.model_type_id %}" class="admin_sorting_url">
            {% if object.image %}
                <img class="instance-image" src="{{ object.image.url }}">
            {% else %}
                <img class="instance-image">
            {% endif %}
            <div class="sortable-object-content">
                <span>{{ object }}</span>
            </div>
        </a>
    </div>
</form>
