{% extends "./mozfest-base.html" %}
{% load wagtailcore_tags mofo_common %}

{% block mozfest_content_classes %}wide{% endblock mozfest_content_classes %}

{% block page_title %}
    {% environment_prefix %}
    {{ page.title }}
{% endblock page_title %}

{% block mozfest_body_id %}landing-page{% endblock mozfest_body_id %}
{% block bodyclass %}mozfest{% endblock bodyclass %}

{% block hero_guts %}
    {% include "partials/primary_hero.html" with page=page %}
{% endblock hero_guts %}

{% block bootstrap_width %}col-lg-12{% endblock bootstrap_width %}

{% block footer_block %}
    {% include "partials/mozfest_footer.html" %}
{% endblock footer_block %}
