{% extends "pages/base.html" %}
{% load static %}

{% block html_class %} tw-bg-black tw-scroll-smooth {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "_css/donate.compiled.css" %}">
    <link rel="stylesheet" href="{% static "_fonts/css/base.min.css" %}">
    {% if debug %}<link rel="stylesheet" href="{% static "_css/tailwind.compiled.css" %}">{% endif %}
{% endblock %}

{% block extended_head %}{% endblock %}

{% block icons %}
    {% include "fragments/favicons.html" %}
{% endblock %}

{% block hreflang %}
    {% include "fragments/canonical_url.html" %}
{% endblock %}

{% block org_schema %}{% endblock %}

{% block additional_head_elements %}{% endblock %}
{% if request.in_preview_panel %}
    <base target="_blank">
{% endif %}

{% block bodyclass %} donate tw-m-0 tw-font-sans tw-font-normal tw-text-base tw-font-normal tw-text-black tw-bg-white tw-scroll-smooth {% endblock %}

{% block donate_banner %}
    {% if settings.donate_banner.SiteDonateBanner.active_donate_banner %}
        {% include "fragments/donate_banner.html" with banner=settings.donate_banner.SiteDonateBanner.active_donate_banner.localized %}
    {% endif %}
{% endblock %}

{% block sticky_top_class %} tw-sticky tw-z-[1020] tw-top-0 {% endblock %}

{% block header_wrapped %}
{% endblock %}

{% block script_bundle %}
    <script src="{% url "javascript-catalog" %}"></script>
    <script src="{% static "_js/main.compiled.js" %}"></script>
{% endblock %}

