{% extends "pages/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block social_metadata %}
{% endblock %}

{% block rss_metadata %}{% endblock %}

{% block wagtail_metadata %}
{% endblock %}

{% block ga_identifier %}
{% endblock %}

{% block fundraiseup_script %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "_css/donate.compiled.css" %}">
    {% if debug %}<link rel="stylesheet" href="{% static "_css/tailwind.compiled.css" %}">{% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,300,700,300i,800,900,400i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700,300i,400i,600i">
{% endblock %}

{% block extended_head %}{% endblock %}

{% block icons %}
    {% include "fragments/favicons.html" %}
{% endblock %}

{% block hreflang %}
    {% include "fragments/canonical_url.html" %}
{% endblock %}

{% block org_schema %}{% endblock %}

{% block additional_head_elements %}{% endblock %}
{% if request.in_preview_panel %}
    <base target="_blank">
{% endif %}

{% block bodyclass %}donate{% endblock %}

{% block body_id %}landing{% endblock %}

{% block donate_banner %}{% endblock %}

{% block primary_nav %}
    {% include "../fragments/nav.html" %}
{% endblock %}

{% block header_wrapped %}
{% endblock %}

{% block content %}
<div class="tw-container" style="">
    <div class="tw-row tw-my-[50px]">
        <div class="tw-w-full medium:tw-w-6/12 tw-px-8">
            <picture class="image-feature__image">
                {% image page.featured_image fill-290x95 as imageMobile %}
                {% image page.featured_image fill-580x190 as imageMobile_2x %}
                {% image page.featured_image width-350 as imageTablet %}
                {% image page.featured_image width-700 as imageTablet_2x %}
                {% image page.featured_image width-690 as imageDesktop %}
                {% image page.featured_image width-1380 as imageDesktop_2x %}
                <source media="(min-width: 1201px)" srcset="{{ imageDesktop.url }}, {{ imageDesktop_2x.url }} 2x">
                <source media="(min-width: 600px)" srcset="{{ imageTablet.url }}, {{ imageTablet_2x.url }} 2x">
                <source srcset="{{ imageMobile.url }}, {{ imageMobile_2x.url }} 2x">

                <img src="{{ imageMobile.url }}" class="image-feature__image" alt="{% trans 'featured image' %}">
            </picture>
            {{ page.intro|richtext }}
        </div>
        <div class="tw-w-full medium:tw-w-6/12 tw-px-8">
            <div class="medium:tw-ml-12">
                <h1 class="tw-mt-0">{{ page.title }}</h1>
            </div>
        </div>
    </div>
    <div class="tw-row tw-my-12">
        <div class="tw-w-full tw-px-8">
            {% include "../fragments/fundraise_up_disclaimer.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer_block %}
    {% include "../fragments/footer.html" %}
{% endblock %}


{% block script_bundle %}
    <script src="{% url "javascript-catalog" %}"></script>
{% endblock %}
