@use "sass:math";

.hero__wrapper {
  padding: 0;
  margin: 0;
  $video-aspect-ratio: math.div(16, 9);

  .hero {
    &__title {
      @include mofo-text-style($header-styles, "h1", $header-font-family);

      margin: 0;
    }

    &__topics {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem 1rem;
    }

    &__pill {
      display: inline-block;
      border: 1px solid $black;
      padding: 0 2rem;
      border-radius: 9999px;
    }

    &__description {
      margin: 0;
    }
  }

  // Variant: Side by side
  &--side-by-side {
    .grid-container {
      // Medium breakpoint works better than the utility class defined in utilities.scss in this case
      @include breakpoint(medium down) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .hero {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include breakpoint(large up) {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
      }

      &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem 1rem 1rem;

        @include breakpoint(large up) {
          padding: 0;
          flex: 1;
          gap: 2rem;
        }
      }

      &__media {
        border-top-right-radius: 3rem;
        overflow: hidden;

        @include breakpoint(large up) {
          flex: 1;
          border-top-right-radius: 6rem;
        }

        img {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }

        video {
          width: 100%;
          aspect-ratio: $video-aspect-ratio;
          object-fit: cover;
        }
      }
    }
  }

  // Variant: Text on top of media
  &--top-to-bottom {
    .hero {
      padding: 0;

      &__text {
        padding: 4rem 0 2rem;
        position: relative;

        @include breakpoint(large up) {
          padding: 8rem 0 4rem;
        }

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: color(orange, "200");
        }

        .grid-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @include breakpoint(large up) {
            gap: 2rem;
          }
        }
      }

      &:has(.hero__media) .hero__text {
        padding-bottom: 6rem;

        @include breakpoint(large up) {
          padding-bottom: 12rem;
        }
      }

      &__title,
      &__topics,
      &__description {
        position: relative;
      }

      &__description {
        @include breakpoint(large up) {
          max-width: 50rem;
        }
      }

      &__media {
        position: relative;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        overflow: hidden;
        margin-top: -4rem;

        @include breakpoint(large up) {
          border-top-left-radius: 6rem;
          border-top-right-radius: 6rem;
          margin-top: -9rem;
        }

        img,
        video {
          width: 100%;
          aspect-ratio: 1.78 / 1;
          object-fit: cover;
        }
      }
    }

    &.hero__wrapper--yellow-200 {
      .hero__text::before {
        background-color: color(yellow, "200");
      }
    }
  }
}
