#content > h1 {
  text-align: center;
}

#sortable {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.sortable li {
  border: 1px solid rgb(201, 201, 201);
  margin: 10px 0px;
  box-shadow: rgb(201, 201, 201) 0px 2px 8px;
  font-size: 1rem;
  padding: 0;
}

.sortable li:hover {
  transform: scale(1.02);
}

#sortable-object > a {
  display: flex;
  align-items: center;
}

#sortable-object .instance-image {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

#sortable-object span {
  font-size: 1.2rem;
}
