extends ../templates/master.pug

block centerNav
  p About

block content
  .container
    .row
      .col-12.col-md-8.py-5
        .mb-5: h1.h1-white About Us
        p.blockquote-gray We’re building a movement. Its mission: keep the web decentralized, open and free. In short, protect the health of the Internet.
        p A movement is only as powerful as the people behind it. The “we” behind this movement isn't just Mozilla -- it’s a far larger network. There are technologists, yes. But also educators, artists and activists, hailing from Cape Town, Chicago, Shenzhen, Berlin and beyond.
        p Members of the Mozilla Network understand that three-and-a-half billion people -- and counting -- now live their lives on the Internet. We understand the opportunity the Internet unlocks -- and, conversely, the dangers of mass surveillance, insecurity and centralization. We understand that a positive future depends on a healthy Internet.
        p These fights will be fought across borders, in legislatures, at protests, online and in person. And they will influence everything from public policy to free expression and consumer technology. Now more than ever, we need a network.

        h2.h4-light-black The Mozilla Network has identified five Internet health markers:

        h3.h3-black Open Innovation
        p.mb-3 “Open” means that anyone can publish or invent online without asking for permission, and that the technologies used to run the Web are transparent and understandable.

        h3.h3-black Digital Inclusion
        p.mb-3 Everyone deserves equal opportunity to access the Internet, and to use it to improve their lives and societies.

        h3.h3-black Decentralization
        p.mb-3 Decentralization means the Internet is controlled by many. It’s millions of devices linked together in an open network. No one actor can own it, control it, or switch it off for everyone.

        h3.h3-black Privacy and Security
        p.mb-3 The safety and security of the Internet impacts us all. We should be able to understand what is happening to our data, and have the ability to control how it is used.

        h3.h3-black Web Literacy
        p.mb-3 We need everyone to have the skills to read, write and participate in the digital world, so more people can move beyond consuming to actually creating, shaping and defending the Web.

    include ../partials/contact.pug
