extends ../templates/master.pug

block centerNav
  p About

block content
  .container
    .row
      .col-10.py-5
        .mb-5: h1.h1-white About Us
        p.blockquote-gray We’re building a movement. Its mission: keep the web decentralized, open and free. In short, protect the health of the Internet.
        p A movement is only as powerful as the people behind it. The “we” behind this movement isn't just Mozilla -- it’s a far larger network. There are technologists, yes. But also educators, artists and activists, hailing from Cape Town, Chicago, Shenzhen, Berlin and beyond.
        p Members of the Mozilla Network understand that three-and-a-half billion people -- and counting -- now live their lives on the Internet. We understand the opportunity the Internet unlocks -- and, conversely, the dangers of mass surveillance, insecurity and centralization. We understand that a positive future depends on a healthy Internet.
        p These fights will be fought across borders, in legislatures, at protests, online and in person. And they will influence everything from public policy to free expression and consumer technology. Now more than ever, we need a network.
      .col-2(style=`background:blue`)

    .row
      .col-12.mb-4
        h2.h4-light-black The Mozilla Network operates on four levels:

    .row
      .col-md-6.mb-5
        h3.h3-black People
        p.mb-3 Network members are digital citizens of all types: developers, teachers, activists and makers. We span the globe, but we share a singular goal: a healthy Internet.
        a.cta-link(href=`#TODO`) Meet the network
      .col-md-6.mb-5
        h3.h3-black Projects
        p.mb-3 Our Network is home to tools, apps, artwork and other creations by and for members. Projects range from open-source code, to CSS teaching kits, to guides for fostering gender equality online. And our projects are always seeking new collaborators.
        a.cta-link(href=`#TODO`) Start contributing
    .row
      .col-md-6.mb-5
        h3.h3-black Programs
        p.mb-3 Our programs sit at the intersection of the Internet and civil society, science, journalism and education. We offer paid fellowships at world-class NGOs. We produce open-source curriculum for educators. And we manage grants that change lives.
        a.cta-link(href=`#TODO`) Explore our programs
      .col-md-6.mb-5
        h3.h3-black Campaigns
        p.mb-3 Our Network mobilizes millions of digital citizens to fight for privacy, inclusion and literacy online. Through petitions, educational media and interactive apps, we’re fueling the movement for a healthy Internet.
        a.cta-link(href=`#TODO`) Take action

    include ../partials/join-ranks.pug

    include ../partials/contact.pug
