extends ../templates/master.pug

block masterParams
  - let pageTitle = `About`;

mixin funderLogo(uri, width=75)
  .col-6.col-md-3.mb-5.px-3.d-flex.align-items-center.justify-content-center
    img(class=`w-${width}`, src=`${env[`VIRTUAL_ROOT`]}${uri}`)

block centerNav
  p About

block content
  .container.py-5
    .row.big-section.justify-content-around
      .col-12.col-md-10.col-lg-8.col-xl-7
        .mb-5: h1.h1-white About Us
        p.blockquote-gray We’re building a movement. Its mission: keep the web decentralized, open and free. In short, protect the health of the Internet.
        p.body-black A movement is only as powerful as the people behind it. The “we” behind this movement isn't just Mozilla -- it’s a far larger network. There are technologists, yes. But also educators, artists and activists, hailing from Cape Town, Chicago, Shenzhen, Berlin and beyond.
        p.body-black Members of the Mozilla Network understand that three-and-a-half billion people -- and counting -- now live their lives on the Internet. We understand the opportunity the Internet unlocks -- and, conversely, the dangers of mass surveillance, insecurity and centralization. We understand that a positive future depends on a healthy Internet.
        p.body-black These fights will be fought across borders, in legislatures, at protests, online and in person. And they will influence everything from public policy to free expression and consumer technology. Now more than ever, we need a network.

        h3.h3-black.mt-5 Internet Health
        p.body-black The Internet is an ecosystem. A living entity that billions of people depend on for knowledge, livelihood, self-expression, love…. The health of this system relies on – and influences – everyone it touches. Signs of poor health in any part impacts the whole. We’re all connected.
        p.body-black.mb-4 How healthy is our Internet? How might we understand and diagnose it?
        h4.h4-light-black We've identified five Internet health markers:

        h5.h5-black.mb-1 Open Innovation
        p.body-black.mb-4 “Open” means that anyone can publish or invent online without asking for permission, and that the technologies used to run the Web are transparent and understandable.

        h5.h5-black.mb-1 Digital Inclusion
        p.body-black.mb-4 Everyone deserves equal opportunity to access the Internet, and to use it to improve their lives and societies.

        h5.h5-black.mb-1 Decentralization
        p.body-black.mb-4 Decentralization means the Internet is controlled by many. It’s millions of devices linked together in an open network. No one actor can own it, control it, or switch it off for everyone.

        h5.h5-black.mb-1 Privacy and Security
        p.body-black.mb-4 The safety and security of the Internet impacts us all. We should be able to understand what is happening to our data, and have the ability to control how it is used.

        h5.h5-black.mb-1 Web Literacy
        p.body-black.mb-4 We need everyone to have the skills to read, write and participate in the digital world, so more people can move beyond consuming to actually creating, shaping and defending the Web.
      .hidden-sm-down.col-md-2.mt-5.about-graphic

    .row.big-section.justify-content-around
      .col-12.col-md-11
        .row.mb-5
          .col-12
            .slanty-background
              h3.h2-headings-white Network Supporters
        .row
          .col-12
            .row
              +funderLogo(`_images/about/alfred-p-sloan-foundation.jpg`)
              +funderLogo(`_images/about/altman-foundation.jpg`)
              +funderLogo(`_images/about/bill-and-melinda-gates-foundation.jpg`)
              +funderLogo(`_images/about/canadian-internet-registration-authority.jpg`)

            .row
              +funderLogo(`_images/about/chicago-community-trust.jpg`)
              +funderLogo(`_images/about/cs-mott-foundation.jpg`)
              +funderLogo(`_images/about/ford-foundation.jpg`)
              +funderLogo(`_images/about/helmsley-charitable-trust.jpg`)

            .row
              +funderLogo(`_images/about/illinois-science-_-energy-foundation.jpg`)
              +funderLogo(`_images/about/institute-for-museum-and-library-services.jpg`)
              +funderLogo(`_images/about/irvine-foundation.jpg`)
              +funderLogo(`_images/about/knight-foundation.jpg`)

            .row
              +funderLogo(`_images/about/macarthur-foundation.jpg`)
              +funderLogo(`_images/about/national-science-foundation.jpg`)
              +funderLogo(`_images/about/new-york-community-trust.jpg`)
              +funderLogo(`_images/about/ontario-trillium-foundation.jpg`)

            .row
              +funderLogo(`_images/about/open-society-foundations.jpg`)
              +funderLogo(`_images/about/open-tech-fund.jpg`)
              +funderLogo(`_images/about/robert-r-mccormick-foundation.jpg`)
              +funderLogo(`_images/about/rockefeller-foundation.jpg`)

            .row
              +funderLogo(`_images/about/siegel-family-endowment.jpg`)
              +funderLogo(`_images/about/susan-crowne-exchange.jpg`, 50)
              +funderLogo(`_images/about/un-women.jpg`)

    include ../partials/contact.pug
