include ../partials/header.pug

.container
  .row.py-5: .col
    h1 Take Action Now
    p See what campaigns and events we've run and what is going on right now.

  .row.my-5: .col
    h2 The Glassroom Project
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.btn.btn-outline-primary Learn More

  .row.my-5
    .col-6
      h3 Codemoji
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href=``) Learn More
    .col-6
      h3 Codemoji
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href=``) Learn More

  .row.my-5
    .col-6
      h3 Codemoji
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href=``) Learn More
    .col-6
      h3 Codemoji
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href=``) Learn More

  .row.py-5
    .col-6
      h4 Lorem ipsum dolor sit amet
    .col-6
      a.btn.btn-outline-primary(href=`#TODO`) Learn more @advocacy.mozilla.org

include ../partials/footer.pug
