extends ../templates/master.pug

block masterParams
  - let pageTitle = `Fellowships`;

include ../partials/sign-up-box.pug

block centerNav
  p Fellowships + Research

block content
  .container
    .row.my-5.justify-content-center
      .col-lg-11
        h1.h1-white Fellowships that Empower Leaders
    .row.mt-5.justify-content-around
      .col-md-6.col-lg-5.mb-5
        p.body-black At Mozilla, we’re committed to providing research funding, mentorship, and project-based learning opportunities for community leaders who want to contribute to an open and inclusive web throughout art, science, media, security, policy and advocacy domains.
        p.body-black We’ve hosted a range of fellows in past cohorts, from neuroscientists working on institutional policy in Portland and San Francisco, to trans-Atlantic privacy and security hackers developing research materials and trainings that protect journalists and communication on the open web. Read more about our current cohorts advancing open data  and the open web .
        p.body-black Here are some of our supporting organizations:
        img.mb-3(src=`${env[`VIRTUAL_ROOT`]}_images/fellowship-partners.png`)
        h2.h4-medium-black Get involved!
        p.body-black Our fellowship calls for applications begin in April of each calendar year, the number of applicant slots vary as do the institutions where our fellows are hosted. Join the network to learn more about our next fellowship cycle.
      .col-md-6.col-lg-5
        .row
          .join-us.half-width.col(data-cta-header=`Learn more about the Fellows!`, data-cta-description=`Join the network. Be the first to learn about fellowships and research opportunities at Mozilla.`)
