extends ../templates/master.pug

block masterParams
  - let pageTitle = `Home`;

include ../partials/pulse-projects.pug

//- block heroGuts

block content
  .container
    .row
      .col.my-5
        hr.hr-gradient.mt-0
        h4.h2-headings-white Latest from the Network
    #home-news
    .row
      .col.text-center.mb-5
        a.btn.btn-ghost(href=`/news`) View more news

    .row
      .col.my-5
        hr.hr-gradient
        h4.h2-headings-white Network Leaders
    #featured-people-box.mb-sm-5
    .row
      .col.text-center.mb-5
        a.btn.btn-ghost(href=`/people`) Meet More Leaders

    .row
      .col.mb-5
        hr.hr-gradient
        h4.h2-headings-white Get Involved
    #home-highlights

    .join-us.full-width.col.mb-5
