extends ../templates/master.pug

block masterParams
  - let pageTitle = `Home`;

include ../partials/pulse-projects.pug

block content
  .container
    .row.my-5.d-flex.align-items-center
      .col-md-6
        h1.h1-white Dear Facebook: Stop cross site tracking by default
        p.lead-black.mb-4 You might have seen a Facebook ‘like’ button on websites outside of Facebook. What you may not know is that this button allows Facebook to track what sites you’re browsing in order to target ads to you.
        a.btn.btn-normal(href=`https://foundation.mozilla.org/campaigns/facebook-update/`) Take Action
      .col-md-6.hidden-sm-down
        img(src=`/_images/homepage/facebad.jpg`)
    .row
      .col.mb-4
        hr.mb-4.hr-gradient.mt-0
        h4.h2-heading Latest news
    #home-news
    .row
      .col.text-center.mb-5
        a.btn.btn-ghost(href=`/news`) View more news

    .row
      .col.mb-4
        hr.hr-gradient.mb-4
        h4.h2-heading Happening now
    #home-highlights

    .row
      .col
        hr.hr-gradient.mb-4
    .row
      .col-md-6
        h4.h2-heading Trending projects
      .col-md-6.d-flex.justify-content-end
        a.cta-link(href=`https://www.mozillapulse.org/add`) Add your project
    .row
      .col
        .pulse-project-list(for="", size="6", checked="true")
    .row
      .col.text-center.mb-5
        a.btn.btn-ghost(href=`https://www.mozillapulse.org`) More from our network
    .row
      .col
        hr.hr-gradient.mb-5
    .row.mb-5
      .col
        .feature-quote
          h3 We want to give users the knowledge and the power to make informed decisions by themselves to prevent abusive practices.
          p.h6-heading-uppercase Rishab Nithyanand, Mozilla Fellow

  .join-us.full-width.d-flex.justify-content-center
