include ../partials/header.pug

.container
  .row
    .col.p-5
      h1 Let's Protect and Build a Healthy Internet Together
      p We are a global network connecting people and creating transformative experiences to build & protect a #[a(href=`#TODO`) healthy internet].

  .row.p-5
    .col-3
      p Short Text
    .col-3
      p Short Text
    .col-3
      p Short Text

  .row.my-5
    .col-8
      h3 Join the Movement Now
      p Catapult your initiatives. Join your peers in the network. Be the first to hear about new opportunities.
    .col-4
      input(placeholder=`enter your email address`)
      button Join Us

  .row
    .col
      h4.text-center Latest News
  .row.mb-5
    .col-6
      p Medium
      h5 Title
      p Summary
      a(href=`#TODO`) Read More
    .col-6
      p Medium
      h5 Title
      p Summary
      a(href=`#TODO`) Read More

  .row
    .col
      h4.text-center Network Activity
      p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .row.py-5
    .col-6
    .col-6
      h4 We'd Love to Hear From You
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href=`#TODO`) Contact
      a(href=`#TODO`) Twitter

include ../partials/footer.pug
