extends ../templates/master.pug

block masterParams
  - let pageTitle = `Get Involved`;

block heroGuts
  +subpageHero(`Fellowships, Trainings, and More`, `A variety of programs to support network members. Fellowships empowering civic technologists. Trainings to build leadership capacity. Grants supporting web literacy.`)

block content
  .container.py-5
    .row.mb-5
      .col-6.col-md-3.mb-3.mb-md-0.feature-square
        a(href=`/fellowships`)
          img(src=`/_images/programs/image-fellowships@2x.jpg`)
          h4.h4-heading Fellowships
      .col-6.col-md-3.mb-3.mb-md-0.feature-square
        a(href=`https://mozillafestival.org/`)
          img(src=`/_images/programs/image-mozfest@2x.jpg`)
          h4.h4-heading MozFest
      .col-6.col-md-3.mb-3.mb-md-0.feature-square
        a(href=`https://advocacy.mozilla.org/`)
          img(src=`/_images/programs/image-advocacy@2x.jpg`)
          h4.h4-heading Advocacy
      .col-6.col-md-3.mb-3.mb-md-0.feature-square
        a(href=`https://internethealthreport.org/`)
          img(src=`/_images/programs/image-internet-health-report@2x.jpg`)
          h4.h4-heading Internet Health Report

    .row.mb-5
      .col-md-6
        img.mb-3(src=`/_images/programs/event.jpg`)
      .col-md-6
        h2.h3-heading Events
        p Network events include hackathons, global sprints, Twitter chats and the annual MozFest in London.
        ul
          li.mb-3: a.cta-link(href=`https://mozillafestival.org/`) Mozilla Festival
          li.mb-3: a.cta-link(href=`/opportunity/global-sprint/`) Global Sprints
          li.mb-3: a.cta-link(href=`/programs/upcoming/`) Upcoming events

    .row.mb-5
      .col-md-6
        img.mb-3(src=`/_images/programs/training.jpg`)
      .col-md-6
        h2.h3-heading Training
        p Our trainings help members work open, hone leadership skills and level up careers.
        ul
          li.mb-3: a.cta-link(href=`https://mozilla.github.io/leadership-training/`) Open leadership training
          li.mb-3: a.cta-link(href=`https://mozilla.teachable.com/p/open-leadership-101`) Open Leadership 101
          li.mb-3: a.cta-link(href=`https://learning.mozilla.org/activities`) Web literacy activities

    .row.mb-5
      .col-md-6
        img.mb-3(src=`/_images/programs/fellowship.jpg`)
      .col-md-6
        h2.h3-heading Fellowships
        p Our Fellowships empower bright minds in the fields of public policy, science and journalism. We partner with the world’s leading NGOs. Among them: Citizen Lab, Privacy International, EDRi, Freedom of the Press Foundation, Data & Society and Derechos Digitales.
        ul
          li.mb-3: a.cta-link(href=`/fellowships`) Fellowships

    .row.mb-5
      .col-md-6
        img.mb-3(src=`/_images/programs/local-organizing.jpg`)
      .col-md-6
        h2.h3-heading Local Organizing
        p We connect passionate people in cities across five continents, from technologists in Chattanooga to educators in Cape Town. Our Network provides organizing best-practices and mutual support. In certain cities, our Network can also deploy on-the-ground staff.
        ul
          li.mb-3: a.cta-link(href=`https://learning.mozilla.org/gigabit`) Mozilla Gigabit cities
          li.mb-3: a.cta-link(href=`https://science.mozilla.org/programs/studygroups`) Mozilla Science Study Groups

    .row.mb-5
      .col-md-6
        img.mb-3(src=`/_images/programs/research.jpg`)
      .col-md-6
        h2.h3-heading Research
        p Building a healthy Internet requires data and insight: We need to know what deserves our attention. Network research investigating issues like the global app economy, digital skills in classrooms and smartphone use in emerging markets
        ul
          li.mb-3: a.cta-link(href=`https://mozilla-foundation-research.herokuapp.com/globalweb/`) Global research reports
          li.mb-3: a.cta-link(href=`https://internethealthreport.org/`) See the Internet Health Report
          li.mb-3: a.cta-link(href=`http://mozillafoundation.github.io/digital-skills-observatory/`) Digital Skills Observatory

    include ../partials/contact.pug
