extends ../templates/master.pug

block masterParams
  - let pageTitle = `News`;

block heroGuts
  +subpageHero(`Latest from the Network`, `Browse articles, blog posts, interviews and op-eds covering the efforts of Mozilla Network members.`)

block content
  #news
