extends ../templates/master.pug

block content
  .container
    .row
      .col-4
        h1 In The News
      .col-8
        p Press coverage of the Mozilla Network's efforts. Browse feature stories, interviews, and op-eds

    .row.mb-5
      .col-4
        h2 2017
      .col-8
        .mb-3
          p Medium
          h3 Living inside the Computer: Building Responsible IoT
          p January, 2017
        .mb-3
          p Medium
          h3 Living inside the Computer: Building Responsible IoT
          p January, 2017

    .row.mb-5
      .col-4
        h2 2016
      .col-8
        .mb-3
          p Medium
          h3 Living inside the Computer: Building Responsible IoT
          p January, 2017
        .mb-3
          p Medium
          h3 Living inside the Computer: Building Responsible IoT
          p January, 2017
