//-
  This template is used to generate HTML for usage in Mezzanine.
  There are {{ TOKENS }} in place for Mezzanine to target with CMS data.
  `npm build` will compile this to `/dest/opportunity/template/index.html`

extends ../templates/master.pug

block masterParams
  - let isMezzanine = true
  - let pageTitle = `{{ page.meta_title }}`;

include ../partials/sign-up-box.pug

block centerNav
  p {{ page.meta_title }}

block content
  .container
    .row
      .col-10.offset-2
        .row.py-5.justify-content-center
          | {% if page.landingpage.signup %}
          .col-lg-11
            h1.h1-white {{ page.landingpage.header }}
          | {% else %}
          .col-12.mb-2
            h1.h1-white {{ page.landingpage.header }}
          | {% endif %}
    .row
      .col-2
        | {% load pages_tags %}
        | {% page_menu "pages/menus/side-menu.html" %}
      .col-10
        .row
          | {% if page.landingpage.signup %}
          .cms.col-md-6.col-lg-5.mb-5 {{ page.landingpage.content | safe }}
          .col-md-5.col-lg-5
            .row
              .join-us.half-width.col(data-cta-header=`{{ page.landingpage.signup.header | escape }}`, data-cta-description=`{{ page.landingpage.signup.description | escape }}`)
          | {% else %}
          .cms.col-10.mb-5 {{ page.landingpage.content | safe }}
          | {% endif %}
