extends ../templates/master.pug

block masterParams
  - let baseURL = `https://network.mofoprod.net/`

include ../partials/sign-up-box.pug

block centerNav
  p {{ page.meta_title }}

block content
  .container
    .row.py-5
      .col
        h1.h1-white {{ page.landingpage.header }}
        div {{ page.landingpage.content | safe }}
    .row.py-5
      .col-md-6
      +sign-up-box(`{{ page.landingpage.signup.header }}`, `{{ page.landingpage.signup.description | safe }}`)
