//-
  This template is used to generate HTML for usage in Mezzanine.
  There are {{ TOKENS }} in place for Mezzanine to target with CMS data.
  `npm build` will compile this to `/dest/opportunity/template/index.html`

extends ../templates/master.pug

block masterParams
  - let baseURL = `https://{% settings_value "ASSET_DOMAIN" %}/`

include ../partials/sign-up-box.pug

block centerNav
  p {{ page.meta_title }}

block content
  .container
    .row.py-5
      .col
        h1.h1-white {{ page.landingpage.header }}
        div {{ page.landingpage.content | safe }}
    .row.py-5
      .col-md-6
      +sign-up-box(`{{ page.landingpage.signup.header }}`, `{{ page.landingpage.signup.description | safe }}`)
