extends ../templates/master.pug

block masterParams
  - let pageTitle = `People`;

block heroGuts
  +subpageHero(`Global network, one\xA0mission`, `Network members speak many languages and span many disciplines. But we all believe in a healthy Internet. Here are a handful of members making a difference.`)

block content
  .container.py-5
    h2.h3-heading Member Spotlight
    #people
