extends ../templates/master.pug

mixin person(meta)
  div
    h4=meta.name
    p=meta.role
    p=meta.location
    p
      small #{meta.affiliations.join(`, `)}

block centerNav
  p People

block heroGuts
  +subpageHero(`Diverse Members, One\xA0Mission`, `Network members speak many languages and span many disciplines. But we all believe in a healthy Internet. Here are a handful of members making a difference.`)

block content
  .container.py-5
    h2.h3-black Member Spotlight
    // This will be replaced by a React component, but this content is left available for indexing (SEO)
    #people
      each person, index in data
        +person(data[index])
