extends ../templates/master.pug

mixin person(meta)
  .col-lg-3.p-3.person
    h4=meta.name
    p 👤 #{meta.role}
    p ▼ #{meta.location}
    p &hearts;&nbsp;
      each team in meta.teams
        small #{team},&nbsp;

block centerNav
  p People

block content
  .container
    .row.p-5
      .col-sm-6
        h1 Diverse Members, One Mission
      .col-sm-6
        p Network members speak many languages and span many disciplines. But we all believe in a healthy Internet.

    // This will be replaced by a React component, but this content is left available for indexing (SEO)
    #people
      each person, index in data
        +person(data[index])
