extends ../templates/master.pug

include ../partials/pulse-projects.pug

block centerNav
  p Projects

block heroGuts
  +subpageHero(`Network Projects`, `Open-source apps. Web literacy curriculum. Guides for fostering gender equality. These are the projects by and for our network.`)

block content
  .container
    +projects("Privacy & Security", "Tools, tips, apps and more for staying safe online.", "https://www.mozillapulse.org/issues/online-privacy-and-security", data.pulsePrivacy.results)
    +projects("Mozfest", "Keynotes, teacahing kits and other creations from the Network's annual Internet Health festival", "https://www.mozillapulse.org/search?keyword=mozfest", data.pulseMozfest.results)
    +projects("Open Innovation", "Code and ideas for a more innovative web. All open source.", "https://www.mozillapulse.org/issues/open-innovation", data.pulseInnovation.results)
    +projects("Games", "Building a healthy Internet isn't just about white papers. These games teach privacy best-practices, HTML, CSS and other digital skills.", "https://www.mozillapulse.org/search?keyword=game", data.pulseGames.results)

    .row.pt-3.pb-5
      .col.text-center
        a.btn.btn-ghost(href=`https://www.mozillapulse.org/`) Discover more and collaborate
