extends ../templates/master.pug

include ../partials/pulse-projects.pug

block centerNav
  p Projects

block heroGuts
  +subpageHero(`Network Projects`, `Open-source apps. Web literacy curriculum. Guides for fostering gender equality. These are the projects by and for our network.`)

block content
  .container
    .row.pt-5.pb-4
      .col
        ul.jump-bar
          li.no-link Featured
          li
            a(href=`https://www.mozillapulse.org/issues/online-privacy-and-security`) Privacy & Security
          li
            a(href=`https://www.mozillapulse.org/search?keyword=mozfest`) Mozfest
          li
            a(href=`https://www.mozillapulse.org/issues/open-innovation`) Open Innovation

    // This will be replaced by a React component, but is rendered for indexing
    +projects(data.pulse.results.slice(0,9), true)

    .row.pt-3.pb-5
      .col.text-center
        a.btn.btn-ghost(href=`https://www.mozillapulse.org/`) Discover more and collaborate
