extends ../templates/master.pug

block masterParams
  - let pageTitle = `Projects`;

include ../partials/pulse-projects.pug

block heroGuts
  +subpageHero(`Network Projects`, `Open-source apps. Web literacy curriculum. Guides for fostering gender equality. These are the projects by and for our network.`)

block content
  .container
    +projects("Open Innovation", "Code and ideas for a more innovative web. All open source.", "https://www.mozillapulse.org/issues/open-innovation", data.pulseInnovation)
    +projects("Digital Inclusion", "Projects, articles and tools that promote an open and inclusive internet.", "https://www.mozillapulse.org/issues/digital-inclusion", data.pulseInclusion)
    +projects("Decentralization", "Projects that help ensure that the internet is controlled by many, rather than just a handful of global technology giants.", "https://www.mozillapulse.org/issues/decentralization", data.pulseDecentralization)
    +projects("Privacy & Security", "Tools, tips, apps and more for staying safe online.", "https://www.mozillapulse.org/issues/online-privacy-and-security", data.pulsePrivacy)
    +projects("Web Literacy", "Projects that empower people to shape their own internet experience.", "https://www.mozillapulse.org/issues/web-literacy", data.pulseLiteracy)

    .row.my-5.pt-3.pb-5.align-items-center
      .col-12.col-sm-6
        h4.h4-heading Discover much more in Mozilla Pulse. Collaborate with the network on these projects or something new.
      .col-12.col-sm-6
        a.btn.btn-ghost(href=`https://www.mozillapulse.org/`) Discover more and collaborate
