extends ../templates/master.pug

include ../partials/pulse-projects.pug

block centerNav
  p Projects

block content
  .container
    .row
      .col
        h2 Network Projects

    // This will be replaced by a React component, but is rendered for indexing
    +projects(data.pulse.results.slice(0,12), true)
