extends ../templates/master.pug

block masterParams
  - let pageTitle = `Join the Movement`;
  - let hideGetInvolved = true;

block content
  .container
    .row.justify-content-center.my-5
      .col-10
        .join-us.full-page
