extends ../templates/master.pug

block content
  .container
    .row
      .col-12.pb-5
        h1 Style Guide
        h2 Typography

        h3.my-5 Headers

        h1.h1-home-white .h1-home-white
        h1.h1-white .h1-white
        h2.h2-headings-white .h2-headings-white
        h2.h2-typeaccents-gray .h2-typeaccents-gray
        h3.h3-black .h3-black
        h3.h3-cta-black .h3-cta-black
        h4.h4-medium-black .h4-medium-black
        h4.h4-medium-white .h4-medium-white
        h4.h4-light-black .h4-light-black
        h4.h4-headingcontract-black .h4-headingcontract-black
        h5.h5-black .h5-black
        h6.h6-gray .h6-gray
        h6.h6-white .h6-white

        h3.my-5 Paragraphs

        p.lead-black .lead-black
        p.blockquote-gray .blockquote-gray
        p.body-black .body-black
        p.body-white .body-white
        p.italic-black .italic-black
        p.small-gray .small-gray
        p.small-white .small-white

        h3.my-5 Anchors

        div
          a.body-link(href=`#`) .body-link
        div
          a.link-small(href=`#`)  .link-small
        div
          a.cta-link(href=`#`)  .cta-link

        h3.my-5 Buttons

        button.btn.btn-outline-primary .btn-outline-primary
