extends ../templates/master.pug

block content
  .container
    .row
      .col-12.pb-5
        h1 Style Guide
        h2 Typography

        h3.my-5 Headers

        .py-3: h1.h1-home-white .h1-home-white
        .py-3: h1.h1-white .h1-white
        .py-3: h2.h2-headings-white .h2-headings-white
        .py-3: h2.h2-typeaccents-gray .h2-typeaccents-gray
        .py-3: h3.h3-black .h3-black
        .py-3: h3.h3-cta-black .h3-cta-black
        .py-3: h4.h4-medium-black .h4-medium-black
        .py-3: h4.h4-medium-white .h4-medium-white
        .py-3: h4.h4-light-black .h4-light-black
        .py-3: h4.h4-headingcontract-black .h4-headingcontract-black
        .py-3: h5.h5-black .h5-black
        .py-3: h6.h6-gray .h6-gray
        .py-3: h6.h6-white .h6-white

        h3.my-5 Paragraphs

        .py-3: p.lead-black .lead-black
        .py-3: p.blockquote-gray .blockquote-gray
        .py-3: p.body-black .body-black
        .py-3: p.body-white .body-white
        .py-3: p.italic-black .italic-black
        .py-3: p.small-gray .small-gray
        .py-3: p.small-white .small-white

        h3.my-5 Anchors

        .py-3: a.body-link(href=`#`) .body-link
        .py-3: a.link-small(href=`#`) .link-small
        .py-3: a.cta-link(href=`#`) .cta-link

        h3.my-5 Buttons

        .py-3: button.btn.btn-outline-primary .btn-outline-primary
