extends ../templates/master.pug

block masterParams
  - let pageTitle = `Style Guide`;

block content
  .container
    .row
      .col-12.pb-5
        h1 Style Guide
        h2 Typography

        h3.my-5 Headers

        .py-2: h1.h1-white .h1-white
        .py-2: h2.h2-headings-white .h2-headings-white
        .py-2: h2.h2-typeaccents-gray .h2-typeaccents-gray
        .py-2: h3.h3-black .h3-black
        .py-2: h3.h3-cta-black .h3-cta-black
        .py-2: h4.h4-medium-black .h4-medium-black
        .py-2: h4.h4-medium-white .h4-medium-white
        .py-2: h4.h4-light-black .h4-light-black
        .py-2: h4.h4-headingcontract-black .h4-headingcontract-black
        .py-2: h5.h5-black .h5-black
        .py-2: h6.h6-gray .h6-gray
        .py-2: h6.h6-white .h6-white

        h3.my-5 Paragraphs

        .py-2: p.lead-black .lead-black
        .py-2: p.blockquote-gray .blockquote-gray
        .py-2: p.quote-small .quote-small
        .py-2: p.body-black .body-black
        .py-2: p.body-white .body-white
        .py-2: p.italic-black .italic-black
        .py-2: p.small-gray .small-gray
        .py-2: p.small-white .small-white
        .py-2: p.small-error .small-error

        h3.my-5 Anchors

        .py-2: a.body-link(href=`#`) .body-link
        .py-2: a.link-small(href=`#`) .link-small
        .py-2: a.link-small-tags(href=`#`) .link-small-tags
        .py-2: a.cta-link(href=`#`) .cta-link

        h3.my-5 Buttons

        .py-2: button.btn.btn-ghost .btn-ghost
        .py-2: button.btn.btn-normal .btn-normal

        h3.my-5 Components

        h4 jump-bar

        ul.jump-bar.mb-3
          li.no-link Featured
          li
            a(href=`https://www.mozillapulse.org/issues/online-privacy-and-security`) Privacy & Security
          li
            a(href=`https://www.mozillapulse.org/search?keyword=mozfest`) Mozfest
          li
            a(href=`https://www.mozillapulse.org/issues/open-innovation`) Open Innovation

        h4 hr-gradient

        hr.hr-gradient

        h4 multipage-nav (used as secondary nav )

        div#multipage-nav-mobile.hidden-md-up
          div.container
            div.row
              div.col-12

        div.container
          div.row
            div.col-12.hidden-sm-down
              div#multipage-nav.multipage-nav
                div
                  a.multipage-link(href=`/`) Home
                div
                  a.multipage-link(href=`/about`) About
                div
                  a.multipage-link.multipage-link-active(href=`/style-guide`) Style Guide
                div
                  a.multipage-link(href=`/sign-up`) Sign Up
