extends ../templates/master.pug

block masterParams
  - let pageTitle = `Style Guide`;

block content
  .container
    .row
      .col-12.pb-5
        h1 Style Guide

        h2 Colors

        .row
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.black
              .p-2
                strong Black ($black)
                .color-code.small #000000
                .color-code.small rgba(0, 0, 0, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.white
              .p-2
                strong White ($white)
                .color-code.small #ffffff
                .color-code.small rgba(255, 255, 255, 1)
        .row
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.dark-gray
              .p-2
                strong Dark Gray ($dark-gray)
                .color-code.small #666666
                .color-code.small rgb(102, 102, 102, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.medium-gray
              .p-2
                strong Medium Gray ($medium-gray)
                .color-code.small #909090
                .color-code.small rgba(144, 144, 144, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.light-gray
              .p-2
                strong Light Gray ($light-gray)
                .color-code.small #cccccc
                .color-code.small rgba(204, 204, 204, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.subtle-gray
              .p-2
                strong Subtle Gray ($subtle-gray)
                .color-code.small #f2f2f2
                .color-code.small rgba(242, 242, 242, 1)

        .row
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.yellow
              .p-2
                strong Yellow ($yellow)
                .color-code.small #ffed00
                .color-code.small rgba(255, 237, 0, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.dark-yellow
              .p-2
                strong Dark Yellow ($dark-yellow)
                .color-code.small #e7c121
                .color-code.small rgba(231, 193, 33, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.blue
              .p-2
                strong Blue ($blue)
                .color-code.small #3bb7ef
                .color-code.small rgba(59, 183, 239, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.dark-blue
              .p-2
                strong Dark Blue ($dark-blue)
                .color-code.small #4383bf
                .color-code.small rgba(67, 131, 191, 1)

        .row
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.neon-blue
              .p-2
                strong Neon Blue ($neon-blue)
                .color-code.small #3dfefd
                .color-code.small rgba(61, 254, 253, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.green
              .p-2
                strong Green ($green)
                .color-code.small #b7d43f
                .color-code.small rgba(183, 212, 63, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.neon-blue-green-gradient
              .p-2
                strong Neon Blue Green Gradient ($neon-blue-green-gradient)
                .color-code.small #3dfefd to #b7d43f
                .color-code.small rgba(61, 254, 253, 1) to rgba(183, 212, 63, 1)
          .col-sm-6.col-md-3.mb-3
            .color-display.d-flex.flex-column.h-100
              .color-block.w-100.px-2.py-5.bright-green
              .p-2
                strong Bright Green ($bright-green)
                .color-code.small #b6d806
                .color-code.small rgba(182, 216, 6, 1)

        h2 Typography

        h3.my-5 Headers

        .py-2: h1.h1-heading .h1-heading
        .py-2: h2.h2-heading .h2-heading
        .py-2: h2.h2-typeaccent .h2-typeaccent
        .py-2: h3.h3-heading .h3-heading
        .py-2: h4.h4-heading .h4-heading
        .py-2: h5.h5-heading .h5-heading
        .py-2: h6.h6-heading-uppercase .h6-heading-uppercase
        .py-2: h6.h6-heading .h6-heading

        h3.my-5 Paragraphs

        .py-2: p.body-large .body-large
        .py-2: p.quote-small .quote-small
        .py-2: p.body-black .body-black
        .py-2: p.italic-black .italic-black

        h3.my-5 Anchors

        .py-2: a.body-link(href=`#`) .body-link
        .py-2: a.cta-link(href=`#`) .cta-link

        h3.my-5 Buttons

        .py-2: button.btn.btn-ghost .btn-ghost
        .py-2: button.btn.btn-normal .btn-normal
        .py-2: button.btn.btn-pop .btn-pop

        h3.my-5 Components

        h4 .jump-bar

        ul.jump-bar.mb-3
          li.no-link Featured
          li
            a(href=`https://www.mozillapulse.org/issues/online-privacy-and-security`) Privacy & Security
          li
            a(href=`https://www.mozillapulse.org/search?keyword=mozfest`) Mozfest
          li
            a(href=`https://www.mozillapulse.org/issues/open-innovation`) Open Innovation

        h4 .hr-gradient

        hr.hr-gradient

        h4 .join-us
        .join-us.mb-5

        h4.h5 .pulse-project-list(for="SEARCH_QUERY", size="MAX_TO_DISPLAY", rev="BOOLEAN_TO_INDICATE_ORDERING")
        .pulse-project-list(for=`mozfest`, size=`6`, rev=`false`)

        h4 .feature-quote
          .feature-quote
            h3 We want to give users the knowledge and the power to make informed decisions by themselves to prevent abusive practices.
            p.h6-heading-uppercase Rishab Nithyanand, Mozilla Fellow

        h4 multipage-nav (used as secondary nav )

        div#multipage-nav-mobile.hidden-md-up
          div.container
            div.row
              div.col-12

        div.container
          div.row
            div.col-12.hidden-sm-down
              div#multipage-nav.multipage-nav
                div
                  a.multipage-link(href=`/`) Home
                div
                  a.multipage-link(href=`/about`) About
                div
                  a.multipage-link.multipage-link-active(href=`/style-guide`) Style Guide
                div
                  a.multipage-link(href=`/sign-up`) Sign Up
