extends ../templates/master.pug

include ../partials/sign-up-box.pug

block centerNav
  p Leadership Training

block content
  .container
    .row.pt-5
      .col
        h1.h1-white Leadership Training
    .row.py-5
      .col-md-6
        h2.h4-medium-black The skills you need to build a healthy web.
        p.body-black Open Leadership 101 is your introduction to “working open.” Learn the basics of participation, collaboration, and sharing on community-driven projects. Discover what working open can do for your project, and explore open projects from across the Network. Think of this free, hour-long online course as your launchpad into the Leadership Network.
        img.mb-3(src=`${env.virtualRoot}_images/leadership-training.jpg`)
      .col-md-5.push-md-1
        .row
          .join-us.half-width.col(data-cta-header=`Learn more about the Fellows!`, data-cta-description=`Join the network. Be the first to learn about fellowships and research opportunities at Mozilla.`)
