extends ../templates/master.pug

block masterParams
  - let pageTitle = `Upcoming`;

block heroGuts
  +subpageHero(`Upcoming`, `A snapshot of key milestones on the horizon. Many ways to get involved.`)

block content
  #upcoming
