extends ../templates/master.pug

block centerNav
  p Upcoming

block heroGuts
  +subpageHero(`Upcoming`, `A snapshot of key milestones on the horizon. Get involved.`)

block content
  .container
    .row.my-5
      .col-4
      .col-8
        h2 MozFest
        p The world's leading festival for the open Internet movement.
        p MozFest convenes technologists, educators and activists around the theme of Internet health. Held annually in London and featuring hands-on workshops, keynotes, hackathons, science fairs and more.
        p Fall 2017. Call for sessions open in summer 2017.
        a(href=`#TODO`) Go to website

    .row.my-5
      .col-4
      .col-8
        h2 Internet Health Report
        p Mozilla Network’s annual publication exploring the health of the web
        p An open-source publication using data and original reporting to unpack the state of the web. For and by Network members.
        p Winter 2017
        a(href=`#TODO`) Go to website

    .row.my-5
      .col-4
      .col-8
        h2 MozFest
        p The world's leading festival for the open Internet movement.
        p MozFest convenes technologists, educators and activists around the theme of Internet health. Held annually in London and featuring hands-on workshops, keynotes, hackathons, science fairs and more.
        p Fall 2017. Call for sessions open in summer 2017.
        a(href=`#TODO`) Go to website

    .row.my-5
      .col-4
      .col-8
        h2 Internet Health Report
        p Mozilla Network’s annual publication exploring the health of the web
        p An open-source publication using data and original reporting to unpack the state of the web. For and by Network members.
        p Winter 2017
        a(href=`#TODO`) Go to website
