{% load bg_nav_tags i18n %}

{% with request.get_full_path as current_url %}
{% url 'why-view' as why_url %}
{% url 'how-to-use-view' as how_to_use_url %}
{% url 'min-security-view' as minimum_security_url %}
{% url 'methodology-view' as methodology_url %}
{% url 'contact-view' as contact_url %}
{% url 'press-view' as press_url %}

<div class="col-lg-3">
  <nav class="vertical-nav mt-5 pt-sm-2" id="multipage-nav" title="{% trans "about sections" context "Tooltip on menu items" %}">
    <div class="multipage-link-wrapper"><a class="multipage-link {% bg_active_nav current_url why_url %}" href="{{ why_url }}">{% trans "Why we made this guide" %}</a></div>
    <div class="multipage-link-wrapper"><a class="multipage-link {% bg_active_nav current_url how_to_use_url %}" href="{{ how_to_use_url }}">{% trans "How to use this guide" %}</a></div>
    <div class="multipage-link-wrapper"><a class="multipage-link {% bg_active_nav current_url minimum_security_url %}" href="{{ minimum_security_url }}">{% trans "Minimum Security Standards explained" %}</a></div>
    <div class="multipage-link-wrapper"><a class="multipage-link {% bg_active_nav current_url methodology_url %}" href="{{ methodology_url }}">{% trans "Methodology" %}</a></div>
    <div class="multipage-link-wrapper"><a class="multipage-link {% bg_active_nav current_url contact_url %}" href="{{ contact_url }}">{% trans "Contact us" %}</a></div>
    <div class="multipage-link-wrapper"><a class="multipage-link {% bg_active_nav current_url press_url %}" href="{{ press_url }}">{% trans "Press" %}</a></div>
  </nav>
</div>

{% endwith %}
