{% extends "../bg_base.html" %}

{% block body-id %}about{% endblock %}

{% block guts %}
<div class="container ">
  <div class="row">
    {% include "./about-nav.html" with page="about" %}

    <div class="col-12 col-md-12 col-lg-8 mt-5 justify-content-center">

      <h1 class="h3-heading">
        How to Use This Guide
      </h1>

      <p>
        Need help understanding how to use this guide? Here you go:
      </p>

      <h2 class="h4-heading">
        Creep-O-Meter
      </h2>
      <p>
        Our new Creep-O-Meter is for you to share your opinion. Read the review of the product, then rate how creepy or
        not creepy you think the product is and how likely you are to buy it. Click vote to see how your opinion stacks
        up to others.
      </p>

      <h2 class="h4-heading">
        Our Minimum Security Standards
      </h2>
      <p>
        We developed a set of minimum security standards we think all connected products should meet at the very least. Think of it as a “you must be this tall to ride” set of standards. These include five basic things: The product must use encryption, the company must provide automatic security updates, if a product uses a password, it must require a strong password, the company must have a way to manage security vulnerabilities found in their products, and the company must have an accessible privacy policy. In the guide, we've ticked the products that from our research appear to meet the guidelines. This tick is not an endorsement of the product on behalf of Mozilla, Consumers International or the Internet Society. If you would like to learn more about our minimum security standards go <a href="https://medium.com/read-write-participate/minimum-standards-for-tackling-iot-security-70f90b37f2d5">here</a>.
      </p>

      <h2 class="h4-heading">
        Criteria
      </h2>

      <div class="criteria-accordion">
        <input type="checkbox" class="accordion-helper d-none" id="fold-spy">
        <label class="foldable" for="fold-spy">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Can it spy on me?
          </h2>
          <p class="explanation">
            Just because a device has a camera, microphone, or tracks location doesn’t mean it will spy on you. It simply
            means it could and you should be aware of that. Also, many connected devices are controlled by apps on your
            phone. The apps often ask to use the phone’s camera, microphone or location tracking. Keep an eye on that, as
            some of the permissions the apps ask for might surprise you.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-encrypt">
        <label class="foldable" for="fold-encrypt">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Encryption
          </h2>
          <p class="explanation">
            Encryption is your friend. It protects your private and personal information by scrambling it up into a code so
            that the only people or machines who can read it are the ones on the other end who have the key to unscramble
            that code. Products that don’t use encryption send personal information over the internet unscrambled so anyone
            can see it.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-privacy">
        <label class="foldable" for="fold-privacy">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Privacy policies
          </h2>
          <p class="explanation">
            Privacy policies detail a lot of important information about how companies collect, use, and share your
            personal information. Because of that, this information should be easily found and easily understood. You’ll
            notice we included reading levels of all the privacy policies in this guide thanks to the <a href="https://explore.usableprivacy.org/"> Usable
            Privacy Policy Project</a>. Some have middle school reading levels and some have college reading levels.
            Needing a college degree to understand how a company plans to use your personal information is not ideal.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-3rd">
        <label class="foldable" for="fold-3rd">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Shares information with third parties for unexpected reasons
          </h2>
          <p class="explanation">
            Nearly every company collects some kind of information on its users. That’s how the internet works.
            It’s how they use and care for this information that matters. You should know whether a company shares
            or sells your personal information to others and for what reasons.
            <br>{# <!-- necessary to ensure the CSS h2+p rules don't need tons of doubling up --> #}<br>
            For the purpose of this report Mozilla determined that if according to a company’s privacy policy, it
            appeared to share data with third parties that could then use that information to market or advertise
            to customers, then we labeled it as “Shares information with third parties for unexpected reasons.”
            <br>{# <!-- necessary to ensure the CSS h2+p rules don't need tons of doubling up --> #}<br>
            This does not mean your information is definitely used for these purposes. Simply that the policy
            leaves the possibility open that your information could be used in this way.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-password">
        <label class="foldable" for="fold-password">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Change Default Password
          </h2>
          <p class="explanation">
            Remembering passwords might be annoying, but having a good password is still one of the best lines of defense
            we have when it comes to protecting our privacy and security. It’s great when a password is required. But
            default passwords that are the same for all consumers and never change can be just as bad. You should be
            required to change a default password. Products with a default password that does not require changing can
            leave users’ personal information exposed.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-updates">
        <label class="foldable" for="fold-updates">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Automatic security updates
          </h2>
          <p class="explanation">
            Sometimes security vulnerabilities are found in products after they are sold to the public. For that reason,
            companies should have a way to quickly push a security update out to the product automatically so it fixes the
            security vulnerability without the consumer ever needing to worry about it.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-delete">
         <label class="foldable" for="fold-delete">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Delete the data it stores on you
          </h2>
          <p class="explanation">
            Companies collect a lot of data on their consumers. Who controls that data? Being able to contact a company and
            ask them to delete any data they have on you is a very good thing.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-controls">
        <label class="foldable" for="fold-controls">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Parental controls
          </h2>
          <p class="explanation">
            Parental controls on toys, tablets, smart speakers, and many other connected devices can be a very good way to
            protect the privacy and security of both young and old. Not all products need parental controls, but parents
            should look to see if they are an option for connected products they will buy and let their children use.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-secvuln">
        <label class="foldable" for="fold-secvuln">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            Company manages security vulnerabilities
          </h2>
          <p class="explanation">
            Security vulnerabilities in products happen. It’s how companies manage them when they arise that matter. We
            looked at whether or not companies have a system in place to manage vulnerabilities in the product when they
            are found. This includes having a point of contact for reporting vulnerabilities or an equivalent <a href="https://en.wikipedia.org/wiki/Bug_bounty_program">bug bounty program</a>.
          </p>
        </label>

        <input type="checkbox" class="accordion-helper d-none" id="fold-worstcase">
        <label class="foldable" for="fold-worstcase">
          <div class="taboverlay" tabindex="0"></div>
          <h2 class="h5-heading">
            What could happen if something goes wrong
          </h2>
          <p class="explanation">
            It’s likely nothing bad will happen with most of the products in this guide. However, it’s also good to think
            through what could happen if something goes wrong. We lay out a potential worst-case scenario for each product,
            in some cases for fun and in some cases based on things that have already happened with the product.
          </p>
        </label>
      </div>

      <h2 class="h4-heading">
        Updates
      </h2>
      <p>
        When news breaks or we come across a relevant article about a product in this guide, we will share it in the
        updates section on each product page.
      </p>

      <h2 class="h4-heading">
        Comments
      </h2>
      <p>
        We love to hear your thoughts and feedback on the products in this guide. And others users might like to join
        you in a conversation about any experiences or concerns you’ve had with a product. Please join the conversation
        in the comment section at the bottom of each product page.
      </p>

      <h2 class="h4-heading">
        Methodology
      </h2>
      <p>
        If you would like to read more about the research methodology we used to create this guide, <a href="https://medium.com/@harraton/how-we-evaluated-the-products-in-mozillas-privacy-not-included-buyer-s-guide-2018-6b122f885de0">here</a> is a post our
        researchers wrote about that.
      </p>

      <p><i>For any questions about the guide or to offer constructive feedback, please email jen@mozillafoundation.org</i></p>
    </div>
  </div>
</div>

{% endblock %}
