{% extends "../bg_about.html" %}

{% block main_about_class %}how-to-use{% endblock %}

{% block about_guts %}
  <h1 class="h2-heading">
    How to Use This Guide
  </h1>
  
  <p>
    Need help understanding how to use this guide? Here you go:
  </p>
  
  <section aria-labelledby="minimum-security">
    <p id="minimum-security"><b>Our Minimum Security Standards</b></p>
    <p class="body">
      We developed a set of minimum security standards we think all connected products should meet at the <em>very</em>
      least. Think
      of it as a “you must be this tall to ride” set of standards. These include five basic things: The product must use
      encryption, the company must provide automatic security updates, if a product uses a password, it must require a
      strong password, the company must have a way to manage security vulnerabilities found in their products, and the
      company must have an accessible privacy policy. If you would like to learn more about our minimum security
      standards,
      <a href="https://foundation.mozilla.org/en/privacynotincluded/about/meets-minimum-security-standards">go here</a>.
    </p>
  </section>
  
  <section aria-labelledby="encryption">
    <p id="encryption"><b>Encryption</b></p>
    <p class="body">
      Encryption is your friend. It protects your private and personal information by scrambling it up into a code so
      that the only people or machines who can read it are the ones on the other end who have the key to unscramble that
      code. Products that don’t use encryption send personal information over the internet unscrambled so anyone can see
      it.
    </p>
  </section>
  
  <section aria-labelledby="security-updates">
    <p id="security-updates"><b>Security updates</b></p>
    <p class="body">
      Sometimes security vulnerabilities are found in products after they are sold to the public. For that reason,
      companies should have a way to quickly push a security update out to the product automatically so it fixes the
      security vulnerability without the consumer ever needing to worry about it.
    </p>
  </section>
  
  <section aria-labelledby="strong-password">
    <p id="strong-password"><b>Strong Password</b></p>
    <p class="body">
      Remembering passwords might be annoying, but having a good password is still one of the best lines of defense we
      have when it comes to protecting our privacy and security. It’s great when a password is required. But default
      passwords that are the same for all consumers and never change can be just as bad. You should be required to change
      the default password to a strong password. Products with a default password that does not require changing can
      leave users’ personal information exposed.
    </p>
  </section>
  
  <section aria-labelledby="manage-vulnerabilities">
    <p id="manage-vulnerabilities"><b>Manages vulnerabilities</b></p>
    <p class="body">
      Security vulnerabilities in products happen. It’s how companies manage them when they arise that matter. We looked
      at
      whether or not companies have a system in place to manage vulnerabilities in the product when they are found. This
      includes having a point of contact for reporting vulnerabilities or an equivalent <a href="https://en.wikipedia.org/wiki/Bug_bounty_program">bug
        bounty program</a>.
    </p>
  </section>
  
  <section aria-labelledby="privacy-policies">
    <p id="privacy-policies"><b>Privacy policies </b></p>
    <p class="body">
      Privacy policies detail a lot of important information about how companies collect, use, and share your personal
      information. Because of that, this information should be easily found and easily understood.
    </p>
  </section>
  
  <section aria-labelledby="creep-o-meter">
    <p id="creep-o-meter"><b>Creep-O-Meter</b></p>
    <p class="body">Our Creep-O-Meter is for you to share your opinion. Read the review of the product, then rate how
      creepy or not creepy you think the product is and how likely you are to buy it. Click vote to see how your opinion
      stacks up to others.
    </p>
  </section>
  
  <section aria-labelledby="can-it-snoop">
    <p id="can-it-snoop"><b>Can it snoop on me?</b></p>
    <p class="body">
      Just because a device has a camera, microphone, or tracks location doesn’t mean it will snoop on you. It simply
      means it <em>could</em> and you should be aware of that. Also, many connected devices are controlled by apps on
      your phone.
      The apps often ask to use the phone’s camera, microphone or location tracking. Keep an eye on that, as some of the
      permissions the apps ask for might surprise you.
    </p>
  </section>
  
  <section aria-labelledby="handle-privacy">
    <p id="handle-privacy"><b>How does it handle privacy?</b></p>
    <p class="body">
      Security and privacy are two separate concerns when it comes to connected products. A company can take measures to
      make a device secure, while also being questionable on how it handles the data that device might collect on you.
      Consumers should ask questions like what data does the device collect, how does the company use that data, who does
      it share that data with, and can you delete the data they collect?
    </p>
  </section>
  
  <section aria-labelledby="share-data">
    <p id="share-data"><b>How does it share data?</b></p>
    <p class="body">
      Nearly every company collects some kind of information on its users. That’s how the internet works. It’s how they
      use
      and care for this information that matters. You should know whether a company shares or sells your personal
      information to others and for what reasons.
    </p>
  </section>
  
  <section aria-labelledby="delete-data">
    <p id="delete-data"><b>Can you delete your data?</b></p>
    <p class="body">
      Companies collect a lot of data on their consumers. Who controls that data? Being able to contact a company and ask
      them to delete any data they have on you is a very good thing.
    </p>
  </section>
  
  <section aria-labelledby="collects-biometrics">
    <p id="collects-biometrics"><b>Collects biometrics data?</b></p>
    <p class="body">
      Your voice, heart rate, activity levels, stress levels, sleep patterns, menstrual cycles, even your fingerprint and
      facial features are some of the most intimate, sensitive data devices can collect on you. You should be aware if a
      device collects this data and how that data is used after it is collected.
    </p>
  </section>
  
  <section aria-labelledby="parental-controls">
    <p id="parental-controls"><b>Parental controls</b></p>
    <p class="body">
      Parental controls on toys, tablets, smart speakers, and many other connected devices can be a very good way to
      protect the privacy and security of both young and old. Not all products need parental controls, but parents should
      look to see if they are an option for connected products they will buy and let their children use.
    </p>
  </section>
  
  <section aria-labelledby="user-friendly-privacy">
    <p id="user-friendly-privacy"><b>User friendly privacy info?</b></p>
    <p class="body">
      Privacy information should be clear, readable, and communicate basic information to consumers about what happens to
      their data. Privacy policies are often written more for lawyers than consumers. That’s why it’s nice to see more
      and more companies creating consumer-friendly privacy pages to outline how they handle your personal information
      and the data they collected on their users. We hope to see this trend continue.
    </p>
  </section>
  
  <section aria-labelledby="something-goes-wrong">
    <p id="something-goes-wrong"><b>What could happen if something goes wrong</b></p>
    <p class="body">
      It’s likely nothing bad will happen with most of the products in this guide. However, it’s also good to think
      through what <em>could</em> happen if something goes wrong. We lay out a potential worst-case scenario for each
      product, in some cases for fun and in some cases based on things that have already happened with the product.
    </p>
  </section>
  
  <section aria-labelledby="how-to-udpates">
    <p id="how-to-udpates"><b>Updates</b></p>
    <p class="body">
      When news breaks or we come across a relevant article about a product in this guide, we will share it in the
      updates section on each product page.
    </p>
  </section>
  
  <section aria-labelledby="how-to-comments">
    <p id="how-to-comments"><b>Comments</b></p>
    <p class="body">
      We love to hear your thoughts and feedback on the products in this guide. And other users might like to join you in
      a conversation about any experiences or concerns you’ve had with a product. Please join the conversation in the
      comment section at the bottom of each product page.
    </p>
  </section>
  
  <section aria-labelledby="how-to-methodology">
    <p id="how-to-methodology"><b>Methodology</b></p>
    <p class="body">
      If you would like to read more about the research methodology we used to create this guide, please check out our <a
        href="https://foundation.mozilla.org/en/privacynotincluded/about/methodology">methodology section</a>.
    </p>
  </section>

{% endblock %}
