{% extends "../bg_about_without_nav.html" %}

{% load i18n %}

{% block main_about_class %}{% endblock %}

{% block about_guts %}
  <h1 class="h2-heading mb-4">
    {% trans "About our Methodology" %}
  </h1>

  <section class="methodology-intro">
    <p class="body">
      {% blocktrans trimmed %}
      The goal of Mozilla’s <em>*Privacy Not Included</em> buyer’s guide is to help consumers
      shop smart — and safe — for products that connect to the Internet. Many companies don’t
      provide clear information about the privacy and security of the connected devices they sell.
      Is your personal data being used in ways you may not have anticipated or expected? What
      are the risks of buying a product that collects your health data? How does the company
      regularly test for and fix security vulnerabilities?
      {% endblocktrans %}
    </p>

    <p class="body">
      {% blocktrans trimmed %}
      It’s difficult for consumers to get clear, concrete information from companies about the
      security and privacy of their connected products. With this guide, we hoped to help
      consumers navigate this landscape by understanding what questions they should ask before
      buying a device.
      {% endblocktrans %}
    </p>

    <p class="body">
      {% trans "Here is the methodology we used to develop this guide." %}
    </p>
  </section>

  <section class="mt-5 mb-4 about-methodology">
    <h2 class="h3-heading">
      {% trans "Methodology" %}
    </h2>

    <section aria-labelledby="product-selection">
      <h3 class="p-heading mt-3 mb-1" id="product-selection">
        {% trans "Product Selection" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        There are 136 products in the 2020 version of our <em>*Privacy Not Included</em>
        buyer’s guide. These products fit into seven categories — Toys & Games, Smart Home,
        Home Office (*new), Entertainment, Wearables, Health & Exercise, and Pets.
        {% endblocktrans %}
      </p>

      <p class="body">
        {% blocktrans with consumer_reports="https://www.consumerreports.org/" wirecutter="https://thewirecutter.com/" the_toy_insider="https://www.thetoyinsider.com/" pc_mag="https://www.pcmag.com/" tech_radar="https://www.techradar.com/" gear_brain="https://www.gearbrain.com/" trimmed %}
        The goal was to select connected products that were likely to be popular during the
        holiday season and beyond. We worked with a research firm to provide us with a list
        of top products in each of our product categories. From there, we refined the list
        based on our own research of top selling products that were highly rated across a
        variety of consumer product websites such as <a href="{{consumer_reports}}">Consumer Reports</a>,
        <a href="{{wirecutter}}">Wirecutter</a>, <a href="{{the_toy_insider}}">The Toy Insider</a>,
        <a href="{{pc_mag}}">PC Magazine</a>, <a href="{{tech_radar}}">Tech Radar</a>, and
        <a href="{{gear_brain}}">Gear Brain</a>.
        {% endblocktrans %}
      </p>
    </section>
  </section>

  <section class="mt-5 mb-4 about-methodology">
    <h2 class="h3-heading">
      <em>{% trans "*Privacy Not Included" %}</em> {% trans "Warning Labels" %}
    </h2>

    <section aria-labelledby="product-selection">
      <p class="body">
        {% blocktrans trimmed %}
        This year, we assigned <em>*Privacy Not Included</em> warning labels to products we
        felt had the most problems or gave us concerns about how the data collected was or
        could be used. We gave a product a <em>*Privacy Not Included</em> warning label if a
        product received multiple “mini-warnings” for privacy, had an egregious track record
        of not protecting privacy, or if we could not confirm if they met our
        Minimum Security Standards.
        {% endblocktrans %}
      </p>
    </section>
  </section>

  <section class="mt-5 mb-4 about-methodology">
    <h2 class="h3-heading">
      {% trans "Worst-case scenario" %}
    </h2>

    <section aria-labelledby="worst-case">
      <h3 class="p-heading mt-3 mb-1" id="worst-case">
        {% trans "What could happen if something goes wrong?" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        We included this section to help people understand risk scenarios related to their
        privacy and each particular product. We aimed to identify risks that would feel
        relevant to consumers. It’s likely nothing bad will happen with most of the products
        in this guide. However, it’s also good to think through what could happen if
        something goes wrong. This question looks at potential worst-case scenarios for
        each product, in some cases for fun, and in some cases, based on things that
        have already happened with the product.
        {% endblocktrans %}
      </p>
    </section>
  </section>

  <section class="mt-5 mb-4 about-minimum-security">
    <h2 class="h3-heading">
      {% trans "Minimum Security Requirements" %}
    </h2>

    <p>
      {% blocktrans with sec_standards="https://foundation.mozilla.org/privacynotincluded/about/meets-minimum-security-standards" trimmed %}
      Mozilla has established a set of <a href="{{sec_standards}}">Minimum Security Standards</a>
      it has determined should be met by any manufacturer developing connected devices. We
      emailed each company to ask for more information about their product and how it meets
      our standards. For the companies who did not respond, we conducted additional research
      to find the answers.
      {% endblocktrans %}
    </p>

    <p>
      {% trans "We evaluated each product on our list against five criteria:" %}
    </p>

    <section aria-labelledby="encryption">
      <h3 class="p-heading mt-3 mb-1" id="encryption">
        {% trans "Encryption" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        A product should use encryption in transit and at rest (where applicable). The product
        must use encryption for all of its network communications functions and capabilities,
        ensuring that communications aren’t eavesdropped on or modified in transit. User data
        should be encrypted when it is stored.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="security-updates">
      <h3 class="p-heading mt-3 mb-1" id="security-updates">
        {% trans "Security updates" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        The product must support automatic security updates for a reasonable period after sale,
        and be enabled by default. This ensures that when a vulnerability is known, the vendor
        can make security updates available for consumers, which are verified (using some form
        of cryptography) and then installed seamlessly.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="strong-passwords">
      <h3 class="p-heading mt-3 mb-1" id="strong-passwords">
        {% trans "Strong passwords" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        If the product uses passwords for remote authentication, it must require that strong
        passwords are used, including having password strength requirements. Any non-unique default
        passwords must also be reset as part of the device’s initial setup. This helps protect
        the device from vulnerability to guessable password attacks, which could result in a
        compromised device.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="vulnerability-management">
      <h3 class="p-heading mt-3 mb-1" id="vulnerability-management">
        {% trans "Vulnerability management" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        The vendor must have a system in place to manage vulnerabilities in the product. This
        must also include a point of contact for reporting vulnerabilities or a bug bounty
        program. This ensures that vendors are actively managing vulnerabilities throughout
        the product’s lifecycle.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="privacy-policy">
      <h3 class="p-heading mt-3 mb-1" id="privacy-policy">
        {% trans "Privacy Policy" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        The product must have a privacy policy and/or another privacy page that applies to the
        device, app, or service we are evaluating.
        {% endblocktrans %}
      </p>
    </section>
  </section>

  <section class="mt-5 mb-4 about-privacy">
    <h2 class="h3-heading">
      {% trans "Privacy" %}
    </h2>

    <p>
      {% blocktrans trimmed %}
      We evaluated the privacy documentation – which included privacy policies, privacy pages,
      FAQs – for each company making these products to determine (1) what kind of information
      is generally being collected (personal, biometric, and social), (2) how data is used,
      (3) how you can control your data, (4) the known track record of protecting customer data,
      (5) if the product can be used offline, (6) and whether the privacy policy was user-friendly.
      {% endblocktrans %}
    </p>

    <section aria-labelledby="data-collection">
      <h3 class="p-heading mt-3 mb-1" id="data-collection">
        {% trans "What kind of information is being collected?" %}
      </h3>
      <p class="body">
        {% blocktrans trimmed %}
        We listed the personal information collected for each product, as detailed in the
        privacy policy. This kind of information includes, but is not limited to name, email
        address, phone number, address.
        {% endblocktrans %}
      </p>
      <p class="body">
        {% blocktrans trimmed %}
        Biometric data is data that describes our bodies and distinctive personal characteristics.
        Many devices collect sensitive data about our heart rate, our sleep patterns, and our
        menstrual cycle, for instance. Some even use data about our face and voice to identify us.
        {% endblocktrans %}
      </p>
      <p class="body">
        {% blocktrans trimmed %}
        Social data includes information about your friends and contacts. We detailed which products
        collect this social information. This did not include the sharing of links or other
        information on social media through the product itself (e.g. sharing your route for a
        run on Facebook).
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="how-data-is-used">
      <h3 class="p-heading mt-3 mb-1" id="how-data-is-used">
        {% trans "How is data used?" %}
      </h3>
      <p class="body">
        {% blocktrans trimmed %}
        How do companies collect and share customer data with third parties? For this question,
        we analyzed the privacy documentation to determine how and when personal customer data
        is shared with third parties for reasons other than expected or  unrelated to
        fulfilling operations.
        {% endblocktrans %}
      </p>
      <p class="body">
        {% blocktrans trimmed %}
        For instance, if a company can share or sell personal customer data with third parties,
        or if third parties can use data for commercial purposes, then we noted this.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="data-control">
      <h3 class="p-heading mt-3 mb-1" id="data-control">
        {% trans "How can you control your data?" %}
      </h3>
      <p class="body">
        {% blocktrans trimmed %}
        Does the company provide a way for users to request deletion of their data? We looked for
        language around this in the privacy policy and/or whether the company had an online portal
        that lets users delete their data quickly.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="track-record">
      <h3 class="p-heading mt-3 mb-1" id="track-record">
        {% trans "What is the company’s known track record of protecting users’ data?" %}
      </h3>
      <p class="body">
        {% blocktrans trimmed %}
        We evaluated each company’s history of protecting customer data from January 2018 onward.
        We conducted research to find data breaches or any other incidents.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="offline-use">
      <h3 class="p-heading mt-3 mb-1" id="offline-use">
        {% trans "Can the product be used offline?" %}
      </h3>
      <p class="body">
        {% blocktrans trimmed %}
        We checked to see if the product could be used offline or if being online was a
        requirement to use the product effectively.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="user-friendly-privacy">
      <h3 class="p-heading mt-3 mb-1" id="user-friendly-privacy">
        {% trans "User-friendly privacy information" %}
      </h3>
      <p class="body">
        {% blocktrans trimmed %}
        How easy is it to find clear information about a device’s privacy policies? How clearly
        is that information stated? Privacy information should be clear, readable, and
        communicate basic information to consumers about what happens to their data. We looked
        for whether the company provides easy-to-read privacy information, either in the
        privacy policy or in another privacy page.
        {% endblocktrans %}
      </p>
    </section>
  </section>

  <section class="mt-5 mb-4 about-permissions">
    <h2 class="h3-heading">
      {% trans "Permissions" %}
    </h2>

    <p>
      {% trans "We checked to see whether the device or its app uses a camera, microphone, or tracks your location." %}
    </p>
    <p>
      {% blocktrans trimmed %}
      For you to set up your new device, you will probably need to download an app. Both of
      these (the device and the app) will most likely need data to make things work. The app
      will typically need to request permissions for it to access your more sensitive data.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans with google_play_url="https://play.google.com/store/apps" trimmed %}
      In our ratings, we evaluated if the device or the app required access to the <strong>camera</strong>, <strong>microphone</strong>, or <strong>location</strong> information. We evaluated the
      device based on the product website and we used the
      <a href="{{google_play_url}}">Google Play store for Android</a> to check on the permissions
      requested by each app. (<strong>Note:</strong> apps may access “approximate” or “network” b
      ased location. “Tracks Location” was marked as “Yes” if an app requests <strong>any</strong>
      location information, including approximate location.)
      {% endblocktrans %}
    </p>
  </section>

  <section class="mt-5 mb-4 worst-case-scenario">
    <h2 class="h3-heading">
      {% trans "Artificial Intelligence" %}
    </h2>

    <p class="body">
      {% blocktrans trimmed %}
      We evaluated whether or not the product uses artificial intelligence. We defined AI as:
      Changes are made to the product’s technology continually based on your user data. This
      would cover Alexa changing to better understand what you say, to your fitness wearable
      making recommendations on exercises to do so that you meet a specific wellness goal, or
      your security camera deciding not to alert you because it can distinguish a racoon
      from a burglar.
      {% endblocktrans %}
    </p>

    <section aria-labelledby="uses-ai">
      <h3 class="p-heading mt-3 mb-1" id="uses-ai">
        {% trans "Does the product use AI?" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        Based on responses from companies and our own research, we noted whether or not a
        product used AI, or if we could not determine whether or not the product used AI.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="uses-ai-for-personal-decisions">
      <h3 class="p-heading mt-3 mb-1" id="uses-ai-for-personal-decisions">
        {% trans "Does the AI use your personal data to make decisions about you?" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        Based on our research, we noted whether or not decisions were made about you.
        This included a smart assistant knowing that you are talking to it or a foam
        roller telling you that you are doing an exercise correctly.
        {% endblocktrans %}
      </p>
    </section>

    <section aria-labelledby="get-ai-information">
      <h3 class="p-heading mt-3 mb-1" id="get-ai-information">
        {% trans "Are you able to get information about how the AI works?" %}
      </h3>

      <p class="body">
        {% blocktrans trimmed %}
        One of the biggest issues surrounding artificial intelligence in our consumer products
        is having access to essential information about how AI-enabled features work. If we
        could find academic papers or other documentation about the AI, we marked this as Yes,
        and we included that information in a product’s page.
        {% endblocktrans %}
      </p>
    </section>
  </section>

{% endblock %}
