{% extends "../bg_about.html" %}

{% block main_about_class %}short-content{% endblock %}

{% block about_guts %}
    <h1 class="h2-heading">
      Press
    </h1>

    <p>If you're a member of the press interested in learning more about *Privacy Not Included, please email Corey Nord at <a href="mailto:corey@pkpr.com">corey@pkpr.com</a>. Below, peruse past coverage of *Privacy Not Included:</p>

    <ul class="about-press-list">
        <li>2018 | WIRED: 
            <a href="https://www.wired.com/story/mozilla-privacy-not-included-internet-connected-toys/">
                Mozilla Makes a Naughty List of Gifts That Aren't Secure
            </a>
        </li>

        <li>2018 | NPR: 
            <a href="https://www.npr.org/2018/12/01/672511667/a-tech-foundation-discusses-security-and-privacy-when-it-comes-to-smart-devices">
                A Tech Foundation Discusses Security And Privacy When It Comes To Smart Devices
            </a>
        </li>

        <li>2018 | USA Today: 
            <a href="https://eu.usatoday.com/story/tech/columnist/2018/11/23/top-tech-gifts-privacy-may-not-included/2059892002/">
                Looking at top tech toys and tools for the holidays? For many, privacy may not be included
            </a>
        </li>

        <li>2017 | New York Times: 
            <a href="https://www.nytimes.com/2017/12/08/opinion/holiday-gifts-toys-spying.html">
                Don’t Give Kids Holiday Gifts That Can Spy on Them
            </a>
        </li>

        <li>2017 | ABC San Francisco: 
            <a href="http://abc7news.com/technology/your-privacy-may-be-at-risk-with-some-toys-gadgets/2827339/">
                Your privacy may be at risk with some toys, gadgets
            </a>
        </li>
    </ul>
{% endblock %}
