{% extends "../bg_base.html" %}

{% block body-id %}about{% endblock %}

{% block guts %}
<div class="container">
    <div class="row">

    {% include "./about-nav.html" with page="why" %}

    <div class="col-12 col-md-10 col-lg-8 mt-5 justify-content-center">

      <h1 class="h1-heading">
        Why We Made This Guide
      </h1>

      <p>
        Welcome to version 2.0 of our *Privacy Not Included buyer’s guide. The goal is to help you shop smart—and
        safe—for products that connects to the internet.
      </p>

      <p>
        Last year we made version 1.0 of this guide. We didn’t know if people would be interested in a guide about the
        privacy and security of connected toys and smart home products. Turns out, they were. And it wasn’t just people
        who were interested. We discovered companies were too. It seems both consumers and companies are starting to
        see the value in connected products that are safe, secure, and private.
      </p>

      <p>
        We took the lessons learned last year and put them to work to build a better guide this year. What does that
        look like?
      </p>

      <h2 class="h4-heading">
        This guide is more opinionated.
      </h2>
      <p>
        We realize people want to just know which products are safe and which aren’t. We are Mozilla—not a consumer
        product review company—so we won’t say “Buy this, don’t buy that.” Instead, we used our technical expertise to
        create a set of <a href="https://medium.com/read-write-participate/minimum-standards-for-tackling-iot-security-70f90b37f2d5">minimum security standards</a>
        we think all products should meet in order to be sold in stores. Those standards include using encryption,
        automatic security updates, requiring strong passwords, having a system to manage vulnerabilities, and having
        an accessible privacy policy. Look for the “Meets Our Minimum Security Standards” badge on products in the
        guide.

      </p>
      <h2 class="h4-heading">
        There is a Creep-O-Meter.
      </h2>
      <p>
        We wanted users of this guide to be able to share their opinion too. It’s important companies, and other
        consumers, see which products people think are safe, and which products people feel are a bit creepy. So we
        created our Creep-O-Meter—a users rating on each product—to let folks give their opinion too. Try it out, it’s
        fun.
      </p>
      <h2 class="h4-heading">
        Bigger and better.
      </h2>
      <p>
        We added a few things this year. Our product list has grown to 70 connected products across six categories.
        Last year we answered the questions “Can it spy on me?” and “What does it know about me?”. This year we added
        “Can I control it?” and “Does the company show it cares about consumers?” to that list. Hopefully the
        information provided in each product review will help people shop smart for connected products.
      </p>
      <p>
        You’ll notice a lot of <a href="https://medium.com/@harraton/how-we-evaluated-the-products-in-mozillas-privacy-not-included-buyer-s-guide-2018-6b122f885de0">research</a>
        went into this guide. Fortunately, we have access to some of the best minds around in the privacy and security
        space. Janice Y. Tsai, a privacy researcher here at Mozilla, and Rebecca Ricks, a former Mozilla Fellow, came
        together to comb through privacy policies and apps, and reach out to companies with questions about encryption
        and bug bounty programs. We were also lucky to collaborate with the smart researchers working on the Usable
        Privacy Policy project at Carnegie Mellon University. The reading levels of privacy policies come from their <a
          href="https://explore.usableprivacy.org/">Explore Usable Privacy</a>
        website. Check it out, it’s a great resource to quickly scan the content of privacy policies.
      </p>

      <p>
        We hope you use and enjoy this guide to help you think about, shop for, and buy products that show they value
        privacy and security. We as consumers need to demand that value from the people who build our products. It’s
        how we’ll start to make the internet, and our lives, a bit safer in this digital world.
      </p>

      <p>
        Thank you!<br />
        The Team at Mozilla
      </p>

      <p><i>For any questions about the guide or to offer constructive feedback, please email jen@mozillafoundation.org</i></p>
    </div>
  </div>
</div>

{% endblock %}
