{% extends "../bg_about.html" %}

{% block main_about_class %}why-we-made{% endblock %}

{% block about_guts %}
  <h1 class="h2-heading">
    Why We Made This Guide
  </h1>

  <div class="why-we-made-intro mb-4">
    <p class="body">
      Welcome to <a href="https://foundation.mozilla.org/" target="_blank">Mozilla</a>’s third edition of our <em>*Privacy Not Included</em> buyer’s guide. Our goal is to help you shop
      smart—and safe—for products that connect to the internet.
    </p>
  
    <p class="body">
      Three years ago when we first started <em>*Privacy Not Included</em>, we didn’t know if people would be interested in a
      guide about the privacy and security of connected toys, gadgets, and smart home products. Turns out, they were. And
      it wasn’t just people who were interested. We discovered companies were too. We’re happy to see both consumers and
      companies increasingly value connected products that are safe, secure, and private.
    </p>
  
    <p class="body">
      What can you expect in <em>*Privacy Not Included</em> this year?
    </p>
  </div>

  <section aria-labelledby="minimum-security">
    <p id="minimum-security"><b>Our Minimum Security Standards</b></p>
    <p class="body">
      We realize people want to <em>just know</em> which products are safe and which aren’t. We are Mozilla—not a consumer product review company—so we won’t say “Buy this, don’t buy that.” Instead, we used our technical expertise to create a set of <a href="https://foundation.mozilla.org/en/privacynotincluded/about/meets-minimum-security-standards">Minimum Security Standards</a> we think all products should meet in order to be sold in stores. Those standards include using encryption, automatic security updates, requiring strong passwords, having a system to manage vulnerabilities, and having an accessible privacy policy.  Look for the “Meets Our Minimum Security Standards” badge on products in the guide. This year we’ve also added a star rating near the top of each product page so you can glance at a product and see just how well it does on our Minimum Security Standards.
    </p>
  </section>
  
  <section aria-labelledby="creep-o-meter">
    <p id="creep-o-meter"><b>There is a Creep-O-Meter.</b></p>
    <p class="body">
      We want users of this guide to be able to share their opinion too. It’s important that companies, and other consumers, see which products people think are safe, and which products people feel are a bit creepy. So we created our Creep-O-Meter—a user rating on each product—to let folks give their opinion. Companies are paying attention, so let them know if you think their product is creepy or not and if you’re likely to buy it. 
    </p>
  </section>
  
  <section aria-labelledby="bigger-better">
    <p id="bigger-better"><b>Bigger and better.</b></p>
    <p class="body">
      Our product list has grown to 76 connected products across six categories. You’ll notice a lot of research went into this guide. From knowing if the device uses a camera or microphone, or tracks your location or biometric data, to our section laying out what could happen if something goes wrong with a product—we’ve covered a lot of ground. Fortunately, we have great researchers and expertise here at Mozilla to dig into this so you don’t have to.  Our researchers combed through privacy policies, reached out to companies with questions about encryption and bug bounty programs, and sifted through product and app specifications. We’ve done our best to make your access to all this research easy to understand. 
    </p>
  </section>

  <div class="why-we-made-outro">
    <p class="body">
      We hope you use and enjoy this guide to help you think about, shop for, and buy products from companies that show they value
      privacy and security. We as consumers need to demand that value from the people who build our products. It’s how
      we’ll start to make the internet, and our lives, a bit safer in this digital world. That is our goal every day here
      at Mozilla.
    </p>
  
    <p class="body mb-4 pb-2">
      Thank you! <br />
      The Team at Mozilla
    </p>
  
    <p class="body">
      <em>
        For any questions about the guide or to offer constructive feedback, please email <a href="mailto:jen@mozillafoundation.org">jen@mozillafoundation.org</a>
      </em>
    </p>
  </div>

{% endblock %}
