{% extends "./base_streamfield_block.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block main_block_class %} tw-w-full {% endblock main_block_class %}

{% block block_content %}
    <div class="tw-flex tw-flex-col large:tw-flex-row medium:tw-space-x-6 tw-gap-10 medium:tw-gap-20 tw-py-32">
        <div class="tw-w-full large:tw-w-1/2">
            <picture>
                <source media="(min-width: 992px)" srcset="{% image_url self.image "width-540" %}, {% image_url self.image "width-1080" %} 2x"  alt="{{ self.image_alt_text }}">
                <source srcset="{% image_url self.image "width-510" %}, {% image_url self.image "width-1020" %} 2x" alt="{{ self.image_alt_text }}">
                <img src="{% image_url self.image "width-540" %}" class="wagtail-image w-100" srcset="{% image_url self.image "width-510" %} 510w, {% image_url self.image "width-210" %} 210w, {% image_url self.image "width-540" %} 540w" alt="{{ self.image_alt_text }}"/>
            </picture>
        </div>
        <div class="tw-w-full large:tw-w-1/2">
            <h2 class="tw-h2-heading">{{ self.heading }}</h2>
            <div class="tw-mt-8">{{ self.content|richtext }}</div>
        </div>
    </div>
{% endblock block_content %}
