

{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block block_content %}
<h2 class="tw-h3-heading">{{self.title}}</h2>

	<div class="tw-row">
        {% if self.title %}
        {% endif %}
            {% for block in self.accordion_items %}
            <details class="tw-w-full tw-font-sans tw-font-light tw-mx-4">
                <summary class="tw-list-none tw-w-full tw-text-lg tw-leading-7 tw-min-h-[80px] py-3 d-flex align-items-center tw-border-t-gray-20 tw-border-t">
                    <span class="tw-mr-auto">{{block.title}}</span>
                    <img src="{% static "_images/plus-circle.svg" %}" alt="" data-state="open" class="summary-open:tw-hidden" />
                    <img src="{% static "_images/minus-circle.svg" %}" alt="" data-state="close" class="tw-hidden summary-open:tw-block" />
                </summary>
                {% with item=block count=self.accordion_items|length %}
                    {{item.content}}
                {% endwith %}
            </details>

            {% endfor %}
	</div>
{% endblock %}
