{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_container_classes %}
  {% if value.image_width == "full_width" %} full-width {% endif %}
{% endblock %}

{% block block_row_classes %}
no-gutters
{% endblock %}

{% block main_block_class %}
streamfield-content 
{% if value.image_width == "full_width" %} full-width
{% elif value.image_width == "wide" %} wide
{% endif %}
{% endblock %}

{% block block_content %}
{% image value.image original as img %}

<figure class="my-1 annotated-image">
  <img src="{{ img.url }}" alt="{{ value.altText }}" class="w-100" />
  {% if value.caption %}
  <figcaption class="body-small d-block mt-2">
    {% if value.captionURL %}<a href="{{ value.captionURL }}">{% endif %}
    {{ value.caption }}
    {% if value.captionURL %}</a>{% endif %}
  </figcaption>
  {% endif %}
</figure>
{% endblock %}


