{% extends "./base_streamfield_block.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n localization %}

{% block block_content %}
    <div class="tw-mb-24 tw-gap-16 tw-grid medium:tw-grid-cols-3">
        {% for block in self.cards %}
            {% with card=block %}
                {% comment %}
        Check for the card.article, sometimes and article can get deleted
        causing dangling references in streamfield blocks and passing None to
        the `pageurl` template tag would throw an error.
                {% endcomment %}
                {% if card.article %}
                    <div class="tw-w-full tw-pt-12 tw-border-t tw-border-black">
                        <a class="tw-h5-heading tw-block hover:tw-text-black"
                           href="{% pageurl card.article %}">{{ card.article.title }}</a>
                        <div class="blog-authors d-flex flex-wrap align-items-center">
                            <div class="tw-mx-4">
                                {% for author in card.article.authors.all %}
                                    {% with author_image_classes="-tw-ml-[0.7rem] tw-overflow-hidden tw-rounded-full tw-border-2 tw-border-white tw-inline-block tw-w-20 tw-h-20 tw-border-r d-flex align-items-center justify-content-center last:tw-mr-4" no_image_classes="tw-bg-[url('../_images/author-placeholder.jpg')] tw-bg-cover " %}
                                        <div class="author-image {{ author_image_classes }} {% if author.author.image is None %}{{ no_image_classes }}{% endif %}"
                                             aria-label="{{ author.author.name }}">
                                            {% if author.author.image %}
                                                <img src="{% image_url author.author.image "fill-100x100" %}"
                                                     alt="{{ author.author.name }}"
                                                     title="{{ author.author.name }}"/>
                                            {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                        {% for author in card.article.authors.all %}
                            {% if not forloop.first %}
                                {% if not forloop.last %}
                                    <span class="tw-font-extrabold">,</span>
                                {% else %}
                                    <span>{% trans "and" %}</span>
                                {% endif %}
                            {% endif %}
                            <span class="tw-font-extrabold">{{ author }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
