{% extends "./base_streamfield_block.html" %}
{% load wagtailimages_tags wagtailcore_tags remove_richtext_wrapping %}

{% block block_container_classes %}
{% if value.wide_image %} wide w-100 mw-100 px-0 mx-0{% endif %}
{% endblock %}

{% block block_row_classes %}
no-gutters
{% endblock %}

{% block main_block_class %}
{% if value.wide_image %} wide {% else %} streamfield-content {% endif %} 
{% endblock %}

{% image self.image width-1840 as img %}
  <figure class="my-2">
    <img src="{{ img.url }}" alt="{% if self.alt_text %}{{ self.alt_text }}{% else %}{{ img.alt }}{% endif %}"
      class="w-100" />
    {% if self.caption %}
    <figcaption class="body-small">
      {{ self.caption|richtext|remove_wrapping|safe }}
    </figcaption>
    {% endif %}
  </figure>
{% endblock %}
