{% extends "./base_streamfield_block.html" %}
{% load wagtailimages_tags wagtailcore_tags custom_image_tags remove_richtext_wrapping %}

{% block block_container_classes%}
wide
{% endblock %}

{% block block_row_classes%}
no-gutters
{% endblock %}

{% block main_block_class %}
wide
{% endblock %}

{% block block_content %}
    <div class="full-width-image-block">
      {% custom_image_height self.image self.image_height as img %}
      <figure class="my-2">
        <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-100" />
        {% if self.caption %}
          <div class="container">
            <div class="row">
              <div class="offset-sm-1 col-sm-10 col-12 article-blocks">

                <figcaption>
                  {{ self.caption|richtext|remove_wrapping|safe }}
                </figcaption>
              </div>
            </div>
          </div>
        {% endif %}
      </figure>
    </div>
{% endblock %}
