{% extends "./base_streamfield_block.html" %}

{% comment %}
  [&.block-with-aside_+_.block-with-aside] - Will add a margin to space out these specific blocks from each other
  The blocks inside content will determine their own margin bottom for vertical spacing

  group-[.has-sidebar] - If the parent has a sidebar like CTA or Signup Block then apply styles to convert this into a single column
{% endcomment %}

{% block block_content %}
    <section class="block-with-aside [&.block-with-aside_+_.block-with-aside]:tw-mt-24">
        <div class="tw-grid tw-grid-cols-1 large:tw-grid-cols-3 tw-gap-8 large:tw-gap-24 group-[.has-sidebar]:tw-grid-cols-1 group-[.has-sidebar]:tw-gap-8 ">
            <div class="tw-col-span-1 large:tw-col-span-2 group-[.has-sidebar]:tw-col-span-1">
                {{ value.content }}
            </div>
            {% if value.aside %}
                <aside class="tw-mb-12 large:tw-mb-0 large:tw-ml-[34px] group-[.has-sidebar]:tw-ml-0">
                    {{ value.aside }}
                </aside>
            {% endif %}
        </div>
    </section>
{% endblock block_content %}
