{% extends "./blog_cta_card_block_regular.html" %}

{% load l10n wagtailcore_tags wagtailimages_tags %}

{% comment %}
    For this block, the image's height is constrained to a value
{% endcomment %}

{% block blog_cta_card_image %}
    {% image image_block.image height-100 as img %}
    <img src="{{ img.url }}"
         alt="{{ image_block.altText }}"
         class="tw-object-cover tw-w-full tw-h-56"
         width="{{ img.width|unlocalize }}"
         height="{{ img.height|unlocalize }}">
{% endblock blog_cta_card_image %}
