{% load wagtailcore_tags wagtailimages_tags static i18n %}

<div class="tw-h-full tw-flex tw-flex-col tw-justify-between tw-p-[36px] tw-border-2 tw-border-black tw-shadow-[10px_10px_rgba(0,0,0)]">
  <div id="callout-box-body" class="tw-mb-[4rem]">
        <div class="tw-flex">
          {% if value.related_topics %}
            <div class="tw-mb-3">         
              {% include '../fragments/blog_topics.html' with topics=value.related_topics %}
            </div>
          {% endif %}
          {% if value.show_icon %}
            <img src="{% static "_images/headphones-icon.svg" %}" alt="{% trans "audio" context "icon description for screen readers" %}" class="tw-h-4 tw-w-4 tw-mr-2 tw-my-1 tw-mb-3">
          {% endif %}
        </div>
        <h1 class="tw-text-[40px] tw-mb-2">{{ value.title }}</h1>
        <div class="tw-body tw-mb-5">{{ value.body | richtext }}</div>
        {% if value.audio %}
          {% include '../fragments/audio_player.html' with audio=value.audio.url spacing="tw-my-2"%}
        {% endif %}
  </div>
    {% if value.link_button_text and value.link_button_url %}
      <div id="callout-box-button" class='tw-text-right tw-mt-7'>
          <a class="tw-btn-secondary tw-border after:tw-content-[]" href="{{ value.link_button_url }}">{{ value.link_button_text }}</a>
      </div>
    {% endif %}
</div>

