{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
	<div class="tw-row">
		{% for block in self.cards %}
          {% with card=block count=self.cards|length %}
            {% image card.image fill-350x197 as img %}
            <div class="tw-px-4 small:tw-w-full {% if count > 2 %} large:tw-w-1/3 medium:tw-w-1/2 {% else %} medium:tw-w-1/2 {% endif %} tw-mb-5">
              <div class="card-regular tw-h-full tw-flex tw-flex-col">
                <img src="{{ img.url }}" alt="{{ img.alt_text }}" />
            
                <div class="tw-flex tw-flex-1">
                  <div class="tw-border-b-4 tw-border-gray-05 tw--mt-5 tw-bg-white tw-relative tw-mx-2 medium:tw-mx-4 tw-p-4 tw-w-full tw-flex tw-flex-col">
                    <h3 class="h3-heading tw-mb-2">{{ card.title }}</h3>
                    <p>{{ card.body }}</p>
                    {% if card.link_label and card.link_url %}
                      <a class="cta-link tw-mb-2" href="{{ card.link_url }}">{{ card.link_label }}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
		{% endfor %}
	</div>
{% endblock %}
