{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
	<div class="row">
		{% for block in self.cards %}
          {% with card=block count=self.cards|length %}
            {% image card.image fill-350x197 as img %}
            <div class="col-sm-12 {% if count > 2 %} col-lg-4 col-md-6 {% else %} col-md-6 {% endif %} mb-4">
              <div class="card-regular h-100 d-flex flex-column ">
                <img src="{{ img.url }}" alt="{{ img.alt_text }}" />
            
                <div class="d-flex flex-1">
                  <div class="key-item mx-2 mx-md-3 p-3 w-100 d-flex flex-column">
                    <h3 class="h3-heading mb-2">{{ card.title }}</h3>
                    <p>{{ card.body }}</p>
                    {% if card.link_label and card.link_url %}
                      <a class="cta-link mb-2" href="{{ card.link_url }}">{{ card.link_label }}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
		{% endfor %}
	</div>
{% endblock %}
