{% load wagtailcore_tags wagtailimages_tags static %}

{# navigation buttons #}
{% include 'fragments/carousel/carousel_navigation.html' with title=value.title %}
<div class="tw-mb-7 tw-mt-5 first:tw-mt-0 tw-relative tw-overflow-hidden medium:tw-px-[calc(50vw-480px)] large:tw-mx-[calc(50%-50vw)] large:tw-px-[calc(50vw-570px)]">

  {# Slider main container #}
  <div class="swiper tw-px-3" data-carousel>

    {# Additional required wrapper #}
    <div class="swiper-wrapper">

      {# Slides #}
      {% for current_event in self.current_events %}
        {% image current_event.image fill-600x250 as img %}
        <div class="swiper-slide tw-h-auto">
          {% include 'fragments/event_card.html' with title=current_event.title category_url=current_event.subheading_link.0.value.link_url category_title=current_event.subheading_link.0.value.label buttons=current_event.buttons image=img.url text=current_event.body %}
        </div>
      {% endfor %}
    </div>

    {# Pagination #}
    <div class="swiper-pagination tw--bottom-7 medium:tw-hidden"></div>
  </div>
</div>


