{% extends "./base_streamfield_block.html" %}
{% load wagtailembeds_tags %}

{% block block_content %}
  <div class="tw-my-2">
    {% embed value.url %}
  </div>
{% endblock %}

{% block block_tail %}
  {% comment %}
    This inline JS is needed in order for the datawrapper embed to be responsive.
  {% endcomment %}
  <script type="text/javascript" nonce="{{ request.csp_nonce }}">
    !function () {
      "use strict";
      window.addEventListener("message", (function (e) {
        if (void 0 !== e.data["datawrapper-height"]) {
          var t = document.querySelectorAll("iframe");
          for (var a in e.data["datawrapper-height"]) for (var r = 0; r < t.length; r++) {
            if (t[r].contentWindow === e.source) t[r].style.height = e.data["datawrapper-height"][a] + "px"
          }
        }
      }))
    }();
  </script>
{% endblock %}