
{% load wagtailcore_tags wagtailimages_tags i18n %}

{# Placeholder. Template to be updated in follow-up PRs. #}
<div class="dear-internet-letter-wrapper">
  <div class="dotted-shadow"></div>
  <div class="dear-internet-letter">
    {% if value.image %}
    {% image value.image original alt="" loading="lazy" class="mb-4 d-block mx-auto" %}
    {% endif %}

    {% if value.video_url %}
    <p>video url: {{ value.video_url }}</p>
    {% endif %}

    <div class="letter-body">
      {{ value.letter }}
    </div>

    <div>
      <div class="d-flex align-items-center mb-4">
        {% if value.author_photo %}
        {% image value.author_photo fill-90x90 alt="" loading="lazy" width="45" height="45" class="author-photo mr-3" %}
        {% endif %}
        <p class="author-name mb-0">{{ value.author_name }}</p>
      </div>
      <div class="author-description">{{ value.author }}</div>
    </div>
  </div>
</div>
