{% load wagtailcore_tags wagtailimages_tags %}

{% with url=value.url square=value.square_image %}

<div class="col-6 {% if count > 3 %}col-sm-3{% elif count == 3 %}col-sm-4{% elif count == 2 %}col-sm-6{% endif %} mb-2 mb-sm-4">
	{% if url %}<a href="{{ url }}">{% endif %}
    {% if square %}
      {% image value.image fill-890x890-c100 format-jpeg class="w-100" alt=value.alt_text %}
    {% else %}
      {% image value.image format-jpeg class="w-100" alt=value.alt_text %}
    {% endif %}
  {% if url %}</a>{% endif %}

  {% if value.caption %}
	<p class="my-2">
    {% if url %}<a href="{{ url }}">{% endif %}
      {{ value.caption }}
    {% if url %}</a>{% endif %}
  </p>
  {% endif %}
</div>

{% endwith %}
