{% load wagtailcore_tags %}

<div class="my-default">
  <div class="embed-responsive embed-responsive-16by9" {% if value.height %}style="height: {{value.height}}px"{% endif %}>
    <iframe src="{{ value.url }}" class="embed-responsive-item" sandbox="allow-scripts"></iframe>
  </div>
  {% if value.caption %}
  <p class="body-small mt-2">
    {% if value.captionURL %}<a href="{{ value.captionURL }}">{% endif %}
    {{ value.caption }}
    {% if value.captionURL %}</a>{% endif %}
  </p>
  {% endif %}
</div>
