{% load wagtailcore_tags %}


{# Close the current dom elements so we can break out of the bootstrap grid. #}
    </div> <!-- End .blog-body -->
  </div> <!-- End .cms -->
</div> <!-- End .col-lg-8 -->

<div class="col-lg-12">
  <div class="my-default">
    <div class="embed-responsive embed-responsive-16by9" {% if value.height %}style="height: {{value.height}}px"{% endif %}>
      <iframe src="{{ value.url }}" class="embed-responsive-item"></iframe>
    </div>
    {% if value.caption %}
    <p class="body-small mt-2">
      {% if value.captionURL %}<a href="{{ value.captionURL }}">{% endif %}
      {{ value.caption }}
      {% if value.captionURL %}</a>{% endif %}
    </p>
    {% endif %}
  </div>
</div>

{# Re-open the original grid even if it's immediately closed afterwards. #}
<div class="py-4 py-md-5 col-lg-8 offset-lg-2">
  <div class="cms">
    <div class="blog-body">
