{% load wagtailcore_tags %}
{% comment %}
The iframe_block.html is used on Article pages and Blog pages.
Blog pages need to break out of the current grid system and open a 12 column block
for it to align with other content.
The Article page doesn't require as much "breaking out" of the parent grid because there's
less nesting in the article pages. But we still need to break out of the grid, and
use a 12 column grid.
{% endcomment %}


{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags %}

{% block block_row_classes%}
no-gutters
{% endblock %}

{% block main_block_class %}
{% if value.wide_iframe %} wide {% else %} streamfield-content {% endif %}
{% endblock %}

{% block block_content %}
<div class="my-2">
  <div class="embed-responsive embed-responsive-16by9" {% if value.height %}style="height: {{value.height}}px;"
    {% endif %}>
    <iframe src="{{ value.url }}" class="embed-responsive-item"></iframe>
  </div>
  {% if value.caption %}
  <p class="body-small mt-2">
    {% if value.captionURL %}<a href="{{ value.captionURL }}">{% endif %}
      {{ value.caption }}
      {% if value.captionURL %}</a>{% endif %}
  </p>
  {% endif %}
</div>
{% endblock %}
