{% extends "./base_streamfield_block.html" %}
{% load l10n wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    {% with card=value %}
        <section id="{{ card.slug }}" class="tw-grid tw-grid-cols-1 large:tw-grid-cols-2 tw-gap-12 large:tw-gap-[60px] tw-mb-24 {{ divider_styles }}">
            <div class="tw-row-start-2 large:tw-row-start-1">
                <h2 class="tw-mb-8">{{ card.title }}<a href="#{{ card.slug }}"></a></h2>
                {{ card.text|richtext }}
                {% if card.link_button %}
                    {% with link_button=card.link_button.0 %}
                        <a class="tw-{{ link_button.styling }} link-button tw-mt-8" href="{{ link_button.url }}" {% if link_button.new_window %}target="_blank"{% endif %}>
                            {{ link_button.label }}
                        </a>
                    {% endwith %}
                {% endif %}
            </div>
            <div class="tw-flex tw-items-center">
                {% image card.image fill-540x305-c100 format-jpeg as img %}
                <img src="{{ img.url }}" alt="{{ card.altText }}" class="tw-w-full" width="{{ img.width|unlocalize }}" height="{{ img.height|unlocalize }}">
            </div>
        </section>
    {% endwith %}
{% endblock %}
