{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
  <section class="tw-bg-white tw-mb-7">
    <div class="tw-container">
      <div class="tw-flex tw-flex-wrap tw--mx-[15px]">
        <div class="tw-min-h-[400px] medium:tw-mb-7">
          <div class="tw-relative tw-h-full xlarge:tw-flex tw-justify-end">

          {# Image #}
            <div class="xlarge:tw-absolute xlarge:tw-left-0 xlarge:tw-w-[65%] xlarge:tw-h-full">
              {% image value.image fill-928x400 as img %}
              <img class="tw-h-full tw-object-cover" src="{{ img.url }}" alt="{{ value.alt_text }}">
            </div>

            {# Content #}
            <div class="tw-border-b-[4px] tw-border-black tw-top-[2px] tw-self-center tw-my-[0.625rem] tw-bg-white tw-relative  xlarge:tw-w-1/2 xlarge:tw-p-[2.5rem]">
              {% if value.metadata %}
                <div class="tw-h6-heading medium:tw-block tw-mb-2">{{ value.metadata }}</div>
              {% endif %}
              <h3 class="tw-mb-2 tw-pb-1 xlarge:tw-text-4xl">
                {% if value.title_link %}<a href="{% pageurl value.title_link %}">{% endif %}
                {{ value.title }}
                {% if value.title_link %}</a>{% endif %}
              </h3>
              {% if value.body %}
                <p class="xlarge:tw-block">{{ value.body|truncatechars:156 }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
