{% extends "./base_streamfield_block.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <section class="tw-bg-white tw-mb-24">
        <div class="tw-container">
            <div class="tw-row">
                <div class="xlarge:tw-min-h-[400px] medium:tw-mb-24 tw-w-full">
                    <div class="tw-relative tw-h-full xlarge:tw-flex tw-justify-end">
                        {# Image #}
                        <div class="xlarge:tw-absolute xlarge:tw-left-0 xlarge:tw-w-[65%] xlarge:tw-h-full">
                            {% image value.image fill-928x400 as img %}
                            <img class="tw-h-full tw-object-cover"
                                 src="{{ img.url }}"
                                 alt="{{ value.alt_text }}">
                        </div>
                        {# Content #}
                        <div class="tw-border-b-[4px] tw-border-black tw-top-[2px] tw-self-center tw-my-[0.625rem] tw-bg-white tw-relative xlarge:tw-w-1/2 xlarge:tw-p-20">
                            {% if value.metadata %}<div class="tw-h6-heading medium:tw-block tw-mb-4">{{ value.metadata }}</div>{% endif %}
                            <h2 class="tw-h3-heading tw-mb-4 tw-pb-2">
                                {% if value.title_link %}
                                    <a href="{% pageurl value.title_link %}">
                                    {% endif %}
                                    {{ value.title }}
                                    {% if value.title_link %}</a>{% endif %}
                                </h2>
                                {% if value.body %}<p class="xlarge:tw-block xlarge:tw-mb-0">{{ value.body|truncatechars:400 }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
