{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
  <div class="tw-row tw-py-4">
    {% for block in self.cards %}
      {% with card=block %}
        {% image card.image fill-350x197 as img %}
        <div class="tw-px-4 medium:tw-w-1/2 tw-mb-5 group">
          <div class="card-regular tw-h-full tw-flex tw-flex-col">
            <img src="{{ img.url }}" alt="{{ card.alt_text }}"/>
            <div class="tw-flex tw-flex-1">
              <div class="tw-bg-white tw-relative tw-py-4 tw-w-full tw-flex tw-flex-col">
                <h3 class="tw-h3-heading tw-mb-2 grou">
                  {% if card.link %}<a href="{% pageurl card.link %}">{% endif %}
                  {{ card.title }}
                  {% if card.link %}</a>{% endif %}
                </h3>
                {{ card.body|richtext }}
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
{% endblock %}
