{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n l10n %}
{% block main_block_class %}{% endblock %}

{% block block_content %}

    <div class="-tw-ml-2 tw-mt-6 tw-mb-24 tw-py-12 tw-px-12 tw-rounded-lg tw-popout medium:tw-ml-0 medium:tw-px-24 medium:tw-pb-24">
        <div
            class="newsletter-signup-module"
            data-module-type="default"
            data-form-style="callout-box:2-col"
            data-form-position="callout-box"
            data-button-text="{% trans "Subscribe" context "Submit button for newsletter signup form" %}"
            data-signup-id="{{ self.signup.id | unlocalize }}"
            data-cta-header="{{ self.signup.header | escape }}"
            data-cta-description="{{ self.signup.description | escape }}"
            data-cta-privacy-notice="{{ self.signup.privacy_notice | richtext }}"
            data-ask-name="{{ self.signup.ask_name }}"
            data-button-cta-event="newsletter-signup"
        ></div>
    </div>
{% endblock %}
