<div class="profiles">
  <div class="row">
    {% for profile in profiles %}
      <div class="col-md-6 col-12 mb-5">
        <div class="person-card row no-gutters">
          <div class="col-4 mr-3">
            <div class="row">
              <div class="col">
                <a href="https://www.mozillapulse.org/profile/{{ profile.profile_id }}">
                  <img
                    src="{% if profile.thumbnail %}{{ profile.thumbnail }}{% else %}/_images/fellowships/headshot/placeholder.jpg{% endif %}"
                    class="headshot"
                    alt="Headshot"
                  >
                </a>
              </div>
            </div>
          </div>
          <div class="col bio-content pt-2">

            <div class="mb-1 d-flex justify-content-between align-items-baseline row">
              <div class="meta-block col-9">
                <a href="https://www.mozillapulse.org/profile/{{ profile.profile_id }}">
                  <div class="h5-heading">
                    <span class="meta-block-name">
                      {{ profile.name }}
                    </span>
                  </div>
                </a>
                <p class="d-flex align-items-center meta-block-location h6-heading my-2">{{ profile.location }}</p>
              </div>
              <div class="social-icons col">
                {%if profile.twitter %} <a href="{{ profile.twitter }}" class="twitter small"></a> {% endif %}
                {%if profile.linkedin %} <a href="{{ profile.linkedIn }}" class="linkedIn small"></a> {% endif %}
              </div>
            </div>

            <div class="">
              <p class="m-0">{{ profile.user_bio }}</p>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
