<div class="profiles">
  <div class="row">
    {% for profile in profiles %}
      <div class="col-md-6 col-12 mb-5">
        <div class="person-card row no-gutters">
          <div class="col-4 mr-3">
            <div class="row">
              <div class="col">
                <img
                  src="{% if profile.thumbnail %}{{ profile.thumbnail }}{% else %}/_images/fellowships/headshot/placeholder.jpg{% endif %}"
                  class="headshot"
                  alt="Headshot"
                >
              </div>
            </div>
          </div>
          <div class="col bio-content pt-3">

            <div class="meta-block mb-2">
              <div class="h5-heading mb-1">{{profile.name }}</div>
              <div className="person-social-links mt-3">
                {%if profile.twitter %} <a href="{{ profile.twitter }}" class="twitter gray small mr-4"></a> {% endif %}
                {%if profile.linkedIn %} <a href="{{ profile.linkedIn }}" class="linkedIn gray small mr-4"></a> {% endif %}
              </div>
            </div>

            <div class="">
              <p class="meta-block-item meta-block-item-location">{{ profile.location }}</p>
              <p class="">{{ profile.user_bio }}</p>
              <a href="https://www.mozillapulse.org/profile/{{ profile.profile_id }}">SEE FULL PROFILE →</a>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
