{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <div class="tw-row tw-py-8">
        {% for block in self.profiles %}
            {% with card=block.profile count=self.cards|length %}
                <div class="tw-px-8 small:tw-w-full medium:tw-w-1/3 tw-mb-12">
                    <div class="card-regular tw-h-full tw-flex-col">
                        {% if card.image %}
                            <img
                                class="tw-rounded-full tw-w-[140px] tw-h-[140px]"
                                src="{% image_url card.image "fill-140x140" %}"
                                srcset="{% image_url card.image "fill-280x280" %} 2x, {% image_url card.image "fill-420x420" %} 3x"
                                alt="{{ card.alt_text }}"
                                title="{{ card.name }}"
                            >
                        {% endif %}
                        <div class="tw-flex tw-flex-1">
                            <div class="tw-bg-white tw-relative tw-py-8 tw-w-full tw-flex tw-flex-col">
                                <div class="tw-h5-heading tw-mb-4">{{ card.name }}</div>
                                {% if card.tagline %}
                                    <div class="tw-h6-heading">{{ card.tagline }}</div>
                                {% endif %}
                                {% if card.introduction %}
                                    <p class="tw-body tw-m-0">{{ card.introduction|truncatechars:250 }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
