{% load static %}

{# NOTE: any changes to this file will also require updating directory-listing-filters.js in source/js/foundation/pages #}

<div class="tw-px-4 tw-w-full large:tw-w-1/2 tw-mb-6">
  <div class="person-card tw-border-t tw-border-black medium:tw-relative medium:tw-min-h-[160px]">
    <div class="tw-float-left medium:tw-absolute">
      <a href="https://www.mozillapulse.org/profile/{{ profile.profile_id }}" class="tw-block headshot-container tw-w-[92px] tw-h-[92px] tw-mr-[14px] tw-mb-[14px] medium:tw-w-[160px] medium:tw-h-[160px] medium:tw-mr-[0px] medium:tw-mb-[0px]">
        <img
          class="tw-object-cover tw-w-full tw-h-full tw-object-center"
          src="{% if profile.thumbnail %}{{ profile.thumbnail }}{% else %}{% static "_images/fellowships/headshot/placeholder.jpg" %}{% endif %}"
          alt="Headshot">
      </a>
    </div>
    <div class="short-meta-wrapper tw-pt-[10px] medium:tw-ml-[174px]">
      <a class="h5-heading medium:tw-w-[calc(100%-70px)] tw-mb-0 tw-block" href="https://www.mozillapulse.org/profile/{{ profile.profile_id }}">{{ profile.name }}
      </a>
      {% if profile.location %}<p class="tw-flex tw-items-center meta-block-location body-small tw-my-2">{{ profile.location }}</p>{% endif %}
      <div class="medium:tw-absolute medium:tw-right-0 medium:tw-top-4">
        {% if profile.twitter %}<a href="{{ profile.twitter }}" class="twitter twitter-glyph small"></a>{% endif %}
        {% if profile.linkedin %}<a href="{{ profile.linkedin }}" class="linkedIn linkedIn-glyph small"></a>{% endif %}
      </div>
    </div>
    <div class="tw-clear-both medium:tw-ml-[174px]">
      <p class="tw-m-0">{{ profile.user_bio }}</p>
    </div>
  </div>
</div>
