{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags i18n %}

{% block block_content %}
  {% if entries|length != 0 %}
  <div class="recent-blog-entries tw-row tw-my-2 tw-mx-0 tw-flex tw-flex-col {{ divider_styles }}">
    <div class="tw-mb-5">
      <h3>{{ value.title }}</h3>
    </div>
    <div class="tw-row">
      {% include "../fragments/entry_cards.html" %}
    </div>
    {% if more_entries %}
    <div class="tw-w-full tw-px-4 tw-text-center tw-mb-6">
      <a class="tw-btn-secondary text" href="{{ more_entries_link }}">
        {% trans "More from our blog" %}
      </a>
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
