{% load i18n %}

{% if entries|length != 0 %}
<div class="recent-blog-entries index-entries row my-default mx-0 d-flex flex-column {{ divider_styles }}">
  <div class="mb-4">
    <h3>{{ value.title }}</h3>
  </div>
  <div class="row">
    {% include "../fragments/entry_cards.html" %}
  </div>
  {% if more_entries %}
  <div class="col-12 text-center mb-5">
    <a class="btn btn-secondary text" href="{{ more_entries_link }}">
      {% trans "More from our blog" %}
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
