{% load static wagtailimages_tags %}
<div class="tw-mb-6 tw-mt-5 first:tw-mt-0 tw-relative tw-overflow-hidden {% if page.signup != None %} large:tw-mr-[calc(50%-50vw)]{% else %} tw-container{% endif %}">

  {# Slider main container #}
  <div class="swiper tw-px-3 tw-pb-7 tw-mx-0 tw-overflow-hidden tw-container" data-carousel>

    {# navigation buttons #}
    <div class="tw-flex tw-justify-center tw-items-start tw-flex-col tw-mb-5 medium:tw-flex-row medium:tw-justify-between medium:tw-items-center">
      <h2 class="h3-heading tw-font-semibold tw-mb-0 tw-w-full">{{ value.title }}</h2>
      {% if self.session_items|length > 2 %}
        {% include 'fragments/carousel/carousel_navigation.html' %}
      {% endif %}
    </div>

    {# Additional required wrapper #}
    <div class="swiper-wrapper">

      {# Slides #}
      {% for item in self.session_items %}
        {% image item.value.image fill-250x140 as img %}
        <div class="swiper-slide">
          {% include 'fragments/session_card.html' with title=item.value.title author_subheading=item.value.author_subheading url=item.value.video.url image=img.url text=item.value.body animated_thumbnail=item.value.video.url %}
        </div>
      {% endfor %}

    </div>

    {# Pagination #}
    <div class="swiper-pagination tw--bottom-[5px] large:tw-hidden"></div>

  </div>
</div>
