{% load static wagtailimages_tags %}

{% block block_content %}
    <div class="tw-container tw-py-16">
        <div class="tw-row">
            <div class="tw-relative tw-overflow-hidden">
                <div
                    class="swiper tw-relative tw-pb-16 tw-mx-0 tw-overflow-hidden tw-container after:tw-hidden large:after:tw-block after:tw-content-[''] after:tw-bg-gradient-to-l after:tw-from-white tw-from-70% after:tw-to-transparent after:tw-h-[475px] after:tw-w-[40px] after:tw-top-[60px] after:tw-absolute after:tw-right-0 after:tw-z-10"
                    data-carousel
                    data-slides-per-view="1.2"
                    data-desktop-slides-per-view="2.4"
                >

                    {% block navigation %}
                        <div class="tw-flex tw-justify-center tw-items-start tw-flex-col tw-mb-10 medium:tw-flex-row medium:tw-justify-between medium:tw-items-center">
                            <h2 class="tw-h3-heading tw-mb-0 tw-w-full">{{ value.title }}</h2>
                            {% if self.session_items|length > 2 %}
                                {% include 'fragments/carousel/carousel_navigation.html' %}
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block slides %}
                        <div class="swiper-wrapper tw-items-stretch">
                            {% for item in self.session_items %}
                            {% image item.value.image fill-420x290 as img %}
                            <div class="swiper-slide tw-h-auto">
                                {% include 'fragments/session_card.html' with title=item.value.title author_subheading=item.value.author_subheading url=item.value.link.0.value.link_url image=img.url text=item.value.body animated_thumbnail=item.value.video.url %}
                            </div>
                            {% endfor %}
                        </div>
                    {% endblock %}

                    {% block pagination %}
                        <div class="swiper-pagination tw-relative tw-mt-16"></div>
                    {% endblock %}
                </div>
            </div>

            {% if self.button %}
                <div class="tw-flex tw-justify-center tw-w-full">
                    <a class="tw-cta-link tw-text-black" href="{{ self.button.0.value.link_url }}">{{ self.button.0.value.label }}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
