{% load wagtailcore_tags wagtailimages_tags %}

<div class="container tw-py-6 medium:tw-py-7 first:tw-pt-0">
  <h2 class="tw-h3-heading tw-font-semibold tw-mb-4">{{ value.title }}</h2>
  <tempalte></tempalte>
  <div class="tw-grid tw-grid-cols-1 {% if page.signup == None %}large:tw-grid-cols-2 {% endif %}tw-gap-6 large:tw-gap-10">
    {% for card in self.cards %}
      {# Spaces Card #}
      <a class="tw-group tw-no-underline tw-p-5 tw-border tw-border-gray-60/20 tw-flex medium:tw-flex-row tw-flex-col medium:tw-space-x-4"
         href="{{ card.value.link.0.value.link_url }}">

        <div class="tw-order-2 medium:tw-order-1 tw-flex-1">
          <span class="tw-h5-heading tw-text-blue tw-underline tw-mb-4 medium:mb-4 group-hover:tw-text-blue-dark tw-font-zilla tw-font-semibold">{{ card.value.title }}</span>
          <p class="tw-body">{{ card.value.body }}</p>
        </div>

        <div class="tw-order-1 medium:tw-order-2 tw-shrink-0 tw-mb-4 medium:tw-mb-0 medium:tw-w-1/3">
          {% image card.value.image fill-158x158 as img_desktop %}
          {% image card.value.image fill-290x125 as img_mobile %}
          <picture>
            <source media="(min-width:768px)" srcset="{{ img_desktop.url }}">
            <img class="tw-w-full tw-h-auto" src="{{ img_mobile.url }}" alt="">
          </picture>
        </div>

      </a>
    {% endfor %}
  </div>
</div>
