{% extends "./base_streamfield_block.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <section class="tw-container tw-mb-24">
        <div class="tw-row tw-grid medium:tw-grid-cols-3 tw-gap-x-8 tw-gap-y-12 medium:tw-gap-16">
            {% for block in self.cards %}
                {% with card=block %}
                    <div class="tw-pt-8 tw-relative tw-w-full tw-flex tw-flex-col tw-border-t tw-border-black/10">
                        {% if card.link_page %}
                            <a class="hover:tw-text-inherit" href="{% pageurl card.link_page %}">
                            {% elif card.link_url %}
                                <a class="hover:tw-text-inherit"
                                   target="_blank"
                                   rel
                                   noopener
                                   href="{{ card.link_url }}">
                                {% endif %}
                                <div class="tw-h5-heading tw-mb-4">{{ card.heading }}</div>
                                {% if card.link_page or card.link_url %}</a>{% endif %}
                            {% if card.meta_data %}<div class="tw-body-small tw-pb-4">{{ card.meta_data }}</div>{% endif %}
                            <p class="tw-text-sm tw-text-gray-60 tw-my-0">{{ card.body }}</p>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </section>
    {% endblock %}
