{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <section class="tw-container tw-mb-24">
        <div class="tw-row tw-grid medium:tw-grid-cols-3 tw-gap-x-8 tw-gap-y-12 medium:tw-gap-16">
            {% for block in self.cards %}
                {% with card=block %}
                    <div class="tw-pt-8 tw-relative tw-w-full tw-flex tw-flex-col tw-border-t tw-border-black/10">
                        {% if card.link %}
                            {% with link=card.link.0 %}
                                <a class="hover:tw-text-inherit" href="{{ link.url }}" {% if link.new_window %}target="_blank" rel=”noopener” {% endif %}>
                            {% endwith %}
                        {% endif %}
                        <div class="tw-h5-heading tw-mb-4">{{ card.heading }}</div>
                        {% if card.link %}</a>{% endif %}
                        {% if card.meta_data %}
                            <div class="tw-body-small tw-pb-4">{{ card.meta_data }}</div>
                        {% endif %}
                        <p class="tw-text-sm tw-text-gray-60 tw-my-0">{{ card.body }}</p>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
