{% extends "./base_streamfield_block.html" %}
{% load wagtailcore_tags %}

{% block block_container_classes %}
{% if value.video_width == "full_width" %} full-width {% endif %}
{% endblock %}

{% block block_row_classes %}
tw-mx-0
{% endblock %}

{% block main_block_class %}
streamfield-content 
{% if value.video_width == "full_width" %} full-width
{% elif value.video_width == "wide" %} wide
{% endif %}
{% endblock %}

<!-- TODO replace bootstrap embed-responsive classes with one created by tailwind component -->
{% block block_content %}
<div class="tw-my-2">
    <div class="embed-responsive embed-responsive-16by9 print:tw-hidden">
      <iframe
        src="{{ value.embed_url }}"
        frameborder="0"
        class="embed-responsive-item"
        allow="autoplay; encrypted-media"
        allowfullscreen>
      </iframe>
    </div>
    {% if value.caption %}
    <p class="caption-wrapper tw-body-small tw-mt-2">
      {% if value.captionURL %}<a href="{{ value.captionURL }}">{% endif %}
      {{ value.caption }}
      {% if value.captionURL %}</a>{% endif %}
    </p>
    {% endif %}
  </div>
{% endblock %}
