{% extends "./base-compiled.html" %}

{% block bodyID %}{{ suffix }}{% endblock %}

{% block content %}
  {% if page.parent.title != parentTitle %}
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <p class="h5-heading hidden-md-up">{{ page.parent.title }}</p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="hidden-md-up" id="multipage-nav-mobile">
    <div class="container">
      <div class="row px-3">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% if page.parent.title != parentTitle %}
      <div class="py-5 col-md-3 mb-3 hidden-sm-down">
        <div class="multipage-nav" id="multipage-nav">
          {% load pages_tags %}
          {% page_menu "pages/menus/side-menu-items.html" %}
        </div>
      </div>
      {% endif %}
      <div class="py-5 {% if page.parent.title != parentTitle %}col-12 col-md-9{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
        {% if page.parent.title != parentTitle %}
        <p class="h5-heading hidden-sm-down">{{ page.parent.title }}</p>
        {% endif %}
        <h1 class="h1-heading {% if page.parent.title != parentTitle %}hidden-sm-down{% endif %}">{% block h1 %}{% endblock %}</h1>
        {% block subcontent %}
        <div class="cms">{{ page.landingpage.content | safe }}</div>
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-5">

    </div>


    <div class="row mb-5">
      <div class="{% if page.parent.title != parentTitle %}col-md-12{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
        {% block signup %}{% endblock %}
        <hr class="my-2">
        <div class="opp-foot d-flex align-items-center"><img class="mr-3" src="/_images/green-20.svg" width="51" height="45">
          <p class="mb-0">This is part of a broader movement for a healthy internet. <a href="/">See more</a>.</p>
        </div>
        <hr class="my-2">
      </div>
    </div>
  </div>
{% endblock %}
