{% extends "./base-compiled.html" %}

{% block bodyID %}campaign{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="py-5 {% if page.parent.title != "Campaigns" or page.children.all.count > 0 %}col-12 col-md-8 offset-md-3{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
        <h1 class="h1-white">{{ page.campaign.header }}</h1>
      </div>
    </div>
  </div>
  <div class="hidden-md-up mb-5" id="multipage-nav-mobile">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-5">{% if page.parent.title != "Campaigns" or page.children.all.count > 0 %}
      <div class="col-12 col-md-3 mb-3 hidden-sm-down">
        <div class="multipage-nav" id="multipage-nav">
          {% load pages_tags %}
          {% page_menu "pages/menus/side-menu-items.html" %}
        </div>
      </div>{% endif %}
      <div class="{% if page.parent.title != "Campaigns" or page.children.all.count > 0 %}col-12 col-md-9{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
        <div class="row">
          <div class="cms {% if page.campaign.petition and page.parent.title != "Campaigns" or page.children.all.count > 0 %}col-12{% else %}col-md-6{% endif %}">{{ page.campaign.content | safe }}</div>
          {% if page.campaign.petition and page.parent.title != "Campaigns" or page.children.all.count > 0 %}
          </div>
          <div class="row">
            <div class="col-12">
          {% else %}
          <div class="col-md-6">
        {% endif %}
            {% with page.campaign.petition as petition %}<div
              class="sign-petition full-width mb-5"
              data-csrf-token="{{ csrf_token }}"
              data-petition-id="{{ page.campaign.petition.id }}"
              data-cta-header="{{ page.campaign.petition.header | escape }}"
              data-cta-description="{{ page.campaign.petition.description | escape }}"
              data-newsletter="{{ page.campaign.petition.newsletter }}"
              data-checkbox1="{{ page.campaign.petition.checkbox_1 | escape }}"
              data-checkbox2="{{ page.campaign.petition.checkbox_2 | escape }}"
              data-share-link="{{ page.campaign.petition.share_link }}"
              data-share-text="{{ page.campaign.petition.share_link_text }}"
              data-thank-you="{{ page.campaign.petition.thank_you }}"
            ></div>{% endwith %}
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <hr class="my-2">
        <div class="opp-foot d-flex align-items-center"><img class="mr-3" src="/_images/green-20.svg" width="51" height="45">
          <p class="body-black mb-0">This is part of a broader movement for a healthy internet. <a href="/">See more</a>.</p>
        </div>
        <hr class="my-2">
      </div>
    </div>
  </div>
{% endblock %}
