@mixin mofo-search-form-contents {
  display: contents;
}

@mixin mofo-search-text-input($highlight-color) {
  border-radius: 0;
  border: 1px solid $black;
  padding: rem-calc(8) rem-calc(16) rem-calc(8) rem-calc(60);
  background-image: url("/static/foundation_cms/_images/icons/search-black.svg");
  background-repeat: no-repeat;
  background-position: left rem-calc(24) center;
  background-size: rem-calc(16) rem-calc(16);
  flex: 1 1 auto;
  min-width: 0;

  &::placeholder {
    color: color(neutral, "400");
  }

  &:focus-visible {
    outline: 2px solid $highlight-color;
  }
}

@mixin mofo-search-submit-button($highlight-color) {
  line-height: 1.5;
  margin: 0;

  &:focus-visible {
    outline: 2px solid $highlight-color;
  }

  .btn-primary__roller {
    display: none;

    @include breakpoint(medium up) {
      display: inline-block;
    }
  }
}
