{% load static i18n wagtailadmin_tags wagtailcore_tags %}

{% fragment as font_styles %}tw-text-xl large:tw-text-lg tw-font-semibold tw-text-black{% endfragment %}
{% fragment as hover_styles %}group-hover/item:tw-text-blue-80 group-hover/item:tw-underline{% endfragment %}

<div class="tw-group/item tw-flex tw-flex-col tw-gap-2 hover:tw-bg-blue-03 hover:tw-rounded {{ link_hover_padding }}">
    {% with topic=post.topics.all|first %}
        <p class="tw-font-sans tw-font-normal tw-text-xs tw-text-gray-40 tw-uppercase tw-my-0">{{ topic.name }}</p>
    {% endwith %}
    <a class="{{ font_styles }} {{ hover_styles }}" href="{% pageurl post %}">{{ post.title }}</a>
    <p class="tw-font-light tw-text-sm tw-text-gray-80 tw-line-clamp-3 tw-hidden medium:tw-block">
        {{ post.get_meta_description }}
    </p>
</div>
