{% load i18n %}
<p class="mb-5 pb-3">{% trans "Our data shows that YouTube’s algorithm recommended several videos that were later removed from the platform for violating YouTube’s own Community Guidelines." %}</p>

<p class="heading-2 mb-5">{% trans "In 40% of cases where recommended YouTube Regrets were taken down from YouTube, YouTube did not provide data about the reason why these videos were removed." %}</p>

  <p class="mt-5 mb-lg-5 pb-lg-5">
    {% blocktrans trimmed %}
    What we do know is at the time they were reported they had racked up a collective 160 million views, an average of 760 thousand views per video, accrued over an average of 5 months that the videos had been up at the time they were reported. It is impossible to tell how many of these views were a result of recommendations, because <span class="tw-font-bold">YouTube won’t release this information</span>.
    {% endblocktrans %}
  </p>


<div class="row flex-xl-row">
  <div class="col-12 col-xl-7">
    {% trans "views over ~5 months" as views_over_160_days %}
    {% include "../../youtube-regrets-shared/standout-stat.html" with number=160000000 label=views_over_160_days classes="mb-5" id="views-160days-count-up" smaller=True %}
  </div>
  <div class="col-12 col-xl-5 mt-3 mt-xl-0 ml-xl-10">
    {% trans "views per video" as views_per_video %}
    {% trans "K" as localized_suffix %}
    {% include "./standout-stat.html" with number=760 label=views_per_video classes="mb-5" id="views-per-video-count-up" prefix="~" suffix=localized_suffix %}
  </div>
</div>
