{% load static i18n %}
<button class="yt-regrets-accordion__button w-100" data-accordion-button aria-expanded="false" aria-controls="yt-accordion-content-{{ number }}">
  <div class="container">
    <div class="row justify-content-center d-flex flex-row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12 col-md-1 yt-regrets-accordion__number">{{ number }}</div>
          <div class="col-12 col-md-11">
            <h2 class="tw-h2-heading">{{ heading_text }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</button>
