{% load i18n %}

<p class="mb-5 pb-3">
  {% blocktrans trimmed %}
  When YouTube is called out for recommending borderline content, the company usually boasts that their policy changes have led to a “70% average drop in watch time of this content coming from non-subscribed recommendations in the U.S.” <span class="fw-bold">But what about the rest of the world?</span>
  {% endblocktrans %}
</p>

<h2 class="heading-2 mb-3">{% trans "We found that the rate of regrets is 60% higher in countries where English is not the primary language." %}</h2>

<p class="mt-3 pb-lg-5">
  {% blocktrans with statement_link="https://blog.youtube/inside-youtube/the-four-rs-of-responsibility-raise-and-reduce/" trimmed %}
  This correlates with <a href="{{statement_link}}">statements</a> made by YouTube that suggest they have focused these policy changes on English-speaking countries first.
  {% endblocktrans %}
</p>

<div class="regrets-chart-meta">
  <p class="heading-5">{% trans "Regrets Rate by Country" %}</p>
  <div class="regrets-chart-meta__legend-items">
    <p class="regrets-chart-meta__legend-item regrets-chart-meta__legend-item--dark">{% trans "Primary-English" %}</p>
    <p class="regrets-chart-meta__legend-item regrets-chart-meta__legend-item--light">{% trans "Primary-non-English" %}</p>
  </div>
</div>
<div class="regrets-chart-responsive">
  <canvas id="regret-rates-chart"></canvas>
</div>

<p class="tw-body-small mb-5 mt-5">{% trans "*Among countries classified as having English as a primary language, the rate is 11.0 Regrets per 10000 videos watched (95% confidence interval is 10.4 to 11.7). In countries with a non-English primary language, the rate is 60% higher at 17.5 Regrets per 10000 videos watched (95% confidence interval is 16.8 to 18.3)" %}</p>

<div class="row flex-column-reverse flex-lg-row">
  <div class="col-12 col-lg-5">
    {% trans "36%" as 36_percent %}
    {% trans "of non-english videos were pandemic-related" as of_non_english_videos %}
    {% trans "14%" as 14_percent %}
    {% trans "of english videos were pandemic-related" as of_english_videos %}
    {% include "./standout-stat.html" with number=36_percent label=of_non_english_videos classes="mb-5" %}
    {% include "./standout-stat.html" with number=14_percent label=of_english_videos %}
  </div>
  <div class="col-12 col-lg-6 offset-lg-1 mt-3 mt-lg-3">
    <h2 class="heading-2 mb-4">{% trans "We also found that misleading or harmful pandemic-related videos are especially prevalent among non-English regrets." %}</h2>
    <p>{% trans "Of the YouTube Regrets that we determined shouldn’t be on YouTube or shouldn’t be recommended by YouTube, we found that only 14% of English videos were pandemic-related. But among non-English videos, the rate is 36%." %}</p>
  </div>
</div>
