{% load static i18n %}
<div class="container dark-theme mb-5 pb-5 categories">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5 pb-3">
      <h2 class="heading-1">{% trans "The most common reported category was misinformation, especially covid-19 related." %}</h2>
      {% blocktrans %}
        <p>While our research considers the broad spectrum of YouTube Regrets, it is important to note that some videos are worse than others. YouTube has Community Guidelines that set the rules for what is allowed on YouTube and what isn’t. Together with a team of research assistants from the University of Exeter, we evaluated the videos reported to us against these Community Guidelines and determined which ones should either not be on YouTube or not be recommended by YouTube. Of those videos, the most common category applicable was misinformation (especially COVID-19 related). The other largest categories were violent or graphic content, hate speech, and spam/scams. Other notable categories include child safety, harassment & cyberbullying, and animal abuse.</p>
      {% endblocktrans %}
    </div>
    <div class="col-12 col-md-8 categories__chart-heading">
      <h2 class="heading-5 mb-2">{% trans "Types of Regretted Content" %}</h2>
    </div>
    {# TODO - mobile chart #}
    <canvas class="categories__chart" width="950" height="400" id="categories-bar-chart"></canvas>
  </div>
</div>
