{% load i18n %}
<div class="downloads-section">
  <div class="container">
    <div class="row d-flex flex-lg-row text-center justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h2 class="text-white h2-heading">{% trans "Download the full report" %}</h2>
            <a class="btn btn-primary btn-download mt-2 mx-2" href="https://assets.mofoprod.net/network/documents/Mozilla_YouTube_Regrets_Report.pdf" download>{% trans "Download PDF" %}</a>
          </div>

          <div class="col-12 col-lg-6 offset-lg-2 mt-5 mt-lg-0">
            <h2 class="text-white h2-heading">{% trans "Contribute your data to RegretsReporter" %}</h2>
            <div class="d-flex flex-wrap justify-content-center">
              <a class="btn btn-primary btn-download btn-firefox-download mt-2 mx-2" data-location="intro" href="https://addons.mozilla.org/addon/regretsreporter/" target="_blank">{% trans "Add to Firefox" %}</a>
              <a class="btn btn-primary btn-download btn-chrome-download mt-2 mx-2" data-location="intro" href="https://chrome.google.com/webstore/detail/regretsreporter/obpoeflheeknapimliioeoefbfaakefn" target="_blank">{% trans "Add to Chrome" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
