{% load static i18n youtube_tags %}
<div class="container tw-dark mb-3">
  <div class="hero">
    <div class="row">
      <div class="col-12">
        <img class="hero__image hero__image--mobile" src="{% static "_images/youtube-regrets/regrets-reporter/report-findings-hero-mobile.png" %}" alt="">
        <img class="hero__image hero__image--desktop" src="{% static "_images/youtube-regrets/regrets-reporter/report-findings-hero-desktop.png" %}" alt="">
        <div class="hero__guts">
          <h1 class="mb-3 hero-heading">{% trans "YouTube Regrets" %}</h1>
          <p class="tw-body-large">
            {% blocktrans trimmed %}
            Mozilla and 37,380 YouTube users conducted a study to better understand harmful YouTube recommendations. <span class="tw-italic">This is what we learned</span>.
            {% endblocktrans %}
          </p>
          <a href="{% yt2021report %}" class="tw-btn btn-download" download>{% trans "Download Full Report" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
