{% load static %}
<div class="container">
  <div class="hero dark-theme">
    <div class="row">
      <div class="col-12">
        <img class="hero__image hero__image--mobile" src="{% static "_images/youtube-regrets/regrets-reporter/report-findings-hero-mobile.png" %}" alt="">
        <img class="hero__image hero__image--desktop" src="{% static "_images/youtube-regrets/regrets-reporter/report-findings-hero-desktop.png" %}" alt="">
        <div class="hero__guts">
          <h1 class="mb-3 hero-heading">YouTube Regrets</h1>
          <p class="body-large">Mozilla and 37,00 YouTube users conducted a study to better understand harmful YouTube recommendations. <span class="fst-italic">This is what we learned</span>.</p>
          {# TODO - add in PDF URL #}
          <a href="#" type="button" class="btn btn-download" download>Download Full Report</a>
        </div>
      </div>
    </div>
  </div>
</div>
