{% load i18n %}
<div class="container tw-dark mb-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <p>
        {% blocktrans with stories_link='class="tw-font-bold" href="https://foundation.mozilla.org/campaigns/youtube-regrets/"' trimmed %}
        In 2019, Mozilla collected <a {{stories_link}}>countless stories</a> from people whose lives were impacted by YouTube’s recommendation algorithm. People had been exposed to misinformation, developed unhealthy body images, and became trapped in bizarre rabbit holes. The more stories we read, the more we realized how central YouTube has become to the lives of so many people — and just how much YouTube recommendations can impact their wellbeing.
        {% endblocktrans %}
      </p>
      <p class="mb-5 pb-4">
        {% blocktrans with routine_response_url="https://foundation.mozilla.org/blog/congratulations-youtube-now-show-your-work/" trimmed %}
        Yet when confronted about its recommendation algorithm, <span class="tw-font-bold">YouTube’s <a href="{{routine_response_url}}">routine response</a> is to deny and deflect</span>.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans with reporter_link='class="tw-font-bold" href="https://foundation.mozilla.org/campaigns/regrets-reporter/"' trimmed %}
        Faced with YouTube’s continuous refusal to engage, Mozilla built a browser extension, <a {{reporter_link}}>RegretsReporter</a>, that allows people to donate data about the YouTube videos they regret watching on the platform.
        Through one of the biggest crowdsourced investigations into YouTube, we’ve uncovered new information that warrants urgent attention and action from lawmakers and the public.
        {% endblocktrans %}
      </p>
      <p class="tw-font-bold">
        {% blocktrans trimmed %}
        We now know that YouTube is recommending videos that violate their very own content policies and harm people around the world — and that needs to stop.
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>
