{% load static i18n l10n humanize %}

<div class="our-research" id="what-we-found">
  <img class="d-none d-md-block mx-auto mb-5 pb-5" src="{% static "_images/youtube-regrets/regrets-reporter/our-research-desktop.png" %}" alt="">
  <img class="d-none d-sm-block d-md-none our-research__image our-research__image--mobile mx-auto d-block mb-5 pb-5" src="{% static "_images/youtube-regrets/regrets-reporter/our-research-mobile.png" %}" alt="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <h2 class="heading-1 ">{% trans "Our research is powered by real YouTube users." %}</h2>
        <p class="mb-5">
          {% blocktrans trimmed %}
            Specifically: <span class="fw-bold">37,380 volunteers</span> across <span class="fw-bold">190 countries</span> installed Mozilla’s RegretsReporter browser extensions for Firefox and Chrome.
          {% endblocktrans %}
        </p>
        <h2 class="heading-4 mb-4">{% trans "For this report, We gathered from" %}</h2>
      </div>
    </div>

    {% with reports_count=3362 volunteers_count=1662 countries_count=91 %}
    <div class="row align-items-center mb-5">
      <div class="col-md-4 col-xs-12 stat">
        <p class="stat__number" id="reports-count-up">{{ reports_count|intcomma }}</p>
        <p class="stat__label">{% trans "Reports" %}</p>
      </div>
      <div class="col-md-4 col-xs-12 stat">
        <p class="stat__number" id="volunteers-count-up">{{ volunteers_count|intcomma }}</p>
        <p class="stat__label">{% trans "Volunteers" %}</p>
      </div>
      <div class="col-md-4 col-xs-12 stat">
        <p class="stat__number" id="countries-count-up">{{ countries_count|intcomma }}</p>
        <p class="stat__label">{% trans "Countries" %}</p>
      </div>
    </div>
    {% endwith %}

    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-8 text-center">
          <p>
            {% blocktrans trimmed %}
            Reports were submitted between <span class="fw-bold">July 2020 - May 2021</span>. Volunteers who downloaded the extension but did <span class="fw-bold">not</span> file a report were an important part of our study. Their data — for example, how often they use YouTube — was essential to our understanding of how frequent regrettable experiences are on YouTube and how this varies between countries.
            {% endblocktrans %}
          </p>
          <p class="mb-5 pb-5">
            {% blocktrans with research_link="https://foundation.mozilla.org/blog/28-reasons-why-youtube-must-change/" trimmed %}
            After delving into the data with a team of research assistants from the University of Exeter, Mozilla came away with three major criticisms of YouTube recommendations: from a problematic algorithm to poor corporate oversight to geographic disparities. And our <a href="{{research_link}}">past research</a> shows that these problems can inflict lasting harm on people.
            {% endblocktrans %}
          </p>

        <h2 class="mb-1">{% trans "Here’s what we found" %}</h2>
        <p class="our-research__teaser mb-1 text-uppercase fst-italic">{% trans "(Click to read more)" %}</p>
        <img class="mx-auto d-block" src="{% static "_images/youtube-regrets/regrets-reporter/arrow.svg" %}" alt="">
      </div>
    </div>
  </div>
</div>
