{% load static i18n %}
<div class="container tw-dark">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <img class="mb-3" src="{% static "_images/youtube-regrets/regrets-reporter/quotation-mark.svg" %}" alt="">
      <blockquote class="tw-quote">
        <p class="quote__text tw-font-bold mb-3">
          {% blocktrans trimmed %}
            We set <span class="quote__highlight">a high bar</span> for what videos we display prominently in our recommendations on the YouTube homepage or through the 'Up next' panel.
          {% endblocktrans %}
        </p>
        <cite class="quote__cite text-uppercase">{% trans "Youtube’s blog" %}</cite>
      </blockquote>
    </div>
  </div>
</div>
