{% load static %}

{% with grid_item_template="../consumer_creepometer_page_2023/product_grid_item.html" %}
  <div id="best-and-worst-products" class="tw-bg-gradient-to-b tw-from-white tw-via-red-05 tw-to-white">
    <div class="tw-container tw-relative {{ wrapper_class }}">
      <div class="tw-absolute tw-left-1/2 -tw-translate-x-1/2 -tw-translate-y-[120px] tw-w-[120px] tw-h-[120px] medium:tw-w-[330px] medium:tw-h-[330px] medium:-tw-top-[190px] medium:-tw-left-10 medium:tw-translate-x-0 medium:tw-translate-y-0">
        <img width="100%" height="100%" alt="" src="{% static "_images/buyers-guide/consumer-creepometer/face-4.svg" %}">
        {% include "../consumer_creepometer_page_2023/animated-eyes.html" with eye_base_class="tw-w-[15%] tw-h-[15%]" left_eye_class="tw-top-[54%] tw-left-[30%]" right_eye_class="tw-top-[53%] tw-left-[53%]" %}
      </div>
      <div class="tw-row tw-px-8 tw-mt-8 medium:tw-mt-0">
        {% include "../consumer_creepometer_page_2023/sub_section_header.html" with svg_class="tw-stroke-red-10" header="Best & Worst Products" description="We researched 172 products in 2023 and late 2022. These are our winners and losers." %}
      </div>
      {% with product_name_class="tw-font-sans tw-text-[18px] tw-leading-normal" %}
        <div class="tw-grid tw-grid-cols-2 medium:tw-grid-cols-5 tw-gap-x-6 tw-gap-6 medium:tw-gap-y-0 tw-mb-28" aria-labelledby="winners-grid-title">
          <h3 class="{{ h3_class }} tw-col-span-2 medium:tw-col-span-5 tw-text-center tw-mb-8" id="winners-grid-title">The Winners</h3>
          {% include grid_item_template with body_small_class=body_small_class product_name_class=product_name_class item_class="tw-col-span-2 medium:tw-col-span-1" company="Technology Foundation" product="Signal" img_url="_images/buyers-guide/consumer-creepometer/products/Signal.png" link="https://www.mozillafoundation.org/privacynotincluded/signal/" %}
          {% include grid_item_template with body_small_class=body_small_class product_name_class=product_name_class item_class="tw-col-span-1" company="Sonos" product="SL Speakers" img_url="_images/buyers-guide/consumer-creepometer/products/Sonos_SL_Speakers.png" link="https://www.mozillafoundation.org/privacynotincluded/sonos-sl-speakers/" %}
          {% include grid_item_template with body_small_class=body_small_class product_name_class=product_name_class item_class="tw-col-span-1" company="Touchkin" product="Wysa" img_url="_images/buyers-guide/consumer-creepometer/products/Wysa.png" link="https://www.mozillafoundation.org/privacynotincluded/wysa/" %}
          {% include grid_item_template with body_small_class=body_small_class product_name_class=product_name_class item_class="tw-col-span-1" company="Pocketbook" product="Pocketbook" img_url="_images/buyers-guide/consumer-creepometer/products/Pocketbook.png" link="https://www.mozillafoundation.org/privacynotincluded/pocketbook/" %}
          {% include grid_item_template with body_small_class=body_small_class product_name_class=product_name_class item_class="tw-col-span-1" company="Garmin" product="Garmin Fenix" img_url="_images/buyers-guide/consumer-creepometer/products/Garmin_Fenix.png" link="https://www.mozillafoundation.org/privacynotincluded/garmin-fenix/" %}
        </div>
        <div class="tw-grid tw-grid-cols-2 medium:tw-grid-cols-5 tw-gap-6 medium:tw-gap-y-0 tw-mb-28" aria-labelledby="losers-grid-title">
          <h3 class="{{ h3_class }} tw-col-span-2 medium:tw-col-span-5 tw-text-center tw-mb-8" id="losers-grid-title">The Losers</h3>
          {% include grid_item_template with body_small_class=body_small_class item_class="tw-col-span-2 medium:tw-col-span-1" company="Verizon" product="Gizmo Watch" img_url="_images/buyers-guide/consumer-creepometer/products/Verizon_Gizmowatch.png" link="https://www.mozillafoundation.org/privacynotincluded/verizon-gizmowatch/" %}
          {% include grid_item_template with body_small_class=body_small_class item_class="tw-col-span-1" company="BetterHelp" product="BetterHelp" img_url="_images/buyers-guide/consumer-creepometer/products/BetterHelp.png" link="https://www.mozillafoundation.org/privacynotincluded/betterhelp/" %}
          {% include grid_item_template with body_small_class=body_small_class item_class="tw-col-span-1" company="Amazon" product="Echo Studio" img_url="_images/buyers-guide/consumer-creepometer/products/Amazon_Echo_Studio.png" link="https://www.mozillafoundation.org/privacynotincluded/amazon-echo-studio/" %}
          {% include grid_item_template with body_small_class=body_small_class item_class="tw-col-span-1" company="Huawei" product="Watch Kids 4 Pro" img_url="_images/buyers-guide/consumer-creepometer/products/HuaweiWatch_Kids_4_Pro.png" link="https://www.mozillafoundation.org/privacynotincluded/huawei-watch-kids-4-pro/" %}
          {% include grid_item_template with body_small_class=body_small_class item_class="tw-col-span-1" company="Nissan" product="Nissan Cars" img_url="_images/buyers-guide/consumer-creepometer/products/Nissan.png" link="https://www.mozillafoundation.org/privacynotincluded/nissan/" %}
        </div>
      {% endwith %}
    </div>
  </div>
{% endwith %}
