{% load static %}

{% with effect_transition_class="tw-transition-all tw-duration-300 hover:tw-ease-in-out" %}
    <a class="tw-relative tw-flex tw-flex-col tw-items-center tw-justify-start tw-text-center tw-rounded-lg tw-bg-white tw-px-6 tw-no-underline {{ effect_transition_class }} hover:tw-no-underline hover:tw-shadow-[1px_1px_3px_0_theme('colors.red.10')] {{ item_class }}"
       href="{{ link }}"
       target="_blank"
       aria-label="read more about {{ company }}'s product {{ product }}">
        <div class="tw-flex tw-items-center tw-justify-center tw-my-12 large:tw-my-14 tw-w-[72px] tw-h-[72px] large:tw-w-[120px] large:tw-h-[120px] after:tw-content-[''] after:tw-absolute after:tw-w-full after:tw-h-full after:tw-top-0 after:tw-left-0 hover:tw-trasnform hover:tw-scale-[1.05] {{ effect_transition_class }}">
            <img loading="lazy"
                 width="auto"
                 height="auto"
                 src="{% static img_url %}"
                 alt="product thumbnail of {{ product }}"
                 class="tw-mx-auto tw-max-w-none tw-w-full tw-h-full tw-object-contain">
        </div>
        <div class="tw-mb-6 medium:tw-mb-8">
            <p class="{{ body_small_class }} tw-mb-2">{{ company }}</p>
            <p class="{{ product_name_class }} tw-mb-0">{{ product }}</p>
        </div>
    </a>
{% endwith %}
