<div class="{{ wrapper_class }} tw-bg-[#F4F4F4]">
  <div class="tw-container">
    <div class="tw-flex tw-flex-col medium:tw-flex-row tw-px-8">
      <div class="tw-w-full medium:tw-w-1/2 tw-px-8">
        <h2 class="tw-text-[32px] medium:tw-text-[48px] tw-font-semibold tw-font-zilla tw-mb-[30px] medium:tw-mb-0">Determine your Digital Privacy Footprint</h2>
      </div>
      <div class="tw-w-full medium:tw-w-1/2 tw-px-8">
        {% with p_class="tw-font-light medium:tw-font-normal tw-mb-0" %}
        <p class="{{ p_class }} medium:tw-mb-8">In addition to the Annual Consumer Creep-O-Meter score, you can also take a quiz to determine your own privacy footprint.</p>
        <p class="{{ p_class }}">Below, select which popular products you own. We’ll weigh their privacy features and flaws, then show how well or poorly your devices and apps protect your personal information.</p>
        {% endwith %}
      </div>
    </div>
    <div class="tw-row tw-px-8">
      <div class="tw-w-full tw-px-8">
        <div class="product-quiz-wrapper tw-my-24" data-quiz-choices="Signal, SL Speakers, Garmin Fenix, Nintendo Switch, Nvidia Shield TV, Apple Watch, Telegram, Tile Trackers, Google Hangouts, Video Doorbells, Facebook Portal, Echo Studio, Ring Security Cam, WeChat, Streaming Sticks, Nook">
        </div>
      </div>
    </div>
  </div>
</div>
