<div class="{{ wrapper_class }} tw-bg-[#F4F4F4]">
  <div class="tw-container">
    <div class="tw-row tw-px-8">
      <div class="tw-w-1/2 tw-px-8">
        <h2 class="{{ h1_class }}">Determine your Digital Privacy Footprint</h2>
      </div>
      <div class="tw-w-1/2 tw-px-8">
        <p>In addition to the Annual Consumer Creep-O-Meter score, you can also take a quiz to determine your own privacy footprint.</p>
        <p>Below, select which popular products you own. We’ll weigh their privacy features and flaws, then show how well or poorly your devices and apps protect your personal information.</p>
      </div>
    </div>
    <div class="tw-row tw-px-8">
      <div class="tw-w-full tw-px-8">
        <div class="product-quiz-wrapper tw-bg-white tw-rounded-3xl tw-my-24 medium:tw-px-[45px] medium:tw-py-24" data-quiz-choices="Signal, SL Speakers, Garmin Fenix, Nintendo Switch, Nvidia Shield TV, Apple Watch, Telegram, Tile Trackers, Google Hangouts, Video Doorbells, Facebook Portal, Echo Studio, Ring Security Cam, WeChat, Streaming Sticks, Nook">
        </div>
      </div>
    </div>
  </div>
</div>
