#creepiness-score {
  display: flex;
  border-image: url(../_images/buyers-guide/gradient-bar.svg) 7/0px 6px 6px;
  border-style: solid;

  tbody {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  }

  th {
    order: 2;
    margin: 0 1px;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    min-height: 85px;
  }

  .bar,
  td {
    position: relative;
    @apply -tw-bottom-20;
  }

  .creepiness {
    font-weight: bold;
    font-size: 14px;
  }
  //For some nice animations later on
  .creepiness,
  .bar {
    transition: all 2.5s ease;
  }

  .creep-label {
    //Make sure screen readers can see the label
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  //Height of this is set inline via JSX
  .bar {
    background-color: $gray-20;
  }

  //Show a different creep-face in each bar of the graph
  .creep-face {
    background-image: url(../_images/buyers-guide/faces/sprite-resized-64-colors.png);
    background-position: center 0;
    background-size: 35px auto;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 35px;
    @apply tw-mb-5;
    position: relative;
  }

  .little-creep .creep-face {
    background-position: center 25.6%;
  }

  .somewhat-creep .creep-face {
    background-position: center 51.25%;
  }

  .very-creep .creep-face {
    background-position: center 76.9%;
  }

  .super-creep .creep-face {
    background-position: center 100%;
  }

  //Style the graph bar representing the range the user voted
  .your-vote {
    &.no-creep .bar {
      background-color: $pni-blue;
    }

    &.little-creep .bar {
      background-color: $pni-blue-purple;
    }

    &.somewhat-creep .bar {
      background-color: $pni-purple;
    }

    &.very-creep .bar {
      background-color: $pni-purple-pink;
    }

    &.super-creep .bar {
      background-color: $pni-pink;
    }
  }

  td {
    order: 1;
    text-align: center;
  }

  tr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    margin: -3px 1px;
  }
}
