#addlist-primary {
	margin-top: auto;
}

#addlist-primary ol[style='display:none'] {
	display: block;
}

.ui-sortable h3 {
	display: flex;
	justify-content: space-between;
}

.ui-sortable h3 * {
	flex: 0 0 auto;
}

.ui-sortable h3 span {
    line-height: 2;
}


/* so many floats... */
#tree .ui-sortable h3 a {
	float: none;
}
