{% extends "fragments/primary_nav.html" %}

{% load i18n wagtailcore_tags wagtailadmin_tags %}

{% block menu_container_classes %}
    {{ block.super }}
    tw-relative
{% endblock menu_container_classes %}

{% block narrow_screen_menu %}
    <div class="tw-bg-white tw-min-h-lvh">
        <div class="tw-flex tw-flex-col tw-divide-y-[1px] tw-divide-gray-20 tw-w-full" data-nav-accordion-menu>
            {% for dropdown in menu.dropdowns %}
                {% include_block dropdown with style="mobile" %}
            {% endfor %}
            {% if menu.enable_blog_dropdown %}
                {% include "fragments/nav/blog/blog-dropdown.html" with style="mobile" %}
            {% endif %}
        </div>
        <div class="tw-flex tw-flex-col tw-items-center tw-p-8 tw-pt-20">
            <button class="tw-btn-secondary btn-newsletter tw-w-full">{% trans "Newsletter" %}</button>
        </div>
    </div>
{% endblock narrow_screen_menu %}

{% block wide_screen_menu %}
    <div class="tw-hidden xlarge:tw-flex xlarge:tw-flex-row xlarge:tw-items-center xlarge:tw-h-full" data-nav-accordion-menu>
        {% for dropdown in menu.dropdowns %}
            {% include_block dropdown with style="desktop" %}
        {% endfor %}
        {% if menu.enable_blog_dropdown %}
            {% include "fragments/nav/blog/blog-dropdown.html" with style="desktop" %}
        {% endif %}
    </div>
{% endblock wide_screen_menu %}
