{% extends "wagtailadmin/base.html" %}

{% load wagtailadmin_tags wagtailcore_tags static i18n %}

{% block titletag %}
    {% trans "Error 404: Page not found" %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <!-- wagtail's own CSS -->
    <link rel="stylesheet"
          href="{% static 'wagtailadmin/css/layouts/404.css' %}" />
    <!-- our app's additional CSS -->
    <link rel="stylesheet" href="{% static "_css/main.compiled.css" %}">
    <link rel="stylesheet"
          href="{% static 'wagtailadmin/css/layouts/404-additionals.css' %}" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,300,700">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400">
{% endblock %}

{% block furniture %}
    <div class="page404__bg">
        <div class="page404__wrapper d-md-flex align-items-center">
            <div class="wagtail-logo-container__desktop">

                {% include "./404.svg" %}

            </div>
            <div class="page404__text-container">
                <h1 class="page404__header tw-h1-heading">{% trans "Uh oh!" %}</h1>
                <p class="tw-body-large mb-4">{% trans "The requested page could not be found." %}</p>
                <a class="page404__button button" href="/cms/">{% trans "Go to Wagtail admin" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
