.pulse-project-list {
  .thumbnail {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      padding: 26.25% 0;
    }
  }

  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .project-image {
    width: 100%;
  }

  .placeholder {
    background: linear-gradient(to right, $pulse-pink 0%, $pulse-purple 100%);
  }

  a.pulse-project {
    color: $black;
  }
}
