.pulse-project-list {
  .thumbnail {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      padding: 26.25% 0;
    }
  }

  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .project-image {
    width: 100%;
    max-height: none;
  }

  .placeholder {
    background: linear-gradient(to right, #ff506f 0%, #a66efd 100%);
  }
}
