{% extends "pages/libraries/landing_page.html" %}

{% load i18n l10n wagtailcore_tags %}

{% block search_bar %}

    {% include "fragments/libraries/research_hub/search_bar.html" %}

{% endblock search_bar %}

{% block detail_page_cards %}
    {% for research_detail_page in page.latest_detail_pages %}
        <li class="tw-py-8 small:tw-my-8 small:tw-bg-gray-05 small:tw-p-16">

            {% include "fragments/libraries/research_hub/detail_card.html" with detail_page=research_detail_page hide_related_topics=True landing_page=True %}

        </li>
    {% endfor %}
{% endblock detail_page_cards %}

{% block featured_taxonomies %}
    {% for featured_topic in page.featured_topics.all %}
        <li class="tw-py-2 tw-col-span-12 medium:tw-col-span-4 large:tw-col-span-12">
            <h2 class="tw-h5-heading tw-text-blue-80 tw-mb-2">
                <a href="{% pageurl page.library_page %}?topic={{ featured_topic.topic.id|unlocalize }}">{{ featured_topic.topic.name }}</a>
            </h2>
            <p class="tw-body tw-text-gray-80 tw-text-base medium:tw-text-xs large:tw-text-base tw-pt-2">
                {{ featured_topic.topic.description }}
            </p>
        </li>
    {% endfor %}
{% endblock featured_taxonomies %}

{% block browse_all_featured_authors_title %}
    {% trans "Meet the researchers" context "Section title" %}
{% endblock browse_all_featured_authors_title %}
