{% extends "pages/buyersguide/about.html" %}

{% load static i18n %}

{% block main_about_class %}short-content{% endblock %}

{% block about_guts %}
    <h1 class="tw-h2-heading">
      {% trans "Press" %}
    </h1>

    <p>
      {% blocktrans trimmed %}
      <em>*Privacy Not Included</em> helps consumers shop for trustworthy connected products. But it also helps journalists
      cover connected products. Our research assists reporters in incorporating product privacy—and not just price
      and performance—into their consumer technology coverage.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans with name="Kevin Zawacki" email="kevin@mozillafoundation.org" trimmed %}
      If you’re a member of the press interested in speaking with Mozilla’s <em>*Privacy Not Included</em> team, please email
      {{name}} at <a href="mailto:{{email}}">{{email}}</a>. Our researchers can answer questions about
      specific products, or speak to broader trends in the realm of privacy, security, and trustworthy AI.
      We can also provide high-resolution graphics and gifs from our guide.
      {% endblocktrans %}
    </p>

    <section aria-labelledby="warning-label">
      <p id="warning-label"><strong>{% trans "Recognition" %}</strong></p>
      <p class="tw-body">
        {% blocktrans with url="https://winners.webbyawards.com/2020/websites/general-websites/activism/120635/privacy-not-included" trimmed %}
        Mozilla’s <em>*Privacy Not Included</em> <a href="{{url}}">won a 2020 Webby</a> in the
        “People’s Voice Award for Activism” category. Our five word acceptance speech?
        “Privacy is power. Demand it.”
        {% endblocktrans %}
      </p>
      <p class="text-center my-5">
        <img class="webby-award-badge" src="{% static '_images/buyers-guide/webby-award-badge.svg' %}" alt="{% trans "2020 Webby Award Winner Badge" %}" width="160">
      </p>
      <p class="tw-body">
        {% trans "Since launching 2017, *Privacy Not Included has garnered hundreds of stories. Highlights include:" %}
      </p>
      <p class="tw-body">
        {% blocktrans with url="https://www.dailydot.com/irl/mozilla-privacy-not-included-sex-toys-dating-apps/" trimmed %}
          <strong>Daily Dot:</strong> <a href="{{url}}">These sex toys and dating apps may jeopardize your privacy, Mozilla warns </a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published February 2021. Writes The Daily Dot: “Mozilla’s new Privacy Not Included report looks at 50 sex toys and
        dating apps and ranks them based on how they respect users’ privacy. And the answers aren’t sexy.”

        {% endblocktrans %}
      </p>
      <p class="tw-body">
        {% blocktrans with url="https://www.cbsnews.com/news/creepy-gifts-toys-that-spy-on-kids-and-coffee-makers-that-track-caffeine-habits/" trimmed %}
          <strong>CBS News:</strong> <a href="{{url}}">Creepy gifts: Toys that spy on kids and coffee makers that track your habits</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published November 2020. Writes CBS: “Some holiday gifts are more festive than others, while those that snoop on their
        users could be seen as decidedly less so. So says the Mozilla Foundation, which recently posted its annual Privacy Not
        Included holiday gift guide.”

        {% endblocktrans %}
      </p>
      <p class="tw-body">
        {% blocktrans with url="https://mashable.com/article/best-video-chat-tools-ranked-privacy/" trimmed %}
          <strong>Mashable:</strong> <a href="{{url}}">Privacy experts reviewed popular video-chat apps, and *yikes*</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published April 2020. “[Mozilla] researchers combed through privacy policies, sifted through app
        specifications, and looked at critical questions,” Mozilla told Mashable of our special video chat
        app edition of <em>*Privacy Not Included</em>.
        {% endblocktrans %}
      </p>
      <p class="tw-body">
        {% blocktrans with url="https://www.npr.org/2019/12/02/784063267/mozillas-latest-privacy-not-included-buyers-guide" trimmed %}
          <strong>NPR:</strong> <a href="{{url}}">Mozilla’s Latest “Privacy Not Included” Buyer’s Guide</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published December 2019. Ashley Boyd, Mozilla’s VP of Advocacy and Engagement, spoke with host
        Steve Inskeep about the surveillance features that are often built into consumer technology.
        {% endblocktrans %}
      </p>

      <div class="feature-quote my-4 py-2">
        <h3>
          {% blocktrans trimmed %}
          Here’s a warning that should be on some of the items on your holiday shopping list—privacy not included.
          That’s the point of a shopping guide put out by the Mozilla Foundation.
          {% endblocktrans %}
        </h3>
        <p class="tw-h6-heading">{% trans "— Steve Inskeep, NPR" %}</p>
      </div>

      <p class="tw-body">
        {% blocktrans with url="https://www.nbcnews.com/better/lifestyle/downside-connected-tech-are-smart-devices-your-home-spying-you-ncna1101906" trimmed %}
          <strong>NBC News:</strong> <a href="{{url}}">The downside of connected tech: Are the smart devices in your
          home spying on you?</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published December 2019. Ashley Boyd spoke with NBC about giving consumers more control over their personal data.
        {% endblocktrans %}
      </p>

      <p class="tw-body">
        {% blocktrans with url="https://www.usatoday.com/story/tech/2019/11/23/before-buying-ring-wemo-roku-consider-privacy-issues/4260851002/" trimmed %}
          <strong>USA Today:</strong> <a href="{{url}}">Before you buy, consider privacy, please</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published November 2019. Mozilla researcher Becca Ricks spoke with technology columnist
        Jefferson Graham about the privacy and security flaws of connected doorbells.
        {% endblocktrans %}
      </p>

      <div class="feature-quote my-4 py-2">
        <h3>
          {% blocktrans trimmed %}
          The folks at the Mozilla Foundation, which makes the Firefox browser, have consumers in
          mind with a new chart outlining the worst privacy offenders this holiday season.
          {% endblocktrans %}
        </h3>
        <p class="tw-h6-heading">{% trans "— Jefferson Graham, USA Today" %}</p>
      </div>

      <p class="tw-body">
        {% blocktrans with url="https://www.thestar.com/business/technology/2018/12/14/how-creepy-is-that-christmas-gift-a-guide-to-seasonal-tech.html" trimmed %}
          <strong>Toronto Star:</strong> <a href="{{url}}">How creepy is that Christmas gift?
          A guide to seasonal tech</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published December 2018. Jen Caltrider, Mozilla’s Content Strategy Lead, explains how
        <em>*Privacy Not Included</em> can spur manufacturers to create more responsible tech.
        {% endblocktrans %}
      </p>

      <p class="tw-body">
        {% blocktrans with url="https://www.npr.org/2018/12/01/672511667/a-tech-foundation-discusses-security-and-privacy-when-it-comes-to-smart-devices" trimmed %}
          <strong>NPR:</strong> <a href="{{url}}">A Tech Foundation Discusses Security And Privacy
          When It Comes To Smart Devices</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published December 2018. Ashley Boyd speaks with NPR’s Scott Simon about the need to consider
        privacy alongside price and performance when purchasing a connected gift.
        {% endblocktrans %}
      </p>

      <p class="tw-body">
        {% blocktrans with url="https://www.wired.com/story/mozilla-privacy-not-included-internet-connected-toys/" trimmed %}
          <strong>WIRED:</strong> <a href="{{url}}">Mozilla Makes a Naughty List of Gifts that Aren’t Secure</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published November 2018. Writes WIRED: “In its second annual Privacy Not Included guide,
        the nonprofit highlights internet-connected items that value your privacy—and the ones that may not.”
        {% endblocktrans %}
      </p>

      <p class="tw-body">
        {% blocktrans with url="https://cheddar.com/media/mozilla-ranks-cyber-safety-of-your-holiday-shopping-list" trimmed %}
          <strong>Cheddar:</strong> <a href="{{url}}">Mozilla Ranks Cyber-Safety of Your Holiday Shopping List</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published November 2018. Mozilla visited Cheddar’s studio in Manhattan to talk through the
        most and least creepy products in <em>*Privacy Not Included</em>.
        {% endblocktrans %}
      </p>

      <figure class="my-4 pb-2">
        <img src="{% static '_images/buyers-guide/cheddar-gift-guide.jpg' %}" alt="{% trans "Mozilla’s Gift Guide" %}" class="w-100" />
        <figcaption class="tw-body-small d-block mt-2">
          {% blocktrans with url="https://cheddar.com/media/mozilla-ranks-cyber-safety-of-your-holiday-shopping-list" trimmed %}
          Ashley Boyd, Mozilla’s VP of Advocacy, joined Cheddar on <a href="{{url}}">Mozilla Ranks
          Cyber-Safety of Your Holiday Shopping List</a>
          {% endblocktrans %}
        </figcaption>
      </figure>

      <p class="tw-body">
        {% blocktrans with url="https://www.nytimes.com/2017/12/08/opinion/holiday-gifts-toys-spying.html" trimmed %}
          <strong>New York Times:</strong> <a href="{{url}}">Don’t Give Kids Holiday Gifts That Can Spy on Them</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published December 2017. Writes Ashley Boyd in this print and digital op-ed: “During the
        holiday season, my husband and I tend to offer suggestions to those who are generous enough
        to insist on buying presents for our kids. This year we’re adding a new rule to our list:
        No toys that can spy.”
        {% endblocktrans %}
      </p>

      <p class="tw-body">
        {% blocktrans with url="https://abc7news.com/technology/your-privacy-may-be-at-risk-with-some-toys-gadgets/2827339/" trimmed %}
          <strong>ABC San Francisco:</strong> <a href="{{url}}">Your privacy may be at risk with some toys, gadgets</a>
        {% endblocktrans %}
        <br>
        {% blocktrans trimmed %}
        Published December 2017. Mozilla visited ABC 7’s studio in San Francisco to talk through
        the most and least creepy products in <em>*Privacy Not Included</em>.
        {% endblocktrans %}
      </p>

    </section>

{% endblock %}
