body#wagtail
  .sidebar-panel
  .c-page-explorer__see-more
  svg.icon.icon-arrow-right {
  /*
    to address bug from Wagtail v3.0+
    see context: https://github.com/mozilla/foundation.mozilla.org/issues/10192
  */
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
