/*
  To address bug from Wagtail v3
  See context: https://github.com/mozilla/foundation.mozilla.org/issues/10192
*/
body#wagtail
  .sidebar-panel
  .c-page-explorer__see-more
  svg.icon.icon-arrow-right {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

@media screen and (min-width: 50em) {
  body#wagtail .sidebar-panel .c-page-explorer__see-more {
    height: unset;
  }
}

/*
  To address bug from Wagtail v3
  See context: https://github.com/mozilla/foundation.mozilla.org/issues/10194
*/

body#wagtail
  main#main
  form
  ul
  li
  .field
  .c-dropdown.t-inverted.c-dropdown--large
  a {
  background-color: var(--color-primary-darker);
  color: white;
}

body#wagtail
  main#main
  form
  ul
  li
  .field
  .c-dropdown.t-inverted.c-dropdown--large
  .c-dropdown__item
  a {
  background-color: transparent;
}

/*
  To address bug from Wagtail v3
  See context: https://github.com/MozillaFoundation/foundation.mozilla.org/issues/10193
*/

body#wagtail.page-editor main#main aside.form-side {
  /* Override the height: 100vh rule from Wagtail source code.
     Minus 1px to account for bottom border in its ancestor div .content-wrapper
     Minus 51px to account for the height of the sticky top bar
  */
  height: calc(100vh - 1px - 51px);
}

body#wagtail.page-editor main#main.content-wrapper {
  margin-bottom: 0;
}
