/*
  To address bug from Wagtail v3
  See context: https://github.com/mozilla/foundation.mozilla.org/issues/10192
*/
body#wagtail
  .sidebar-panel
  .c-page-explorer__see-more
  svg.icon.icon-arrow-right {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

@media screen and (min-width: 50em) {
  body#wagtail .sidebar-panel .c-page-explorer__see-more {
    height: unset;
  }
}
