{% load static i18n wagtailimages_tags homepage_tags%}
{% get_page_authors page as authors %}



<div class="article-hero-content {% if page.hero_text_color == page.HERO_TEXT_COLOR_LIGHT %} tw-dark {% endif %}">
  {% if is_publication_article or is_publication_page %}
    <div class="mb-2 body-small publication-breadcrumb">
      {% for entry in self.breadcrumb_list %}
      {% with parent_page=entry.localized %}
        <a href="{{ parent_page.url }}" class="body-small {% if page.hero_text_color == page.HERO_TEXT_COLOR_DARK %} tw-text-black {% endif %}">{{ parent_page.title }}</a>
        <span class='body-small {% if page.hero_text_color == page.HERO_TEXT_COLOR_LIGHT %} tw-text-gray-20 {% endif %}' > › </span>
      {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
  <h1 class="publication-hero-title">
     {{ page.title }} 
  </h1>

  {% if page.subtitle %}
    <h2 class="tw-mt-4 tw-body-large">
      {{ page.subtitle }}
    </h2>
  {% endif %}

  {% if page.secondary_subtitle or page.publication_date %}
    <div class="mt-2 mb-4 tw-body-small publication-secondary-subtitle {% if page.hero_text_color == page.HERO_TEXT_COLOR_DARK %} tw-text-gray-80 {% else %} tw-text-gray-20 {% endif %}">
      {% if page.secondary_subtitle %}
        {{ page.secondary_subtitle }}
      {% endif %}
      {% if page.secondary_subtitle and page.publication_date %}
        &mdash;
      {% endif %}
      {% if page.publication_date %}
        {{ page.publication_date }}
      {% endif %}
    </div>
  {% endif %}


  {% if page.show_authors  %}

  <div class="blog-authors d-flex flex-wrap align-items-center">
    {% include "./author-images.html" with authors=authors %}
  </div>

  {% if page.authors.count %}
    <div class="mt-2">
      <p>
      {% trans "Written by" %}
      {% with authors_length=page.authors.count %}
        {% for orderable in page.authors.all %}
          <span>
            {% if authors_length > 1 and forloop.last %}
              {% trans "and" %}
            {% endif %}
            {{ orderable.author.name }}{% if not forloop.last and forloop.counter != authors_length|add:-1%},{% endif %}
          </span>
        {% endfor %}
        {% if page.additional_author_copy %}
          {{ page.additional_author_copy }}
        {% endif %}
      {% endwith %}
      </p>
    </div>
    {% endif %}

  {% endif %}



  {% if download_file %}

  {% with btn_setting=page.download_button_style primary_icon_class="tw-invert dark:group-hover:tw-invert-0" secondary_icon_class="group-hover:tw-invert dark:tw-invert dark:group-hover:tw-invert-0" tertiary_btn_class="tw-text-black dark:tw-text-white tw-font-light tw-underline hover:tw-opacity-50" %}

  <a class="tw-inline-flex tw-group {% if btn_setting == page.HERO_BTN_STYLE_PRIMARY %} tw-btn-primary  {% elif btn_setting == page.HERO_BTN_STYLE_SECONDARY %} tw-btn-secondary {% else %} {{ tertiary_btn_class }} {% endif %}" 
   href="{{ download_file.url }}" download>
    <img 
    src=" {% if page.download_button_icon %} {{ page.download_button_icon.url }} {% else %} {% static '_images/glyphs/download-file.svg' %} {% endif %}" 
    class='tw-h-[18px] tw-w-[18px] tw-mr-3 tw-mt-[1px] tw-brightness-0 dark:tw-brightness-100 {% if btn_setting == page.HERO_BTN_STYLE_PRIMARY %} {{primary_icon_class}} {% elif btn_setting == page.HERO_BTN_STYLE_SECONDARY %} {{secondary_icon_class}} {% endif %}'/>
      {% trans "Download PDF" %}
      {% if download_file.file_size %}
        <span class="tw-font-thin tw-ml-2">({{ download_file.file_size|filesizeformat }})</span>
      {% endif %}
    </a>
   {% endwith %}
  {% endif %}

</div>
