{% load i18n wagtailimages_tags %}

<div class="author-images d-flex flex-wrap">
    {% for author in authors %}
        <div class="author-image d-flex align-items-center justify-content-center {% if author.author.image is None %}no-avatar{% endif %}" aria-label="{{ author.author.name }}">
            {% if author.author.image %}
            {% image author.author.image fill-100x100 as img %}
                <img src="{{ img.url }}" alt="{{ author.author.name }}" title="{{ author.author.name }}" />
            {% endif %}
        </div>
    {% endfor %}
</div>