{% load i18n wagtailimages_tags %}

<div class="author-images d-flex flex-wrap">
    {% for entry in authors %}
    {% with author=entry.author %}
        <div class="author-image d-flex align-items-center justify-content-center {% if author.image is None %}no-avatar{% endif %}" aria-label="{{ author.name }}">
            {% if author.image %}
                {% image author.image fill-100x100 as img %}
                <img src="{{ img.url }}" alt="{{ author.name }}" title="{{ author.name }}" />
            {% endif %}
        </div>
    {% endwith %}
    {% endfor %}
</div>
