{% load wagtailcore_tags mini_site_tags i18n %}

{% if page.cta != None or page.signup != None %}
    <div class="cta {{ class }}
                {% if page.specific.narrowed_page_content == False %}
                    col-lg-4 offset-lg-1
                {% else %}
                    col-lg-12
                {% endif %}"
    >
        {% if page.cta != None %}
            <div class="narrow-sticky-button-container hidden">
                <a href="#cta-anchor-{{ display_mode }}" class="tw-btn-primary d-block">{% trans "TAKE ACTION" context "Sticky button in mobile view on campaign pages" %}</a>
            </div>
        {% endif %}
        <div class="tw-sticky tw-top-40 tw-overflow-hidden tw-z-[1018]">
            <div id="cta-anchor-{{ display_mode }}">
                <div class="mt-5 mt-md-0">
                    {% cta page %}

                    {% if page.signup %}
                        {% with localized_signup=page.signup.localized %}
                            <div
                                class="newsletter-signup-module tw-mb-24"
                                data-module-type="default"
                                data-form-style="bannered-campaign-body"
                                data-show-country-field-by-default="true"
                                data-show-language-field-by-default="true"
                                data-button-text="{% trans "Sign up" context "Submit button for newsletter signup form" %}"
                                data-signup-id="{{ localized_signup.id }}"
                                data-cta-header="{{ localized_signup.header | escape }}"
                                data-cta-description="{{ localized_signup.description | escape }}"
                                data-ask-name="{{ localized_signup.ask_name }}">
                            </div>
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="https://c.shpg.org/352/sp.js"></script>
    </div>
{% endif %}
