{% load wagtailimages_tags i18n homepage_tags %}

{% get_all_authors post as authors %}
<div class="blog-authors d-flex align-items-center flex-wrap">
  <div class="author-images d-flex flex-wrap">
  {% with "author-image d-flex align-items-center justify-content-center" as author_class %}
  {% for author in authors %}
    <div class="{{author_class}}">
    {% if author.image %}
      {% image author.image fill-100x100 as img %}
      <img src="{{ img.url }}" alt="{{ author.name }}" title="{{ author.name }}" />
    {% endif %}
    </div>
  {% endfor %}
  {% endwith %}
  </div>

  <p class="body-small my-2">
    {% with authors_length=authors|length %}
    {% spaceless %}
    {% for author in authors %}
    <span>{% if authors_length > 1 and forloop.last %}{% trans "and" %} {% endif %}<b>{{ author.name }}{% if not forloop.last %}{% if forloop.counter != authors_length|add:-1%},{% endif %} {% endif %}</b></span>
    {% endfor %}
    {% endspaceless%}
    {% endwith %}
  </p>
</div>
