{% load wagtailimages_tags i18n localization homepage_tags wagtailroutablepage_tags %}

{% get_page_authors blog_page as authors %}

<div class="blog-authors d-flex flex-wrap {% if show_full_info %}flex-column mb-4{% else %}align-items-center{% endif %}">
  {% include "./author-images.html" with authors=authors %}

  <p class="tw-text-sm my-2 tw-text-black">
    {% with authors_length=authors|length %}
    {% spaceless %}
    {% if show_full_info %}{% trans "By" %} {% endif %}
    {% for author in authors %}
            <span>{% if authors_length > 1 and forloop.last %} {% trans "and" %} {% endif %}<b class="tw-font-extrabold"><a class="tw-text-black" href="{% routablepageurl page=blog_index url_name='blog-author-detail' profile_slug=author.slug  %}">{{ author.name }}</a>{% if not forloop.last %}{% if forloop.counter != authors_length|add:-1%},{% endif %} {% endif %}</b></span>
    {% endfor %}
    {% if show_full_info %}
      | {% if blog_page.first_published_at %}{{ blog_page.first_published_at|date:"DATE_FORMAT" }}
        {% else %}not published yet{% endif %}
      {% with topic=page.specific.topics.first %}
      {% if topic and blog_index %}
        {% localized_version topic as localized_topic %}
        | <a class="topic tw-text-inherit" href="{{blog_index.localized.url}}topic/{{topic.slug}}">{{ localized_topic }}</a>
      {% endif %}
      {% endwith %}
    {% endif %}
    {% endspaceless%}
    {% endwith %}
  </p>
</div>
