{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags i18n localization homepage_tags blog_tags static %}

  <div class="tw-grid tw-grid-cols-12 tw-mb-7">
    <div class="tw-pr-[36px] tw-py-3 tw-flex tw-flex-col tw-col-span-12 large:tw-col-span-4 large:tw-py-0">
      <div class="tw-flex tw-flex-wrap">
        {% include "./blog_card_topics.html" with topics=blog_page.specific.topics.all%}
        <img src="{% static "_images/video-icon.svg" %}" alt="{% trans "video" context "icon description for screen readers" %}" class="tw-h-4 tw-w-4 tw-mr-2 tw-my-1">
        <span class="tw-h6-heading tw-text-gray-40 tw-py-1 tw-mb-0">{{ blog_page.first_published_at|date:"DATE_FORMAT" }}</span>
      </div>
    <a href="{% relocalized_url page.localized.url %}" class="tw-group tw-block hover:tw-no-underline tw-h-full">
      <h1 class="tw-h1-heading tw-text-[34px] tw-mt-1 tw-mb-2 group-hover:tw-underline"  href="{% relocalized_url blog_page.localized.url %}">{{ blog_page.localized.title}}</h1>
      <p class="tw-body">{{ blog_page.get_meta_description }}</p>
    </a>     
    <div class="tw-mt-auto">
      {% include "./blog_authors.html" with blog_page=blog_page %}
    </div>
  </div>

      <div class="tw-order-first tw-col-span-12 large:tw-col-span-8 large:tw-order-last">
          {% if 'player.vimeo.com' in video_url %}
            <div id="featured-video-container" class="tw-relative tw-aspect-video tw-w-full tw-h-full hover:tw-cursor-pointer">
              <video class="featured-video tw-object-cover tw-min-h-full tw-w-full">
                <source src="{{video_url}}" type="video/mp4">
              </video>
              <div class="tw-absolute tw-top-0 tw-left-0 tw-min-h-full tw-min-w-full tw-flex tw-justify-center tw-place-items-center">
                <img class="play-button tw-h-[4rem] tw-w-[4rem] tw-opacity-75 hover:tw-opacity-100" src="{% static "_images/video_play_button.svg" %}" alt="Play Button" />
              </div>
            </div>
          {% else %}
            <div class="tw-aspect-video embed-responsive tw-h-full tw-w-full">
              {% embed video_url %}
            </div>
          {% endif %}
    </div>
  </div>
