{% load i18n homepage_tags localization wagtailimages_tags %}

{% get_page_authors blog_page as authors %}
<div class="tw-pt-2 tw-border-t-4">
  {% with authors_length=authors|length author_image_classes="tw-rounded-full tw-overflow-hidden tw-h-[56px] tw-w-[56px] medium:tw-h-[72px] medium:tw-w-[72px] " no_image_classes="tw-bg-[url('../_images/blog-author-placeholder.jpg')] tw-bg-cover" %}
  {% for author in authors %}
  <div class="tw-flex tw-w-full tw-py-4 {% if not forloop.last and authors_length > 1 %} tw-border-b-[1px] tw-border-gray-20 {% endif %}">
    <div class="author-image tw-flex-shrink-0 {{author_image_classes}} {% if author.image is None %} {{no_image_classes}} {% endif %}" aria-label="{{ author.name }}">
      {% if author.image %}
        <img src="{% image_url author.image "fill-100x100" %}" alt="{{ author.name }}" title="{{ author.name }}" />
      {% endif %}
    </div>
    <div class="tw-pl-5">
      <h1 class="tw-h4-heading tw-font-medium tw-mb-2">{{ author.name }}</h1>
      <p class="tw-body">{{ author.introduction }}</p>
    </div>
  </div>
  {% endfor %}
  {% endwith %}
</div>