{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags i18n localization homepage_tags blog_tags static %}


<div class="tw-grid tw-grid-cols-12 tw-mb-7 tw-gap-x-5">
  <div class="tw-py-3 tw-h-full tw-flex tw-flex-col tw-col-span-12 tw-justify-between large:tw-col-span-4 large:tw-py-0 {% if content_left %} large:tw-pl-3 {% else %} large:tw-pr-3 {% endif %}">
    <div id="title-and-description">
      <div class="tw-flex tw-flex-wrap -tw-mt-1">
        {% include "./blog_card_topics.html" with topics=blog_page.specific.topics.all video_post=True published_date=blog_page.first_published_at %}
      
      </div>
      <a href="{% relocalized_url blog_page.localized.url %}" class="tw-group tw-block hover:tw-no-underline">
        <h1 class="tw-h4-heading medium:tw-h1-heading medium:tw-text-[34px] tw-mt-1 tw-mb-2 group-hover:tw-underline">{{ blog_page.localized.title}}</h1>
        <p class="tw-body">{{ blog_page.get_meta_description }}</p>
      </a>
    </div>
    <div id="blog-authors">
      {% include "./blog_authors.html" with blog_page=blog_page %}
    </div>
  </div>
  <div class="tw-order-first tw-col-span-12 large:tw-col-span-8 {% if not content_left %} large:tw-order-last {% endif %}">
    {% if video_url %}
      {% if 'player.vimeo.com' in video_url %}
        <div id="featured-video-container" class=" tw-relative tw-aspect-[16/9] tw-w-full tw-h-full hover:tw-cursor-pointer">
          <video class="featured-video tw-h-full tw-w-full">
            <source src="{{video_url}}" type="video/mp4">
          </video>
          <div class="tw-absolute tw-top-0 tw-left-0 tw-min-h-full tw-min-w-full tw-flex tw-justify-center tw-place-items-center">
            <img class="play-button tw-h-[4rem] tw-w-[4rem] tw-opacity-75 hover:tw-opacity-100" src="{% static "_images/video_play_button.svg" %}" alt="Play Button" />
          </div>
        </div>
      {% else %}
        <div class="tw-aspect-[16/9] embed-responsive tw-h-full tw-w-full">
          {% embed video_url %}
        </div>
      {% endif %}
    {% else %}
      <div id="featured-image-container" class="tw-w-full tw-h-full">
        <a href="{% relocalized_url blog_page.localized.url %}">
          {% image blog_page.localized.specific.get_meta_image fill-1200x628 class='tw-h-full tw-w-full' %}
        </a>
      </div>
    {% endif %}
  </div>
</div>
