{% extends "./generic-card.html" %}

{% load wagtailcore_tags wagtailroutablepage_tags class_tags %}


The following block needs to know where the blog IndexPage is,
so it checks whether "we" are the index page, and if not, it
crawls up the ancestor tree until it has found it.

(Without it, we cannot generate the links to /blob/tag/... for
each blog page's dominant tag)

{% block tags %}
<div class="blog-card">
  {% with tag=page.specific.tags.first %}
    {% if tag %}
      {% if "IndexPage" == self.specific|to_class_name %}
        <a class="main-tag" href="{% routablepageurl self.specific "entries_by_tag" tag.slug %}">{{ tag }}</a>
      {% else %}
        {% for page in self.get_ancestors reversed %}
          {% if "IndexPage" == page.specific|to_class_name %}
            <a class="main-tag" href="{% routablepageurl page.specific "entries_by_tag" tag.slug %}">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% block byline %}
By {{ page.specific.author }} on {{ page.first_published_at|date:"F j, Y" }}
{% endblock %}
