{% load wagtailcore_tags mini_site_tags i18n %}

{% if page.cta != None %}
    <div class="cta tw-pb-4 {{ class }}
                {% if page.specific.narrowed_page_content == False %}
                    large:tw-w-4/12 large:tw-ml-[8.3%] tw-px-8
                {% else %}
                    tw-w-full
                {% endif %}"
    >
        <div class="narrow-sticky-button-container hidden">
            <a href="#cta-anchor" class="tw-btn-primary tw-block">{% trans "TAKE ACTION" context "Sticky button in mobile view on campaign pages" %}</a>
        </div>
        <div class="tw-sticky tw-top-40 tw-overflow-hidden tw-z-[1018]">
            <div id="cta-anchor" class="-tw-mt-40 tw-pt-40">
                {% cta page %}
            </div>
        </div>
        <script src="https://c.shpg.org/352/sp.js"></script>
    </div>
{% endif %}
