{% load wagtailimages_tags i18n %}

{% if page.featured_blogs.all.count > 0 %}
{% with page.featured_blogs.all as featured_blogs %}
<div class="row">
  <div class="col mb-4">
    <hr class="mb-4 hr-emphasis mt-0">
    <h4 class="h4-heading">{% trans "Latest news" %}</h4>
  </div>
</div>
<div class="row mb-3">
  {% for blog in featured_blogs %}
  {% if forloop.counter is 1 %}
  <div class="col-md-6 mb-0 pb-4">
    <div>
      {% image blog.blog.specific.get_meta_image width-540 %}
    </div>
    <div class="row">
      <div class="col-12 full-bleed-xs">
        <div class="key-item mx-2 mx-md-4 p-3">
          <p class="h6-heading mb-2">
            {% for category in blog.blog.specific.category.all %}
            <a href="/blog/category/{{category.slug}}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <h5 class="mb-2 h3-heading">
            <a href="{{blog.blog.url}}">{{blog.blog.title}}</a>
          </h5>
          <p class="body-small mb-2">
            {% if blog.blog.author %}
              {% blocktrans with author=blog.blog.author %}by {{author}}{% endblocktrans %}
            {% endif %}
            {% if blog.blog.first_published_at %} {% blocktrans with date=page.first_published_at|date:"DATE_FORMAT" %}on {{date}}{% endblocktrans %}{% else %}not published yet{% endif %}
          </p>
          <p>{{blog.blog.search_description}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% if featured_blogs|length > 1 %}
  <div class="col-md-6 mb-0 pb-4">
    {% for blog in featured_blogs %}
    {% if forloop.counter > 1 %}
    <div>
      <p class="h6-heading mb-2">
        {% for category in blog.blog.specific.category.all %}
        <a href="/blog/category/{{category.slug}}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      <h5 class="mb-2">
        <a href="{{blog.blog.url}}">{{blog.blog.title}}</a>
      </h5>
      <p class="body-small mb-2">
        {% if blog.blog.author %}
          {% blocktrans with author=blog.blog.author %}by {{author}}{% endblocktrans %}
        {% endif %}
        {% if blog.blog.first_published_at %} {% blocktrans with date=page.first_published_at|date:"DATE_FORMAT" %}on {{date}}{% endblocktrans %}{% else %}not published yet{% endif %}
      </p>
      <p>{{blog.blog.search_description}}</p>
      <hr>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col text-center mb-5">
    <a class="btn btn-secondary" href="/blog">{% trans "More from our blog" %}</a>
  </div>
</div>
{% endwith %}
{% endif %}
