{% load wagtailimages_tags i18n %}

<div class="tw-flex tw-flex-col tw-items-center medium:tw-flex-row tw-gap-16 medium:tw-mx-auto medium:tw-w-[28rem] large:tw-w-full">
    {% image area.interest_icon width-100 class="tw-max-w-[4em] tw-max-h-[4em]" alt=area.interest_icon.title %}

    <div class="tw-text-center medium:tw-text-left">
        <h2 class="tw-font-zilla tw-text-[40px]">{{ area.name }}</h2>
        <p>{{ area.description }}</p>

        {% if area.page %}<div class="mb-4 learn-more-link">
            <a href="{{ area.page.localized.url }}" aria-label="{% blocktrans with name=area.name %}Learn more about: {{ name }}{% endblocktrans %}">{% trans "Learn more →" %}</a>
        </div>{% endif %}
    </div>
</div>

