{% load i18n formassembly_helper %}

{% comment %}
*** IMPORTANT ***

Please follow the steps below every time after you paste a new version of FormAssembly code.

1. Replace everything starting from <!-- FORM: HEAD SECTION -->

2. Run `inv format-html` in terminal

3. Get localization working again.
    - Update script file name https://mozillafoundation.tfaforms.net/wForms/3.11/js/localization-en_US.js?v=...
        with {% fa_locale_code %}
        e.g., https://mozillafoundation.tfaforms.net/wForms/3.11/js/localization-{% fa_locale_code %}.js?v=...
    - Go to formassembly_body.html and make sure everything has been updated according to the instructions

4. Until we find a better solution, remember to include hot fix for source url field like what we did in https://github.com/MozillaFoundation/foundation.mozilla.org/pull/10902

5. Add nonce="{{ request.csp_nonce }}" to all <script> tags in this file

6. Update the revision note on the next line. Revision number can be found on https://mozillafoundation.tfaforms.net/versions/index/9

The code snippet below is based on FormAssembly form revision #32

{% endcomment %}
<!-- FORM: HEAD SECTION -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="referrer" content="no-referrer-when-downgrade">
<!-- THIS SCRIPT NEEDS TO BE LOADED FIRST BEFORE wforms.js -->
<script type="text/javascript" nonce="{{ request.csp_nonce }}" data-for="FA__DOMContentLoadedEventDispatch" src="https://mozillafoundation.tfaforms.net/js/FA__DOMContentLoadedEventDispatcher.js" defer></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    document.addEventListener("FA__DOMContentLoaded", function(){
        const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
        let formElement = document.getElementById("tfa_0");
        if (null === formElement) {
            formElement = document.getElementById("0");
        }
        let appendJsTimerElement = function(){
            let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
            let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
            if (null !== cumulatedTimeElement) {
                let cumulatedTime = parseInt(cumulatedTimeElement.value);
                if (null !== cumulatedTime && cumulatedTime > 0) {
                    formTimeDiff += cumulatedTime;
                }
            }
            let jsTimeInput = document.createElement("input");
            jsTimeInput.setAttribute("type", "hidden");
            jsTimeInput.setAttribute("value", formTimeDiff.toString());
            jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
            jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
            jsTimeInput.setAttribute("autocomplete", "off");
            if (null !== formElement) {
                formElement.appendChild(jsTimeInput);
            }
        };
        if (null !== formElement) {
            if(formElement.addEventListener){
                formElement.addEventListener('submit', appendJsTimerElement, false);
            } else if(formElement.attachEvent){
                formElement.attachEvent('onsubmit', appendJsTimerElement);
            }
        }
    });
</script>
<link href="https://mozillafoundation.tfaforms.net/dist/form-builder/5.0.0/wforms-layout.css?v=127d5d34f78f067204f2463a3699a1688fbf2ca7" rel="stylesheet" type="text/css" />
<link href="https://mozillafoundation.tfaforms.net/uploads/themes/theme-23.css" rel="stylesheet" type="text/css" />
<link href="https://mozillafoundation.tfaforms.net/dist/form-builder/5.0.0/wforms-jsonly.css?v=127d5d34f78f067204f2463a3699a1688fbf2ca7" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" nonce="{{ request.csp_nonce }}" src="https://mozillafoundation.tfaforms.net/wForms/3.11/js/wforms.js?v=127d5d34f78f067204f2463a3699a1688fbf2ca7"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">wFORMS.behaviors.prefill.skip = false;</script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}" src="https://mozillafoundation.tfaforms.net/wForms/3.11/js/localization-{% fa_locale_code %}.js?v=127d5d34f78f067204f2463a3699a1688fbf2ca7"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    // [TO FIX]
    // hot fix for source url bug on petition form
    // see GitHub ticket: https://github.com/MozillaFoundation/foundation.mozilla.org/issues/10901
    document.addEventListener("DOMContentLoaded", () => {
        let sourceUrlField = document.querySelector(".wFormContainer #tfa_498");
        if (sourceUrlField) {
            sourceUrlField.value = decodeURIComponent(document.URL);
        }
    });
</script>
