{% load wagtailcore_tags wagtailimages_tags %}

<div
    class="
           tw-flex
           tw-flex-col
           tw-gap-6
           tw-w-full
           {% if horizontal %}
               medium:tw-flex-row
               medium:tw-gap-16
           {% endif %}
          "
>
    <div
        {% if horizontal %}
            class="medium:tw-max-w-xs large:tw-max-w-sm medium:tw-shrink-0"
        {% endif %}
    >
        <a href="{% pageurl page %}">
            {% image page.localized.specific.get_meta_image fill-1200x628 %}
        </a>
    </div>

    <div>
        <div class="tw-flex tw-flex-wrap">
            {% block tags %}{% endblock %}
            {% block published_date %}{% endblock %}
        </div>

        <a href="{% pageurl page %}" class="tw-group tw-block hover:tw-no-underline">
            <p class="tw-h4-heading d-inline-block mt-1 mb-2 group-hover:tw-underline">{{ page.localized.title }}</p>
            <div class="tw-body-small my-0">
                {% block description %}{% endblock %}
            </div>
        </a>
        {% block byline %}{% endblock %}
    </div>
</div>
