{% load wagtailcore_tags i18n %}

<div class="tw-flex">
    {% with social_button_classes="tw-btn tw-btn-secondary btn-share after:tw-hidden tw-justify-center tw-rounded-full tw-mr-2 tw-items-center tw-inline-flex tw-p-0 tw-h-18 tw-w-18 before:tw-content-[''] before:tw-brightness-0 before:tw-w-8 before:tw-h-8 before:tw-bg-no-repeat before:hover:tw-brightness-100" %}
        <a class="{{ social_button_classes }} before:tw-bg-[url('../_images/glyphs/social-share/twitter-share.svg')]" href="https://twitter.com/mozilla">
            <span class="sr-only">{% trans "Twitter" %}</span>
        </a>
        <a class="{{ social_button_classes }} before:tw-bg-[url('../_images/glyphs/instagram-dark-theme.svg')]" href="https://www.instagram.com/mozilla/">
            <span class="sr-only">{% trans "Instagram" %}</span>
        </a>
        <a class="{{ social_button_classes }} before:tw-bg-[url('../_images/glyphs/social-share/youtube-share.svg')]" href="https://www.youtube.com/user/Mozilla">
            <span class="sr-only">{% trans "YouTube" %}</span>
        </a>
        <a class="{{ social_button_classes }} before:tw-bg-[url('../_images/glyphs/social-share/facebook-share.svg')]" href="https://www.facebook.com/mozilla/">
            <span class="sr-only">{% trans "Facebook" %}</span>
        </a>
        <a class="{{ social_button_classes }} before:tw-bg-[url('../_images/glyphs/linkedin-dark-theme.svg')]" href="https://www.linkedin.com/company/mozilla-corporation/">
            <span class="sr-only">{% trans "Linkedin" %}</span>
        </a>
        <a class="{{ social_button_classes }} before:tw-bg-[url('../_images/glyphs/tiktok-dark-theme.svg')]" href="https://www.tiktok.com/@mozilla">
            <span class="sr-only">{% trans "Tiktok" %}</span>
        </a>
    {% endwith %}
</div>
