{% load wagtailimages_tags i18n class_tags blog_tags wagtailroutablepage_tags %}

  
<div class="container read-more-news">
  <div class="row">
    <div class="col-12 d-flex flex-row justify-content-between p-0">
      <h2 class="custom-heading">{% trans "News you can use" %}</h2>
      {# this should not be a hardcoded route... #}
      <a href="/blog">{% trans "Read more news →" %}</a>
    </div>
  </div>

  <div class="row feature mb-4">
    {% with items=page.news_you_can_use.all %}
    {% with first=items.first.blog %}
      <div class="feature-image">
        {% image first.get_meta_image fill-1000x500 %}
      </div>

      <div class="left-cut-in">
        {% with category=first.category.first %}
          <a class="h6-heading d-block mt-3 mb-0" href="/blog/category/{{ category.slug }}">{{ category }}</a>
        {% endwith %}
        <h3>{{ first.title }}</h3>
        <p class="body-large">{{ first.search_description }}</p>
        <p>authors go here {{ first.authors.all }}</p>
      </div>
      {% endwith %}
    </div>

    <div class="row">
      {% for item in items %}
        {% if forloop.counter > 1 %}
          <div class="col-4">
            <div class="bg-white">
              {% image item.blog.get_meta_image fill-500x300 %}
              {% with category=item.blog.category.first %}
                <a class="h6-heading d-block mt-3 mb-0" href="/blog/category/{{ category.slug }}">{{ category }}</a>
              {% endwith %}
              <h3>{{ item.blog.title }}</h3>
              <p>authors go here {{ item.blog.authors.all }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endwith %}
  </div>
</div>
