{% load wagtailimages_tags %}


<div class="bg-secondary partner-section tw-dark" style='background-image: url("{% image_url page.partner_background_image "fill-1200x600" %}");'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="tw-h3-heading">{{ page.partner_heading }}</h2>
        {% if page.partner_intro_text %}
          <p class="partner-section-text">
            {{ page.partner_intro_text }}
          </p>
        {% endif %}
        <a href="{{ page.partner_page.localized.url }}" class="text-white tw-cta-link font-weight-bold" id="partner-cta">
          {{ page.partner_page_text }}
        </a>
      </div>
      <div class="partner-section-logos d-sm-flex flex-wrap d-none container">
        {% for orderable in page.partner_logos.all %}
          <div class="partner-section-logo {% if forloop.counter > 4 %}d-none d-md-inline-block{% endif %}">
            {% if orderable.link %}
              <a href="{{ orderable.link }}">
                <img src="{{ orderable.image_rendition.url }}" width="{{ orderable.width }}" alt="{{ orderable.name }}">
              </a>
            {% else %}
              <img src="{{ orderable.image_rendition.url }}" width="{{ orderable.width }}" alt="{{ orderable.name }}">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
