{% load wagtailcore_tags wagtailimages_tags %}

<div id="hero" class="mb-md-3">
  <div class="banner">
    {% if page.banner %}
    <picture>
      {% image page.banner fill-4032x1152 as image_xl %}
      {% image page.banner fill-2400x686 as image_lg %}
      {% image page.banner fill-1984x567 as image_md %}
      {% image page.banner fill-1536x439 as image_sm %}
      <source media="(min-width: 1200px)" srcset="{{ image_xl.url }}" alt="Banner">
      <source media="(min-width: 992px)" srcset="{{ image_lg.url }}" alt="Banner">
      <source media="(min-width: 768px)" srcset="{{ image_md.url }}" alt="Banner">
      <source media="(min-width: 576px)" srcset="{{ image_sm.url }}" alt="Banner">
      {# Fallback Image #}
      {% image page.banner fill-1008x288 alt="Banner" %}
    </picture>
    {% else %}
    <img src="/_images/banner-black-white-marble.jpg" alt="Banner">
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="cutout p-3 px-md-5 py-md-3">
          <h1 class="h1-heading">{% if root.title %}{{ root.title }}{% elif page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>
          {% if page.intro %}
          <p class="body-large mb-0">{{ page.intro }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
