{% load i18n wagtailimages_tags homepage_tags%}

{% get_page_authors page as authors %}


{% if page.hero_image %}
  {% image page.hero_image fill-1400x675 as bg_img %}
  <div
    class="d-flex align-items-center publication-hero-container{% if size %} small{% endif %}"
    style='background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("{{ bg_img.url }}")'>
{% else %}
  <div
    class="d-flex align-items-center publication-hero-container{% if size %} small{% endif %}">
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 tw-dark">
        {% if is_publication_article or is_publication_page %}
          <div class="mb-2 tw-body-small publication-breadcrumb">
            {% for entry in self.breadcrumb_list %}
            {% with parent_page=entry.localized %}
              <a href="{{ parent_page.url }}" class="tw-body-small">{{ parent_page.title }}</a>
              <span class='tw-body-small'> › </span>
            {% endwith %}
            {% endfor %}
          </div>
        {% endif %}
        <h1 class="publication-hero-title">
          {{ page.title }}
        </h1>
        {% if page.subtitle %}
          <h2 class="mt-4 tw-body-large">
            {{ page.subtitle }}
          </h2>
        {% endif %}
        {% if page.secondary_subtitle or page.publication_date %}
          <div class="mt-2 mb-4 tw-body-small publication-secondary-subtitle">
            {% if page.secondary_subtitle %}
              {{ page.secondary_subtitle }}
            {% endif %}
            {% if page.secondary_subtitle and page.publication_date %}
              &mdash;
            {% endif %}
            {% if page.publication_date %}
              {{ page.publication_date }}
            {% endif %}
          </div>
        {% endif %}
        <div class="blog-authors d-flex flex-wrap align-items-center">
          {% include "./author-images.html" with authors=authors %}
        </div>
        {% if page.authors.count %}
          <div class="mt-2 tw-dark">
            <p>
            {% trans "Written by" %}
            {% with authors_length=page.authors.count %}
              {% for orderable in page.authors.all %}
                <span>
                  {% if authors_length > 1 and forloop.last %}
                    {% trans "and" %}
                  {% endif %}
                  {{ orderable.author.name }}{% if not forloop.last and forloop.counter != authors_length|add:-1%},{% endif %}
                </span>
              {% endfor %}
              {% if page.additional_author_copy %}
                {{ page.additional_author_copy }}
              {% endif %}
            {% endwith %}
            </p>
          </div>
        {% endif %}
        {% if download_file %}
          <a class="mt-3 btn btn-primary download-button" href="{{ download_file.url }}" download>
            {% trans "Download PDF" %}
          </a>
          {% if download_file.file_size %}
            <span class="d-inline-block ml-4 publication-hero-file-size position-relative">
              {{ download_file.file_size|filesizeformat }}
            </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
