{% load wagtailimages_tags %}

<div class="row section-tw-quote section-padding">
  {% with quote_image=page.quote_image %}
  {% if quote_image %}
  <div class="col-md-4 col-lg-6 mb-5 mb-md-0">
    {% comment %}
      To-do:
      1) Update picture_ratios.html so image sizes are passed as arguments instead of hard-corded.
      2) Replace the following "picture" code with {% optimize_images page.quote_image %}
    {% endcomment %}
    {% with alt_text=quote_image.alt %}
    <picture class="cms-image {{class_names}}">
        <source media="(min-width: 992px)" srcset="{% image_url quote_image "width-540" %}, {% image_url quote_image "width-1080" %} 2x"  alt="{{ alt_text }}">
        <source media="(min-width: 768px)" srcset="{% image_url quote_image "width-210" %}, {% image_url quote_image "width-420" %} 2x" alt="{{ alt_text }}">
        <source srcset="{% image_url quote_image "width-510" %}, {% image_url quote_image "width-1020" %} 2x" alt="{{ alt_text }}">

        <img src="{% image_url quote_image "width-540" %}" class="wagtail-image w-100" srcset="{% image_url quote_image "width-510" %} 510w, {% image_url quote_image "width-210" %} 210w, {% image_url quote_image "width-540" %} 540w" alt="{{ alt_text }}"/>
    </picture>
    {% endwith %}
  </div>
  {% endif %}
  {% endwith %}
  <div class="col-md-8 col-lg-6">
    <blockquote>
      <p class="quote-text">{{ page.quote_text }}</p>
      <footer>
        <cite>{{ page.quote_source_name }}</cite>
        <p>{{ page.quote_source_job_title }}</p>
      </footer>
    </blockquote>
  </div>
</div>
