{% load wagtailcore_tags wagtailimages_tags %}

{% block related_posts %}
  {% if related_posts|length %}
    <div class="container">
      <hr class="mb-4 hr-emphasis mt-0">

      <h1 class="h3-heading">Related content</h2>

      <div class="related-posts">
        <div class="row">
          {% for page in related_posts %}
          <div class="related-card col-12 col-md-6 col-lg-4 my-4">
            <div>
              <a href={{ page.url }}>
                {% image page.get_meta_image fill-400x225 %}
              </a>
            </div>
            <a class="h4-heading d-inline-block my-2" href={{ page.url }}>{{ page.title }}</a>
            <p class="body-small">by {{ page.author }} on {{ page.first_published_at|date:"F j, Y" }}</p>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>

    </div>
  {% endif %}
{% endblock %}
