{% load wagtailcore_tags wagtailimages_tags %}
<div class="tw-flex tw-flex-col small:tw-flex-row">

  {% if research_detail_page.cover_image %}
    <picture class="inline-block {% if hide_image_on_mobile %} tw-hidden small:tw-block {% endif %} small:tw-w-[112px] tw-shrink-0 tw-mb-3 small:tw-mb-0 small:tw-mr-5">
      {% image research_detail_page.cover_image fill-224x224 as square_image  %}
      <source srcset="{{ square_image.url }}" media="(min-width: 576px)">
      {% image research_detail_page.cover_image fill-576x224 class="tw-w-full small:tw-w-[112px]"  %}
    </picture>
  {% endif %}

  <!--
  By default, flex items sizes are driven by their content.
  Setting the min-width allows the element to be small than the content.
  This is necessary here to make the metadata truncation kick in.
  Otherwise the metadata will be at full width and driving this elements width.
  -->
  <div class="tw-min-w-0">
    <h{% firstof heading_level '2' %} class="tw-h5-heading tw-text-blue-dark tw-mb-2"><a href="{% pageurl research_detail_page  %}">{{ research_detail_page.title}}</a></h{% firstof heading_level '2' %}>
    <div class="tw-flex tw-flex-row tw-text-xs tw-text-gray-80 tw-mb-2 tw-uppercase tw-divide-x tw-divide-gray-20">
      {% if research_detail_page.original_publication_date %}
        <div class="tw-px-2 first:tw-pl-0 tw-whitespace-nowrap ">{{ research_detail_page.original_publication_date|date:"DATE_FORMAT" }}</div>
      {% endif %}
      {% if research_detail_page.get_research_author_names and not hide_author_names %}
        <div class="tw-px-2 first:tw-pl-0 tw-min-w-0 tw-truncate" >{{ research_detail_page.get_research_author_names|join:', ' }}</div>
      {% endif %}
      {% if research_detail_page.get_related_topic_names and not hide_related_topics %}
        <div class="tw-px-2 first:tw-pl-0 tw-min-w-0 tw-truncate {% if hide_related_topics_on_mobile %} tw-hidden small:tw-block {% endif %}">{{ research_detail_page.get_related_topic_names|join:' / ' }}</div>
      {% endif %}
    </div>
    {% if research_detail_page.introduction %}
      <p class="tw-mb-0 tw-text-gray-60 tw-text-base">
        {{ research_detail_page.introduction }}
      </p>
    {% endif %}
  </div>

</div>
