{% load wagtailcore_tags wagtailimages_tags %}
<div class="tw-flex tw-flex-col small:tw-flex-row">

  <picture class="inline-block {% if hide_image_on_mobile %} tw-hidden small:tw-block {% endif %} small:tw-w-[112px] tw-shrink-0 tw-mb-3 small:tw-mb-0 ">
    {% image research_detail_page.cover_image fill-224x224 as square_image  %}
    <source srcset="{{ square_image.url }}" media="(min-width: 576px)">
    {% image research_detail_page.cover_image fill-576x224 class="tw-w-full small:tw-w-[112px]"  %}
  </picture>

  <!--
  By default, flex items sizes are driven by their content.
  Setting the min-width allows the element to be small than the content.
  This is necessary here to make the metadata truncation kick in.
  Otherwise the metadata will be at full width and driving this elements width.
  -->
  <div class="tw-min-w-0">
    <h2 class="tw-h5-heading tw-text-blue-dark tw-mb-2"><a href="{% pageurl research_detail_page  %}">{{ research_detail_page.title}}</a></h2>
    <div class="tw-flex tw-flex-row tw-text-xs tw-text-gray-80 tw-mb-2 tw-uppercase tw-divide-x tw-divide-gray-20">
      <div class="tw-pr-1 tw-whitespace-nowrap ">{{ research_detail_page.original_publication_date|date:"DATE_FORMAT" }}</div>
      <div class="tw-px-1 tw-truncate" >{{ research_detail_page.get_research_author_names|join:', ' }}</div>
      <div class="tw-pl-1 tw-truncate">{{ research_detail_page.get_related_topic_names|join:' / ' }}</div>
    </div>
    <p class="tw-mb-0 tw-text-gray-60 tw-text-base">
      {{ research_detail_page.introduction }}
    </p>
  </div>

</div>
