
<div class="tw-pt-4 tw-pb-7 tw-border-t">
  <fieldset>
    <legend><h3 class="tw-h4-heading">{{ heading }}</h3></legend>
    <ul class="tw-list-none tw-mb-0 tw-pl-0 {% if options|length > 5 %} tw-max-h-[13.5rem] tw-overflow-y-scroll {% endif %}">
      {% for option in options %}
        <li class="tw-flex tw-flex-row tw-items-baseline">
          <input type="checkbox" value="{{ option.value }}" name="{{ field_name }}" id="{{ field_name }}-option-{{ option.id }}" {% if option.value in checked_option_values %}checked{% endif %} form="search-form" class="rh-checkbox" />
          <label for="{{ field_name }}-option-{{ option.id }}" >{{ option.label }}</label>
        </li>
      {% endfor %}
    </ul>
  </fieldset>
</div>
