<div class="tw-flex tw-flex-row tw-text-gray-80 tw-mb-2 tw-uppercase tw-divide-x tw-divide-gray-20">
  {% if original_publication_date %}
    <div class="tw-px-2 first:tw-pl-0 tw-whitespace-nowrap ">{{ original_publication_date|date:"DATE_FORMAT" }}</div>
  {% endif %}
  {% if author_names and not hide_author_names %}
    <div class="tw-px-2 first:tw-pl-0 tw-min-w-0 tw-truncate" >{{ author_names|join:', ' }}</div>
  {% endif %}
  {% if topics and not hide_related_topics %}
    <div class="tw-px-2 first:tw-pl-0 tw-min-w-0 tw-truncate {% if hide_related_topics_on_mobile %} tw-hidden small:tw-block {% endif %}">{{ topics|join:' / ' }}</div>
  {% endif %}
</div>

