{% load i18n %}

{% with request.scheme|add:'://'|add:request.get_host|add:request.get_full_path as current_url %}
        <div class="share-button-group-wrapper" 
             data-link="{{current_url}}">
            <div class="share-button-group {% if version == 'mini' %} circle {% else %} rectangle {% endif %} {% if layout == 'stacked' %} stacked {% endif %}">
                <div class="subgroup">
                    <a class="btn btn-secondary btn-share facebook-share" href="https://www.facebook.com/sharer/sharer.php?u={{current_url|urlencode}}">
                        {% if version == 'mini' %} 
                          <span class="sr-only">{% trans "Share on Facebook" %}</span>
                        {% else %}
                          <span>{% trans "Facebook" %}</span>
                        {% endif %}
                    </a>
                    <a class="btn btn-secondary btn-share twitter-share" href="https://twitter.com/intent/tweet?text={{share_text|urlencode}} {{current_url|urlencode}}">
                        {% if version == 'mini' %} 
                          <span class="sr-only">{% trans "Share on Twitter" %}</span>
                        {% else %}
                          <span>{% trans "Twitter" %}</span>
                        {% endif %}                    
                    </a>
                </div>
                <div class="subgroup">
                    <a class="btn btn-secondary btn-share email-share" href="mailto:?&body={{share_text|urlencode}} {{current_url|urlencode}}">
                        {% if version == 'mini' %} 
                          <span class="sr-only">{% trans "Share by Email" %}</span>
                        {% else %}
                          <span>{% trans "Email" context "Button to share the page by email" %}</span>
                        {% endif %}    
                    </a>
                    <button class="btn btn-secondary btn-share link-share" title="{% trans "Copy page URL to clipboard" %}">
                        {% if version == 'mini' %} 
                          <span class="sr-only">{% trans "Copy to clipboard" %}</span>
                        {% else %}
                          <span>{% trans "Copy" %}</span>
                        {% endif %}                        
                    </button>
                </div>
            </div>
        </div>
{% endwith %}
