<div class="tw-row">
    <div class="tw-w-full tw-px-8">
        <table class="tw-table tw-w-full tw-border tw-border-table tw-overflow-x-auto tw-table-auto">
            <thead>
                <tr>
                    <th class="tw-p-6 tw-border tw-border-table ">Name</th>
                    <th class="tw-p-6 tw-border tw-border-table ">Units</th>
                    <th class="tw-p-6 tw-border tw-border-table tw-w-2/5">Example</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">0</td>
                    <td class="tw-p-6 tw-border tw-border-table">0px</td>
                    <td class="tw-p-6 tw-border tw-border-table"></td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">px</td>
                    <td class="tw-p-6 tw-border tw-border-table">1px</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-px tw-h-px"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">rem</td>
                    <td class="tw-p-6 tw-border tw-border-table">16px (1rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-rem tw-h-rem"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">1</td>
                    <td class="tw-p-6 tw-border tw-border-table">2px (0.125rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-1 tw-h-1"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">2</td>
                    <td class="tw-p-6 tw-border tw-border-table">4px (0.5rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-2 tw-h-2"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">3</td>
                    <td class="tw-p-6 tw-border tw-border-table">6px (0.375rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-3 tw-h-3"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">4</td>
                    <td class="tw-p-6 tw-border tw-border-table">8px (0.5rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-4 tw-h-4"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">5</td>
                    <td class="tw-p-6 tw-border tw-border-table">10px (0.625rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-5 tw-h-5"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">6</td>
                    <td class="tw-p-6 tw-border tw-border-table">12px (0.75rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-6 tw-h-6"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">7</td>
                    <td class="tw-p-6 tw-border tw-border-table">14px (0.875rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-7 tw-h-7"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">8</td>
                    <td class="tw-p-6 tw-border tw-border-table">16px (1rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-8 tw-h-8"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">9</td>
                    <td class="tw-p-6 tw-border tw-border-table">18px (1.125rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-9 tw-h-9"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">10</td>
                    <td class="tw-p-6 tw-border tw-border-table">20px (1.25rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-10 tw-h-10"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">12</td>
                    <td class="tw-p-6 tw-border tw-border-table">24px (1.5rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-12 tw-h-12"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">14</td>
                    <td class="tw-p-6 tw-border tw-border-table">28px (1.75rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-14 tw-h-14"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">16</td>
                    <td class="tw-p-6 tw-border tw-border-table">32px (2rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-16 tw-h-16"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">18</td>
                    <td class="tw-p-6 tw-border tw-border-table">36px (2.25rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-18 tw-h-18"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">20</td>
                    <td class="tw-p-6 tw-border tw-border-table">40px (2.5rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-20 tw-h-20"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">22</td>
                    <td class="tw-p-6 tw-border tw-border-table">44px (2.75rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-22 tw-h-22"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">24</td>
                    <td class="tw-p-6 tw-border tw-border-table">48px (3rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-24 tw-h-24"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">28</td>
                    <td class="tw-p-6 tw-border tw-border-table">56px (3.5rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-28 tw-h-28"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">32</td>
                    <td class="tw-p-6 tw-border tw-border-table">64px (4rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-32 tw-h-32"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">40</td>
                    <td class="tw-p-6 tw-border tw-border-table">80px (5rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-40 tw-h-40"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">48</td>
                    <td class="tw-p-6 tw-border tw-border-table">96px (6rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-48 tw-h-48"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">56</td>
                    <td class="tw-p-6 tw-border tw-border-table">112px (7rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-56 tw-h-56"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">64</td>
                    <td class="tw-p-6 tw-border tw-border-table">128px (8rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-64 tw-h-64"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">72</td>
                    <td class="tw-p-6 tw-border tw-border-table">144px (9rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-72 tw-h-72"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">80</td>
                    <td class="tw-p-6 tw-border tw-border-table">160px (10rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-80 tw-h-80"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">88</td>
                    <td class="tw-p-6 tw-border tw-border-table">176px (11rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-88 tw-h-88"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">96</td>
                    <td class="tw-p-6 tw-border tw-border-table">192px (12rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-96 tw-h-96"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">104</td>
                    <td class="tw-p-6 tw-border tw-border-table">208px (13rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-104 tw-h-104"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">112</td>
                    <td class="tw-p-6 tw-border tw-border-table">224px (14rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-112 tw-h-112"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">120</td>
                    <td class="tw-p-6 tw-border tw-border-table">240px (15rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-120 tw-h-120"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">128</td>
                    <td class="tw-p-6 tw-border tw-border-table">256px (16rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-128 tw-h-128"></div>
                    </td>
                </tr>
                <tr class="tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">144</td>
                    <td class="tw-p-6 tw-border tw-border-table">288px (18rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-144 tw-h-144"></div>
                    </td>
                </tr>
                <tr class="tw-hidden medium:tw-table-row">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">160</td>
                    <td class="tw-p-6 tw-border tw-border-table">320px (20rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-160 tw-h-160"></div>
                    </td>
                </tr>
                <tr class="tw-hidden medium:tw-table-row tw-bg-black tw-bg-opacity-5">
                    <td class="tw-p-6 tw-border tw-border-table tw-font-bold">192</td>
                    <td class="tw-p-6 tw-border tw-border-table">384px (24rem)</td>
                    <td class="tw-p-6 tw-border tw-border-table">
                        <div class="tw-bg-red-40 tw-w-192 tw-h-192"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
