{% load i18n wagtailimages_tags %}


<div class="section-take-action section-padding">
    <div class="row">
      <div class="col-12">
        <h2 class="take-action-title mb-4">{{ page.take_action_title }}</h2>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          {% for item in page.take_action_cards.all %}
            {% with target=item.internal_link.localized %}
            <div class="col-md-6 d-flex">
              <div class="card flex-grow-1 mb-4">
                  <a href="{{ target.url }}">
                    <img src="{% image_url item.image "fill-350x130" %}" class="card-img-top" alt="{{ img.alt }}" aria-label="{{ item.text }}">
                  </a>
                  <div class="card-body">
                    <a href="{{ target.url }}" class="h5-heading d-inline-block my-2">
                      {{ item.text }}
                    </a>
                  </div>
              </div>
            </div>
            {% endwith %}
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 mb-md-4 mt-md-4 mt-lg-0 d-flex align-items-stretch">
        <div class="bg-black p-4 dark-theme">
          <div
            class="join-us"
            data-form-position="body"
            data-cta-header="{% trans "Help shape the future of the web for the public good." %}"
            data-cta-description="<p class='mb-3'>{% trans "Join our <b>Mozilla News</b> email list to get action alerts & internet tips right to your inbox." %}</p>"
            data-newsletter="{{ cta.newsletter }}">
          </div>
        </div>
      </div>
    </div>
</div>
