{% load wagtailcore_tags wagtailimages_tags i18n static%}


<div id="video-hero">
  <div class="banner">
    <div class="background-wrapper">
          <video class="banner-video" playsinline muted loop preload
                 poster="https://s3.amazonaws.com/mofo-assets/foundation/video/mozfest-banner-video-poster.jpg" >
            <source
              src="https://s3.amazonaws.com/mofo-assets/foundation/video/mozfest-banner-video.mp4"
              type="video/mp4">
          </video>
      
          <div class="video-control-wrapper dark-theme">
              <div class="row  mr-3">
                  <button class="btn btn-video-control btn-pause btn-secondary d-none ml-auto">
                  </button>
                  <button class="btn btn-video-control btn-play btn-secondary d-none">
                  </button>
              </div>
          </div>
          <!-- <img class="header-image" src="{% static "_images/mozfest/mozfest-primary-banner-default.jpg" %}" alt=""> -->

      </div>
  </div>

  <div class="container">
    <div class="row cutout-wrapper-row justify-content-center">
      <div class="cutout col-10 pt-4">
        {% if banner_video_type != "hardcoded" %}
          <h1 class="h2-heading mb-0">{% if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>
          {% if page.intro %}
          <div class="body-large mt-3 mb-0">{{ page.intro | richtext }}</div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

</div>
