<div id="fellowships-application-cta-banner" class="p-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <img class="mr-sm-4 hidden-sm-down" src="/_images/fellowships/applications-open-fellows-optm.svg">
      <div>
        <h3 class="h3-cta-black">Applications are open</h3>
        <p>Want to become a fellow? Applications are open through [dd/mm/yy].</p>
      </div>
    </div>
    <a href="{% url 'fellowships-apply' %}" class="btn btn-normal">Apply here</a>
  </div>
</div> 

