<div id="fellowships-application-cta-banner" class="p-3 p-md-5">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <img class="mr-sm-4 hidden-sm-down" src="/_images/fellowships/svg/applications-open-fellows-optm.svg">
      <div>
        <h3 class="h3-heading">Applications are open</h3>
        <p>Ready to become a Mozilla fellow? Apply today.</p>
      </div>
    </div>
    <a href="{% url 'fellowships-apply' %}" class="btn btn-normal">Apply here</a>
  </div>
</div> 

