{% if show_hr %}
<hr class="my-3">
{% endif %}
<div class="d-flex flex-row align-items-center">
  <div class="mr-3">
    <img src="/_images/fellowships/svg/info-icon.svg" width="22" height="22" />
  </div>
  <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between w-100">
    <p class="m-0"><strong>Applications are currently closed. </strong>Interested in the subsequent application cycle? Please click the button and fill out the form. We will send you info when applications re-open!</p>
    {% if show_btn %}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTUqJ9Z4xdcVr4IMzd9UESqm7XwcpVdrIXDeeFNIHUc_vhvQ/viewform" class="btn btn-ghost mt-3 mt-md-0">Get More Info</a>
    {% endif %}
  </div>
</div>
{% if show_hr %}
<hr class="my-3">
{% endif %}
