{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-support{% endblock %}

{% block mainContent %}
<div class="row mb-5">
  <div class="col-12">
    <div class="mb-4">
      <h1 class="h1-heading">Support the Program</h1>
    </div>
  </div>
  <div class="col-md-9">
    <p>The Mozilla Fellows are building the next wave of internet health leaders, and the program depends on a large community of collaborators, partners, advisors, civil service organizations and funders.</p>
    <h4 class="h4-heading">There are 2 ways you can help:</h4>
    <h3 class="h5-heading my-2">Fund the fellows</h3>
    <p>We partner with other foundations and organizations across the globe to support the next wave of internet health leaders. Many funders find the expertise, leadership and passion that fellows bring to the experience to be key to catalyzing progress in the internet health field.</p>
  </div>
  <div class="col-md-3 d-flex justify-content-center align-items-center">
    <img src="/_images/fellowships/svg/support-fellows-optim.svg" class="hidden-md-down">
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/ford-foundation.png"></div>
      <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-siegel@2x.jpg"></div>
      <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-helmsley@2x.jpg"></div>
      <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-open-society-foundations@2x.jpg"></div>
    </div>
  </div>
</div>

<div class="row mb-5 justify-content-center">
  <div class="col-12 col-md-2 hear-from-funder-line-art"></div>
  <div class="col-12 col-md-8 col-lg-6">
    <h4 class="h4-heading">Support the Mozilla Fellows</h4>
    <p class="body-black">Please reach out to <a href="mailto:fellowships@mozillafoundation.org">fellowships@mozillafoundation.org</a> with any inquiries.</p>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    <div class="row">
      <div class="col-md-9">
        <h3 class="h5-heading my-2">Host a fellow</h3>
        <p>Organizations defending an open and accessible web are the backbone of our fellowship program. They socialize fellows to a global assortment of issues, policies, and technologies and inspire them with meaningful work that impacts how the internet grows and supports community globally.</p>
        <p>In the past four years, the fellowship has partnered with 21 host organizations around the globe, including the American Civil Liberties Union, Amnesty International, Derechos Digitales, European Digital Rights, Freedom of the Press Foundation and many more, across sectors and specialties, united by a shared goal to protect public interaction on the open web.</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    {% include 'fellows_host_org.html' %}
  </div>
</div>

<div class="row mb-5 justify-content-center">
  <div class="col-12 col-md-2 hear-from-host-org-line-art"></div>
  <div class="col-12 col-md-8 col-lg-6">
    <h4 class="h4-heading">Learn more about how to get involved</h4>
    <p class="body-black">Applications are currently closed, but reach out to <a href="mailto:fellowships@mozillafoundation.org">fellowships@mozillafoundation.org</a> with any inquiries.</p>
  </div>
</div>
{% endblock %}
