{% extends "./pages/fellowships.html" %}

{% block mainContent %}

<div id="fellowship-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item h6-heading">
      <a href="{% url 'fellowships-home' %}" class="h6-heading">Fellowships</a>
    </li>
    <li class="breadcrumb-item h6-heading text-capitalize active">
      {{ type }} Fellowship
    </li>
  </ol>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-b">
    <h1 class="h1-heading text-capitalize">{{ type }} Fellowship</h1>
  </div>
  <div class="col-md-9">
   {% block fellowship_description %}{% endblock %}
  </div>
  <div class="col-md-3 d-flex justify-content-center align-items-center hidden-sm-down">
    {% block fellowship_illustration %}{% endblock %}
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-heading">Stipend and Financial Benefits</h4>
  </div>
  <div class="col-md-6 mb-3 mb-md-0">{% block benefit_illustration %}{% endblock %}</div>
  <div class="col-md-6">
    {% block benefit_description %}{% endblock %}
  </div>
  <div class="col-md-12 mt-1 mt-md-5">
    <div class="eligibility-section p-3 p-md-5">
      <p><strong>Fellows will receive:</strong></p>
      <ul class="fellowships-list benefit-list">
        {% block benefit_list %}
        {% endblock %}
      </ul>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-heading">Eligibility Criteria</h4>
  </div>
  <div class="col-12">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-9">
        <p><strong>Fellows must be:</strong></p>
        <ul class="fellowships-list">
          {% block eligibility_list %}
          {% endblock %}
        </ul>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 d-flex justify-content-center align-items-center">
        <img src="/_images/fellowships/svg/eligibility-criteria-fellows-optim.svg">
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
{% block featured_fellow %}
{% endblock %}
</div>

{% block host_orgs %}
{% endblock %}

<div class="row mb-5">
  <div class="col-12">
  {% include 'application_cta_banner.html' %}
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    {% include 'contact_banner.html' %}
  </div>
</div>

{% endblock %}
