{% extends "fellows_type.html" %}

{% block fellowship_description %}
{% lorem 2 p %}
{% endblock %}

{% block fellowship_illustration %}
<img src="/_images/fellowships/tech-policy-focus-fellowship-optim.svg">
{% endblock %}

{% block benefit_illustration %}
<img alt="photo to be added here">
{% endblock %}

{% block benefit_description %}
{% lorem 2 p %}
{% endblock %}

{% block benefit_list %}
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
{% endblock %}

{% block eligibility_list %}
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
{% endblock %}

{% block featured_fellow %}
<div id="featured-tech-policy-fellow" class="featured-fellow"></div>
{% endblock %}
