{% extends "fellows_type.html" %}

{% block breadcrumb_fellowship_type %}
Open Web
{% endblock %}

{% block fellowship_type %}
Open Web
{% endblock %}

{% block fellowship_description %}
{% lorem 2 p %}
{% endblock %}

{% block fellowship_illustration %}
img
{% endblock %}

{% block benefit_illustration %}
img
{% endblock %}

{% block benefit_description %}
{% lorem 3 p %}
{% endblock %}

{% block benefit_list %}
<li>Corrupti quis facilis exercitationem iste. Eius debitis animi quam repellendus quo natus earum quis atque sint, dicta beatae a quaerat quibusdam est eligendi possimus in.</li>
<li>Oodit hic dolores atque ullam, laboriosam necessitatibus facere perferendis magnam fuga aliquam, officia placeat sequi eligendi, fugiat dolorem quos cumque ut reiciendis.</li>
<li>Anihil molestias velit praesentium mollitia perspiciatis officiis. Ratione ipsam quod enim dolores modi unde blanditiis aperiam, dolore non mollitia voluptatibus modi eaque beatae iste.</li>
<li>Corrupti quis facilis exercitationem iste. Eius debitis animi quam repellendus quo natus earum quis atque sint, dicta beatae a quaerat quibusdam est odit hic dolores atque ullam, laboriosam necessitatibus facere perferendis magnam fuga aliquam, officia placeat sequi eligendi, fugiat dolorem quos cumque ut reiciendis eligendi possimus in.</li>
{% endblock %}

{% block eligibility_list %}
<li>Corrupti quis facilis exercitationem iste. Eius debitis animi quam repellendus quo natus earum quis atque sint, dicta beatae a quaerat quibusdam est eligendi possimus in.</li>
<li>Oodit hic dolores atque ullam, laboriosam necessitatibus facere perferendis magnam fuga aliquam, officia placeat sequi eligendi, fugiat dolorem quos cumque ut reiciendis.</li>
<li>Anihil molestias velit praesentium mollitia perspiciatis officiis. Ratione ipsam quod enim dolores modi unde blanditiis aperiam, dolore non mollitia voluptatibus modi eaque beatae iste.</li>
<li>Corrupti quis facilis exercitationem iste. Eius debitis animi quam repellendus quo natus earum quis atque sint, dicta beatae a quaerat quibusdam est odit hic dolores atque ullam, laboriosam necessitatibus facere perferendis magnam fuga aliquam, officia placeat sequi eligendi, fugiat dolorem quos cumque ut reiciendis eligendi possimus in.</li>
{% endblock %}

{% block featured_fellow %}
<div id="featured-open-web-fellow" class="featured-fellow"></div>
{% endblock %}
