{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-directory{% endblock %}

{% block mainContent %}
<div class="row">
  <div class="col-md-12 col-lg-9">
    <div class="mb-4">
      <h1 class="h1-white">Fellows Directory</h1>
    </div>
  </div>
</div>

<div id="fellows-directory-featured-fellows">
  <div class="mx-auto my-5 text-center">
    <div class="loading-icon d-inline-block">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</div>
{% endblock %}
