<div class="row">
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-cipit@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-citizenlab@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-colorofchange@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-datasociety@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-derechos@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-edri@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-freedomofthepress@2x.png"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-privacyinternational@2x.png"></div>
</div>
