{% extends "foundation-base.html" %}

{% block body %}
<div class="row mb-5">
  <div class="col-md-6">
    <h2 class="h3-black">What are Fellowships?</h2>
    <p>What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships</p>
  </div>
  <div class="col-md-6"></div>
</div>
{% endblock %}
