{% extends "fellows_type.html" %}

{% block bodyID %}fellows-open-web{% endblock %}

{% block fellowship_description %}
{% lorem 2 p %}
{% endblock %}

{% block fellowship_illustration %}
<img src="/_images/fellowships/svg/open_web-focus-fellowship-optim.svg">
{% endblock %}

{% block benefit_illustration %}
<img src="/_images/fellowships/open-web-fellows-cropped@2x.jpg">
{% endblock %}

{% block benefit_description %}
{% lorem 2 p %}
{% endblock %}

{% block benefit_list %}
<li>a stipend of $60,000 USD*, paid in 10 monthly installments</li>
<li>a one-time health insurance supplement for Fellows and their families, ranging from $3,500 for single Fellows to $7,000 for a couple with two or more children</li>
<li>a one-time childcare allotment of up to $6,000 for families with children</li>
<li>an allowance of up to $3,000 towards the purchase of laptop computer, digital cameras, recorders and computer software; fees for continuing studies or other courses, research fees or payments, to the extent such purchases and fees are related to the fellowship</li>
<li>coverage in full for all approved fellowship trips – domestic and international</li>
{% endblock %}

{% block eligibility_list %}
<li>be currently based at or affiliated with a research institution</li>
<li>have the ability to accept outside funds for this fellowship directly (i.e., not distributed through the institution)</li>
<li>be an early-career researcher (i.e., graduate students, post-docs, research scientists, lecturers)</li>
<li>specialize in scientific research: physical, life, social, library, or natural sciences</li>
<li>be able to travel</li>
<li>obtain support from their advisors. As fellows will be based at their home institutions, please note that a letter of support from their advisor is mandatory </li>
{% endblock %}

{% block host_orgs %}
<div class="row mb-5">
  <div class="col-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-heading">Host organizations</h4>
  </div>
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-md-9">
        <p>Host organizations are leading policy and advocacy organizations dedicated to safeguarding 
        the open internet. Mozilla recruits hosts who have a track record of advocating for internet health, public interest technology, and digital rights; these organizations partner with a fellow for 10-months. Current host organizations include:</p>
      </div>
    </div>
    {% include 'fellows_host_org.html' %}
  </div>
</div>
{% endblock %}

