{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-apply{% endblock %}

{% block mainContent %}


<div class="row mb-5">
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-12">
        <h1 class="h1-heading text-capitalize">Be a fellow</h1>
        <p>Mozilla Fellowships provide resources, tools, community and amplification to those building a more ​humane​ ​digital​ ​world. During their tenure, Fellows use their skill sets — in technology, in activism, in science, in policy — to design products, run campaigns, influence policy and ultimately lay the groundwork for a more open and inclusive internet.</p>
        <p>Who are Mozilla Fellows? They are working to stop the spread of misinformation, to put individuals in control of their data, and to keep artificial intelligence accountable. They are leaders who ensure smart cities and next-generation voice technology are diverse and equitable, and who conduct open research.</p>
        <p>Mozilla Fellowships are a transformative experience for emerging leaders concerned with making the internet a safer, more accessible resource for everyone. Fellows expand their network and sphere of influence; design impactful projects with the potential to reach millions; and learn from and collaborate with a global community of thousands of Mozillians. Mozilla Fellows are also awarded competitive compensation and benefits.</p>
        <h4 class="h4-heading">Mozilla Fellows fit three particular profiles:</h4>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mb-3">
          <img src="/_images/fellowships/svg/open_web-apply_now-optim.svg">
        </div>
        <div class="col-12 col-md-9">
          <h3 class="h5-black mb-1">Open web activists</h3>
          <p class="mb-4">Fellows who work in the realm of public interest technology, addressing issues like privacy, security, and inclusion online. These open web activists embed at leading human rights and civil society organizations around the world, lending their technical expertise.</p>
        </div>

        <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mb-3">
          <img src="/_images/fellowships/svg/scientists-apply_now-optim.svg">
        </div>
        <div class="col-12 col-md-9">
          <h3 class="h5-black mb-1">Scientists and researchers</h3>
          <p class="mb-4">Fellows who infuse open-source practices and principles into scientific research. “Science” is defined broadly; Fellows may work in the natural sciences, formal and applied sciences, or humanities, social sciences and library and information sciences. Fellows are based in the research institution with which they are currently affiliated.</p>
        </div>

        <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mb-3">
          <img src="/_images/fellowships/svg/tech-policy-apply_now-optim.svg">
        </div>
        <div class="col-12 col-md-9">
          <h3 class="h5-black mb-1">Tech policy professionals</h3>
          <p class="mb-4">Fellows who examine the interplay of technology and public policy, and craft legal, academic, and governmental solutions. These tech policy professionals are independent researchers and are not necessarily matched with a host organization or
          an institution.</p>
        </div>

        <div class="col-12 offset-md-3 mt-2 mb-5">
          <a class="btn btn-normal" href="https://mozilla.fluxx.io/user_sessions/new">Apply to be a fellow today</a>
          <p class="small-gray mt-3">Applications are due by 5 pm Eastern Time on April 20th, 2018.<br> <strong> Make sure to register by April 18th</strong>.</p>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include 'contact_banner.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

