{% extends "foundation-base.html" %}

{% block hero_banner %}
<div class="row">
  <div class="col-md-12 col-lg-6 py-5">
    <div class="mb-4">
      <h1 class="h1-white">Fellowships</h1>
    </div>
    <p class="lead-black">Our Fellowships empower bright minds in the fields of public policy, science and journalism.</p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">What are Fellowships?</h4>
  </div>
  <div class="col-md-9">
    <p>What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships What are Fellowships</p>
  </div>
  <div class="col-md-3">img</div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h4 class="h4-light-black">Our Fellowships have 4 areas of focus:</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <h3 class="h5-black my-2">Science</h3>
    <p>Brief description of the theme of the Fellowship and defining characteristics of it.</p>
    <a href="" class="cta-link">Learn More</a>
  </div>
  <div class="col-md-6 mb-4">
    <h3 class="h5-black my-2">Open Web</h3>
    <p>Brief description of the theme of the Fellowship and defining characteristics of it.</p>
    <a href="" class="cta-link">Learn More</a>
  </div>
  <div class="col-md-6 mb-4">
    <h3 class="h5-black my-2">Tech Policy</h3>
    <p>Brief description of the theme of the Fellowship and defining characteristics of it.</p>
    <a href="" class="cta-link">Learn More</a>
  </div>
  <div class="col-md-6 mb-4">
    <h3 class="h5-black my-2">Media</h3>
    <p>Brief description of the theme of the Fellowship and defining characteristics of it.</p>
    <a href="" class="cta-link">Learn More</a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Meet Some of the Mozilla Fellows</h4>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0" key={index}>
    <img class="img-fluid d-block" src={item.image} alt="Headshot"/>
    <h2 class="h5-black my-2">Firstname Lastname</h2>
    <p class="small-gray">description description description description description description description description description</p>
    <div class="person-social-links mt-3">
      <a href="" class="twitter gray small mr-4"></a>
      <a href="" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0" key={index}>
    <img class="img-fluid d-block" src={item.image} alt="Headshot"/>
    <h2 class="h5-black my-2">Firstname Lastname</h2>
    <p class="small-gray">description description description description description description description description description</p>
    <div class="person-social-links mt-3">
      <a href="" class="twitter gray small mr-4"></a>
      <a href="" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0" key={index}>
    <img class="img-fluid d-block" src={item.image} alt="Headshot"/>
    <h2 class="h5-black my-2">Firstname Lastname</h2>
    <p class="small-gray">description description description description description description description description description</p>
    <div class="person-social-links mt-3">
      <a href="" class="twitter gray small mr-4"></a>
      <a href="" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0" key={index}>
    <img class="img-fluid d-block" src={item.image} alt="Headshot"/>
    <h2 class="h5-black my-2">Firstname Lastname</h2>
    <p class="small-gray">description description description description description description description description description</p>
    <div class="person-social-links mt-3">
      <a href="" class="twitter gray small mr-4"></a>
      <a href="" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="col-md-12 text-center my-5">
    <button class="btn btn-ghost">See Fellows Directory</button>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Why Become a Fellow?</h4>
  </div>
  <div class="col-md-6">img</div>
  <div class="col-md-6">
    <p>Why Become a Fellow Why Become a Fellow Why Become a Fellow Why Become a Fellow</p>
    <ul>
      <li>Apple pie cotton candy lollipop lollipop lollipop topping.</li>
      <li>Lemon drops. Tootsie roll dessert cake chocolate ice cream topping muffin.</li>
      <li>Sugar plum caramels jelly.</li>
      <li>Marshmallow jelly beans sesame snaps fruitcake jelly-o icing bear claw dessert.</li>
    </ul>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Expectations</h4>
  </div>
  <div class="col-md-6">
    <p>Expectations Expectations Expectations Expectations Expectations Expectations Expectations Expectations Expectations Expectations Expectations Expectations</p>
    <ul>
      <li>Apple pie cotton candy lollipop lollipop lollipop topping.</li>
      <li>Lemon drops. Tootsie roll dessert cake chocolate ice cream topping muffin.</li>
      <li>Sugar plum caramels jelly.</li>
      <li>Marshmallow jelly beans sesame snaps fruitcake jelly-o icing bear claw dessert.</li>
    </ul>
  </div>
  <div class="col-md-6">img</div>
</div>
{% endblock %}
