{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-home{% endblock %}

{% block heroGuts %}
<div class="row">
  <div class="col-md-12 col-lg-6 py-5">
    <div class="mb-4">
      <h1 class="h1-heading">Mozilla Fellowships</h1>
    </div>
    <p class="body-large">Mozilla Fellows uphold the internet as a force for good.</p>
  </div>
  <div class="col-md-12 col-lg-6 text-right">
    <div class="d-flex h-100 hidden-md-down">
      <div class="align-self-end ml-auto mb-3">
        <strong>Hang Do Thi Duc</strong><br>
        Mozilla Media Fellow - 2017
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mainContent %}
<div class="row mb-5">
  <div class="col-12 mt-2 mb-5">
    <hr class="hr-gradient mt-0">
    <h2 class="h2-heading">What are Mozilla Fellowships?</h2>
  </div>
  <div class="col-12 mb-4">
    <div class="row">
      <div class="col-md-9">
        <p>The internet today is pervasive: It shapes economies, influences governments, and is layered into billions of lives.</p>
        <p>A pervasive internet has the potential to uplift society — it can promote democracy, open markets, and free expression. But it can also promote polarization, mass surveillance, and misinformation.</p>
        <p>More than ever, we need a movement to ensure the internet remains a force for good. Mozilla Fellows are web activists, open-source researchers and scientists, and technology policy experts who work on the front lines of that movement. Fellows develop new thinking on how to address emerging threats and challenges facing a healthy internet. Here’s how:</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-md-9">
        <h3 class="h5-heading">Fellows put individuals in control of their personal data</h3>
        <p>Mozilla Fellow <a href="https://www.mozillapulse.org/profile/288">Hang Do Thi Duc</a> created Data Selfie, a browser extension that provides an intimate window into data mining, predictive analytics, and Facebook consumption. Fellow <a href="https://www.mozillapulse.org/profile/340">Linet Kwamboka</a> researches policies that guide data collection and dissemination across East Africa. And Fellow <a href="https://www.mozillapulse.org/profile/282">Rebecca Ricks</a> works with Human Rights Watch to explore how people use encryption online. </p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center align-items-center hidden-sm-down">
        <img src="/_images/fellowships/svg/illustration-personal-data.svg">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-9">
        <h3 class="h5-heading">Fellows help connect the unconnected</h3>
        <p>Mozilla Fellow <a href="https://www.mozillapulse.org/profile/336">Amina Fazlullah</a> promotes policies that support broadband connectivity in rural and vulnerable U.S. communities. Fellow <a href="https://www.mozillapulse.org/profile/290">Steve Song</a> examines regulatory and policy barriers associated with bringing the next billion online. And Fellow <a href="https://www.mozillapulse.org/profile/312">Sarah Kiden</a> researches last-mile connectivity in East Africa.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center align-items-center hidden-sm-down">
        <img src="/_images/fellowships/svg/illustration-connect-unconnected.svg">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-9">
        <h3 class="h5-heading">Fellows keep artificial intelligence accountable</h3>
        <p>Mozilla Fellow <a href="https://www.mozillapulse.org/profile/341">Jason Schultz</a> analyzes the impact of machine learning on civil liberties. Fellow <a href="https://www.mozillapulse.org/profile/342">Terah Lyons</a> coordinates international governance of AI. And Fellow <a href="https://www.mozillapulse.org/profile/330">Suchana Seth</a> works alongside Data & Society to research biased algorithms.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center align-items-center hidden-sm-down">
        <img src="/_images/fellowships/svg/illustration-artificial-intelligence.svg">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-9">
        <h3 class="h5-heading">Fellows make scientific research more open </h3>
        <p>Mozilla Fellow <a href="https://www.mozillapulse.org/profile/313">Amel Ghouila</a> leverages open-source data and tools to bolster biomedical research across the African continent. And Fellow <a href="https://www.mozillapulse.org/profile/248">Chris Hartgerink</a> explores how to make scholarly communication more collaborative, accurate, and open.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center align-items-center hidden-sm-down">
        <img src="/_images/fellowships/svg/illustration-open-scientific-research.svg">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p>Mozilla Fellowships provide resources, tools, community and amplification to those building a more ​humane​ ​digital​ ​world. During their tenure, Fellows use their skill sets — in technology, in advocacy, in law — to design products, run campaigns, influence policy and ultimately lay the groundwork for a more open and inclusive internet.</p>
        <p>Mozilla Fellows hail from a range of disciplines and geographies: They are policymakers in Kenya, journalists in Brazil, engineers in Germany, privacy activists in the United States, and data scientists in the Netherlands. Fellows work on individual projects, but also collaborate on cross-disciplinary solutions to the internet’s biggest challenges. Fellows are awarded competitive compensation and benefits.</p>
        <p><strong>For additional details about Mozilla Fellowships, visit our <a href="/opportunity/fellowships">Fellowship FAQ</a></strong>.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    <hr class="hr-gradient mt-0">
  </div>
  <div class="col-md-12 mb-5">
    <h2 class="h2-heading">Meet Some of the Mozilla Fellows</h2>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0">
    <img src="/_images/fellowships/headshot/OrlandoDelAguila.jpg" class="img-fluid d-block" src="" alt="Headshot"/>
    <h2 class="h5-heading my-2">Orlando Del Aguila</h2>
    <p class="h6-heading">software engineer, interested in projects that impact the lives of underrepresented communities. Currently, working on Ahwaa.org, a discussion platform for the LGBT community in the Middle East.</p>
    <div class="person-social-links mt-3">
      <a href="https://twitter.com/eatcodetravel" class="twitter gray small mr-4"></a>
      <a href="https://www.linkedin.com/in/orlandodelaguila/" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0">
    <img src="/_images/fellowships/headshot/AmbaKak.jpg" class="img-fluid d-block" src="" alt="Headshot"/>
    <h2 class="h5-heading my-2">Amba Kak</h2>
    <p class="h6-heading">researcher and policy consultant, Amba is studying how India’s experience with Aadhaar and other tech/government issues can inform global debates about privacy, digital identity, net-neutrality and other critical issues.</p>
    <div class="person-social-links mt-3">
      <a href="https://twitter.com/ambaonadventure" class="twitter gray small mr-4"></a>
      <a href="https://www.linkedin.com/in/amba-kak-48569b108/" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0">
    <img src="/_images/fellowships/headshot/LinetKwamboka.jpg" class="img-fluid d-block" src="" alt="Headshot"/>
    <h2 class="h5-heading my-2">Linet Kwamboka</h2>
    <p class="h6-heading">founder and CEO of DataScience LTD, Linet works on understanding the policies that guide data collection and dissemination in East Africa. She plans to publish a report outlining her findings with policy recommendations on existing policies and proposed amendments.</p>
    <div class="person-social-links mt-3">
      <a href="https://twitter.com/linetdata" class="twitter gray small mr-4"></a>
    </div>
  </div>
  <div class="featured-person col-6 col-sm-4 col-md-3 mb-4 mb-sm-0">
    <img src="/_images/fellowships/headshot/AnMeChung.jpg" class="img-fluid d-block" src="" alt="Headshot"/>
    <h2 class="h5-heading my-2">An-Me Chung</h2>
    <p class="h6-heading">former Director of Strategic Partnerships at the Mozilla Foundation, An Me is currently a Resident Fellow focused on equipping people with core web literacy skills needed to read, write, and participate on the internet.</p>
    <div class="person-social-links mt-3">
      <a href="https://twitter.com/anmechung" class="twitter gray small mr-4"></a>
      <a href="https://www.linkedin.com/in/an-me-chung-0b95632a/" class="linkedIn gray small mr-4"></a>
    </div>
  </div>
  <div class="col-md-12 text-center my-5">
    <a href="{% url 'fellowships-directory' %}" class="btn btn-ghost">See Fellows Directory</a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    <div class="row">
      <div class="col-md-12 mb-5">
        <hr class="hr-gradient mt-0">
        <h2 class="h2-heading">Why Become a Fellow?</h2>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-6">
        <p>Mozilla Fellowships are a transformative experience for emerging leaders. As a Fellow, you will:</p>
        <ul class="fellowships-list">
          <li>Expand your network and sphere of influence. <a href="{% url 'fellowships-directory' %}">Meet the Mozilla Fellows</a>.</li>
          <li>Design impactful projects with the potential to reach millions. <a href="https://{{pulse_domain}}/featured">See what Fellows and their collaborators are working on</a>.</li>
          <li>Learn from and collaborate with a global community of Mozillians. <a href="https://www.mozilla.org/contribute/">Meet more than 10,000 Mozilla contributors around the world</a>.</li>
        </ul>
        <p class="mt-4">Any further questions about Fellowships at Mozilla? Please check out our <a href="/opportunity/fellowships">FAQ page</a> or <a href="mailto:fellowships@mozillafoundation.org">contact us</a>.</p>
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="/_images/fellowships/group-fellows-overview-page-cropped@2x.jpg">
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
  {% include 'application_cta_banner.html' %}
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    <hr class="my-2">
    <div class="opp-foot d-flex align-items-center"><img class="mr-3" src="/_images/fellowships/svg/mini_support_hand-fellows-with-gradient.svg">
      <p class="mb-0">Want to support the incredible work Fellows are doing? Either as a host organization or a funder, you can join us to keep the Internet healthy. <a href="{% url 'fellowships-support' %}">Find out how to support</a>.</p>
    </div>
    <hr class="my-2">
  </div>
</div>
{% endblock %}
