{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-apply{% endblock %}

{% block mainContent %}

<div class="join-us full-page" data-cta-header="Application are closed for 2017" data-cta-description="Check back in [Month/Year]. You can also give us your e-mail address and we will notify you once the applications are open." data-newsletter=""></div>

<div class="row mb-5">
  <div class="col-md-6">
    <h2 class="h4-light-black">Application cycle dates</h2>
    <p>{% lorem 1 p %}</p>
  </div>
  <div class="col-md-6">
    <h2 class="h4-light-black">More info regarding application</h2>
    <p>{% lorem 1 p %}</p>
  </div>
</div>


{% endblock %}
