{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-directory-past-years{% endblock %}

{% block mainContent %}
<div id="fellowship-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item small-gray">
      <a href="{% url 'fellowships-directory' %}" class="small-gray">Directory</a>
    </li>
    <li class="breadcrumb-item small-gray active text-capitalize">
      Fellows from Previous Years
    </li>
  </ol>
</div>

<div class="row">
  <div class="col-12">
    <div class="mb-4">
      <h1 class="h1-white text-capitalize">Fellows from Previous Years</h1>
    </div>
  </div>
</div>

<div id="fellows-directory-previous-years">
</div>
{% endblock %}
