{% extends "fellowships-base.html" %}

{% block body %}

<div id="fellowship-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item small-gray">
      <a href="{% url 'fellowships-home' %}" class="small-gray">Fellowships</a>
    </li>
    <li class="breadcrumb-item small-gray text-capitalize active">
      {{ type }} Fellowship
    </li>
  </ol>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-b">
    <h1 class="h1-white text-capitalize">{{ type }} Fellowship</h1>
  </div>
  <div class="col-md-9">
   {% block fellowship_description %}{% endblock %}
  </div>
  <div class="col-md-3">{% block fellowship_illustration %}{% endblock %}</div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Stipend and Financial Benefits</h4>
  </div>
  <div class="col-md-6">{% block benefit_illustration %}{% endblock %}</div>
  <div class="col-md-6">
    {% block benefit_description %}{% endblock %}
  </div>
  <div class="col-md-12">
    <p><strong>Fellows will receive:</strong></p>
    <ul class="fellowships-list">
      {% block benefit_list %}
      {% endblock %}
    </ul>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Eligibility Criteria</h4>
  </div>
  <div class="col-md-8">
    <p><strong>Fellows must be:</strong></p>
    <ul class="fellowships-list">
      {% block eligibility_list %}
      {% endblock %}
    </ul>
  </div>
  <div class="col-md-4">img</div>
</div>

{% block featured_fellow %}
{% endblock %}

<div class="row mb-5">
  <div class="col-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Host organizations</h4>
  </div>
  {% block host_orgs %}
  {% endblock %}
</div>

<div class="row mb-5">
  <div class="col-12">
  {% include 'application_cta_banner.html' %}
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    <hr class="my-2">
    <div class="opp-foot d-flex align-items-center"><img class="mr-3" src="/_images/green-20.svg" width="51" height="45">
      <p class="body-black mb-0">Do you have any questions about this program? <a href="">Contact us</a>.</p>
    </div>
    <hr class="my-2">
  </div>
</div>

{% endblock %}
