{% extends "fellowships-base.html" %}

{% block body %}
<div class="row">
  <div class="col-md-12 col-lg-9">
    <div class="mb-4">
      <h1 class="h1-white">Support the Program</h1>
    </div>
    <p>{% lorem 1 %}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="h4-light-black">There are 2 ways you can help:</h4>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-9">
    <h3 class="h5-black my-2">Be a host organization</h3>
    {% lorem 2 p %}
  </div>
  <div class="col-md-3">
    img
  </div>
  <div class="col-md-12">
    <p>Post host orgs:</p>
  </div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
  <div class="col-md-3">org logo</div>
</div>

<div class="row mb-5 justify-content-center">
  <div class="col-12 col-md-2 hear-from-you-line-art"></div>
  <div class="col-12 col-md-8 col-lg-6">
    <h4 class="h4-headingcontract-black">Engaging Title for Host Orgs</h4>
    <p class="body-black">Curious about how to become a host organization or have a specific question in mind?</p><a class="cta-link mr-4" href="">Contatc us</a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-9">
    <h3 class="h5-black my-2">Be a funder</h3>
    {% lorem 2 p %}
  </div>
  <div class="col-md-3">
    img
  </div>
  <div class="col-md-12">
    <p>List of previoius funders:</p>
  </div>
  <div class="col-md-8">
    <ul class="fellowships-list two-column">
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
    </ul>
  </div>
</div>

<div class="row mb-5 justify-content-center">
  <div class="col-12 col-md-2 hear-from-you-line-art"></div>
  <div class="col-12 col-md-8 col-lg-6">
    <h4 class="h4-headingcontract-black">Engaging Title for Funders</h4>
    <p class="body-black">Ipsum consequatur possimus nisi maiores dicta odio hic adipisci dolores nulla, eius consequuntur aspernatur iusto sint fugit labore accusantium quaerat.</p><a class="cta-link mr-4" href="">Contatc us</a>
  </div>
</div>

<div class="mb-5">
  <div id="featured-fellow-support-page" class="featured-fellow"></div>
</div>
{% endblock %}
