{% extends "fellows_type.html" %}

{% block fellowship_description %}
{% lorem 2 p %}
{% endblock %}

{% block fellowship_illustration %}
<img src="/_images/fellowships/svg/media-focus-fellowship-optim.svg">
{% endblock %}

{% block benefit_illustration %}
<img src="/_images/fellowships/media-fellows-cropped@2x.jpg">
{% endblock %}

{% block benefit_description %}
{% lorem 2 p %}
{% endblock %}

{% block benefit_list %}
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
{% endblock %}

{% block eligibility_list %}
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
<li>bullet list item</li>
{% endblock %}
