{% extends "fellows_type.html" %}

{% block fellowship_type %}
Science
{% endblock %}

{% block fellowship_description %}
<p>The Mozilla Fellowships for Science present a unique opportunity for researchers who want to influence the future of open science and data sharing within their communities.</p>
<p>We're looking for researchers with a passion for open source and data sharing, already working to shift research practice to be more collaborative, iterative and open. Fellows will spend 10 months starting September 2017 as community catalysts at their institutions, mentoring the next generation of open data practitioners and researchers and building lasting change in the global open science community.</p>
<p>Throughout their fellowship term, chosen fellows will receive training and support from Mozilla to hone their skills around open source, data sharing, open science policy and licensing. They will also craft code, curriculum and other learning resources that help their local communities learn open data practices, and teach their institutional peers.</p>
{% endblock %}

{% block fellowship_illustration %}
img
{% endblock %}

{% block benefit_illustration %}
img
{% endblock %}

{% block benefit_description %}
<p>The Fellowships are designed to allow for flexibility for both Fellows and their families. The standard fellowship offers a stipend of $60,000 USD*, paid in 10 monthly installments. Fellows are responsible for remitting all applicable taxes and other government payments as required.</p>
<p>To help offset cost of living, the fellowship also provides supplements for childcare and health insurance, and helps pay for research/equipment and books. The fellowships also covers the costs of required travel for fellowship activities.</p>
{% endblock %}

{% block benefit_list %}
<li>a stipend of $60,000 USD*, paid in 10 monthly installments</li>
<li>a one-time health insurance supplement for Fellows and their families, ranging from $3,500 for single Fellows to $7,000 for a couple with two or more children</li>
<li>a one-time childcare allotment of up to $6,000 for families with children</li>
<li>an allowance of up to $3,000 towards the purchase of laptop computer, digital cameras, recorders and computer software; fees for continuing studies or other courses, research fees or payments, to the extent such purchases and fees are related to the fellowship
</li>
<li>coverage in full for all approved fellowship trips – domestic and international</li>
{% endblock %}

{% block eligibility_list %}
<li>be currently based at or affiliated with a research institution</li>
<li>have the ability to accept outside funds for this fellowship directly (i.e., not distributed through the institution)</li>
<li>be an early-career researcher (i.e., graduate students, post-docs, research scientists, lecturers)</li>
<li>specialize in scientific research: physical, life, social, library, or natural sciences</li>
<li>be able to travel</li>
<li>obtain support from their advisors. As fellows will be based at their home institutions, please note that a letter of support from their advisor is mandatory for consideration</li>
<li>have experience participating in open communities</li>
{% endblock %}

{% block featured_fellow %}
<div id="featured-science-fellow" class="featured-fellow"></div>
{% endblock %}
