{% extends "foundation-base.html" %}

{% block body %}

<div id="fellowship-breadcrumb">
  <a href="">breadcrumb</a>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-b">
    <h1 class="h1-white">{% block fellowship_type %}{% endblock %} Fellowship</h1>
  </div>
  <div class="col-md-9">
   {% block fellowship_description %}{% endblock %}
  </div>
  <div class="col-md-3">{% block fellowship_illustration %}{% endblock %}</div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Stipend and Financial Benefits</h4>
  </div>
  <div class="col-md-6">{% block benefit_illustration %}{% endblock %}</div>
  <div class="col-md-6">
    {% block benefit_description %}{% endblock %}
  </div>
  <div class="col-md-12">
    <p>Fellows will receive:</p>
    <ul class="fellowships-list two-column">
      {% block benefit_list %}
      {% endblock %}
    </ul>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 my-5">
    <hr class="hr-gradient mt-0">
    <h4 class="h2-headings-white">Eligibility Criteria</h4>
  </div>
  <div class="col-md-8">
    <p>Fellows must be:</p>
    <ul class="fellowships-list">
      {% block eligibility_list %}
      {% endblock %}
    </ul>
  </div>
  <div class="col-md-4">img</div>
</div>

{% block featured_fellow %}
{% endblock %}

<div class="row py-5 px-md-2">
  <div class="col-md-2">img</div>
  <div class="col-md-10">
    <div class="d-flex flex-column flex-md-row justify-content-around">
      <div>
        <h2 class="h3-cta-black">Application are open</h2>
        <p>short copy short copy short copy short copy short copy short copy short copy short copy short copy</p>
      </div>
      <div class="ml-md-5 align-self-center">
        <button class="btn btn-normal">I want to be a Fellow</button>
      </div>
    </div>
  </div>
</div>

<div class="row py-5 px-md-2">
  <div class="col-md-1">img</div>
  <div class="col-md-11">
    <div class="d-flex flex-column flex-md-row justify-content-around">
      <div>
        <p>Want to support the incredible work Fellows are doing? Either as a host organization or a funder, you can join us to keep the Internet healthy.</p>
      </div>
      <div class="ml-md-5 align-self-center">
        <button class="btn btn-ghost">Ways to Support</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
