<div class="row">
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-cipit@2x.png" alt="Centre for Intellectual Property And Information Technology Law"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-citizenlab@2x.png" alt="The Citizen Lab"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-colorofchange@2x.png" alt="colorofchange.org"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-datasociety@2x.png" alt="Data&Society"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-derechos@2x.png" alt="Derechos Digitales America Latina"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-edri@2x.png" alt="EDRi"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-freedomofthepress@2x.png" alt="Freedom of the Press Foundation"></div>
  <div class="col-6 col-md-3 logo"><img src="/_images/fellowships/logo/logo-privacyinternational@2x.png" alt="Privacy International"></div>
</div>
