{% extends "./pages/fellowships.html" %}

{% block bodyID %}fellows-apply{% endblock %}

{% block mainContent %}


<div class="row mb-5">
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-12">
        <h1 class="h1-white text-capitalize">Be a fellow</h1>
        <p>Being a fellow is an amazing experience, that opens the door for lots of amazing opportunities. Copy here about how awesome it is to be a fellow. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus magna at velit volutpat, in posuere diam faucibus. Mauris lobortis lacus vel hendrerit maximus.</p>
        <h3 class="h5-black mb-1">Science</h3>
        <p class="mb-4">Our science-focused fellows are researchers who want to increase the openness of data sharing of science research communities. <a href="{% url 'fellowships-type' program_type_slug='science' %}">Learn more</a>.</p>
        <h3 class="h5-black mb-1">Open Web</h3>
        <p class="mb-4">Our fellows working on issues to support the growing field of public interest technology are passionate about working increasing transparency, privacy and security in the open web. <a href="{% url 'fellowships-type' program_type_slug='open-web' %}">Learn more</a>.</p>
        <h3 class="h5-black mb-1">Tech Policy</h3>
        <p class="mb-4">Our fellows focused on technology policy-related issues around the world that are central to open public policy at the intersection of legal, academic, and governmental action. <a href="{% url 'fellowships-type' program_type_slug='tech-policy' %}">Learn more</a>.</p>
        <h3 class="h5-black mb-1">Media</h3>
        <p class="mb-4">Our fellows in open media are creators and media-makers inspired by the open web to explore the boundaries of technology privacy, politics, public awareness, and surveillance. <a href="{% url 'fellowships-type' program_type_slug='media' %}">Learn more</a>.</p>
      </div>
      <div class="col-12 mt-2 mb-5">
        <a href="" class="btn btn-normal">Apply to be a fellow today</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include 'contact_banner.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

