<!DOCTYPE html>
<html>{% load settings_value %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mozilla Network is a global network keeping the internet open and accessible to all.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Mozilla Network">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://network.mofostaging.netnetwork-api/app/networkapi/templates/pages/landingpage.html">
    <meta property="og:title" content="Mozilla Network – {{ page.meta_title }}">
    <link rel="stylesheet" href="/_css/main.compiled.css">
    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito+Sans:400,600,300i">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arvo">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/_images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/_images/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/_images/favicons/favicon.ico">
    <title>Mozilla Network – {{ page.meta_title }}</title>
  </head>
  <body id="view-opportunity">
    <div class="takeover"></div>
    <div id="primary-nav"></div>
    <div class="wrapper">
      <div id="member-notice"></div>
      <div class="sticky-top">
        <div class="wrapper-join-us">
          <div class="container">
            <div class="join-us" id="join-us"></div>
          </div>
        </div>
        <div class="wrapper-burger">
          <div class="container">
            <div class="row">
              <div class="col p-4">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <button id="burger"></button><a class="logo text-hide" href="/">Mozilla Network</a>
                  </div>
                  <div class="center-nav-title hidden-xs-down">
                    <p>{{ page.meta_title }}</p>
                  </div><a class="btn btn-pop" href="/sign-up">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-2">
        <div id="hero">
          <div class="container">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="py-5 {% if page.parent.title != "Opportunity" or page.children.all.count > 0 %}col-12 col-md-8 offset-md-3{% else %}col-12{% endif %}">
            <h1 class="h1-white">{{ page.landingpage.header }}</h1>
          </div>
        </div>
      </div>
      <div class="hidden-md-up mb-5" id="multipage-nav-mobile">
        <div class="container">
          <div class="row">
            <div class="col-12"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-5">{% if page.parent.title != "Opportunity" or page.children.all.count > 0 %}
          <div class="col-12 col-md-3 mb-3 hidden-sm-down">
            <div class="multipage-nav" id="multipage-nav">
              {% load pages_tags %}
              {% page_menu "pages/menus/side-menu-items.html" %}
            </div>
          </div>{% endif %}
          <div class="{% if page.parent.title != "Opportunity" or page.children.all.count > 0 %}col-12 col-md-9{% else %}col-12{% endif %}">
            <div class="row">
              <div class="cms col-12">{{ page.landingpage.content | safe }}</div>
            </div>
          </div>
        </div>{% if page.landingpage.signup %}
        <div class="row">
          <div class="join-us full-width col mb-5" data-cta-header="{{ page.landingpage.signup.header | escape }}" data-cta-description="{{ page.landingpage.signup.description | escape }}" data-newsletter="{{ page.landingpage.signup.newsletter }}"></div>
        </div>{% endif %}
      </div>
      <footer class="mofo-footer">
        <div class="container">
          <ul class="list-unstyled footer-links row justify-content-center">
            <li class="col-auto"><a class="footer-link-email" href="mailto:network@mozillafoundation.org">Email</a></li>
            <li class="col-auto"><a class="footer-link-twitter" href="https://twitter.com/mozilla">Twitter</a></li>
            <li class="col-auto"><a class="footer-link-facebook" href="https://www.facebook.com/mozilla">Facebook</a></li>
            <li class="col-auto"><a class="footer-link-cc-license" href="https://creativecommons.org/licenses/by/4.0">License</a></li>
            <li class="col-auto"><a class="footer-link-legal" href="https://mozilla.org/en-US/about/legal/">Legal</a></li>
            <li class="col-auto"><a class="footer-link-privacy" href="https://mozilla.org/en-US/privacy/websites/">Privacy</a></li>
            <li class="col-auto"><a class="footer-link-donate" href="https://donate.mozilla.org">Donate</a></li>
          </ul>
          <div class="org-info mozilla">
            <div class="logo-container"><a class="logo" href="https://mozilla.org"></a></div>
            <p>Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at <a href="https://mozilla.org">mozilla.org</a>.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
<script src="/_js/main.compiled.js"></script>