.profile-filters {
  background-color: $subtle-gray;

  &-button {
    border: none;
    padding: 0;

    &:hover span{
      text-decoration: underline;
    }

    &:not(:last-child) {
      &::after {
        content: "|";
        display: inline-block;
        color: $gray-light;
      }
    }
  }
}

.profiles {
  .headshot {
    width: 100%;
  }

  .person-card {
    border-top: 0.0625rem solid black;
  }


  .meta-block {

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }

    &-name {
      line-height: .8;
      display: inline-block;

      &:hover {
        border-bottom: 1.5px solid black;
      }
    }

    &-location {
      font-size: 12px;

      &::before {
        width: 12px;
        height: 12px;
        display: block;
        content: '';
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/_images/glyphs/map-marker-icon.svg');
      }
    }
  }

  .person-quote {
    z-index: 1;

    &::before {
      content: '\201C';
      font-size: 15em;
      color: $subtle-gray;
      z-index: -1;
      position: absolute;
      font-weight: bold;
      font-style: initial;
      top: -0.3em;
    }
  }
}
