.profile-filters {
  background-color: $subtle-gray;

  &-button {
    border: none;
    padding: 0;
    background: inherit;

    &:hover span {
      text-decoration: underline;
    }

    &:not(:last-child) {
      &::after {
        content: "|";
        display: inline-block;
        color: $gray-light;
      }
    }
  }
}

.profiles {
  .headshot {
    width: 100%;
    max-width: 160px;
    max-height: 160px;
    object-fit: cover;
    object-position: top;

    &-container {
      @media screen and (min-width: $bp-sm) {
        grid-row-end: 3;
        grid-row-start: 1;
      }
    }
  }
}

.person-card {
  border-top: 0.0625rem solid black;
  display: grid;
  grid-template-rows: repeat(2, 0.25fr);
  grid-template-columns: 1fr 2fr;

  @media screen and (min-width: $bp-sm) {
    grid-template-rows: repeat(3, 0.25fr);
    grid-template-columns: 0.9fr 2fr;
  }
}

.meta-block {
  a {
    color: $black;

    &:hover {
      text-decoration: none;
    }
  }

  &-name {
    line-height: 0.8;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  &-location {
    font-size: 12px;

    &::before {
      width: 12px;
      height: 12px;
      display: block;
      content: '';
      margin-right: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/_images/glyphs/map-marker-icon.svg');
    }
  }
}

.bio {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;

  @media screen and (min-width: $bp-sm) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
