.person-card {
  $headshot-width: 92px;
  $headshot-height: 92px;
  $headshot-width-lg: 160px;
  $headshot-height-lg: 160px;
  $gutter: 14px;

  border-top: 1px solid $black;

  @media screen and (min-width: $bp-lg) {
    position: relative;
    min-height: $headshot-height-lg;
  }

  .thumbnail-wrapper {
    float: left;

    @media screen and (min-width: $bp-lg) {
      float: none;
      position: absolute;
    }
  }

  .headshot-container {
    width: $headshot-width;
    height: $headshot-height;
    margin-right: $gutter;
    margin-bottom: $gutter;

    @media screen and (min-width: $bp-lg) {
      width: $headshot-width-lg;
      height: $headshot-height-lg;
      margin-right: 0;
      margin-bottom: 0;
    }

    img {
      object-fit: cover;
      object-position: top center;
      width: 100%;
      height: 100%;
    }
  }

  .short-meta-wrapper {
    @media screen and (min-width: $bp-lg) {
      margin-left: $headshot-width-lg + $gutter;
    }
  }

  .meta-block-name {
    @media screen and (min-width: $bp-lg) {
      width: calc(100% - 70px);
    }
  }

  .bio-wrapper {
    clear: both;

    @media screen and (min-width: $bp-lg) {
      margin-left: $headshot-width-lg + $gutter;
    }
  }

  .social-icons {
    @media screen and (min-width: $bp-lg) {
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  .meta-block-location {
    &::before {
      width: 12px;
      height: 12px;
      display: block;
      content: "";
      margin-right: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/_images/glyphs/map-marker-icon.svg");
    }
  }
}
