// ArticlePage-specific styling.
// Also see publication-page.scss and chapter-page.scss

#view-article {
  .article-page-content {
    p,
    ul,
    ol {
      font-weight: 300;
    }
  }
}

.article-summary {
  background: $lightest-blue;
  padding: 32px 30px;
  width: calc(80% + 60px);
  margin: -48px auto 48px;

  @media (max-width: $bp-md) {
    max-width: 100%;
    width: 100%;
  }
}

.article-links-two-column {
  @media (min-width: $bp-md) {
    column-count: 2;
    column-width: auto;
  }
}

.article-summary {
  color: $gray-60;
}

.article-summary-link {
  color: $gray-80;
}

.article-summary-share-links {
  position: absolute;
  left: 0;

  &.with-top-offset {
    top: 20px;
  }
}

.article-summary-link {
  display: block;
  --spacing: 10px;
  width: 100%;
  margin-top: 17px;
  flex-basis: calc(50% - var(--spacing));
  flex-grow: 0;
  flex-shrink: 0;
  @include hover-focus-active {
    color: inherit;
  }
}

.article-summary-link-two-column {
  display: inline-block;
}

.article-summary .article-summary-title {
  color: $black;
}

.footnotes-title {
  @include set-text-size(20px, 30px);
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

.footnotes-list {
  list-style-type: none;
}

.footnote-row .rich-text {
  display: inline-block;
}

.footnote-number {
  color: $blue;
  @include set-text-size(14px, 20px);
  font-family: $font-family-sans-serif;
  margin-right: 7px;
}

.footnote-row .footnote-text .rich-text p {
  color: $gray-60;
  @include set-text-size(14px, 20px);

  a {
    text-decoration: underline;
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    @include hover-focus-active {
      color: $blue;
    }
  }
}

// Custom dropdown
.btn-link.article-summary-toggle {
  color: $gray-80;
  @include set-text-size(12px, 16px);
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 0.5rem;

  &::after {
    position: absolute;
    right: 0;
    top: 7px;
    border: 0;
    background-image: url("../_images/glyphs/down-chevron.svg");
    background-size: cover;
    background-position: center center;
    width: 16px;
    height: 16px;
  }

  &.show::after {
    transform: rotate(180deg);
  }
}

.article-summary-menu {
  margin-top: 10px;
  border-radius: 0;
  border-top: 0;
  padding-top: 29px;
  padding-bottom: 22px;
  z-index: 10;

  .dropdown-item {
    color: $gray-60;
    @include set-text-size(18px, 27px);
    padding: 5px 40px 5px 30px;

    &:hover {
      background: $gray-05;
      color: $black;
    }
  }
}

.article-blockquote-block {
  background: $gray-05;
  padding: 24px 30px;
  width: calc(80% + 60px);
  .rich-text p {
    color: $black;
    @include set-text-size(20px, 30px);
    font-family: $font-family-sans-serif;
    font-weight: 300;
    margin: auto 0;
  }
  &--small {
    .rich-text p {
      @include set-text-size(18px, 27px);
      font-weight: normal;
    }
  }
}

@media (max-width: $bp-md) {
  .article-blockquote-block {
    padding: 18px 22px;
    @include set-text-size(18px, 27px);
    width: 100%;
  }
}

.article-table-block .table {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: $white;

  td,
  th {
    border-top: 0;
    border-bottom: 1px solid $light-blue;
    color: $gray-80;
    @include set-text-size(16px, 24px);
    font-family: $font-family-sans-serif;
    font-weight: normal;

    &.column-width-20 {
      width: 20%;
    }

    .rich-text {
      * {
        color: $gray-80;
        font-size: 16px;
      }

      p {
        max-width: initial;
      }

      b {
        font-weight: bold;
      }

      a {
        color: $dark-blue;
      }

      ol,
      ul,
      p {
        margin-bottom: 12px;
      }

      ol > li::marker {
        font-size: 16px;
      }

      p:last-child,
      li {
        margin-bottom: 0;
      }
    }
  }

  .highlighted,
  thead td,
  thead th {
    background: $blue;
    color: $white;
    @include set-text-size(16px, 24px);
    font-family: $font-family-sans-serif;
    font-weight: 600;

    .rich-text * {
      color: $white;
      @include set-text-size(16px, 24px);
    }
  }
  caption {
    color: $gray-60;
    @include set-text-size(12px, 16px);
    font-family: $font-family-sans-serif;
    margin-top: 16px;
    padding: 0;
  }
}

.article-image-block,
.double-image-block,
.full-width-image-block {
  figcaption p {
    color: $gray-60;
    @include set-text-size(12px, 16px);
    font-family: $font-family-sans-serif;
    margin-top: 8px;
  }
}

.article-navbar-container {
  // Move the summary bar up 50px just to hide it.
  // This then slides down to become visible
  --top-offset: -50px;
  position: relative;
  top: var(--top-offset);
  margin-bottom: var(--top-offset);
  z-index: -1;
  transition: top 0.35s ease;
}
.article-navbar {
  background: $lightest-blue;
  padding: 9px 0;
  position: sticky;
  left: 0;
  right: 0;
}

@media (max-width: $bp-md) {
  .article-summary-link {
    flex-basis: 100%;

    &:nth-child(even) {
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .article-blocks .rich-text .richtext-image {
    &.full-width,
    &.right,
    &.left {
      margin: 0 0 24px 0;
      width: 100%;
      max-width: 100%;
      position: relative;
      float: initial;
    }
  }
}

@media (max-width: $bp-lg) {
  .article-summary-menu {
    margin-top: 9px;
  }
}

/**
   * Below is the styling for the next/prev buttons on the Article pages (found at the bottom of the page)
   */
.article-link {
  background: $gray-05;
  padding-top: 24px;
  padding-bottom: 56px;

  .body-small {
    color: $gray-80;
  }

  .body-large {
    text-decoration: underline;
  }

  @include hover-focus-active {
    background: $lightest-blue;
    text-decoration: none;

    .body-large {
      color: $dark-blue;
    }
  }
}
.article-link {
  --article-padding: 100px;
  &.article-link-left {
    padding-right: var(--article-padding);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 24px;
      bottom: 24px;
      border-right: 1px solid $gray-20;
    }
  }
  &.article-link-right {
    padding-left: var(--article-padding);
    padding-right: initial;
  }
}
@media (max-width: $bp-xl) and (min-width: $bp-md) {
  .article-link {
    --article-padding: 70px;
    &.article-link-left {
      padding-right: var(--article-padding);
    }
    &.article-link-right {
      padding-left: var(--article-padding);
    }
  }
}
.article-link-container-right,
.article-link-container-left {
  max-width: 444px;
  position: relative;
  margin-left: auto;

  .body-large {
    margin-left: auto;
    max-width: calc(100% - 30px);
  }

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 50%;
    background-image: url("../_images/left-chevron.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.article-link-container-right {
  margin-right: auto;
  margin-left: initial;

  .body-large {
    margin-right: auto;
    margin-left: initial;
  }

  &::before {
    left: initial;
    right: 16px;
    background-image: url("../_images/glyphs/right-chevron.svg");
  }
}

@media (max-width: $bp-md) {
  .article-link {
    &.article-link-left {
      padding-right: 15px;
      border-bottom: 1px solid $gray-20;

      &::before {
        display: none;
      }
    }
    &.article-link-right {
      padding-left: 15px;
    }
  }
  .article-link-container-left,
  .article-link-container-right {
    max-width: 100%;
  }

  .article-link-container-left::before {
    left: 0;
  }
}
