.blog-ih-cta-wrapper {
  margin-top: 95px;
}

.blog-sticky-side {
  position: sticky;
  top: 140px;
  display: flex;
  justify-content: flex-end;

  .share-button-group {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;

    &.faded {
      opacity: 0;
    }
  }
}

.blog-card {
  .main-tag {
    text-transform: capitalize;
  }

  .tag-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .tag {
      display: inline-block;
      text-transform: capitalize;
    }
  }
}
