.blog-ih-cta-wrapper {
  margin-top: 95px;
}

.blog-sticky-side {
  position: sticky;
  top: 140px;

  .share-button-group {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;

    &.faded {
      opacity: 0;
    }
  }
}

a.category {
  @include hover-focus-active {
    color: $dark-blue;
  }
}
