.blog-ih-cta-wrapper {
  margin-top: 95px;
}

.blog-sticky-side-container {
  position: sticky;
  top: 90px;

  .share-button-group {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;

    &.faded {
      opacity: 0;
    }
  }
}

a.topic {
  @include hover-focus-active {
    color: $dark-blue;
  }
}

#view-blog-index .result-info {
  font-family: $font-family-slab-serif;
}

.blog-body {
  z-index: 3;
  position: relative;
}
