#view-dear-internet {
  $breakpoint: $bp-md;

  background-image: linear-gradient(
    180deg,
    $dear-internet-lilac 0%,
    $dear-internet-pink 100%
  );

  @mixin dear-internet-body-large {
    @extend .body-large;
    @include set-text-size(18px, 27px, 24px, 34px);
  }

  h1 {
    background: $light-red;

    @include set-text-size(36px, 40px, 112px, 112px);
  }

  h1,
  h2 {
    color: $dark-blue;
    font-style: italic;
  }

  main {
    position: relative;
  }

  .wrapper {
    overflow-x: hidden;
  }

  .full-size-absolute-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .plane-pathway-wrapper {
    --approx-cta-height: 1200px;

    background-image: url(../_images/dear-internet/Plane+Path-2.svg);
    background-repeat: no-repeat;
    background-position: center 2rem;
    background-size: auto 100%;
    height: calc(100% - var(--approx-cta-height));
  }

  .cloud {
    --width: 140px;
    --position-scaler: 15px;

    position: absolute;
    width: var(--width);

    @media (min-width: $breakpoint) {
      --width: 200px;
      --position-scaler: 20px;
    }

    &.flip {
      transform: scaleX(-1);
    }

    &.blue path {
      fill: $blue;
    }

    &.light-blue path {
      fill: $light-blue;
    }

    &.white path {
      fill: $white;
    }

    &.light-red path {
      fill: $light-red;
    }
  }

  .clouds-wrapper {
    .cloud {
      &:nth-of-type(1) {
        top: calc(2.5 * var(--position-scaler));
        left: 5%;
        transform: scale(0.7);
      }

      &:nth-of-type(2) {
        top: calc(20 * var(--position-scaler));
        left: 55%;
        transform: scale(2);
      }

      &:nth-of-type(3) {
        top: calc(12 * var(--position-scaler));
        left: -6%;
        transform: scale(1.2);
      }

      &:nth-of-type(4) {
        left: 90%;
      }

      &:nth-of-type(5) {
        top: calc(29 * var(--position-scaler));
        left: 75%;
      }

      &:nth-of-type(6) {
        top: calc(35 * var(--position-scaler));
        left: 3%;
      }
    }
  }

  .love-letter-stamp {
    --base-z-index: 1;

    margin: 2.5rem 0;
    position: relative;

    @media (min-width: $breakpoint) {
      margin: 5rem 0;
    }

    img {
      --width: 80px;

      width: var(--width);
      z-index: calc(var(--base-z-index) + 1);

      @media (min-width: $breakpoint) {
        --width: 128px;
      }
    }

    .cloud {
      z-index: var(--base-z-index);

      &:nth-of-type(1) {
        left: 13%;
        top: calc(5 * var(--position-scaler));
      }

      &:nth-of-type(2) {
        left: 77%;
        top: calc(0.5 * var(--position-scaler));
        transform: scale(1.3);
      }
    }
  }

  .intro-text {
    p {
      @include dear-internet-body-large();

      color: $gray-80;
    }
    margin-bottom: 100px;

    @media (min-width: $breakpoint) {
      margin-bottom: 210px;
    }
  }

  .letters-section-heading {
    padding: 3rem 0 6rem 0;
    margin-bottom: 2rem;
    background-image: url(../_images/dear-internet/Pixel-Heart-Large.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 130px auto;

    @media (min-width: $breakpoint) {
      padding: 3rem 0 10rem 0;
      background-size: 244px auto;
    }
  }

  .cta {
    --padding-y: 125px;
    padding: var(--padding-y) 0;
    background-image: url(../_images/dear-internet/Donate-Area-Graphic.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vw auto;

    @media (min-width: $breakpoint) {
      --padding-y: 250px;
      background-size: contain;
    }

    p {
      @include dear-internet-body-large();
    }

    a.btn.btn-secondary.heart-glyph {
      border-color: $dark-blue;
      color: $dark-blue;

      @include hover-focus-active {
        background-color: $dark-blue;
        color: $white;

        &:before {
          filter: brightness(0) invert(100%);
        }
      }

      &:before {
        background-image: url(../_images/dear-internet/heart-dark-blue.svg);
      }
    }
  }

  .globe-wrapper {
    --img-size: 180px;

    position: relative;
    overflow: hidden;
    height: calc(var(--img-size) / 2);

    @media (min-width: $breakpoint) {
      --img-size: 725px;
      margin-top: -120px;
    }

    img {
      position: absolute;
      width: var(--img-size);

      &:nth-child(1) {
        left: calc(var(--img-size) / 2 * -1);
      }

      &:nth-child(2) {
        right: calc(var(--img-size) / 2 * -1);
      }
    }
  }
}
