#view-dear-internet {
  $breakpoint: $bp-md;

  background-image: linear-gradient(
    180deg,
    $dear-internet-lilac 0%,
    $dear-internet-pink 100%
  );

  @mixin dear-internet-body-large {
    @extend .body-large;
    @include set-text-size(18px, 27px, 24px, 34px);
  }

  h1 {
    background: $light-red;

    @include set-text-size(36px, 40px, 112px, 112px);
  }

  h1,
  h2 {
    color: $dark-blue;
    font-style: italic;
  }

  main {
    position: relative;
  }

  .plane-pathway-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 100%;
    background-image: url(../_images/dear-internet/Plane+Path-2.svg);
    background-repeat: no-repeat;
    background-position: center 2rem;
    background-size: auto 100%;
  }

  .love-letter-stamp {
    margin: 2.5rem 0;

    @media (min-width: $breakpoint) {
      margin: 5rem 0;
    }
  }

  .intro-text {
    p {
      @include dear-internet-body-large();

      color: $gray-80;
    }
    margin-bottom: 100px;

    @media (min-width: $breakpoint) {
      margin-bottom: 210px;
    }
  }

  .letters-section-heading {
    padding: 3rem 0 6rem 0;
    margin-bottom: 2rem;
    background-image: url(../_images/dear-internet/Pixel-Heart-Large.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 130px auto;

    @media (min-width: $breakpoint) {
      padding: 3rem 0 10rem 0;
      background-size: 244px auto;
    }
  }

  .cta {
    $padding-y: 125px;
    padding: $padding-y 0;

    @media (min-width: $breakpoint) {
      padding: $padding-y * 2 0;
    }

    p {
      @include dear-internet-body-large();
    }

    a.btn.btn-secondary.heart-glyph {
      border-color: $dark-blue;
      color: $dark-blue;

      @include hover-focus-active {
        background-color: $dark-blue;
        color: $white;

        &:before {
          filter: brightness(0) invert(100%);
        }
      }

      &:before {
        background-image: url(../_images/dear-internet/heart-dark-blue.svg);
      }
    }
  }
}
