#view-home {
  $section-padding-y: 5rem;

  .banner {
    h1 {
      font-weight: 700;
    }
  }

  .section-quote {
    $icon-height: 41px;
    $icon-width: 49px;
    $icon-margin-bottom: 1.5rem;

    padding-top: $section-padding-y;
    padding-bottom: $section-padding-y;

    picture {
      display: block;

      @include media-breakpoint-only(md) {
        // tablet only
        margin-top: calc(#{$icon-height} + #{$icon-margin-bottom});
      }
    }

    blockquote {
      &::before {
        display: block;
        content: "";
        background: url(../_images/homepage/open-quote.svg);
        height: $icon-height;
        width: $icon-width;
        margin-bottom: $icon-margin-bottom;
      }

      .quote-text {
        @include set-text-size(18px, 27px, 24px, 34px);

        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 300;
      }

      footer {
        cite,
        p {
          @include set-text-size(16px, 24px, 20px, 30px);
        }

        cite {
          font-weight: 800;
          font-style: normal;
        }
      }
    }
  }
}

.highlights-card {
  &:first-of-type {
    margin-bottom: 1.5rem;

    @media screen and (min-width: $bp-md) {
      margin-bottom: 0;
    }
  }
}
