.news-item {
  a {
    color: $black;
  }

  .glyph {
    width: 25px;
  }
}

.news-item-featured {
  background: #195359;

  a,
  p,
  h5 {
    color: $white;
  }
}

.cta {
  min-height: 350px;
}

.cta-network {
  background: url(../_images/home1.jpg) no-repeat;
  background-position-x: 50%;
  background-size: auto 330px;
}

.cta-projects {
  background: url(../_images/home2.jpg) no-repeat;
  background-position-x: 50%;
  background-size: auto 330px;

  .cta-box {
    margin: 180px 30px 0;

    @media screen and (min-width: $bp-md) {
      margin: 30px 0 0 45px;
    }
  }
}

.cta-box {
  background: $white;
  box-shadow: 0 4px 0 0 #f2f2f2;
  margin: 180px 30px 0;

  @media screen and (min-width: $bp-md) {
    margin: 30px 0 0 50%;
  }
}

.home-ihp {
  background: url(../_images/ihp.png) no-repeat;
  background-position-x: 50%;
  background-size: auto 270px;
  padding: 160px 15px 0;

  .wrapper {
    background: $white;
    box-shadow: 0 4px 0 0 #f2f2f2;
  }
}

.stay-connected {
  background: #f2f2f2;

  a {
    width: 50%;
  }
}
