.term-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  .term {
    display: inline-block;
    padding: 0 0.5em;
    margin-left: 0.25em;
    border: 1px solid $black;
    border-radius: 10px;
    color: $black;
    text-transform: capitalize;
  }
}

/**
 * Partner section
 */
.partner-section {
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 10;
  padding-top: 80px;
  padding-bottom: 80px;
}

.partner-section::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.partner-section-text {
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 450px;
}

.partner-section-button {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  display: inline-block;
}

.partner-section-logos {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.partner-section-logo {
  margin-right: 48px;
  margin-top: 75px;
}

@media(max-width: $bp-md) {
  .partner-section-logos {
    display: none;
  }

  .partner-section-logo {
    margin-top: 0;
  }
}
