.bg-white {
  background: $white;
}

.bottom-line {
  border-bottom: 1px solid $light-gray;
}

// Fellowships--Support

.fellow-support {
  &-intro {
    &-help {
      font-weight: 600;
    }
  }

  &-optim {
    max-width: 45%;

    @media (min-width: $bp-md) {
      max-width: 85%;
    }
  }

  &-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &-support {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;

      @media (min-width: $bp-md) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }

    &-fund {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 1rem;

      @media (min-width: $bp-md) {
        margin: .5rem 0;
        padding: 0 .5rem;
      }

      img {
        max-width: 85%;
      }

      &-container {
        margin-bottom: 5rem;
      }
    }
  }
}
