.bg-white {
  background: $white;
}

.bottom-line {
  border-bottom: 1px solid $light-gray;
}

// Fellowships--Support

.fellow-support {
  &-intro {
    &-help {
      font-weight: 600;
    }
  }

  &-optim {
    max-width: 45%;

    @media (min-width: $bp-md) {
      max-width: 85%;
    }
  }

  &-fund-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    @media (min-width: $bp-md) {
      margin: .5rem 0;
      padding: 0 .5rem;
    }

      img {
        max-width: 85%;
      }

    &-container {
      margin-right: -30px;
      margin-left: -30px;
    }
  }
}
