.feature-square {
  a {
    display: block;
    position: relative;
  }

  img {
    width: 100%;
  }

  h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $white;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
}
