// PublicationPage-specific styling.
// Also see article-page.scss
// "ChapterPage" is a child PublicationPage.
// PublicationPage is the most parent PublicationPage

.publication-hero-file-size {
  color: $gray-40;
  @include set-text-size(12px, 16px);
  top: 10px;
}

.publication-hero-container {
  padding-top: 137px;
  padding-bottom: 184px;
  background-size: cover;
  background-image: linear-gradient(
    transparentize($black, 0.4),
    transparentize($black, 0.25)
  );

  &.small {
    padding-top: 105px;
    padding-bottom: 140px;
  }

  .publication-breadcrumb.body-small a {
    @include set-text-size(16px);

    color: $lightest-blue;
  }

  .publication-breadcrumb.body-small span {
    @include set-text-size(16px);
  }

  .publication-secondary-subtitle.body-small {
    color: $gray-20;
  }

  .publication-hero-file-size {
    color: $gray-20;
  }
}

.download-button {
  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url(../_images/glyphs/download-file.svg);
    transition: $button-icon-transition-speed;
  }

  @include hover-focus-active {
    &::before {
      filter: brightness(0);
    }
  }
}

@media (max-width: $bp-md) {
  .publication-hero-container {
    padding-top: 100px;
    padding-bottom: 125px;
  }
}

.publication-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.publication-chapter-number {
  width: 160px;
  height: 160px;
  background-color: $light-blue;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  @include set-text-size(72px, 88px);
  font-family: $font-family-slab-serif;

  &--small {
    width: 64px;
    height: 64px;
    color: $white;
    @include set-text-size(30px, 44px);
  }
}

.publication-chapter-title {
  margin-top: 64px;

  &--small {
    color: $black;
    @include set-text-size(24px, 30px);
  }
}

.publication-notes-hr {
  height: 0px;
  border: 2px solid $black;
  margin-top: 97px;
}

.publication-notes .rich-text {
  @include set-text-size(16px, 24px);
  margin-bottom: 96px;
  margin-top: 49px;

  *:not(strong):not(b) {
    // `*` is used to overwrite CSS specificity because !important doesn't work here
    font-weight: 300;
  }
}

@media (max-width: $bp-sm) {
  .publication-chapter-number {
    height: 76px;
    width: 76px;
    @include set-text-size(56px, 64px);

    &--small {
      @include set-text-size(30px, 44px);
    }
  }

  .publication-chapter-title {
    margin-top: 29px;
  }

  .publication-chapter-article-link {
    line-height: 24px;
  }
}
