.extension-hero {
  background: url("../_images/youtube-regrets/regrets-reporter/landing-page/regrets-reporter-landing-hero.jpg")
    center center / cover no-repeat;

  .download-link-button {
    max-width: max-content;
    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.75rem;
      margin-bottom: -0.3rem;
      filter: brightness(1);
    }
    &--firefox::before {
      width: 23px;
      height: 25px;
      background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/firefox-logo.svg);
    }
    &--chrome::before {
      width: 24px;
      height: 24px;
      background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/chrome.svg);
    }
    &--email::before {
      width: 25px;
      height: 24px;
      background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/mail.svg);
    }
  }

  .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .share-button-container {
    $margin: 16px;
    display: flex;

    .btn {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: none;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: $margin;

      &-share {
        display: none;
      }

      &::before {
        filter: brightness(1);
        content: " ";
        display: block;
        width: 36px;
        height: 36px;
        background: no-repeat 0 0 / contain;
        transition: $button-icon-transition-speed;
      }

      @include hover-focus-active {
        background-color: $white;
        &::before {
          filter: brightness(0);
        }
      }

      &.share-icon {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-icon.svg);
        }
      }

      &.share-facebook {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-facebook.svg);
        }
      }

      &.share-twitter {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-twitter.svg);
        }
      }

      &.share-email {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-email.svg);
        }
      }

      &.share-link {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-link.svg);
        }

        &.copied {
          &::before {
            background-image: url(../_images/glyphs/social-share/link-share-copied.svg);
          }
        }
      }
    }
  }
}
