.extension-hero {
  background: url("../_images/youtube-regrets/regrets-reporter/landing-page/regrets-reporter-landing-hero.jpg")
    center center / cover no-repeat;

  .download-link-button {
    max-width: max-content;
    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.75rem;
      margin-bottom: -0.3rem;
      filter: brightness(1);
    }
    &--firefox::before {
      width: 23px;
      height: 25px;
      background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/firefox-logo.svg);
    }
    &--chrome::before {
      width: 24px;
      height: 24px;
      background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/chrome.svg);
    }
    &--email::before {
      width: 25px;
      height: 24px;
      background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/mail.svg);
    }
  }

  .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .share-button-container {
    .btn {
      // Hiding share buttons until users click "share this"
      // share-buttons.js then displays the 4 share buttons.
      &-share {
        display: none;
      }

      &::before {
        transition: $button-icon-transition-speed;
      }

      &.share-icon {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-icon.svg);
        }
      }

      &.share-facebook {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-facebook.svg);
        }
      }

      &.share-twitter {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-twitter.svg);
        }
      }

      &.share-email {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-email.svg);
        }
      }

      &.share-link {
        &::before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-link.svg);
        }

        &.copied {
          &::before {
            background-image: url(../_images/youtube-regrets/regrets-reporter/landing-page/share-link-copied.svg);
          }
        }
      }
    }
  }
}
