.color-display {
  border: 1px solid $gray-20;
}

.color-block {
  border-bottom: 1px solid $gray-20;

  &.white {
    background: $white;
  }

  &.gray-05 {
    background: $gray-05;
  }

  &.gray-20 {
    background: $gray-20;
  }

  &.gray-40 {
    background: $gray-40;
  }

  &.gray-60 {
    background: $gray-60;
  }

  &.gray-80 {
    background: $gray-80;
  }

  &.black {
    background: $black;
  }

  &.red {
    background: $red;
  }

  &.dark-red {
    background: $dark-red;
  }

  &.light-blue {
    background: $light-blue;
  }

  &.blue {
    background: $blue;
  }

  &.dark-blue {
    background: $dark-blue;
  }

  &.yellow {
    background: $yellow;
  }

  &.dark-yellow {
    background: $dark-yellow;
  }

  &.old-blue {
    background: $old-blue;
  }

  &.old-dark-blue {
    background: $old-dark-blue;
  }

  &.green {
    background: $green;
  }
}

.color-code {
  color: $gray-60;
}
