.color-display {
  border: 1px solid $gray-20;
}

.color-block {
  border-bottom: 1px solid $gray-20;

  @each $name, $value in map-merge($colors, $pni-colors) {
    &.#{$name} {
      background: $value;
    }
  }
}

.color-code {
  color: $gray-60;
}

.form-control-lg {
  height: auto;
}
