.youtube-regrets-2021 {
  $font-changa: "Changa", sans-serif;

  h2, h3 {
    font-family: $font-changa;
    letter-spacing: -2px;
    font-weight: 600;
  }

  .h2-heading {
    @include set-text-size(26px, 35px, 52px, 48px);
  }

  .yt-regrets-accordion {

    position: relative;

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      will-change: transform;
    }

    &__mask {
      border-right: 2px solid $black;
      border-left: 2px solid $black;
      border-bottom: 2px solid $black;
      border-radius: 0 0 30px 30px;
      background: $white;
      width: 100%;
      height: 100%;
      position: relative;

      @media (min-width: $bp-md) {
        padding: 2.5rem;
      }
    }

    &__button {
      background: $white;
      border: 0;
      padding: 0;
      white-space: unset;
      text-align: left;

      .h2-heading {
        @include set-text-size(30px, 32px, 38px, 39px);
        font-weight: 600;
      }
    }

    &__close-button {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }

    &__number {
      @include set-text-size(36px, 49px, 36px, 49px);
      font-weight: 300;
    }
  }
}
