.youtube-regrets-2021 {
  $font-changa: "Changa", sans-serif;
  $font-nunito: "Nunito Sans", sans-serif;

  .fw-bold {
    font-weight: 700;
  }

  .fst-italic {
    font-style: italic;
  }

  p {
    font-weight: 300;

    a {
      font-weight: 700;
      color: $blue;
    }
  }

  .hero-heading {
    @include set-text-size(38px, 38px, 62px, 62px);
    font-family: $font-changa;
    font-weight: 700;
  }

  h1,
  .heading-1 {
    @include set-text-size(42px, 48px, 52px, 48px);
    font-family: $font-changa;
    font-weight: 700;
  }

  h2,
  .heading-2 {
    @include set-text-size(30px, 26px, 38px, 34px);
    font-family: $font-changa;
    font-weight: 600;
  }

  h3,
  .heading-3 {
    @include set-text-size(36px, 36px);
    font-weight: 300;
  }

  h4,
  .heading-4 {
    @include set-text-size(22px, 22px);
    font-family: $font-nunito;
    text-transform: uppercase;
    font-weight: 700;
  }

  h5,
  .heading-5 {
    @include set-text-size(20px, 20px);
    font-family: $font-changa;
  }

  .body {
    @include set-text-size(18px, 27px);
  }

  .body-large {
    @include set-text-size(26px, 28px, 26px, 30px);
  }

  .btn-download {
    $icon-width: 50px;

    position: relative;
    background: $youtube-regrets-dark-red;
    color: $white;
    padding-left: $icon-width;
    padding-right: $icon-width * 0.3;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: $icon-width;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &:before {
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(0) invert(100%);
      background-image: url(../_images/youtube-regrets/regrets-reporter/icon-download.svg);
    }

    &.btn-firefox-download {
      &:before {
        background-image: url(../_images/youtube-regrets/regrets-reporter/firefox-logo-red.svg);
      }
    }

    &.btn-chrome-download {
      &:before {
        background-image: url(../_images/youtube-regrets/regrets-reporter/chrome-logo-red.svg);
      }
    }

    @include hover-focus-active {
      // todo - state styles
      color: $white;
    }
  }

  .transition-bg {
    background: linear-gradient(180deg, $youtube-regrets-dark-gray 9.33%, $black 43.89%, $black 100%), linear-gradient(0deg, $black, $black);
    border-radius: 0 0 30px 30px;
    overflow: hidden;

    @media (min-width: $bp-md) {
      background: linear-gradient(180deg, $youtube-regrets-purple 26.46%, $black 57.83%, $black 100%), linear-gradient(0deg, $black, $black);
    }
  }

  .hero {
    &__image {
      &--desktop {
        position: relative;
        left: -10%;
        display: none;

        @media (min-width: $bp-md) {
          display: block;
        }
      }

      &--mobile {
        @media (min-width: $bp-md) {
          display: none;
        }
      }
    }

    &__guts {
      margin-bottom: 6rem;

      @media (min-width: $bp-md) {
        margin-bottom: 0;
        position: absolute;
        right: 0;
        width: 50%;
        top: 40%;
        transform: translateY(-50%)
      }
    }
  }

  .what-is {
    margin-bottom: 6rem;

    @media (min-width: $bp-md) {
      margin-bottom: 8rem;
    }

    &__image {
      &--desktop {
        display: none;

        @media (min-width: $bp-md) {
          display: block;
          position: absolute;
          right: -15%;
        }
      }

      &--mobile {
        @media (min-width: $bp-md) {
          display: none;
        }
      }
    }

    &__guts {
      @media (min-width: $bp-md) {
        margin-top: 7rem;
      }
    }

    &__text {
      @media (min-width: $bp-md) {
        padding-right: 2rem;
      }
    }
  }

  .quote {
    margin-bottom: 6rem;

    @media (min-width: $bp-md) {
      margin-bottom: 8rem;
    }

    &__text {
      @include set-text-size(30px, 28px, 38px, 38.5px);
      font-family: $font-changa;
      font-weight: 700;
      font-style: normal;
    }

    &__highlight {
      color: $youtube-regrets-dark-red;
    }

    &__cite {
      @include set-text-size(18px, 29px);
      font-family: $font-nunito;
      font-style: normal;
    }
  }

  .categories {
    &__chart-wrap {
      width: 600px;
      overflow-x: scroll;

      @media (min-width: $bp-md) {
        padding: 0;
        width: 100%;
        overflow-x: auto;
      }
    }

    &__chart {
      margin: 0 auto;
    }

    &__reveal {
      height: 0;
      overflow: hidden;
    }

    &__toggle-button {
      color: $white;
    }
  }

  .stat {
    text-align: center;

    &__number {
      @include set-text-size(52px, 48px, 60px, 48px);
      font-family: $font-changa;
      font-weight: 700;
    }

    &__label {
      text-transform: uppercase;
    }
  }

  .our-research-teaser {
    @include set-text-size(14px, 14px);
  }

  .yt-regrets-accordion {
    position: relative;

    &__content {
      overflow: hidden;
      height: 0;
    }

    &__heading {
      @include set-text-size(52px, 52px);
    }

    &__item {
      transition: all 0.3s;
      position: relative;
    }

    &__mask {
      border-right: 2px solid $black;
      border-left: 2px solid $black;
      border-bottom: 2px solid $black;
      border-radius: 0 0 30px 30px;
      background: $white;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 2rem 1.125rem;
      transition: all 0.3s;

      &::before,
      &::after {
        content: '';
        width: 2px;
        background-color: $black;
        position: absolute;
        left: -2px;
        top: -40px;
        height: 40px;
      }

      &::after {
        left: auto;
        right: -2px;
      }

      @media (min-width: $bp-md) {
        padding: 3.5rem 2.5rem 2.5rem;
      }
    }

    &__button {
      background: $white;
      border: 0;
      padding: 0;
      white-space: unset;
      text-align: left;

      .h2-heading {
        @include set-text-size(30px, 32px, 38px, 39px);
        font-weight: 600;
      }
    }

    &__number {
      @include set-text-size(36px, 49px, 36px, 49px);
      font-weight: 300;
    }
  }

  .standout-stat {
    &__heading {
      @include set-text-size(20px, 48px);
      font-family: $font-changa;
    }

    &__number {
      @include set-text-size(50px, 48px, 60px, 48px);
      font-family: $font-changa;
      color: $white;
    }

    &__label {
      color: $white;
    }

    &__wrap {
      background-color: $black;
      position: relative;
      margin-bottom: 10px;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid $black;
        left: 10px;
        top: 10px;
        position: absolute;
      }
    }
  }
}
