@import "../../../node_modules/locomotive-scroll/dist/locomotive-scroll";

.youtube-regrets-2022 {
  .timeline {
    position: relative;
    width: 100%;
    height: auto;

    &__container {
      position: relative;
    }

    &__person-date {
      position: absolute;
      top: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      > h2 {
        font-weight: 700;
      }

      > svg {
        // Subtract the shadow to make the person appear centered
        margin-right: -100px;
      }
    }

    &__scenes {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -415px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 3px;
        height: calc(100% + 415px);
        background: black;
        background-image: url("../_images/youtube-regrets/timeline-border-line.svg");
        background-repeat: repeat;
      }
    }

    &__scene {
      position: relative;
      //height: 100vh;
      min-height: 1000px;
      width: 100%;
      padding: 8vh 0;

      &:last-of-type {
        padding-bottom: 0;
      }

      &--double-top-padding {
        padding-top: 32vh;
      }
    }

    &__scene-text {
      font-size: 20px;
      font-weight: bold;
    }

    &__cross {
      position: absolute;
      top: -30px;
      right: 60px;
    }
  }

  .video-thumb {
    max-width: 185px;

    @include media-breakpoint-up(md) {
      max-width: 250px;
    }

    &--small {
      max-width: 150px;

      @include media-breakpoint-up(md) {
        max-width: 200px;
      }
    }

    &--large {
      max-width: 200px;

      @include media-breakpoint-up(md) {
          max-width: 350px;
      }
    }
  }
}

//Fix for images dissapearing https://github.com/locomotivemtl/locomotive-scroll/issues/435
[data-scroll-container],
[data-scroll-section] {
  transform-style: preserve-3d;
  will-change: transform;
}
