/*
* SCSS rules here are specifically for YouTube Regrets Page only
* and should not be re-used elsewhere.
*/

#view-youtube-regrets,
#view-youtube-regrets-reporter {
  // .wrapper {
  //   background: linear-gradient(
  //     $youtube-regrets-light-red 100vh,
  //     $white 500vh,
  //     $white
  //   );
  // }

  #nav-newsletter-form-wrapper.faded-in {
    height: 100vh;
  }

  .font-changa {
    font-family: "Changa", sans-serif;
  }
}

#view-youtube-regrets {
  .wrapper {
    background: linear-gradient(
      $youtube-regrets-light-red 100vh,
      $white 500vh,
      $white
    );
  }

  main {
    h2,
    p {
      color: $youtube-regrets-red;
    }

    h2 {
      font-family: "Changa", sans-serif;

      @include set-text-size(30px, 36px, 38px, 42px);
    }

    p {
      font-family: "Zilla Slab";
      font-weight: 500;

      @include set-text-size(18px, 24px, 22px, 32px);
    }

    .btn.btn-secondary {
      border-color: $youtube-regrets-red;
      color: $youtube-regrets-red;

      @include hover-focus-active {
        background-color: $youtube-regrets-red;
        color: $white;
      }
    }

    .btn.btn-share {
      @include hover-focus-active {
        &::before {
          filter: brightness(0) invert(100%);
        }
      }

      &::before {
        filter: brightness(1);
      }

      &.facebook-share {
        &::before {
          background-image: url(../_images/youtube-regrets/facebook-share.svg);
        }
      }

      &.twitter-share {
        &::before {
          background-image: url(../_images/youtube-regrets/twitter-share.svg);
        }
      }

      &.email-share {
        &::before {
          background-image: url(../_images/youtube-regrets/email-share.svg);
        }
      }

      &.link-share {
        &::before {
          background-image: url(../_images/youtube-regrets/link-share.svg);
        }

        &.copied {
          &::before {
            background-image: url(../_images/youtube-regrets/link-share-copied.svg);
          }
        }
      }
    }
  }

  .faq {
    a {
      color: $youtube-regrets-red;
      text-decoration: underline;

      @include hover-focus-active {
        color: $youtube-regrets-lighter-red;
      }
    }
  }

  .sticky-side {
    position: sticky;
    top: 120px;
  }

  .youtube-regret {
    margin-bottom: 80px;
  }
}

#view-youtube-regrets-reporter {
  $font-changa: "Changa", sans-serif;

  main {
    a {
      color: $youtube-regrets-red;
    }
  }

  .wrapper {
    background-image: url(../_images/youtube-regrets/regrets-reporter/noise.svg),
      linear-gradient($black 320vh, $white 360vh, $white);
    background-repeat: repeat-y, repeat;
    background-size: 100vw 500px, cover;
  }

  .youtube-regrets-intro-viewport {
    .scene-container .scene .ring {
      filter: drop-shadow(0 0 8px $white);
      box-shadow: none;
      border: 4px solid $gray-40;
    }

    .intro-text-container .intro-text p {
      color: $white;
    }
  }

  .section-with-regrets-reporter {
    .h2-heading {
      @include heading($font-changa, 400, -2px, $black, $black);
      @include set-text-size(26px, 35px, 38px, 42px);
    }
  }

  .section-newsletter {
    .join-us {
      .h5-heading {
        @include heading(
          $font-changa,
          400,
          0,
          $youtube-regrets-red,
          $youtube-regrets-red
        );
        @include set-text-size(26px, 30px, 38px, 42px);
      }

      .form-control {
        border: 0;
        border-bottom: 2px solid $youtube-regrets-red;
        background: none;
      }
    }
  }

  .section-articles {
    .h6-heading {
      @include heading($font-family-sans-serif, 700, 1px, $black, $black);
      @include set-text-size(14px, 28px);
    }

    a {
      @include set-text-size(18px, 26px, 24px, 31px);
    }
  }

  .section-for-years {
    .body-large {
      @include set-text-size(38px, 42px, 30px, 34px);
      letter-spacing: -2px;
    }
  }

  .section-timeline {
    background: $black;
  }

  .btn-download {
    $icon-width: 50px;

    position: relative;
    background: $youtube-regrets-red;
    color: $white;
    padding-left: $icon-width * 1.3;
    padding-right: $icon-width * 0.3;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 3px;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: $icon-width;
      top: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      border-right: 1px solid $youtube-regrets-lighter-red;
    }
  }

  .dark-theme {
    .btn-download {
      background: $white;
      color: $youtube-regrets-red;

      &:before {
        border-color: $gray-20;
      }

      &.btn-firefox-download {
        &:before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/firefox-logo-red.svg);
        }
      }

      &.btn-chrome-download {
        &:before {
          background-image: url(../_images/youtube-regrets/regrets-reporter/chrome-logo-red.svg);
        }
      }
    }
  }
}
