.youtube-regrets-2021 {
  $font-changa: "Changa", sans-serif;
  $font-nunito: "Nunito Sans", sans-serif;
  $font-zilla: "Zilla Slab", sans-serif;

  .fw-bold {
    font-weight: 700;
  }

  .fst-italic {
    font-style: italic;
  }

  & main p {
    font-weight: 300;

    a {
      font-weight: 700;
      color: $blue;
    }
  }

  .dark-theme p a {
    /* stylelint-disable */
    color: #b7b9fa;
    /* stylelint-enable */
  }

  .hero-heading {
    @include set-text-size(38px, 38px, 62px, 62px);
    font-family: $font-changa;
    font-weight: 700;
  }

  h1,
  .heading-1 {
    @include set-text-size(42px, 48px, 52px, 48px);
    font-family: $font-changa;
    font-weight: 700;
  }

  h2,
  .heading-2 {
    @include set-text-size(30px, 34px, 38px, 34px);
    font-family: $font-changa;
    font-weight: 600;
  }

  h3,
  .heading-3 {
    @include set-text-size(36px, 36px);
    font-weight: 300;
  }

  h4,
  .heading-4 {
    @include set-text-size(22px, 22px);
    font-family: $font-nunito;
    text-transform: uppercase;
    font-weight: 700;
  }

  h5,
  .heading-5 {
    @include set-text-size(20px, 20px);
    font-family: $font-changa;
  }

  .body {
    @include set-text-size(18px, 27px);
  }

  .body-large {
    @include set-text-size(26px, 28px, 26px, 30px);
  }

  .btn-download {
    $icon-width: 50px;

    position: relative;
    background: $youtube-regrets-dark-red;
    color: $white;
    padding-left: $icon-width;
    padding-right: $icon-width * 0.3;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: $icon-width;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &:before {
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(0) invert(100%);
      background-image: url(../_images/youtube-regrets/regrets-reporter/icon-download.svg);
    }

    &.btn-firefox-download {
      background: $white;
      color: $youtube-regrets-dark-red;

      &:before {
        background-image: url(../_images/youtube-regrets/regrets-reporter/firefox-logo-red.svg);
        filter: none;
      }

      @include hover-focus-active {
        color: $youtube-regrets-dark-red;
      }
    }

    &.btn-chrome-download {
      background: $white;
      color: $youtube-regrets-dark-red;

      &:before {
        background-image: url(../_images/youtube-regrets/regrets-reporter/chrome-logo-red.svg);
        filter: none;
      }

      @include hover-focus-active {
        color: $youtube-regrets-dark-red;
      }
    }

    @include hover-focus-active {
      // todo - state styles (also update chrome download and firefox download above)
      color: $white;
    }
  }

  .transition-bg {
    background: linear-gradient(
        180deg,
        $youtube-regrets-purple 26.46%,
        $black 57.83%,
        $black 100%
    ),
    linear-gradient(0deg, $black, $black);
    border-radius: 0 0 30px 30px;
    overflow: hidden;
  }

  .hero {
    &__image {
      &--desktop {
        position: relative;
        left: -10%;
        display: none;

        @media (min-width: $bp-md) {
          display: block;
        }
      }

      &--mobile {
        @media (min-width: $bp-md) {
          display: none;
        }
      }
    }

    &__guts {
      margin-bottom: 6rem;

      @media (min-width: $bp-md) {
        margin-bottom: 0;
        position: absolute;
        right: 0;
        width: 50%;
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }

  .what-is {
    margin-bottom: 6rem;

    @media (min-width: $bp-md) {
      margin-bottom: 8rem;
    }

    &__image {
      &--desktop {
        display: none;

        @media (min-width: $bp-md) {
          display: block;
          position: absolute;
          right: -15%;
          max-width: 495px;
        }
      }

      &--mobile {
        max-width: 375px;

        @media (min-width: $bp-md) {
          display: none;
        }
      }
    }

    &__guts {
      @media (min-width: $bp-md) {
        margin-top: 7rem;
      }
    }

    &__text {
      @media (min-width: $bp-md) {
        padding-right: 2rem;
      }
    }
  }

  .quote {
    margin-bottom: 6rem;

    @media (min-width: $bp-md) {
      margin-bottom: 8rem;
    }

    &__text {
      @include set-text-size(30px, 28px, 38px, 38.5px);
      font-family: $font-changa;
      font-weight: 700;
      font-style: normal;
    }

    &__highlight {
      color: $youtube-regrets-dark-red;
    }

    &__cite {
      @include set-text-size(18px, 29px);
      font-family: $font-nunito;
      font-style: normal;
    }
  }

  .categories {
    @media (max-width: 480px) {
      canvas {
        /* stylelint-disable */
        // Very important we overwrite what Chart.js is producing in the [style] attribute on mobile
        // specifically for, and exactly at, 480px
        height: 430px !important;
        /* stylelint-enable */
      }
    }

    &__chart {
      margin: 0 auto;
    }

    &__reveal {
      height: 0;
      overflow: hidden;
    }

    &__toggle-button {
      color: $white;
    }
  }

  .stat {
    text-align: center;

    &__number {
      @include set-text-size(52px, 48px, 60px, 48px);
      font-family: $font-changa;
      font-weight: 700;
    }

    &__label {
      text-transform: uppercase;
    }
  }

  .our-research-teaser {
    @include set-text-size(14px, 14px);
  }

  .our-research {
    border-right: 2px solid $black;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    border-radius: 0 0 30px 30px;
    padding-top: 4.875rem;
    margin-top: -30px;
  }

  .regrets-chart-meta {
    display: flex;
    justify-content: space-between;

    &__legend-items {
      display: flex;
    }

    &__legend-item {
      @include set-text-size(18px, 18px);
      font-family: $font-nunito;
      position: relative;
      padding-left: 30px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
      }

      &--light {
        &::before {
          /* stylelint-disable */
          background-color: #fbd5d7;
          /* stylelint-enable */
        }
      }

      &--dark {
        margin-right: 40px;

        &::before {
          /* stylelint-disable */
          background-color: #fc4147;
          /* stylelint-enable */
        }
      }
    }
  }

  .regrets-chart-responsive {
    display: block;
    position: relative;
    margin: auto;
    height: 730px;
    width: 100%;
    max-width: 800px;
  }

  .yt-regrets-accordion {
    position: relative;

    &__content {
      overflow: hidden;
      height: 0;
    }

    &__item {
      transition: all 0.3s;
      position: relative;

      &:last-child {
        background-color: $black;
      }
    }

    &__mask {
      border-right: 2px solid $black;
      border-left: 2px solid $black;
      border-bottom: 2px solid $black;
      border-radius: 0 0 30px 30px;
      background: $white;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 2rem 1.125rem;
      transition: all 0.3s;

      &::before,
      &::after {
        content: "";
        width: 2px;
        background-color: $black;
        position: absolute;
        left: -2px;
        top: -40px;
        height: 40px;
      }

      &::after {
        left: auto;
        right: -2px;
      }

      @media (min-width: $bp-md) {
        padding: 3.5rem 2.5rem 2.5rem;
      }
    }

    &__button {
      background: $white;
      border: 0;
      padding: 0;
      white-space: unset;
      text-align: left;

      .h2-heading {
        @include set-text-size(30px, 32px, 38px, 39px);
        font-weight: 600;
      }
    }

    &__number {
      @include set-text-size(36px, 49px, 36px, 49px);
      font-weight: 300;
    }
  }

  .standout-stat {
    &__heading {
      @include set-text-size(20px, 48px);
      font-family: $font-changa;
    }

    &__number {
      @include set-text-size(50px, 48px, 60px, 48px);
      font-family: $font-changa;
      color: $white;

      &--smaller {
        @include set-text-size(40px, 48px, 60px, 48px);
      }
    }

    &__label {
      color: $white;
    }

    &__wrap {
      background-color: $black;
      position: relative;
      margin-bottom: 10px;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid $black;
        left: 10px;
        top: 10px;
        position: absolute;
      }
    }
  }

  .downloads-section {
    background-color: $black;
    padding: 150px 0 100px;

    @media (min-width: $bp-md) {
      padding: 230px 0 200px;
    }
  }

  .recommendations {
    background-color: $black;
    padding-top: 85px;

    &__title {
      @include set-text-size(30px, 34px, 52px, 60px);
    }

    &__recommendation {
      @include set-text-size(24px, 30px, 28px, 30px);
      font-family: $font-family-slab-serif;
      color: $white;
      margin: 34px 0;

      @media (min-width: $bp-md) {
        margin: 72px 0;
      }
    }

    &__accent {
      font-weight: 600;
    }

    &__divider {
      width: 118px;
    }
  }

  @import "./youtube-regrets-2021-utils";
  @import "./youtube-regrets-2021-carousel";
  @import "./youtube-regrets-2021-carousel-hero";
}
