#view-youtube-regrets-reporter {
  $font-changa: "Changa", sans-serif;

  main {
    a {
      color: $youtube-regrets-red;
    }

    .tw-h2-heading {
      font-size: 26px;
      line-height: calc(35 / 26);

      @media screen and (min-width: $bp-md) {
        font-size: 38px;
        line-height: calc(42 / 38);
      }

      font-family: $font-changa;
      font-weight: 400;
      letter-spacing: -2px;
    }
  }

  .wrapper {
    background-image: linear-gradient($black 280vh, $white 360vh, $white);
  }

  .youtube-regrets-intro-viewport {
    .scene-container .scene .ring {
      box-shadow: none;
      border: 4px solid $gray-40;
    }

    .intro-stationary-wrapper {
      .tw-body-large {
        font-size: 20px;
        line-height: calc(26 / 20);

        @media screen and (min-width: $bp-md) {
          font-size: 32px;
          line-height: calc(40 / 32);
        }
      }
    }

    .intro-text-container .intro-text {
      @include media-breakpoint-down("sm") {
        height: 50%;
      }

      p {
        color: $white;
      }
    }

    .scroll-hint {
      $color: $white;

      svg {
        path {
          stroke: $color;
        }
      }

      figcaption {
        color: $color;
      }
    }
  }

  .section-how-it-works {
    .steps {
      p {
        font-size: 18px;
        line-height: calc(21 / 18);

        @media screen and (min-width: $bp-md) {
          font-size: 26px;
          line-height: calc(30 / 26);
        }
        font-family: "Zilla Slab";

        .step-number {
          font-family: $font-family-sans-serif;
          font-weight: 700;
          letter-spacing: 0;
          color: $white;
          margin-bottom: 1rem;

          @at-root .tw-dark & {
            color: $white;

            a {
              color: inherit;
              font-weight: inherit;

              @include hover-focus-active {
                color: $light-blue;
                text-decoration: underline;
              }
            }
          }

          a {
            color: inherit;
            font-weight: inherit;

            @include hover-focus-active {
              color: inherit;
              text-decoration: underline;
            }
          }
          font-size: 32px;
          line-height: calc(45 / 32);

          border-radius: 50%;
          background: $youtube-regrets-red;
          height: 45px;
          width: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.tw-h6-heading {
          font-size: 14px;
          line-height: calc(16 / 14);

          font-family: $font-family-sans-serif;
          text-transform: initial;
        }
      }
    }
  }

  .section-with-regrets-reporter {
    @media screen and (min-width: $bp-lg) {
      background-image: url(../_images/youtube-regrets/regrets-reporter/icon-eye-purple.svg),
        url(../_images/youtube-regrets/regrets-reporter/icon-play-purple.svg);
      background-position: 102% top, 4% 60%;
      background-repeat: no-repeat;
    }

    p {
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }

  .section-newsletter {
    @media screen and (min-width: $bp-lg) {
      background-image: url(../_images/youtube-regrets/regrets-reporter/icon-ff-purple.svg),
        url(../_images/youtube-regrets/regrets-reporter/icon-sound-purple.svg);
      background-position: 90% 19%, 1% 70%;
      background-repeat: no-repeat;
    }

    .join-us {
      padding: 2.2rem 0;

      @media screen and (min-width: $bp-lg) {
        padding: 5.5rem 0;
      }

      .tw-h5-heading {
        font-family: $font-changa;
        font-weight: 400;
        letter-spacing: 0;
        color: $youtube-regrets-red;
        margin-bottom: 1rem;

        @at-root .tw-dark & {
          color: $youtube-regrets-red;

          a {
            color: inherit;
            font-weight: inherit;

            @include hover-focus-active {
              color: $light-blue;
              text-decoration: underline;
            }
          }
        }

        a {
          color: inherit;
          font-weight: inherit;

          @include hover-focus-active {
            color: inherit;
            text-decoration: underline;
          }
        }
        font-size: 26px;
        line-height: calc(30 / 26);

        @media screen and (min-width: $bp-md) {
          font-size: 38px;
          line-height: calc(42 / 38);
        }
      }

      .form-control {
        border: 0;
        border-bottom: 2px solid $youtube-regrets-red;
        background: none;
      }

      .tw-btn-primary {
        background: transparent;
        color: $youtube-regrets-red;
        border: 2px solid $youtube-regrets-red;
        // have to use !important to override the Bootstrap's
        // .w-100 { width: 100% !important; } rule to accommodate this one-off design
        width: auto !important;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .section-articles {
    .tw-h6-heading {
      font-family: $font-family-sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      color: $black;
      margin-bottom: 1rem;

      @at-root .tw-dark & {
        color: $black;

        a {
          color: inherit;
          font-weight: inherit;

          @include hover-focus-active {
            color: $light-blue;
            text-decoration: underline;
          }
        }
      }

      a {
        color: inherit;
        font-weight: inherit;

        @include hover-focus-active {
          color: inherit;
          text-decoration: underline;
        }
      }
      font-size: 14px;
      line-height: 2;
    }

    a {
      font-size: 18px;
      line-height: calc(26 / 18);

      @media screen and (min-width: $bp-md) {
        font-size: 24px;
        line-height: calc(31 / 24);
      }
    }
  }

  .section-for-years {
    .tw-body-large {
      font-size: 26px;
      line-height: calc(30 / 26);

      @media screen and (min-width: $bp-md) {
        font-size: 38px;
        line-height: calc(42 / 38);
      }
      letter-spacing: -2px;
    }

    p {
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }

  .section-timeline {
    background: $black;

    .timeline-wrapper {
      $button-right-offset: 20px;
      $button-width: 40px;

      overflow: hidden;
      scroll-behavior: smooth;
      position: relative;

      h4 {
        font-size: 18px;
        line-height: calc(32 / 18);

        font-family: $font-changa;
        font-weight: 700;
        margin-bottom: 0;
      }

      .timeline {
        $totoal-num-items: 10;
        $padding-left: 30px;
        $padding-right: $padding-left + $button-right-offset + $button-width;

        padding: 0 $padding-right 0 $padding-left;
        border-top: 1px solid $gray-05;
        counter-reset: segment;
        display: flex;
        transition: transform 0.5s ease-in-out;

        // Mixin for setting timeline width on RegretsReporter Page
        @mixin set-timeline-width($items-per-viewport) {
          $item-width: calc(
            (100% - #{$padding-left} - #{$padding-left}) /
              (#{$items-per-viewport} + 0.5)
          );

          width: calc(
            #{$totoal-num-items} * #{$item-width} + #{$padding-left} + #{$padding-right}
          );

          li {
            width: $item-width;
          }
        }

        @include set-timeline-width(1);

        @media screen and (min-width: $bp-md) {
          @include set-timeline-width(3);
        }

        @media screen and (min-width: $bp-lg) {
          @include set-timeline-width(4);
        }

        li {
          $pointer-height: 1.5rem;
          $pointer-radius: 4.5px;
          $padding-top: 0.5rem;

          display: inline-block;
          padding-top: calc(#{$pointer-height} + #{$padding-top});
          padding-right: 2rem;
          position: relative;
          opacity: 1;
          transition: opacity 0.1s ease-in;

          &::before {
            content: "";
            position: absolute;
            top: -$pointer-radius;
            left: $pointer-radius;
            width: $pointer-radius * 2;
            height: $pointer-radius * 2;
            border-radius: 50%;
            background: $blue;
          }

          &::after {
            $border-thickness: 1px;

            content: "";
            position: absolute;
            top: 0;
            left: calc(#{$pointer-radius * 2} - #{$border-thickness});
            height: $pointer-height;
            border: $border-thickness solid $blue;
          }

          &.faded {
            opacity: 0.3;
          }

          p {
            font-size: 16px;
            line-height: calc(21 / 16);
          }
        }
      }

      .control-next {
        position: absolute;
        top: 40%;
        right: $button-right-offset;

        .tw-btn {
          cursor: pointer;
          padding: 0;

          &:after {
            content: "";
            display: inline-block;
            border-style: solid;
            border-width: $button-width/2 0 $button-width/2 $button-width;
            border-color: transparent transparent transparent $blue;
          }
        }
      }
    }
  }

  .tw-btn-primary {
    border-radius: 3px;
  }

  .btn-findings {
    color: $youtube-regrets-dark-red;
    background: $white;
    border-radius: 3px;
    margin-bottom: 6rem;
    margin-top: -12rem;
  }

  .btn-download {
    $icon-width: 50px;

    position: relative;
    background: $youtube-regrets-red;
    color: $white;
    padding-left: $icon-width * 1.3;
    padding-right: $icon-width * 0.3;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: $icon-width;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &:before {
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(0) invert(100%);
    }

    &:after {
      border-right: 1px solid $youtube-regrets-lighter-red;
    }

    &.btn-firefox-download {
      &:before {
        background-image: url(../_images/youtube-regrets/regrets-reporter/firefox-logo-red.svg);
      }
    }

    &.btn-chrome-download {
      &:before {
        background-image: url(../_images/youtube-regrets/regrets-reporter/chrome-logo-red.svg);
      }
    }

    @include hover-focus-active {
    }
  }

  .tw-dark {
    .btn-download {
      background: $white;
      color: $youtube-regrets-red;

      &:before {
        filter: none;
      }

      &:after {
        border-color: $gray-20;
      }
    }
  }
}
