@import "../../../node_modules/locomotive-scroll/dist/locomotive-scroll";

.youtube-regrets-2022 {
  .timeline {
    position: relative;
    width: 100%;
    height: auto;

    &__container {
      position: relative;
    }

    &__person-date {
      position: absolute;
      top: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      > h2 {
        font-weight: 700;
      }

      > svg {
        // Subtract the shadow to make the person appear centered
        margin-right: -100px;
      }
    }

    &__scene {
      position: relative;
      height: 100vh;
      width: 100%;
      padding: 16vh 0;

      &:last-of-type {
        padding-bottom: 0;
      }

      &--double-top-padding {
        padding-top: 32vh;
      }
    }

    &__scene-text {
      font-size: 20px;
      font-weight: bold;
    }

    &__cross {
      position: absolute;
      top: -30px;
      right: 60px;
    }
  }
}

//Fix for images dissapearing https://github.com/locomotivemtl/locomotive-scroll/issues/435
[data-scroll-container],
[data-scroll-section] {
  transform-style: preserve-3d;
  will-change: transform;
}
