#primary-nav header {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;

  a {
    color: $white;
  }

  .menu-nav {
    font-size: 56px;
    font-family: "Nunito Sans";
    line-height: 64px;
  }
}

// Toggled via primary nav hide/show
body > .wrapper.blurred {
  filter: blur(5px);
}

.wrapper-burger {
  background: rgba(219, 236, 131, 1);
}
