#primary-nav header {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  overflow: scroll;

  a {
    color: rgba(255, 255, 255, 0.75);
  }

  .btn-close {
    background: url(../_images/x.svg) no-repeat;
    background-size: contain;
    width: 24px;
    height: 23px;
    opacity: 0.75;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 0;
      opacity: 1;
    }
  }

  .menu-nav {
    font-size: 32px;
    font-family: "Arvo";

    @media (min-width: $bp-md) {
      font-size: 64px;
    }

    li {
      margin-bottom: 0;
    }

    a {
      display: inline-block;

      @media (min-width: $bp-md) {
        height: 5.3rem;
      }

      height: 2.7rem;

      &:hover,
      &:focus {
        color: rgba(255, 237, 0, 100);
        outline: 0;
        text-decoration: none;
        border-bottom: 5px solid $black;
      }
    }
  }

  // Set highlighted primary pages based on unique ID emitted on body
  @at-root {
    #view-home .home,
    #view-people .people,
    #view-get-involved .get-involved,
    #view-projects .projects,
    #view-upcoming .upcoming,
    #view-about .about {
      color: $white;
      font-weight: 900;
    }
  }

  .menu-nav-side {
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 32px;
    font-weight: 100;

    a {
      height: auto;

      &:hover,
      &:focus {
        border: none;
      }
    }

    .email-circle {
      @include hoverGlyph("email-circle-active");
    }

    .twitter-circle {
      @include hoverGlyph("twitter-circle-active");
    }

    .facebook-circle {
      @include hoverGlyph("facebook-circle-active");
    }

    .donate {
      @include hoverGlyph("donate-active");
    }
  }

  .logo {
    width: 94px;
    height: 30px;
    opacity: 0.75;
    display: inline-block;
    background: url(../_images/mozilla.svg) no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus {
      opacity: 1;
      outline: 0;
    }
  }
}

// Toggled via primary nav hide/show
body > .wrapper.blurred {
  filter: blur(5px);
}
