#primary-nav header {
  background: transparentize($black, 0.1);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  overflow: auto;

  a {
    color: transparentize($white, 0.25);
  }

  .btn-close {
    background: url(../_images/x.svg) no-repeat;
    background-size: contain;
    width: 24px;
    height: 23px;
    opacity: 0.75;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 0;
      opacity: 1;
    }
  }

  .menu-nav {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;

    @media (min-width: $bp-md) {
      font-size: 64px;
    }

    li {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      font-weight: 500;
      margin-bottom: 0.333em;

      @media (min-width: $bp-md) {
        height: 5.3rem;
      }

      height: 2.7rem;

      &:hover,
      &:focus {
        color: $white;
        outline: 0;
      }
    }
  }

  // Set highlighted primary pages based on unique ID emitted on body
  @at-root {
    #view-home .home,
    #view-people .people,
    #view-get-involved .get-involved,
    #view-projects .projects,
    #view-upcoming .upcoming,
    #view-about .about {
      color: $white;
      font-weight: 900;
      text-decoration: underline;
    }
  }

  .logo {
    width: 94px;
    height: 30px;
    opacity: 0.75;
    display: inline-block;
    background: url(../_images/mozilla.svg) no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus {
      opacity: 1;
      outline: 0;
    }
  }
}

// Toggled via primary nav hide/show
body > .wrapper.blurred {
  filter: blur(5px);
}
