// Note: Only approved brand colors should be added to this file.
//       Double check with the design team before you introduce a new variable here.

// Foundation Brand Palatte

$white: #ffffff;
$gray-05: #f2f2f2;
$gray-20: #cccccc;
$gray-40: #999999;
$gray-60: #666666;
$gray-80: #333333;
$black: #000000;

$light-red: #ffe6e8;
$red: #ff4f5e;
$dark-red: #cc0011;

$light-blue: #b7b9fa;
$blue: #595cf3;
$dark-blue: #0d10bf;

// Privacy Not Included (PNI) Palatte

$pni-blue: #1808f2;
$pni-blue-purple: #4a17d4;
$pni-purple: #7f28b7;
$pni-purple-pink: #b0379b;
$pni-pink: #e4487d;
$pni-gradient: linear-gradient(to right, $pni-blue 0%, $pni-pink 100%);

$pni-product-list-background: #f5f5f5; /* keep this #f5f5f5 as this is the background colour product images on Homepage have */
$pni-product-image-background: #f4f4f4; /* keep this #f4f4f4 as this is the background colour product images on Product Page have */

// Festival Palatte

$festival-dark-blue: #0e11bf;
$festival-purple: #8f14fb;
$festival-gradient: linear-gradient(
  120deg,
  $festival-dark-blue 0%,
  $festival-purple 100%
);

// Pulse Palatte

$pulse-pink: #ff506f;
$pulse-purple: #a66efd;

// YouTube Regrets Palatte

$youtube-regrets-red: #ea0b12;
$youtube-regrets-lighter-red: #fd6976;
$youtube-regrets-light-red: #ffdcdc;
