@import './styleguide_variables';

// Pulse Palatte

$pulse-pink: #ff506f;
$pulse-purple: #a66efd;

// Social Media Brand Colours

$fb-blue: #3b5999;
$twitter-blue: #1da1f3;

// Shadow

$border-shadow-black: transparentize($black, 0.85);
