.btn {
  font-family: "Nunito Sans";
  font-weight: $btn-font-weight;

  &:hover {
    cursor: pointer;
  }
}

.btn-pop {
  $offset: 4px;

  background: transparent;
  color: $black;
  box-shadow: $offset $offset $black;
  border: 2px solid $black;
  position: relative;
  top: -$offset / 2;
  transition: all 0.08s ease;

  @include hover-focus-active {
    transform: translate($offset, $offset);
    color: $black;
    box-shadow: none;
  }

  @at-root .dark-theme & {
    background: transparent;
    color: $white;
    box-shadow: $offset $offset $white;
    border-color: $white;

    @include hover-focus-active {
      transform: translate($offset, $offset);
      color: $white;
      box-shadow: none;
    }
  }
}

.btn-primary {
  color: $white;
  background: $blue;
  border: none;

  @include hover-focus-active {
    color: $white;
    background: $dark-blue;
    border: none;
  }

  @at-root .dark-theme & {
    color: $white;
    background: $blue;

    @include hover-focus-active {
      color: $black;
      background: $light-blue;
    }
  }
}

.btn-secondary {
  color: $black;
  background: transparent;
  border: 2px solid $black;

  /*
  *  TODO:FIXME:
  *  talk to designers and see if we need to create a new button type
  *  & find a smarter way to do this
  */
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.active:hover,
  &.active:focus,
  &.active:active {
    background-color: $black;
    color: $white;
    border: 2px solid $black;
  }

  @at-root .dark-theme & {
    color: $white;
    background: transparent;
    border: 2px solid $white;

    /*
    *  TODO:FIXME:
    *  talk to designers and see if we need to create a new button type
    *  & find a smarter way to do this
    */
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.active:hover,
    &.active:focus,
    &.active:active {
      color: $black;
      background: $white;
    }
  }
}

// append external link glyph
.btn-secondary[href*="//"]:not([href*="foundation.mozilla.org"]):not([href*="donate.mozilla.org"]):not(.btn-share) {
  display: inline-flex;
  align-items: center;

  &::after {
    filter: brightness(0);
    content: " ";
    display: block;
    width: 16px;
    height: 14px;
    background: url(../_images/glyphs/external.svg) no-repeat;
    margin-left: 8px;
    position: relative;
    bottom: 1px;
    transition: filter 0.2s ease-in-out;
  }

  @include hover-focus-active {
    &::after {
      filter: brightness(1);
    }
  }

  @at-root .dark-theme & {
    &::after {
      filter: brightness(1);
    }

    @include hover-focus-active {
      &::after {
        filter: brightness(0);
      }
    }
  }
}

button[disabled],
.btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;

  @at-root .dark-theme & {
    opacity: 0.5;
  }
}

.form-control {
  border-radius: 0;
}
