.btn {
  font-family: "Nunito Sans";
  font-weight: $btn-font-weight;

  &:hover {
    cursor: pointer;
  }
}

.button-pop,
.btn-pop {
  // [TODO] .btn-pop is old classname to be removed as part 2 of https://github.com/mozilla/foundation.mozilla.org/issues/2905

  $offset: 4px;

  background: transparent;
  color: $black;
  box-shadow: $offset $offset $black;
  border: 2px solid $black;
  position: relative;
  top: -$offset / 2;
  transition: all 0.08s ease;

  @include hover-focus-active {
    transform: translate($offset, $offset);
    color: $black;
    box-shadow: none;
  }

  &.dark-theme {
    background: transparent;
    color: $white;
    box-shadow: $offset $offset $white;
    border-color: $white;

    @include hover-focus-active {
      transform: translate($offset, $offset);
      color: $white;
      box-shadow: none;
    }
  }
}

.btn-normal,
.btn-primary {
  // [TODO] .btn-normal is old classname to be removed as part 2 of https://github.com/mozilla/foundation.mozilla.org/issues/2905

  color: $white;
  background: $blue;
  border: none;

  @include hover-focus-active {
    color: $white;
    background: $dark-blue;
  }

  &.dark-theme {
    color: $white;
    background: $blue;

    @include hover-focus-active {
      color: $black;
      background: $light-blue;
    }
  }
}

.btn-ghost,
.button-secondary {
  // [TODO] .btn-ghost is old classname to be removed as part 2 of https://github.com/mozilla/foundation.mozilla.org/issues/2905

  color: $black;
  background: transparent;
  border: 2px solid $black;

  @include hover-focus-active {
    background: $black;
    color: $white;
  }

  &.dark-theme {
    color: $white;
    background: transparent;
    border: 2px solid $white;

    @include hover-focus-active {
      color: $black;
      background: $white;
    }
  }
}

// append external link glyph
.btn-ghost[href*="//"]:not([href*="foundation.mozilla.org"]),
.button-secondary[href*="//"]:not([href*="foundation.mozilla.org"]) {
  // [TODO] .btn-ghost is old classname to be removed as part 2 of https://github.com/mozilla/foundation.mozilla.org/issues/2905

  display: inline-flex;
  align-items: center;

  &::after {
    filter: brightness(0);
    content: " ";
    display: block;
    width: 16px;
    height: 14px;
    background: url(../_images/glyphs/external.svg) no-repeat;
    margin-left: 8px;
    position: relative;
    bottom: 1px;
    transition: filter 0.2s ease-in-out;
  }

  &:hover::after {
    filter: brightness(1);
  }

  &.dark-theme {
    &::after {
      filter: brightness(1);
    }

    &:hover::after {
      filter: brightness(0);
    }
  }
}

.form-control {
  border-radius: 0;
}
