.btn {
  font-family: "Nunito Sans";
  font-weight: 900;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.btn-pop {
  background: #ffed00;
  color: black;
  box-shadow: 4px 4px black;
  transition: all 0.25s ease;
  border: 2px solid black;
  position: relative;

  &:hover {
    box-shadow: 8px 8px black;
    transform: translate(-4px, -4px);
    color: black;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: -10px;
      left: 0;
      right: -10px;
    }
  }
}

.btn-ghost {
  color: $black;
  background: transparent;
  border: 2px solid #3bb7ef;

  &:hover {
    color: $white;
    background-color: #3bb7ef;
  }
}

.btn-normal {
  color: $black;
  background: #ffed00;

  &:hover {
    color: $black;
    background: #ffe800;
  }
}

.form-control {
  border-radius: 0;
}
