// TODO: override Bootstrap's "@mixin button-outline-variant" so we can reduce our overrides for buttons
button,
.btn {
  font-family: "Nunito Sans";
  font-weight: $btn-font-weight;
  white-space: normal;

  font-size: 18px;
  line-height: calc(22 / 18);

  &:hover {
    cursor: pointer;
  }
}

.btn-pop {
  $regular-mode: (
    "default": (
      "color": $black,
      "background-color": transparent,
      "border-color": $black,
    ),
    "hover-focus": (
      "color": $black,
      "background-color": transparent,
      "border-color": $black,
    ),
    "active": (
      "color": $white,
      "background-color": $black,
      "border-color": transparent,
    ),
  );

  $dark-mode: (
    "default": (
      "color": $white,
      "background-color": transparent,
      "border-color": $white,
    ),
    "hover-focus": (
      "color": $white,
      "background-color": transparent,
      "border-color": $white,
    ),
    "active": (
      "color": $black,
      "background-color": $white,
      "border-color": $white,
    ),
  );

  @include button-basic-style($regular-mode, $dark-mode);

  $offset: 4px;

  box-shadow: $offset $offset $black;
  border-width: 2px;
  border-style: solid;
  position: relative;
  top: -$offset / 2;
  transition: all 0.08s ease;

  @include hover-focus-active {
    transform: translate($offset, $offset);
    box-shadow: none;
  }

  @at-root .tw-dark & {
    box-shadow: $offset $offset $white;

    @include hover-focus-active {
      transform: translate($offset, $offset);
      box-shadow: none;
    }
  }
}

.btn-primary {
  border: none;

  $regular-mode: (
    "default": (
      "color": $white,
      "background-color": $blue,
      "border-color": transparent,
    ),
    "hover-focus": (
      "color": $white,
      "background-color": $dark-blue,
      "border-color": transparent,
    ),
    "active": (
      "color": $white,
      "background-color": $light-blue,
      "border-color": transparent,
    ),
  );

  $dark-mode: (
    "default": (
      "color": $white,
      "background-color": $blue,
      "border-color": transparent,
    ),
    "hover-focus": (
      "color": $black,
      "background-color": $light-blue,
      "border-color": transparent,
    ),
    "active": (
      "color": $black,
      "background-color": $dark-blue,
      "border-color": transparent,
    ),
  );

  @include button-basic-style($regular-mode, $dark-mode);
}

.btn-secondary {
  @include btn-secondary-style();
}

// append external link glyph
.btn-secondary[href*="//"]:not([href*="foundation.mozilla.org"]):not([href*="donate.mozilla.org"]):not(.btn-share):not(.btn-recommend)
{
  @media screen {
    display: inline-flex;
    align-items: center;

    &::after {
      filter: brightness(0);
      content: " ";
      display: block;
      width: 16px;
      height: 14px;
      background: url(../_images/glyphs/external.svg) no-repeat;
      margin-left: 8px;
      position: relative;
      bottom: 1px;
      transition: $button-icon-transition-speed;
    }
  }

  @include hover-focus-active {
    &::after {
      filter: brightness(1);
    }
  }

  @at-root .tw-dark & {
    &::after {
      filter: brightness(1);
    }

    @include hover-focus-active {
      &::after {
        filter: brightness(0);
      }
    }
  }
}
