.btn {
  font-family: "Nunito Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &:hover {
    cursor: pointer;
  }
}

.btn-pop {
  background: $yellow;
  color: black;
  box-shadow: 4px 4px black;
  transition: all 0.25s ease;
  border: 2px solid black;
  position: relative;

  &:hover {
    box-shadow: 8px 8px black;
    transform: translate(-4px, -4px);
    color: black;
    background: $dark-yellow;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: -10px;
      left: 0;
      right: -10px;
    }
  }
}

.btn-ghost {
  color: $black;
  background: transparent;
  border: 2px solid $blue;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.btn-normal {
  color: $black;
  background: $yellow;

  &:hover {
    color: $black;
    background: $dark-yellow;
  }
}

.form-control {
  border-radius: 0;
}
