// Resets / sensible defaults for CMS-managed content

.cms {
  img {
    height: auto;
  }

  ul {
    list-style: initial;
    padding-left: 40px;
  }

  &-image {
    img {
      @media (min-width: $bp-md) {
        width: 100%;
      }
    }
  }

  table {
    margin: 1em 0;
    width: 100%;
    border-collapse: separate;

    thead {
      tr {
        th {
          text-align:center;
          background: rgb(242, 242, 243);

          &:first-child {
            background: inherit;
          }
        }
      }
    }
    tbody {
      tr {
        th {
          text-align: center;
          background: rgb(242, 242, 243);
        }
        td {
          text-align: right;
        }
      }
    }
  }
}
