// Resets / sensible defaults for CMS-managed content

.cms {
  img {
    height: auto;
  }

  ul {
    list-style: initial;
    padding-left: 40px;
  }
}

.wagtail-image {
  img {
    @media screen and (min-width: 597px) {
      width: 100%;
    }
  }
}