// Resets / sensible defaults for CMS-managed content

.cms {
  img {
    height: auto;
  }

  ul {
    list-style: initial;
    padding-left: 40px;
  }

  &-image {
    img {
      @media (min-width: $bp-md) {
        width: 100%;
      }
    }
  }

  .div-top {
    border-top: 1px solid $black;
    padding-top: 1.5rem;
  }
  
  .div-bottom {
    border-bottom: 1px solid $black;
    padding-bottom: 1.5rem;
  }
  
  .image-text-img {
    img {
      width: 50%;
  
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
  }
}
