// [TODO] Old colors to be removed soon

$yellow: rgb(255, 237, 0); // #ffed00
$dark-yellow: rgb(231, 193, 33); // #e7c121
$old-blue: rgb(59, 183, 239); // #3bb7ef
$old-dark-blue: rgb(67, 131, 191); // #4383bf
$neon-blue: rgb(61, 254, 253); // #3dfefd
$green: rgb(183, 212, 63); // #b7d43f
$neon-blue-green-gradient: linear-gradient(to right, $neon-blue, $green);

// New standardized colors

$gray-05: #f2f2f2;
$gray-20: #cccccc;
$gray-40: #999999;
$gray-60: #666666;
$gray-80: #333333;
$black: #000000;
$white: #ffffff;

$red: #ff4f5e;
$dark-red: #cc0011;

$blue: #595cf3;
$dark-blue: #0d10bf;
