$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$dark-gray: rgb(102, 102, 102);
$medium-gray: rgb(144, 144, 144);
$light-gray: rgb(204, 204, 204);
$subtle-gray: rgb(242, 242, 242);
$yellow: rgb(255, 237, 0);
$dark-yellow: rgb(231, 193, 33);
$blue: rgb(59, 183, 239);
$dark-blue: rgb(67, 131, 191);
$neon-blue: rgb(61, 254, 253);
$green: rgb(183, 212, 63);
$neon-blue-green-gradient: linear-gradient(to right, $neon-blue, $green);
$bright-green: rgb(182, 216, 6);

