@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
  scroll-behavior: smooth;
}

/* -------------------------------------------------- */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* -------------------------------------------------- */

img {
  max-width: 100%;
}

/* -------------------------------------------------- */

.text-hide {
  font: 0/0 a;
  text-shadow: none;
  border: 0;
}

#view-landing .intro .rich-text {
  @apply medium:tw-body-large;
}
