*,
::before,
::after {
  box-sizing: border-box;
}

/* -------------------------------------------------- */

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-weight: 300;
  background: #000000;
  scroll-behavior: smooth;
}

/* -------------------------------------------------- */

body {
  margin: 0;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

/* -------------------------------------------------- */

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

/* -------------------------------------------------- */

.primary-nav-container .wrapper-burger {
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}

/* -------------------------------------------------- */

.primary-nav-container .menu-container {
  padding: 0 0 0 52px;
}

@media (min-width: 768px) {
  .primary-nav-container .menu-container {
    padding: 16px 0;
  }
}

/* -------------------------------------------------- */

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* -------------------------------------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* -------------------------------------------------- */

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.mozfest-content.two-col .streamfield-content,
.opportunity-page-content .streamfield-content,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.mozfest-content .streamfield-content,
.blog-body .streamfield-content,
.col-lg-7,
.mozfest-content.two-col,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.article-page-content .streamfield-content,
.col-md-9,
.col-md-8,
.primary-page-content.narrow .streamfield-content,
.article-page-content .linkbutton-block .streamfield-content,
.col-md-7,
.campaign-page-content.narrow .streamfield-content,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.mozfest-content.wide .streamfield-content,
.campaign-page-content.wide .streamfield-content,
.blog-body .streamfield-content.full-width,
.blog-body .streamfield-content.wide,
.article-page-content .streamfield-content.wide,
.primary-page-content.wide .streamfield-content,
.iframe-block .wide,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* -------------------------------------------------- */

.justify-content-between {
  justify-content: space-between !important;
}

.flex-row {
  flex-direction: row !important;
}

.d-flex {
  display: flex !important;
}

/* -------------------------------------------------- */

.primary-nav-container #primary-nav-links {
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (min-width: 576px) {
  .primary-nav-container #primary-nav-links {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (min-width: 768px) {
  .primary-nav-container #primary-nav-links {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

/* -------------------------------------------------- */

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a {
  color: #0d10bf;
}

.text-hide {
  font: 0/0 a;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.primary-nav-container .wrapper-burger .logo {
  width: 1.75rem;
  height: 28px;
  background: url(../_images/mozilla-m.svg) no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  margin: 0 26px 0 0;
  padding: 0;
  line-height: 0;
}

@media (min-width: 576px) {
  .primary-nav-container .wrapper-burger .logo {
    width: 97px;
    background: url(../_images/mozilla-on-black.svg) no-repeat;
  }
}

/* -------------------------------------------------- */

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

/* footer -------------------------------------------------- */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */

/* -------------------------------------------------- */

/* -------------------------------------------------- */

/* -------------------------------------------------- */

/* -------------------------------------------------- */
