/*
* Styling rules in this file are to be converted into Tailwind classes.
* This SCSS file is to be deleted.
* --------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

/* -------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

/* -------------------------------------------------- */

body {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
}

body {
  scroll-behavior: smooth;
}

/* -------------------------------------------------- */

.primary-nav-container .wrapper-burger {
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  // background: #ffffff; // tw-bg-white
  // border-bottom: 1px solid #cccccc; // tw-border-b-gray-20 tw-border-b-[1px]
}

/* -------------------------------------------------- */

@media (min-width: 768px) {
  .primary-nav-container .menu-container {
    padding: 16px 0;
  }
}

/* -------------------------------------------------- */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* -------------------------------------------------- */

.primary-nav-container #primary-nav-links {
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (min-width: 576px) {
  .primary-nav-container #primary-nav-links {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (min-width: 768px) {
  .primary-nav-container #primary-nav-links {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

/* -------------------------------------------------- */

a {
  text-decoration: none;
  background-color: transparent;
}

.text-hide {
  font: 0/0 a;
  text-shadow: none;
  border: 0;
}

.primary-nav-container .wrapper-burger .logo {
  width: 1.75rem;
  height: 28px;
  background: url(../_images/mozilla-m.svg) no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  margin: 0 26px 0 0;
  padding: 0;
  line-height: 0;
}

@media (min-width: 576px) {
  .primary-nav-container .wrapper-burger .logo {
    width: 97px;
    background: url(../_images/mozilla-on-black.svg) no-repeat;
  }
}

/* -------------------------------------------------- */

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
