@import "mofo-bootstrap/colors";

$font-family-sans-serif: "Nunito Sans", Helvetica, Arial, sans-serif !important;
$validation-color: rgb(255, 79, 94) !important;
$input-font-size: 1.25rem !important;

.wFormContainer {
  font-family: $font-family-sans-serif;

  .wFormHeader,
  .wFormFooter,
  .supportInfo {
    display: none;
  }

  .wForm {
    border: 0;
    margin-top: 0;

    form {
      padding: 0;

      label {
        font-family: $font-family-sans-serif;
        margin-bottom: 0;
        .rich-text {
          display: inline-block;
          p {
            display: inline-block;
            //match styling for richtext fields like privacy_notice
            color: #444;
            font-size: 16px;
          }
        }
      }
    }

    .oneField {
      padding: 0;
      border: 0;

      &.errFld {
        .inputWrapper input[type="text"],
        .inputWrapper input[type="password"],
        .inputWrapper textarea,
        .inputWrapper select {
          border-color: $validation-color;
        }
      }
    }

    // Mocking our .tw-btn-primary
    .actions .primaryAction#submit_button {
      font-family: $font-family-sans-serif;
      display: inline-block;
      font-weight: 700;
      line-height: 1.22;
      text-align: center;
      white-space: normal;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 2px solid $blue;
      padding: 0.5rem 1rem;
      font-size: 18px;
      border-radius: 0;
      transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      color: $white;
      background-color: $blue;
      width: 100%;
      margin-top: 1rem;

      &:focus,
      &:hover {
        color: $white;
        background-color: $dark-blue;
        border-color: transparent;
        text-decoration: none;
      }
      &:disabled {
        background-color: $light-blue;
        border-color: transparent;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
        box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
      }
    }

    .inputWrapper {
      width: 100% !important;

      input {
        border: 1px solid #949494 !important;
      }

      input[type="text"],
      input[type="text"].validate-email,
      input[type="password"],
      select,
      select:not([multiple]),
      textarea {
        font-family: $font-family-sans-serif;
        width: 100%;
        padding: 1rem 0.75rem;
        height: auto;
        font-size: $input-font-size;
      }

      input[type="text"].validate-email {
        height: auto !important;
      }

      textarea:focus,
      textarea.required:focus,
      input[type="text"]:focus,
      input[type="text"].required:focus,
      input[type="password"]:focus,
      input[type="password"].required:focus,
      select:focus,
      select.required:focus {
        outline-style: auto;
        border: 1px solid #80bdff !important;
      }

      .errMsg {
        color: $validation-color;
      }

      .saveAndResume input[type="text"],
      .saveAndResume input[type="password"],
      .required:not(.choices):not(select):not(.wfAutosuggest) {
        font-size: $input-font-size;
      }
    }
  }
}

.required:not(.choices):not(select):not(.wfAutosuggest) {
  padding: 1rem 0.75rem !important;
}

// Hide labels and extra line breaks:
//   Privacy agreenment #tfa_492-L #tfa_492-D
//   Email subscription #tfa_494-L #tfa_494-D
#tfa_492-L,
#tfa_492-L br,
#tfa_492-D br,
#tfa_494-L,
#tfa_494-L br,
#tfa_494-D br {
  display: none;
}

// Increase margin above privacy agreement checkbox
//   Privacy agreenment #tfa_492-D
#tfa_492-D {
  margin-top: 1.5rem;
}

// Reduce margin above email subscription checkbox
//   Email subscription #tfa_494-D
#tfa_494-D {
  margin-top: 0;
}

// DonateHelpPage form specific overrides
.donate-help-page-content {
  .wForm {
    label {
      font-family: $font-family-sans-serif;
      color: $black !important;
      font-size: 1.125rem;
      margin-bottom: 0;
    }

    input[type="text"],
    input[type="text"].validate-email,
    textarea,
    select {
      border-radius: 0 !important;
      border: 1px solid black !important;
    }

    input[type="file"] {
      padding: 0 !important;
      height: auto !important;

      &::file-selector-button {
        transition:
          color 0.15s ease-in-out,
          background-color 0.15s ease-in-out;
        font-family: $font-family-sans-serif;
        background: $light-blue;
        width: auto;
        padding: 0rem 1.5rem;
        font-size: 1rem;
        border: none;
        height: 2.25rem;

        &:hover {
          background: $blue;
          cursor: pointer;
        }
      }
    }

    textarea {
      min-height: 10em !important;
    }

    select {
      appearance: none;
      background: url("../_images/glyphs/down-chevron.svg") no-repeat 99% center;
      padding-right: 30px !important;
      white-space: normal;
      text-overflow: ellipsis;

      option {
        @media (max-width: 576px) {
          font-size: 0.75rem;
        }
      }
    }

    .oneField {
      margin-top: 2rem;
    }

    .htmlSection {
      padding: 0;
      font-size: 0.75rem;
      width: 100%;

      span {
        color: $black !important;
        font-family: $font-family-sans-serif;
      }
    }

    .htmlContent {
      font-family: $font-family-sans-serif;
      color: $black !important;
      a {
        color: $dark-blue;
      }
    }

    .inline {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .oneField {
        width: 48.5%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .captcha {
      .oneField {
        margin: 0;
      }
      .captchaHelp {
        display: inline-flex !important;
        padding: 0;
        margin-top: 0.25rem;
        color: $black;
      }
    }

    .actions .primaryAction#submit_button {
      width: auto !important;
    }
  }
}
