body {
  color: $black;
  scroll-behavior: smooth;

  & > .wrapper {
    background: $white;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS */
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* FF */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
  }
}

button:hover {
  cursor: pointer;
}

#hero {
  $bg-pattern-height: 144px;

  .banner {
    position: absolute;
    height: $bg-pattern-height;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: $bp-sm;

      @media screen and (min-width: $bp-sm) {
        min-width: 100%;
      }
    }
  }

  .cutout {
    margin-top: calc(#{$bg-pattern-height} - 40px);
    background: white;
  }
}

.mofo-footer {
  background: $black;
  letter-spacing: 0.02rem;

  p {
    color: transparentize($white, 0.5);
  }
}

.opp-foot {
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;
}
