body > .wrapper {
  background: $white;
  overflow: hidden;
}

#hero {
  background: rgba(182, 216, 6, 1);
}

.center-nav-title p {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #7f9704;
  letter-spacing: 1px;
  line-height: 24px;
}

.wrapper-burger {
  background: rgba(182, 216, 6, 1);

  .logo {
    width: 97px;
    height: 47px;
    background: url(../_images/logo.svg) no-repeat;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
}

#burger {
  cursor: pointer;
  margin-right: 50px;
  border: 0;
  background: url(../_images/hamburger.svg) no-repeat;
  width: 31px;
  height: 39px;

  &:hover,
  &:active {
    outline: 0;
  }
}

.mofo-footer {
  background: $black;
  letter-spacing: 0.02rem;

  p {
    color: rgba(255, 255, 255, 0.5);
  }
}
