body {
  color: $black;

  & > .wrapper {
    background: $white;
  }

  .wrapper-2 {
    background:
      linear-gradient(to right, rgba(61, 254, 253, 1) 0%, rgba(183, 212, 63, 1) 100%),
      url(../_images/hero-image-crop@2x.jpg) center top / auto 100% no-repeat,
      url(../_images/bg-repeat-crop@2x.jpg) center top / auto 100% repeat-x;
    background-blend-mode: overlay, normal, normal;
  }
}

#hero {
  p a {
    color: $black;
    font-weight: 400;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.wrapper-burger {
  background: rgba(0, 0, 0, 0);
  transition: background 200ms ease-in-out;

  &.scrolled {
    background: rgba(0, 0, 0, 0.9);

    #burger,
    .logo {
      filter: invert(100%);
    }

    .center-nav-title p {
      color: #fff;
    }
  }

  .center-nav-title p {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #000;
    letter-spacing: 1px;
    line-height: 24px;
  }

  .logo {
    width: 28px;
    height: 28px;
    background: url(../_images/mozilla-m.svg) no-repeat;
    background-size: contain;

    @media (min-width: $bp-sm) {
      width: 97px;
      background: url(../_images/mozilla-on-black.svg) no-repeat;
    }

    margin: 0;
    padding: 0;
    line-height: 0;
  }
}

#burger {
  cursor: pointer;
  margin-right: 1em;

  @media (min-width: $bp-md) {
    margin-right: 50px;
  }

  border: 0;
  background: url(../_images/hamburger.svg) no-repeat;
  width: 31px;
  height: 39px;

  &:hover,
  &:active {
    outline: 0;
  }
}

.sticky-top .btn-pop {
  @media (max-width: $bp-sm) {
    padding: 0.25em;
    margin-right: -0.25em;
  }
}

.mofo-footer {
  background: $black;
  letter-spacing: 0.02rem;

  p {
    color: rgba(255, 255, 255, 0.5);
  }
}

.subpageHero .lead-white {
  margin-top: 1em;

  @media (min-width: $bp-md) {
    margin-top: 0;
  }
}
