body {
  color: $black;
  scroll-behavior: smooth;

  & > .wrapper {
    background: $white;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS */
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* FF */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
  }
}

button:hover {
  cursor: pointer;
}

#hero {
  $bg-pattern-height: 144px;

  .banner {
    position: absolute;
    height: $bg-pattern-height;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: $bp-sm;

      @media screen and (min-width: $bp-sm) {
        min-width: 100%;
      }
    }
  }

  .cutout {
    $grid-gutter-width: map-get($grid-gutter-widths, xs);
    $padding-x: #{$grid-gutter-width / 2};

    margin-top: calc(#{$bg-pattern-height} - 40px);
    background: white;
    padding-left: $padding-x;
    padding-right: $padding-x;

    @media screen and (min-width: $bp-md) {
      $offset-left: 24px;

      margin-left: -$offset-left;
      padding-left: $offset-left;
    }
  }
}

.mofo-footer {
  background: $black;
  letter-spacing: 0.02rem;

  p {
    color: transparentize($white, 0.5);
  }
}

.ih-cta {
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;
}

.donate-banner {
  background: $blue;
}

footer.site-footer {
  background: $black;

  .link-list {
    @media (min-width: $bp-md) {
      column-count: 2;
      break-inside: avoid-column;
    }
  }
}
