// Mixin for including glyph on the left side of the applied element
@mixin glyph(
  $id,
  $path-to-directory: $default-glyph-path,
  $width: 20px,
  $height: 20px
) {
  content: "";
  display: inline-block;
  width: $width;
  height: $height;
  margin-right: 20px;
  background: url(#{$path-to-directory}/#{$id}.svg) no-repeat 0 0 / contain;

  @media screen and (min-width: $bp-lg) {
    margin-right: 10px;
  }
}

// Mixin for setting glyph for hover/focus state
@mixin hover-glyph($id, $path-to-directory: $default-glyph-path) {
  &:hover::before,
  &:focus::before {
    background: url(#{$path-to-directory}/#{$id}.svg) no-repeat 0 0 / contain;
  }
}

// Mixin for setting up various sizes of the glyph
@mixin composite-glyph($id, $path-to-directory: $default-glyph-path) {
  &::before {
    @include glyph($id, $path-to-directory);
  }

  &.small {
    &::before {
      width: 16px;
      height: 16px;
    }
  }

  &.medium {
    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

.heart-glyph {
  @include composite-glyph("heart");
  @include hover-glyph("heart-hover");
  &::before {
    width: 19px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
}

.donate {
  @include composite-glyph("donate");
}

.twitter-glyph {
  @include composite-glyph("twitter");
  @include hover-glyph("twitter-hover");
}

.linkedIn-glyph {
  @include composite-glyph("linkedin");
  @include hover-glyph("linkedin-hover");
}

.form-error-glyph {
  @include composite-glyph("form-error");
  &::before {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }
}

.tw-dark {
  .twitter-glyph {
    @include composite-glyph("twitter-dark-theme");
    @include hover-glyph("twitter-dark-theme-hover");
  }

  .instagram-glyph {
    @include composite-glyph("instagram-dark-theme");
    @include hover-glyph("instagram-dark-theme-hover");
  }

  .medium-glyph {
    @include composite-glyph("medium-dark-theme");
    @include hover-glyph("medium-dark-theme-hover");
  }

  .youtube-glyph {
    @include composite-glyph("youtube-dark-theme");
    @include hover-glyph("youtube-dark-theme-hover");
    &:before {
      width: 18px;
      height: 18px;
      margin-top: 2px;
    }
  }

  .email-glyph {
    @include composite-glyph("email-dark-theme");
    @include hover-glyph("email-dark-theme-hover");
  }

  .github-glyph {
    @include composite-glyph("github-dark-theme");
    @include hover-glyph("github-dark-theme-hover");
  }

  .form-error-glyph {
    @include composite-glyph("form-error-dark-theme");
  }

  .globe-glyph {
    @include composite-glyph("globe-dark-theme");

    &::before {
      margin-right: 10px;
      min-width: 24px;
    }
  }
}
