@mixin glyph($id, $width: 20px, $height: 20px) {
  content: "";
  display: inline-block;
  width: $width;
  height: $height;
  margin-right: 20px;
  background: url(../_images/glyphs/#{$id}.svg) no-repeat 0 0 / contain;

  @media screen and (min-width: $bp-lg) {
    margin-right: 10px;
  }
}

@mixin hoverGlyph($id) {
  &:hover::before,
  &:focus::before {
    background: url(../_images/glyphs/#{$id}.svg) no-repeat 0 0 / contain;
  }
}

@mixin compositeGlyph($id) {
  &::before {
    @include glyph($id);
  }

  &.gray {
    &::before {
      filter: opacity(40%);
    }

    &:hover::before {
      filter: opacity(60%);
    }
  }

  &.small {
    &::before {
      width: 16px;
      height: 16px;
    }
  }

  &.donate-header {
    &::before {
      width: 19px;
      height: 16px;
      margin-right: 6px;
      position: relative;
      top: 2px;
    }
  }
}

.donate-header {
  @include compositeGlyph("donate-header");
  @include hoverGlyph("donate-header-hover");
}

.donate {
  @include compositeGlyph("donate");
}

.twitter {
  @include compositeGlyph("twitter");
  @include hoverGlyph("twitter-hover");
}

.linkedIn {
  @include compositeGlyph("linkedin");
  @include hoverGlyph("linkedin-hover");
}

.dark-theme {
  .twitter {
    @include compositeGlyph("twitter-dark-theme");
    @include hoverGlyph("twitter-dark-theme-hover");
  }

  .instagram {
    @include compositeGlyph("instagram-dark-theme");
    @include hoverGlyph("instagram-dark-theme-hover");
  }

  .medium {
    @include compositeGlyph("medium-dark-theme");
    @include hoverGlyph("medium-dark-theme-hover");
  }

  .youtube {
    @include compositeGlyph("youtube-dark-theme");
    @include hoverGlyph("youtube-dark-theme-hover");
  }

  .email {
    @include compositeGlyph("email-dark-theme");
    @include hoverGlyph("email-dark-theme-hover");
  }

  .github {
    @include compositeGlyph("github-dark-theme");
    @include hoverGlyph("github-dark-theme-hover");
  }
}
