@mixin glyph($id, $width: 20px, $height: 20px) {
  content: "";
  display: inline-block;
  width: $width;
  height: $height;
  margin-right: 20px;
  background: url(../_images/glyphs/#{$id}.svg) no-repeat 0 0/contain;

  @media screen and (min-width: $bp-lg){
    margin-right: 10px;
  }
}

@mixin hoverGlyph($id) {
  &:hover::before,
  &:focus::before {
    background: url(../_images/glyphs/#{$id}.svg) no-repeat 0 0/contain;
  }
}

@mixin compositeGlyph($id) {
  &::before {
    @include glyph($id);
  }

  &.gray {
    &::before {
      filter: opacity(40%);
    }

    &:hover::before {
      filter: opacity(60%);
    }
  }

  &.small {
    &::before {
      width: 16px;
      height: 16px;
    }
  }
}

.donate {
  @include compositeGlyph("donate");
}

.twitter {
  @include compositeGlyph("twitter");
  @include hoverGlyph("twitter-hover");
}

.linkedIn {
  @include compositeGlyph("linkedin");
  @include hoverGlyph("linkedin-hover");
}
