// Bootstrap

@import '../../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap';
@import '../../node_modules/mofo-bootstrap/src/scss/custom/_colors';
@import '../../node_modules/bootstrap/scss/_variables';

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// React Components

@import '../js/components/people/people';
@import '../js/components/nav/nav';
@import '../js/components/join/join';

// Misc

@import './resets';
@import './type';
@import './buttons';
@import './global';
@import './utilities';

// View specific

@import './views/home';
