// Bootstrap

@import "../../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap";
@import "../../node_modules/mofo-bootstrap/src/scss/custom/_colors";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 576px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 576px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// Site-wide
@import "./_variables";
@import "./glyphs";
@import "./mixins";

// React Components

@import "../js/components/join/join";
@import "../js/components/loading-indicator/loading-indicator";
@import "../js/components/member-notice/member-notice";
@import "../js/components/multipage-nav-mobile/multipage-nav-mobile";
@import "../js/components/pulse-project-list/pulse-project-list";
@import "../js/components/fellow-list/directory-filter-bar";
@import "../js/components/petition/petition";
@import "../js/components/share-button-group/share-button-group";

// Non-React Components

@import "./components/hr-emphasis";
@import "./components/feature-quote";
@import "./components/nav";
@import "./components/primary-nav";
@import "./components/multipage-nav";
@import "./components/commitment";
@import "./components/card";
@import "./components/airtable-block";
@import "./components/image-text-mini";

// Misc

@import "./resets";
@import "./type";
@import "./buttons";
@import "./global";
@import "./utilities";
@import "./cms";
@import "./wagtail";

// temporary?
@import "./mozfest";

// View specific

@import "./views/home";
@import "./views/about";
@import "./views/contact";
@import "./views/projects";
@import "./views/initiatives";
@import "./views/participate";
@import "./views/indexpage";
@import "./views/blog";
@import "./views/style-guide";
@import "./views/youtube-regrets";

// Bootstrap or mofo-bootstrap overrides

hr {
  border-color: $gray-20;
}

#language-switcher {
  $background-size: 24px;
  $padding-x: 12px;
  $padding-right: $padding-x * 2 + $background-size;

  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  background-image: url("../_images/glyphs/down-chevron-dark-theme.svg");
  background-repeat: no-repeat;
  background-position: right $padding-x top 50%;
  background-size: $background-size $background-size;
  border-radius: 0;
  border: 1px solid $white;
  color: $white;
  padding: 5px $padding-right 5px $padding-x;

  // target Edge broswser to explictly set background color to black
  // otherwise on Edge the dropdown options won't show (white text on Edge's default white background)
  @supports (-ms-ime-align: auto) {
    background-color: $black;
  }
}
