// tailwindCSS

// @import "../../node_modules/tailwindcss/base";
// @import "../../node_modules/tailwindcss/components";
// @import "../../node_modules/tailwindcss/utilities";

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

// mofo-bootstrap

@import "./mofo-bootstrap/mofo-bootstrap";

// Custom variables
@import "./variables";
@import "./buyers-guide/colors";

// Site-wide
@import "./resets";
@import "./glyphs";
@import "./mixins";
@import "./type";
@import "./buttons";

// React Components

@import "../js/components/join/join";
@import "../js/components/loading-indicator/loading-indicator";
@import "../js/components/multipage-nav-mobile/multipage-nav-mobile";
@import "../js/components/pulse-project-list/pulse-project-list";
@import "../js/components/fellow-list/directory-filter-bar";
@import "../js/components/petition/petition";
@import "../js/components/share-button-group/share-button-group";

// Non-React Components

@import "./components/nav";
@import "./components/primary-nav";
@import "./components/multipage-nav";
@import "./components/card";
@import "./components/select-dropdown"; // TODO:FIXME: consider relocate code to a new file scss/form.scss
@import "./components/blog-authors";
@import "./components/blog-hero-video";

// Wagtail Stream Blocks

@import "./wagtail/blocks/airtable";
@import "./wagtail/blocks/audio-block";
@import "./wagtail/blocks/dear-internet-letter";
@import "./wagtail/blocks/feature-quote";
@import "./wagtail/blocks/image-text-mini";
@import "./wagtail/blocks/iframe-block";
@import "./wagtail/blocks/link-button.scss";
@import "./wagtail/blocks/looping-video.scss";
@import "./wagtail/blocks/rich-text";
@import "./wagtail/blocks/profiles";
@import "./wagtail/blocks/video-block";
@import "./wagtail/blocks/article-blocks";
@import "./wagtail/blocks/annotated-image-block";
@import "./wagtail/blocks";

// Misc

@import "./global";
@import "./utilities";
@import "./cms";
@import "./wagtail";

// Shared between different views

@import "./views/shared/sticky-cta";

// View specific

@import "./views/home";
@import "./views/participate";
@import "./views/indexpage";
@import "./views/blog";
@import "./views/style-guide";
@import "./views/youtube-regrets-intro";
@import "./views/youtube-regrets";
@import "./views/youtube-regrets-reporter";
@import "./views/youtube-regrets-2021";
@import "./views/dear-internet";
@import "./views/publication";
@import "./views/article";

// MozFest

@import "./mozfest";

// Print Style
@import "./print";
