@mixin heading($font-family, $font-weight, $letter-spacing) {
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}

@mixin scaleText($base-font-size, $base-line-height: null, $large-font-size: null, $large-line-height: null) {
  font-size: $base-font-size;

  @if ($base-line-height) {
    line-height: $base-line-height/$base-font-size;
  }

  @if ($large-font-size) {
    @media screen and (min-width: $bp-md) {
      font-size: $large-font-size;

      @if ($large-line-height) {
        line-height: $large-line-height/$large-font-size;
      }
    }
  }
}

@mixin dark-theme-inline-anchor($color: inherit) {
  color: $color;
  font-weight: inherit;

  @include hover-focus-active {
    color: $light-blue;
    text-decoration: underline;
  }
}
