body.mozfest {
  &#view-mozfest-home {
    #hero {
      --moz_banner_height: 430px;

      .banner {
        height: var(--moz_banner_height);

        .homepage-top-content {
          position: absolute;
          z-index: 2;
          width: 100%;
          margin: 0;
          padding: 0;

          // add heading and paragraph color override here
        }
      }

      .cutout {
        margin-top: calc(var(--moz_banner_height) - 40px);
        background: $white;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
