// MozFest-specific styling
// https://www.mozillafestival.org

// Carousel
@import "../../node_modules/swiper/swiper-vars.scss";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/components/pagination/pagination.scss";


body.mozfest {
  .primary-nav-container {
    // The following overrides are to make sure
    // 1) MozFest logo shows up larger than the default Mozilla logo that we have on the main site
    // 2) MozFest primary nav and main Foundation site's primary nav have the same height

    @media (min-width: $nav-full-logo-breakpoint) {
      .wrapper-burger .logo {
        height: 36px;
        background-image: url(../_images/mozfest/logo.svg);
      }
    }

    @media (min-width: $bp-md) {
      .menu-container {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  &#view-mozfest-home {
    #hero {
      $breakpoint: $bp-md;
      $banner-height-mobile: 400px;
      $banner-height-desktop: 480px;
      $banner-background-z-index: 1;
      $banner-video-control-z-index: 2;
      $cutoff-offset: 40px;

      .video-control-wrapper {
        z-index: $banner-video-control-z-index;
        position: absolute;
        width: 100%;
        bottom: 1rem;

        @media screen and (min-width: $breakpoint) {
          bottom: calc(#{$cutoff-offset} + 1rem);
        }

        .btn.btn-video-control {
          $icon-size: 50px;

          border: none;
          height: $icon-size;
          background: center left/$icon-size $icon-size no-repeat transparent;
          padding-left: calc(#{$icon-size} + 0.5rem);
          // due to a Safari bug, we have to remove transition for these buttons
          // so background SVGs don't get resized on hover
          transition: none;

          &:hover {
            color: $white;
            text-decoration: underline;
          }

          &.btn-pause {
            background-image: url("../_images/mozfest/pause-circle.svg");

            &:hover {
              background-image: url("../_images/mozfest/pause-circle-hover.svg");
            }
          }

          &.btn-play {
            background-image: url("../_images/mozfest/play-circle.svg");

            &:hover {
              background-image: url("../_images/mozfest/play-circle-hover.svg");
            }
          }
        }
      }

      .banner {
        height: $banner-height-mobile;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: $breakpoint) {
          height: $banner-height-desktop;
        }
      }

      .homepage-banner-content.container {
        z-index: $banner-background-z-index + 3;

        @media screen and (min-width: $breakpoint) {
          padding-bottom: $cutoff-offset;
        }
      }

      .cutout {
        z-index: $banner-background-z-index + 2;
        margin-top: 0;
        @media screen and (min-width: $breakpoint) {
          margin-top: -$cutoff-offset;
        }
      }

      .background-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: $festival-gradient;
          opacity: 0.8;
          z-index: $banner-background-z-index + 1;
        }

        video,
        picture {
          width: 100%;
          height: 100%;
          display: flex;
          position: absolute;
          z-index: $banner-background-z-index;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center center;
        }

        picture {
          img {
            position: static;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center center;
          }
        }
      }
    }

    .cta {
      $sticky-extra-offset: 1.5rem;

      position: relative;
      top: -$sticky-extra-offset;

      #cta-anchor {
        @include cta-anchor-position($sticky-extra-offset);
      }
    }
  }

  #multipage-nav {
    // These overrides are to overcome the loooooong secondary nav we have on Spaces pages
    // Targeting these overrides to all pages that have secondary nav (#multipage-nav)
    // to keep things consistent across the MozFest site

    flex-wrap: wrap;

    .multipage-link {
      padding-top: 16px;
      padding-bottom: 5px;
    }
  }

  .cutout {
    .intro {
      .rich-text p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply tw-border-2 tw-text-blue tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-[40px] tw-h-[40px] tw-transition;

    &.swiper-button-disabled {
      @apply tw-border-gray-20;
    }

    &::after {
      content: "";
    }

    &:hover {
      @apply tw-opacity-75;
    }
  }

  .swiper-button-icon {
    @apply tw-text-blue tw-w-4 tw-h-4;
  }

  .swiper-button-disabled {
    .swiper-button-icon {
      @apply tw-text-gray-20;
    }
  }

  .swiper-button-prev {
    @apply tw-mr-5;
  }

  .swiper-pagination-bullet {
    @apply tw-w-3 tw-h-3;
  }

  .swiper-pagination-bullet-active {
    @apply tw-bg-festival-blue-100;
  }

}
