body.mozfest {
  &#view-mozfest-home {
    #hero {
      --moz_banner_height: 470px;

      .banner {
        height: var(--moz_banner_height);
      }

      .cutout {
        margin-top: calc(var(--moz_banner_height) - 40px);
        background: $white;
      }
    }
  }
}
