input[type="checkbox"].rh-checkbox {
  @apply tw-form-checkbox tw-relative tw-top-[3px] tw-mr-3 tw-w-[20px] tw-h-[20px] tw-border tw-border-gray-60 checked:tw-bg-pni-purple-pink focus:checked:tw-bg-pni-purple-pink focus:tw-outline-pni-purple-pink;
}

input[type="radio"].rh-radio {
  @apply tw-form-radio tw-relative tw-top-[4px] tw-mr-3 tw-w-[20px] tw-h-[20px] tw-border tw-border-gray-60 checked:tw-bg-pni-purple-pink focus:checked:tw-bg-pni-purple-pink focus:tw-outline-pni-purple-pink;
}

.rh-filter-modal {
  @apply tw-fixed large:tw-static tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-z-[1050] large:tw-z-0 tw-mx-0 tw-overflow-y-scroll;
}
