html {
  font-weight: 300;
  background: $black;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

// This undoes setting of these elements' font to sans-serif by normalize
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
