html {
  background: $black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
