.share-progress-button {
  display: none;
}

.share-btn-container {
  display: flex;
}

.share-progress-tw,
.share-progress-fb,
.share-progress-em {
  height: 38px;
  border: none;
  color: $white;
  width: 100%;
  max-width: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: 0.9rem;

  svg {
    color: $white;
    height: 15px;
    margin-right: 4px;
  }
}

.share-progress-fb {
  background: #3b5999;
  margin-right: 12px;
}

.share-progress-tw {
  background: #1da1f3;
  margin-right: 12px;
}

.share-progress-em {
  background: #9b9b9b;

  svg {
    margin-right: 5px;
  }
}
