a {
  color: $dark-blue;

  @include hover-focus-active {
    // Bootstrap / mofo-style overrides
    color: $dark-blue;
    text-decoration: underline;
  }

  @at-root .dark-theme & {
    @include dark-theme-inline-anchor($white);
  }

  &.btn {
    font-weight: $btn-font-weight;

    @include hover-focus-active {
      text-decoration: none;
    }
  }
}

h1,
.h1-heading {
  @include heading("Zilla Slab", 400, 0, $black, $white);
  @include scaleText(36px, 40px, 48px, 56px);
}

h2,
.h2-heading {
  @include heading("Zilla Slab", 300, 0, $black, $white);
  @include scaleText(28px, 32px, 40px, 48px);
}

h3,
.h3-heading {
  @include heading("Zilla Slab", 400, 0, $black, $white);
  @include scaleText(24px, 28px, 28px, 36px);
}

h4,
.h4-heading {
  @include heading("Zilla Slab", 400, 0, $black, $white);
  @include scaleText(22px, 28px, 24px, 30px);
}

h5,
.h5-heading {
  @include heading("Zilla Slab", 600, 0, $black, $white);
  @include scaleText(20px, 24px, 22px, 28px);
}

h6,
.h6-heading {
  @include heading("Nunito Sans", 400, 0.5px, $gray-60, $gray-40);
  @include scaleText(12px, 16px);

  text-transform: uppercase;
}

.quote {
  @include text-base-style("Zilla Slab", 300, $black, $white);
  @include scaleText(24px, 32px, 30px, 40px);

  font-style: italic;
}

.type-accent {
  @include text-base-style("Zilla Slab", 400, $gray-20, $gray-20);
  @include scaleText(56px, 64px, 72px, 88px);
}

.body-large,
.body-large p {
  @include text-base-style(null, 300, $black, $white);
  @include scaleText(18px, 27px, 20px, 30px);
}

ul,
ol,
p,
.body {
  @include body-text-style();
}

.body-small {
  @include text-base-style("Nunito Sans", 400, $gray-60, $gray-40);
  @include scaleText(12px, 16px);
}

.cta-link {
  @include text-base-style(null, 700, null, $light-blue);
  @include scaleText(18px, 27px);

  display: inline-block;

  &::after {
    content: " →";
    text-decoration: none;
    display: inline-block;
    margin-left: 0.333em;
    position: relative;
    top: -1px;
  }
}
