h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;

  a,
  a:hover,
  a:active,
  a:focus {
    color: inherit;
  }
}

a {
  color: #3bb7ef;
  font-weight: 700;

  &:hover {
    color: #0081ad;
  }
}

@mixin scaleText($small, $large: null) {
  font-size: $small;

  @if ($large) {
    @media screen and (min-width: $bp-md) {
      font-size: $large;
    }
  }
}

@mixin black-box-white-text($padding:0.1em) {
  background: $black;
  color: $white;
  display: inline;
  padding: $padding;
  line-height: 1.5;
}

@mixin yellow-underline-nav-link($active-class-name, $font-family: "Zilla Slab") {
  font-family: $font-family;
  color: #231f20;

  @if $font-family == "Zilla Slab" {
    letter-spacing: 0.25px;
  }

  &:hover,
  &#{$active-class-name} {
    color: inherit;
    text-decoration: none;
    border-bottom: 5px solid #ffed00;
  }
}

.h1-white {
  font-family: "Zilla Slab";
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;

  @include scaleText(36px, 56px);
}

.h2-headings-white {
  font-family: "Zilla Slab";
  font-weight: 300;
  letter-spacing: 1px;

  @include scaleText(18px, 24px);
  @include black-box-white-text(0 0 0 40px);
}

.h2-typeaccents-gray {
  font-family: "Zilla Slab";
  font-weight: 400;
  color: #ccc;
  line-height: 1.2;

  @include scaleText(56px, 72px);
}

.h3-black {
  font-family: "Zilla Slab";
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.2;

  @include scaleText(28px, 40px);
}

.h3-cta-black {
  letter-spacing: 0;
  line-height: 1.25;
  font-weight: 900;

  @include scaleText(22px, 32px);
}

.h4-medium-black {
  font-family: "Zilla Slab";
  letter-spacing: 0.5px;
  line-height: 1.2;

  @include scaleText(22px, 28px);
}

.h4-medium-white {
  font-family: "Zilla Slab";
  font-weight: 400;
  letter-spacing: 0.5px;

  @include scaleText(22px, 28px);
  @include black-box-white-text;
}

.h4-light-black {
  font-family: "Zilla Slab";
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.2;

  @include scaleText(20px, 28px);
}

.h4-headingcontract-black {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;

  @include scaleText(22px, 28px);
}

.h5-black {
  font-family: "Zilla Slab";
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 1.333;

  @include scaleText(20px, 22px);
}

.h6-gray {
  font-weight: 400;
  color: #909090;
  letter-spacing: 0.5px;
  line-height: 1.333;
  text-transform: uppercase;

  @include scaleText(12px);
}

.h6-white {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1.333;

  @include scaleText(12px);
  @include black-box-white-text;
}

@mixin p-lead {
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.333;

  @include scaleText(18px, 20px);
}

.lead-black {
  @include p-lead;
}

.lead-white {
  color: $white;

  @include p-lead;
}

.blockquote-gray {
  font-weight: 100;
  font-style: italic;
  color: #909090;
  line-height: 1.333;

  @include scaleText(18px, 24px);
}

.quote-small {
  font-weight: 100;
  font-style: italic;
  color: $black;
  line-height: 1.45;

  @include scaleText(18px, 22px);
}

.body-black {
  color: $black;
  letter-spacing: 0;
  line-height: 1.5;

  @include scaleText(16px);
}

.body-white {
  font-weight: 100;

  @include scaleText(16px);
  @include black-box-white-text;
}

.italic-black {
  letter-spacing: 0;
  line-height: 1.5;
  font-style: italic;

  @include scaleText(16px);
}

.small-gray {
  color: #909090;
  letter-spacing: 0;
  line-height: 1.5;

  @include scaleText(12px);
}

.small-white {
  letter-spacing: 0;

  @include scaleText(12px);
  @include black-box-white-text;
}

.small-error {
  color: #ff4043;
  line-height: 1.333;
  font-style: italic;
  letter-spacing: 0;

  @include scaleText(12px);
}

.body-link {
  letter-spacing: 0;
  line-height: 1.5;

  @include scaleText(16px);
}

.link-small {
  letter-spacing: 0;
  line-height: 1.333;
  font-weight: 700;

  @include scaleText(12px);
}

.link-small-tags {
  letter-spacing: 0;
  line-height: 1.333;

  @include scaleText(12px);
}

.cta-link {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: underline;

  &::after {
    content: " →";
    text-decoration: none;
    display: inline-block;
    margin-left: 0.333em;
    position: relative;
    top: -1px;
  }

  @include scaleText(16px);
}

.opp-link {
  @include yellow-underline-nav-link(".opp-link-active");
  @include scaleText(18px, 20px);
}
