a {
  color: $dark-blue;

  @include hover-focus-active {
    // Bootstrap / mofo-style overrides
    color: $dark-blue;
    text-decoration: underline;
  }

  @at-root .tw-dark & {
    @include dark-theme-inline-anchor($white);
  }

  &.btn {
    font-weight: $btn-font-weight;

    @include hover-focus-active {
      text-decoration: none;
    }
  }
}

h1,
.h1-heading {
  @apply tw-font-normal tw-mb-4 tw-text-black tw-tracking-normal tw-font-zilla tw-text-[36px] tw-leading-[1.2] medium:tw-text-[48px];

  @at-root .tw-dark & {
    @apply tw-text-white;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }

  a {
    @apply tw-text-inherit tw-font-inherit;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-inherit tw-underline;
    }
  }
}

h2,
.h2-heading {
  @apply tw-font-light tw-mb-4 tw-text-black tw-tracking-normal tw-font-zilla tw-text-[28px] tw-leading-[1.2] medium:tw-text-[40px];

  @at-root .tw-dark & {
    @apply tw-text-white;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }

  a {
    @apply tw-text-inherit tw-font-inherit;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-inherit tw-underline;
    }
  }
}

h3,
.h3-heading {
  @apply tw-font-normal tw-mb-4 tw-text-black tw-tracking-normal tw-font-zilla tw-text-[24px] tw-leading-[1.2] medium:tw-text-[28px];

  @at-root .tw-dark & {
    @apply tw-text-white;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }

  a {
    @apply tw-text-inherit tw-font-inherit;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-inherit tw-underline;
    }
  }
}

h4,
.h4-heading {
  @apply tw-font-normal tw-mb-4 tw-text-black tw-tracking-normal tw-font-zilla tw-text-[22px] tw-leading-[1.3] medium:tw-text-[24px];

  @at-root .tw-dark & {
    @apply tw-text-white;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }

  a {
    @apply tw-text-inherit tw-font-inherit;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-inherit tw-underline;
    }
  }
}

h5,
.h5-heading {
  @apply tw-font-semibold tw-mb-4 tw-text-black tw-tracking-normal tw-font-zilla tw-text-[20px] tw-leading-[1.3] medium:tw-text-[22px];

  @at-root .tw-dark & {
    @apply tw-text-white;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }

  a {
    @apply tw-text-inherit tw-font-inherit;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-inherit tw-underline;
    }
  }
}

h6,
.h6-heading {
  @apply tw-uppercase tw-font-normal tw-mb-4 tw-text-gray-60 tw-tracking-wide tw-font-sans tw-text-[12px] tw-leading-[1.3];

  @at-root .tw-dark & {
    @apply tw-text-gray-40;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }

  a {
    @apply tw-text-inherit tw-font-inherit;

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-inherit tw-underline;
    }
  }
}

.quote {
  @apply tw-italic tw-font-light tw-text-black tw-font-zilla tw-text-[24px] tw-leading-[1.3] medium:tw-text-[30px];

  @at-root .tw-dark & {
    @apply tw-text-white;

    a {
      @apply tw-text-blue-light;
    }

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }
}

.type-accent {
  @apply tw-font-normal tw-text-gray-20 tw-font-zilla tw-text-[56px] tw-leading-[1.2] medium:tw-text-[72px];

  @at-root .tw-dark & {
    @apply tw-text-gray-20;

    a {
      @apply tw-text-blue-light;
    }

    a:hover,
    a:focus,
    a:active {
      @apply tw-text-blue-light tw-underline;
    }
  }
}
