.flex-grow-0 {
  flex-grow: 0;
}

.flex-1 {
  flex: 1;
}

.slanty-background {
  background-image: url(../_images/slanting-lines-pttn.svg);
  background-size: 150px;
  width: 100%;
}

.slanty-background-gray {
  background-image: url(../_images/slanting-lines-pttn-opt-gray.svg);
  background-size: 150px;
  width: 100%;
}

.big-section {
  margin-bottom: 5rem;
}

.key-item {
  box-shadow: 0 4px 0 0 $gray-lighter;
  margin-top: -1.5em;
  background: white;
  position: relative;
}

.play-button-wrapper {
  position: relative;
}

.play-button-overlay {
  background-image: url(../_images/line-art/play-icon.svg);
  position: absolute;
  top: calc(50% - 3em);
  left: calc(50% - 3em);
  width: 6em;
  height: 6em;
  background-repeat: no-repeat;
  background-size: contain;
}
