// default for vertical margins ($spacer = 1rem = 16px)
.my-default {
  margin-top: $spacer;
  margin-bottom: $spacer;
}
.flex-1 {
  flex: 1;
}

.key-item {
  border-bottom: 4px solid $gray-20;
  margin-top: -1.5em;
  background: $white;
  position: relative;
}

.full-bleed {
  @include full-bleed;
}

.mt-minus-50 {
  margin-top: -50px;
}

.bg-black {
  background: $black;
}

.bg-gray {
  background: $gray-05;
}

@include full-bleed-bp("xs");
@include full-bleed-bp("sm");
@include full-bleed-bp("md");
@include full-bleed-bp("lg");
@include full-bleed-bp("xl");
