.flex-grow-0 {
  flex-grow: 0;
}

.flex-1 {
  flex: 1;
}

.big-section {
  margin-bottom: 5rem;
}

.key-item {
  box-shadow: 0 4px 0 0 $gray-lighter;
  margin-top: -1.5em;
  background: white;
  position: relative;
}

.play-button-wrapper {
  position: relative;
}

.play-button-overlay {
  background-image: url(../_images/line-art/play-icon.svg);
  position: absolute;
  top: calc(50% - 3em);
  left: calc(50% - 3em);
  width: 6em;
  height: 6em;
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;

  a {
    font-weight: 500;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 5px;
  padding-right: 2px;
  content: ">";
}

.breadcrumb-item {
  &.active {
    @extend .h6-heading;
  }

  &:not(.active) {
    text-decoration: underline;
  }
}
