// our own custom SCSS variables
// for Bootstrap variable overrides use ./mofo-bootstrap/overrides/_variables.scss

// Breakpoints (imported from Bootstrap)
// https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 576px. Extra small devices (portrait phones)
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 576px. Small devices (landscape phones, 576px and up)
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px. Medium devices (tablets)
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px. Large devices (desktop)
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px. Extra large devices (large desktops)

$nav-full-logo-breakpoint: $bp-sm;

// Transition Speed (for on hover effects for buttons, etc.)
$button-icon-transition-speed: filter 0.2s ease-in-out;
