#view-home .cms div.rich-text p {
  @extend .body-large;
  @extend .mb-4;
}

.cms {
  p:empty {
    height: 1em;
  }

  * + p {
    /*
      A paragraph following some other content
      should have a top margin instead of "glueing"
      itself onto the preceding content.

      This rule prevents the bootstrap-reboot.css
      rule for "top:0, bottom: 1rem" from kicking
      in for every single paragraph irrespective
      or preceding content.
    */
    margin-top: 1rem;
  }

  .img-wrapper {
    width: 100%;

    &.left-align {
      text-align: left;
    }

    &.right-align {
      text-align: right;
    }

    &.full-width {
      width: 100%;
      height: audo;

      & img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &.center {
      text-align: center;
    }
  }

  img {
    &.icon,
    &.icon + figcaption {
      max-width: 100px;
      max-height: 100px;
    }

    &.small,
    &.small + figcaption {
      max-width: 200px;
      max-height: 200px;
    }

    &.medium,
    &.medium + figcaption {
      max-width: 400px;
      max-height: 400px;
    }

    &.large,
    &.large + figcaption {
      max-width: 800px;
      max-height: 800px;
    }
  }
}
