@use "sass:map";
@use "sass:math";

@mixin listing-page-base-styles {
  .listing-header {
    text-align: center;
    margin: 2rem 0;

    h1 {
      margin-top: 0.5rem;

      @include breakpoint(large up) {
        margin-top: 1rem;
      }

      &.listing-header__title--quoted {
        margin: 1rem 0 0;
        position: relative;

        &::before {
          content: "\2018";
        }

        &::after {
          content: "\2019";
        }
      }
    }

    @include breakpoint(large up) {
      margin: 4rem 0;
    }
  }

  .listing-content {
    &__section {
      &-heading {
        @include mofo-text-style($header-styles, "h4", $header-font-family);

        margin-top: 0;
        margin-bottom: 2rem;

        @include breakpoint(large up) {
          margin-bottom: 4rem;
        }
      }

      &-divider {
        margin-bottom: 4rem;
      }

      ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        li {
          list-style: none;
        }
      }
    }

    &__item {
      margin-bottom: 2rem;

      @include breakpoint(large up) {
        margin-bottom: rem-calc(38);
      }
    }
  }

  .listing-content__section:last-of-type
    > ul
    > .listing-content__item:last-child {
    margin-bottom: rem-calc(86);
  }

  .page-card {
    $image-hover-scale: 105%;

    align-items: center;

    &__media-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include breakpoint(large up) {
        align-self: center;
        flex-direction: row;
        gap: 2rem;
      }
    }

    &__published-date {
      @include mofo-text-style($label-text-styles, "regular");

      @include breakpoint(large up) {
        width: rem-calc(150);
        align-self: center;
      }
    }

    &__image-wrapper {
      border-top-right-radius: 32px;
      border-bottom-left-radius: 32px;
      overflow: hidden;
      background: color(orange, "300");
      display: block;
      position: relative;
      width: 100%;
      aspect-ratio: math.div(3, 2);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.5s ease;
      }

      &:hover {
        img {
          transform: scale($image-hover-scale);
        }
      }
    }

    &__meta-wrapper {
      display: flex;
    }

    &__meta {
      align-self: center;
      margin: 1rem 0;
    }

    &__tags {
      margin-bottom: 1rem;

      @include breakpoint(large up) {
        margin: 1rem 0;
      }
    }

    &__title {
      @include mofo-text-style($header-styles, "h5", $header-font-family);

      margin: 0;

      a {
        text-decoration: none;
        color: map.get($mofo-colors, black);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__description {
      @include text-line-clamp(3);

      margin: 1rem 0;

      @include breakpoint(large up) {
        margin: 0.5rem 0 1rem;
      }
    }
  }
}
