@import "../../scss/foundation-framework-styles";

// Our custom variables and base styles
@import "../../scss/colors";
@import "../../scss/type";

// Homepage Specific Blocks
@import "../blocks/hero_accordion";

// Homepage Specific Components
@import "../components/home_page/kinetic_type_wordmark";
@import "../components/home_page/kinetic_type_brand_line";
