@use "sass:map";
@use "sass:math";

@import "../redesign_base";

body.template-search-results {
  .search-summary {
    text-align: center;
    margin: rem-calc(64) 0;

    h2 {
      margin: 0;
    }
  }

  .search-form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
  }

  .search-form {
    display: contents;

    &__input {
      border-radius: 0;
      border: 1px solid $black;
      padding: rem-calc(8) rem-calc(16) rem-calc(8) rem-calc(60);
      background-image: url("/static/foundation_cms/_images/icons/search-black.svg");
      background-repeat: no-repeat;
      background-position: left rem-calc(24) center;
      background-size: rem-calc(16) rem-calc(16);
      flex: 1 1 auto;
      min-width: 0;

      &::placeholder {
        color: color(neutral, "400");
      }

      &:focus-visible {
        outline: 2px solid color(orange, "300");
      }
    }

    &__submit-button {
      line-height: 1.5;
      margin: 0 !important;

      &:focus-visible {
        outline: 2px solid color(orange, "300");
      }

      .btn-primary__roller {
        display: none;

        @include breakpoint(medium up) {
          display: inline-block;
        }
      }
    }
  }

  .search-results {
    margin: rem-calc(64) 0;
    padding: 0;
    list-style-type: none;

    &__item {
      margin-bottom: 2rem;
    }

    .page-card {
      $image-hover-scale: 105%;

      gap: 1rem 0;

      &__image-wrapper {
        border-top-right-radius: 32px;
        border-bottom-left-radius: 32px;
        overflow: hidden;
        background: color(neutral, "200");
        aspect-ratio: math.div(3, 2);
        display: block;
        align-self: center;
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }

        &:hover {
          img {
            transform: scale($image-hover-scale);
          }
        }
      }

      &__meta-wrapper {
        display: flex;
      }

      &__meta {
        margin: 0;
      }

      &__tags {
        margin: 0 0 1rem;

        @include breakpoint(medium up) {
          margin: 0 0 1.5rem;
        }
      }

      &__title {
        @include mofo-text-style($header-styles, "h4", $header-font-family);

        // @include text-line-clamp(2);

        margin: 0 0 1rem;

        a {
          text-decoration: none;
          color: map.get($mofo-colors, black);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__author,
      &__date {
        @include mofo-text-style($body-text-styles, "small");
      }

      &__description {
        // @include text-line-clamp(3);

        margin: 0.5rem 0;
        @include breakpoint(medium up) {
          margin: 1.5rem 0 1rem;
        }
      }
    }
  }
}
