@use "sass:map";
@use "sass:math";

@import "../../scss/foundation-framework-styles";

// Our custom variables and base styles
@import "../../scss/colors";
@import "../../scss/type";

body.topic-listing-page {
  .topic-info {
    text-align: center;
    margin: 4rem 0;

    h1 {
      margin: 1rem 0 0;
      position: relative;

      &::before {
        content: "\2018";
      }

      &::after {
        content: "\2019";
      }
    }
  }

  .topic-listing {
    &__section {
      &-heading {
        @include mofo-text-style($header-styles, "h4", $header-font-family);

        margin-top: 0;
        margin-bottom: 4rem;
      }

      &-divider {
        margin-bottom: 4rem;
      }

      ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        li {
          list-style: none;
        }
      }
    }

    &__item {
      margin-bottom: 4rem;
    }
  }

  .topic-card {
    $image-hover-scale: 105%;

    &__image-wrapper {
      border-top-right-radius: 32px;
      border-bottom-left-radius: 32px;
      overflow: hidden;
      background: color(neutral, "200");

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.5s ease;
      }

      &:hover {
        img {
          transform: scale($image-hover-scale);
        }
      }
    }

    &__meta-wrapper {
      display: flex;
    }

    &__meta {
      align-self: center;
    }

    &__tags {
      margin: 1rem 0;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(8);

        li {
          display: inline-block;
        }
      }

      a {
        color: map.get($mofo-colors, black);
        text-decoration: none;
      }
    }

    &__title {
      @include mofo-text-style($header-styles, "h5", $header-font-family);

      margin: 0;

      a {
        text-decoration: none;
        color: map.get($mofo-colors, black);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__description {
      margin: 1rem 0;
    }
  }
}
