{% extends "pages/buyersguide/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags bg_nav_tags mini_site_tags %}

{% block hero %}{% endblock hero %}

{% block body_id %}consumer-creepometer-page-{{ page.year }}{% endblock body_id %}

{% block nav_search_wrapper %}{% endblock nav_search_wrapper %}

{% block category_nav %}{% endblock category_nav %}

{% block main_content_class %}{% endblock main_content_class %}

{% block guts %}
    {% if page.year == "2023" %}
        {% include "../pages/consumer_creepometer_page_2023.html" %}
    {% endif %}
{% endblock guts %}
