{% with wrapper_class="tw-py-[120px]" h1_class="w-text-[48px] tw-leading-[56px] tw-font-semibold tw-font-zilla" %}

  <div class="{{wrapper_class}}">
    <div class="tw-container">
      <div class="tw-row tw-px-8">
        <div class="tw-w-5/6 tw-px-8">
          <h1 class="tw-font-normal tw-font-zilla tw-text-[80px] tw-leading-none tw-mb-24">Welcome to Mozilla’s first-ever <strong class="tw-font-semibold">Annual Consumer Creep-O-Meter</strong></h1>
          <p class="tw-font-light tw-font-zilla tw-text-[40px] tw-leading-[48px]">
            In 2023, the state of our digital privacy is <strong class="tw-relative after:tw-bottom-10 after:tw-right--29 after:tw-absolute after:tw-border-0 after:tw-block after:tw-w-38 after:tw-h-26 after:tw-bg-transparent after:tw-rounded-bl-[50%] after:tw-rounded-br-[50%] after:tw-shadow-lg after:tw--ml-21 after:tw-mt-9 after:tw-content-[''] tw-block tw-text-center tw-font-sans tw-text-[80px] tw-leading-none tw-font-extrabold tw-max-w-[75%] tw-my-24 tw-px-[100px] tw-py-12 tw-bg-blue-05 tw-rounded-3xl">very creepy!</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="tw-relative -tw-top-[100px] tw-h-[250px] tw-py-[120px] after:tw-content-[''] after:tw-block after:tw-left-0 after:tw-right-0 after:tw-h-12 after:tw-bg-gradient-to-r after:tw-from-[#0000FF] after:tw-to-[#FF506E]">
      <div class="tw-absolute tw-top-1/2 tw-right-[30%] tw-transform tw--translate-y-1/2 tw-w-[250px] tw-h-[250px] tw-bg-[#fab01b] tw-rounded-full"></div>
    </div>
  </div>

  <div class="tw-container tw-mb-[120px]">
    <div class="tw-row tw-justify-end tw-px-8">
      <div class="tw-w-2/3">
        <p class="tw-text-[28px] tw-leading-[36px] tw-mb-0">In numbers, that translates to xx/100, with 100 being the most creepy. Our annual benchmark measures the current state of digital privacy — and what direction it’s trending.</p>
      </div>
    </div>
  </div>

  <div class="{{wrapper_class}} tw-bg-[#F4F4F4]">
    <div class="tw-container">
      <div class="tw-row tw-px-8">
        <div class="tw-w-1/2 tw-px-8">
          <h2 class="{{ h1_class }}">Determine your Digital Privacy Footprint</h2>
        </div>
        <div class="tw-w-1/2 tw-px-8">
          <p>In addition to the Annual Consumer Creep-O-Meter score, you can also take a quiz to determine your own privacy footprint.</p>
          <p>Below, select which popular products you own. We’ll weigh their privacy features and flaws, then show how well or poorly your devices and apps protect your personal information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="{{wrapper_class}} tw-container">
    <div class="tw-row tw-px-8 tw-justify-center tw-text-center">
      <h2 class="tw-w-5/6 tw-font-light tw-font-zilla tw-text-[40px] tw-leading-[48px] tw-mb-24">Mozilla’s Annual Consumer Creep-O-Meter distills what’s good, what’s bad, and what’s just plain creepy in the world of consumer tech.</h2>
      <div class="tw-w-4/6">
        <p class="tw-text-[20px] tw-leading-[30px] tw-font-light tw-mb-16">Since 2017, Mozilla has published xx editions of *Privacy Not Included, our consumer tech buyers guide. We’ve reviewed over 500 gadgets, apps, cars, and more, assessing their security features, what data they collect, and who they share that data with.</p>
        <p class="tw-text-[20px] tw-leading-[30px] tw-font-light">In 2023, we compared our most recent findings with those of the past five years. It quickly became clear that products and companies are collecting more personal data than ever before — and then using that information in shady ways.</p>
      </div>
    </div>
  </div>

  <div class="tw-h-[1000px] {{ wrapper_class }} tw-bg-gradient-to-b tw-from-white tw-via-yellow-05 tw-to-white">
    <div class="tw-container">
      <div class="tw-row tw-px-8">
        <div class="tw-w-full">
          <h2>Big Picture Trends Section</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="tw-h-[1000px] {{ wrapper_class }} tw-bg-gradient-to-b tw-from-white tw-via-red-05 tw-to-white">
    <div class="tw-container">
      <div class="tw-row tw-px-8">
        <div class="tw-w-full">
          <h2>Best & Worst Products Section</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="tw-h-[1000px] {{ wrapper_class }} tw-bg-gradient-to-b tw-from-white tw-via-blue-10 tw-to-white">
    <div class="tw-container">
      <div class="tw-row tw-px-8">
        <div class="tw-w-full">
          <h2>By The Numbers Section</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="tw-h-[1000px] {{ wrapper_class }} tw-container">
    <div class="tw-row tw-px-8">
      <div class="tw-w-full">
        <h2>Stay in Control Section</h2>
      </div>
    </div>
  </div>

  <div class="tw-h-[1000px] {{ wrapper_class }} tw-bg-gradient-to-b tw-from-white tw-to-blue-10">
    <div class="tw-container">
      <div class="tw-row tw-px-8">
        <div class="tw-w-full">
          <h2>Outro Section</h2>
        </div>
      </div>
    </div>
  </div>

{% endwith %}
