{% extends "mozfest/mozfest-base.html" %}

{% load i18n environment_prefix %}

{% block page_title %}
  {% environment_prefix %}
  {% blocktrans %}Mozilla Festival - Page Not Found{% endblocktrans %}
{% endblock %}

{% block body_id %}{% endblock %}

{% block wagtail_metadata %}{% endblock %}

{% block primary_nav %}
<div class="primary-nav-container">
    <div class="wrapper-burger">
        <div class="menu-container">
            <div class="narrow-screen-menu hidden d-lg-none">
                <div class="narrow-screen-menu-background">
                    <div class="narrow-screen-menu-container">
                        <nav class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="nav-links pt-3">
                                        <div><a class="" href="https://www.mozillafestival.org/">{% trans "Home" %}</a></div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <nav class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div id="primary-nav-links">
                                <div class="d-flex align-items-center flex-wrap">
                                    <button class="burger d-lg-none ml-md-0">
                                        <div class="burger-bar burger-bar-top"></div>
                                        <div class="burger-bar burger-bar-middle"></div>
                                        <div class="burger-bar burger-bar-bottom"></div>
                                    </button>
                                    <a class="logo text-hide" href="https://www.mozillafestival.org/">{% trans "Home" %}</a>
                                </div>
                            </div>
                            <a class="btn btn-secondary" href="/proposals">{% trans "Submit proposal" %}</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock%}

{% block hero_guts %}{% endblock %}

{% block content %}
    <div class="py-4 my-4">
    {% include "partials/404.html" with email="info@mozillafestival.org" %}
    </div>
{% endblock %}

{% block footer_block %}
  {% include "partials/footer.html" with exclude_language_switcher=True %}
{% endblock %}
