{% load static %}
<div class="tw-mb-6 last:tw-mt-6 tw-relative {% if not page.use_wide_template and page.signup %} tw-px-4 medium:tw-pl-0 medium:tw-mr-[calc(50%-50vw-33.3%)]{% else %} tw-container {% endif %}">

  {# Slider main container #}
  <div class="swiper tw-overflow-hidden" data-carousel>

    {# navigation buttons #}
    {% include 'fragments/carousel/carousel_navigation.html' %}

    {# Additional required wrapper #}
    <div class="swiper-wrapper">

      {# Slides #}
      {# TODO: Replace with BE variables #}
      {% for i in "1234"|make_list %}
        <div class="swiper-slide">
          {% include 'fragments/event_card.html' with title='The Narrative Future of AI' category_url='#' category_title='Working Groups' cta_text='Add to Calendar' cta_url='#' image='https://via.placeholder.com/600x250' text='Lorem Khaled Ipsum is a major key to success. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel.' %}
        </div>
      {% endfor %}
    </div>

    {# Pagination #}
    <div class="swiper-pagination tw--bottom-7 medium:tw-hidden"></div>

  </div>
</div>
