{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags card_tags wagtailmetadata_tags multi_image_tags %}

{% block bodyclass %}mozfest{% endblock %}

{% block pageTitle %}
    Mozfest - {% if page.specifics.seo_title %}{{ page.specifics.seo_title }}{% else %}{{ page.title }}{% endif %}
{% endblock %}

{% block bodyID %}mozfest-{% block mozfestBodyId %}home{% endblock %}{% endblock %}

{% block donate %}
    <!-- nothing right now -->
{% endblock %}


{% block primaryNav %}
    {% include "partials/primary_mozfest_nav.html" with background="simple-background" %}
{% endblock %}


{% block heroGuts %}
  {% include "partials/primary_heroguts.html" with root=root page=page %}
{% endblock %}


{% block content %}
  {% block secondary_nav %}{% endblock %}

  <div class="container cms">
    <div class="row my-1 d-flex align-items-center">
      <div class="pb-5 {% if page.specific.narrowed_page_content %}col-lg-8 offset-lg-2{% else %}col-12{% endif %}">
        {% for block in page.body %}
          {% if block.block_type == 'heading' %}
            <h1>{{ block.value }}</h1>
          {% else %}
            {% include_block block %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}


{% block footer_block %}
    {% include "partials/mozfest_footer.html" %}
{% endblock %}


{% block script_bundle %}
  {# This uses the mofo main.js for now, to make sure "things work" until we (maybe never?) create a separate bundle #}
  <script src="/_js/main.compiled.js"></script>
{% endblock %}
