{% load static %}
<div class="tw-mb-6 last:tw-mt-6 tw-relative {% if not page.use_wide_template and page.signup %} tw-px-4 medium:tw-pl-0 medium:tw-mr-[calc(50%-50vw-33.3%)]{% else %} tw-container {% endif %}">

  {# Slider main container #}
  <div class="swiper tw-overflow-hidden" data-carousel>

    {# navigation buttons #}
    {% include 'fragments/carousel/carousel_navigation.html' with title=value.title %}

    {# Additional required wrapper #}
    <div class="swiper-wrapper">

      {# Slides #}
      {% for item in self.session_items %}
        {% image item.image fill-250x140 as img %}
        <div class="swiper-slide">
          {% include 'fragments/session_card.html' with title=item.title url=item.video.url image=img.url text=item.body animated_thumbnail=item.animated_thumbnail %}
        </div>
      {% endfor %}

    </div>

    {# Pagination #}
    <div class="swiper-pagination tw--bottom-7 medium:tw-hidden"></div>

  </div>
</div>
