{% load static %}
<div class="tw-container mb-4">

  {# Slider main container #}
  <div class="swiper overflow-hidden" data-carousel>

    {# navigation buttons #}
    {% include 'fragments/carousel_navigation.html' with title='testing this title' %}

    {# Additional required wrapper #}
    <div class="swiper-wrapper">
      {# Slides #}
      <div class="swiper-slide">
        {% include 'fragments/session_card.html' with title='Session Title 1' url='#' image='https://via.placeholder.com/244x137' text='Lorem Khaled Ipsum is a major key to success. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel.' %}
      </div>
         <div class="swiper-slide">
        {% include 'fragments/session_card.html' with title='Session Title 1' url='#' image='https://via.placeholder.com/244x137' text='Lorem Khaled Ipsum is a major key to success. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel.' %}
      </div>
         <div class="swiper-slide">
        {% include 'fragments/session_card.html' with title='Session Title 1' url='#' image='https://via.placeholder.com/244x137' text='Lorem Khaled Ipsum is a major key to success. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel.' %}
      </div>
    </div>
    {# Pagination #}
    <div class="swiper-pagination"></div>

  </div>
</div>
