{% extends "./campaign_page.html" %}

{% block subcontent %}
    {% include "./fragments/app_install_hero.html" %}
    {{ block.super }}
{% endblock subcontent %}

{% block html_content_desktop %}
    {% include "./fragments/campaign_main_body.html" with page=page class="tw-block" %}
{% endblock html_content_desktop %}

{% block campaign_page_header %}
{% endblock campaign_page_header %}

{% block campaign_page_menu %}
{% endblock campaign_page_menu %}

{% block html_content_mobile %}
{% endblock html_content_mobile %}

{% block cta_sticky_button %}
{% endblock cta_sticky_button %}
