{% extends "pages/base.html" %}
{% load wagtailcore_tags %}

{% block content %}

  {{ page.title }}
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8 col-12">
        {% for block in page.body %}
          {% include_block block %}
        {% endfor %}
        {% comment %} {{ page.body }} {% endcomment %}
      </div>
    </div>
  </div>

  {% if page.footnotes_list %}
    <div class="container footnotes">
      <div class="row">
        <div class="col-sm-8 offset-2">
          <h3 class="footnotes-title">Footnotes</h3>
          {% for footnote in page.footnotes_list %}
            <div class="footnote-row d-flex" id="footnote-{{ forloop.counter }}">

                <a href="#footnote-source-{{ forloop.counter }}" class="footnote-number mr-3" aria-label="Back to content">
                  [{{ forloop.counter }}]
                </a>
                <a href="#footnote-source-{{ forloop.counter }}" class="footnote-text" aria-label="Back to content">
                  {{ footnote.text|richtext }}
                </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="article-prev-next">
    <div class="container">
      <div class="row d-flex">
        <div class="col-sm-6 text-sm-right article-prev article-prev-arrow">
          {% if page.prev_page %}
            <small class="prev-next-text">Previous</small>
            <a href="{{ page.prev_page.url }}" class="article-prev-next-link">
              {{ page.prev_page.title }}
            </a>
          {% endif %}
        </div>
        <div class="col-sm-6 article-next article-next-arrow">
          {% if page.next_page %}
            <small class="prev-next-text">Next</small>
            <a href="{{ page.next_page.url }}" class="article-prev-next-link">
              {{ page.next_page.title }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
