{% extends "pages/base.html" %}
{% load wagtailcore_tags i18n %}

{% block primary_nav %}
  {{ block.super }}
  {% include "fragments/article_subnav.html" %}
{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 col-12 article-blocks">

        {% if page.get_titles %}
          {# If there are h2s in the body of this page, show the article "table of contents" #}
          <div class="article-summary">
            <div class="article-summary-title">{% trans 'SUMMARY' %}</div>
            <div class="article-links">
              {% for slug, header in page.get_titles %}
                <a href="#{{ slug }}" class="article-summary-link">{{ header }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% for block in page.body %}
          {% comment %}
            `is_last` is used to determine if a streamfield should close
            after breaking out of its parent container
          {% endcomment %}
          {% include_block block with is_last=forloop.last %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% if page.footnotes_list %}
    <div class="container footnotes">
      <div class="row">
        <div class="col-sm-10 offset-1">
          <h3 class="footnotes-title">{% trans 'Footnotes' %}</h3>
          {% for footnote in page.footnotes_list %}
            <div class="footnote-row d-flex" id="footnote-{{ forloop.counter }}">
              <a href="#footnote-source-{{ forloop.counter }}" class="footnote-number mr-3" aria-label="Back to content">
                [{{ forloop.counter }}]
              </a>
              <a href="#footnote-source-{{ forloop.counter }}" class="footnote-text" aria-label="Back to content">
                {{ footnote.text|richtext }}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="article-prev-next">
    <div class="container">
      <div class="row d-flex">
        <div class="col-sm-6 text-right article-prev article-nav-arrow article-nav-arrow--left">
          {% if page.prev_page %}
            <small class="prev-next-text">{% trans 'Previous' %}</small>
            <a href="{{ page.prev_page.url }}" class="article-prev-next-link">
              {{ page.prev_page.title }}
            </a>
          {% endif %}
        </div>
        <div class="col-sm-6 article-next article-next-arrow article-nav-arrow article-nav-arrow--right">
          {% if page.next_page %}
            <small class="prev-next-text">{% trans 'Next' %}</small>
            <a href="{{ page.next_page.url }}" class="article-prev-next-link">
              {{ page.next_page.title }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
