{% extends "pages/base.html" %}
{% load wagtailcore_tags i18n %}

{% block body_id %}article{% endblock %}

{% block primary_nav %}
  {{ block.super }}
  {% include "fragments/article_subnav.html" %}
{% endblock %}


{% block content %}

  {% include "./fragments/publication_hero.html" with size="small" download_file=page.article_file %}

  <div class="container{% if not get_titles %} mt-5{% endif %}">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 col-12 article-blocks">

        {% if get_titles %}
          {# If there are h2s in the body of this page, show the article "table of contents" #}
          <div class="article-summary">
            <div class="article-summary-share-links d-lg-block d-none">
              <div class="share-button-group-wrapper" data-version="mini" data-layout="stacked" data-share-text="{% blocktrans with title=page.title %}{{ title }} by @mozilla{% endblocktrans %}" data-link="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"></div>
            </div>
            <div class="article-summary-title">{% trans "SUMMARY" %}</div>
            <div class="article-links d-flex flex-wrap">
              {% for slug, header in get_titles %}
                <a href="#{{ slug }}" class="article-summary-link">{{ header }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% for block in page.body %}
          {% comment %}
            `is_last` is used to determine if a streamfield should close
            after breaking out of its parent container
          {% endcomment %}
          {% include_block block with is_last=forloop.last %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% if page.footnotes_list %}
    {% include "fragments/footnotes.html" %}
  {% endif %}

  <div class="container my-5">
    <div class="row pt-5">
      <div class="col-sm-8 offset-sm-2 pt-5">
        <div class="pb-4 share-button-group-wrapper">
          <div class="share-button-group-wrapper d-print-none" data-share-text="{% blocktrans with title=page.title %}{{ title }} by @mozilla{% endblocktrans %}" data-link="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"></div>
        </div>
      </div>
    </div>
  </div>

  {% include "fragments/article_prev_next.html" with prev_page=page.prev_page next_page=page.next_page %}
{% endblock %}
