{% extends "./campaign_page.html" %}
{% load wagtailcore_tags mini_site_tags %}

{% block bodyID %}{% if root.slug %}{{ root.slug }}{% else %}primary{% endif %}{% endblock%}

{% block heroGuts %}
  {% include "./fragments/primary_heroguts.html" with root=root page=page %}
{% endblock %}

{% block campaign_page_header %}{% endblock %}
{% block campaign_page_menu %}{% endblock %}

Note: Wrapper HTML elements are copied from primary_page_menu.html as we want menu on BanneredCampaignPage to look exactly the same as PrimaryPage's.

{% block minisite_title %}
  <div id="multipage-nav-wrapper" class="hidden-sm-down full-width mb-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% mini_site_horizontal_nav page %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
