{% extends "./index_page.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n %}


{% block rss_metadata %}
  <link rel="alternate" type="application/rss+xml" href="{% url 'rss-feed' %}" />
{% endblock %}


{% block featured %}
  {% if not filtered %}
    <div class="row">
      {%  for feature in page.specific.featured_pages.all %}
      <div class="col-12 col-md-6 mb-5">
        <div class="card-regular h-100 d-flex flex-column">
          {% include "./fragments/blog_index_feature.html" with blog=feature.blog %}
        </div>
      </div>
      {% endfor %}
    </div>

    {%  for video_post in page.specific.featured_video_post.all %}
      {% include "./fragments/blog_index_featured_video_post.html" with blog_page=video_post.blog_page video_url=video_post.video_url %}
    {% endfor %}

  {% endif %}
{% endblock %}

{% block subcontent %}
  {% if not filtered %}
    <h2 class="tw-uppercase tw-text-3xl tw-font-bold tw-font-sans tw-text-gray-80 tw-mb-5">{% trans "Latest Blog Posts" %}</h2>
    <div class="row">
      {% include "./fragments/entry_cards_with_related_topics_callout.html" %}
    </div>
  {% else %}
    <div class="row">
      {% include "./fragments/entry_cards.html" %}
    </div>
  {% endif %}
{% endblock %}

{% block newsletter-callout-box %}
  {% if not filtered %}
    {% include "./fragments/newsletter-signup-box.html" with show_socials=True %}
  {% endif %}
{% endblock %}
