{% extends "./blog_index_page.html" %}

{% load i18n %}

{% block index_header %}
    <div class="tw-col-span-12 large:tw-col-span-8 tw-mt-8">

        {% include "./fragments/blog_breadcrumbs.html" %}

        <h1>{% trans "Search blog" context "Title of the blog search results page" %}</h1>
        <form action="" method="get" class="my-4">
            {% trans "Search all blog" context "Blog search bar" as placeholder_text %}

            {% include "wagtailpages/fragments/blog_search_bar.html" with name="q" search_query=query %}

        </form>
    </div>
{% endblock %}

{% block featured %}{% endblock %}

{% block subcontent %}
    {% if entries %}
        <ul id="index-entries"
            class="tw-divide-y tw-divide-gray-20 tw-flex tw-flex-col tw-gap-12 tw-list-none tw-px-[15px]">

            {% include "wagtailpages/fragments/blog_search_item_loop.html" with entries=entries %}

        </ul>
    {% else %}
        <div class="col-12 tw-my-48 large:tw-my-64">

            {% include "wagtailpages/fragments/blog_search_no_results.html" %}

        </div>
    {% endif %}
{% endblock subcontent %}

{% block newsletter-callout-box %}
{% endblock newsletter-callout-box %}
