{% extends "./modular_page.html" %}

{% load wagtailcore_tags mini_site_tags i18n %}

{% block bodyID %}blog{% endblock %}

{% block subcontent %}
  <div class="offset-lg-1 col-lg-1 py-4 py-md-5 text-center">
    <div class="blog-sticky-side hidden-md-down"">
      <div class="share-button-group-wrapper" data-version="mini" data-layout="stacked" data-share-text="{% blocktrans with title=page.title %}{{ title }} by @mozilla{% endblocktrans %}" data-link="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"></div>
    </div>
  </div>
  <div class="py-4 py-md-5 col-lg-8">
    <div class="cms">
      <h1 class="h1-heading">{{ page.title }}</h1>
      <p class="h6-heading mb-5">{% blocktrans with author=page.author %}By {{ author }}{% endblocktrans %} | {% if page.first_published_at %}{{ page.first_published_at|date:"F j, Y" }}{% else %}not published yet{% endif %}</p>
      <div class="blog-body">
        {{ page.body }}
        <div class="share-button-group-wrapper mt-5" data-share-text="{% blocktrans with title=page.title %}{{ title }} by @mozilla{% endblocktrans %}" data-link="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"></div>
      </div>
    </div>
    {% include "./fragments/post_tags.html" %}
  </div>
{% endblock %}

{% block prefooter %}
  {% include "./fragments/related_posts.html" %}
{% endblock %}
