{% extends "./modular_page.html" %}
{% load wagtailimages_tags %}

{% block subcontent %}
  <div class="tw-bg-white -tw-ml-4 small:tw-ml-0 -tw-mt-6 tw-pb-5 medium:tw-pb-6 large:tw-pb-7 tw-pl-4 small:tw-pr-4 tw-pt-4 medium:tw-pt-5 large:tw-pt-7 large:tw-px-5 tw-w-auto">
    <div
    id="info"
    class="
      tw-gap-4
      tw-grid
      tw-grid-cols-1
      {% if author.image %}
        medium:tw-gap-x-7
        medium:tw-grid-cols-[13rem_1fr]
        large:tw-grid-cols-[16rem_1fr]
      {% endif %}
    "
  >
    <div
      {% if author.image %}
        class="medium:tw-col-start-2"
      {% endif %}
    >
      {% include './fragments/research_breadcrumb.html' with breadcrumb_list=breadcrumbs %}
    </div>
    {% if author.image %}
      <div id="image-container" class="tw-place-self-center medium:tw-place-self-start">
        {% image author.image fill-256x256 as img_1x %}
        {% image author.image fill-512x512 as img_2x %}
        <img srcset="{{ img_1x.url }}, {{ img_2x.url }} 2x" src="{{ img_2x.url }}" width="{{ img_2x.width }}" height="{{ img_2x.height }}"  alt="{{ img_2x.alt }}" class="tw-rounded-full tw-w-[13rem] large:tw-w-[16rem]" />
      </div>
    {% endif %}
    <div id="bio">
      <h1 class="tw-mb-4">{{ author.name }}</h1>
      <div class="tw-mb-4 tw-text-lg tw-text-gray-60">
        {{ author.tagline }}
      </div>
      <p class="tw-text-lg">
        {{ author.introduction }}
      </p>
    </div>
  </div>
{% endblock subcontent %}

{% block footer_block %}
  {% include "partials/footer.html" with skip_donate=False %}
{% endblock %}
