{% extends "./mini_site_name_space.html" %}
{% load wagtailcore_tags mini_site_tags i18n %}

{% comment %}
  Note: we don't want the donation modal to pop up on
  pages with petitions, for specifically for campaign
  pages, we blank out the donation block.
{% endcomment %}

{% block subcontent %}
<div class="tw-container">
  <div class="tw-row">
    <div class="
      {% block content_wrapper_class %}tw-py-5 medium:tw-py-7{% endblock %}
      {% if page.specific.narrowed_page_content %}
        tw-w-8/12 tw-mx-auto tw-px-4
      {% else %}
        tw-w-full tw-px-4
      {% endif %}"
    >
      <div class="tw-row">
          <div class="cms tw-pb-4
            {% if page.cta and page.specific.narrowed_page_content == False %}
              large:tw-w-7/12 tw-px-4
            {% elif page.signup and page.specific.narrowed_page_content == False %}
              large:tw-w-7/12 tw-px-4
            {% else %}
              tw-w-full tw-px-4
            {% endif %}"
          >
          {% block campaign_page_header %}
            <h1 class="h1-heading {% if uses_menu %}tw-hidden medium:tw-block{% endif %}">
              {% if uses_menu %}
                {{ mini_site_title }}
              {% elif page.header %}
                {{ page.header }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </h1>
          {% endblock %}
          {% block campaign_page_menu %}
            <div class="tw-mb-5 tw-hidden medium:tw-block">
            {% mini_site_horizontal_nav page %}
            </div>
          {% endblock %}
          {% block html_content %}
          <div class="cms campaign-page-content wide">
            {% for block in page.body %}
                {% include_block block with parent_page=page %}
            {% endfor %}
          </div>
          {% endblock %}
          </div>

          {% block cta %}
          {% if page.cta != None %}
          <div class="cta tw-pb-2
            {% if page.specific.narrowed_page_content == False %}
              large:tw-w-4/12 large:tw-ml-[8.3%] tw-px-4
            {% else %}
              tw-w-full
            {% endif %}"
          >
            <div class="narrow-sticky-button-container hidden">
              <a href="#cta-anchor" class="btn btn-primary tw-block">{% trans "TAKE ACTION" context "Sticky button in mobile view on campaign pages" %}</a>
            </div>
            <div class="tw-sticky tw-top-[5rem] tw-overflow-hidden tw-z-[1018]">
              <div id="cta-anchor" class="tw-mt-[-80px] tw-pt-[80px]">
                {% cta page %}
              </div>
            </div>
            <script src="https://c.shpg.org/352/sp.js"></script>
          </div>
          {% endif %}
          {% endblock %}

          <div class="
            {% if page.cta and page.specific.narrowed_page_content == False %}
              tw-w-7/12 tw-px-4
            {% elif page.signup and page.specific.narrowed_page_content == False %}
              tw-w-7/12 tw-px-4
            {% else %}
              tw-w-full tw-px-4
            {% endif %}"
          >
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
