{% extends "./mini_site_name_space.html" %}
{% load wagtailcore_tags mini_site_tags %}

{% block subcontent %}
<div class="row">
    <div class="cms{% if page.cta and uses_menu == False %}
        col-md-6
    {% else %}
        col-12
    {% endif %}{% if uses_menu and page.narrowed_page_content %} col-md-9{% endif %}">

      {% block html_content %}
        {% for block in page.body %}
	        {% if block.block_type == 'heading' %}
	            <h1>{{ block.value }}</h1>
	        {% else %}
	            {% include_block block %}
	        {% endif %}
        {% endfor %}
    {% endblock %}
    </div>

    {% if page.cta != None %}
    <div class="cta col-md-6">
        <div class="narrow-sticky-button-container hidden">
          <a href="#cta-anchor" class="narrow-sticky-button btn">TAKE ACTION</a>
        </div>
        <div class="sticky-cta">
          <div id="cta-anchor">
            {% cta page %}
          </div>
        </div>
        <script src="https://c.shpg.org/352/sp.js"></script>
    </div>
    {% endif %}
</div>
{% endblock %}



