{% extends "./modular_page.html" %}

{% load wagtailcore_tags mini_site_tags i18n %}

{% block body_id %}blog-index{% endblock %}

{% block content %}
  <div class="container">
    {% block index_header %}
      <div class="row">
        <div class="col-12 col-md-8 pt-4">
          <h1 class="tw-h1-heading mb-0 mt-1 pt-2">
            {% if index_title %}{{ index_title }}{% elif root.title %}{{ root.title }}{% elif page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}
          </h1>
          {% if index_intro %}
          <div class="tw-body-large mt-3 mb-0">{{ index_intro|safe }}</div>
          {% else %}
          <p class="tw-body-large mt-3 mb-0">{{ page.intro|safe }}</p>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="intro-and-content-divider">
        </div>
      </div>
    {% endblock %}

    {% block featured %}{% endblock %}

    {% if filtered and no_filter_ui != True %}  {# Start of IF for filtered page content. Note that this injects an entire row. #}
    <div class="row mb-4">
      <div class="col-12 d-flex justify-content-between">
        <div class="search-result">
          <h3 class="tw-body result-info">
            {% blocktrans count count=total_entries trimmed %}
                {{ total_entries }} result
            {% plural %}
                {{ total_entries }} results
            {% endblocktrans %}
            {% if total_entries > 0 %} {% trans "for" context "Following “xx results” and followed by searched terms. Full string example: “12 results for Advocacy”" %}
            <ul class="term-list">
            {% for term in terms %}
              <li class="term tw-body-small">{{ term }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          </h3>
        </div>

        <div class="clear-link">
          <a href="{{ root.url }}">{% trans "clear filters" %}</a>
        </div>
      </div>
    </div>

    <div class="index-entries row">
    {% else %}
    <div class="index-entries row mb-4">
    {% endif %}  {# End of IF for filtered page content _after_ starting a new row. #}
      {% block subcontent %}
        {% include "./fragments/entry_cards.html" %}
      {% endblock %}
    </div>

    <div class="row">
      <div class="col-12 text-center mb-5">
        {% if has_more %}
        <button class="tw-btn-primary load-more-index-entries" data-exclude="{{ exclude_pagetype }}" data-page-size="{{ page.specific.page_size }}">
          {% trans "Load more results" %}
        </button>
        {% endif %}

        {# See main.js for the javascript that hooks into this button #}
      </div>
    </div>

    {% block newsletter-callout-box %}{% endblock %}

  </div>
{% endblock %}
