{% extends "./modular_page.html" %}

{% load wagtailcore_tags mini_site_tags i18n %}

{% block body_id %}blog-index{% endblock %}

{% block content %}
  <div class="container">
    {% block index_header %}
      <div class="row">
        <div class="col-12 col-md-8 pt-4">
          <h1 class="tw-h1-heading mb-0 mt-1 pt-2">
            {% if index_title %}{{ index_title }}{% elif root.title %}{{ root.title }}{% elif page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}
          </h1>
          {% if index_intro %}
          <div class="tw-body-large mt-3 mb-0">{{ index_intro|safe }}</div>
          {% else %}
          <p class="tw-body-large mt-3 mb-0">{{ page.intro|safe }}</p>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="intro-and-content-divider">
        </div>
      </div>
    {% endblock %}

    {% block featured %}{% endblock %}

    {% block subcontent %}
      <div class="index-entries row mb-4">
        {% include "./fragments/entry_cards.html" %}
      </div>
    {% endblock %}

    <div class="row">
      <div class="col-12 text-center mb-5">
        {% if has_more %}
        <button class="tw-btn-primary load-more-index-entries" data-exclude="{{ exclude_pagetype }}" data-page-size="{{ page.specific.page_size }}">
          {% trans "Load more results" %}
        </button>
        {% endif %}

        {# See main.js for the javascript that hooks into this button #}
      </div>
    </div>

    {% block newsletter-callout-box %}{% endblock %}

  </div>
{% endblock %}
