{% extends "./modular_page.html" %}

{% load wagtailcore_tags mini_site_tags %}


{% block content %}
{% block minisite_title_mb %}{% endblock %}

{% include "partials/multipage-nav-mobile.html" %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h1-heading mb-0">
        {% if root.title %}{{ root.title }}{% elif page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}
      </h1>
      <p class="body-large mt-3 mb-0">{{ page.intro }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr class="intro-and-content-divider">
    </div>
  </div>

  <div class="row">
    {% block subcontent %}{% endblock %}
  </div>
</div>
{% endblock %}