{% extends "./modular_page.html" %}

{% load wagtailcore_tags mini_site_tags %}


{% block minisite_title_mb %}
  {% if singleton_page == False %}
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <p class="h5-heading hidden-md-up">{{ mini_site_title }}</p>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}


{% block heading_classes %}{% if singleton_page %}py-5 col-12 col-lg-10 offset-lg-1{% else %}py-5 col-12 col-md-9{% endif %}{% endblock %}


{% block mini_site_title %}
  {% if singleton_page == False %}
    <p class="h5-heading hidden-sm-down">{{ mini_site_title }}</p>
  {% endif %}
{% endblock %}


{% block h1 %}
  <h1 class="h1-heading {% if singleton_page == False %}hidden-sm-down{% endif %}">
  {% if page.header %}
    {{ page.header }}
  {% else %}
    {{ page.title }}
  {% endif %}
  </h1>
{% endblock %}


{% block html_content_classes %}{% if singleton_page %}col-12 col-lg-10 offset-lg-1{% else %}col-12 col-md-9{% endif %}{% endblock %}


{% block subcontent %}
  <div class="cms">
    {% for block in page.body %}
      {% if block.block_type == 'heading' %}
        <h1>{{ block.value }}</h1>
      {% else %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}


{% block pre_footer_classes %}{% if singleton_page %}col-12 col-lg-10 offset-lg-1{% else %}col-md-12{% endif %}{% endblock %}
