{% extends "pages/base-compiled.html" %}

{% load wagtailcore_tags mini_site_tags wagtailmetadata_tags %}

{% block socialMetadata %}
    <meta property='og:type' content='website'>
    <meta property='og:locale' content='en_US'>
    {% meta_tags %}
{% endblock %}

{% block page_top_content %}
  {% if page.live == False %}
  <div class="wagtail-draft-warning">
    This is a draft page, and is only visible to users who are logged in to the CMS admin.
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="hidden-md-up" id="multipage-nav-mobile">
    <div class="container">
      <div class="row px-3">
        <div class="col-12"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% mini_site_sidebar page %}

      <div class="{% block heading_classes %}py-5 col-{% if page.specific.narrowed_page_content %}md-8 offset-md-2{% else %}12{% endif %} col-lg-10 offset-lg-1{% endblock %}">
        {% block mini_site_title %}{% endblock %}

        {% block h1 %}{% endblock %}

        {% block subcontent %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-5">
    </div>

    <div class="row my-5">
      <div class="{% block pre_footer_classes %}col-12 col-lg-10 offset-lg-1{% endblock %}">
        {% block signup %}{% endblock %}
        <hr class="my-2">
        <div class="opp-foot d-flex align-items-center"><img class="mr-3" src="/_images/green-20.svg" width="51" height="45">
          <p class="mb-0">This is part of a broader movement for a healthy internet. <a href="/">See more</a>.</p>
        </div>
        <hr class="my-2">
      </div>
    </div>
  </div>
{% endblock %}
