{% extends "pages/base.html" %}

{% load wagtailcore_tags mini_site_tags %}

{% block socialMetadata %}
  {% include "fragments/og_metadata.html" %}
{% endblock %}

{% block page_top_content %}
  {% if page.live == False %}
  <div class="wagtail-draft-warning">
    This is a draft page, and is only visible to users who are logged in to the CMS admin.
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% block minisite_title_mb %}{% endblock %}

  {% include "partials/multipage-nav-mobile.html" %}

  <div class="container">
    <div class="row">
      {% block subcontent %}{% endblock %}
    </div>
  </div>
{% endblock %}
