{% extends "./mini_site_name_space.html" %}
{% load wagtailcore_tags mini_site_tags %}

{% block subcontent %}
    <div class="container">
        <div class="row">
            {% mini_site_sidebar page %}

            <div class="py-4 py-md-5 mb-3
                        {% if page.specific.narrowed_page_content and uses_menu %}
                            col-md-7
                        {% elif page.specific.narrowed_page_content %}
                            col-lg-8 offset-lg-2
                        {% elif uses_menu %}
                            col-md-9
                        {% else %}
                            col-12
                        {% endif %}"
            >
                {% if uses_menu %}
                    <p class="tw-h5-heading d-none d-md-block">{{ mini_site_title }}</p>
                {% endif %}
                <h1 class="tw-h1-heading {% if uses_menu %}d-none d-md-block{% endif %}">
                    {% if page.header %}
                        {{ page.header }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </h1>

                <p><strong>(I'm hacking OpportunityPage type for quick demo purpose)</strong></p>
                <div id="mavis-test" class="tw-w-full tw-my-[100px] tw-flex tw-justify-center">
                    <div class="eyes-container first tw-flex tw-mt-[10px] tw-mr-[60px] tw-hidden medium:tw-flex">
                        <div class="eye left-eye"></div>
                        <div class="eye right-eye"></div>
                    </div>
                    <div class="eyes-container second tw-flex tw-mt-[200px]">
                        <div class="eye left-eye"></div>
                        <div class="eye right-eye"></div>
                    </div>
                    <div class="eyes-container third tw-flex tw-mt-[50px] tw-ml-[60px] tw-hidden medium:tw-flex">
                        <div class="eye left-eye"></div>
                        <div class="eye right-eye"></div>
                    </div>
                    <style>
                        .eyes-container.first {
                            transform: scale(0.8);
                        }
                        .eyes-container.second {
                            transform: scale(1.2);
                        }
                        .eyes-container.third {
                            transform: scale(0.5);
                        }
                        .eye {
                            position: relative;
                            width: 100px;
                            height: 100px;
                            display: block;
                            background-color: #fff;
                            margin: 0 10px;
                            border-radius: 50%;
                            box-shadow: inset 0 0 5px #888, inset 0 0 15px #888;
                        }
                        .eye:before {
                            content: "";
                            top: 50%;
                            left: 35px;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -moz-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            -o-transform: translate(-50%, -50%);
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: #000;
                            position: absolute;
                            border: 10px solid #7c5032;
                            box-sizing: border-box;
                        }

                        .eyes-container.first .eye:before {
                            border-color: #5d7091;
                        }

                        .eyes-container.third .eye:before {
                            border-color: #5e8863;
                        }
                    </style>
                    <script>
                        document.querySelector("body").addEventListener("mousemove", function(event) {

                            document.querySelectorAll(".eye").forEach(function(eye) {
                                var x = eye.getBoundingClientRect().left + (eye.clientWidth / 2);
                                var y = eye.getBoundingClientRect().top + (eye.clientHeight / 2);
                                var radian = Math.atan2(event.pageX - x, event.pageY - y);
                                var rotate = (radian * (180 / Math.PI) * -1) + 270;
                                var rotateStyleRule = "rotate(" + rotate + "deg)";

                                eye.style.webkitTransform = rotateStyleRule;
                                eye.style.MozTransform = rotateStyleRule;
                                eye.style.msTransform = rotateStyleRule;
                                eye.style.transform = rotateStyleRule;
                            });
                        });
                    </script>
                </div>

                <div class="cms opportunity-page-content">
                    {% for block in page.body %}
                        {% include_block block with parent_page=page %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
