{% extends "./mini_site_name_space.html" %}
{% load wagtailcore_tags mini_site_tags %}

{% block signup %}
	{% if page.cta %}
    {% cta page %}
	{% endif %}
{% endblock %}

{% block subcontent %}
  {% mini_site_sidebar page %}

  <div class="py-4 py-md-5
    {% if page.specific.narrowed_page_content and uses_menu %}
      col-md-7
    {% elif page.specific.narrowed_page_content %}
      offset-md-2
      col-md-8
    {% elif uses_menu %}
      col-md-9
    {% else %}
      col-md-12
    {% endif %}"
  >
    {% if uses_menu %}
    <p class="h5-heading hidden-sm-down">{{ mini_site_title }}</p>
    {% endif %}
    <h1 class="h1-heading {% if uses_menu %}hidden-sm-down{% endif %}">
      {% if page.header %}
        {{ page.header }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    <div class="cms">
      {% for block in page.body %}
        {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
        {% else %}
          {% include_block block %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
