{% extends "./primary_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block bodyID %}people{% endblock%}

{% block content %}
<div class="container">
    <div class="row my-5">
      <div class="col-sm-4"><img class="mb-3 mb-md-0" src="https://assets.mofoprod.net/network/images/highlights/global-sprint_1521670954.jpg"></div>
      <div class="col-sm-8">
        <h2 class="h4-light-black">Global Sprint</h2>
        <p class="body-black">Mozilla’s Global Sprint brings together coders, scientists, artists, students, educators and activists to collaborate on open-source projects that make the internet a better, healthier place.</p><a class="cta-link" href="https://foundation.mozilla.org/opportunity/global-sprint">Join the sprint</a>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-4"><img class="mb-3 mb-md-0" src="/_images/upcoming/images-upcoming-fellowships@2x.jpg"></div>
      <div class="col-sm-8">
        <h2 class="h4-light-black">Fellowships that Empower Leaders</h2>
        <p class="body-black">Mozilla Fellowships provide resources, tools, community and amplification to those building a more ​humane​ ​digital​ ​world. Mozilla Fellowships are a transformative experience for emerging leaders concerned with making the internet a safer, more accessible resource for everyone.</p><a class="cta-link" href="https://foundation.mozilla.org/fellowships">Learn more and apply</a>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-4"><img class="mb-3 mb-md-0" src="/_images/upcoming/images-upcoming-internet-health-report@2x.jpg"></div>
      <div class="col-sm-8">
        <h2 class="h4-light-black">Internet Health Report</h2>
        <p class="body-black">Is the Internet getting healthier? Is it under threat? Do we all have a voice on the web? Mozilla’s Internet Health Report is an open source initiative that combines research from multiple sources to document what’s healthy and unhealthy.</p><a class="cta-link" href="https://internethealthreport.org/">Read the report</a>
      </div>
    </div>
  </div>

<div class="join-us full-width d-flex justify-content-center"></div>
{% endblock %}
