{% extends "./modular_page.html" %}
{% load wagtailcore_tags wagtailimages_tags primary_page_tags %}

{% block body_id %}{% if root.slug %}{{ root.slug }}{% else %}primary{% endif %}{% endblock%}

{% block primary_nav %}
  {% include "partials/primary_nav.html" %}
{% endblock %}

{% block hero_guts %}
  {% include "./fragments/primary_heroguts.html" with root=root page=page %}
{% endblock %}

{% block content %}
  {% include "partials/multipage_nav_mobile.html" %}

  {% primary_page_menu page %}


  <div class="cms">
    {% for block in page.body %}
      {% if block.block_type == 'paragraph'%}
        <div class="container {{block.block_type}}-block">
          <div class="row justify-content-center">
            <div class="{% if page.specific.narrowed_page_content %} col-lg-8 {% else %} col-12 {% endif %}">
              {% if block.block_type == 'heading' %}
                <h1>{{ block.value }}</h1>
              {% else %}
                {% include_block block%}
              {% endif %}
            </div>
          </div>
        </div>
      {% else %}
        {% include_block block with parent_page=page %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}