{% extends "pages/base.html" %}
{% load wagtailcore_tags %}

{% block content%}

  {% include "./fragments/publication_hero.html" with  page=page download_file=page.publication_file is_publication_page=page.is_publication_page %}

  {% if page.is_chapter_page %}
    {# Chapter page #}
    {% include "fragments/chapter_table_of_contents.html" %}
  {% else %}
    {# Publication Page #}
    {% include "fragments/publication_table_of_contents.html" %}
  {% endif %}

  {% if page.notes %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <hr class="publication-notes-hr">
        </div>
        <div class="col-lg-8 offset-lg-2 publication-notes">
          {{ page.notes|richtext }}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}

