{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content%}

  {% include "fragments/publication_hero.html" %}



<div class="container">
  <div class="row">

      <div class="py-4 py-md-5 col-lg-10 justify-content-center">
          <div class="row mb-5 mt-0 mt-sm-5 d-flex align-items-center">

        {# page summary #}
        <div class="content-summary">


        <h2>{{ page.contents_title }}</h2>
        <div class="child-pages-summary row">
        {% comment %} https://django-treebeard.readthedocs.io/en/stable/api.html#treebeard.models.Node.get_annotated_list {% endcomment %}

          {% for child, node_info in page.my_children %}
              {% comment %} 'open' means 'there are siblings so open the list tag' {% endcomment %}

              {% if node_info.open %}
                  <ol ><li data-chapter="{{page.get_chapter_number_or_none|default_if_none:''}}">
              {% else %}

              {% if node_info.level == 1 %}<hr/>{% endif %}

              </li><li class="" data-chapter="{{page.get_chapter_number_or_none|default_if_none:''}}">
              {% endif %}

              {% comment %} style for first level of node {% endcomment %}
              {% if node_info.level == 1 %}
                <h3 class="d-inline-flex w-75 pl-3">
                  <a href="{{ child.url }}" class="chapter-article-link">
                    {{ child.title }}
                  </a>
                </h3>
              {% else %}
              {% comment %}
              TECH/Design debt:
              semantically these should be h4; but specs have the font be sans-serif.
              Might be best to update the styleguide for the site accordingly rather
              than have the extra class
              {% endcomment %}

              <h4 class="d-inline-flex w-75 child-pages-children-title">
                <a href="{{ child.url }}" class="chapter-article-link">
                {{ child.title }}
                </a>
              </h4>
              {% endif %}



              {% comment %}
              these are the 'last' elements in the tree,
              and we need to close the tags made above
              {% endcomment %}
              {% for close in node_info.close %}
                  </li></ol>
              {% endfor %}

          {% endfor %}

          </div>
        </div>

        <hr class="hr-emphasis">
        {{ page.notes|richtext }}

        </div>
        {{ page.contents_title }}
    {% endblock %}
