{% extends "./research_authors_index_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block subcontent %}
  {% if author_profile.image %}
    <div>
      {% image author_profile.image fill-260x260 as img %}
      <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"  alt="{{ img.alt }}" class="tw-rounded-full" />
    </div>
  {% endif %}
  <div>
    <h1>{{ author_profile.name }}</h1>
    <div>
      {{ author_profile.tagline }}
    </div>
    <p>
      {{ author_profile.introduction }}
    </p>
    <div class="tw-container">
      <h2>Latest research</h2>
      <ul class="tw-list-none px-0 tw-divide-y tw-divide-gray-05">
        {% for research_detail_page in latest_research %}
          <li class="tw-mt-6 tw-pt-5">
            {% include "wagtailpages/fragments/research_detail_card.html" with research_detail_page=research_detail_page hide_image_on_mobile=False %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock subcontent %}
