{% extends "./research_base.html" %}
{% load i18n static %}

{% block research_hub_content %}
  <div>
    {% include './fragments/research_breadcrumb.html' with breadcrumb_list=breadcrumbs %}
    <h1>{{ page.title }}</h1>
  </div>

  <hr class="tw-border-black tw-my-5 medium:tw-my-6 large:tw-my-7">

  {% if author_profiles %}
    <ul class="tw-grid medium:tw-grid-cols-2 medium:tw-gap-6 tw-gap-5 tw-gap-y-7 tw-list-none tw-p-0">
      {% for author_profile in author_profiles %}
        <li class="tw-flex tw-m-0">
          {% include "wagtailpages/fragments/research_author_card.html" with author_profile=author_profile %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      {% trans "No authors found." %}
    </p>
  {% endif %}

{% endblock research_hub_content %}
