{% extends "./research_base.html" %}
{% load profile_tags %}
(
{% block subcontent %}
{% include './fragments/research_breadcrumb.html' with bread_crumbs=page.get_breadcrumbs %}
<h1>
  {{ page.title }}
</h1>
{% if author_profiles %}
    <ul>
      {% for author_profile in author_profiles  %}
        <li><a href="{% routableprofileurl page=page profile=author_profile url_name="author_detail"  %}">{{ author_profile.name }} ({{ author_profile.locale.language_code }})</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock subcontent %}
