{% extends "./research_base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block hero_guts %}
  {% with hero_image_classes="tw-bg-no-repeat tw-bg-left-top tw-bg-cover tw-min-h-[260px]" %}
    {% if page.banner_image %}
      {% image page.banner_image original as hero_img %}
      <div class="{{hero_image_classes}}" style='background-image: url("{{ hero_img.url }}")'></div>
    {% else %}
      <div  class="{{hero_image_classes}}" style='background-image: url("{% static "_images/banner-black-white-marble.jpg" %}")'></div>
    {% endif %}
  {% endwith %}
{% endblock hero_guts %}

{% block subcontent %}
  <div id="landing-page-content" class="tw-flex tw-w-full">

    <div id="left-spacer-and-cutout" class="tw-bg-white tw-flex-auto -tw-mt-[125px] tw-pl-4 small:tw-pl-0"></div>

    <div id="content-and-cutout" class="tw-grid tw-grid-cols-12 tw-container tw-mr-4 tw-px-0 small:tw-mr-0">
        <div id="cutout" class="tw-bg-white tw-col-span-12 -tw-mt-[125px] medium:tw-pl-4 medium:tw-pr-5 large:tw-col-span-8">
          <div class="tw-pt-5 tw-mr-4 medium:tw-mr-0 large:tw-w-full">
            <h1>{{page.title}}</h1>
            {% if page.intro %}
              <p class="tw-body-large mt-3 mb-0">{{ page.intro }}</p>
            {% endif %}
            <form id="search" action="{% pageurl library_page %}" method="get" accept-charset="utf-8" class="tw-my-5 tw-w-full tw-flex tw-flex-col medium:tw-flex-row tw-gap-4 medium:tw-gap-8 tw-items-start medium:tw-items-center">
              <div class="tw-w-full medium:tw-w-3/4">
                {% include "wagtailpages/fragments/research_search_bar.html" %}
              </div>
              <a href="{% pageurl library_page %}" class="tw-block tw-font-bold">
                {% trans "Browse all" context "Button" %}
              </a>
            </form>
          </div>

          <div id="latest-research" class="tw-pt-3 large:tw-pt-5">
            <h2 class="tw-h3-heading large:tw-pb-2">{% trans "Latest Research" %}</h2>
            <ul class="tw-list-none px-0 ">
              {% for research_detail_page in latest_research_detail_pages %}
                <li class="tw-py-4 small:tw-my-4 small:tw-bg-gray-05 small:tw-p-6">
                  {% include "wagtailpages/fragments/research_detail_card.html" with research_detail_page=research_detail_page hide_related_topics=True landing_page=True%}
                </li>
              {% endfor %}
            </ul>
            <a class="tw-btn-secondary tw-w-full medium:tw-w-auto large:tw-mt-4 large:tw-mb-7" href="{% pageurl library_page %}">
               {% trans "Browse all projects" context "Button" %}
            </a>
          </div>
        </div>

        <div id="browse-topics" class="tw-col-span-12 medium:tw-px-4 large:tw-col-span-4">
          <hr class="tw-border-black tw-mt-7" />
          <h2 class="tw-h4-heading tw-pb-4">{% trans "Browse by topic" context "Topic list heading" %}</h2>
          <ul class="tw-list-none tw-px-0 tw-grid tw-grid-cols-12 tw-gap-0 medium:tw-gap-5 large:tw-gap-0">
            {% for featured_topic in page.featured_topics.all %}
              <li class="tw-py-1 tw-col-span-12 medium:tw-col-span-4 large:tw-col-span-12">
                <h2 class="tw-h5-heading tw-text-blue-80 tw-mb-1">
                  <a href="{% pageurl library_page %}?topic={{featured_topic.research_topic.id}}">{{featured_topic.research_topic.name }}</a>
                </h2>
                <p class="tw-body tw-text-gray-80 tw-text-base medium:tw-text-xs large:tw-text-base tw-pt-1"> {{ featured_topic.research_topic.description }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <div id="right-spacer" class="tw-flex-auto"></div>

  </div>

{% endblock %}
