{% extends "./research_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block subcontent %}

  {% image page.cover_image fill-1240x144 as hero_img %}

  <div class="tw-bg-no-repeat tw-bg-center tw-bg-cover tw-min-h-[144px]" style='background-image: url("{{ hero_img.url }}")'></div>


  <div class="tw-max-w-6xl tw-mx-auto tw-pb-[100px] tw--mt-7 tw-bg-white tw-px-5 tw-pt-5">
    <div class="medium:tw-grid tw-grid-cols-5 tw-grid-rows-1 tw-grid-flow-col tw-gap-7">
      <div class="tw-col-span-1 tw-pt-7">
        {# TODO Add image #}
        TODO: Add image
        {% comment %}
        {% image page.image fill-259x344 as img %}
        <img src="{{ img.src }}" alt="{{ img.title }}" class="tw-w-full tw-h-auto" />
        {% endcomment %}
      </div>
      <div class="tw-col-span-4">
        <div class="tw-grid tw-grid-cols-3 tw-grid-rows-1">
          <div class="xlarge:tw-col-span-2 tw-col-span-3 tw-pb-[80px]">

            {# TODO Add breadcrumb #}
            <div class="tw-text-lg tw-my-4 tw-font-zilla">
              {{ page.get_parent.get_parent.title }}
              /
              {{ page.get_parent.title }}
              /
            </div>

            <h1 class="tw-text-black tw-my-">{{ page.title }}</h1>

            {# Article metadata #}
            {% if page.original_publication_date or page.research_authors.count or page.related_topics %}
              <div class="large:tw-flex large:tw-space-x-4 large:tw-space-y-0 large:tw-divide-x large:tw-divide-y-0 tw-divide-y tw-space-y-4 tw-uppercase tw-my-6 tw-text-gray-80 tw-items-center tw-divide-black/20">
                {% if page.original_publication_date %}
                  <div class="tw-min-w-[100px]">{{ page.original_publication_date|date:"d M Y" }}</div>
                {% endif %}
                {% if page.research_authors.count %}
                  <div class="large:tw-px-4 large:tw-py-0 tw-pt-4 tw-min-w-[100px]">
                    {% for research_author in page.research_authors.all  %}
                      <span>{{ research_author.author_profile.name }}{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                  </div>
                {% endif %}
                {% if page.related_topics %}
                  <div class="large:tw-px-4 large:tw-py-0 tw-pt-4">
                    {% for related_topic in page.related_topics.all  %}
                      <span>{{ related_topic.research_topic.name }}{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% if page.introduction %}
              <p class="tw-font-light tw-text-xl tw-mb-5">{{ page.introduction }}</p>
            {% endif %}

            {% if page.research_links %}
              <div>
                {% for research_link in page.research_links.all %}
                  {% if research_link.url and not research_link.document %}
                    {# Has a URL, but not a document link. #}
                    <a href="{{ research_link.get_url }}" class="tw-btn-primary">{{ research_link.label }}</a>
                  {% elif research_link.document and not research_link.url %}
                    {# Has a document link, but not an external link #}
                    <a href="{{ research_link.get_url }}" class="tw-btn-secondary">{{ research_link.label }}</a>
                  {% else %}
                    {# Cover every other scenario with a default button #}
                    <a href="{{ research_link.get_url }}" class="tw-btn-secondary">{{ research_link.label }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="tw-grid xlarge:tw-grid-cols-3 tw-grid-cols-1 tw-grid-rows-1 tw-gap-7">
          <div class="xlarge:tw-col-span-2 tw-border-t tw-border-black">
            {% if page.overview %}
              <div>
                <h3 class="tw-my-5">Overview</h3>
                <div class="tw-text-lg">
                  {{ page.overview|richtext }}
                </div>
              </div>
            {% endif %}
            </div>
          <div class="tw-col-span-1 tw-border-t tw-border-black">
            {% if page.research_authors %}
              <div>
                <h4 class="tw-my-5">Project leads</h4>
                {% for research_author in page.research_authors.all  %}
                  <div class="tw-flex tw-items-center tw-gap-4 tw-mb-5">
                    {% if research_author.author_profile.image %}
                      {% image research_author.author_profile.image fill-77x77 as img %}
                      <div class="tw-min-w-[77px]">
                        <img src="{{ img.url }}" alt="{{ research_author.author_profile.name }}" class="tw-rounded-full">
                      </div>
                    {% endif %}
                    <div>
                      <h4 class="tw-mb-0 tw-text-blue-dark tw-font-semibold tw-text-[22px]">{{ research_author.author_profile.name }}</h4>
                      <p class="tw-text-gray-60 tw-text-[15px] tw-mb-0">{{ research_author.author_profile.tagline }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if page.collaborators %}
              <div class="tw-border-t tw-border-black tw-mt-7">
                <h3 class="tw-my-5">Collaborators</h3>
                <p class="tw-text-[0.9375rem]">{{ page.collaborators }}</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
