{% extends "./research_base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block subcontent %}
  <div class="tw-container">
    <div>
      <h1>{{ page.title }}</h1>
    </div>

    <div class="tw-border-2">
      <div class="tw-w-[416px] tw-shrink-0 tw-bg-gray-05">
        <div>
          <form action="" method="get" accept-charset="utf-8" id="search-form">
            <input type="text" value="{{ search_query }}" name="search" id="search" class="tw-inline-block form-control tw-w-1/2 tw-rounded-none" />
            <button type="submit" class="tw-btn-primary">{% translate 'Search' %}</button>
          </form>
        </div>
        <div>
          <fieldset>
            <legend><h2>{% translate 'Topic' %}</h2></legend>
            {% for topic in topic_options|dictsort:"name" %}
              <input type="checkbox" value="{{ topic.id }}" name="topic" id="topic-option-{{ topic.id }}" {% if topic.id in filtered_topic_ids %}checked{% endif %} form="search-form"/>
              <label for="topic-option-{{ topic.id }}">{{ topic.name }}</label>
            {% endfor %}
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend><h2>{% translate 'Publication date' %}</h2></legend>
            <input type="radio" value="" name="year" id="year-option-all" {% if not filtered_year %}checked{% endif %} form="search-form"/>
            <label for="year-option-all">{% translate 'Any' %}</label>
            {% for year in year_options %}
              <input type="radio" value="{{ year }}" name="year" id="year-option-{{ year }}" {% if year == filtered_year %}checked{% endif %} form="search-form"/>
              <label for="year-option-{{ year }}">{{ year }}</label>
            {% endfor %}
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend><h2>{% translate 'Author' %}</h2></legend>
            {% for author in author_options|dictsort:"name" %}
              <input type="checkbox" value="{{ author.id }}" name="author" id="author-option-{{ author.id }}" {% if author.id in filtered_author_ids %}checked{% endif %} form="search-form"/>
              <label for="author-option-{{ author.id }}">{{ author.name }}</label>
            {% endfor %}
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend><h2>{% translate 'Region' %}</h2></legend>
            {% for region in region_options|dictsort:"name" %}
              <input type="checkbox" value="{{ region.id }}" name="region" id="region-option-{{ region.id }}" {% if region.id in filtered_region_ids %}checked{% endif %} form="search-form"/>
              <label for="region-option-{{ region.id }}">{{ region.name }}</label>
            {% endfor %}
          </fieldset>
        </div>
        <button type="submit" class="tw-btn-primary" form="search-form">{% translate 'Apply filter' %}</button>
      </div>

      <div class="tw-container">
        <div>
          {% if search_query %}
            <div>
              <strong>{{ research_detail_pages.count }}</strong> {% translate 'results for' %} "{{ search_query }}"
            </div>
          {% endif %}
          <div>
            <select name="sort" class="tw-inline-block tw-form-control tw-w-1/2" form="search-form">
              {% for choice in page.SORT_CHOICES.values  %}
                <option value="{{ choice.value }}" {% if choice == sort %}selected{% endif %}>{{ choice.label }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="tw-btn-primary" form="search-form">{% translate 'Sort' %}</button>
          </div>
        </div>
        <ul class="tw-list-none px-0 py-4 tw-divide-y tw-divide-gray-05">
          {% for research_detail_page in research_detail_pages  %}
            <li class="tw-mt-6 tw-pt-5">
              {% include "wagtailpages/fragments/research_detail_card.html" with research_detail_page=research_detail_page hide_image_on_mobile=True %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock subcontent %}
