{% load settings_value i18n %}

{% with wrapper_class="py-5" %}

{% block footer_donate %}
<div class="donate-banner dark-theme {{wrapper_class}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="h3-heading mb-0">We all love the Web. Join Mozilla in defending it.</h3>
        <h4 class="h3-heading mb-4">Let’s protect the world’s largest resource for future generations.</h4>
        <div>
          <a href="https://donate.mozilla.org?utm_source=foundation.mozilla.org&amp;utm_medium=referral&amp;utm_content=footer-cta" target="_blank" rel="noopener noreferrer" class="btn btn-secondary dark-theme">Donate now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<footer class="site-footer dark-theme {{wrapper_class}}">
  <div class="container">
    <div class="row">

      {% block left_footer_column %}
      <div class="col-md-5 col-lg-6">
        <div class="join-us mb-5" data-form-position="footer" data-button-position="side"></div>
        <div class="my-5 mb-md-0">
          <a class="logo" href="https://foundation.mozilla.org"><img src="/_images/mozilla-block-white.svg"></a>
        </div>
      </div>
      {% endblock %}

      {% block right_footer_column %}
      <div class="col-md-6 col-lg-5 offset-md-1 d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <h5 class="h5-heading">More about us</h5>
            <ul class="d-flex">
              {% block social_links %}
              <li class="mr-2"><a class="twitter-glyph small d-inline-block" href="https://twitter.com/mozilla"><span class="sr-only">Twitter</span></a></li>
              <li class="mr-2"><a class="instagram-glyph small d-inline-block" href="https://www.instagram.com/mozilla/"><span class="sr-only">Instagram</span></a></li>
              <li class="mr-2"><a class="github-glyph small d-inline-block" href="https://www.github.com/mozilla/foundation.mozilla.org/"><span class="sr-only">Github</span></a></li>
              {% endblock %}
            </ul>
          </div>
          <div class="col-lg-6 col-xl-7">
            <ul class="link-list list-unstyled mb-0">
              {% block general_links %}
              <li class="mb-2"><a id="donate-footer-btn" href="https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=footer" target="_blank" rel="noopener noreferrer" class="dark-theme">Donate</a></li>
              <li class="mb-2"><a href="https://www.mozilla.org/about/legal/terms/mozilla/" class="dark-theme">Legal</a></li>
              <li class="mb-2"><a href="https://creativecommons.org/licenses/by/4.0" class="dark-theme">License</a></li>
              <li class="mb-2"><a href="https://www.mozilla.org/about/governance/policies/participation/" class="dark-theme">Participation Guidelines</a></li>
              <li class="mb-2"><a href="https://mozilla.org/privacy/websites/" class="dark-theme">Privacy</a></li>
              <li class="mb-2"><a href="https://www.mozilla.org/privacy/websites/#cookies" class="dark-theme">Cookies</a></li>
              {% endblock %}
            </ul>
          </div>
        </div>
        <div class="row mt-4 mb-4 mb-md-0">
          <div class="col-12">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input name="next" type="hidden" value="{{ request.path }}">
              <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-center mb-4 mb-md-0">
                <label class="h5-heading mb-0 d-flex align-items-center globe-glyph medium" for="site-language-picker">Language:</label>
                <select name="language" id="site-language-picker" class="mt-3 mt-md-0 ml-md-3 w-100" onchange="this.form.submit()">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local | capfirst }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr class="mt-3 mt-md-5" />
            <p class="dark-theme body-small mb-0">Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at <a href="https://foundation.mozilla.org">foundation.mozilla.org</a></p>
          </div>
        </div>
      </div>
      {% endblock %}

    </div>
  </div>
</footer>

{% endwith %}
