{% load primary_active_nav i18n %}

{% if page.zen_nav == True %}<div data-nav-mode="zen" class="zen-mode primary-nav-container">
{% else %}<div class="primary-nav-container">
{% endif %}
  <div class="wrapper-burger">
    <div class="menu-container">

      <div class="narrow-screen-menu hidden d-lg-none">
        {% block narrow_screen_menu %}
        <div class="narrow-screen-menu-background tw-dark">
          <div class="narrow-screen-menu-container">
            <div class="container" role="navigation">
              <div class="row">
                <div class="col">
                  <div class="nav-links pt-3">
                    {% block narrow_screen_nav_links %}
                    <div><a class="{% primary_active_nav request menu_root.full_url menu_root.full_url %}" href="{{ menu_root.url }}">{% trans "Home" %}</a></div>
                    {% include "fragments/nav_links.html" with pre="<div>" post="</div>" %}
                    {% endblock %}
                    {% if page.signup == None %}<div class="mt-2"><button class="btn btn-secondary btn-newsletter">{% trans "Newsletter" %}</button></div>{% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
      </div>

      <nav class="container wide-screen-menu-container" title="{% trans "main site navigation" context "Tooltip on menu items" %}">
        <div class="row">
          <div class="col">
            <div class="d-flex flex-row justify-content-between">
              <div id="primary-nav-links">
                <div class="d-flex align-items-center flex-wrap">

                  <button class="burger {% if page.zen_nav is not True %} d-lg-none ml-md-0 {% endif %}" aria-label="{% trans 'Open menu' %}">
                    <div class="burger-bar burger-bar-top"></div>
                    <div class="burger-bar burger-bar-middle"></div>
                    <div class="burger-bar burger-bar-bottom"></div>
                  </button>

                  {% block nav_logo %}
                    <a class="logo text-hide" href="/" aria-label="{% trans "Mozilla Foundation Homepage" %}">{% trans "Mozilla Foundation" %}</a>
                  {% endblock %}

                  {% if page.zen_nav == True %}
                    <div class="wide-screen-menu hidden">
                  {% else %}
                    <div class="wide-screen-menu">
                  {% endif %}

                  {% block wide_screen_menu %}
                    <div class="nav-links d-none d-lg-block">
                      {% include "fragments/nav_links.html" %}
                    </div>
                  {% endblock %}

                  </div>
                </div>
              </div>

              {% block donate_and_newsletter %}
              <div class="d-flex align-items-center">
                <a id="donate-header-btn" class="primary-nav-special-link heart-glyph" href="https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_campaign=fmonav&utm_content=header" target="_blank" rel="noopener noreferrer">{% trans "Donate" %}</a>
                {% if page.signup == None %}<button class="btn btn-secondary btn-newsletter d-none d-lg-block ml-md-3">{% trans "Newsletter" %}</button>{% endif %}
              </div>
              {% endblock %}

            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>
</div>


<div id="nav-newsletter-form-wrapper" class="d-none">
  <div class="container tw-dark">
    <div class="row">
      <div class="col-12">
        <div class="join-us pt-5 on-nav" data-layout="2-column" data-form-position="header" data-button-position="side"></div>
        <div class="text-center mt-3 d-lg-none">
          <button class="btn form-dismiss">{% trans "No thanks" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
