#multipage-nav-mobile {
  @include vertical-spacing();

  .dropdown-nav {
    .expander {
      background: none;
      text-align: left;
      width: 100%;
      border: 0;
      outline: 0;
      padding: 0 0 5px; // so the 5px yellow underline will show on both mobile and desktop
      margin-bottom: -5px; // negative bottom margin to offet the bottom padding we are adding

      .control {
        display: inline-block;
        background: url("../_images/chevron.svg") no-repeat;
        background-size: contain;
        background-position: center right;
        width: 15px;
        height: 10px;
        transform: rotate(180deg);
        transition: transform 100ms linear;
      }
    }

    div:not(:first-child) {
      display: none;
    }

    &.dropdown-nav-open {
      .expander {
        .active-link-label {
          visibility: hidden;
        }

        .control {
          transform: rotate(0);
        }
      }

      div:not(:first-child) {
        display: block;
      }
    }
  }

  .col-12 {
    border: 2px solid $gray-20;
  }
}

.dropdown-nav {
  > div {
    margin: 14px 0;
  }
}
