{% load wagtailcore_tags wagtailimages_tags %}
<div class="tw-flex tw-flex-col small:tw-flex-row">

    {% if detail_page.cover_image %}
        <picture class="inline-block {% if hide_image_on_mobile %} tw-hidden small:tw-block {% endif %} small:tw-w-56 tw-shrink-0 tw-mb-6 small:tw-mb-0 small:tw-mr-12">
            {% image detail_page.cover_image fill-224x224 as square_image %}
            <source srcset="{{ square_image.url }}" media="(min-width: 576px)">
            {% image detail_page.cover_image fill-576x224 class="tw-w-full small:tw-w-56" %}
        </picture>
    {% endif %}

    <!--
  By default, flex items sizes are driven by their content.
  Setting the min-width allows the element to be small than the content.
  This is necessary here to make the metadata truncation kick in.
  Otherwise the metadata will be at full width and driving this elements width.
  -->
    <div class="tw-min-w-0">
        <h{% firstof heading_level '2' %} class="tw-h5-heading tw-text-blue-80 tw-mb-4"><a href="{% pageurl detail_page %}">{{ detail_page.title }}</a></h{% firstof heading_level '2' %}>
        <div class="tw-flex tw-flex-row tw-text-xs tw-text-gray-80 tw-mb-4 tw-uppercase tw-divide-x tw-divide-gray-20">
            {% block detail_card_metadata %}
                {% if detail_page.original_publication_date %}
                    <div class="tw-px-4 first:tw-pl-0 tw-whitespace-nowrap ">{{ detail_page.original_publication_date|date:"DATE_FORMAT" }}</div>
                {% endif %}
            {% endblock detail_card_metadata %}
        </div>
        {% if detail_page.introduction %}
            <p class="tw-mb-0 tw-text-gray-60 tw-text-base">
                {{ detail_page.introduction }}
            </p>
        {% endif %}
    </div>

</div>
