{% load l10n %}
{% for field in form %}
    {% if field|length %}
        <div class="tw-pt-8 tw-pb-24 tw-border-t">
            <fieldset>
                <legend>
                    <h3 class="tw-h4-heading">{{ field.label_tag }}</h3>
                </legend>
                {{ field.errors }}
                <ul class="tw-list-none tw-mb-0 tw-pl-0 {% if field|length > 5 %} tw-max-h-[13.5rem] tw-overflow-y-scroll{% endif %}" id="id_{{ field.name }}">
                    {% if field.field.widget.input_type == "checkbox" %}
                        {% for pk, choice in field.field.widget.choices %}
                            <li class="tw-flex tw-flex-row tw-items-baseline ">
                                <input id="id_{{ field.name }}_{{ forloop.counter0 }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" value="{{ pk }}" class="libraries-{{ field.field.widget.input_type }}" {% if pk|stringformat:"i" in field.value %}checked=""{% endif %}>
                                <label for="id_{{ field.name }}_{{ forloop.counter0 }}" class="tw-pr-6 tw-overflow-hidden tw-break-words tw-hyphens-auto">
                                    {{ choice }}
                                </label>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for option in field %}<li class="tw-flex tw-flex-row tw-items-baseline">{{ option }}</li>{% endfor %}
                    {% endif %}
                </ul>
            </fieldset>
        </div>
    {% endif %}
{% endfor %}
