{% extends "pages/base-compiled.html" %}

{% load wagtailcore_tags opportunity_tags %}

{% block content %}
  <div class="container">
    <div class="row">

      {% comment %}
      <div class="py-5 {% if page.parent.title != parentTitle %}col-12 col-md-8 offset-md-3{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
        {% if page.parent.title != parentTitle %}
        <p class="h5-black">{{ page.parent.title }}</p>
        {% endif %}
        <h1 class="h1-white {% if page.parent.title != parentTitle %}hidden-sm-down{% endif %}">{% block h1 %}{% endblock %}</h1>
      </div>
      {% endcomment %}
      <!--
        WE NEED TO REVISIT THE ABOVE COMMENTED CODE AND BELOW ALTERED CODE,
        TO MAKE SURE THE CLASSES KICK IN CORRECLTY.
      -->
      <div class="py-5 col-12 col-md-8 offset-md-3">
        <p class="h5-black">{% block mini_site_title %}{% endblock %}</p>
        <h1 class="h1-white">{% block h1 %}{% endblock %}</h1>
      </div>

    </div>
  </div>

  <div class="hidden-md-up mb-5" id="multipage-nav-mobile">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-5">
      {% mini_site_sidebar page=self %}

      {% block subcontent %}

      {% comment %}
      <div class="{% if page.parent.title != parentTitle %}col-12 col-md-9{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
      {% endcomment %}
      <!--
        WE NEED TO REVISIT THE ABOVE COMMENTED CODE AND BELOW ALTERED CODE,
        TO MAKE SURE THE CLASSES KICK IN CORRECLTY.
      -->
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="cms col-12">
            {% block html_content %}{% endblock %}
          </div>
        </div>
      </div>

      {% endblock %}
    </div>

    <div class="row mb-5">
      <div class="{% if page.parent.title != parentTitle %}col-md-12{% else %}col-12 col-lg-10 offset-lg-1{% endif %}">
        {% block signup %}{% endblock %}
        <hr class="my-2">
        <div class="opp-foot d-flex align-items-center"><img class="mr-3" src="/_images/green-20.svg" width="51" height="45">
          <p class="body-black mb-0">This is part of a broader movement for a healthy internet. <a href="/">See more</a>.</p>
        </div>
        <hr class="my-2">
      </div>
    </div>
  </div>
{% endblock %}
