{% extends "./modular_page.html" %}
{% load wagtailcore_tags %}

{% block mini_site_title %}
  {{ mini_site_title }}
{% endblock %}

{% block h1 %}
  {{ page.header }}
{% endblock %}

{% block subcontent %}
  <!-- THIS HAD ITS CLASS LOGIC MANGLED AND NEEDS REVISITING -->
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="cms col-12">
        {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <h1>{{ block.value }}</h1>
        {% else %}
            {% include_block block %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
