{% load i18n wagtailimages_tags %}
<div data-mozfest-hero-carousel>
  <div class="tw-relative tw-pt-[120px] tw-flex tw-flex-col tw-justify-end{% if not page.banner_video %} tw-pb-6 medium:tw-pb-[120px] {% endif %}">

    {# Background images slider #}
    <div class="tw-absolute tw-inset-0">
      <div class="tw-absolute tw-inset-0 tw-bg-black tw-z-20 tw-opacity-40"></div>
      <div class="tw-bg-gradient-to-t tw-from-festival-blue-100 tw-via-festival-blue-100 tw-to-festival-purple-100 tw-w-full tw-h-full tw-absolute tw-inset-0 tw-z-10 tw-opacity-75"></div>
    </div>

    {# Background Images slider #}
    <div class="tw-absolute tw-w-full tw-h-full tw-top-0 tw-left-0">
      <div class="swiper-hero-carousel tw-h-full tw-overflow-hidden">
        <div class="swiper-wrapper">
          {% for slide_block in page.specific.banner_carousel %}
            {% with slide=slide_block.value %}
              {% image slide.image fill-1600x900 as img %}
              <div class="swiper-slide tw-bg-cover tw-bg-center tw-bg-no-repeat tw-filter tw-grayscale" style="background-image: url({{ img.url }});"></div>
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>

    {# Text slider #}
    <div class="tw-container tw-relative tw-z-20 tw-text-white">
      <div>
        <h1 class="tw-text-white tw-font-bold tw-mb-5">{{ page.banner_heading }}</h1>
        {% if page.banner_video and page.banner_cta_label %}
          <button id="mozfest-hero-video-cta" class="btn btn-primary tw-bg-white tw-text-black hover:tw-bg-blue-40 hover:tw-text-white">{{ page.banner_cta_label }}</button>
        {% endif %}
      </div>

      <div class="tw-relative tw-pt-[60px] medium:tw-pt-[100px]  tw-hidden medium:tw-block">

        {# pagination progress bars on desktop #}
        <div class="swiper-hero-pagination tw-bottom-3 tw-relative tw-z-40 tw-grid tw-grid-cols-3 tw-gap-3 medium:tw-gap-4"></div>

        {# Text #}
        <div class="tw-grid tw-grid-cols-3 tw-gap-3 medium:tw-gap-4">
          {% for slide_block in page.specific.banner_carousel %}
            {% with slide=slide_block.value %}
              <div>
                <span class="tw-font-zilla tw-font-bold tw-inline-block tw-h4-heading tw-text-white">{{ slide.heading }}</span>
                <p class="tw-text-white">{{ slide.description }}</p>
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      </div>

      {# mobile slider #}
      {% include 'fragments/hero/hero_mobile_slider.html' with items=page.hero_slides %}
    </div>

    {# Video block #}
    {% if page.banner_video %}
      {% include 'fragments/hero/featured_video.html' %}
    {% endif %}

  </div>
</div>

{# Spacing for top of content section when there is no video #}
{% if not page.banner_video %}
    <div class="tw-w-full tw-bg-white tw-h-7"></div>
{% endif %}


