<div class="background-wrapper">
  <div class="overlay"></div>
    <video class="banner-video" playsinline muted loop preload
           poster="https://s3.amazonaws.com/mofo-assets/foundation/video/mozfest-banner-video-poster.jpg" >
      <source
        src="https://s3.amazonaws.com/mofo-assets/foundation/video/mozfest-banner-video.mp4"
        type="video/mp4">
    </video>

    <div class="video-control-wrapper dark-theme">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-video-control btn-pause btn-secondary d-none">
              <span>{% trans "PAUSE VIDEO" context "Pause button for video" %}</span>
            </button>
            <button class="btn btn-video-control btn-play btn-secondary d-none">
              <span>{% trans "PLAY VIDEO" context "Play button for video" %}</span>
            </button>
          </div>
        </div>
      </div>

    </div>
</div>
