<div class="swiper-hero-mobile tw-overflow-hidden medium:tw-hidden tw-mt-7">

  <div class="swiper-wrapper">
    {% for slide_block in page.banner_carousel %}
      {% with slide=slide_block.value %}
        <div class="swiper-slide">
          <div class="swiper-mobile-progress-bar"></div>
          <span class="tw-font-zilla tw-font-bold tw-inline-block h4-heading tw-text-white tw-mt-4">{{ slide.heading }}</span>
          <p class="tw-text-white">{{ slide.description }}</p>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
</div>


