{% load wagtailcore_tags wagtailimages_tags i18n static %}

<div class="background-wrapper">
  <div class="overlay"></div>
  {% if banner_video_type == "hardcoded" %}
    <video class="banner-video" playsinline muted loop preload
           poster="https://s3.amazonaws.com/mofo-assets/foundation/video/mozfest-banner-video-poster.jpg" >
      <source
        src="https://s3.amazonaws.com/mofo-assets/foundation/video/mozfest-banner-video.mp4"
        type="video/mp4">
    </video>

    <div class="video-control-wrapper dark-theme">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-video-control btn-pause btn-secondary d-none">
              <span>{% trans "PAUSE VIDEO" context "Pause button for video" %}</span>
            </button>
            <button class="btn btn-video-control btn-play btn-secondary d-none">
              <span>{% trans "PLAY VIDEO" context "Play button for video" %}</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  {% elif banner_video_type == "featured" %}
    <ul>
    {% for slide_block in page.specific.banner_carousel %}
      {% with slide=slide_block.value %}
      <li>
        {% image slide.image original %}
        <h2>{{ slide.heading }}</h2>
        <p>{{ slide.description }}</p>
      </li>
      {% endwith %}
    {% endfor %}
    </ul>
  {% else %}
    {% with banner=page.specific.get_banner %}
    {% if banner %}
      <picture>
        {% image banner fill-4960x3000 as image_xl %}
        {% image banner fill-2480x1500 as image_lg %}
        {% image banner fill-1984x1200 as image_md %}
        {% image banner fill-1536x929 as image_sm %}
        <source media="(min-width: 1200px)" srcset="{{ image_xl.url }}">
        <source media="(min-width: 992px)" srcset="{{ image_lg.url }}">
        <source media="(min-width: 768px)" srcset="{{ image_md.url }}">
        <source media="(min-width: 576px)" srcset="{{ image_sm.url }}">
        {# Fallback Image #}
        {% image banner fill-1536x929 alt="" %}
      </picture>
    {% else %}
    <picture>
      <img src="{% static "_images/mozfest/mozfest-home-banner-default.jpg" %}" alt="">
    </picture>
    {% endif %}
    {% endwith %}
  {% endif %}
</div>
