.row.mb-4.justify-content-center
  .col-12.col-md-2.hear-from-you-line-art
  .col-12.col-md-8.col-lg-6
    h4.h4-heading We’d Love to Hear From You
    p.body-black Curious about other opportunities or have a specific question in mind? Feel free to reach out and let us know how we can help!
    a.cta-link.mr-4(href=`mailto:network@mozillafoundation.org`) Email
    a.cta-link(href=`https://twitter.com/mozilla`) Twitter
