doctype html
html
  head
    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='TODO')

    meta(property='og:type', content='website')
    meta(property='og:site_name', content='TODO')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='TODO')
    meta(property='og:image', content='TODO')
    meta(property='og:title', content='TODO')
    meta(property='og:description', content='TODO')

    link(rel='stylesheet', href='/_css/main.compiled.css')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    link(rel='icon', href='/_images/favicon.png')

    title=strings.MLN
  body(id=templateID)
    header.container
      a(href='/'): img(src='/_images/mozilla-wordmark.svg', style='background: #ccc;')
      h1=strings.MLN

      ul
        li
          a(href='/people') People
          ul: li: a(href='/people/partners') Partners
        li
          a(href='/programs') Programs
          ul: li: a(href='/programs/calendar') Calendar
        li: a(href='/projects') Projects
        li: a(href='/campaigns') Campaigns
        li
          a(href='/about') About
          ul: li: a(href='/about/join') Join
