.row.my-5
  .col-6
    h3.h3-heading Join Our Ranks
    p.body-black Access to bright minds, passionate community, and invaluable resources.
  .col-6
    form
      input(placeholder=`Email Address`)
      button.btn.btn-normal Join Us
      label
        input(type=`checkbox`)
        span.h6-heading &nbsp;I'm okay with Mozilla handling my info as explained in this #[a(href=`#TODO`) Privacy Notice]
