mixin sign-up-box(h2, subhead)
  .col-md-6.sign-up-box
    .p-4
      h2.h3-cta-black=h2
      p.body-black !{subhead}
      .d-flex
        a.btn.btn-normal.flex-1(href=`${env.virtualRoot}join`) Sign Up
