.join-us {
  background: inherit;

  .has-danger {
    color: $red;

    a {
      color: $red !important;
    }
  }

  // .join-page-title {
  //   display: none;
  // }

  // .join-heading h2 {
  //   font-family: "Nunito Sans";
  //   font-weight: 900;
  //   font-size: 22px;

  //   @media screen and (min-width: $bp-md) {
  //     font-size: 32px;
  //   }
  // }

  .form-control,
  .form-text {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;

    a {
      text-decoration: underline;
      color: $black;
      font-weight: 400;
    }
  }

  &.full-width {
    @media (min-width: $bp-md) {
      padding: 1em 2rem;
    }
  }
}
