.join-us {
  background: inherit;

  .has-danger {
    color: $red;
  }

  .form-control {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;
  }

  &.dark-theme {
    .join-btn.w-100 {
      @extend .hidden-sm-up;
    }
  }
}
