.join-us {
  background: inherit;

  .has-danger {
    $glyph-container: (
      "margin-x": 10px,
      "height": 20px,
      "width": 13px,
    );

    color: $danger;

    .form-control {
      padding-right: map-get($glyph-container, "margin-x") * 2 +
        map-get($glyph-container, "width");
      border: 1px solid $danger;

      @at-root .tw-dark & {
        border-width: 2px;
        border-color: $dark-theme-danger;
      }
    }

    .form-control-feedback {
      color: $danger;

      @at-root .tw-dark & {
        color: $dark-theme-danger;
      }
    }

    .glyph-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: map-get($glyph-container, "margin-x");
      height: map-get($glyph-container, "height");
      width: map-get($glyph-container, "width");
      margin: auto;
    }

    .privacy-error {
      @media (min-width: $bp-sm) {
        margin-left: 30px;
      }

      @media (min-width: $bp-md) {
        margin-left: 0;
      }
    }
  }

  .form-control {
    font-weight: 400;
    color: $black;
    border-radius: 0;
  }

  .fields-wrapper {
    flex: 1 1 auto;
  }
}
