.join-us {
  background: inherit;

  .tw-has-danger {
    $glyph-container: (
      "margin-x": 10px,
      "height": 20px,
      "width": 13px,
    );

    .glyph-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: map-get($glyph-container, "margin-x");
      height: map-get($glyph-container, "height");
      width: map-get($glyph-container, "width");
      margin: auto;
    }

    .privacy-error {
      @media (min-width: $bp-sm) {
        margin-left: 30px;
      }

      @media (min-width: $bp-md) {
        margin-left: 0;
      }
    }
  }

  .fields-wrapper {
    flex: 1 1 auto;
  }
}
