{% load i18n %}

<div class="homepage-banner-content container">
  <div class="row">
    <div class="col-10 col-lg-8 dark-theme">
      <h1 class="h1-heading">{{ page.banner_heading }}</h1>
      {% if banner_video_type != "hardcoded" %}
        <p class="body-large">{{ page.banner_guide_text }}</p>
        {% if page.banner_video_url %}
        <a class="btn btn-primary" href="{{ page.banner_video_url }}" target="_blank" id="mozfest-home-watch-video-button">{% trans "Watch Video" %}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
