{% extends "partials/footer.html" %}

{% block footer_donate %}
  <!-- nothing right now -->
{% endblock %}

{% block left_footer_column %}
  <div class="col-md-5">
    <div
      class="join-us mb-5"
      data-button-position="side"
      data-csrf-token="{{ csrf_token }}"
      data-signup-id="{{ mozfest_footer.id }}"
      data-cta-header="{{ mozfest_footer.header | escape }}"
      data-cta-description="{{ mozfest_footer.description | escape }}"
      data-newsletter="{{ mozfest_footer.newsletter }}">
    </div>

    <div class="my-5 mb-md-0">
      <a class="logo" href="https://foundation.mozilla.org"><img src="/_images/mozilla-block-white.svg"></a>
    </div>
  </div>
{% endblock %}
