{% extends "partials/footer.html" %}

{% load i18n l10n static %}

{% block footer_donate %}
    <!-- nothing right now -->
{% endblock %}

{% block left_footer_column %}
    <div class="col-md-5 col-lg-6 d-flex flex-column justify-content-between">
        {% with localized_footer_signup=mozfest_footer.localized %}
            <div
                class="newsletter-signup-module"
                data-module-type="default"
                data-form-position="footer"
                data-signup-id="{{ localized_footer_signup.id }}"
                data-cta-header="{{ localized_footer_signup.header | escape }}"
                data-cta-description="{{ localized_footer_signup.description | escape }}"
                data-newsletter="{{ localized_footer_signup.newsletter }}">
            </div>
        {% endwith %}


        <a class="logo d-block my-5 my-md-0" href="https://foundation.mozilla.org"><img src="{% static "_images/mozilla-block-white.svg" %}" width="96"></a>
    </div>
{% endblock %}

{% block social_links %}
    <li class="mr-2"><a class="tw-twitter-glyph d-inline-block" data-platform="twitter" href="https://twitter.com/mozillafestival"><span class="sr-only">Twitter</span></a></li>
    <li class="mr-2"><a class="tw-youtube-glyph d-inline-block before:tw-content-[''] before:tw-w-8 before:tw-h-8" data-platform="youtube" href="https://www.youtube.com/playlist?list=PLnRGhgZaGeBt11miYYvKSSgbxkkbKKT7p"><span class="sr-only">YouTube</span></a></li>
    <li class="mr-2"><a class="tw-email-glyph d-inline-block before:tw-content-[''] before:tw-w-8 before:tw-h-8" data-platform="email" href="mailto:festival@mozilla.org"><span class="sr-only">{% trans "Email" %}</span></a></li>
{% endblock %}

{% block general_links %}
    {% with footer_link_classes="tw-dark tw-text-white hover:tw-underline" %}
        <li><a id="donate-footer-btn" href="?form=donate" class="{{ footer_link_classes }}">{% trans "Donate" %}</a></li>
        <!-- the rest of the links should be listed alphabetically -->
        <li><a href="https://www.mozillafestival.org/sponsor" class="{{ footer_link_classes }}">{% trans "Support MozFest" %}</a></li>
        <li><a href="https://careers.mozilla.org/listings/?team=Mozilla%20Foundation" class="{{ footer_link_classes }}">{% trans "Careers" %}</a></li>
        <li><a href="https://www.mozilla.org/privacy/websites/#cookies" class="{{ footer_link_classes }}">{% trans "Cookies" %}</a></li>
        <li><a href="https://www.mozilla.org/about/legal/terms/mozilla/" class="{{ footer_link_classes }}">{% trans "Legal" %}</a></li>
        <li><a href="/guidelines" class="{{ footer_link_classes }}">{% trans "Participation Guidelines" %}</a></li>
        <li><a href="/media" class="{{ footer_link_classes }}">{% trans "Press Center" %}</a></li>
        <li><a href="https://mozilla.org/privacy/websites/" class="{{ footer_link_classes }}">{% trans "Privacy" %}</a></li>
    {% endwith %}
{% endblock %}
