{% load wagtailcore_tags wagtailimages_tags %}

<div id="hero">
    {% if homepage or landing_page %}
        <div class="tw-relative tw-dark tw-w-full tw-h-[470px] large:tw-h-[620px] tw-bg-[url('../_images/donate-banner-giving.jpg')] tw-bg-center tw-bg-cover">
            <div class="tw-bg-gradient-to-t tw-from-black tw-via-black tw-via-30% tw-to-festival-purple-200 tw-inset-0 tw-absolute tw-opacity-80"></div>
            <div class="container">
                <div class="tw-row">
                    <div class="tw-px-8 tw-absolute tw-w-full tw-bottom-12 large:tw-w-6/12 large:tw-bottom-24">
                        <p class="tw-bg-blue-05 tw-inline-block tw-text-black tw-text-sm tw-uppercase tw-py-3 tw-px-6 tw-rounded-3xl">
                            <span>1st-3rd June 2024</span>
                            <span>| Maldives</span>
                        </p>
                        <h1 class="tw-h1-heading">MozFest House: 2024</h1>
                        <p class="tw-body-large">Dedicated to creating a healthier and more inclusive internet.</p>
                        <a class="tw-btn-secondary" href="#">Get your tickets</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="banner">
            {% include "fragments/hero/normal.html" with page=page %}
        </div>
        {% include "partials/intro_section.html" %}
    {% endif %}

    {% if singleton_page == True %}
        {% include "partials/intro_and_content_divider.html" with wrapper_class="d-md-none" %}
    {% endif %}
</div>

