{% load wagtailimages_tags %}
<div class="container">
  <h3 class="tw-font-bold">MozFest 2022 Spaces</h3>
  {#    {% for space in value.spaces %}#}
  <div class="tw-grid tw-grid-cols-1 medium:tw-grid-cols-2 tw-gap-6 medium:tw-gap-10">
    <a class="tw-group tw-p-4 tw-border tw-border-gray-60/20 tw-text-[22px] tw-flex medium:tw-flex-row tw-flex-col tw-space-y-4 medium:tw-space-x-4" href="{{ space.url }}">
      <div class="order-2 medium:order-1">
        <span class="tw-text-blue tw-underline tw-mb-4 medium:mb-6">Lorem Khaled Ipsum is a major key to success.</span>
        <p class="group-hover:tw-no-underline">Lorem Khaled Ipsum is a major key to success. Life is what you make it, so let’s make it. Look at the sunset, life is amazing, life is beautiful, life is
          what you make it.</p>
      </div>
      <div class="order-1 medium:order-2">
        {% image space.image fill-158x158 as img %}
        <img src="https://via.placeholder.com/158x158" alt="{{ img.alt }}">
      </div>
    </a>
  </div>
</div>
