.footnotes {
  border-top: 1px solid rgb(204, 204, 204);
  padding-top: 47px;
  margin-top: 48px;
  margin-bottom: 96px;
}

.footnotes-title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Nunito Sans";
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 30px;
}

.footnote-row .rich-text {
  display: inline-block;
}

.footnote-number {
  color: rgb(89, 92, 243);
  font-size: 18px;
  font-family: "Nunito Sans";
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 27px;
  margin-right: 7px;
}

.footnote-row a.footnote-text * {
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-family: "Nunito Sans";
  font-weight: normal;
  text-decoration: underline;
  letter-spacing: 0px;
  line-height: 27px;
}
