// Blog Authors

.blog-authors {
  .author-images {
    $image-offset: 0.7rem;

    padding-left: $image-offset;

    .author-image {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $white;
      overflow: hidden;
      margin-left: -$image-offset;

      &.no-avatar {
        background: url(../_images/blog-author-placeholder.jpg) $gray-80;
        background-size: cover;
      }

      &:last-of-type {
        margin-right: 0.5rem;
      }
    }
  }

  .tw-body-small {
    @include set-text-size(14px, 18px);

    color: $black;

    a {
      color: inherit;
    }
  }

  b {
    font-weight: 800;
  }
}
