// Card Related SCSS
// Example usage: https://foundation.mozilla.org/en/blog/

.card-regular {
  position: relative;

  .key-item {
    .rich-text {
      flex: 1;
    }
  }
}

.card-cta {
  margin: 48px 0;
  background: $gray-05;

  .wrapper {
    display: flex;
    margin: -24px 0;
    height: calc(100% + 48px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
  }
}

.card {
  border-bottom: 4px solid $black;
}
