.card-regular {
  position: relative;

  .commitment {
    position: absolute;
    top: 16px;
    left: 16px;
    background: $white;
    border: 1px solid $gray-20;
    padding: 4px 8px;
  }

  .cta-link {
    position: absolute;
    bottom: 0;
  }
}

.card-cta {
  margin: 48px 0;
  background: $gray-05;

  .wrapper {
    display: flex;
    margin: -24px 0;
    height: calc(100% + 48px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
  }

  .social-link {
    width: 37px;
    height: 37px;
    margin-right: 20px;
    background-size: contain;
  }

  .social-link-facebook {
    background-image: url(/_images/glyphs/share/fb.svg);
  }

  .social-link-twitter {
    background-image: url(/_images/glyphs/share/twitter.svg);
  }

  .social-link-email {
    background-image: url(/_images/glyphs/share/email.svg);
  }
}
