// @TODO: This component needs design polish
// @TODO: Add responsive design to this component

.chapter-body {
  margin-top: -50px;
}

.chapter-number {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: purple;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

// .chapter-article-link {}

// css magic lives here!
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.child-pages-summary ol {
  counter-reset: item;
}
.child-pages-summary li {
  display: block;
}
.child-pages-summary li:before {
  content: attr(data-chapter) counters(item, ".");
  counter-increment: item;
}

// just the first level of summary
// style copied from chapter number above
.child-pages-summary > ol > li::before {
  display: inline-flex;
  width: 160px;
  height: 160px;
  background-color: purple;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

// list that is the child of a list; aka the list of child pages
.child-pages-summary > ol > li > ol {
  margin-left: 136px;
  color: #6c757d;
}

.child-pages-children-title {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

// this is essentially the 'container' that holds a section of content summary
// .child-pages-summary > ol > li {

// }


.publication-hero-title {
  font-size: 49px;
  font-family: "Zilla Slab";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 56px;
}

.publication-hero-subtitle {
  font-size: 20px;
  font-family: "Nunito Sans";
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 28px;
}

.publication-hero-secondary-subtitle,
.publication-hero-file-size {
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-family: "Nunito Sans";
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 16px;
}

.publication-hero-container {
  padding-top: 200px;
  padding-bottom: 250px;
  background-size: cover !important;
  background-position: center center;
}

@media(max-width: $bp-md) {
  .publication-hero-container {
    padding-top: 100px;
    padding-bottom: 125px;
  }
}

