.commitment {
  font-family: NunitoSans-Regular;
  font-size: 12px;
  color: #909090;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    background: url(/_images/hand.svg) no-repeat;
    width: 14px;
    height: 20px;
    display: block;
    margin-right: 6px;
  }
}
