.commitment {
  display: flex;
  align-items: center;
  z-index: 1;

  &::before {
    content: "";
    background: url(../_images/hand.svg) no-repeat;
    width: 14px;
    height: 20px;
    display: block;
    margin-right: 6px;
  }
}
