// Contains rules for shared nav elements.
// For component/section specifc rules: add them to their corresponding SCSS files instead of here (e.g., primary-nav.scss, multipage-nav.scss, multipage-nav-mobile.scss etc)

.donate-banner {
  background-color: $white;
  background-image: url(../_images/mozilla-donate-dear-internet.png);
  background-size: cover;
  background-position: center center;
}

.btn-banner {
  @extend .btn-pop;

  color: $white;
  background: $blue;
  box-shadow: 4px 4px $black;
  border-color: $black;

  &:hover {
    color: $white;
    background: $dark-blue;
    border-color: $black;
  }

  &:active {
    color: $white;
    background: $banner-blue;
    border-color: $black;
  }
}
