.img-txt-mini {
  &-container {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  img {
    min-width: 30px;
    height: auto;
    max-width: 60px;
  }

  &-text {
    .rich-text {
      p {
        margin-bottom: 0;
        
        &:not(:first-child) {
            margin-top: .25rem;
        }
      }
    }
  }
}
