// Multipage Nav (Secondary Nav)
// Example usage: https://foundation.mozilla.org/en/who-we-are/

#multipage-horizontal-nav-wrapper {
  @include vertical-spacing(true);

  &.full-width {
    @media (min-width: $bp-md) {
      border-bottom: 1px solid $gray-20;
    }
  }
}

#multipage-nav {
  &:not(.vertical-nav):not(.pni-category-nav) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px $gray-20 solid;

    @at-root #multipage-horizontal-nav-wrapper.full-width #{&} {
      border: none;
    }

    .multipage-link {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      padding-bottom: 16px;
    }
  }

  &.vertical-nav {
    .multipage-link-wrapper {
      margin-bottom: 24px;
    }
  }

  .multipage-login-restricted::after {
    content: "🙈";
  }

  .multipage-groups-restricted::after {
    content: "👥";
  }

  .multipage-password-restricted::after {
    content: "🔒";
  }

  .multipage-draft::after {
    content: "🐣";
  }
}
