#multipage-nav-wrapper {
  &.full-width {
    @media (min-width: $bp-md) {
      border-bottom: 1px solid #ccc;
    }
  }
}

#multipage-nav {
  &:not(.vertical-nav) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px $light-gray solid;

    @at-root #multipage-nav-wrapper.full-width #{&} {
      border: none;
    }

    .multipage-link {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      padding-bottom: 16px;
    }
  }

  &.vertical-nav {
    .multipage-link-wrapper {
      margin-bottom: 24px;
    }
  }

  .multipage-login-restricted::after {
    content: '🙈';
  }

  .multipage-groups-restricted::after {
    content: '👥';
  }

  .multipage-password-restricted::after {
    content: '🔒';
  }

  .multipage-draft::after {
    content: '🐣';
  }
}
