// Contains rules for shared nav elements.
// For component/section specifc rules: add them to their corresponding SCSS files instead of here (e.g., primary-nav.scss, multipage-nav.scss, multipage-nav-mobile.scss etc)

.multipage-link {
  color: $gray-60;
  font-size: 15px;
  font-weight: 700;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: transparent;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: inherit;
    color: $black;
    text-decoration: none;
    border-bottom-color: $black;
  }

  @at-root #multipage-nav-mobile &#{&}.active {
    border-bottom: none;
  }

  @at-root #pni-nav-mobile &#{&}.active {
    border-bottom: none;
  }

  @at-root .vertical-nav #{&} {
    font-size: 17px;
    line-height: calc(27 / 17);
  }
}
