select {
  &.form-control {
    $background-size: 24px;
    $padding-x: 12px;
    $padding-right: $padding-x * 2 + $background-size;

    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../_images/glyphs/down-chevron.svg");
    background-repeat: no-repeat;
    background-position: right $padding-x top 50%;
    background-size: $background-size $background-size;
    border-radius: 0;
    border: 1px solid $gray-20;
    padding: 5px $padding-right 5px $padding-x;
    color: $black;

    &-lg {
      padding: $padding-x $padding-right $padding-x $padding-x;
    }

    @at-root .dark-theme & {
      background-image: url("../_images/glyphs/down-chevron-dark-theme.svg");
      background-color: transparent;
      border: 1px solid $white;
      color: $white;

      // Explicitly setting <option>'s color to black.
      // Otherwise, certain browsers would inherit the text color we set for <select>, and
      // we would end up having white text on white background in the dropdown.
      option {
        color: $black;
      }
    }
  }
}
