.share-button-group {
  $margin: 16px;

  // Mixin for styling stacked rectangle style share buttons
  @mixin stacked-rectangle() {
    flex-direction: column;

    .subgroup:not(:last-child) {
      margin-right: 0;
      margin-bottom: $margin;
    }

    .subgroup {
      flex: 0;
    }
  }

  display: flex;
  flex-wrap: wrap;

  &.rectangle {
    .subgroup {
      display: flex;
      flex: 1;

      &:not(:last-child) {
        margin-right: $margin;
      }

      &:last-child {
        .btn:last-child {
          margin-right: 0;
        }
      }
    }

    @include media-breakpoint-down("sm") {
      @include stacked-rectangle();
    }

    &.stacked-lg-and-down {
      @include media-breakpoint-down("lg") {
        @include stacked-rectangle();
      }
    }

    &.stacked {
      @include stacked-rectangle();
    }

    .btn {
      display: flex;
      justify-content: center;
      flex: 1 1 0;

      &::before {
        position: relative;
        top: 3px;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }

  &.circle {
    &.stacked {
      flex-direction: column;
      .subgroup {
        margin-right: 0;
        flex-direction: column;
      }
      .btn {
        margin-right: 0;
        margin-bottom: $margin;
      }
      .link-share {
        margin-bottom: 0;
      }
    }

    .subgroup {
      display: flex;
      flex: 0;
      margin-right: $margin;
    }

    .btn {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  .btn {
    margin-right: $margin;

    &:last-child {
      margin-right: 0;
    }

    @include hover-focus-active {
      &::before {
        filter: brightness(1);
      }
    }

    &::before {
      filter: brightness(0);
      content: " ";
      display: block;
      width: 16px;
      height: 16px;
      background: no-repeat 0 0 / contain;
      transition: $button-icon-transition-speed;
    }

    &.facebook-share {
      &::before {
        background-image: url(../_images/glyphs/social-share/facebook-share.svg);
      }
    }

    &.twitter-share {
      &::before {
        background-image: url(../_images/glyphs/social-share/twitter-share.svg);
      }
    }

    &.email-share {
      &::before {
        background-image: url(../_images/glyphs/social-share/email-share.svg);
      }
    }

    &.link-share {
      &::before {
        background-image: url(../_images/glyphs/social-share/link-share.svg);
      }

      &.copied {
        &::before {
          background-image: url(../_images/glyphs/social-share/link-share-copied.svg);
        }
      }
    }
  }
}
