.cta {
  // we need a z-index that's slightly lower than our sticky priamry nav's z-index
  // so the sticky nav can always stay on top of everything
  // see https://v4-alpha.getbootstrap.com/layout/overview/#z-index
  $sticky-cta-z-index: calc(#{$zindex-sticky} - 1);

  .narrow-sticky-button-container {
    background: $white;
    padding: 15px;
    width: 100%;
    box-shadow: 0 -1px 3px $border-shadow-color;
    border-top: 1px solid $gray-20;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: margin-bottom 0.3s ease-in-out;
    z-index: $sticky-cta-z-index;

    &.hidden {
      margin-bottom: -308px;
      visibility: hidden;
      pointer-events: auto;
      transition: margin-bottom 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;
    }

    @media (min-width: $bp-lg) {
      display: none;
    }
  }
}
