{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block bodyID %}initiatives{% endblock %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 text-right">
      <h1 class="h1-heading">It all goes back to the internet</h1>
    </div>
    <div class="col-12 col-md-8">
      <p class="body-large">The Mozilla Manifesto, guides Mozilla’s diverse initiatives that impact the world. These core principles shape our mission: ensuring the internet always remains a global public resource that is healthy, open, and accessible to all. Mozilla’s programs operate at different scales and locations around the world, fueling the movement for a healthy internet.</p>
    </div>
  </div>
</div>

<div>MENU</div>

<div>{{ page.sectionHeader }}</div>
<div>{{ page.sectionCopy }}</div>
<div>{{ page.sectionButtonTitle }}</div>
<div>{{ page.sectionButtonURL }}</div>

<div class="row align-items-center">
  <div class="col-12 col-md-6">
    <img src="https://placekitten.com/g/1000/1000"/>
  </div>
  <div class="col-12 col-md-6">
    <h2 class="h3-heading">Advocacy</h2>
    <p class="body-large">We believe a healthy internet requires an active, global community. Mozilla’s advocacy work brings together individuals from around the world to educate on and fight for privacy, inclusion, literacy, and all principles of a healthy internet. Add your voice to the movement.</p>
    <a class="btn btn-ghost">Make a Difference</a>
  </div>
</div>

{% endblock %}
