{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block bodyID %}initiatives{% endblock %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 text-right">
      <h1 class="h1-heading">{{ page.header }}</h1>
    </div>
    <div class="col-12 col-md-8">
      <p class="body-large">{{ page.subheader }}</p>
    </div>
  </div>
</div>

<div>TODO : MENU</div>

{% for section in page.initiative_sections.all %}

  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      {% image section.sectionImage fill-800x800-c100 format-jpeg %}
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h3-heading">{{ section.sectionHeader }}</h2>
      <p class="body-large">{{ section.sectionCopy }}</p>
      <a href="{{ section.sectionButtonURL }}" class="btn btn-ghost">{{ section.sectionButtonTitle }}</a>
    </div>
  </div>

{% endfor %}


{% endblock %}
