{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags card_tags i18n %}

{% block body_id %}initiatives{% endblock %}

{% block content %}
{% image page.primaryHero fill-2400x700-c100 format-jpeg as big_hero %}
<div class="px-4"
  style="
    background-image: url({{ big_hero.url }});
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 100px;
  ">

  <div class="container p-3 p-sm-5 mx-sm-auto mb-4 bg-white">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 pr-lg-0 text-lg-right">
        <h1 class="h1-heading">{{ page.header }}</h1>
      </div>
      <div class="col-12 col-lg-8 pl-lg-5">
        <p class="tw-body-large">{{ page.subheader }}</p>
      </div>
    </div>
  </div>

</div>

<div class="py-4">
  {% include "partials/multipage_nav_mobile.html" with always_show_mobile_nav=True %}
  <div id="multipage-horizontal-nav-wrapper" class="d-none d-md-block full-width my-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="multipage-nav">
            <a class="multipage-link active" href="./">{% trans "Overview" %}</a>
            <!-- hardcoding nav links as per https://github.com/mozilla/foundation.mozilla.org/issues/2379#issuecomment-449127807  -->
            <a class="multipage-link" href="/advocacy">{% trans "Advocacy" %}</a>
            <a class="multipage-link" href="https://foundation.mozilla.org/internet-health-report/">{% trans "Internet Health Report" %}</a>
            <a class="multipage-link" href="/fellowships">{% trans "Fellowships" %}</a>
            <a class="multipage-link" href="/awards">{% trans "Awards" %}</a>
            <a class="multipage-link" href="https://mozillafestival.org/" target="_blank">{% trans "MozFest" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  {% for section in page.initiative_sections.all %}
  {% image section.sectionImage fill-1600x1600-c100 format-jpeg as container_img %}
  <div class="row no-gutters d-flex align-items-stretch">
    <div class="col-12 col-md-5 offset-md-1" style="background: url({{ container_img.url }}); background-repeat: no-repeat; background-size: contain; background-position: center;">
      {# square spacer #}
      <div style="padding-top:100%"></div>
    </div>
    <div class="col-12 col-md-5 col-lg-4 px-3 py-3 px-md-0 ml-lg-4 align-self-center">
      <div class="container">
        <h2 class="tw-h2-heading">{{ section.sectionHeader }}</h2>
        <p class="tw-body-large mb-4">{{ section.sectionCopy }}</p>
        <a href="{{ section.sectionButtonURL }}" class="btn btn-secondary {% if section.sectionButtonURL2 and section.sectionButtonTitle2 %}mr-2 mb-2{% endif %}">{{ section.sectionButtonTitle }}</a>
        {% if section.sectionButtonURL2 and section.sectionButtonTitle2 %}
        <a href="{{ section.sectionButtonURL2 }}" class="btn btn-secondary mb-2">{{ section.sectionButtonTitle2 }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container">
  <div class="hr-emphasis"></div>

  <h3 class="tw-h4-heading">{{ page.h3 }}</h3>
  <p class="tw-body-large my-4">{{ page.sub_h3 }}</p>

  <div class="highlights mb-5">
    <div class="row">
      {% for entry in page.featured_highlights.all %}
      {% with highlight=entry.highlight %}
      <div class="col-md-6 col-lg-4">
        {% card highlight.image highlight.title highlight.description highlight.link_url highlight.link_label %}
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
