{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags card_tags %}

{% block bodyID %}participate{% endblock %}

{% block content %}

{% image page.primaryHero format-jpeg as big_hero %}
<div class="bottom-line mb-3">
  <div class="container" style="background-image: url({{ big_hero.url }}); background-repeat:no-repeat; background-position: top center; background-size: cover;">
    <div class="row py-5">
      <div class="col-12 col-md-5">
        <h1 class="h1-heading">{{ page.heroHeader }}</h1>
        <p class="body-large">{{ page.heroSubhead | richtext }}</p>
        <p class="commitment">30 min commitment</p>
        <a class="btn btn-normal" href={{ page.ctaButtonURL }}>{{ page.ctaButtonTitle }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
