{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags homepage_tags card_tags %}

{% block body_id %}participate{% endblock %}

{% block content %}

{% image page.ctaHero format-jpeg as big_hero %}
<div id="participate-hero" class="bottom-line mb-4" style="background-image: url({{ big_hero.url }});">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-md-10 col-xl-5 mb-2">
        <h1 class="h1-heading">{{ page.ctaHeroHeader }}</h1>
        <div class="tw-body-large">{{ page.ctaHeroSubhead | richtext }}</div>
        <a class="btn btn-primary" href={{ page.ctaButtonURL }}>{{ page.ctaButtonTitle }}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mb-1">
      <h2 class="tw-h2-heading">{{ page.h2 }}</h2>
      <p class="tw-body-large">{{ page.h2Subheader }}</p>
    </div>
  </div>

  <div class="my-2">
    <div class="row">
      {% for entry in page.featured_highlights.all %}
      {% with highlight=entry.highlight %}
      <div class="col-md-6 col-lg-4 {% if forloop.counter == 3 %}d-md-none d-lg-block{% endif %}">
        {% card highlight.image highlight.title highlight.description highlight.link_url highlight.link_label %}
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>

  {% cardCTA page.ctaHero2 page.ctaHeroHeader2 page.ctaHeroSubhead2 page.ctaButtonURL2 page.ctaButtonTitle2 %}

  <div class="my-5">
    <div class="row">
      {% for entry in page.featured_highlights2.all %}
      {% with highlight=entry.highlight %}
      <div class="col-md-6 col-lg-4">
        {% card highlight.image highlight.title highlight.description highlight.link_url highlight.link_label %}
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>

  {% cardCTA page.ctaHero3 page.ctaHeroHeader3 page.ctaHeroSubhead3 None None page.ctaFacebook3 page.ctaTwitter3 page.ctaEmailShareSubject3 page.ctaEmailShareBody3 %}

  <div class="my-5">
    {% for cta in page.cta4.all %}
      <div class="d-block d-sm-none">
      {% image cta.hero width-320 as temp %}
      {% card temp.url cta.header cta.subhead cta.buttonURL cta.buttonTitle %}
      </div>
      <div class="d-none d-sm-block">
      {% cardLarge cta.hero cta.header cta.subhead cta.buttonURL cta.buttonTitle %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
