{% extends "../primary_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container">
    <div class="row my-5">
      <div class="col-sm-4">
        <img class="mb-3 mb-md-0" src="/_images/upcoming/mozfest-banner.jpg"></div>
      <div class="col-sm-8">
        <h4 class="h4-heading">Mozfest 2018 is open for proposals!</h4>
        <p>This years theme "Data and You" takes the large concepts of data: collection, surveillance, policy, it’s currency and its future and center it around the most important of all its parts: people. How does and will data affect people’s lives? How can we share best practices, innovative tools and grow connections that allow data to serve people instead of people serving data. The deadline for proposals is August 1st.</p><a class="cta-link" href="https://mozillafestival.org/proposals">Apply now</a>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-4"><img class="mb-3 mb-md-0" src="/_images/upcoming/images-upcoming-fellowships@2x.jpg"></div>
      <div class="col-sm-8">
        <h4 class="h4-heading">Fellowships that Empower Leaders</h4>
        <p>Mozilla Fellowships provide resources, tools, community and amplification to those building a more ​humane​ ​digital​ ​world. Mozilla Fellowships are a transformative experience for emerging leaders concerned with making the internet a safer, more accessible resource for everyone.</p><a class="cta-link" href="https://foundation.mozilla.org/fellowships">Learn more and apply</a>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-4"><img class="mb-3 mb-md-0" src="/_images/upcoming/images-upcoming-internet-health-report@2x.jpg"></div>
      <div class="col-sm-8">
        <h4 class="h4-heading">Internet Health Report</h4>
        <p>Is the Internet getting healthier? Is it under threat? Do we all have a voice on the web? Mozilla’s Internet Health Report is an open source initiative that combines research from multiple sources to document what’s healthy and unhealthy.</p><a class="cta-link" href="https://internethealthreport.org/">Read the report</a>
      </div>
    </div>
  </div>
{% endblock %}
