{% extends "../primary_page.html" %}
{% load wagtailcore_tags wagtailimages_tags card_tags %}
{% load i18n static %}

{% block body_id %}style-guide{% endblock %}

{% block content %}
<div class="tw-container tw-mt-7">
  <div class="tw-row">
    <div class="tw-w-full tw-px-4 tw-pb-7">
      <h2 class="h1-heading tw-group" id="colors">
        <span>Colors</span>
        <a href="#colors" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <h3 class="h2-heading tw-mt-7 tw-group" id="site-palette">
        <span>Site-wide Palette</span>
        <a href="#site-palette" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />

      <div class="tw-row">
        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-white" name="White ($white)" hex="#ffffff" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gray-05" name="Gray 05 ($gray-05)" hex="#f2f2f2" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gray-20" name="Gray 20 ($gray-20)" hex="#cccccc" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gray-40" name="Gray 40 ($gray-40)" hex="#999999" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gray-60" name="Gray 60 ($gray-60)" hex="#666666" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gray-80" name="Gray 80 ($gray-80)" hex="#333333" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-black" name="Black ($black)" hex="#000000" %}
      </div>

      <div class="tw-row">
          {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-red-light" name="Light Red ($light-red)" hex="#ffe6e8" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-red" name="Red ($red)" hex="#ff4f5e" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-red-dark" name="Dark Red ($dark-red)" hex="#cc0011" %}
      </div>

      <div class="tw-row">
        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-blue-lightest" name="Lightest Blue ($lightest-blue)" hex="#e7e7fc" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-blue-light" name="Light Blue ($light-blue)" hex="#b7b9fa" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-blue" name="Blue ($blue)" hex="#595cf3" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-blue-dark" name="Dark Blue ($dark-blue)" hex="#0d10bf" %}
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="pni-palette">
        <span>Privacy Not Included Palette</span>
        <a href="#pni-palette" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />

      <div class="tw-row">
        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-pni-lilac" name="PNI Lilac ($pni-lilac)" hex="#d3d5fc" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-pni-blue" name="PNI Blue ($pni-blue)" hex="#1808f2" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-pni-blue-purple" name="PNI Blue Purple ($pni-blue-purple)" hex="#4a17d4" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-pni-purple" name="PNI Purple ($pni-purple)" hex="#7f28b7" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-pni-purple-pink" name="PNI Purple Pink ($pni-purple-pink)" hex="#b0379b" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-pni-pink" name="PNI Pink ($pni-pink)" hex="#e4487d" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gradient-to-r tw-from-pni-blue tw-to-pni-pink" name="PNI Gradient ($pni-gradient)" hex="linear-gradient(to right, #1808f2 0%, #e4487d 100%)" %}
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="festival-palette">
        <span>Festival Palette</span>
        <a href="#festival-palette" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />

      <div class="tw-row">
        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-festival-blue" name="Festival Dark Blue ($festival-dark-blue)" hex="#0e11bf" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-festival-purple" name="Festival Purple ($festival-purple)" hex="#8f14fb" %}

        {% include "../fragments/styleguide_color_block.html" with classname="tw-bg-gradient-to-r tw-from-festival-blue tw-to-festival-purple" name="Festival Gradient ($festival-gradient)" hex="linear-gradient(120deg, #0e11bf 0%, #8f14fb 100%)" %}
      </div>

      <h2 class="h1-heading tw-mt-7 tw-group" id="spacing">
        <span>Spacing</span>
        <a href="#spacing" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <div class="tw-row">
        <div class="tw-w-full tw-px-4">
          <table class="tw-table tw-w-full tw-border tw-border-table tw-overflow-x-auto tw-table-fixed">
            <thead>
              <tr>
                <th class="tw-p-3 tw-border tw-border-table ">Name</th>
                <th class="tw-p-3 tw-border tw-border-table ">Units</th>
                <th class="tw-p-3 tw-border tw-border-table tw-w-2/5">Example</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tw-bg-black tw-bg-opacity-5">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">0</td>
                <td class="tw-p-3 tw-border tw-border-table">0px</td>
                <td class="tw-p-3 tw-border tw-border-table"></td>
              </tr>
              <tr class="">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">px</td>
                <td class="tw-p-3 tw-border tw-border-table">1px</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-px tw-h-px"></div></td>
              </tr>
              <tr class="tw-bg-black tw-bg-opacity-5">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">1</td>
                <td class="tw-p-3 tw-border tw-border-table">4px (0.25rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-1 tw-h-1"></div></td>
              </tr>
              <tr class="">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">2</td>
                <td class="tw-p-3 tw-border tw-border-table">8px (0.5rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-2 tw-h-2"></div></td>
              </tr>
              <tr class="tw-bg-black tw-bg-opacity-5">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">3</td>
                <td class="tw-p-3 tw-border tw-border-table">12px (0.75rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-3 tw-h-3"></div></td>
              </tr>
              <tr class="">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">4</td>
                <td class="tw-p-3 tw-border tw-border-table">16px (1rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-4 tw-h-4"></div></td>
              </tr>
              <tr class="tw-bg-black tw-bg-opacity-5">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">5</td>
                <td class="tw-p-3 tw-border tw-border-table">24px (1.5rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-5 tw-h-5"></div></td>
              </tr>
              <tr class="">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">6</td>
                <td class="tw-p-3 tw-border tw-border-table">32px (2rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-6 tw-h-6"></div></td>
              </tr>
              <tr class="tw-bg-black tw-bg-opacity-5">
                <td class="tw-p-3 tw-border tw-border-table tw-font-bold">7</td>
                <td class="tw-p-3 tw-border tw-border-table">48px (3rem)</td>
                <td class="tw-p-3 tw-border tw-border-table"><div class="tw-bg-red tw-w-7 tw-h-7"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="h1-heading tw-mt-7 tw-group" id="grid">
        <span>Grid</span>
        <a href="#grid" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <h3 class="h2-heading tw-mt-7 tw-group" id="breakpoints">
        <span>Breakpoints</span>
        <a href="#breakpoints" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="tw-row">
        <div class="tw-w-full tw-px-4">
          <table class="tw-table tw-w-full tw-border tw-border-table tw-overflow-x-auto">
            <thead>
              <tr>
                <th class="tw-p-3 tw-border tw-border-table"></th>
                <th class="tw-p-3 tw-border tw-border-table">Extra small</th>
                <th class="tw-p-3 tw-border tw-border-table">Small</th>
                <th class="tw-p-3 tw-border tw-border-table">Medium</th>
                <th class="tw-p-3 tw-border tw-border-table">Large</th>
                <th class="tw-p-3 tw-border tw-border-table">Extra large</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tw-bg-black tw-bg-opacity-5">
                <th class="tw-whitespace-nowrap tw-p-3 tw-border tw-border-table" scope="row">Breakpoint</th>
                <td class="tw-p-3 tw-border tw-border-table">None</td>
                <td class="tw-p-3 tw-border tw-border-table">576px</td>
                <td class="tw-p-3 tw-border tw-border-table">768px</td>
                <td class="tw-p-3 tw-border tw-border-table">992px</td>
                <td class="tw-p-3 tw-border tw-border-table">1200px</td>
              </tr>
              <tr>
                <th class="tw-whitespace-nowrap tw-p-3 tw-border tw-border-table" scope="row">Max container width</th>
                <td class="tw-p-3 tw-border tw-border-table">None (auto)</td>
                <td class="tw-p-3 tw-border tw-border-table">540px</td>
                <td class="tw-p-3 tw-border tw-border-table">720px</td>
                <td class="tw-p-3 tw-border tw-border-table">960px</td>
                <td class="tw-p-3 tw-border tw-border-table">1140px</td>
              </tr>
              <tr4 class="tw-bg-black tw-bg-opacity-5">
                <th class="tw-whitespace-nowrap tw-p-3 tw-border tw-border-table" scope="row">Design alias</th>
                <td class="tw-p-3 tw-border tw-border-table"><code>mobile (potrait)</code></td>
                <td class="tw-p-3 tw-border tw-border-table"><code>mobile (landscape)</code></td>
                <td class="tw-p-3 tw-border tw-border-table"><code>tablet</code></td>
                <td class="tw-p-3 tw-border tw-border-table"><code>desktop</code></td>
                <td class="tw-p-3 tw-border tw-border-table"><code>wide desktop</code></td>
              </tr4
            </tbody>
          </table>
        </div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="columns">
        <span>Columns</span>
        <a href="#columns" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />

      <div class="tw-row dark-theme">
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-w-1/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-w-2/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
        <div class="tw-w-2/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
        <div class="tw-w-2/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
        <div class="tw-w-2/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
        <div class="tw-w-2/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
        <div class="tw-w-2/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-w-3/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">3</p></div>
        <div class="tw-w-3/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">3</p></div>
        <div class="tw-w-3/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">3</p></div>
        <div class="tw-w-3/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">3</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-w-4/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">4</p></div>
        <div class="tw-w-4/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">4</p></div>
        <div class="tw-w-4/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">4</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-w-6/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">6</p></div>
        <div class="tw-w-6/12 tw-px-4"><p class="body-large tw-bg-black tw-text-center tw-mb-2">6</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-px-4 tw-w-5/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">5</p></div>
        <div class="tw-px-4 tw-w-7/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">7</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-px-4 tw-w-4/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">4</p></div>
        <div class="tw-px-4 tw-w-8/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">8</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-px-4 tw-w-3/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">3</p></div>
        <div class="tw-px-4 tw-w-9/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">9</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-px-4 tw-w-2/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">2</p></div>
        <div class="tw-px-4 tw-w-10/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">10</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-px-4 tw-w-1/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">1</p></div>
        <div class="tw-px-4 tw-w-11/12"><p class="body-large tw-bg-black tw-text-center tw-mb-2">11</p></div>
      </div>

      <div class="tw-row dark-theme">
        <div class="tw-px-4 tw-w-full"><p class="body-large tw-bg-black tw-text-center tw-m-0">12</p></div>
      </div>

      <hr />


      <h2 class="h1-heading tw-mt-7 tw-group" id="typography">
        <span>Typography</span>
        <a href="#typography" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <h3 class="h2-heading tw-mt-7 tw-group" id="headers">
        <span>Headers</span>
        <a href="#headers" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="tw-py-2">
        <h1 class="h1-heading">.h1-heading</h1>
      </div>
      <div class="tw-py-2">
        <h2 class="h2-heading">.h2-heading</h2>
      </div>
      <div class="tw-py-2">
        <h3 class="h3-heading">.h3-heading</h3>
      </div>
      <div class="tw-py-2">
        <h4 class="h4-heading">.h4-heading</h4>
      </div>
      <div class="tw-py-2">
        <h5 class="h5-heading">.h5-heading</h5>
      </div>
      <div class="tw-py-2">
        <h6 class="h6-heading">.h6-heading</h6>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="headers-links">
        <span>Headers with links</span>
        <a href="#headers-links" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="tw-py-2">
        <h1 class="h1-heading">.h1-heading with <a href="">link</a></h1>
      </div>
      <div class="tw-py-2">
        <h2 class="h2-heading">.h2-heading with <a href="">link</a></h2>
      </div>
      <div class="tw-py-2">
        <h3 class="h3-heading">.h3-heading with <a href="">link</a></h3>
      </div>
      <div class="tw-py-2">
        <h4 class="h4-heading">.h4-heading with <a href="">link</a></h4>
      </div>
      <div class="tw-py-2">
        <h5 class="h5-heading">.h5-heading with <a href="">link</a></h5>
      </div>
      <div class="tw-py-2">
        <h6 class="h6-heading">.h6-heading with <a href="">link</a></h6>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="paragraphs">
        <span>Paragraphs</span>
        <a href="#paragraphs" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="tw-py-2">
        <p class="body-large">.body-large with <b>bold</b> and <strong>strong</strong> and <i>italic</i> text</p>
      </div>
      <div class="tw-py-2">
        <p class="body">.body with <b>bold</b> and <strong>strong</strong> and <i>italic</i> text</p>
      </div>
      <div class="tw-py-2">
        <p class="body-small">.body-small with <b>bold</b> and <strong>strong</strong> and <i>italic</i> text</p>
      </div>
      <div class="tw-py-2">
        <p class="quote">.quote</p>
      </div>
      <div class="tw-py-2">
        <h2 class="type-accent">.type-accent</h2>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="paragraphs-links">
        <span>Paragraphs with links</span>
        <a href="#paragraphs-links" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="tw-py-2">
        <p class="body-large">.body-large with <a href="">link</a></p>
      </div>
      <div class="tw-py-2">
        <p class="body">.body with <a href="">link</a></p>
      </div>
      <div class="tw-py-2">
        <p class="body-small">.body-small with <a href="">link</a></p>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="lists">
        <span>Lists</span>
        <a href="#lists" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>

      <hr />
      <div class="tw-py-2">
        <h4>Default <xmp class="tw-inline"><ol></xmp> style</h4>
        <ol>
          <li>I'm a list item <xmp class="tw-inline"><li></xmp> style </li>
          <li>I'm a list item <xmp class="tw-inline"><li></xmp> style with a <a href="https://example.com">link</a></li>
        </ol>
      </div>
      <div class="tw-py-2">
        <h4>Default <xmp class="tw-inline"><ul></xmp> style</h4>
        <ul>
          <li>I'm a list item <xmp class="tw-inline"><li></xmp> style </li>
          <li>I'm a list item <xmp class="tw-inline"><li></xmp> style with a <a href="https://example.com">link</a></li>
        </ul>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="anchors">
        <span>Anchors</span>
        <a href="#anchors" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="tw-py-2"><a class="cta-link" href="https://example.com">.cta-link</a></div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="dark-headers">
        <span>Dark Theme Headers</span>
        <a href="#dark-headers" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="dark-theme tw-bg-black">
        <div class="tw-py-2">
          <h1 class="h1-heading">.h1-heading</h1>
        </div>
        <div class="tw-py-2">
          <h2 class="h2-heading">.h2-heading</h2>
        </div>
        <div class="tw-py-2">
          <h3 class="h3-heading">.h3-heading</h3>
        </div>
        <div class="tw-py-2">
          <h4 class="h4-heading">.h4-heading</h4>
        </div>
        <div class="tw-py-2">
          <h5 class="h5-heading">.h5-heading</h5>
        </div>
        <div class="tw-py-2">
          <h6 class="h6-heading">.h6-heading</h6>
        </div>
      </div>
      <h3 class="h2-heading tw-mt-7 tw-group" id="dark-headers-links">
        <span>Dark Theme Headers with links</span>
        <a href="#dark-headers-links" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="dark-theme tw-bg-black">
        <div class="tw-py-2">
          <h1 class="h1-heading">.h1-heading with <a href="">link</a></h1>
        </div>
        <div class="tw-py-2">
          <h2 class="h2-heading">.h2-heading with <a href="">link</a></h2>
        </div>
        <div class="tw-py-2">
          <h3 class="h3-heading">.h3-heading with <a href="">link</a></h3>
        </div>
        <div class="tw-py-2">
          <h4 class="h4-heading">.h4-heading with <a href="">link</a></h4>
        </div>
        <div class="tw-py-2">
          <h5 class="h5-heading">.h5-heading with <a href="">link</a></h5>
        </div>
        <div class="tw-py-2">
          <h6 class="h6-heading">.h6-heading with <a href="">link</a></h6>
        </div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="dark-para">
        <span>Dark Theme Paragraphs</span>
        <a href="#dark-para" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="dark-theme tw-bg-black">
        <div class="tw-py-2">
          <p class="body-large">.body-large with <b>bold</b> and <strong>strong</strong> and <i>italic</i> text</p>
        </div>
        <div class="tw-py-2">
          <p class="body">.body with <b>bold</b> and <strong>strong</strong> and <i>italic</i> text</p>
        </div>
        <div class="tw-py-2">
          <p class="body-small">.body-small with <b>bold</b> and <strong>strong</strong> and <i>italic</i> text</p>
        </div>
        <div class="tw-py-2">
          <p class="quote">.quote</p>
        </div>
        <div class="tw-py-2">
          <h2 class="type-accent">.type-accent</h2>
        </div>

      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="dark-para-links">
        <span>Dark Theme Paragraphs with links</span>
        <a href="#dark-para-links" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="dark-theme tw-bg-black">
        <div class="tw-py-2">
          <p class="body">.body with <a href="">link</a></p>
        </div>
        <div class="tw-py-2">
          <p class="body-large">.body-large with <a href="">link</a></p>
        </div>
        <div class="tw-py-2">
          <p class="body-small">.body-small with <a href="">link</a></p>
        </div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="dark-lists">
        <span>Dark Theme Lists</span>
        <a href="#dark-lists" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="dark-theme tw-bg-black">
        <div class="tw-py-2">
          <h4>Default <xmp class="tw-inline"><ol></xmp> style</h4>
          <ol>
            <li>I'm a list item <xmp class="tw-inline"><li></xmp> style </li>
            <li>I'm a list item <xmp class="tw-inline"><li></xmp> style with a <a href="https://example.com">link</a></li>
          </ol>
        </div>
        <div class="tw-py-2">
          <h4>Default <xmp class="tw-inline"><ul></xmp> style</h4>
          <ul>
            <li>I'm a list item <xmp class="tw-inline"><li></xmp> style </li>
            <li>I'm a list item <xmp class="tw-inline"><li></xmp> style with a <a href="https://example.com">link</a></li>
          </ul>
        </div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="dark-anchors">
        <span>Dark Theme Anchors</span>
        <a href="#dark-anchors" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />
      <div class="dark-theme tw-bg-black">
        <a class="cta-link" href="">.cta-link</a>
      </div>
      <div class="dark-theme tw-bg-black">
        <a href="">link</a>
      </div>

      <h2 class="h1-heading tw-mt-7 tw-group" id="buttons">
        <span>Buttons</span>
        <a href="#buttons" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <h3 class="h2-heading tw-mt-7 tw-group" id="button-defaults">
        <span>Default</span>
        <a href="#button-defaults" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />

      <div class="tw-mb-7">
        <div class="tw-my-2">
          <button class="btn btn-primary">.btn-primary on <xmp class="tw-inline"><button></xmp></button>
          <button class="btn btn-primary" disabled>disabled .btn-primary on <xmp class="tw-inline"><button></xmp></button>
        </div>
        <div class="tw-my-2">
          <a class="btn btn-primary" href="">.btn-primary on <xmp class="tw-inline"><a></xmp></a>
          <a class="btn btn-primary" disabled href="">disabled .btn-primary on <xmp class="tw-inline"><a></xmp></a>
        </div>
      </div>

      <div class="tw-mb-7">
        <div class="tw-my-2">
          <button class="btn btn-secondary">.btn-secondary on <xmp class="tw-inline"><button></xmp></button>
          <button class="btn btn-secondary" disabled>disabled .btn-secondary on <xmp class="tw-inline"><button></xmp></button>
        </div>
        <div class="tw-my-2">
          <a class="btn btn-secondary" href="">.btn-secondary on <xmp class="tw-inline"><a></xmp></a>
          <a class="btn btn-secondary" disabled href="">disabled .btn-secondary on <xmp class="tw-inline"><a></xmp></a>
        </div>
        <div class="tw-my-2">
          <a class="btn btn-secondary" href="https://example.com">.btn-secondary on <xmp class="tw-inline tw-my-0 tw-mx-1"><a></xmp> with external link</a>
          <a class="btn btn-secondary" disabled href="https://example.com">disabled .btn-secondary on <xmp class="tw-inline tw-my-0 tw-mx-1"><a></xmp> with external link</a>
        </div>
      </div>

      <div>
        <div class="tw-my-2">
          <button class="btn btn-pop">.btn-pop on <xmp class="tw-inline"><button></xmp></button>
          <button class="btn btn-pop" disabled>disabled .btn-pop on <xmp class="tw-inline"><button></xmp></button>
        </div>
        <div class="tw-my-2">
          <a class="btn btn-pop" href="">.btn-pop on <xmp class="tw-inline"><a></xmp></a>
          <a class="btn btn-pop" href="" disabled>disabled .btn-pop on <xmp class="tw-inline"><a></xmp></a>
        </div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="button-dark">
        <span>Dark Theme</span>
        <a href="#button-dark" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr />

      <div class="tw-p-4 dark-theme tw-bg-black">
        <div class="tw-mb-7">
          <div class="tw-my-2">
            <button class="btn btn-primary">.btn-primary on <xmp class="tw-inline"><button></xmp></button>
            <button class="btn btn-primary" disabled>disabled .btn-primary on <xmp class="tw-inline"><button></xmp></button>
          </div>
          <div class="tw-my-2">
            <a class="btn btn-primary" href="">.btn-primary on <xmp class="tw-inline"><a></xmp></a>
            <a class="btn btn-primary" href="" disabled>disabled .btn-primary on <xmp class="tw-inline"><a></xmp></a>
          </div>
        </div>

        <div class="tw-mb-7">
          <div class="tw-my-2">
            <button class="btn btn-secondary">.btn-secondary on <xmp class="tw-inline"><button></xmp></button>
            <button class="btn btn-secondary" disabled>disabled .btn-secondary on <xmp class="tw-inline"><button></xmp></button>
          </div>
          <div class="tw-my-2">
            <a class="btn btn-secondary" href="">.btn-secondary on <xmp class="tw-inline"><a></xmp></a>
            <a class="btn btn-secondary" disabled href="">disabled .btn-secondary on <xmp class="tw-inline"><a></xmp></a>
          </div>
          <div class="tw-my-2">
            <a class="btn btn-secondary" href="https://example.com">.btn-secondary on <xmp class="tw-inline tw-my-0 tw-mx-1"><a></xmp> with external link</a>
            <a class="btn btn-secondary" disabled href="https://example.com">disabled .btn-secondary on <xmp class="tw-inline tw-my-0 tw-mx-1"><a></xmp> with external link</a>
          </div>
        </div>

        <div>
          <div class="tw-my-2">
            <button class="btn btn-pop">.btn-pop on <xmp class="tw-inline"><button></xmp></button>
            <button class="btn btn-pop" disabled>disabled .btn-pop on <xmp class="tw-inline"><button></xmp></button>
          </div>
          <div class="tw-my-2">
            <a class="btn btn-pop" href="">.btn-pop on <xmp class="tw-inline"><a></xmp></a>
            <a class="btn btn-pop" href="" disabled>disabled .btn-pop on <xmp class="tw-inline"><a></xmp></a>
          </div>
        </div>
      </div>

      <h2 class="h1-heading tw-mt-7 tw-group" id="button-share">
        <span>Share Button Group</span>
        <a href="#button-share" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <h3 class="h2-heading tw-mt-7 tw-group" id="button-full">
        <span>Full version</span>
        <a href="#button-full" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr>

      <div class="tw-mb-7">
        <div class="share-button-group-wrapper"></div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="full-stacked">
        <span>Full Version & Stacked</span>
        <a href="#full-stacked" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr>

      <div class="tw-mb-7">
        <div class="share-button-group-wrapper" data-layout="stacked"></div>
      </div>


      <h3 class="h2-heading tw-mt-7 tw-group" id="button-mini">
        <span>Full Version & Stacked</span>
        <a href="#button-mini" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr>

      <div class="tw-mb-7">
        <div class="share-button-group-wrapper" data-version="mini"></div>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="mini-stacked">
        <span>Mini Version & Stacked</span>
        <a href="#mini-stacked" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr>

      <div class="tw-mb-7">
        <div class="share-button-group-wrapper" data-version="mini" data-layout="stacked"></div>
      </div>

      <h2 class="h1-heading tw-mt-7 tw-group" id="dropdown">
        <span>Dropdown Field</span>
        <a href="#dropdown" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <h3 class="h2-heading tw-mt-7 tw-group" id="dropdown-default">
        <span>Default</span>
        <a href="#dropdown-default" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr>

      <div class="tw-mb-7">
        <h4>Regular</h4>
        <select class="form-control">
          <option value="">Option 1</option>
          <option value="">Option 2</option>
          <option value="">Option 3</option>
          <option value="">Option 4</option>
        </select>
      </div>

      <div class="tw-mb-7">
        <h4>Large</h4>
        <select class="form-control form-control-lg">
          <option value="">Option 1</option>
          <option value="">Option 2</option>
          <option value="">Option 3</option>
          <option value="">Option 4</option>
        </select>
      </div>

      <h3 class="h2-heading tw-mt-7 tw-group" id="dropdown-dark">
        <span>Dark Theme</span>
        <a href="#dropdown-dark" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h3>
      <hr>

      <div class="tw-p-4 dark-theme tw-bg-black">
        <div class="tw-mb-7">
          <h4>Regular</h4>
          <select class="form-control">
            <option value="">Option 1</option>
            <option value="">Option 2</option>
            <option value="">Option 3</option>
            <option value="">Option 4</option>
          </select>
        </div>

        <div class="">
          <h4>Large</h4>
          <select class="form-control form-control-lg">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
              <option value="">Option 4</option>
          </select>
        </div>
      </div>

      <h2 class="h1-heading tw-mt-7 tw-group" id="icons">
        <span>Icons</span>
        <a href="#icons" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
      </h2>
      <hr class="hr-emphasis">

      <div class="tw-row">
        <div class="tw-w-full tw-px-4 tw-flex tw-space-x-6 tw-space-y-4 tw-flex-wrap">
          <img src="{% static "_images/mozilla-block-white.svg" %}" class="tw-w-1/12 tw-h-auto tw-bg-black">
          <img src="{% static "_images/mozilla-m.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/mozilla.svg" %}" class="tw-w-1/12 tw-h-auto tw-bg-black">
          <img src="{% static "_images/mozlogo.jpg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/og.jpg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/x.svg" %}" class="tw-w-1/12 tw-h-auto tw-bg-black">
          <img src="{% static "_images/mozilla-on-black.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/video_play_button.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/video_pause_button.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/proportional-spacer.png" %}" class="tw-w-1/12 tw-h-auto tw-bg-black">
          <img src="{% static "_images/left-chevron.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/leadership-training.jpg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/ihp.png" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/icon-IH.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/hero-image-crop@2x.jpg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/hamburger.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/fellowship-partners.png" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/double-quote-glyph.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/chevron.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/burst2.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/burst1.svg" %}" class="tw-w-1/12 tw-h-auto ">
          <img src="{% static "_images/blog-author-placeholder.jpg" %}" class="tw-w-1/12 tw-h-auto">
          <img src="{% static "_images/banner-black-white-marble.jpg" %}" class="tw-w-1/12 tw-h-auto">
          <img src="{% static "_images/audio_play_button.svg" %}" class="tw-w-1/12 tw-h-auto">
          <img src="{% static "_images/audio_pause_button.svg" %}" class="tw-w-1/12 tw-h-auto">
          <img src="{% static "_images/404.svg" %}" class="tw-w-1/12 tw-h-auto">
        </div>
      </div>

      {% if page.body|length != 0 %}
        <h2 class="h1-heading tw-mt-7 tw-group" id="streamblock">
          <span>Streamblocks</span>
          <a href="#streamblock" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
        </h2>
        <hr class="hr-emphasis">
      {% endif %}

      {% for block in page.body %}
        <h2 class="h2-heading tw-mt-7 tw-group" id="{{ block.block_type }}">
          <span class="tw-capitalize">{{ block.block_type }}</span>
          <a href="#{{ block.block_type }}" aria-label="Anchor" class="after:tw-hash tw-opacity-0 group-hover:tw-opacity-100 tw-text-gray-40"></a>
        </h2>
        <hr>
        
        {% include_block block with parent_page=page %}
      {% endfor %}


    </div>
  </div>
</div>
{% endblock %}
