.creepometer {
  .slider {
    background: url("/_images/buyers-guide/gradient-bar.svg") no-repeat 0 center / contain;
    position: relative;
    height: 72px;
  }

  .copy {
    position: absolute;
    bottom: 0;
    z-index: 0;
    font-size: 16px;

    &::selection {
      background: $white;
    }
  }

  .copy-left {
    left: 0;
  }

  .copy-right {
    right: 0;
  }

  .handle {
    border-radius: 50%;
    cursor: grab;
    height: 70px;
    position: absolute;
    user-select: none;
    width: 70px;
    z-index: 1;
  }
}
