{% extends "buyersguide/bg_base.html" %}

{% load static env i18n static wagtailimages_tags cache bg_nav_tags %}

{% block additional_head_elements %}
  {{ block.super }}
  <script src="{% static "_js/bg-search.compiled.js" %}" async defer></script>
{% endblock %}

{% block bodyclass %}pni catalog{% endblock %}

{% block main_content_class %}{% endblock %}

{% block hero %}
<input type="hidden" class="category-title" value="{{current_category.localized.name}}">
<header
  class="container-fluid text-center page-header bg-gray"
  {% if page.get_banner != None %}style="background-image: url({% image page.get_banner max-1920x1280 as img %}{{ img.url }})"{% endif %}
  role="banner"
>
  <!-- home banner as css background -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 intro-text order-2 order-lg-1{% if page.dark_theme %} dark-theme{% endif %}">
        <h1 class="h1-heading text-center mt-0">{{ page.header }}</h1>
        <p class="body-large mb-0">{{ page.intro_text }}</p>
          <div id="product-filter-search" class='col-12 col-md-9 tw-my-5' tabindex="0">
            <span class="search-icon">&nbsp;</span>
            <input type="text" role="searchbox" id="product-filter-search-input" placeholder="{% trans "Search all products" %}" class="body-large tw-text-black" value="">
            <label for="product-filter-search-input" class="clear-icon">&nbsp;</label>
          </div>
      </div>
      <div class="col-12 col-lg-2 badge-container text-right order-1 order-lg-2">
        <img class="webby-award-badge" src="{% static '_images/buyers-guide/webby-award-badge.svg' %}" alt="{% trans "2020 Webby Award Winner Badge" %}">
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block guts %}
<div class="project-list-section">
  <div class="container">
    <div class="row px-3 px-sm-0">
      <div class="col-12">
        <div id="sticky-bar" class="creepiness-slider bg-white text-center">

          <!-- temporary location for dev work -->

          <span class="creep-o-meter-information">
            <p class="speech-bubble-container">
              <span class="speech-bubble">
                <img class="hook" src="{% static "_images/buyers-guide/icon-bubble-hook.svg" %}">
                <span class="text">{% trans "Scroll to see how creepy<br>people find these products!" %}</span>
              </span>
            </p>
            <span class="current-creepiness"></span>
          </span>

          <span id="product-filter-pni">
            <input type="checkbox" id="product-filter-pni-toggle" autocomplete="off">
            <label for="product-filter-pni-toggle" class="pni-checkbox-facade"></label>
            <span class="pni-icon">&nbsp;</span>
            <label for="product-filter-pni-toggle">{% trans "*privacy not included" %} </label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="product-box-list-wrapper">
    <div class="product-box-list d-flex justify-content-center align-items-stretch flex-wrap">
    {% if request.user.is_anonymous %}
      {# User is not logged in. Return cached results. 24 hour caching applied. #}
      {% cache 86400 pni_home_page template_cache_key_fragment %}
        {% for product in products %}
          {% prod_in_cat product category as matched %}
          {% include "../fragments/buyersguide_item.html" with product=product.localized matched=matched %}
        {% endfor %}
      {% endcache %}
    {% else %}
      {# User is logged in. Don't cache their results so they can see live and draft products here. #}
      {% for product in products %}
        {% prod_in_cat product category as matched %}
        {% include "../fragments/buyersguide_item.html" with product=product.localized matched=matched %}
      {% endfor %}
    {% endif %}
    </div>

    <div id="product-filter-no-results-notice" class="d-none text-center my-5 py-5">
      {% block no_products_found %}
        {% include "../fragments/no_search_results.html" %}
      {% endblock %}
    </div>
  </div>
</div>
<div class="adult-content-notice">
  <div class="container text-center body-small mt-5">
    {% trans "In our *Privacy Not Included buyer’s guide we review connected sex toys. This content is targeted for readers 18+ and may contain sensitive or mature information." %}
  </div>
</div>
<div class="recommend-product">
 <div class="container text-center my-5">
  <h2 class="h3-heading">{% trans "Don’t see the product you’re looking for?" %}</h2>
  <p class="body">{% trans "Let us know what product you would like reviewed in the guide." %}</p>
  {% include "../fragments/submit_a_product.html" %}
 </div>
</div>
{% endblock %}
