{% extends "buyersguide/bg_base.html" %}
{% comment %}
  This is legal text and should only be translated by qualified lawyers.
  For this purpose we're not translating this template.
{% endcomment %}
{% load static i18n %}

{% block body_id %}contest{% endblock %}

{% block category_nav %}{% endblock %}

{% block guts %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 mb-5">
        <h1 class="tw-h2-heading mt-5">Contest Rules</h1>


        <section aria-labelledby="sponsor">
          <p id="sponsor"><strong>1. Sponsor.</strong></p>
          <p>
            Sponsor of the Privacy Not Included Contest (the <strong>“Contest”</strong>) is Mozilla Foundation, 2 Harrison Street, Suite 175, San Francisco, CA 94105.
          </p>
        </section>


        <section aria-labelledby="no-purchase">
          <p id="no-purchase"><strong>2. No Purchase Necessary; Entry Instructions.</strong></p>
          <p>
            NO PURCHASE OR PAYMENT OF ANY MONEY IS NECESSARY TO ENTER. A PURCHASE WILL NOT IMPROVE THE CHANCES OF WINNING.
            This is a contest of skill. Odds of winning the Contest depend on the number and quality of eligible entries received
            during the Contest Period. VOID WHERE PROHIBITED AND WHERE ANY REGISTRATION, BONDING OR LOCALIZATION REQUIRED.
          </p>
          <p>
            The Contest begins on or about 9:00 am Pacific Standard Time (<strong>“PST”</strong>) on Monday the 30th of November 2020
            and ends at 11:59 pm PST on Monday the 7th of December 2020 (<strong>“Contest Period”</strong>). Sponsor’s computer is the
            official time-keeping device for the Contest. All entries must be received during the dates and times specified in the
            Contest Period.
          </p>
          <p>
            Entrants may enter the Contest during the Contest Period as follows:
          </p>
          <ol class="tw-body roman-list">
            <li>
              Visit the Privacy Not Included website at <a href="https://privacynotincluded.org">privacynotincluded.org</a>
            </li>
            <li>
              Pick any product, and decide what you would rank it on the Creep-O-Meter, a feature of the Privacy Not Included
              website that allows users to rate the creepiness of products based on their privacy features.

              <img class="creep-o-meter" src="{% static "_images/buyers-guide/contest/creep-o-meter.jpg" %}" alt=""An example of what the Creep-O-Meter looks like" %}">
            </li>
            <li>
              Based on your assessment of the product, fill in the blanks so that this classic holiday song is now about
              your chosen product: ____sees you when you're ____. ____ knows when you're ____. ____ knows if you've been
              ____ or ____, so be ____for goodness sake.
            </li>
            <li>
              Tweet your song with the hashtag #PrivacyNotIncluded and mention @mozilla (the <strong>“Tweet”</strong>), or reply
              with the song to the Instagram post marked “*privacy not included competition" (the <strong>“Instagram Post”</strong>)
            </li>
            <li>
              Prizes will be awarded for most creepy, least creepy, and funniest entries. See prize details in point 6 below.
            </li>
          </ol>
          <p>
            Without limiting the foregoing, Do NOT include personal information (e.g., your name, e-mail address or phone numbers) in the Tweet or Instagram Post.
          </p>
          <p>
              Your Tweet with the song hashtag #PrivacyNotIncluded and mention of @mozilla, or your song posted in reply to our Instagram post marked
              “*privacy not included competition" will constitute your entry into this Contest (the <strong>“Entry”</strong>).
          </p>
          <p>
            If you do not have a Twitter or Instagram account, you can visit <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" aria-label="https://twitter.com (opens in a new tab)">https://twitter.com</a> or
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="https://www.instagram.com (opens in a new tab)">https://www.instagram.com</a> and create a Twitter or Instagram account according to
            the instructions on the website. Creating a Twitter or Instagram account is free. Please note that you must agree to comply
            with the Twitter and/or Instagram Terms of Service in order to create accounts with those services.
          </p>
          <p>
            BY SUBMITTING AN ENTRY, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTOOD AND FULLY AGREE TO THESE OFFICIAL RULES.
          </p>
          <p>
            <strong>LIMIT ONE (1) ENTRY PER PERSON DURING THE CONTEST PERIOD.</strong>
          </p>
          <p>
           <strong>Partial or incomplete/piecemeal submissions</strong> (e.g., a Tweet that does not include the required hashtag or @mozilla) <strong>may NOT BE ACCEPTED.</strong>
          </p>
          <p>
            Entry must be created for the sole purpose of this Contest and must be posted by the entrant. To be eligible for the Contest,
            Entries must be submitted in compliance with the format and other requirements set forth by Twitter and Instagram.
          </p>
          <p>
            Entries must be manually key-stroked by the entrant; use of automated entry devices or programs, or entries by third parties
            by any method of entry, are prohibited. Entries that do not conform to or that violate these Official Rules or are submitted
            in any manner other than stated in these Official Rules will be disqualified. Sponsor will not be responsible for late, lost,
            inaccessible/blocked, incomplete or misdirected entries. Proof of submission (posting) of Entry does not constitute proof of
            receipt of same. All Entries must be submitted in their entirety prior to expiration of the Contest Period. By entering this
            Contest, entrant agrees to these Official Rules and the decisions of the Sponsor, which are binding and final in all matters
             relating to this Contest.
          </p>
          <p>
            You may only use one (1) Twitter or Instagram account to participate in the Contest. All Tweets and replies must comply with
            the Twitter or Instagram Terms of Service and Twitter or Instagram Rules available at the Twitter or Instagram Websites.
            <strong>Important note:</strong> If your Twitter account is set to “protected mode,” or “private,” your Entry may not be
            viewable by Sponsor, and thus, it is recommended that your Twitter account is set to “public” in order to enter.
          </p>
          <p>
            If you opt to access Twitter or Instagram via your wireless mobile device, data rates may apply for each message sent or
            received from your handset according to the terms and conditions of your service agreement with your wireless carrier.
            Other charges may apply (such as normal airtime and carrier charges as well as charges for wireless Internet access) and
            may appear on your mobile phone bill or be deducted from your prepaid account balance. Wireless carriers’ rate plans may vary,
            and you should contact your wireless carrier for more information on messaging rate plans and charges relating to your
            participation in this Contest. Mobile device service may not be available in all areas. Check your phone’s capabilities
            for specific instructions.
          </p>
        </section>


        <section aria-labelledby="guidelines">
          <p id="guidelines"><strong>3. Content Guidelines.</strong></p>
          <p>
            In addition to complying with all other requirements of these Official Rules and/or on the and/or on Twitter or Instagram;
            each Entry must comply with the following guidelines (<strong>“Content Guidelines”</strong>). Any Entry that Sponsor, in its
            sole discretion, determines is in violation of any Content Guideline may be disqualified.
          </p>
          <p>
            For all entries:
          </p>
          <ul class="tw-body">
            <li>
              Entries may not contain likenesses of any individuals who are under 18 years of age, and may not contain the likeness
              of any individuals who have not provided their authorization. By submitting likeness of any individual, you represent
              that you have received permission from such person to include their likeness.
            </li>
            <li>
              Entries may not contain material that is obscene, defamatory, libelous, threatening, pornographic, that reflects,
              advocates or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation
              or age, or against any class, group or individual, or encourages conduct that would be considered a criminal offense,
              give rise to civil liability, or violate any law. Entries must be appropriate for viewing by the general public;
              appropriateness will be determined by Sponsor.
            </li>
            <li>
              Entries must be original, exclusively created and owned by entrant for this Contest, and the entrant must have all
              rights necessary to submit the entry. Entries must not contain content, image(s) or material that violates or infringes
              any third party rights of any kind, including without limitation, any third party privacy, publicity, trade secret and/or
              intellectual property rights, including third party registered and/or common law copyrights and trademarks.
            </li>
            <li>
              Entries must be in English.
            </li>
          </ul>
          <p>
            Sponsor reserves the right to reject any entry for any reason.
          </p>
          <p>
            FOR ALL ENTRIES, THE ENTRIES REPRESENT SOLELY THE VIEWS/OPINIONS OF THE INDIVIDUAL ENTRANT AND DO NOT REFLECT THE VIEWS/OPINIONS OF SPONSOR IN ANY MANNER.
          </p>
        </section>


        <section aria-labelledby="eligibility">
          <p id="eligibility"><strong>4. Eligibility.</strong></p>
          <p>
            In order to be eligible, participants must be at least the age of majority in their jurisdiction of residence. Employees of Sponsor
            and its parent and affiliate companies as well as the immediate family (spouse, parents, siblings and children) and household
            members of each such employee are not eligible. Before participating in the Contest, you should also consider whether you or
            your team members have any conflicting obligations that prevent participation. If an entrant is an employee of a corporation,
            government or an academic institution, or enrolled as a student, it is his or her sole responsibility to review, understand and
            abide by his or her employer’s, or academic institution’s policies regarding eligibility to participate in the Contest. If an
            entrant is found to be in violation of his or her employer’s or academic institution’s policies, then he or she will be disqualified
            from participating in the Contest and from being awarded or retaining any prize. Sponsor disclaims any and all liability or
            responsibility for disputes arising between an employee or student and his or her employer or academic institution related to the Contest.
          </p>
          <p>
            Contestants are not eligible to participate or receive prizes if they are on the US Specifically Designated Nationals (SDN) list,
            the US comprehensive sanctions list, or if there are sanctions against the contestant’s country such that Mozilla is prohibited
            from paying them.
          </p>
        </section>


        <section aria-labelledby="judging">
          <p id="judging"><strong>5. Judging.</strong></p>
          <p>
            Judging will be done by Sponsor or its designees, who shall have sole discretion in determining winners based on the following criteria:
          </p>
          <p>
            <strong>Creepiest.</strong> Your song lyrics describe one or more privacy and/or security problems in a way that’s so true, it leaves us terrified.
          </p>
          <p>
            <strong>Least creepy.</strong> Your song lyrics highlight why this product is a real winner. You’ve persuaded us to move it to the top of our wishlist.
          </p>
          <p>
            <strong>Funniest.</strong> Your song lyrics made us laugh the hardest.
          </p>
        </section>


        <section aria-labelledby="notification">
          <p id="notification"><strong>6. Notification and Verification of Winners.</strong></p>
          <p>
            Winners will be announced on or about 11th of December 2020. Winners may be required to sign and return to Sponsor an affidavit of
            eligibility, a liability release and/or a publicity release where permitted by law, as well as provide information necessary for
            compliance with any applicable tax laws, and certain personal information such as full name, address, phone number, and Twitter or
            Instagram username. Failure to comply may result in disqualification and the selection of an alternate winner.
          </p>
          <p>
            In the event of any dispute concerning the identity of any Entrant, the Entry will be deemed submitted by the natural person who
            is the authorized holder of the email account associated with the Twitter or Instagram account used to participate in the Contest.
            “Authorized account holder” is defined as the natural person who is assigned to an email address by an Internet access provider,
            online service provider, or other organization (e.g., business, educational institution, etc.) that is responsible for assigning
            email addresses for the domain associated with the submitted email address. A potential winner may be required to show proof of
            being the authorized account holder. In the event of an ongoing dispute as to any entrant, Sponsor has the right to make determination
            as to entrant(s) in its sole discretion.
          </p>
        </section>


        <section aria-labelledby="prizes">
          <p id="prizes"><strong>7. Prizes.</strong></p>
          <p>
            Creepiest: Sony WH-1000XM (approximate retail value $349.99)<br>
            Least Creepy: Nintendo switch (approximate retail value $299)<br>
            Funniest: Garmin Venu (approximate retail value $349.99)
          </p>
          <p>
            Prizes will be delivered shortly after winners are announced. All prizes are awarded "AS IS" and without warranty of any kind, express
            or implied. Limit of one (1) prize per person/family/household. No substitution, assignment or transfer of the prize is permitted, except
            by Sponsor, who has the right to substitute a prize with another of comparable or greater value. Winners are responsible for all taxes
            and fees associated with the receipt and/or use of the prize, and winner may be required to provide tax information prior to receiving the prize.
          </p>
          <p>
            Each winner agrees to self-report to applicable taxing authorities, as may be required by applicable laws.
          </p>
          <p>
            Prizes should be retained by individuals only in conformity with any applicable policies of their employers, academic institutions, or
            government regarding participation in and receipt of promotional consideration relating to the Contest and receipt and retention of prize.
            If a government, employer’s or school’s policies are applicable, it is the entrant’s sole and ultimate responsibility, in consultation
            with his or her government, employer or school, to determine how and if prize will be retained and/or distributed and accounted for and
            we assume no responsibility for the decisions made by such government, employers or schools regarding this issue.
          </p>
        </section>

        <section aria-labelledby="conditions">
          <p id="conditions"><strong>8. Conditions of Participation.</strong></p>
          <p>
            By submitting an entry for or participating in this Contest, you agree to abide by these Official Rules and any decision Sponsor makes
            regarding this Contest, which Sponsor shall make in its sole discretion. Sponsor reserves the right to disqualify and prosecute to the
            fullest extent permitted by law any participant or winner who, in Sponsor’s reasonable suspicion, tampers with the Privacy Not Included
            website, the entry process, intentionally submits more than a single entry, violates these rules, engages in fraud, attempted fraud, or
            acts in an unsportsmanlike or disruptive manner.
          </p>
          <p>
            By submitting an entry for or participating in this Contest, you agree to abide by Mozilla’s <a href="https://www.mozilla.org/en-US/about/governance/policies/participation/">Community Participation Guidelines</a>
            (“CPG”). Violation of the CPG will result in disqualification. The CPG is available at: <a href="https://www.mozilla.org/en-US/about/governance/policies/participation/">https://www.mozilla.org/en-US/about/governance/policies/participation/</a>.
          </p>
        </section>

        <section aria-labelledby="ip">
          <p id="ip"><strong>9. Intellectual Property.</strong></p>
          <p>
            Ownership of the pre-existing underlying intellectual property of the entrant remains the property of the entrant subject to Sponsor’s
            rights to reprint, display, reproduce, perform, use, and exhibit the entry and materials and information submitted, for the purpose of
            administering and promoting the Contest and for any business, marketing and advertising purposes for the benefit of Sponsor. By participating
            in the Challenge, each entrant grants to Sponsor a non-exclusive, worldwide, fully paid, royalty-free, perpetual, irrevocable, transferable,
            sub-licensable, license to reprint, display, reproduce, exploit, perform, use, and exhibit (including the right to make derivative works of)
            the entry and materials and information submitted on and in connection with the Contest or use or receipt of the prize for any and all purposes
            in any medium. Each participating entrant hereby warrants that any entry and other materials and information provided by entrant are original
            with entrant and do not violate or infringe upon the copyrights, trademarks, rights of privacy, publicity, moral rights or other intellectual
            property or other rights of any person or entity, and do not violate any rules, regulations, or laws. If the entry or information or materials
            provided by entrant contain any material or elements that are not owned by entrant and/or which are subject to the rights of third parties,
            entrant represents he or she has obtained, prior to submission of the entry and information or materials, any and all releases and consents
            necessary to permit use and exploitation of the entry and information and materials by Sponsor in the manner set forth in the Official Rules
            without additional compensation.
          </p>
          <p>
            Each entrant warrants that the entry and materials and information provided do not contain information considered by entrant, its employees,
            employer, or personnel, or any other third party to be confidential, and that submission of the materials and information will not violate
            any agreements with third parties or policies that entrant is subject to. Entrant agrees that Sponsor has the right to verify the ownership
            and originality of all entries and that, upon Sponsor’s request, entrant must submit a written copy of any release or permission entrant has
            received from a third party granting entrant the right to use such property. Entrant understands and acknowledges that in the event a
            submission is selected as a winning entry, and entrant’s ownership, rights and the originality of the entry cannot be verified to the
            satisfaction of Sponsor or is in any other way ineligible, Sponsor may select an alternate winner based on the same judging criteria.
            Entrant acknowledges that other entrants may submit entries that are similar to yours and that they, or Sponsor, may already be considering
            or developing, or may subsequently consider or develop independent of the Contest, content or ideas that are related or similar to yours.
            You acknowledge that this does not create in Sponsor or others any obligation or liability to you.
          </p>
        </section>

        <section aria-labelledby="disclaimer">
          <p id="disclaimer"><strong>10. Disclaimer, Release and Limit of Liability.</strong></p>
          <p>
            SPONSOR MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, REGARDING ANY PRIZE OR YOUR PARTICIPATION IN THE PROMOTION.
            BY ENTERING THE PROMOTION OR RECEIPT OF ANY PRIZE, EACH ENTRANT AGREES TO RELEASE AND HOLD HARMLESS SPONSOR AND ITS SUBSIDIARIES, AFFILIATES,
            SUPPLIERS, DISTRIBUTORS, ADVERTISING/PROMOTION AGENCIES, PARTNERS, AND PRIZE SUPPLIERS, AND EACH OF THEIR RESPECTIVE PARENT COMPANIES AND
            EACH SUCH COMPANY’S OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS (COLLECTIVELY, THE “RELEASED PARTIES”) FROM AND AGAINST ANY CLAIM OR CAUSE OF
            ACTION, INCLUDING, BUT NOT LIMITED TO, PERSONAL INJURY, DEATH, OR DAMAGE TO OR LOSS OF PROPERTY, ARISING OUT OF PARTICIPATION IN THE
            PROMOTION OR RECEIPT OR USE OR MISUSE OF ANY PRIZE. THE RELEASED PARTIES ARE NOT RESPONSIBLE FOR: (1) ANY INCORRECT OR INACCURATE INFORMATION,
             WHETHER CAUSED BY ENTRANTS, PRINTING ERRORS OR BY ANY OF THE EQUIPMENT OR PROGRAMMING ASSOCIATED WITH OR UTILIZED IN THE PROMOTION; (2)
            TECHNICAL FAILURES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO MALFUNCTIONS, INTERRUPTIONS, OR DISCONNECTIONS IN PHONE LINES OR NETWORK
            HARDWARE OR SOFTWARE; (3) UNAUTHORIZED HUMAN INTERVENTION IN ANY PART OF THE ENTRY PROCESS OR THE PROMOTION; (4) TECHNICAL OR HUMAN ERROR
            WHICH MAY OCCUR IN THE ADMINISTRATION OF THE PROMOTION OR THE PROCESSING OF ENTRIES; OR (5) ANY INJURY OR DAMAGE TO PERSONS OR PROPERTY
            WHICH MAY BE CAUSED, DIRECTLY OR INDIRECTLY, IN WHOLE OR IN PART, FROM ENTRANT’S PARTICIPATION IN THE PROMOTION OR RECEIPT OR USE OR
            MISUSE OF ANY PRIZE.
          </p>
          <p>
            No more than the stated number of prizes will be awarded. If someone cheats, or a virus, bug, bot, catastrophic event, or any other unforeseen
            or unexpected action or event affects the fairness and/or integrity of this Contest, Sponsor reserves the right to cancel, change, or suspend
            this Contest. This right is reserved whether the event is due to human or technical error. If a solution cannot be found to restore the
            integrity of the Contest, we reserve the right, but are not required, to select winner(s) from among all eligible entries received before
            we had to cancel, change or suspend the Contest.
          </p>
        </section>


        <section aria-labelledby="pii">
          <p id="pii"><strong>11. Privacy and Use of Personal Information.</strong></p>
          <p>
            Sponsor may collect personal information from you when you enter this Challenge. Sponsor reserves the right to use any information collected
            in accordance with its privacy policy, which may be found at <a href="https://www.mozilla.org/privacy/">https://www.mozilla.org/privacy/</a>.
          </p>
      </section>


        <section aria-labelledby="governance">
          <p id="governance"><strong>12. GOVERNING LAW AND DISPUTES.</strong></p>
          <p>
            THESE OFFICIAL RULES AND THE PROMOTION ARE GOVERNED BY, AND WILL BE CONSTRUED IN ACCORDANCE WITH, THE LAWS OF THE STATE OF CALIFORNIA,
            AND THE FORUM AND VENUE FOR ANY DISPUTE ARISING OUT OF OR RELATING TO THESE OFFICIAL RULES SHALL BE IN SANTA CLARA COUNTY, CALIFORNIA.
            IF THE CONTROVERSY OR CLAIM IS NOT OTHERWISE RESOLVED THROUGH DIRECT DISCUSSIONS OR MEDIATION, IT SHALL THEN BE RESOLVED BY FINAL AND
            BINDING ARBITRATION ADMINISTERED BY JUDICIAL ARBITRATION AND MEDIATION SERVICES, INC., IN ACCORDANCE WITH ITS STREAMLINED ARBITRATION
            RULES AND PROCEDURES OR SUBSEQUENT VERSIONS THEREOF (“JAMS RULES”). THE JAMS RULES FOR SELECTION OF AN ARBITRATOR SHALL BE FOLLOWED,
            EXCEPT THAT THE ARBITRATOR SHALL BE EXPERIENCED AND LICENSED TO PRACTICE LAW IN CALIFORNIA. ANY SUCH CONTROVERSY OR CLAIM WILL BE
            ARBITRATED ON AN INDIVIDUAL BASIS, AND WILL NOT BE CONSOLIDATED IN ANY ARBITRATION WITH ANY CLAIM OR CONTROVERSY OF ANY OTHER PARTY.
            ALL PROCEEDINGS BROUGHT PURSUANT TO THIS PARAGRAPH WILL BE CONDUCTED IN SANTA CLARA COUNTY, CALIFORNIA. THE REMEDY FOR ANY CLAIM SHALL
            BE LIMITED TO ACTUAL DAMAGES, AND IN NO EVENT SHALL ANY PARTY BE ENTITLED TO RECOVER PUNITIVE, EXEMPLARY, CONSEQUENTIAL, OR INCIDENTAL
            DAMAGES, INCLUDING ATTORNEY’S FEES OR OTHER SUCH RELATED COSTS OF BRINGING A CLAIM, OR TO RESCIND THIS AGREEMENT OR SEEK INJUNCTIVE OR
            ANY OTHER EQUITABLE RELIEF. SPONSOR’S TOTAL LIABILITY UNDER, ARISING OUT OF, OR RELATED TO THIS AGREEMENT SHALL NOT EXCEED THE TOTAL
            AMOUNT OF THE PRIZE OFFERED TO THE WINNER OF THE CONTEST.
          </p>
        </section>


        <section aria-labelledby="publicity">
          <p id="publicity"><strong>13. Publicity Grant.</strong></p>
          <p>
            Except where prohibited, participation in the Contest constitutes entrant’s consent to Sponsor’s and Sponsor’s designees’ publication,
            broadcast, display, sharing and use of entrant’s name, likeness, voice, image, persona, biographical information, entry and audio and visual
            content shared by entrant for any purposes in any media, worldwide, without further payment or consideration. Each entrant hereby grants
            Sponsor an unrestricted, perpetual, worldwide, royalty-free, non-exclusive, sublicenseable license to reproduce, distribute, transmit, publish,
            display, broadcast or otherwise use the entries for promotional materials related to the Contest and Mozilla.
          </p>
        </section>


        <section aria-labelledby="confidentiality">
          <p id="confidentiality"><strong>14. No Confidentiality.</strong></p>
          <p>
            Entries will be shared with others and portions of entries may be reproduced elsewhere, including in connection with Contest-related publicity
            materials. You should not disclose any information in your entry that is proprietary or confidential. No confidential relationship is established
            between you and Sponsor in connection with your entry.
          </p>
        </section>


        <section aria-labelledby="winners">
          <p id="winners"><strong>15. Winners List.</strong></p>
          <p>
            Individuals may request the name of winners by submitting a self-addressed stamped envelope prior to July 1, 2020 to Mozilla Contest Winners
            List Request, 2 Harrison Street, Suite 175, San Francisco, CA 94105. Vermont residents may omit postage.
          </p>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
