{% extends "partials/primary_nav.html" %}

{% load bg_nav_tags i18n localization %}


{% block nav_logo %}
  <div class="d-flex align-items-center logo-section">
    <a href="/" class="moz-logo mb-0 mr-3"><span class="sr-only">Mozilla</span></a>
    <p class="mb-0 h3-heading flex-wrap">
      <a class="link-back" href="{% relocalized_url home_page.url %}">{% trans "*privacy not included" context 'Buyer’s guide name. This can be localized. This is a reference to the “*batteries not included” mention on toys.' %}</a>
    </p>
  </div>
{% endblock %}

{% block narrow_screen_nav_links %}
{% url 'buyersguide-home' as home_url %}
<div><a class="{% bg_active_nav request.get_full_path home_url %}" href="{% relocalized_url home_url %}">{% trans "Privacy Not Included" %}</a></div>
{% include "buyersguide/fragments/pni_nav_links.html" with pre="<div>" post="</div>" %}
{% endblock %}

{% block wide_screen_menu %}{% endblock %}

{% block donate_and_newsletter %}
<div class="d-flex align-items-center">
  {% include "buyersguide/fragments/pni_nav_links.html" with class="primary-nav-special-link d-none d-md-block" %}
  <a id="donate-header-btn" class="primary-nav-special-link heart-glyph" href="https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_campaign=fmonav&utm_content=header" target="_blank" rel="noopener noreferrer">{% trans "Donate" %}</a>
  {% if page.signup == None %}<button class="btn btn-secondary btn-newsletter d-none d-lg-block ml-md-3">{% trans "Newsletter" %}</button>{% endif %}
</div>
{% endblock %}
