{% extends "buyersguide/bg_base.html" %}

{% load bg_selector_tags env l10n i18n localization static wagtailimages_tags %}

{% block head_extra %}
  <meta property="og:title" content="{% blocktrans context "This can be localized. This is a reference to the “*batteries not included” mention on toys." %}privacy not included - {{ product.title }}{% endblocktrans %}" />
  <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
{% endblock %}

{% block social_image %}
  {% if page.search_image %}
    {% image page.search_image original as search_image %}
    <meta property="og:image" content="{{search_image.url}}">
    <meta name="twitter:image" content="{{search_image.url}}">
  {% else %}
    {% static "_images/buyers-guide/evergreen-social.png" as default_image_url %}
    <meta property="og:image" content="{{default_image_url}}">
    <meta name="twitter:image" content="{{default_image_url}}">
  {% endif %}
{% endblock %}

{% block body_id %}product-page{% endblock %}

{% block guts %}
<div class="text-center product-header bg-product-image{% if product.draft %} draft-product{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 product-header-content {% if product.privacy_ding %}show-privacy-ding{% endif %}">
        <img
          class="thumb-border"
          width="250"
          {% image product.image width-250 as img %}
          src="{{ img.url }}"
          alt="{{product.title}}"
        >
      </div>
    </div>
  </div>
</div>
{% with section_class="col-12 col-lg-10 offset-lg-1" %}
<div class="container product-detail">
  <div class="row">

    {% if product.privacy_ding %}
    <div class="privacy-ding-band px-md-5 {{section_class}}">
      <p class="pni-product-smaller-body mb-0 py-2">{% blocktrans %}<strong>Warning</strong>: *privacy not included with this product{% endblocktrans %}</p>
    </div>
    {% endif %}

    <div class="bg-white py-3 py-md-4 px-md-5 {{section_class}}">
      <div class="row intro mb-4">
        <h1 class="h1-heading col-12">{{product.title}}</h1>
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between">
          <a id="product-company-url" class="product-price pni-product-intro-large mb-2 mb-md-0" href="{{product.product_url}}" target="_blank">{{product.company}} {% if product.product_type == "general" %}${% endif %}{{product.price}}</a>
          {% if product.uses_wifi or product.uses_bluetooth %}
            <div>
              {% if product.uses_wifi %}
                <span class="connectivity-requirement use-wifi pni-product-intro-large">{% trans "Wi-Fi" %}</span>
              {% endif %}
              {% if product.uses_bluetooth %}
                <span class="connectivity-requirement use-bluetooth pni-product-intro-large">{% trans "Bluetooth" %}</span>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="col-12 mt-3">
          <p class="body-small">{% blocktrans with date=product.review_date|date:"SHORT_DATE_FORMAT" context "Short date format (e.g. 2003/12/31)" %}Review date: {{ date }}{% endblocktrans %}</p>
        </div>
        <div class="col-12"><p class="body mb-0">{{product.blurb}}</p></div>
      </div>

      <div class="row mb-4">
        <div class="col-12 worst-case">
          <h2 class="h3-heading">{% trans "What could happen if something goes wrong" %}</h2>
          <p class="mb-0">{{product.worst_case}}</p>
        </div>
      </div>

      <div id="product-research" data-is-wagtail-page="true">
        <div class="row">
          <div class="col-12">
            <div class="creep-vote-target mb-5 mt-3 mt-md-4 p-5" data-product-name="{{product.title}}" data-product-type="{{product.product_type}}">
              <input type="hidden" name="productID" value="{{ product.id }}">
              <input type="hidden" name="votes" value='{{ product.get_voting_json | safe }}'>
            </div>
          </div>
        </div>


        <section class="privacy criterion-group">
          <h2 class="h3-heading">{% trans "Privacy" %}</h2>

          {% if product.product_type == 'general' %}
          <section class="criterion">
            <h3 class="pni-product-smaller-body-bold mb-1 mb-md-2">{% trans "Can it snoop on me?" %}</h3>
            <div class="row">
              {% trans "Camera"          as camera %}
              {% trans "Microphone"      as microphone %}
              {% trans "Tracks Location" as tracks_location %}

              <div class="col-12 col-md-4">
                {% include "fragments/it_uses.html" with title=camera          device=product.camera_device     app=product.camera_app      %}
              </div>
              <div class="col-12 col-md-4">
                {% include "fragments/it_uses.html" with title=microphone      device=product.microphone_device app=product.microphone_app  %}
              </div>
              <div class="col-12 col-md-4">
                {% include "fragments/it_uses.html" with title=tracks_location device=product.location_device   app=product.location_app    %}
              </div>
            </div>
          </section>
          {% endif %}


          <section class="criterion">
            <h3 class="pni-product-smaller-body-bold mb-1 mb-md-2">{% trans "What is required to sign up?" %}</h3>

            <div class="row">
              {% trans "Email"               as email %}
              {% trans "Phone"               as phone %}
              {% trans "Third party account" as third_party_account %}

              <div class="col-12 col-md-4">
                {% include "fragments/signup_requirement.html" with title=email                 value=product.signup_requires_email          %}
              </div>
              <div class="col-12 col-md-4">
                {% include "fragments/signup_requirement.html" with title=phone                 value=product.signup_requires_phone          %}
              </div>
              <div class="col-12 col-md-4">
                {% include "fragments/signup_requirement.html" with title=third_party_account   value=product.signup_requires_third_party_account    %}
              </div>
            </div>

            {% if product.signup_requirement_explanation %}
            <p class="pni-product-helptext mb-0 mt-3">{{product.signup_requirement_explanation}}</p>
            {% endif %}
          </section>


          <section class="criterion">
            <h3 class="pni-product-smaller-body-bold mb-1 mb-md-2">{% trans "What data does it collect?" %}</h3>

            <div class="row">
              {% trans "Personal"      as personal_data_collected %}
              {% trans "Biometric"     as biometric_data_collected %}
              {% trans "Social"        as social_data_collected %}

              <div class="col-12 col-md-4">
                {% include "fragments/signup_requirement.html" with title=personal_data_collected   value=product.personal_data_collected    %}
              </div>
              <div class="col-12 col-md-4">
                {% include "fragments/signup_requirement.html" with title=biometric_data_collected  value=product.biometric_data_collected   %}
              </div>
              <div class="col-12 col-md-4">
                {% include "fragments/signup_requirement.html" with title=social_data_collected     value=product.social_data_collected      %}
              </div>
            </div>
          </section>


          {% trans "How does it use this data?" as how_does_it_use_data_collected %}
          {% include "fragments/product_criterion.html"  with  label=how_does_it_use_data_collected  value=product.how_does_it_use_data_collected  ding=product.data_collection_policy_is_bad %}


          {% if product.product_type == 'general' %}

            {% trans "How can you control your data?" as how_can_you_control_your_data %}
            {% include "fragments/product_criterion.html"  with  label=how_can_you_control_your_data  value=product.how_can_you_control_your_data    ding=product.data_control_policy_is_bad   %}

            {% trans "What is the company’s known track record for protecting users’ data?" as company_track_record_label %}
            {% include "fragments/product_criterion.html"  with  label=company_track_record_label  value=product.company_track_record|track_record   help=product.track_record_details  ding=product.track_record_is_bad %}

            {% trans "Can this product be used offline?" as offline_capable %}
            {% include "fragments/product_criterion.html"  with  label=offline_capable  value=product.offline_capable   help=product.offline_use_description %}
          {% endif %}


          {% if product.product_type == 'software' %}
            {% include "fragments/software_product_privacy.html"    with  product=product %}
          {% endif %}


          {% if product.product_type == 'general' %}
            {% trans "User friendly privacy information?" as user_friendly_privacy_policy %}
            {% include "fragments/product_criterion.html"  with  label=user_friendly_privacy_policy  value=product.user_friendly_privacy_policy|extended_yes_no   help=product.user_friendly_privacy_policy_helptext  %}
          {% endif %}


          {% trans "Links to privacy information" as privacy_policy_links %}
          {% include "fragments/product_privacy.html"    with  label=privacy_policy_links          value=""         links=product.privacy_policy_links.all                  %}
        </section>

        {% if product.product_type == 'software' %}
        <section class="criterion-group">
          <h2 class="h3-heading">{% trans "Can I control it?" %}</h2>

          {% if product.host_controls %}
            {% trans "Host controls" as host_controls %}
            {% include "fragments/product_criterion.html"  with  label=host_controls            value=product.host_controls     %}
          {% endif %}

          {% trans "Is it easy to learn and use the features?" as easy_to_learn_and_use %}
          {% include "fragments/product_criterion.html"  with  label=easy_to_learn_and_use    value=product.easy_to_learn_and_use|yes_no    help=product.easy_to_learn_and_use_helptext     %}
        </section>
        {% endif %}


        <section class="minimum-security criterion-group">
          <h2 class="h3-heading">{% trans "Security" %}</h2>
          {% url 'min-security-view' as min_sec_url %}
          {% blocktrans with url=min_sec_url asvar minimum_security_standards trimmed %}
            Does this product meet our <a id="mss-link" href="{{ url }}">Minimum Security Standards</a>?
          {% endblocktrans %}
          {% include "fragments/product_criterion.html"  with  show_value_as_symbol=False   value=product.meets_minimum_security_standards|yes_no   help=""   label=minimum_security_standards|safe   ding=product.show_ding_for_minimum_security_standards   class="meets-minimum-security-standards" %}
          <input type="checkbox" id="mss-accordion-toggle">
          <label for="mss-accordion-toggle"><span class="sr-only">{% trans "Toggle expandable section" context "Accessibility label for an accordion toggle" %}</span></label>
          <div id="mss-expandable">
            {% trans "Encryption"              as encryption %}
            {% trans "Security updates"        as security_updates %}
            {% trans "Strong password"         as strong_password %}
            {% trans "Manages vulnerabilities" as manages_vulnerabilities %}
            {% trans "Privacy policy"          as privacy_policy %}

            {% include "fragments/product_criterion.html"  with  show_value_as_symbol=False  value=product.uses_encryption                          help=product.uses_encryption_helptext         label=encryption               %}
            {% include "fragments/product_criterion.html"  with  show_value_as_symbol=False  value=product.strong_password                          help=product.strong_password_helptext         label=strong_password          %}
            {% include "fragments/product_criterion.html"  with  show_value_as_symbol=False  value=product.security_updates                         help=product.security_updates_helptext        label=security_updates         %}
            {% include "fragments/product_criterion.html"  with  show_value_as_symbol=False  value=product.manage_vulnerabilities                   help=product.manage_vulnerabilities_helptext  label=manages_vulnerabilities  %}
            {% include "fragments/product_criterion.html"  with  show_value_as_symbol=False  value=product.privacy_policy                           help=product.privacy_policy_helptext          label=privacy_policy           %}
          </div>
        </section>

        {% if product.product_type == 'general' %}
          <section class="criterion-group">
            <h2 class="h3-heading">{% trans "Artificial Intelligence" %}</h2>
            {% with product.uses_ai|extended_yes_no as uses_ai %}
            {% trans "Does the product use AI?" as uses_ai_label %}
            {% include "fragments/product_criterion.html"  with  label=uses_ai_label  value=uses_ai   %}

            {% if uses_ai != "No" %}
              {% trans "Does the AI use your personal data to make decisions about you?" as ai_uses_personal_data %}
              {% include "fragments/product_criterion.html"  with  label=ai_uses_personal_data  value=product.ai_uses_personal_data|extended_yes_no   %}

              {% trans "Does the company allow users to see how the AI works?" as ai_is_transparent %}
              {% include "fragments/product_criterion.html"  with  label=ai_is_transparent  value=product.ai_is_transparent|extended_yes_no           %}

              <p class="pni-product-smaller-body mb-0">{{product.ai_helptext}}</p>
            {% endif %}
            {% endwith %}
          </section>
        {% endif %}


        {% if product.product_type == 'general' %}
          <section class="criterion-group">
            <h2 class="h3-heading">{% trans "Company contact info" %}</h3>

            <div>
              {% include "fragments/product_contact.html" with product=product %}
            </div>
          </section>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div class="container-fluid position-relative">
  <div class="row dotted-section d-block d-sm-flex mx-0">
    <div class="container">
      <div class="row">
        <div class="{{section_class}} mt-5 pt-3 bg-white product-section-padding-x">
          {% if product.updates.count > 0 %}
          <h3 class="h2-heading mb-4 mb-md-5">{% trans "Updates" %}</h3>
          {% endif %}
          {% if product.updates.count > 0 %}
          <div class="mb-5">
            {% for item in product.updates.all %}
            {% with update=item.update %}
              <div class="product-update mb-4">
                <a class="product-update-link h5-heading title" href="{{update.source}}" target="_blank">{{update.title}}</a>
                <div class="author">{{update.author}}</div>
                <div class="snippet">{{update.snippet}}</div>
              </div>
            {% endwith %}
            {% endfor %}
          </div>
          {% endif %}

          {% if use_commento %}
          <h3 class="h2-heading mb-4">{% trans "Comments" %}</h3>
          <div id="commento"></div>
          {% endif %}

          <h3 class="h2-heading mb-4">{% trans "Related products" %}</h3>
          <div class="row">
            {% for related_product_page in product.related_product_pages.all %}
            {% with related_product=related_product_page.related_product.localized %}
            <div class="related-product col-6 col-md-3 mb-3 mb-md-0">
              <a class="d-block{% if related_product.adult_content %} adult-content{% endif %}" href="{% relocalized_url related_product.url %}">
                <div class="img-container">
                  {% image related_product.image width-600 as img %}
                  <img
                    class="product-thumbnail"
                    width="600"
                    src="{{img.url}}"
                    alt="{{related_product.title}}"
                  >
                </div>
                <p class="body-small mt-3 mb-1">{{related_product.company}}</p>
                <p>{{related_product.title}}</p>
              </a>

              {% include "fragments/privacy_ding.html" with product=related_product %}
              {% include "fragments/adult_content_badge.html" with product=related_product %}
            </div>
            {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endwith %}
{% endblock %}

{% block extra_scripts %}
  {% if use_commento %}
    <script async defer data-hide-deleted="true" data-no-fonts="true" src="https://cdn.commento.io/js/commento.js"></script>
  {% endif %}
{% endblock %}
