{% load i18n wagtailimages_tags wagtailcore_tags static %}
{% get_current_language as LANGUAGE_CODE %}

<div class="article-navbar-container position-relative" aria-hidden="true">
    <div class="article-navbar">
        <div class="tw-container">
            <div class="tw-row tw-items-end">
                <div class="article-navbar-title tw-body-large {% if LANGUAGE_CODE == 'en' %}tw-capitalize{% endif %} tw-pl-8 tw-hidden medium:tw-block tw-w-[280px] large:tw-w-auto tw-truncate">
                    {% if get_titles %}
                        {{ page.title|truncatechars:60 }}
                    {% else %}
                        {{ page.title|truncatechars:120 }}
                    {% endif %}
                </div>
                {% if get_titles or page.is_publication_article %}
                    <div class="dropdown medium:tw-ml-auto medium:tw-mr-8 tw-w-full medium:tw-w-auto tw-px-8 small:tw-px-0 tw-static medium:tw-relative">
                        <div class="medium:tw-ml-12 medium:tw-pl-2">
                            <button class="tw-btn btn-sm btn-link dropdown-toggle article-summary-toggle tw-flex w-100 text-left pl-0 tw-shadow-none" type="button" role="button" id="summaryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="tw-w-[180px] xlarge:tw-w-[250px] tw-mr-auto medium:tw-mr-4 tw-truncate tw-block hover:tw-no-underline">{% trans "Summary" %}</span>
                                <span class="toggle-text tw-w-[150px] tw-text-right tw-mr-4" data-open="{% trans "Table of Contents" %}" data-close="{% trans "Close" %}">{% trans "Table of Contents" %}</span>
                            </button>
                            {% if page.get_parent.get_parent.specific.is_publication_page %}
                                {% comment %}
                  Needed for child publications within publications
                {% endcomment %}
                                {% include "sticky_dropdown.html" with page=page.get_parent %}
                            {% else %}
                                {% include "sticky_dropdown.html" with page=page %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
