{% load static i18n wagtailimages_tags localization %}

<figure class="product-box d-flex flex-column justify-content-between{% if product.draft %} draft-product{% endif %}{% if product.adult_content %} adult-content{% endif %}{% if product.privacy_ding %} privacy-ding{% endif%}" data-creepiness="{{ product.creepiness }}">
  <div class="top-left-badge-container">
      {% if product.privacy_ding %}
      <img
        src="{% static "_images/buyers-guide/icon-privacy-ding-mini.svg" %}"
        title="{% trans "*privacy not included with this product" %}"
        alt="{% trans "*privacy not included with this product" %}"
        width="24"
      >
      {% endif %}
  </div>

  {% include "fragments/adult_content_badge.html" with product=product %}

  <a class="product-image text-center mt-4 h-100 d-flex flex-column justify-content-between" href="{% relocalized_url product.url %}">
    <picture class="product-thumbnail">
      <source
        {% image product.image fill-360x360 as img_1x %}
        {% image product.image fill-720x720 as img_2x %}
        srcset="{{ img_1x.url }} 1x, {{ img_2x.url}} 2x"
      >
      <img
        class="product-thumbnail"
        {% image product.image fill-600x600 as img %}
        src="{{ img.url }}"
        alt="{% blocktrans with product=product.title %}link to {{product}}{% endblocktrans %}"
      >
    </picture>
  </a>

  <figcaption class="d-block mt-md-2 text-left">
    <a class="product-links" href="{% relocalized_url product.url %}">
      <div class="product-company body-small">{{product.company}}</div>
      <div class="product-name body">{{product.title}}</div>
    </a>
    <input type="hidden" class="product-blurb" value="{{ product.blurb }}">
    <input type="hidden" class="product-worst-case" value="{{ product.worst_case }}">
  </figcaption>
</figure>
