{% load i18n wagtailcore_tags %}

{% if value != hide_value %}
<section class="criterion {% if no_border %}no-border{% endif%} {% if ding %}show-ding{% endif %} {% if class %}{{class}}{% endif %}" {% if ding %}aria-label="{% trans "This section requires attention." %}"{% endif %}>
  {% include "fragments/buyersguide/product_criterion_primary_info.html"  with  label=label  value=value rich_text_value=rich_text_value %}

  {% if help != None and help != "" %}
    {% if rich_help_text %}
    <div class="criterion-richtext-help mb-0 mt-3">{{ help|richtext }}</div>
    {% else %}
    <p class="pni-product-helptext mb-0 mt-3">{{ help }}</p>
    {% endif %}
  {% endif %}
</section>
{% endif %}
