{% load wagtailcore_tags bg_selector_tags l10n i18n localization static %}

    <div id="product-tab" class="tw-w-full tw-mb-4">

        {% include "fragments/product_tab_header.html"  %}
        
        <div class="tw-overflow-hidden medium:tw--mx-7">
            <div id="product-tab-content" class="tw-w-full tw-flex tw-transition-transform tw-ease-in-out tw-duration-300 tw-items-start">
                <div class="tw-w-full tw-flex-shrink-0 medium:tw-px-7" data-product-label="0">
                    {% if product.product_type == 'general' %}
                    <section class="criterion">
                        <h3 class="tw-mb-4 tw-font-zilla tw-text-2xl tw-leading-7 tw-flex tw-items-center">
                        {% trans "Can it snoop on me?" %}
                        <a href="/privacynotincluded/about/methodology">
                            <img src="{% static "_images/buyers-guide/icon-info-circle.svg" %}" alt="{% trans "information" context "icon description for screen readers" %}" class="tw-h-4 tw-w-4 tw-ml-2 tw-mb-1">
                        </a>
                        </h3>
                        <div class="row tw-space-y-4 medium:tw-space-y-0">
                        {% trans "Camera"          as camera %}
                        {% trans "Microphone"      as microphone %}
                        {% trans "Tracks location" as tracks_location %}

                        <div class="col-12 col-md-4">
                            {% include "fragments/it_uses.html" with title=camera          device=product.camera_device     app=product.camera_app      %}
                        </div>
                        <div class="col-12 col-md-4">
                            {% include "fragments/it_uses.html" with title=microphone      device=product.microphone_device app=product.microphone_app  %}
                        </div>
                        <div class="col-12 col-md-4">
                            {% include "fragments/it_uses.html" with title=tracks_location device=product.location_device   app=product.location_app    %}
                        </div>
                        </div>
                    </section>
                    {% endif %}

                    <section class="criterion">
                    <h3 class="tw-mb-4 tw-font-zilla tw-text-2xl tw-leading-7">{% trans "What can be used to sign up?" %}</h3>

                    <div class="row tw-space-y-4 medium:tw-space-y-0">
                        {% trans "Email"               as email %}
                        {% trans "Phone"               as phone %}
                        {% trans "Third-party account" as third_party_account %}

                        <div class="col-12 col-md-4">
                        {% include "fragments/signup_requirement.html" with title=email                 value=product.signup_requires_email          %}
                        </div>
                        <div class="col-12 col-md-4">
                        {% include "fragments/signup_requirement.html" with title=phone                 value=product.signup_requires_phone          %}
                        </div>
                        <div class="col-12 col-md-4">
                        {% include "fragments/signup_requirement.html" with title=third_party_account   value=product.signup_requires_third_party_account    %}
                        </div>
                    </div>

                    {% if product.signup_requirement_explanation %}
                    <p class="pni-product-helptext mb-0 mt-3">{{product.signup_requirement_explanation}}</p>
                    {% endif %}
                    </section>

                    <section class="criterion">
                    <h3 class="tw-mb-4 tw-font-zilla tw-text-2xl tw-leading-7">{% trans "What data does the company collect?" %}</h3>

                    <div class="row tw-space-y-4 medium:tw-space-y-0">
                        {% trans "Personal"      as personal_data_collected %}
                        {% trans "Body related"     as biometric_data_collected %}
                        {% trans "Social"        as social_data_collected %}

                        <div class="col-12 col-md-4">
                        {% include "fragments/signup_requirement.html" with title=personal_data_collected   value=product.personal_data_collected    %}
                        </div>
                        <div class="col-12 col-md-4">
                        {% include "fragments/signup_requirement.html" with title=biometric_data_collected  value=product.biometric_data_collected   %}
                        </div>
                        <div class="col-12 col-md-4">
                        {% include "fragments/signup_requirement.html" with title=social_data_collected     value=product.social_data_collected      %}
                        </div>
                    </div>
                    </section>

                    {% trans "How does the company use this data?" as how_does_it_use_data_collected %}
                    {% include "fragments/product_criterion.html"  with  label=how_does_it_use_data_collected  value=product.how_does_it_use_data_collected  ding=product.data_collection_policy_is_bad rich_text_value=True %}

                    {% if product.product_type == 'general' %}

                    {% trans "How can you control your data?" as how_can_you_control_your_data %}
                    {% include "fragments/product_criterion.html"  with  label=how_can_you_control_your_data  value=product.how_can_you_control_your_data    ding=product.data_control_policy_is_bad rich_text_value=True %}

                    {% trans "What is the company’s known track record of protecting users’ data?" as company_track_record_label %}
                    {% include "fragments/product_criterion.html"  with  label=company_track_record_label  value=product.company_track_record|track_record   help=product.track_record_details  ding=product.track_record_is_bad rich_help_text=True %}

                    {% trans "Can this product be used offline?" as offline_capable %}
                    {% include "fragments/product_criterion.html"  with  label=offline_capable  value=product.offline_capable   help=product.offline_use_description rich_help_text=True %}

                    {% endif %}

                    {% if product.product_type == 'general' %}
                    {% trans "User-friendly privacy information?" as user_friendly_privacy_policy %}
                    {% include "fragments/product_criterion.html"  with  label=user_friendly_privacy_policy  value=product.user_friendly_privacy_policy help=product.user_friendly_privacy_policy_helptext  %}
                    {% endif %}

                    {% trans "Links to privacy information" as privacy_policy_links %}
                    {% include "fragments/product_privacy.html"    with  label=privacy_policy_links          value=""         links=product.privacy_policy_links.all                  %}
                </div>

                <div class="tw-w-full tw-flex-shrink-0 medium:tw-px-7" data-product-label="1">
                    {% localizedroutablepageurl home_page 'methodology-view' as min_sec_url %}
                    {% blocktrans with url=min_sec_url|add:"#minimum-security-standards" asvar minimum_security_standards trimmed %}
                    Does this product meet our <span class="tw-ml-1"></span> <a id="mss-link" class="" href="{{ url }}">Minimum Security Standards</a>?
                    {% endblocktrans %}
                    {% include "fragments/product_criterion.html"  with  value=product.meets_minimum_security_standards|yes_no   help=""   label=minimum_security_standards|safe   ding=product.show_ding_for_minimum_security_standards info=min_sec_url  %}

                    {% trans "Encryption"              as encryption %}
                    {% trans "Security updates"        as security_updates %}
                    {% trans "Strong password"         as strong_password %}
                    {% trans "Manages vulnerabilities" as manages_vulnerabilities %}
                    {% trans "Privacy policy"          as privacy_policy %}

                    {% include "fragments/product_criterion.html"  with  value=product.uses_encryption                          help=product.uses_encryption_helptext         label=encryption               %}
                    {% include "fragments/product_criterion.html"  with  value=product.strong_password                          help=product.strong_password_helptext         label=strong_password          %}
                    {% include "fragments/product_criterion.html"  with  value=product.security_updates                         help=product.security_updates_helptext        label=security_updates         %}
                    {% include "fragments/product_criterion.html"  with  value=product.manage_vulnerabilities                   help=product.manage_vulnerabilities_helptext  label=manages_vulnerabilities  rich_help_text=True %}
                    {% include "fragments/product_criterion.html"  with  value=product.privacy_policy                           help=product.privacy_policy_helptext          label=privacy_policy           %}
                </div>

                <div class="tw-w-full tw-flex-shrink-0 medium:tw-px-7" data-product-label="2">
                    {% if product.product_type == 'general' %}
                    <section class="criterion-group">
                        {% trans "Does the product use AI?" as uses_ai_label %}
                        {% include "fragments/product_criterion.html"  with  label=uses_ai_label  value=product.uses_ai info="/privacynotincluded/about/methodology" help=product.ai_helptext rich_help_text=True  %}

                        {% if product.uses_ai != "No" %}
                        {% trans "Is this AI untrustworthy?" as ai_is_untrustworthy_label %}
                        {% include "fragments/product_criterion.html"  with  label=ai_is_untrustworthy_label  value=product.ai_is_untrustworthy ding=product.ai_is_untrustworthy_ding  %}

                        <section class="criterion">
                            <div class="primary-info">
                            <h3 class="tw-mb-4 tw-font-zilla tw-text-2xl tw-leading-7">{% trans "What kind of decisions does the AI make about you or for you?" %}</h3>
                            <p class="rating pni-product-smaller-body mb-0">
                                {{product.ai_what_can_it_do|richtext}}
                            </p>
                            </div>
                        </section>

                        {% trans "Is the company transparent about how the AI works?" as ai_is_transparent %}
                        {% include "fragments/product_criterion.html"  with  label=ai_is_transparent  value=product.ai_is_transparent help=product.ai_is_transparent_helptext rich_help_text=True %}

                        {% trans "Does the user have control over the AI features?" as ai_can_user_control %}
                        {% include "fragments/product_criterion.html"  with  label=ai_can_user_control  value=product.ai_can_user_control help=product.ai_can_user_control_helptext rich_help_text=True %}

                        {% endif %}
                    </section>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

