{% load i18n %}

<div class="criterion no-border">
  <div class="row mb-3">
    <div class="col-12 col-md-6 mb-3 col-lg-3">
      <h4 class="pni-product-smaller-body-bold">{% trans "Phone Number" %}</h4>
      {% if product.phone_number %}
        {{ product.phone_number }}
      {% else %}
        {% trans "No" %}
      {% endif %}
    </div>

    <div class="col-12 col-md-6 mb-3 col-lg-3 text-truncate">
      <h4 class="pni-product-smaller-body-bold">{% trans "Live Chat" %}</h4>
      {% if product.live_chat %}
        <a id="product-live-chat" target="_blank" href="{{ product.live_chat }}">{{ product.live_chat }}</a>
      {% else %}
        {% trans "No" %}
      {% endif %}
    </div>

    <div class="col-12 col-md-6 mb-3 col-lg-3 text-truncate">
      <h4 class="pni-product-smaller-body-bold">{% trans "Email" context "Label" %}</h4>
        {% if product.email %}
          <a id="product-email" href="{% if '@' in product.email %}mailto:{% endif %}{{ product.email }}">{{ product.email }}</a>
        {% else %}
          {% trans "No" %}
        {% endif %}
    </div>

    <div class="col-12 col-md-6 mb-3 col-lg-3 text-truncate">
      <h4 class="pni-product-smaller-body-bold">Twitter</h4>
      {% if product.twitter %}
        <a id="product-twitter" href="https://twitter.com/{{product.twitter}}">{{ product.twitter }}</a>
      {% else %}
        {% trans "No" %}
      {% endif %}
    </div>
  </div>
</div>
