{% load i18n wagtailcore_tags %}

{% if value != hide_value %}
<section class="criterion value-{{value|lower}} {% if no_border %}no-border{% endif%} {% if ding %}show-ding{% endif %} {% if class %}{{class}}{% endif %}" {% if ding %}aria-label="{% trans "This section requires attention." %}"{% endif %}>
  {% include "./product_criterion_primary_info.html"  with  show_value_as_symbol=show_value_as_symbol  label=label  value=value rich_text_value=rich_text_value%}

  {% if help != None and help != "" %}
    {% if help_rich_text %}
    <div class="criterion-helptext mb-0 mt-3">{{ help|richtext }}</div>
    {% else %}
    <p class="criterion-helptext mb-0 mt-3">{{ help }}</p>
    {% endif %}
  {% endif %}
</section>
{% endif %}
