{% load i18n static wagtailcore_tags bg_selector_tags %}

<div class="primary-info">
    <h3 class="tw-mb-4 tw-font-zilla tw-text-2xl tw-leading-7 tw-flex tw-items-center tw-flex-wrap">
      {{ label }}
      {% if info != None and info != "" %}
        <a href="{{info}}">
          <img src="{% static "_images/buyers-guide/icon-info-circle.svg" %}" alt="{% trans "information" context "icon description for screen readers" %}" class="tw-h-4 tw-w-4 tw-ml-2 tw-mb-1">
        </a>
      {% endif %}
    </h3>
    {% if rich_text_value %}
      <div class="criterion-richtext-value mb-0 rating">
        {{ value|richtext }}
      </div>
    {% else %}
      <p class="rating pni-product-smaller-body mb-0">
        {% trans value|extended_yes_no context value|extended_yes_no %}
      </p>
  {% endif %}
</div>
