{% load wagtailimages_tags wagtailcore_tags %}
<div class="container">
  {% comment %}
    This first .row is the white "top" to the Table of Contents section.
    It will disappear for non-desktop views.
    This is somewhat of an HTML display "hack"
  {% endcomment %}
  <div class="row d-lg-flex justify-content-center no-gutters d-none">
    <div class="col-lg-9 bg-white mt-minus-50"></div>
  </div>
  <div class="row">
    <div class="pt-lg-0 pt-5 {% if not page.notes %}pb-4 pb-md-5{% endif %} col-lg-8 offset-lg-2 justify-content-center col-12 bg-white">
      {% if page.intro_notes %}
        <div class="mb-5">
          {{ page.intro_notes|richtext }}
        </div>
      {% endif %}
      <div class="row d-flex align-items-center">
        <div class="col">
          <h2>{{ page.contents_title }}</h2>
        </div>
        <div class="col-12">
          {% for child_page in child_pages %}
            {% with child=child_page.child %}
            <div class="row publication-row pt-3 pb-sm-4 pb-0">
              <div class="col-auto">
                <div class="publication-chapter-number"
                  {% with toc_image=child.specific.toc_thumbnail_image %}
                  {% if toc_image %}
                  {% image toc_image fill-320x320 as thumbnail %}
                  style='background-image: url("{{ thumbnail.url }}")'
                  {% endif %}
                  {% endwith %}
                >
                </div>
              </div>
              <div class="col-8 ml-sm-3{% if not child.get_children_count %} d-flex align-items-center{% endif %}">
                <h3 class="{% if child.get_children_count %}publication-chapter-title mb-4 {{% else %}m-0 {% endif %}">
                    {{ child.title }} {% if child.has_unpublished_changes %}🐣{% endif %}
                </h3>
                {% for grandchild in child_page.grandchildren %}
                  <h4 class="d-sm-block d-none body">
                    <a href="{{ grandchild.url }}" class="d-block w-75 publication-chapter-article-link">
                      {{ grandchild.title }}
                    </a>
                  </h4>
                {% endfor %}
              </div>
            </div>
            {% if child_page.grandchildren %}
              {# Child listings on mobile. #}
              <div class="pt-2 d-sm-none d-block">
                {% for grandchild in child_page.grandchildren %}
                  <h4 class="body">
                    <a href="{{ grandchild.url }}" class="d-block publication-chapter-article-link">
                      {{ grandchild.title }} {% if child.has_unpublished_changes %}🐣{% endif %}
                    </a>
                  </h4>
                {% endfor %}
              </div>
            {% endif %}
            {% endwith %}
            {% if not forloop.last %}
              <hr/>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
