{% load bg_selector_tags i18n %}

{% trans "How are your recordings handled?" as handles_recordings_how %}
{% trans "Alerts when calls are being recorded?" as recording_alert %}
{% trans "Does the platform say it is compliant with US medical privacy laws?" as medical_privacy_compliant %}

{% if product.handles_recordings_how %}
  {% include "./product_criterion.html"  with  label=handles_recordings_how       value=product.handles_recordings_how     %}
{% endif %}

{% include "./product_criterion.html"  with  label=recording_alert              value=product.recording_alert              help=product.recording_alert_helptext               %}
{% include "./product_criterion.html"  with  label=medical_privacy_compliant    value=product.medical_privacy_compliant    help=product.medical_privacy_compliant_helptext     %}
