@use "sass:map";

.main-content-wrapper {
  background-color: map.get($mofo-colors, white);
  // Fix for Safari: proper layer stacking with sticky elements because z-index alone doesn''t work with position: sticky
  position: relative;
  z-index: z("main-content-wrapper");
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  isolation: isolate;
}
