#onetrust-consent-sdk {
  $ot-middle-breakpoint: 897px;

  // Main banner
  #onetrust-banner-sdk {
    background-color: color(blue, "600") !important;
    border-top-right-radius: rem-calc(18);
    border-bottom-left-radius: rem-calc(18);
    bottom: 1rem !important;
    right: 1rem !important;
    left: 1rem !important;
    box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 25%);

    @include breakpoint($ot-middle-breakpoint) {
      border-top-right-radius: rem-calc(32);
      border-bottom-left-radius: rem-calc(32);
      max-width: 50rem;
      left: auto !important;
    }

    &:focus {
      outline: none !important;
    }

    // Wrapper
    .ot-sdk-container {
      width: 100%;
      padding: 0;
    }

    .ot-sdk-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 1rem;

      @include breakpoint($ot-middle-breakpoint) {
        padding: 1.5rem;
      }

      &::after {
        display: none !important;
      }
    }

    #onetrust-group-container {
      width: 100%;
      float: none;
    }

    // Close button
    .onetrust-close-btn-handler {
      top: 0.5rem;
      right: 0.5rem;
      background-image: url("/static/foundation_cms/_images/icons/dialog-cross-white.svg") !important;
      background-repeat: no-repeat;
      background-position: right 0.5rem center;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include breakpoint($ot-middle-breakpoint) {
        top: 1rem;
        right: 1rem;
      }

      &::before {
        @include mofo-text-style($body-text-styles, "xsmall");

        content: "CLOSE";
        display: block;
        padding-right: 1.5rem;
        color: $white;
        font-weight: 600;
      }
    }

    #onetrust-close-btn-container {
      top: 0;
      right: 0;
      transform: none;
    }

    .onetrust-close-btn-ui {
      height: rem-calc(24);
      width: auto;
    }

    #onetrust-policy {
      margin: 0;
    }

    // Title
    #onetrust-policy-title {
      @include mofo-text-style($header-styles, "h6", $header-font-family);

      color: $white;
      display: flex;
      gap: rem-calc(6);
      flex-direction: column;
      margin: 0 0 12px;

      &::before {
        content: "";
        display: block;
        height: rem-calc(20);
        width: rem-calc(55);
        background-image: url("/static/foundation_cms/_images/handdrawn/ot-loop-line-white.svg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
      }

      @include breakpoint($ot-middle-breakpoint) {
        flex-direction: row;
        align-items: center;
      }
    }

    // Body
    #onetrust-policy-text {
      @include mofo-text-style($body-text-styles, "xsmall");

      color: $white;
      line-height: 150%;

      &:first-child {
        margin-top: 1.5rem;
      }

      strong,
      a {
        color: $white !important;
      }
    }

    #onetrust-button-group-parent {
      float: none;
      padding: 0;
      width: 100%;
      position: static;
      transform: none;
      margin: 0;
    }

    #onetrust-button-group {
      width: auto;
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 0.5rem;

      @include breakpoint($ot-middle-breakpoint) {
        flex-direction: row;
      }
    }

    // Accept/Reject buttons
    #onetrust-accept-btn-handler,
    #onetrust-reject-all-handler {
      @include mofo-text-style($body-text-styles, "small");

      margin: 0;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
      }
    }

    #onetrust-accept-btn-handler {
      &::after {
        background-image: url("/static/foundation_cms/_images/icons/checkbox-stripe-white.svg");
      }
    }

    #onetrust-reject-all-handler {
      &::after {
        background-image: url("/static/foundation_cms/_images/icons/dialog-cross-white.svg");
      }
    }

    // Consent settings button
    #onetrust-pc-btn-handler {
      @include mofo-text-style($body-text-styles, "xsmall");

      background-color: transparent !important;
      color: $white !important;
      min-width: auto;
      margin: 0;
      border: 0;
      text-decoration: underline;
      font-weight: 600 !important;
      padding: 0.25rem 1rem;
    }
  }
}

// Privacy preference dialog
#onetrust-consent-sdk,
#onetrust-pc-sdk {
  background-color: $white !important;

  #ot-pc-title,
  #ot-category-title {
    @include mofo-text-style($header-styles, "h6", $header-font-family);
  }

  #ot-pc-desc {
    @include mofo-text-style($body-text-styles, "small");

    margin-bottom: 1rem !important;
  }

  #accept-recommended-btn-handler,
  .ot-pc-refuse-all-handler,
  .save-preference-btn-handler {
    @include mofo-text-style($body-text-styles, "small");

    margin: 0;
    padding: 0.8rem 1.5rem;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
    }
  }

  #accept-recommended-btn-handler {
    width: 100%;
    max-width: none;
    margin-right: 0 !important;

    &::after {
      background-image: url("/static/foundation_cms/_images/icons/checkbox-stripe-white.svg");
    }
  }

  .ot-pc-refuse-all-handler {
    &::after {
      background-image: url("/static/foundation_cms/_images/icons/dialog-cross-white.svg");
    }
  }

  .save-preference-btn-handler {
    margin-top: 1rem !important;

    &::after {
      display: none;
    }
  }

  .ot-close-icon {
    &:focus {
      outline: none !important;
    }
  }

  .privacy-notice-link,
  .ot-cat-grp .ot-always-active {
    color: color(orange, "200") !important;
  }

  .ot-btn-container {
    &:has(button:only-child) {
      padding: 0 1rem;
    }
  }
}
