@import "../scss/foundation-framework-styles";
@import "../scss/fonts";

// Our custom variables and base styles
@import "../scss/colors";
@import "../scss/type";
@import "../scss/buttons";
@import "../scss/dividers";
@import "../scss/utilities";
@import "../scss/mixins";

// Site-wide Blocks
@import "../scss/blocks/themes/default/divider_block";
@import "../scss/blocks/themes/default/featured_card_block";
@import "../scss/blocks/themes/default/iframe_block";
@import "../scss/blocks/themes/default/image_block";
@import "../scss/blocks/themes/default/impact_number_block";
@import "../scss/blocks/themes/default/list_block";
@import "../scss/blocks/themes/default/media_block";
@import "../scss/blocks/themes/default/portrait_card_set";
@import "../scss/blocks/themes/default/pillar_card_set_block";
@import "../scss/blocks/themes/default/product_review_card_block";
@import "../scss/blocks/themes/default/product_review_carousel_block";
@import "../scss/blocks/themes/default/video_block";
@import "../scss/blocks/themes/default/quote_block";
@import "../scss/blocks/themes/default/product_review_section";
@import "../scss/blocks/themes/default/spotlight_card_carousel";
@import "../scss/blocks/themes/default/spacer_block";
@import "../scss/blocks/themes/default/tabbed_content_container";
@import "../scss/blocks/themes/default/text_social_block";
@import "../scss/blocks/themes/default/timely_activations";
@import "../scss/blocks/themes/default/title_block";
@import "../scss/blocks/themes/default/two_column_container_block";
@import "../scss/blocks/hero";

// Site-wide Components
@import "../scss/components/donate_banner/donate_banner";
@import "../scss/components/primary_nav";
@import "../scss/components/footer";
@import "../scss/components/newsletter_signup/newsletter_signup_form";
@import "../scss/components/share-container";
@import "../scss/components/topic_pills";
@import "../scss/components/back_to_top";

// Embed/widget overrides
@import "../scss/onetrust-override";

.main-content-wrapper {
  background-color: map.get($mofo-colors, white);
}
