/* Mozilla_Headline font declarations */
@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Headline';
    src: url('/static/fonts/Mozilla_Headline/MozillaHeadline-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

/* Mozilla_Text font declarations */
@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mozilla Text';
    src: url('/static/fonts/Mozilla_Text/MozillaText-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}