@import "../scss/foundation-framework-styles";
@import "../scss/fonts";

// Our custom variables and base styles
@import "../scss/colors";
@import "../scss/type";
@import "../scss/buttons";

// Site-wide Components
@import "../scss/components/donate_banner/donate_banner";
@import "../scss/components/primary_nav";
@import "../scss/components/footer";
@import "../scss/components/newsletter_signup/newsletter_signup_form";

/* Overriding legacy SCSS that was targeting these elements */
.site-footer-ns,
.primary-nav-ns {
  ul,
  ol,
  p {
    font-family: $body-font-family;
    font-size: unset;
    line-height: 1.4;
  }

  li {
    margin: 0;
  }

  a.btn-primary {
    &:hover {
      background-color: color(neutral, "600");
      border-color: black;
    }

    &.dark-mode {
      &:hover {
        background-color: color(orange, "100");
      }
    }
  }
}

.primary-nav-ns {
  a[class*="btn"] {
    font-weight: 400;
  }
}
