{% load i18n %}

<div id="{{ inline_admin_formset.formset.prefix }}-group"
     class="inline-group inline-stacked{% if inline_admin_formset.opts.sortable %} sortable{% endif %}{% if inline_admin_formset.opts.classes %} {{ inline_admin_formset.opts.classes|join:" " }}{% endif %}" name="inlinegroup">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}
    <div class="items"> <!-- sortable container -->
        {% for inline_admin_form in inline_admin_formset %}
        <div id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}"
             class="inline-related {% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"> <!-- sortable items -->
            <!-- fieldsets -->
            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
            {% with field_number=forloop.counter %}
            {% for fieldset in inline_admin_form %}
                {% include "admin/homepage/homepage/includes/fieldset.html" %}
            {% endfor %}
            {% endwith %}
            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
            {{ inline_admin_form.fk_field.field }}
        </div>
        {% endfor %}
        {{ inline_admin_formset.extra_forms }}
    </div>
</div>

<div class="sortablehelper">
    <h3><b>Sortable Helper</b></h3>
</div>

<script type="text/javascript">
(function($) {
  var prefix = "{{ inline_admin_formset.formset.prefix|escapejs }}";
  $("#{{ inline_admin_formset.formset.prefix|escapejs }}-group .inline-related").stackedFormset({
    prefix: prefix,
    addText: "{% filter escapejs %}{% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}{% endfilter %}",
    deleteText: "{% filter escapejs %}{% trans 'Delete Item' %}{% endfilter %}",
  });
  $(document).on("formset:added", function(event, $row, targetPrefix) {
    if (targetPrefix === prefix) {
        // Tweak the Delete link to resemble the ones defined in template
        var $deleteLink = $row.find(".inline-deletelink");
        $deleteLink
            .appendTo($row.find("ul.inline-item-tools"))
            .wrap("<li/>")
            .addClass("deletelink")
            .attr("title", $deleteLink.text())
            .text("");
    }
  });
  $(function() {
    $(".items > .inline-related").removeClass("collapsed");
  });
})(django.jQuery);
</script>
