{% load wagtailcore_tags wagtailadmin_tags %}

{% fragment as base_styles %}tw-flex tw-flex-col tw-items-start tw-gap-8 tw-py-8{% endfragment %}
{% fragment as desktop_layout %}large:tw-py-22 large:tw-px-8 large:tw-ms-9 large:tw-col-span-1{% endfragment %}

<div class="{{ base_styles }} {{ desktop_layout }}">
    <h6 class="tw-self-stretch">{{ value.title }}</h6>
    <div class="tw-flex tw-flex-col tw-items-start tw-gap-8 tw-self-stretch">
        {% for item in value.nav_items %}
            <div class="tw-self-stretch">{% include_block item %}</div>
        {% endfor %}
        {% if value.has_button %}
            <div class="tw-self-stretch">{% include_block value.button_value with style="cta" %}</div>
        {% endif %}
    </div>
</div>
