{% load wagtailcore_tags wagtailadmin_tags %}

{% fragment as base_styles %}tw-flex tw-flex-col tw-items-start tw-gap-12 tw-py-8 tw-px-12 tw-bg-gray-02 tw-rounded-2xl{% endfragment %}
{% fragment as desktop_layout %}large:tw-py-22 large:tw-px-8 large:tw-ms-9 large:tw-rounded-none large:tw-col-span-1{% endfragment %}

<div class="{{ base_styles }} {{ desktop_layout }}">
    <h6 class="tw-self-stretch tw-px-4">{% block title %}{{ value.title }}{% endblock title %}</h6>
    <div class="tw-flex tw-flex-col tw-items-start tw-gap-8 tw-self-stretch">
        {% block content %}
            {% for item in value.nav_items %}
                <div class="tw-self-stretch">{% include_block item %}</div>
            {% endfor %}
        {% endblock content %}
    </div>
</div>
