{% load static i18n wagtailadmin_tags nav_tags %}

{% fragment as font_styles %}tw-text-xl large:tw-text-lg tw-font-semibold tw-text-black{% endfragment %}
{% fragment as hover_styles %}group-hover/item:tw-text-blue-80 group-hover/item:tw-underline{% endfragment %}

{% fragment as active_wayfinder_style %}tw-underline tw-decoration-2{% endfragment %}

{% check_if_link_is_active value as link_active %}

<div class="tw-group/item tw-flex tw-flex-col tw-gap-4 tw-p-4 hover:tw-bg-blue-03 hover:tw-rounded">
    <a class="
              {{ font_styles }}
              {% if value.is_external %}
                  after:tw-content-['_↗']
                  after:tw-font-['Nunito_Sans']
                  after:tw-text-gray-20
                  group-hover/item:after:tw-text-blue-80
              {% endif %}
              {{ hover_styles }}
              {% if link_active %}
                  {{ active_wayfinder_style }}
              {% endif %}
             "
       href="{{ value.url }}" {% if value.is_external %}target="_blank"{% endif %}>
        {{ value.label }}
    </a>
    {% if value.description %}
        <p class="tw-font-light tw-text-sm tw-text-gray-80 tw-hidden medium:tw-block">
            {{ value.description }}
        </p>
    {% endif %}
</div>
