{% load static i18n wagtailadmin_tags %}

{% fragment as font_styles %}tw-text-xl tw-font-semibold tw-capitalize tw-text-black{% endfragment %}
{% fragment as hover_styles %}group-hover:tw-text-blue-80 group-hover:tw-underline{% endfragment %}
{% fragment as after_arrow_styles %}after:tw-content-['_↗'] after:tw-font-['Nunito_Sans'] after:tw-text-gray-20 group-hover:after:tw-text-blue-80{% endfragment %}

<div class="tw-group tw-flex tw-flex-col tw-gap-2 tw-p-2 hover:tw-bg-blue-03">
    <a class="{{ font_styles }} {% if value.is_external %} {{ after_arrow_styles }} {% endif %} {{ hover_styles }}"
       href="{{ value.url }}" {% if value.is_external %}target="_blank"{% endif %}>
        {{ value.label }}
    </a>
    {% if value.description %}
        <p class="tw-font-light tw-text-sm tw-text-gray-80 tw-hidden medium:tw-inline">
            {{ value.description }}
        </p>
    {% endif %}
</div>
