{% load static i18n img_utils %}

<div class="tw-group tw-flex tw-flex-col tw-gap-2 tw-p-2 hover:tw-bg-blue-05">
    <div class="tw-flex tw-flex-row tw-items-center tw-gap-2 tw-text-xl tw-font-semibold tw-capitalize tw-text-black">
        <a class="group-hover:tw-text-blue-80 group-hover:tw-underline tw-text-black" href="{{ value.url }}" {% if value.open_in_new_window %}target="_blank"{% endif %}>{{ value.label }}</a>
        <div class="tw-size-8 [&>*]:group-hover:tw-stroke-blue-80">
            {% include_svg '_images/glyphs/arrow-up-right.svg' %}
        </div>
    </div>
    {% if value.description %}
        <p class="tw-font-light tw-text-sm tw-text-gray-80 tw-hidden medium:tw-inline">
            {{ value.description }}
        </p>
    {% endif %}
</div>
