{% load wagtailmetadata_tags i18n localization settings_value wagtailuserbar static mofo_common %}

{% get_current_language as lang_code %}
<!DOCTYPE html>
<html lang="{{ lang_code }}" class=" 
    {% block html_class %}{% endblock %}
     ">
    <head>
        <meta charset="utf-8">
        <title>

            {% block page_title %}
                {% environment_prefix %}
                {% trans "Mozilla Foundation" %} -
                {% if page.specifics.seo_title %}
                    {{ page.specifics.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}

        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{% static "_css/main.compiled.css" %}">
            {% if debug %}
                <link rel="stylesheet" href="{% static "_css/tailwind.compiled.css" %}">
            {% endif %}
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,300,700,300i,800,900,400i">
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700,300i,400i,600i">
        {% endblock %}

    </head>
    <body class=" 
        {% block bodyclass %}{% endblock %}
         " id="view- 
        {% block body_id %}{% endblock %}
         ">

        {% block body_wrapped %}
            <div class="wrapper">

                {% block content_wrapped %}
                    <main role="main">

                        {% block content %}
                            {# This is only used when viewing pattern library via /pattern-library. #}
                            {{ pattern_library_rendered_pattern }}
                        {% endblock %}

                    </main>
                {% endblock content_wrapped %}

            </div>
        {% endblock %}

        {% block script_bundle %}
            <script src="{% url "javascript-catalog" %}"></script>
            <script src="{% static "_js/main.compiled.js" %}"></script>
        {% endblock %}

        {% block extra_scripts %}{% endblock %}

    </body>
</html>
