{% extends "pages/base.html" %} {% load wagtailcore_tags wagtailimages_tags %}

{% block web_monetization %}{% endblock %}

{% block wagtail_metadata %}{% endblock %}

{% block body_id %}reviewapp-help{% endblock%}

{% block content %}
  <div class="container">
    <div class="row py-md-5 d-flex align-items-center">
      <div class="col-md-12 offset-md-1 py-5">
        <div class="mb-4">
          <h1 class="h1-heading">Review app help page</h1>
        </div>
        <p>Test pages with placeholder content:</p>
        <ul>
          <li><a href="/who-we-are/">Who we are</a></li>
          <li><a href="/what-we-do/">What we do</a></li>
          <li><a href="/what-you-can-do/">What you can do</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li>-</li>
          <li><a href="/campaigns/single-page/">Single page campaign</a></li>
          <li><a href="/campaigns/multi-page/">Multi page campaign</a></li>
          <li><a href="/blog/initial-test-blog-post-with-fixed-title/">Blog post</a></li>
          <li>-</li>
          <li><a href="/style-guide/">Style guide</a></li>
          <li><a href="/privacynotincluded/">Privacy Not Included</a></li>
          <li><a href="/mozilla-festival/">Mozilla Festival</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
