{% load i18n %}

<div class="article-navbar-container">
  <div class="article-navbar d-lg-block">
    <div class="container">
      <div class="row">
        <div class="{% if get_titles %}col-lg-8{% else %}col-lg-12{% endif %} d-lg-flex d-none">
          <div class="article-navbar-title">
            {% if get_titles %}
              {{ page.title|truncatechars:60 }}
            {% else %}
              {{ page.title|truncatechars:120 }}
            {% endif %}
          </div>
        </div>
        <div class="{% if get_titles %}col-lg-4{% else %}d-none{% endif %}">
          <div class="dropdown">
            <button class="btn btn-sm btn-link dropdown-toggle article-summary-toggle d-block w-100 text-left" type="button" role="button" id="summaryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans "Summary" %}
            </button>

            <div class="dropdown-menu dropdown-menu-right w-100 article-summary-menu" aria-labelledby="summaryMenu">
              {% for slug, header in get_titles %}
                <a class="dropdown-item text-wrap" href="#{{ slug }}">{{ header }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
