{% if value != hide_value %}
<div class="criterion value-{{value|lower}}">
  {% include "./product_criterion_primary_info.html"  with  label=label  value=value %}

  {% if links|length > 0 %}
  <ul class="list-unstyled mb-0">
    {% for link in product.privacy_policy_links reversed %}
      <li class="helptext">
        {% if link.url != "" %}
        <a class="privacy-policy-link" href="{{ link.url }}">{{ link.label }}</a>
        {% else %}
        <span>{{ link.label }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% endif %}
</div>
{% endif %}
