<div class="criterion no-border">
  <div class="row mb-3">
    <div class="col-12 col-md-6 mb-3 col-lg-3">
      <strong class="d-block">Phone Number</strong>
      {% if product.phone_number %}
      {{ product.phone_number }}
      {% else %}
      No
      {% endif %}
    </div>

    <div class="col-12 col-md-6 mb-3 col-lg-3 text-truncate">
      <strong class="d-block">Live Chat</strong>
      {% if product.live_chat %}
      <a id="product-live-chat" target="_blank" href={{ product.live_chat }}>{{ product.live_chat }}</a>
      {% else %}
      No
      {% endif %}
    </div>

    <div class="col-12 col-md-6 mb-3 col-lg-3 text-truncate">
      <strong class="d-block">Email</strong>
        {% if product.email %}
          <a href="{% if '@' in product.email %}mailto:{% endif %}{{ product.email }}">{{ product.email }}</a>
        {% else %}
          No
        {% endif %}
    </div>

    <div class="col-12 col-md-6 mb-3 col-lg-3 text-truncate">
      <strong class="d-block">Twitter</strong>
      {% if product.twitter %}
      <a href="https://twitter.com/{{product.twitter}}">{{ product.twitter }}</a>
      {% else %}
      No
      {% endif %}
    </div>
  </div>
</div>
