{% with level=product.privacy_policy_reading_level %}
<div class="criterion criterion-{% if level == 0 %}none{% else %}good{% endif %}">
  <div class="primary-info">
    <p class="d-flex align-items-center">
      <span>
          Reading level of the {% if product.privacy_policy_url %}
          <a target="_blank" href="{{ product.privacy_policy_url }}">Privacy policy</a>
        {% else %}
          Privacy policy
        {% endif %}
      </span>
    </p>
    <p class="rating">
      {% if product.privacy_policy_reading_level == 0 %}
        Can't determine
      {% else %}
        {% if product.privacy_policy_url %}
          <a target="_blank" href="{{ product.privacy_policy_reading_level_url }}">
        {% endif %}

        Grade {{ product.privacy_policy_reading_level }}

        {% if product.privacy_policy_url %}
          </a>
        {% endif %}
      {% endif %}
      <span class="emoji"></span>
    </p>
  </div>
</div>
{% endwith %}
