{% load i18n %}

<div class="primary-info">
  <div class="d-flex align-items-center">
    <span><strong>{{ label }}</strong></span>
  </div>

  <div class="rating">
    <span><strong>
    {% if value == "U" %}
      {% if show_value_as_symbol %}
      <img src="/_images/buyers-guide/score/icon-unknown.svg" alt="{{value}}">
      {% else %}
      {% trans "Unknown" context "Unknown rating" %}
      {% endif %}
    {% elif value == "NA" %}
      {% trans "N/A" %}
    {% elif value == "Yes" %}
      {% trans "Yes" %}
    {% elif value == "No" %}
      {% trans "No" %}
    {% else %}
      {% if show_value_as_symbol %}
      <img src="/_images/buyers-guide/score/icon-{{value|lower}}.svg" alt="{{value}}">
      {% else %}
      {{ value }}
      {% endif %}
    {% endif %}
    </strong></span>
  </div>
</div>
