{% load wagtailcore_tags wagtailimages_tags %}

<div class="row card-cta-large my-3 align-items-center my-4">
  <div class="col-12 col-md-6 mb-3 mb-md-0">
    {% image image fill-1080x600-c100 format-jpeg as hero %}
    <img class="full-bleed-xs d-block d-md-none d-lg-block" src="{{ hero.url }}" class="w-100"/>

    {% image image fill-600x600-c100 format-jpeg as hero2 %}
    <img class="d-none d-md-block d-lg-none" src="{{ hero2.url }}" class="w-100"/>
  </div>
  <div class="col-12 col-md-6">
    <h3 class="tw-h2-heading">{{ title }}</h3>
    <div class="tw-body-large">{{ description | richtext }}</div>
    <a href="{{ link_url }}" class="tw-btn-secondary">{{ link_label }}</a>
  </div>
</div>
