{% load wagtailcore_tags wagtailimages_tags %}

<div class="row flex-column-reverse flex-md-row card-cta">
  <div class="col-12 col-md-6 px-5 pt-4 pb-5 p-sm-5">
    <h3 class="">{{ title }}</h3>
    <div class="tw-body-large">{{ description | richtext }}</div>

    {% if link_url %}
    <a class="btn btn-secondary" href="{{ link_url }}">{{ link_label }}</a>
    {% endif %}

    <div class="share-button-group circle">
      {% if facebook %}
      <a class="btn btn-secondary btn-share facebook-share" href="https://www.facebook.com/sharer/sharer.php?u={{ facebook }}"></a>
      {% endif %}

      {% if twitter %}
      <a class="btn btn-secondary btn-share twitter-share" href="https://twitter.com/home?status={{ twitter }}"></a>
      {% endif %}

      {% if email_body and email_subject %}
      <a class="btn btn-secondary btn-share email-share" href="mailto:?subject={{ email_subject|urlencode }}&body={{ email_body|urlencode }}"></a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-md-6 pr-md-5">
    {% image image format-png as hero %}
    <div class="wrapper" style="background-image: url({{ hero.url }})"></div>
  </div>
</div>
