{% load wagtailcore_tags wagtailimages_tags %}

<div class="card-regular h-100 d-flex flex-column">

  <img src={{ image }} class="full-bleed-xs" />

  <div class="full-bleed-xs d-flex tw-flex-1">
    <div class="key-item tw-border-b-4 tw-border-gray-05 -tw-mt-5 tw-bg-white tw-relative mx-2 mx-md-3 p-3 w-100 d-flex flex-column">
      <h3 class="h3-heading mb-2">{{ title }}</h3>
      {% if description_is_rich_text %}
        {{ description|richtext }}
      {% else %}
        <p>{{ description }}</p>
      {% endif %}
      <a class="cta-link mb-2" href="{{ link_url }}">{{ link_label }}</a>
    </div>
  </div>

</div>
