{% load wagtailcore_tags wagtailimages_tags %}

<div class="row card-cta" style="background: #F5F5F5;">
  <div class="col-12 col-md-6 p-5">
    <h3 class="">{{ title }}</h3>
    <p>{{ description | richtext }}</p>

    {% if commitment %}
    <div class="commitment mb-3">{{ commitment }}</div>
    {% endif %}

    {% if link_url %}
    <a class="btn btn-ghost" href="{{ link_url }}">{{ link_label }}</a>
    {% endif %}

    <div class="social-links d-flex">
      {% if facebook %}
      <a class="social-link social-link-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ facebook }}"></a>
      {% endif %}

      {% if twitter %}
      <a class="social-link social-link-twitter" href="https://twitter.com/home?status={{ twitter }}"></a>
      {% endif %}

      {% if email_body %}
      <a class="social-link social-link-email" href="mailto:?subject={{ email_subject|urlencode }}&body={{ email_body|urlencode }}"></a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-md-6 pr-md-5">
    {% image image format-png as hero %}
    <div class="wrapper" style="background-image: url({{ hero.url }})"></div>
  </div>
</div>
