{% load wagtailcore_tags wagtailimages_tags %}

<div class="card-regular tw-h-full tw-flex tw-flex-col">

  <img src={{ image }} class="full-bleed-xs" />

  <div class="full-bleed-xs tw-flex tw-flex-1">
    <div class="key-item tw-border-b-4 tw-border-gray-05 tw--mt-5 tw-bg-white tw-relative tw-mx-2 medium:tw-mx-4 tw-p-4 tw-w-full tw-flex tw-flex-col">
      <h3 class="h3-heading tw-mb-2">{{ title }}</h3>
      {% if description_is_rich_text %}
        {{ description|richtext }}
      {% else %}
        <p>{{ description }}</p>
      {% endif %}
      <a class="cta-link tw-mb-2" href="{{ link_url }}">{{ link_label }}</a>
    </div>
  </div>

</div>
