{% load wagtailcore_tags %}

{% if menu_pages %}
<div class="py-5 col-md-3 mb-3 hidden-sm-down">
  <div class="multipage-nav side-nav" id="multipage-nav">
    {% for entry in menu_pages %}
    <div>
      <a class="multipage-link {% if current.title == entry.page.title %}multipage-link-active{% endif %} {% if entry.restriction != None %}multipage-link-restricted{% endif %}" href="{% pageurl entry.page %}">{% if entry.depth == 2 %}→ {% endif %}{{ entry.menu_title }}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
