{% load wagtailimages_tags %}

<picture class="{{class_names}}">
    {# High quality large img #}
    {% image unoptimized_image fill-540x304-c0 format-jpeg as image_large_hq %}
    {# Low quality large img #}
    {% image unoptimized_image fill-540x304-c0 format-jpeg as image_large_lq %}
    <source media="(min-width: 992px)" srcset="{{ image_large_lq.url }} 1x, {{ image_large_hq.url }} 2x" type="image/jpeg" alt="{{ image_large_hq.alt }}">
    
    {# High quality medium img #}
    {% image unoptimized_image fill-480x270-c0 format-jpeg as image_medium_hq %}
    {# Low quality medium img #}
    {% image unoptimized_image fill-480x270-c0 format-jpeg jpegquality-83 as image_medium_lq %}
    <source media="(min-width: 576px)" srcset="{{ image_medium_lq.url }} 1x, {{ image_medium_hq.url }} 2x" type="image/jpeg" alt="{{ image_medium_hq.alt }}">

    {# High quality small img #}
    {% image unoptimized_image fill-320x180-c0 format-jpeg as image_small_hq %}
    {# Low quality small img #}
    {% image unoptimized_image fill-320x180-c0 format-jpeg jpegquality-83 as image_small_lq %}
    <source srcset="{{ image_small_lq.url }} 1x, {{ image_small_hq.url }} 2x" type="image/jpeg" alt="{{ image_small_hq.alt }}">
    
    {# Fallback/Default Image #} 
    <img src="{{ image_large_lq.url }}" class="full-bleed-xs wagtail-image" srcset="{{image_small_lq.url}} 320w, {{ image_medium_lq.url }} 480w, {{ image_large_lq.url }} 540w" alt="{{ image_large_lq.alt }}"/>

</picture>