{% load wagtailcore_tags %}

{% if singleton_page == False %}
<div class="container hidden-sm-down my-4">
  <div class="row">
    <div class="col-12">
      <div id="multipage-nav">
      	{% for entry in menu_pages %}
      	  <a class="multipage-link {% if current.title == entry.page.title %}multipage-link-active{% endif %} {% if entry.restriction != None %}multipage-{{entry.restriction}}-restricted{% endif %} {% if not entry.page.live %}multipage-draft{% endif %}" href="{% pageurl entry.page %}">{% if entry.depth == 2 %}→ {% endif %}{{ entry.menu_title }}
      	  </a>
      	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
