{% load wagtailimages_tags %}

<picture class="">

    {% image unoptimized_image image_ratios.large.0 as image_large %}
    {% image unoptimized_image image_ratios.large.1 as image_large_2x %}
    <source media="(min-width: 576px)" srcset="{{ image_large.url }}, {{ image_large_2x.url }} 2x"  alt="{{ alt_text }}">
    
    {% image unoptimized_image image_ratios.small.0 as image_small %}
    {% image unoptimized_image image_ratios.small.1 as image_small_2x %} 
    <source srcset="{{ image_small.url }}, {{ image_small_2x.url }} 2x" alt="{{ alt_text }}">
    
    {# Fallback/Default Image #} 
    <img src="{{ image_large.url }}" srcset="{{image_small.url}} 92w, {{ image_large.url }} 160w" alt="{{ alt_text }}"/>

</picture>


<picture>
        
        {# Fallback/Default Image #} 
        <img
        src="{% if profile.thumbnail %}{{ profile.thumbnail }}{% else %}/_images/fellowships/headshot/placeholder.jpg{% endif %}"
        class="headshot"
        alt="Headshot"
        >
      </picture>
