.featured-card-container {
  padding: 1rem 0;
  background: url("../_images/featured-card/featured-card-background-small.svg")
    no-repeat center center;
  background-size: 100% 100%;
  margin: 0;

  @include breakpoint(large up) {
    margin: 0;
    padding: 4rem 0;
  }
}

body.redesign {
  .featured-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: $white;
    border-top-right-radius: 2rem;
    padding: 1rem;

    @include breakpoint(large up) {
      flex-direction: row;
      padding: 2rem;
      margin: 0 1rem;
      gap: 3rem;
      align-items: center;
      border-top-right-radius: 6rem;
    }

    &__image {
      border-top-right-radius: 6rem;
      border-bottom-right-radius: 6rem;
      overflow: hidden;

      @include breakpoint(large up) {
        width: 50%;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
      }

      img {
        display: block;
        aspect-ratio: 1.14 / 1;
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      @include breakpoint(large up) {
        width: 50%;
        gap: 1rem;
      }
    }

    &__heading {
      @include mofo-text-style($header-styles, "h3", $header-font-family);

      @include breakpoint(small) {
        font-size: rem-calc(32);
      }

      font-weight: 400;
      margin: 0;
    }

    &__description {
      @include mofo-text-style($body-text-styles, "large");
    }

    &__button {
      .link-button {
        margin: 0;
      }
    }
  }
}
