@use "sass:math";

@include block-wrapper("rich_text") {
  .rich-text-block {
    @include breakpoint(large up) {
      width: math.div(8, 12) * 100%;
    }
  }
}

.rich-text-block {
  font-size: rem-calc(18);
  line-height: $global-lineheight;
}
