@use "sass:map";

.text-social-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem-calc(54);
  gap: rem-calc(39);
  width: rem-calc(516);
  height: rem-calc(493);

  &__title {
    @include mofo-text-style($body-text-styles, "xlarge");

    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  &__text {
    @include mofo-text-style($body-text-styles, "large");

    line-height: 1.3;
    text-align: center;
    margin: 0;
  }

  &__share {
    .share-buttons {
      justify-content: center;
    }
  }
}