#fellowship-breadcrumb {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.eligibility-section {
  background: $subtle-gray;
}

.fellowships-list {
  list-style: outside;

  &.benefit-list {
    @media (min-width: $bp-md) {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  li {
    margin-left: 1rem;
    padding-left: 1.5rem;
  }
}

[id^="view-fellows-directory"] {
  .meta-block-item-role {
    text-transform: capitalize;
  }
}

#fellowships-application-cta-banner {
  background: $subtle-gray;

  .btn {
    width: 100%;

    @media (min-width: $bp-md) {
      width: auto;
    }
  }
}

[class*="col-"].logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (min-width: $bp-md) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  img {
    max-width: 75%;

    @media (min-width: $bp-md){
      max-width: 90%;
    }
  }
}

.hear-from-funder-line-art {
  background: url(../_images/fellowships/svg/funders-fellowship-optim.svg) no-repeat center 0;
  min-height: 9rem;
}

.hear-from-host-org-line-art {
  background: url(../_images/fellowships/svg/host-orgs-fellowship-optim.svg) no-repeat center 0;
  min-height: 9rem;
}
