body {
  $hero-breakpoint: $bp-lg;
  $breakpoint: $bp-md;

  --sticky-height: 73px;
  --creep-o-height: 10px;
  --expanded-sticky-height: calc(11em + var(--creep-o-height));
  --small-sticky-height: calc(var(--expanded-sticky-height) - 6em);

  /* the minimal value for this buffer is 2em */
  --mobile-creep-buffer: 0em;
  --mobile-creep-offset: calc(var(--mobile-creep-buffer) - 2em);

  --search-icon-size-desktop: 24px;
  --search-icon-size-mobile: 22px;
  --search-box-height: 50px;
  --clear-icon-size: 14px;

  --search-element-buffer: 10%;

  --pni-checkbox-container-width: 17em;
  --pni-checkbox-size: 22px;
  --pni-icon-size: 1.2em;

  #product-filter-search,
  #pni-mobile-search-container {
    & .clear-icon {
      flex: 0 0 auto;
      display: none;
      cursor: pointer;
      outline: 0;
      padding: 0;
      margin: 0;
      margin-right: 4px;
      height: var(--clear-icon-size);
      width: var(--clear-icon-size);
      background: url(../legacy_apps/_images/buyers-guide/filter/clear-icon-blue.svg);
      background-size: 100% 100%;
    }

    &.has-content .clear-icon {
      display: inline-block;
    }
  }

  #product-filter-pni {
    user-select: none;

    input[type="checkbox"] {
      position: relative;
      display: none;
    }

    .pni-icon {
      display: inline-block;
      height: var(--pni-icon-size);
      width: var(--pni-icon-size);
      background: url(../legacy_apps/_images/buyers-guide/icon-privacy-ding-mini.svg);
      background-size: 100% 100%;
      vertical-align: middle;
    }

    label {
      cursor: pointer;
    }
  }

  .product-box-list-wrapper {
    figure.product-box {
      $padding-x: 12px;
      $padding-y: 12px;
      $privacy-ding-width: 30px;
      $privacy-ding-height: 25px;
      $recommendation-width: 17px;
      $recommendation-height: 15.8px;

      // Needed for animation state while JS loads
      opacity: 0;

      display: inline-block;
      position: relative;
      padding: $padding-y $padding-x;
      background: $pni-product-list-background;

      .privacy-ding {
        @include privacy-ding(
          $padding-y,
          $padding-x,
          $privacy-ding-width,
          $privacy-ding-height
        );

        position: static;
      }

      .adult-content-badge {
        @include adult-content-badge($padding-y, $padding-x, 41px, 35px);
      }

      .top-left-badge-container {
        $badge-spacing: 0.5rem;

        position: absolute;
        top: $padding-y;
        left: $padding-x;
        width: calc(
          #{$privacy-ding-width} + #{$recommendation-width} + #{$badge-spacing}
        );
        height: $privacy-ding-height;
        display: flex;
        justify-content: space-between;
      }

      .product-image {
        img {
          margin: 0 auto;

          @media (min-width: $breakpoint) {
            max-width: 78%;
          }
        }
      }

      .product-links {
        @include hover-focus-active {
          text-decoration: none;
        }

        @media screen and (max-width: $breakpoint) {
          .product-company {
            color: $gray-80;
            font-size: 12px;
            line-height: calc(16 / 12);
          }

          .product-name {
            color: $black;
            font-size: 12px;
            line-height: calc(16 / 12);
          }
        }
      }

      figcaption {
        color: $gray-40;
        position: relative;
        bottom: -($padding-y/2); // to offset the extra bottom spacing from line-height

        .tw-body {
          font-weight: initial;
        }
      }
    }

    overflow-x: hidden;
  }

  .project-list-section {
    @media (min-width: $bp-xl) {
      // on extra large screen we want project-list-section's width to match
      // Bootstrap's .container's width
      width: calc(
        #{map-get($container-max-widths, xl)} - #{$grid-gutter-width}
      );
      max-width: 100%;
      margin: 0 auto;
    }
  }

  #sticky-bar.creepiness-slider {
    z-index: 3;
    position: relative;
    top: 42px;
    margin: 2rem 0 1rem;
    top: initial;
    z-index: 10;

    height: calc(
      var(--sticky-height) + var(--creep-o-height) + var(--mobile-creep-buffer)
    );

    &.creep-o-meter-moved {
      height: 0px;
      margin-bottom: 0;
      margin-top: 0rem;

      @media (max-width: $bp-md) {
        height: 0px;
        padding-bottom: 0;
        #product-filter-pni {
          top: calc(var(--mobile-creep-offset));
        }
      }
    }

    @media (min-width: $breakpoint) {
      display: flex;
      align-items: center;
    }

    .creep-o-meter-information {
      opacity: 1;
      transition: opacity 0.2s ease;

      &.fade-out {
        opacity: 0;
      }
    }

    .speech-bubble-container {
      .speech-bubble {
        border-radius: 1em;
        padding: 0.5em 1em;
        color: $gray-80;

        &::after {
          content: "";
          background-image: url(../legacy_apps/_images/buyers-guide/icon-bubble-hook.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right 60%;
          position: absolute;
          top: 0;
          right: -12px;
          width: 14px;
          height: 100%;
        }
      }
    }

    .current-creepiness {
      $face-dimension-mobile: 46px;
      $face-dimension: 70px;
      $scale-down-ratio: $face-dimension-mobile/$face-dimension;

      display: inline-block;
      width: $face-dimension;
      height: $face-dimension;

      @media (min-width: $bp-sm) {
        width: $face-dimension;
        height: $face-dimension;
      }

      flex: 0 0 $face-dimension;
      background-image: url(../legacy_apps/_images/buyers-guide/faces/sprite-resized-64-colors.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;

      @media (min-width: $breakpoint) {
        top: unset;
      }
    }

    &.creep-o-meter-moved,
    &.search-active {
      .creep-o-meter-information {
        position: fixed;
        padding-left: 2em;
        top: initial;
        right: 2em;
        bottom: 2em;
      }
    }
  }

  @media (min-width: $bp-md) {
    #sticky-bar.creepiness-slider {
      position: sticky;
      position: -webkit-sticky;
    }
  }

  /*
    this is a special universal show/hide toggle for products without
    the privacy ding when "show pni only" is on:
  */
  &.show-ding-only figure.product-box:not(.privacy-ding) {
    // we have to use !important here because .product-box uses Bootstrap's .d-flex
    // and we need to override .d-flex's CSS rule "display: flex !important;"
    display: none !important;
  }

  /*
    Buyersguide "Oh-no" face when nothing was found in the search results
  */
  .oh-no-face {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  @media (min-width: $breakpoint) {
    .oh-no-face {
      width: 70px;
      height: 70px;
    }
  }
}
