{% extends "pages/libraries/base.html" %}

{% load i18n l10n wagtailcore_tags wagtailimages_tags static %}

{% block hero_guts %}
    {% with hero_image_classes="tw-bg-no-repeat tw-bg-left-top tw-bg-cover tw-min-h-[260px]" %}
        {% if page.banner_image %}
            {% image page.banner_image original as hero_img %}
            <div class="{{ hero_image_classes }}"
                 style="background-image: url('{{ hero_img.url }}')"></div>
        {% else %}
            <div class="{{ hero_image_classes }}" style="background-image: url('{% static "_images/banner-black-white-marble.jpg" %}')">
            </div>
        {% endif %}
    {% endwith %}
{% endblock hero_guts %}

{% block subcontent %}
    <div id="landing-page-content" class="tw-flex tw-w-full">
        <div id="left-spacer-and-cutout"
             class="tw-bg-white tw-flex-auto -tw-mt-[125px] tw-pl-8 small:tw-pl-0"></div>
        <div id="content-and-cutout"
             class="tw-grid tw-grid-cols-12 tw-container tw-mr-8 tw-px-0 small:tw-mr-0">
            <div id="cutout"
                 class="tw-bg-white tw-col-span-12 -tw-mt-[125px] medium:tw-pl-8 medium:tw-pr-12 large:tw-col-span-8">
                <div class="tw-pt-12 tw-mr-8 medium:tw-mr-0 large:tw-w-full">
                    <h1>{{ page.title }}</h1>
                    {% if page.intro %}<p class="tw-body-large mt-3 mb-0">{{ page.intro }}</p>{% endif %}
                    <form id="search"
                          action="{% pageurl page.library_page %}"
                          method="get"
                          accept-charset="utf-8"
                          class="tw-my-12 tw-w-full tw-flex tw-flex-col medium:tw-flex-row tw-gap-8 medium:tw-gap-8 tw-items-start medium:tw-items-center">
                        <div class="tw-w-full medium:tw-w-3/4">

                            {% block search_bar %}
                            {% endblock search_bar %}

                        </div>
                        <a href="{% pageurl page.library_page %}" class="tw-block tw-font-bold">

                            {% block browse_all_button_label %}
                                {% trans "Browse all" context "Button" %}
                            {% endblock browse_all_button_label %}

                        </a>
                    </form>
                </div>
                <div id="latest-articles" class="tw-pt-6 large:tw-pt-12">
                    <h2 class="tw-h3-heading large:tw-pb-4">

                        {% block latest_articles_title %}
                            {% trans "Latest Research" %}
                        {% endblock latest_articles_title %}

                    </h2>
                    <ul class="tw-list-none px-0 ">

                        {% block detail_page_cards %}
                        {% endblock detail_page_cards %}

                    </ul>
                    <a class="tw-btn-secondary tw-w-full medium:tw-w-auto large:tw-mt-8 large:tw-mb-24"
                       href="{% pageurl page.library_page %}">

                        {% block browse_all_projects_button_label %}
                            {% trans "Browse all projects" context "Button" %}
                        {% endblock browse_all_projects_button_label %}

                    </a>
                </div>
            </div>
            <div class="tw-col-span-12 medium:tw-px-8 large:tw-col-span-4">
                <div>
                    <hr class="tw-border-black tw-mt-24" />
                    <h2 class="tw-h4-heading tw-pb-8">

                        {% block featured_taxonomies_label %}
                            {% trans "Browse by topic" context "Topic list heading" %}
                        {% endblock featured_taxonomies_label %}

                    </h2>
                    <ul class="tw-list-none tw-px-0 tw-grid tw-grid-cols-12 tw-gap-0 medium:tw-gap-12 large:tw-gap-0">

                        {% block featured_taxonomies %}
                        {% endblock featured_taxonomies %}

                    </ul>
                </div>
                {% if page.aside_cta %}
                    <div>
                        {% for aside_cta in page.aside_cta %}
                            {% include_block aside_cta %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% with featured_authors=page.featured_authors.all %}
                {% if featured_authors %}
                    <div id="featured-authors"
                         class="tw-bg-gray-05 tw-col-span-12 tw-px-12 tw-py-12 tw-my-24">
                        <div class="large:tw-mx-24">
                            <h2 class="tw-py-12 large:tw-pb-24">

                                {% block browse_all_featured_authors_title %}
                                    {% trans "Featured authors" context "Section title" %}
                                {% endblock browse_all_featured_authors_title %}

                            </h2>
                            <div class="tw-flex tw-flex-col medium:tw-flex-row tw-justify-start tw-gap-12">
                                {% for featured_author in featured_authors %}

                                    {% include "fragments/libraries/featured_author_profile.html" with authors_index=page.authors_index_page author_profile=featured_author.author url_name=page.authors_detail_url_name %}

                                {% endfor %}
                            </div>
                            <a href="{% pageurl page.library_page %}"
                               class="tw-btn-secondary tw-w-full tw-my-10 medium:tw-w-auto large:tw-my-24">

                                {% block browse_all_featured_authors_button_label %}
                                    {% trans "Browse all authors" context "Featured authors button label" %}
                                {% endblock browse_all_featured_authors_button_label %}

                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <div id="landing-page-body" class="tw-col-span-12 medium:tw-px-8 ">
                {% for block in page.body %}
                    {% include_block block with parent_page=page %}
                {% endfor %}
            </div>
        </div>
        <div id="right-spacer" class="tw-flex-auto"></div>
    </div>
{% endblock subcontent %}
