{% extends "pages/libraries/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block library_content %}
    <div>

        {% block breadcrumbs %}
        {% endblock breadcrumbs %}

        <h1>{{ page.title }}</h1>
    </div>
    <div class="large:tw-w-160 large:tw-h-64 tw-mt-12 tw-mb-8 large:tw-mb-0 large:-tw-ml-12 large:tw-p-12 large:tw-bg-gray-05">
        {# SEARCH BAR #}
        {% comment %}
      The page url is necessary in the form to that the filter anchor link is not carried forward.
      Say on mobile the user used the "Filter" anchor link to get to the filter section,
      that adds the `#filter` part to the URL. Submitting the form in that stage without the
      explicit URL would carry the anchor link forward. That would mean the view is scrolled to the
      filter section again upon page reload. This seems undesireable.
        {% endcomment %}
        <form action="{% pageurl page %}"
              method="get"
              accept-charset="utf-8"
              id="search-form">

            {% block search_bar %}
            {% endblock search_bar %}

        </form>
    </div>
    <div class="tw-flex tw-flex-col large:tw-flex-row-reverse large:tw-gap-16">
        {# FILTER, SORT AND RESULTS #}
        {# For side-by-side layout, we need to pull the results up to that the upper end lines up with the search bar. #}
        <div class="tw-min-w-0 tw-grow large:-tw-mt-64 tw-pb-24">
            {# SORT AND RESULTS #}
            <div class="tw-flex tw-flex-col large:tw-flex-row-reverse large:tw-justify-between tw-gap-12">
                <div class="tw-flex tw-flex-row tw-gap-6">
                    {# FILTER BUTTON #}
                    <div class="large:tw-hidden tw-basis-1/2">

                        {% include "fragments/libraries/filter_button.html" with button=False %}
                        {% include "fragments/libraries/filter_button.html" with button=True %}

                    </div>
                    <div class="tw-flex tw-flex-row tw-items-baseline tw-basis-1/2 large:tw-basis-full">
                        {# SORT SELECT #}
                        <select id="sort-select"
                                name="sort"
                                class="tw-form-control tw-border-gray-40"
                                form="search-form">
                            {% for choice in page.SORT_CHOICES.values %}
                                <option value="{{ choice.value }}" {% if choice == sort %}selected{% endif %}>{{ choice.label }}</option>
                            {% endfor %}
                        </select>
                        <noscript>
                            {# The sort button is only needed for the no JS case. With JS, the form can be submitted on change of the select #}
                            <button type="submit" class="tw-btn-primary tw-text-base" form="search-form">
                                {% translate "Sort" context "Button" %}
                            </button>
                        </noscript>
                    </div>
                </div>
                <div class="tw-h4-heading tw-mb-0">
                    {# RESULTS COUNT #}
                    {% if search_query %}
                        {% blocktranslate count counter=detail_pages_count trimmed %}
                            <strong>{{ detail_pages_count }}</strong> result for <q>{{ search_query }}</q>
                        {% plural %}
                            <strong>{{ detail_pages_count }}</strong> results for <q>{{ search_query }}</q>
                        {% endblocktranslate %}
                    {% else %}
                        {% blocktranslate count counter=detail_pages_count trimmed %}
                            <strong>{{ detail_pages_count }}</strong> result
                        {% plural %}
                            <strong>{{ detail_pages_count }}</strong> results
                        {% endblocktranslate %}
                    {% endif %}
                </div>
            </div>
            <ul class="tw-list-none tw-mt-16 large:tw-mt-12 tw-mb-12 tw-px-0 tw-border-t tw-border-b tw-border-gray-20 tw-divide-y tw-divide-gray-05">
                {# RESULTS LIST #}

                {% block detail_pages %}
                {% endblock detail_pages %}

            </ul>
            <div>
                {# PAGINATION #}

                {% include "fragments/pagination.html" with page=detail_pages %}

            </div>
        </div>
        <div id="filter"
             class=" tw-bg-gray-05 large:tw-block large:tw-mr-0 large:-tw-ml-12 large:tw-overflow-y-clip tw-pt-8 large:tw-pt-0 tw-px-8 small:tw-px-12 medium:tw-px-16 large:tw-px-12 tw-shrink-0 large:tw-w-160 ">
            {# FILTER SECTION #}
            <div class="tw-flex tw-justify-end">
                <button id="filter-section-hide-button"
                        class="tw-hidden large:tw-hidden tw-h-24 tw-w-24 -tw-mt-4 -tw-mr-4 -tw-mb-8 tw-text-3xl tw-font-normal tw-text-blue-80 hover:tw-text-blue-20 tw-bg-transparent"
                        aria-label="{% translate "Close" %}"
                        tabIndex="0">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <h2 class="large:tw-hidden tw-h1-heading">{% translate "Filter" %}</h2>
            <form action="{% pageurl page %}"
                  method="get"
                  accept-charset="utf-8"
                  id="filter-form">

                {% include "fragments/libraries/filter_form.html" with form=form %}

                <div class=" tw-bg-gray-05 tw-bottom-0 -tw-mx-8 small:-tw-mx-12 medium:-tw-mx-16 large:-tw-mx-12 tw-pb-16 large:tw-pb-12 tw-px-8 small:tw-px-12 medium:tw-px-16 large:tw-px-12 tw-sticky ">
                    <div class="tw-pt-12 large:tw-pt-8 tw-border-t tw-border-t-gray-20">
                        <button type="submit" class="tw-w-full tw-btn-primary" form="filter-form">
                            {% translate "Apply filters" context "Button" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock library_content %}

{% block extra_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "_js/libraries-library-page.compiled.js" %}" async defer></script>
{% endblock extra_scripts %}
