{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <div class="tw-bg-black tw-dark tw-py-16">
        <div class="tw-container">
            <div class="tw-row tw-body">
                <div>
                    {% if self.heading %}
                        <h2>{{ self.heading }}</h2>
                    {% endif %}
                    {{ self.text|richtext }}
                    {% if self.link_url and self.link_label %}
                        <a href="{{ self.link_url }}">{{ self.link_label }}</a>
                    {% endif %}
                </div>
                <div>
                    <ul>
                        {% for slide in self.carousel_images %}
                            <li><img with="auto" height="auto" src="{{ slide.image.file.url }}" alt="{{ slide.altText }}"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock block_content %}
