{% load wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <div class="tw-py-16 tw-bg-black tw-dark">
        <div class="tw-container">
            <div class="tw-row tw-justify-center">
                <div class="feature-quote">
                    <div class="quote-content [&_p]:tw-text-white">
                        {{ self.quote|richtext }}
                    </div>
                    {% if self.attribution %}
                        <p class="tw-text-gray-40 tw-h6-heading tw-text-lg tw-max-w-4xl">{{ self.attribution }}</p>
                    {% endif %}
                    {% if self.attribution_info %}
                        <div class="feature-quote-attribution-info tw-max-w-4xl tw-italic">
                            {{ self.attribution_info | richtext }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock block_content %}
