
{% load i18n l10n static wagtailcore_tags wagtailimages_tags %}

{% block block_content %}
    <div class="tw-mx-8 large:tw-mx-0 tw-my-16 large:tw-my-20">
        <div class="tw-container">
            {% with snippet_localized=self.snippet.localized %}
                <div class="tw-row tw-bg-black tw-dark">
                    <div class="tw-relative tw-body tw-p-10 large:tw-py-14 large:tw-px-20 tw-w-full large:tw-w-7/12 after:tw-content-[''] after:tw-bg-gradient-to-r after:tw-from-black after:tw-to-transparent after:tw-h-full after:tw-w-[100px] after:tw-top-0 after:tw-absolute after:tw-right-[-100px] after:tw-to-90% after:tw-hidden large:after:tw-block">
                        <div
                            class="newsletter-signup-module"
                            data-module-type="default"
                            data-form-style="mozfest-callout-box"
                            data-form-position="callout-box"
                            data-button-text="{% trans "Sign up" context "Submit button for newsletter signup form" %}"
                            data-signup-id="{{ snippet_localized.id }}"
                            data-cta-header="{{ snippet_localized.header | escape }}"
                            data-cta-description="{{ snippet_localized.description | escape }}"
                            data-cta-privacy-notice="{{ snippet_localized.privacy_notice | escape }}""
                            data-ask-name="{{ snippet_localized.ask_name }}"
                            data-button-cta-event="newsletter-signup">
                        </div>
                    </div>
                    {% image snippet_localized.background_image fill-475x475 as background_image %}
                    {% image snippet_localized.background_image fill-950x950 as background_image_2x %}
                    <div
                        class="
                               tw-hidden large:tw-block
                               after:tw-h-full
                               after:tw-block
                               after:tw-w-full
                               after:tw-bg-gradient-to-tl
                               after:tw-from-black
                               after:tw-via-10%
                               after:tw-via-transparent
                               after:tw-to-black
                               after:tw-content-['']
                               large:tw-w-5/12
                               tw-bg-cover
                               tw-bg-center
                               tw-bg-no-repeat
                               large:[background-image:_var(--background-image)]
                               large:2xdpi:[background-image:_var(--background-image-2x)]
                              "
                        style="--background-image: url({{ background_image.url }}); --background-image-2x: url({{ background_image_2x.url }})"></div>
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock block_content %}
