{% extends "pages/base.html" %}


{% block body_id %}youtube-regrets-reporter-extension{% endblock %}

{% block extended_head %}
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap" rel="stylesheet"> 
<script src="https://c.shpg.org/352/sp.js"></script>
{% endblock %}

{% block content_wrapped %}
<div id='regrets-reporter-extension-page'>
  <!-- Hero Section with Buttons/Video -->
  {% include "./extension_hero.html" %}
  <!-- 3 col section with text -->
  {% include "./extension_text_columns.html" %}
</div>

{% endblock %}
