{% load static i18n %}
<section class="tw-dark">
  <div class="container">
    <img src="{% static '_images/youtube-regrets/white-regrets-icon.png' %}">
    <h2>{% trans 'But it’s hard to know what really works.' %}</h2>
    <p>{% trans "Let's call on YouTube to empower users with real, meaningful controls" %}</p>
    <a class="btn btn-with-icon btn-white" href="https://foundation.mozilla.org/campaigns/youtube-user-controls">
      <svg aria-hidden="true" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m11 17.5 7-7 3 3-7 7-3-3Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 11.5 15.5 4 1 .5 4.5 15l7.5 1.5 5-5ZM1 .5l7.586 7.586" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 11.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
      <span>Sign the petition</span>
    </a>
  </div>
</section>
