{% load static i18n %}
<section class="timeline">
  <div class="timeline__scenes container" id="timeline" data-scroll-section>

    {% comment %} {# TODO: Get this floating date working #}
      <div class="timeline__person-date" data-scroll data-scroll-sticky data-scroll-target="#timeline">
        <h2>Dec 8, 2021</h2>
        {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-thinking.svg' %}
      </div>
    {% endcomment %}

    {# Scene 1 #}
    <div class="timeline__scene timeline__scene--first" data-scene="1">
      <div class="tw-grid medium:tw-grid-cols-3 tw-grid-cols-1">
        <div class="tw-col-start-1">
          <div class="tw-relative" data-scroll data-scroll-speed="-2">
            <img class="timeline__scene-image" src="{% static "_images/youtube-regrets/regrets-reporter/2022-timeline/scene1.jpg" %}" alt="">
            <p class="tw-text-sm tw-font-bold tw-mt-2">{% trans 'A Grandma Ate Cookie Dough For Lunch Every Week. This Is What Happened To Her Bones.' %}</p>
          </div>
        </div>
        <div class="medium:tw-col-start-3" data-scroll data-scroll-speed="-3">
          <p class="timeline__scene-text">{% trans 'A user sees a video they would rather not see again' %}</p>
        </div>
      </div>
      <div class="timeline__person-date">
        <h2>{% trans 'Dec 8, 2021' %}</h2>
        {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-thinking.svg' %}
      </div>
    </div>

    {# Scene 2 #}
    <div class="timeline__scene" data-scene="2">
      <div class="tw-grid medium:tw-grid-cols-3 tw-grid-cols-1">
        <div class="tw-col-start-1">
          <div class="tw-relative" data-scroll data-scroll-speed="-2">
            <img class="timeline__scene-image" src="{% static "_images/youtube-regrets/regrets-reporter/2022-timeline/scene1.jpg" %}" alt="">
            <p class="tw-text-sm tw-font-bold tw-mt-2 tw-mb-0">{% trans 'A Grandma Ate Cookie Dough For Lunch Every Week. This Is What Happened To Her Bones.' %}</p>
            <svg class="timeline__cross" width="255" height="255" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M255 16.587 238.413 0 127.517 110.896 16.587 0 0 16.587l110.896 110.93L0 238.413 16.587 255l110.93-110.896L238.413 255 255 238.413 144.104 127.517 255 16.587Z" fill="#FF2600"/>
            </svg>
          </div>
        </div>
        <div class="medium:tw-col-start-3" data-scroll data-scroll-speed="-3">
          <p class="timeline__scene-text">{% trans 'The user decides to use YouTube’s feedback mechanism, ‘Remove from history’' %}</p>
        </div>
      </div>

      <div class="timeline__person-date">
        <h2>{% trans 'Dec 8, 2021' %}</h2>
        {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-pointing.svg' %}
      </div>
    </div>

    {# Scene 3 #}
    <div class="timeline__scene" data-scene="3">
      {% include './video-thumb.html' with class="tw-left-0" size="small" image='scene3/1.jpg' speed="-1" text='A Dad Ate 25 Packs Silica Gel For Breakfast. This Is What Happened To His Stomach.' %}

      <div class="medium:tw-col-start-3 tw-absolute tw-left-[75%] tw-top-[10%]" data-scroll data-scroll-speed="1">
        <p class="timeline__scene-text">{% trans 'But similar videos keep showing up... ' %}</p>
      </div>

      {% include './video-thumb.html' with class="tw-left-[50%] medium:tw-left-[75%] tw-top-[90%] " image='scene3/2.jpg' speed="3" text='A Student Ate 108 Gummy Antacids For Breakfast. This Is What Happened To Her Kidneys.' %}

      <div class="timeline__person-date">
        <h2>{% trans 'A week later' %}</h2>
        {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-thinking.svg' %}
      </div>
    </div>

    {# Scene 4 #}
    <div class="timeline__scene tw-grid tw-grid-cols-2" data-scene="4">
      <div class="timeline__scene-left tw-grid tw-grid-rows-2">
        <div>
          {% include './video-thumb.html' with class="tw-left-0" size="small" image='scene4/2.jpg' speed="3" text='A Dad Mistakenly Drank A Lava Lamp At Bedtime. This Is What Happened To His Kidneys.' %}
          {% include './video-thumb.html' with class="tw-left-[25%]" size="small" image='scene4/3.jpg' speed="2" text='A Student Felt A Sharp Pain In Her Side. This Is How Her Organs Shut Down.' %}
        </div>
        <div>
          {% include './video-thumb.html' with class="" image='scene4/1.jpg' speed="2" text='A Mom Drank 3 Gallons Water In 2 Hours. This is What Happened to Her Brain.' %}
          {% include './video-thumb.html' with class="tw-left-[10%]" image='scene4/4.jpg' speed="3" text='A Gamer Drank 12 Energy Drinks In 10 Minutes. This Is What Happened To His Organs.' %}
        </div>
      </div>

      <div class="timeline__scene-right tw-grid tw-grid-rows-2">
        <div>
          {% include './video-thumb.html' with class="tw-left-[30%] medium:tw-left-[20%] tw-top-[10%]" size="small" small=True image='scene4/5.jpg' speed="4" text='A Woman Drank "35% Food Grade Hydrogen Peroxide." This Is What Happened To Her Brain.' %}
          {% include './video-thumb.html' with class="tw-left-[50%] medium:tw-left-[50%]" image='scene4/6.jpg' speed="5" text='A Student Drank 2 Bottles Over The Counter Cough Medicine. This Is What Happened To Her Brain.' %}
        </div>
        <div>
          {% include './video-thumb.html' with class="tw-left-[30%] medium:tw-left-[30%] tw-top-[25%]" image='scene4/7.jpg' speed="6" text="A Toddler Drank His Mom's Essential Oils. This Is What Happened To His Brain." %}
        </div>
      </div>

      <div class="tw-absolute tw-left-[75%] tw-top-[0]" data-scroll data-scroll-speed="4">
        <p class="timeline__scene-text">{% trans '...and showing up' %}</p>
      </div>

      <div class="timeline__person-date">
        <h2>{% trans 'A month later' %}</h2>
        {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-thinking.svg' %}
      </div>
    </div>

    {# Scene 5 #}
    <div class="timeline__scene tw-grid tw-grid-cols-2" data-scene="5">

      <div class="timeline__scene-left">
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/17.jpg' speed="2" text='A Student Ate Suspicious Leftovers For Lunch. This Is What Happened To His Limbs.' %}
        {% include './video-thumb.html' with class="tw-left-[10%]" image='scene5/9.jpg' speed="1" text='A Boy Ate 25 Laxative Brownies In 1 Hour. This Is What Happened To His Kidneys.' %}
        {% include './video-thumb.html' with class="tw-left-0 " image='scene5/2.jpg' speed="5" text='A TikToker Drank 2 Bottles Benadryl. This Is What Happened To Her Organs.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/19.jpg' speed="3" text='A Bitcoin Miner Heatstroked In His Sleep. This Is What Happened To His Organs.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/5.jpg' speed="1" text='A TikToker Drank 1 Liter Cough Syrup. This Is What Happened To His Brain.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/6.jpg' speed="1" text='A Man Drank 6 Glowsticks For Dinner. This Is What Happened To His Stomach.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/4.jpg' speed="4" text='A Man Swallowed A Fishbone. This Is What Happened To His Liver.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/16.jpg' speed="3" text='A Student Ate 5 Day Old Pasta For Lunch. This Is How His Liver Shut Down.' %}
      </div>

      <div class="timeline__scene-right">
        {% include './video-thumb.html' with class="tw-left-[80%]" image='scene5/11.jpg' speed="4" text='A TikToker Chugged 8 Scoops PreWorkout Supplement. This Is What Happened To His Brain.' %}
        {% include './video-thumb.html' with class="tw-left-[60%] tw-top-[10%]" image='scene5/8.jpg' speed="1" text='A Dad Drank A Snowglobe. This Is What Happened To His Kidneys.' %}
        {% include './video-thumb.html' with class="tw-left-[60%]" image='scene5/7.jpg' speed="2" text='A Grandma Ate Cookie Dough For Lunch Every Week. This Is What Happened To Her Bones.' %}
        {% include './video-thumb.html' with class="tw-left-[60%]" image='scene5/18.jpg' speed="5" text='A Man Ate 2 Pounds Licorice Candy. This Is What Happened To His Organs.' %}
        {% include './video-thumb.html' with class="tw-left-[60%]" image='scene5/3.jpg' speed="5" text='A Grandma Ate 1 Pound Chocolate In 6 Hours. This Is What Happened To Her Brain.' %}
        {% include './video-thumb.html' with class="tw-left-[60%]" image='scene5/20.jpg' speed="1" text='A Man Ate 100 Zinc Vitamin C Gummies Everyday. This Is What Happened To His Spinal Cord.' %}
      </div>

      <div class="medium:tw-col-start-3 tw-absolute tw-left-[75%] tw-top-[30%]" data-scroll data-scroll-speed="1">
        <p class="timeline__scene-text">{% trans '...and showing up' %}</p>
      </div>

      <div class="timeline__person-date tw-bottom-[600px]">
        <h2>{% trans 'Two months later' %}</h2>
        {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-thinking.svg' %}
      </div>
    </div>
    {% comment %}

      {# Scene 6 #}
      <div class="timeline__scene" data-scene="6">
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/10.jpg' speed="5" text='A Boy Ate 150 Gummy Vitamins For Breakfast. This Is What Happened To His Bones.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene5/1.jpg' speed="2" text='A Toddler Chewed Lead Paint Off His Toys. This Is What Happened To His Brain.' %}
        {% include './video-thumb.html' with class="tw-left-0" image='scene6/4.jpg' speed="1" text='A Girl Suddenly Grew A Beard. This is What Happened To Her Ovaries.' %}

        {% include './video-thumb.html' with class="tw-left-0" image='scene6/2.jpg' speed="1" text='' %}
        {% include './video-thumb.html' with class="tw-left-[20%] tw-top-[20%]" image='scene6/3.jpg' speed="2" text='' %}
        {% include './video-thumb.html' with class="tw-left-0 tw-top-[40%]" image='scene6/1.jpg' speed="1" text='' %}
        {% include './video-thumb.html' with class="tw-left-[10%] tw-top-[40%]" image='scene6/4.jpg' speed="2" text='' %}
        {% include './video-thumb.html' with class="tw-left-[50%] medium:tw-left-[75%] tw-top-[40%]" image='scene6/5.jpg' speed="4" text='' %}
        {% include './video-thumb.html' with class="tw-left-[50%] medium:tw-left-[55%] tw-top-[50%]" image='scene6/6.jpg' speed="5" text='' %}
        {% include './video-thumb.html' with class="tw-left-[50%] medium:tw-left-[55%] tw-top-[50%]" image='scene6/7.jpg' speed="6" text="" %}

        <div class="timeline__person-date">
          <h2>{% trans 'Three months later' %}</h2>
          {% include 'wagtailpages/pages/youtube-regrets-2022/svg/person-thinking.svg' %}
        </div>
      </div>
    {% endcomment %}
  </div>

</section>
