{% extends "../bg_base.html" %}

{% load env cloudinary i18n static wagtailroutablepage_tags %}

{% block bodyclass %}pni catalog{% endblock %}

{% block main_content_class %}{% endblock %}

{% block hero %}
<header class="container-fluid text-center page-header bg-gray" role="banner">
  <!-- home banner as css background -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 intro-text order-2 order-lg-1">
        <h1 class="h1-heading text-center mt-0">{% trans "Be Smart. Shop Safe." %}</h1>
        <p class="body-large mb-0">
          {% blocktrans trimmed %}
          How creepy is that smart speaker, that fitness tracker, those wireless headphones?
          We created this guide to help you shop for safe, secure connected products.
          {% endblocktrans %}
        </p>
      </div>
      <div class="col-12 col-lg-2 badge-container text-right order-1 order-lg-2">
        <img class="webby-award-badge" src="{% static '_images/buyers-guide/webby-award-badge.svg' %}" alt="{% trans "2020 Webby Award Winner Badge" %}">
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block guts %}
<div class="project-list-section">
  <div class="container">
    <div class="row px-3 px-sm-0">
      <div class="col-12">
        <div id="sticky-bar" class="creepiness-slider bg-white text-center">

          <!-- temporary location for dev work -->
          <span id="product-filter-search" tabindex="0">
            <span class="search-icon">&nbsp;</span>
            <input type="text" role="searchbox" id="product-filter-search-input" placeholder="{% trans "Search product name…" %}" class="body-large" value="">
            <label for="product-filter-search-input" class="clear-icon">&nbsp;</label>
          </span>

          <span class="creep-o-meter-information">
            <p class="speech-bubble-container">
              <span class="speech-bubble">
                <img class="hook" src="{% static "_images/buyers-guide/icon-bubble-hook.svg" %}">
                <span class="text">{% trans "Scroll to see how creepy<br>people find these products!" %}</span>
              </span>
            </p>
            <span class="current-creepiness"></span>
          </span>

          <span id="product-filter-pni">
            <input type="checkbox" id="product-filter-pni-toggle">
            <label for="product-filter-pni-toggle" class="pni-checkbox-facade"></label>
            <span class="pni-icon">&nbsp;</span>
            <label for="product-filter-pni-toggle">{% trans "*privacy not included" %} </label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="product-box-list-wrapper">
    <div class="product-box-list d-flex justify-content-center align-items-stretch flex-wrap">

      {% for product in products %}
        {% if product.is_current %}

        <figure class="product-box d-flex flex-column justify-content-between{% if product.draft %} draft-product{% endif %}{% if product.adult_content %} adult-content{% endif %}{% if product.privacy_ding %} privacy-ding{% endif%}" data-creepiness="{{ product.votes.creepiness.average }}">
          <div class="top-left-badge-container">
              {% if product.privacy_ding %}
              <img
                src="{% static "_images/buyers-guide/icon-privacy-ding-mini.svg" %}"
                title="{% trans "*privacy not included with this product" %}"
                alt="{% trans "*privacy not included with this product" %}"
                width="24"
              >
              {% endif %}
          </div>

          {% include "../fragments/adult_content_badge.html" with product=product %}

          <a class="product-image text-center mt-4 h-100 d-flex flex-column justify-content-between" href="{% routablepageurl page 'product-view' product.slug %}">
              <img
                class="product-thumbnail"
                {% if USE_CLOUDINARY %}
                  src="{% cloudinary_url product.cloudinary_image quality=50 fetch_format="auto" crop="fit" width=600 %}"
                {% else %}
                  src="{{mediaUrl}}{{"AWS_LOCATION"|env}}/{{product.image }}"
                {% endif %}
                alt="{% blocktrans with product=product.name %}link to {{product}}{% endblocktrans %}"
              >
          </a>

          <figcaption class="d-block mt-md-2 text-left">
            <a class="product-links" href="{% routablepageurl page 'product-view' product.slug %}">
              <div class="product-company body-small">{{product.company}}</div>
              <div class="product-name body">{{product.name}}</div>
            </a>
            <input type="hidden" class="product-blurb" value="{{ product.blurb }}">
            <input type="hidden" class="product-worst-case" value="{{ product.worst_case }}">
          </figcaption>
        </figure>
        {% endif %}
      {% endfor %}
    </div>

    <div id="product-filter-no-results-notice" class="d-none text-center my-5 py-5">
      {% block no_products_found %}
        {% include "../fragments/no_search_results.html" %}
      {% endblock %}
    </div>
  </div>
</div>
<div class="recommend-product">
 <div class="container text-center my-5">
  <h2 class="h3-heading">{% trans "Don’t see the product you’re looking for?" %}</h2>
  <p class="body">{% trans "Let us know what product you would like reviewed in the guide." %}</p>
  {% include "../fragments/submit_a_product.html" %}
 </div>
</div>
{% endblock %}
