// Resets / sensible defaults for CMS-managed content

.cms {
  h1,
  h2,
  h3 {
    position: relative;

    a.fragment-id {
      position: absolute;
      top: -85px;
    }
  }

  img {
    height: auto;
  }

  &-image {
    img {
      @media (min-width: $bp-md) {
        width: 100%;
      }
    }
  }

  .div-top {
    border-top: 1px solid $black;

    &-thick {
      border-top: 4px solid $black;
    }
  }

  .div-bottom {
    border-bottom: 1px solid $black;

    &-thick {
      border-bottom: 4px solid $black;
    }
  }

  .image-text-img {
    img {
      width: 50%;

      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
  }
}
