// mofo-bootstrap
@import "./mofo-bootstrap/mofo-bootstrap.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom variables
@import "./variables";
@import "./buyers-guide/colors";

// Site-wide
@import "./resets";
@import "./mixins";

// React Components

@import "../js/components/loading-indicator/loading-indicator";
@import "../js/components/multipage-nav-mobile/multipage-nav-mobile";
@import "../js/components/pulse-project-list/pulse-project-list";
@import "../js/components/fellow-list/directory-filter-bar";

// Non-React Components

@import "./components/nav";
@import "./components/primary-nav";
@import "./components/multipage-nav";
@import "./components/card";
@import "./components/blog-hero-video";
@import "./components/share-button-group";
@import "./components/foundation-slider";
@import "./components/sticky-cta";

// Wagtail Stream Blocks

@import "./wagtail/blocks/airtable";
@import "./wagtail/blocks/about-block";
@import "./wagtail/blocks/audio-block";
@import "./wagtail/blocks/dear-internet-letter";
@import "./wagtail/blocks/feature-quote";
@import "./wagtail/blocks/image-text-mini";
@import "./wagtail/blocks/iframe-block";
@import "./wagtail/blocks/link-button.scss";
@import "./wagtail/blocks/looping-video.scss";
@import "./wagtail/blocks/rich-text";
@import "./wagtail/blocks/profiles";
@import "./wagtail/blocks/video-block";
@import "./wagtail/blocks/article-blocks";
@import "./wagtail/blocks/image-feature";
@import "./wagtail/blocks";

// Misc

@import "./global";
@import "./cms";
@import "./wagtail";
@import "./libraries";

// View specific

@import "./views/home";
@import "./views/participate";
@import "./views/blog";
@import "./views/youtube-regrets-intro";
@import "./views/youtube-regrets";
@import "./views/youtube-regrets-reporter";
@import "./views/youtube-regrets-shared";
@import "./views/youtube-regrets-2021";
@import "./views/youtube-regrets-2022";
@import "./views/dear-internet";
@import "./views/publication";
@import "./views/article";

// Cookie Banner
@import "./onetrust-override.scss";

// MozFest

@import "./mozfest";

// Print Style
@import "./print";

// for smooth-scrolling with sticky nav
html {
  @apply tw-scroll-p-48;
}
