{% load localization wagtailimages_tags %}

<div class="tw-flex tw-flex-col tw-gap-3 medium:tw-gap-5 tw-w-full">
  <a href="{% relocalized_url page.localized.url %}" class="tw-block tw-w-full">
    {% comment %}
      Using 16 / 9 aspect ratio for the image at double the display size.
      Only specifiying the image width with CSS to upscale small images (like the example image during development).
    {% endcomment %}
    {% image page.localized.get_meta_image fill-768x432 class="tw-object-cover tw-w-[384px] tw-aspect-video" %}
  </a>

  {% include "./article_card_body.html" with page=page %}
</div>
