{% load localization wagtailimages_tags %}

<div class="tw-flex tw-flex-row tw-gap-3 medium:tw-gap-5 tw-w-full">
    <a href="{% relocalized_url page.localized.url %}" class="tw-block tw-shrink-0 tw-max-w-[256px]">
        {% image page.localized.get_meta_image fill-512x288 class="tw-hidden medium:tw-block tw-w-[256px] tw-aspect-video tw-object-cover" %}
        {% image page.localized.get_meta_image fill-160x160 class="tw-block medium:tw-hidden tw-w-[80px] tw-aspect-square tw-rounded-2xl tw-object-cover" %}
    </a>

    {% include "./article_card_body.html" with page=page %}
</div>
