{% load wagtailcore_tags wagtailimages_tags %}

<div class="tw-flex tw-flex-row tw-gap-6 medium:tw-gap-12 tw-w-full">
    <a href="{% pageurl page %}"
       class="tw-block tw-shrink-0 tw-max-w-[256px]">
        {% image page.get_meta_image fill-512x288 class="tw-hidden medium:tw-block tw-w-128 tw-aspect-video tw-object-cover" %}
        {% image page.get_meta_image fill-160x160 class="tw-block medium:tw-hidden tw-w-40 tw-aspect-square tw-rounded-2xl tw-object-cover" %}
    </a>

    {% include "./article_card_body.html" with page=page %}

</div>
