{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% with heading_level=heading_level|default:2 heading_classes=heading_classes|default:"tw-h3-heading tw-mt-4" %}
    <div>
        {% if short_waves %}
            <div class="tw-max-w-[11rem]">

                {% include "./wavy_line.html" %}

            </div>
        {% else %}

            {% include "./wavy_line.html" %}

        {% endif %}
        <h {{ heading_level }} class="{{ heading_classes }}">{{ heading }}</h {{ heading_level }}>
        {% if articles %}
            <ul class="tw-list-none {% if show_images %} tw-space-y-8 {% else %} tw-space-y-12 {% endif %} tw-p-0">
                {% for article in articles %}
                    <li class="tw-m-0">
                        <a href="{% pageurl article %}"
                           class="tw-text-black tw-flex hover:tw-text-blue-40 tw-items-center tw-no-underline">
                            {% if show_images %}
                                {% image article.get_meta_image fill-156x156 as img %}
                                <img src="{{ img.url }}"
                                     alt="{{ img.alt }}"
                                     class="tw-w-[78px] tw-h-[78px] tw-rounded-2xl tw-mr-8" />
                            {% endif %}
                            <span class="tw-font-sans tw-font-bold tw-text-lg tw-leading-5">{{ article.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if index_page %}
            {% pageurl index_page as link_href %}
            {% trans "All articles" as link_text %}

            {% include "./arrow_link.html" with link_href=link_href link_text=link_text %}

        {% endif %}
    </div>
{% endwith %}
