{% load wagtailcore_tags wagtailimages_tags %}

<div class="tw-flex tw-flex-col tw-gap-6 medium:tw-gap-12 tw-w-full">
    <a href="{% pageurl page %}" class="tw-block tw-w-full">
        {% comment %}
      Using 16 / 9 aspect ratio for the image at double the display size.
      Only specifiying the image width with CSS to upscale small images (like the example image during development).
        {% endcomment %}
        {% image page.get_meta_image fill-768x432 class="tw-object-cover tw-w-192 tw-aspect-video" %}
    </a>

    {% include "./article_card_body.html" with page=page %}

</div>
