{% load static wagtailcore_tags wagtailimages_tags i18n %}

<div class="tw-w-full tw-relative tw-min-h-[600px]">
    <!-- Ask Jen Header -->
    <div class="tw-relative tw-mx-auto -tw-mb-24 large:tw-m-0 medium:tw-absolute tw-z-10 tw-top-0 tw-left-0 tw-bg-[url('../_images/buyers-guide/jen-header-border.png')] tw-mix-blend-multiply tw-bg-no-repeat tw-bg-center tw-w-[400px] tw-h-[310px] large:-tw-translate-y-[70px] xlarge:tw-translate-y-0">
        <div class="tw-absolute tw-top-1/2 tw-left-1/2 -tw-translate-x-1/2 -tw-translate-y-1/2">
            <div class="tw-flex tw-items-center">
                <div class="tw-mr-4">
                    <h2 class="tw-mb-0 tw-font-zilla tw-text-[40px] tw-leading-[48px] tw-w-max">{% trans "Ask Jen" %}</h2>
                    <div class="tw-max-w-[6rem]">

                        {% include "./wavy_line.html" %}

                    </div>
                </div>
                <img src="{% static "_images/buyers-guide/ask_jen.png" %}" class="tw-ml-2" />
            </div>
            <p class="tw-text-base">
                {% blocktrans trimmed %}
                    Have a question you want to ask? <a target="_blank"
    href="https://mozillafoundation.typeform.com/ask-jen"
    class="tw-underline tw-text-blue-80">Submit it here!</a>
                {% endblocktrans %}
            </p>
        </div>
        <img class="tw-absolute tw-w-[70px] tw-rotate-12 tw-top-[65px] tw-left-6" src="{% static "_images/buyers-guide/asterick-mini.svg" %}">
    </div>
    <!-- Q/A Section -->
    <div class="tw-relative tw-w-screen large:tw-absolute large:tw-bottom-0 large:tw-right-0 tw-bg-[url('../_images/buyers-guide/jen-bg-shape-mobile.png')] medium:tw-bg-[url('../_images/buyers-guide/jen-bg-shape-tablet.png')] large:tw-bg-[url('../_images/buyers-guide/jen-bg-shape.png')] large:tw-w-[905px] tw-h-[1200px] medium:tw-h-[730px] tw-bg-[length:700px] medium:tw-bg-[length:750px] large:tw-bg-auto large:tw-h-[498px] tw-bg-no-repeat tw-bg-top medium:tw-bg-right-top large:tw-bg-center">
        <div class="tw-px-16 tw-pt-[150px] medium:tw-pt-[50px] large:tw-pt-0 tw-absolute tw-top-0 medium:tw-top-auto  large:tw-top-1/2 tw-left-1/2 medium:tw-left-auto large:tw-left-1/2 medium:tw-right-8 large:tw-right-auto -tw-translate-x-1/2 medium:tw-translate-x-0 large:-tw-translate-x-1/2 -tw-translate-y-0 large:-tw-translate-y-1/2 tw-flex tw-flex-col large:tw-grid tw-grid-cols-[auto,1fr] tw-grid-rows-[auto,auto,auto] tw-gap-8 tw-w-full medium:tw-w-1/2 large:tw-w-[600px]">
            <div class="tw-col-start-1 tw-text-blue-40 tw-font-bold tw-text-5xl tw-leading-[36px] tw-self-start tw-font-zilla">
                {% trans "Q:" context "Short for ‘question’, please keep this translation short" %}
            </div>
            <div class="tw-col-start-2 tw-row-start-1 tw-line-clamp-5 large:tw-line-clamp-3 tw-font-zilla tw-text-2xl large:tw-text-3xl">
                {{ featured_advice_article.title }}
            </div>
            <div class="tw-col-start-1 tw-text-blue-40 tw-font-bold tw-text-5xl tw-leading-[36px] tw-self-start tw-font-zilla">
                {% trans "A:" context "Short for ‘answer’, please keep this translation short" %}
            </div>
            <div class="tw-col-start-2 tw-line-clamp-5 large:tw-line-clamp-3 tw-text-2xl large:tw-text-xl">
                {{ featured_advice_article.get_meta_description }}
            </div>
            <div class="tw-col-start-2">
                {% pageurl featured_advice_article as link_href %}
                {% trans "Read full answer" as link_text %}

                {% include "./arrow_link.html" with link_href=link_href link_text=link_text extra_classes="tw-text-xl" %}

            </div>
        </div>
        <img src="{% static "_images/buyers-guide/emoji-eyes.png" %}" class="tw-absolute tw-bottom-0 tw-right-12 tw-hidden large:tw-block" />
    </div>
</div>
