{% load static %}

<a href="{{ update.source }}"
   class="tw-group tw-block hover:tw-no-underline">
    <p class="tw-h4-heading d-inline-block tw-mb-2 medium:tw-my-0 group-hover:tw-underline">{{ update.title }}</p>
    <span class="tw-text-blue-40 tw-text-xs tw-font-bold tw-uppercase tw-pt-0 medium:tw-pt-2 tw-pb-4 medium:tw-pb-2 tw-leading-5 tw-flex tw-no-underline">
        {{ update.author }}
        <img src="{% static "_images/buyers-guide/product-update-card-external-link.svg" %}"
             class="tw-ml-4"/>
    </span>
    <p class="tw-text-xs medium:tw-text-lg tw-body tw-line-clamp-3 tw-leading-3 medium:tw-leading-6">
        {{ update.snippet }}
    </p>
</a>
