{% load static wagtailcore_tags wagtailimages_tags i18n %}

<div data-gtm="featured-pages" class="tw-row">
    <div class=" tw-px-8 tw-w-full tw-grid tw-grid-cols-12 tw-grid-rows-[(auto,auto,auto)] medium:tw-grid-rows-[(auto,auto)] {# Only adding the x gap above medium screens because otherwise the gaps would define a min width for the grid. #} medium:tw-gap-x-16 tw-gap-y-16 ">
        {% with search_image=featured_page.search_image %}
            {% image search_image width-650 as img1x %}
            {% image search_image width-1350 as img2x %}
            {% image search_image width-1950 as img3x %}
            {% pageurl featured_page as featured_page_url %}
            <a href="{{ featured_page_url }}"
               class=" tw-col-span-full large:tw-col-span-7 large:tw-row-span-2 [&_~_a>h2]:hover:tw-underline ">
                <span class="tw-sr-only">{{ featured_page.title }}</span>
                <img src="{{ img1x.url }}"
                     srcset="{{ img2x.url }} 2x,
                             {{ img3x.url }} 3x"
                     alt="{{ img1x.alt }}"
                     class="tw-w-full tw-aspect-video tw-rounded-xl tw-object-cover" />
            </a>
            <a href="{{ featured_page_url }}"
               class=" tw-col-span-full medium:tw-col-span-6 large:tw-col-span-5 tw-no-underline tw-group ">
                <h2 class="tw-h3-heading group-hover:tw-underline">{{ featured_page.title }}</h2>
                <div class="tw-text-black tw-font-sans tw-font-extrabold tw-text-sm">
                    {% with profile_list=featured_page.get_author_profiles %}
                        {% if profile_list %}
                            {% spaceless %}
                                <span>{% trans "By" context "Article author attribution" %}</span>

                                {% include "fragments/profile_names_list.html" with profiles=profile_list %}

                            {% endspaceless %}
                        {% endif %}
                    {% endwith %}
                </div>
            </a>
        {% endwith %}
        {% if supporting_pages %}
            <div id="supporting-articles"
                 class="tw-col-span-full medium:tw-col-span-6 large:tw-col-span-5">

                {% include "fragments/buyersguide/related_reading.html" with heading=supporting_pages_heading heading_level=3 heading_classes='tw-font-sans tw-text-base tw-leading-5 tw-uppercase tw-my-8' articles=supporting_pages %}

            </div>
        {% endif %}
    </div>
</div>
