{% load bg_nav_tags i18n static wagtailcore_tags wagtailroutablepage_tags %}
{% get_bg_home_page as home_page %}

<div class="d-md-none mt-0 mb-0 tw-bg-white" id="pni-nav-mobile">
    <div class="container">
        <div class="row px-3 px-sm-0">
            <div class="col-12 tw-border-0">
                <div class="dropdown-nav">
                    <div>
                        <button class="expander d-flex justify-content-between">
                            <div>
                                <div class="active-link-label d-inline-block multipage-link active">
                                    {% if current_category.parent %}
                                        {{ current_category.parent.name }}
                                    {% elif current_category %}
                                        {{ current_category.name }}
                                    {% else %}
                                        {% trans "All Categories" %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-inline-block align-self-center control"></div>
                        </button>
                    </div>
                    <div>
                        {% if pagetype == "product" or pagetype == "about" %}
                            <a class="multipage-link active" data-name="None" href="{% pageurl home_page %}">{% trans "All Categories" %}</a>
                        {% else %}
                            <a class="multipage-link {% if not category %} active{% endif %}" data-name="None" href="{% pageurl home_page %}">{% trans "All Categories" %}</a>
                        {% endif %}
                    </div>
                    {% for cat in categories %}
                        {% if cat.parent == None %}
                            {% if cat.is_being_used %}
                                {% routablepageurl home_page 'category-view' cat.slug as cat_url %}
                                <div>
                                    <a
                                        class="multipage-link {% check_active_category current_category cat %}{% if cat.featured is True %} featured{% endif %}"
                                        href="{{ cat_url }}"
                                        data-name="{{ cat.name }}"
                                    >
                                        {{ cat.name }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
