{% load wagtailcore_tags i18n static %}

<div class="buyersguide-newsletter-box tw-hidden tw-relative tw-py-12 tw-px-12 {{ rounded_class|default:"tw-rounded-lg" }} medium:tw-px-24 medium:tw-py-16 tw-bg-gradient-to-r tw-from-purple-05 tw-to-blue-05">
    <img class="tw-absolute tw-right-0 tw-top-0 tw-hidden large:tw-block"
         src="{% static "_images/buyers-guide/asterick.svg" %}"
         title="{% trans "*privacy not included" %}"
         alt="{% trans "*privacy not included" %}">
    <div class="join-us tw-bg-none" data-form-position="callout-box" data-form-style="pni" data-cta-header="{{ cta_header|default:_("Help shape the future of the web for the public good.") }}" data-cta-description="
        <p class='tw-mb-12'>
            {{ cta_description|default:_("Join our Mozilla News email list to get action alerts & internet tips right to your inbox.") }}
        </p>
        ">
    </div>
</div>
