{% load static i18n %}

<ul id="pni-creepiness"
    class=" tw-list-none tw-relative tw-cursor-pointer tw-m-0 tw-p-0 medium:tw-ml-4 tw-flex tw-items-center tw-min-w-[250px] ">
    <li role="button"
        id="pni-creepiness__selected"
        class="tw-w-full tw-flex tw-items-center tw-m-0 tw-pl-0 medium:tw-pl-6 tw-p-6"
        tabindex="0">
        <div id="pni-creepiness__selected-text"
             class="tw-flex tw-items-center tw-text-sm tw-font-bold tw-text-black tw-font-sans tw-mr-auto">
            <img src="{% static "_images/buyers-guide/cry-face.svg" %}"
                 class="tw-mr-4 tw-w-[20px]"/>
            {% trans "Creepiness: Least – Most" %}
        </div>
        <svg width="11"
             height="7"
             viewBox="0 0 11 7"
             fill="none"
             xmlns="http://www.w3.org/2000/svg"
             class="tw-ml-4 tw-origin-center tw-shrink-0">
            <title>{% trans "Open drop down" %}</title>
            <path d="M1 1L5.02504 5.02504L9.05007 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </li>
    <li aria-expanded="false"
        role="list"
        class="tw-absolute tw-top-0 tw-hidden tw-left-0 medium:tw-left-auto medium:tw-right-0 pni-creepiness__list-container tw-w-full medium:tw-w-max tw-z-50 tw-bg-white tw-border tw-border-gray-20 tw-py-2">
        <ul class="pni-creepiness__list tw-w-full tw-list-none tw-m-0 tw-p-0">
            <li class="pni-creepiness__list-item tw-p-6 tw-text-sm tw-font-bold tw-group tw-font-sans tw-flex tw-items-center"
                tabindex="0"
                id="option-1"
                data-value="ASCENDING">
                <div class="tw-pr-4 tw-w-full tw-flex tw-items-center tw-text-sm tw-font-bold tw-text-gray-40 group-hover:tw-text-black tw-font-sans tw-pointer-events-none">
                    <img src="{% static "_images/buyers-guide/cry-face.svg" %}"
                         class="tw-mr-4"/>
                    {% trans "Creepiness: Least – Most" %}
                </div>
                <svg width="11"
                     height="7"
                     viewBox="0 0 11 7"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     class="tw-ml-8 tw-rotate-180 tw-origin-center tw-pointer-events-none">
                    <title>{% trans "Close drop down" %}</title>
                    <path d="M1 1L5.02504 5.02504L9.05007 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </li>
            <li class="pni-creepiness__list-item tw-p-6 tw-text-sm tw-font-bold tw-group tw-font-sans tw-flex tw-items-center"
                tabindex="0"
                id="option-2"
                data-value="DESCENDING">
                <div class="tw-pr-4 tw-w-full tw-flex tw-items-center tw-text-sm tw-font-bold tw-text-gray-40 group-hover:tw-text-black tw-font-sans tw-pointer-events-none">
                    <img src="{% static "_images/buyers-guide/shock-face.svg" %}"
                         class="tw-mr-4"/>
                    {% trans "Creepiness: Most – Least" %}
                </div>
            </li>
            <li class="pni-creepiness__list-item tw-p-6 tw-text-sm tw-font-bold tw-group tw-font-sans tw-flex tw-items-center"
                tabindex="0"
                id="option-3"
                data-value="ALPHA">
                <div class="tw-pr-4 tw-w-full tw-flex tw-items-center tw-text-sm tw-font-bold tw-text-gray-40 group-hover:tw-text-black tw-font-sans tw-pointer-events-none mr-auto">
                    <img src="{% static "_images/buyers-guide/alpha-emoji.png" %}"
                         class="tw-mr-4"/>
                    {% trans "Alphabetical" %}
                </div>
            </li>
        </ul>
    </li>
</ul>
