{% extends "partials/primary_nav.html" %}

{% load bg_nav_tags i18n localization static %}


{% block nav_logo %}
  {% get_bg_home_page as home_page %}
  <div class="tw-flex tw-flex-col logo-section tw-mx-auto large:tw-mx-0">
    <p class="mb-0 tw-h3-heading tw-max-w-none flex-wrap">
      <a class="link-back tw-flex" href="{% relocalized_url home_page.url %}">
        <img
          class="tw-mr-1 tw-w-3 tw-h-3 large:tw-w-4 large:tw-h-4"
          src="{% static "_images/buyers-guide/asterick-mini.svg" %}"
        >
        <span class="tw-font-semibold tw-text-base tw-leading-4 large:tw-text-[32px] large:tw-leading-[28px]">{% trans "Privacy Not Included" context 'Buyer’s guide name. This can be localized. This is a reference to the “*batteries not included” mention on toys.' %}</span>
      </a>
    </p>
    <a href="/" class="moz-logo mb-0 mr-3 large:tw-mt-2 tw-ml-4 large:tw-ml-[20px]"><span class="sr-only">Mozilla</span></a>
  </div>
{% endblock %}

{% block narrow_screen_nav_links %}
{% get_bg_home_page as home_page %}
  <div>
    <a class="{% bg_active_nav request.get_full_path home_page.url %}" href="{% relocalized_url home_page.url %}">{% trans "Privacy Not Included" %}</a>
  </div>
{% include "fragments/buyersguide/pni_nav_links.html" with pre="<div class=\"tw-hidden large:tw-block\">" post="</div>" %}
{% endblock %}

{% block wide_screen_menu %}{% endblock %}

{% block donate_and_newsletter %}
<div class="d-flex align-items-center">
  {% include "fragments/buyersguide/pni_nav_links.html" with class="primary-nav-special-link tw-hidden large:tw-block" %}
  <a id="donate-header-btn" class="primary-nav-special-link tw-hidden large:tw-block" href="https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_campaign=fmonav&utm_content=header" target="_blank" rel="noopener noreferrer">{% trans "Donate" %}</a>
  {% if page.signup == None %}<button class="tw-btn-secondary btn-newsletter d-none d-lg-block ml-md-3">{% trans "Newsletter" %}</button>{% endif %}
  <button class="tw-bg-transparent">
    <img
      class="large:tw-hidden tw-w-5 tw-h-5"
      src="{% static "_images/buyers-guide/pni-search.svg" %}"
    >
  </button>
</div>
{% endblock %}
