{% load wagtailcore_tags wagtailimages_tags %}

<div class="related-product">
    <a class="tw-block {% if related_product.adult_content %} adult-content{% endif %}" href="{% pageurl related_product %}">
        <div class="img-container tw-p-12">
            {% image related_product.image width-600 as img %}
            <img
                class="product-thumbnail"
                width="600"
                loading="lazy"
                src="{{ img.url }}"
                alt=""
            >
        </div>
        <p class="tw-body-small mt-3 mb-1">{{ related_product.company }}</p>
        <p class="product-title">{{ related_product.title }}</p>
    </a>

    {% include "fragments/buyersguide/privacy_ding.html" with product=related_product %}
    {% include "fragments/buyersguide/adult_content_badge.html" with product=related_product %}
</div>
