<div id="pni-parallax-background" class="tw-absolute tw-hidden large:tw-flex tw-flex-col tw-justify-between tw-z-0 tw-top-0 tw-left-0 tw-w-full tw-overflow-hidden tw-h-[300vh]">
    <div class="tw-flex tw-w-full tw-justify-between tw-mt-[150px]">
        <div class="-tw-translate-x-1/3 tw-translate-y-1/3">
            <svg width="204" height="205" viewBox="0 0 204 205" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="102" cy="102.948" r="101" stroke="#FF4F5E" stroke-width="2"/>
            </svg>
        </div>

        <div class="tw-translate-x-1/3 -tw-translate-y-1/3">
            <svg class="pni-asterisk" width="223" height="219" viewBox="0 0 223 219" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M220.474 65.8689L140.533 111.431L220.474 155.642L200.821 186.25L126.3 137.968L129.692 217.543H92.4315L95.8234 138.652L21.9674 186.25L2.31445 155.642L82.2556 111.431L2.31445 65.8689L21.9674 35.2773L95.8234 84.9287L92.4315 1.94824H129.692L125.635 84.9116L200.838 35.2602L220.491 65.8689H220.474Z" stroke="#F6D561" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>

    <div class="tw-flex tw-w-full tw-justify-between">
        <div class="-tw-translate-x-1/3 tw-translate-y-6">
            <svg class="pni-asterisk" width="223" height="219" viewBox="0 0 223 219" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M220.474 65.8689L140.533 111.431L220.474 155.642L200.821 186.25L126.3 137.968L129.692 217.543H92.4315L95.8234 138.652L21.9674 186.25L2.31445 155.642L82.2556 111.431L2.31445 65.8689L21.9674 35.2773L95.8234 84.9287L92.4315 1.94824H129.692L125.635 84.9116L200.838 35.2602L220.491 65.8689H220.474Z" stroke="#F6D561" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>

        <div class="tw-translate-x-1/3 -tw-translate-y-6">
            <svg width="261" height="262" viewBox="0 0 261 262" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="-0.152335" y="-1.40599" width="190.999" height="175.994" transform="matrix(0.626825 -0.77916 -0.77916 -0.626825 138.023 259.542)" stroke="#595CF3" stroke-width="2"/>
            </svg>
        </div>
    </div>

    <div class="tw-flex tw-w-full tw-justify-between tw-mb-[150px]">
        <div class="-tw-translate-x-1/3 tw-translate-y-1/3">
            <svg class="pni-triangle" width="224" height="194" viewBox="0 0 224 194" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="" d="M2.43802 192.698L111.99 2.94825L221.542 192.698H2.43802Z" stroke="#8F14FB" stroke-width="2"/>
            </svg>
        </div>

        <div class="tw-translate-x-1/3 -tw-translate-y-1/3">
            <svg width="204" height="205" viewBox="0 0 204 205" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="102" cy="102.948" r="101" stroke="#FF4F5E" stroke-width="2"/>
            </svg>
        </div>

    </div>
</div>
